[2016-05-16 14:31] brandyscarney commented on #6534
This issue was moved to driftyco/ionic-platform-issues#100

[2016-05-16 14:31] #6534 closed

[2016-05-16 14:35] danbucholtz commented on #6527
Can you explain your issue a little more?  I am not seeing the issues with tabs here.

http://codepen.io/ionic/pen/odqCz

Thanks,
Dan

[2016-05-16 15:11] jgw96 commented on #6533
Hello! Thanks for opening an issue with us. In material design the floating label always takes the primary color of the app so that is why your floating label is blue and not taking the danger attribute. Thanks for using Ionic!

[2016-05-16 15:11] #6533 closed

[2016-05-16 15:18] jgw96 commented on #6536
Hello! Thanks for opening an issue with us! I am going to close this as a duplicate of https://github.com/driftyco/ionic/issues/5724 . Feel free to comment over on that issue. Thanks for using Ionic!

[2016-05-16 15:18] #6536 closed

[2016-05-16 15:19] jgw96 commented on #6535
Hello! Thanks for opening an issue with us! As this seems like more of a support question i will urge that you ask this question on our forum (forum.ionicframework.com). Thanks for using Ionic!

[2016-05-16 15:19] #6535 closed

[2016-05-16 15:25] jgw96 commented on #6538
Hey @harshabonthu ! Thanks for opening an issue with us. So one of the things we want to focus on in the near future is making sure our file-sizes are absolutely tiny. This would mean that your packaged up and ready to go application would not have any code that is not being used, like components that your not actually using. We are looking into using things like rollup (which the angular team is

[2016-05-16 15:25] #6538 closed

[2016-05-16 15:33] jgw96 commented on #6521
Hello! @cinkonaap ,im glad you were able to fix your transitions issue! Would you or @WHarris22 mind making a separate issue for the navigation issue that you all are experiencing? I am going to close this issue as the first issue, the ios transitions, was fixed. Thanks for using Ionic!

[2016-05-16 15:33] #6521 closed

[2016-05-16 15:51] adamdbradley commented on #5010
Added to the 2.0 branch and should be available in beta7: https://github.com/driftyco/ionic/commit/1e331c9ca079e9ec2d8a5cb672f40cbf07f9b473

[2016-05-16 16:02] WHarris22 opened #6542 "Ionic 2 (bug) - quickly tapping a button that uses NavPush will open page multiple times"
#### Short description of the problem:
When you quickly tap a button that uses the NavPush class i think it causes the child page to be pushed to the stack for each click which is why multiple instances get displayed.

#### What behavior are you expecting?
While the process of adding the page to the stack / displaying it is in progress subsequent button presses should be ignored instead of adding

[2016-05-16 16:09] Stephs15 commented on #2244
I am facing this same issu in android. Any solutions?

[2016-05-16 16:20] emps commented on #6527
i have provided http://codepen.io/emps/pen/bpJMEr?editors=1010

1)
whattodo: go to About tab and press Nav Tabs Stack and then go to Home tab
issue: Back button of About tab history stays with Home tab
cause: added ui-view inside Home tab (im using views inside the tab)

2)
whattodo: just look at the nav
issue: Home title isnt presented with Home Tab
cause: added ui-view inside Home tab (im using

[2016-05-16 16:27] mklilley commented on #6149
Hi,
Does anyone have any comment about this behaviour? It really seems like a bug because iOS doesn't display the same behaviour
Thanks
Matt

[2016-05-16 16:28] siyong commented on #4984
@jgw96, still getting the issue even on 1.3.1 .

changing ionic to 1.3.1 in @opensorceror 's codepen and it is not fixed.

[2016-05-16 17:26] mklilley commented on #5769
I have since upgraded to ionic 1.3.1 and still have the same issue.  Any thoughts?
Thanks,

Matt

[2016-05-16 17:46] mklilley opened #6543 "Ionic 1.3.1 + iOS ghost click"
On iOS 9.2.1 when I tap on an entry in the side menu which looks like this:

`<ion-item ng-repeat="item in menu.items" menu-close ui-sref="{{::item.sref}}" ui-sref-active="activated" > <h2>{{::item.title}}</h2> </ion-item>`

the keyboard automatically pops up. In the next view there is a the textarea at the same co-ordinates as the menu item just tapped. This behaviour is made more strange by the

[2016-05-16 18:34] leohuangyi commented on #5164
@jgw96 hi,if this issue will be fixed in the future? I want hide(or remove) <ion-navbar-section> in the <ion-tab> too, thank you .

[2016-05-16 19:00] alxvallejo commented on #4894
Yeah, +1 on this. The documentation isn't explaining the use of slider="data.slider". I was wanting to use ng-repeat for each slide. Not sure how to access the index, etc of the slider.

[2016-05-16 19:27] alextrs opened #6544 "bug: Ion-scroll double-scroll"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>1.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>After upgrade to Ionic 1.3.1 I start seeing weird behavior. I see two scrollbars for ion-scroll. If you click on ion-scroll content and pull, scroll behavior is the same (it scrolls and tiny scroll bar moves), but if you use touch pad / sc

[2016-05-16 21:38] frederikschubert commented on #5734
I would also like to run ionic in a web worker as it brings fairly big performance improvements. Is this planned for the final release of v2?

[2016-05-17 00:25] danieljin commented on #4998
@mlynch Why aren't the docs updated with these new styles?

[2016-05-17 00:30] danieljin commented on #4998
Also, isn't it strange that you didn't add border:transparent for when a button is active?

[Example](http://i.imgur.com/dSH21ir.png)

.button.active, .button.activated {
    border-color: #a2a2a2;
    background-color: #e5e5e5;
}

[2016-05-17 01:35] keithdmoore commented on #5010
@adamdbradley or @brandyscarney:  I know this is a dumb question but how do I reference the 1e331c9 commit in my package.json to upgrade to this version?  `ionic-angular: <???>`

[2016-05-17 02:18] chrisgriffith opened #6545 "ion-img not supporting [src]"
According to the documentation, this should work for a virtual scrolling list
<ion-img [src]="img/thumbs/{{park.image}}"></ion-img>

However, I either get a white screen with nothing noted in the console, or at times

Note: These logs are from trying to load a hardcoded image that was in the root www directory.

Error: Uncaught (in promise): Template parse errors:
Parser Error: Unexpected token 'p

[2016-05-17 02:20] dennyoon opened #6546 "bug: Navbar is overlapped to the status bar"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>mobile</span>  <span ionic-webview>webview</span>

<span ionic-description>The navbar is overlapped to the status bar when display in Ionic View.</span>

<span is-issue-template></span>

[2016-05-17 02:27] dennyoon commented on #6546
[Image attached](http://z58i.imgup.net/IMG_4977867a.png)

[2016-05-17 04:28] swaheed2 commented on #3750
Is this feature added ?

Can I do this?

My stack A->B->C

then I want to go to Z but not include it in the stack.

From Z, I will go back to C on a button click. Z should be completely removed from history and I should be back to A->B->C.

[2016-05-17 05:42] ckerwer commented on #6448
npm works now.
Thanks!

[2016-05-17 06:24] roocster opened #6547 "Ionic tabs with nested states navigation issue"
When navigate on the tab, the last visited nested view is displayed on it.
http://codepen.io/roocster/pen/pymeNL?editors=1010

**Steps to reproduce:**
1. Go to "Tab 2"
2. Go to "Substate 1"
3. Return to "Tab 1"
4. Go to "Tab 2"
Instead of the state "tabs.tab-2.main" ("**Tab 2. Main**" in view title) it goes to the previous visited state "tabs.tab-2.substate-1" ("**Tab 2. Substate 1**" in view titl

[2016-05-17 06:27] ChrisFuck commented on #6507
@jgw96  hi,first thanks for answering me.I run it on both Android and IOS.I have fix the problem,just because I write some code in ES6,and I change them to ES5,the problem have been solved.I am going to ask you if ionic support ES6 or not?It is a issue we gonna discuss.Thank you so much.

;D

[2016-05-17 06:35] ckerwer commented on #6448
... but ionic-framework 2.0.0-beta.6-201605132240 brings an error in nav-controller:
`node_modules/ionic-angular/components/nav/nav-controller.d.ts(1,52): Error TS2305: Module '"node_modules/angular2/core"' has no exported member 'ResolvedReflectiveProvider'`

I'm not shure if I should raise a issue for that?

[2016-05-17 07:15] emps commented on #6507
yes u can use babel for ionic 1, and ionic2 comes by default with es6..

[2016-05-17 07:23] ChrisFuck commented on #6507
@emps  thx guy. Do you also use the ionic and angular to create app?

[2016-05-17 07:25] ChrisFuck commented on #6507
@emps Thx guy.Nice to meet you.Do you also use the ionic and angular to create app or something else?

[2016-05-17 08:17] pantonis commented on #5101
+1 This is a core native ux on Android

[2016-05-17 09:08] hlehmann commented on #5101
+1 This feature is the most frequent request I receive from my users

[2016-05-17 09:16] mayconjcm commented on #5101
+1 Here this feature is the most frequent request too

[2016-05-17 10:49] speciose commented on #6547
Have similar issue with NavController. Mostly it works after second click only

[2016-05-17 11:13] Klaster1 commented on #6528
Same here, really annoying issue. I've digged into it, seems that the issue happens only with components and directives that have isolated scope. Due to that, `$ionicView` controller doesn't receive `$ionicView.afterEnter` event, so callback responsible for title update doesn't run.

[2016-05-17 11:44] johnnyoin commented on #4293
@jgw96 Yes this is still an issue.

[2016-05-17 12:05] Manduro commented on #6527
Confirmed here as well

[2016-05-17 12:52] lucasbeef commented on #6334
The events don't fire for me since 1.3.1
I had to revert back to 1.3.0 for it to work.

Anybody else experienced it ?

[2016-05-17 13:13] jpmsegurado commented on #6537
same issue here

[2016-05-17 14:15] jgw96 commented on #6537
Hello! Thanks for opening am issue with us! Would you mind telling me what version of Android your tab 3 is running? Do you get any errors when trying to run it?

[2016-05-17 14:18] jgw96 commented on #6448
@ckerwer Would you mind opening a separate issue for that?Thanks!

[2016-05-17 14:19] jgw96 commented on #4065
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-17 14:19] #4065 closed

[2016-05-17 14:20] jgw96 commented on #4266
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-17 14:20] #4266 closed

[2016-05-17 14:20] jgw96 commented on #4267
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-17 14:20] #4267 closed

[2016-05-17 14:21] jgw96 commented on #4285
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-17 14:21] #4285 closed

[2016-05-17 14:21] jgw96 commented on #4658
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-17 14:21] #4658 closed

[2016-05-17 14:22] jgw96 commented on #4813
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-17 14:22] #4813 closed

[2016-05-17 14:22] jgw96 commented on #4859
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-17 14:22] #4859 closed

[2016-05-17 14:22] jgw96 commented on #4871
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-17 14:22] #4871 closed

[2016-05-17 14:23] jgw96 commented on #4881
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-17 14:23] #4881 closed

[2016-05-17 14:23] jgw96 commented on #4937
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-17 14:23] #4937 closed

[2016-05-17 14:23] jgw96 commented on #4940
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-17 14:23] #4940 closed

[2016-05-17 14:24] jgw96 commented on #4974
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-17 14:24] #4974 closed

[2016-05-17 14:25] jgw96 commented on #6468
Hello! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-17 14:25] #6468 closed

[2016-05-17 14:25] jgw96 commented on #6469
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-17 14:25] #6469 closed

[2016-05-17 14:25] jgw96 commented on #6499
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-17 14:25] #6499 closed

[2016-05-17 14:56] jgw96 commented on #2968
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-05-17 14:58] jgw96 commented on #3372
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-05-17 15:12] jgw96 commented on #3791
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-17 15:12] #3791 closed

[2016-05-17 15:14] Tubishi opened #6548 "Issue with Open/Close Menu"
Hi :), I have a problem with my Menu on Android, when i want to catch the event "menu.isOpen" nothing appear. I will explain better, but before my code.

[code]
With iOS there is no problem, i have a good alternation between true and false, but on Android, i have always the same boolean, do you have any ideas ? Thanks for your answer.

Ionic2 Beta6

Cordova CLI: 6.1.1
Gulp version:  CLI version 3.

[2016-05-17 15:19] #4678 closed

[2016-05-17 15:19] jgw96 commented on #4770
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-05-17 15:22] jgw96 commented on #4896
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-17 15:22] #4896 closed

[2016-05-17 15:23] jgw96 commented on #4935
Hello! Thanks for opening an issue with us! As this seems like more of a support question i will urge that you ask this question on our forum (forum.ionicframework.com). Thanks for using Ionic!

[2016-05-17 15:23] #4935 closed

[2016-05-17 15:26] talamaska commented on #4896
@jgw96 Can you confirm it was fixed?

[2016-05-17 15:27] talamaska commented on #4896
Cordova CLI: 6.0.0
Gulp version:  CLI version 3.9.0
Gulp local:   Local version 3.9.0
Ionic CLI Version: 1.7.12
Ionic App Lib Version: 0.6.5
OS: Windows 8.1
Node Version: v4.2.3

[2016-05-17 15:29] jgw96 commented on #4896
Hello! Unfortunately i am not able to reproduce this issue, can you still reproduce it? Thanks for getting back to me by the way (:

[2016-05-17 15:31] jgw96 commented on #6513
Hello @MattDHill ! Thanks for opening an issue with us! I can reproduce this issue on my devices.

[2016-05-17 15:38] talamaska commented on #4896
I'm not able to test this right now. All i can tell is that I have one view the login screen which is set like this
```<ion-view view-title="Login" hide-nav-bar="true" >```

[2016-05-17 15:47] jgw96 commented on #4896
@talamaska ok, thanks for the info! If you get a chance and can make a plunker or git repo that i can use to reproduce this issue that would be great! (: Thanks for using Ionic!

[2016-05-17 16:24] rdesimone commented on #6372
@brandyscarney I would like to come back on my question from above. Is is possible to control somehow the tab change with setRoot. Selecting an ion-tab will not automatically change the tab. The change will happen when setRoot is called. This is related to #5101. Thanks a lot for your help!

[2016-05-17 16:28] jgw96 commented on #6548
Hello! Thanks for opening an issue with us! Would you mind making a plunker that i can use to reproduce this issue? Thanks!

[2016-05-17 16:32] threezj opened #6549 "Error: Cannot find module 'config-chain'"
when use `ionic platform add android`

ionic info

Ionic Version: 1.3.1
Ionic CLI Version: 1.7.14
Ionic App Lib Version: 0.7.0
OS:
Node Version: v4.4.4

I use window 10

[2016-05-17 16:32] wggley commented on #4658
The problem persists, but I can't provide a codepen right now.
It's simple, if you grab my HTML at first post and put inside a modal template and try to open it on ios9 the problems related happens.

[2016-05-17 16:33] wggley commented on #4658
The bug is not related to third party datepicker, it happens with simple HTML5 input date

[2016-05-17 17:04] Tubishi commented on #6548
I don't find the good way to show you http://plnkr.co/edit/Xj31MjTtTDphPYOsZYn9?p=preview, it's just a menu and when i Open/Close i put a console.log, with menu.isOpen, and with an Iphone i have false/true/false/true etc.... but Android just False/ False/ False/ etc....

[2016-05-17 17:25] felipelvira commented on #6490
Hi, i'm facing the same bug on iOS.
System information:

Cordova CLI: 6.0.0
Gulp version:  CLI version 1.2.1
Gulp local:   Local version 3.9.1
Ionic Framework Version: 1.3.0
Ionic CLI Version: 2.0.0-beta.25
Ionic App Lib Version: 2.0.0-beta.15
ios-deploy version: Not installed
ios-sim version: 5.0.6
OS: Mac OS X El Capitan
Node Version: v5.11.0
Xcode version: Xcode 7.3 Build version 7D175

[2016-05-17 17:58] AlexChesser commented on #6490
One thing I've found @felipelvira is that the incidence of occurrence greatly reduced then I eliminated ng-model from the input element (while leaving ng-model on the select)

In order to make sure I still got the behaviour I needed in the APP I changed the logic of the ng-blur to also set the variable I needed in the background.

I think the problem could exist at the ionic or the angular level,

[2016-05-17 18:08] emps opened #6550 "$ionicSlides.slideChangeEnd fires one time by fast swiping"
by swiping fast between slides, $ionicSlides.slideChangeEnd fires as u finish swiping and not for every slide.. it works ok if u swipe slower

ionic 1.3.x

as i see problem comes from Swiper
any way i found a solution listening to
vm.swiper.on('onSlidePrevStart', () => {
and
vm.swiper.on('onSlideNextStart', () => {

works with fast swiping

so maybe $ionicSlides.slideChangeEnd can be modified to w

[2016-05-17 19:03] jgw96 commented on #6549
Hello! Thanks for opening an issue with us! As this issue is more related to the ionic-cli and not the framework i will be moving this issue to that repo. Thanks for using Ionic!

[2016-05-17 19:04] jgw96 commented on #6549
This issue was moved to driftyco/ionic-cli#1007

[2016-05-17 19:04] #6549 closed

[2016-05-17 19:07] ivaylopivanov commented on #6537
Using the chrome remote debugging I was able to see the error which is the same as #4296

[2016-05-17 19:10] ivaylopivanov commented on #6537
The version of the Android on the tab is 4.2.2. The error is the same when I use the emulators.

[2016-05-17 19:20] jgw96 commented on #6537
@ivaylopivanov Thanks for the info! First, are you using any external libraries that your linking to from a cdn ? Also, while we do support Android all the way back to 4.1, ionic 2 requires that you use Crosswalk if you plan on supporting android devices running versions older than 4.4. So official support is Android N back to 4.4, no crosswalk required, 4.3 back to 4.1 with crosswalk. So, if you

[2016-05-17 19:28] gynekolog commented on #3131
@mushopea
You must specified method:
var alertPopupA = SecuredPopups.show(**'alert',** {
 title: 'AAA',
 template: 'AAA'
});

[2016-05-17 19:29] ivaylopivanov commented on #6537
@jgw96 Thanks for your fast reply, but that doesn't resolve the problem as I tried it to a newer version. However, [this](http://stackoverflow.com/questions/12319809/application-error-the-connection-to-the-server-was-unsuccessful-file-andr) does. Basically, put the following into `config.xml`

`<preference name="loadUrlTimeoutValue" value="700000" />`

[2016-05-17 19:29] #6537 closed

[2016-05-17 20:01] frendopawlu opened #6552 "router LocationStrategy 'harcoded' within bootsrap.ts"
#### Short description of the problem:

Ideally the `LocationStrategy` is configurable as this will be 'hacky' to override from application level.

What do you think?

#### What behavior are you expecting?

That LocationStrategy is configurable pre-bootstrap.

**Steps to reproduce:**
1. Cannot reproduce as this is a suggestion and cannot really replicate it
2.
3.

[2016-05-17 21:23] skrpc commented on #4925
I downloaded ionic 1.3.1 to try this and there appears to be another issue first.

My initial page is accessed from tab index 2 so I want that tab to be the default selected highlighted tab, I also access pages dynamically and need to make sure the correct tab is highlighted so I added the generic handler in a service

    $rootScope.$on(
      '$ionicView.enter',
      function(event, viewConfig)

[2016-05-17 22:16] DavidWiesner commented on #6239
:+1: adding `ion-item-sliding{width:100%}` work for me

http://plnkr.co/edit/JfTCK8a2TVEHUZyLcd5F?p=preview

[2016-05-17 22:58] jaruesink commented on #6458
Yes please please get this in!

[2016-05-18 00:51] jdnichollsc commented on #6334
Now works for me, thanks Sir @danbucholtz! :dancers:
Link updated: http://codepen.io/jdnichollsc/full/VaGgVm/

[2016-05-18 01:33] Mobius77x opened #6554 "Android and Windows Platform Nav/Toolbar Title Alignment V2"
V2

For Android and Windows platforms the Title of modals and pages is either too far left or right aligned (I am expecting/wanting it to be centered)

![image](https://cloud.githubusercontent.com/assets/17939161/15344659/11873c96-1cdb-11e6-9c82-c685864410ca.png)

![image](https://cloud.githubusercontent.com/assets/17939161/15344670/28ec4886-1cdb-11e6-921f-934aa8e71188.png)

Fixing is not as simpl

[2016-05-18 02:57] gluttonman commented on #5873
@chen1203  it is because that chrome broswer not support  cookies that load local file. the app fix on device is like the broswer load local file, so the cookies is disable.

[2016-05-18 03:44] danbucholtz commented on #4925
@skrpc, can you make a codepen showing the issue?  In 1.3.1, we made significant changes to the way the life cycle events are dispatched.  We wrote several thousand lines of automated tests to verify the changes, so we must have missed a test case.  [See changes here](https://github.com/driftyco/ionic/commit/d63733350b73c0084f99fe285dda96f0204b2cd7#diff-82d6d3da2a7bb1d17947d4e25aa93923).

Thanks,

[2016-05-18 05:53] rdesimone opened #6555 "feat: Improve Build Process"
**Type**: <span ionic-type>feat</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>The build process should be changed/optimized and documented:

What is needed:

1. Smaller JS package to significantly improve start time of Ionic.
2. Remove TypeScript compilation from build - the compilation step should happen in the ID

[2016-05-18 06:02] ryanlin1986 opened #6556 "Ionic v2 should have a way to control hardware backButton"
#### Short description of the problem:
In ionic v1, we can use following code to prevent backButton from closing app:
$ionicPlatform.registerBackButtonAction(function (e) {
    //Prevent the hardware backButton from closing the app
    e.preventDefault();
    return false;
});

In v2, there is no way to do this, return false doesn't prevent from closing.
platform.backButton.subscribe(function(){

[2016-05-18 06:36] dheran commented on #6499
:-)

[2016-05-18 06:56] ryanlin1986 opened #6557 "ionic v2, when there is loading present, hardware backButton should not pop current view"
I think it's better to give the loading an option to set how to process when hardware backButton pressed, can be dismiss the loading, do nothing, or dismiss the loading and pop current view.

[2016-05-18 07:12] ryanlin1986 commented on #5556
onPageWillEnter will not fire if pop to the page

[2016-05-18 07:26] windwp commented on #6281
same issue on android browser :+1:

[2016-05-18 07:34] wouterDumon commented on #6428
Are there already any updates on this?

[2016-05-18 07:41] ryanlin1986 opened #6558 "ionic v2, should add a global config setting to add arrow-right on item globally"
<button ion-item>
</button>
In android， there is no arrow-right icon on right, and in iOS there is, what if I want android also have arrow-right in android globally? A lot of customers feels it's unconfortable without arrow-right.
I know I can add <ion-icon name="arrow-right"> manually, but I'd like to set it globally.

[2016-05-18 07:45] ramoncarreras commented on #6475
Thanks to @brandyscarney 's comment I think that I found a workaround:
https://forum.ionicframework.com/t/how-to-remove-space-at-the-top-of-navbar/44194/7?u=ramon

[2016-05-18 07:49] fengsong97 commented on #3609
+1

[2016-05-18 08:18] gregor-srdic commented on #5408
I have the same problem I believe. I have implemented a mechanism that refreshes the entire application data (from rest service) if the SignalR connections has been terminated and re-established.
When this occurs, future changes in the $scope variables are not visible on the screen, until I go back to main screen, to another controller, back to main, and then back to the first one (this time contr

[2016-05-18 08:45] shyamal890 commented on #6529
@danbucholtz Can you please have a look at this bug.

[2016-05-18 08:52] neslinesli93 commented on #4772
Same issue here, happening only on my device, which is equipped with Android Kitkat.
Unfortunately I only have kitkat devices with me, so I can't test with Android 5/6

[2016-05-18 09:13] neslinesli93 commented on #4928
I use android kitkat and I can reproduce the issue

[2016-05-18 09:41] sugir93 commented on #3131
but am calling the ionic popup using normal js.
so is how to call ur SecuredPopups outside the angular service.

thanks in advance

[2016-05-18 10:00] gynekolog commented on #3131
Create factory like @sharvit, paste SecuredPopups in your controller definition and create $scope.popup there.
[code]

Now you can call $scope.alertPopupA(); in controller or ng-click="alertPopupA()" in template.

[2016-05-18 10:05] boboxiaodd commented on #6405
I also found this issue, and when side menu opened, main page content can scroll up and down, I think this is not a good experience

[2016-05-18 10:07] sugir93 commented on #3131
tanks for ur help :+1:

[2016-05-18 10:21] ryanlin1986 opened #6559 "bug: refresher in v2 behavior error"
Having a custom container(not ion-list) in ion-content with vertical scroll, when I try to scroll down, it always trigger refresher pull to refresh even if vertical scroll offset of my custom container is not zero.

[2016-05-18 10:40] ryanlin1986 opened #6560 "ionic v2: <ion-col> should support width-fill"
It's very common to have column to fill the remaining space.

[2016-05-18 12:18] gregor-srdic commented on #5408
I was using Ionic 1.3.0, upgrade to 1.3.1 solved the issue with view events not being fired.
Additionally it seems that by executing clearCache method in $timeout after 1000 ms of afterLeave event, does clear the previous view (300 is too little in my experience).
My problem is that I want to remain on the same view, only rebind the $scope variable (updated in the background) to the view, but that

[2016-05-18 12:58] lucasbeef commented on #6334
@danbucholtz Well, it's a mystery for me, I have basically the same code as in the codepen jdnichollsc provided. It works on 1.3.0 but not on 1.3.1.

I have no exception, nothing in the console either. The events simply don't trigger.
I'd like to give you more intel, but I don't know where to look

[2016-05-18 13:02] DavidWiesner commented on #6104
Same issues on beta6 with iOS 9.3.2. With ~1600 items. When I try to scroll them list items will blanked and then my app crashed with `Terminated due to memory error.`

[2016-05-18 13:36] gabrielbazan7 commented on #5557
This feature is working ?

[2016-05-18 13:44] dheran opened #6561 "Feature: nav.pop() callback in parent page like onDismiss in Modal"
**Ionic 2**

Please provide option for nav.pop() callback with arguments in parent page like onDismiss in Modal

[2016-05-18 13:52] jgw96 commented on #6555
Hello! Thanks for opening an issue with us! As this discussion is about our build process, which is handled by our CLI, I am going to move this issue to the CLI repo. Thanks for using Ionic!

[2016-05-18 13:53] jgw96 commented on #6555
This issue was moved to driftyco/ionic-cli#1010

[2016-05-18 13:53] #6555 closed

[2016-05-18 13:59] adamdbradley commented on #5692
Thanks for the report, should be fixed in the next release.

[2016-05-18 13:59] #5692 closed

[2016-05-18 14:03] awebdeveloper commented on #5748
hi @jgw96 sorry for late reply.. looks like it's not entirely a ionic issue but may be with the way i have implemented it. I will share you the url and the login details if you could look into this.

Or Atleast suggest me way to debug it

[2016-05-18 14:08] jgw96 commented on #6557
Hello! Thanks for opening an issue with us! We are planning on allowing users the option to customize the functionality of the back button, so look forward to that in a future release! Thanks for using Ionic!

[2016-05-18 14:08] #6557 closed

[2016-05-18 14:11] gvhuyssteen opened #6562 "Bug: Unable to pre-select last option in select"
Here is the Codepen:

http://codepen.io/dagert/pen/JXqVEz

On the Codepen you will find two select boxes.
One with the second last option pre-selected and another one with the last option pre-selected.

The issue is that I cannot pre-select the last option in the drop down box.

Ionic version:
1.3.0
//code.ionicframework.com/nightly/js/ionic.bundle.js  (In Codepen)

[2016-05-18 14:12] jgw96 commented on #6281
Hello @windwp! Ionic 2 does not currently support the Android browser, although we do support chrome for Android. The date pipe uses the internationalization API which is not supported in older browsers such as the Android browser. Sorry for any hassle that causes you, and thanks for using Ionic!

[2016-05-18 14:13] adamdbradley commented on #5334
Looks like this may have already been solved. If you're still having any issues please feel free create a new issue with a few examples, thanks.

[2016-05-18 14:13] #5334 closed

[2016-05-18 14:18] dheran commented on #5915
@adamdbradley will navcontroller or ionic will also be deprecated. actually two terms for same job, confusing a lot.

Will beta 7 release will include the changes you mentioned above?

[2016-05-18 14:25] dheran commented on #6281
Will it be fixed or it should be handled by developer?

[2016-05-18 14:30] dheran opened #6563 "Update to new Angular 2 Router"
**Ionic 2**

Update ionic to new Angular 2 Router

[2016-05-18 14:33] jgw96 commented on #6281
Hey @dheran! The date pipe is actually built into Angular 2, so there's not much we can do on the Ionic end of things for it. As I stated before, we do require crosswalk for support of Android devices older than 4.4, and that does fix the date pipe issue for those versions of Android, but I'm not sure we will ever be able to support the Android browser, as it just does not have the html5 and JavaS

[2016-05-18 14:37] jgw96 commented on #5748
Hey, no problem! Actually, if you could just create a minimal example in a plunker or codepen demonstrating the issue then that would be great! Minimal examples are much easier to debug than a full blown app.

[2016-05-18 14:41] adamdbradley commented on #6563
This will still be a work in progress as the new new Angular 2 router still has some holes that does not allow us to update yet. The next release will not be integrated with the ng2 router yet, and we're working with the Angular team to solve this.

[2016-05-18 14:41] jgw96 commented on #5915
Hey @dheran! Sorry for the confusion, nothing in Ionic 2 is being deprecated. The original router the angular 2 team built is now deprecated and they are working a new angular 2 router. Our integration of this new router into Ionic 2 is not ready yet and will not make it to the beta.7 release. Thanks for using Ionic!

[2016-05-18 14:43] adamdbradley opened #6564 "Remove "ionic" module alias"
Originally our module was just "ionic", then "ionic-framework", and now we've settled on "ionic-angular". During that time we aliased it so just "ionic" would work. To remove any confusion and additional configuration code, we should remove any aliases and just go straight to "ionic-angular" from now on.

https://github.com/driftyco/ionic/blob/2.0/scripts/karma/system.config.js#L4

https://github.

[2016-05-18 15:25] ghprod commented on #5071
any update?

[2016-05-18 15:33] jdnichollsc commented on #6334
What is your codepen link? To review your code :)

[2016-05-18 15:57] Alexintosh commented on #2921
I've recently found this issue on Ionic version: 1.3.1  (released 2016-05-12), it show up only on ios 9.1 on iphone 6 plus and Fairphone 1 with Android 4.4.4

[2016-05-18 16:10] thomascrown opened #6567 "Issue with VirtualScroll and Images Popping In and Out"
Implemented a simple VirtualScroll setup:

In my home.html:

[code]
And in home.ts I create the list like this:

[code]

**First Problem:**
When the page loads, all the images are initially blank. They don't load until you start scrolling. Shouldn't the default behaviour be that it displays the first set?

**Second Problem:**
Once you start scrolling, and images have loaded, scrolling back up over

[2016-05-18 16:40] brandyscarney commented on #5071
There is a separate issue open for controlling the behavior of the back button: https://github.com/driftyco/ionic/issues/6556

If you have any feedback for controlling the behavior please place it on that issue. If you believe there is a bug with the current implementation please create a new issue. Thanks!

[2016-05-18 17:19] brandyscarney opened #6568 "Prepend ion to every custom event emitted"
Right now we are using the same names as native events. This is causing issues with event bubbling and we think it is confusing that we don't differentiate between what a native event is and what our custom events are. Also, there are times we override the native events which isn't good.

We're going to rename all custom events so they begin with `ion`, so where we have:

`<ion-tabs (change)="onCh

[2016-05-18 17:23] brandyscarney commented on #5827
So this is actually being caused by the input's `change` event bubbling up and the tab's `change` event catching it. After discussing this, we are going to rename all of the Ionic custom events to prepend `ion` to them. I created a new issue which will fix this issue, as well. I am going to close this issue to fix as part of #6568. Thank you for the issue!

[2016-05-18 17:23] #5827 closed

[2016-05-18 17:36] brandyscarney commented on #5927
As a temporary work around, you can set the `category` on the button so it will always take on a specific role. For example,

[code]

[2016-05-18 18:14] #5423 closed

[2016-05-18 18:18] adamdbradley commented on #5640
This should have been recently fixed in this commit: https://github.com/driftyco/ionic/commit/daa4ccc30cddc5739baa91694a7ba548f769979b

https://github.com/driftyco/ionic/issues/5692

Thanks

[2016-05-18 18:18] #5640 closed

[2016-05-18 18:19] mlynch opened #6569 "Activator: cannot read property 'x' of null"
Try out the Horizon chat demo and page 1. When clicking (in chrome) the "Post" button, this error is thrown, and then on a second click the submit goes through:

<img width="1166" alt="screenshot 2016-05-18 13 18 40" src="https://cloud.githubusercontent.com/assets/11214/15370129/0da138dc-1cfb-11e6-8a06-4edbc36af360.png">

This is my page and form code:

https://github.com/driftyco/ionic-horizon-ch

[2016-05-18 18:21] adamdbradley commented on #6569
Gahh, my guess it has something to do with `(submit)` and the event not having a location. on it...

[2016-05-18 18:31] dtruel commented on #4124
@thiagofelix Your fix worked for me.  Thanks for posting it, it's been very frustrating trying to figure this one out.

[2016-05-18 18:35] awebdeveloper commented on #5748
sure. Looks like cards with overflow in body cause issue. I will share a plunkr soon

[2016-05-18 18:37] arlowhite commented on #5927
@brandyscarney The category trick didn't work for me, it still gets the **button** class.
I also tried **[class.button]="false"**, but that didn't work either.

[code]

Is there a way to remove a category as a quick fix? As in remove the regular button category?
Otherwise, I can just override it with CSS for now.

[2016-05-18 19:09] zakton5 opened #6570 "ion-input with type="number" does not set model property as a number"
#### Short description of the problem:
An ion-input of type="number" tied to a property via ngModel sets the model as text. For example, if I type 1234 in the number input, the model property is set to "1234".

#### What behavior are you expecting?
When I type 1234 into the number input, I expect my model property to have a value of 1234, NOT "1234".

[code]

**Other information:** (e.g. stacktrac

[2016-05-18 19:11] gvhuyssteen opened #6571 "Bug: $ionicView.beforeEnter is not triggering"
Here is my Codepen

http://codepen.io/dagert/pen/MyMgwL

When the page loads, $ionicView.beforeEnter should be triggered.
In the **1.3.1** version of Ionic, this is not the case.

In the Codepen, I expect that the title variable to be changed in the view.

[2016-05-18 19:16] danbucholtz commented on #6571
Hi @gvhuyssteen 😄 ,

Life Cycle Events are driven [by navigation](http://ionicframework.com/docs/api/directive/ionView/), and your sample isn't using ui-router.  I agree this is a little confusing and something that could be documented better.

Please let me know if you have any questions.  In the meantime, I am going to close this issue.

Thanks,
Dan

[2016-05-18 19:16] #6571 closed

[2016-05-18 19:28] gvhuyssteen commented on #6571
I upgraded my Ionic from v1.3.0 to v1.3.1 and that is the first thing that broke.
I'm investigating further.

Thank you.

[2016-05-18 19:33] shyamal890 commented on #6527
@emps @danbucholtz  Add https://github.com/driftyco/ionic/issues/6529 too, to the list of **Tab Bugs**

[2016-05-18 19:44] danbucholtz commented on #6529
Hi @shyamal890, yes, we'll look at it soon.

Thanks,
Dan

[2016-05-18 21:34] kby799 commented on #2562
is there any solution to this? I got this error after I added ion-option-button  and occurred whenever I slided an item that I wanted to delete.

[2016-05-18 22:02] skrpc commented on #4925
[http://codepen.io/skrpc/pen/MyMWRv]http://codepen.io/skrpc/pen/MyMWRv

It looks a bit messy but basically I had a whole world of issues with ionic when using views that required targeting absolute views (i.e. ???@app) as my full app also uses side menus and this is where I got to so my code would work.

I found I have to navigate by always going through my own changePage() function and no longer

[2016-05-18 23:25] iwan-uschka commented on #4645
I had problems with

`$ionicConfigProvider.scrolling.jsScrolling(true);`

with iframes in my scrollable content (e.g. youtube embed player). If user starts scrolling by tapping on iframe, it doesn't work. With

`$ionicConfigProvider.scrolling.jsScrolling(false);`

it works. The user can tap everywhere to start scrolling.
So JS-Scrolling is no option if you have iframes embedded in your content.

[2016-05-19 00:04] windwp commented on #6281
Don't worry about it
Now i create a custom pipe use momentjs for display date.
@dheran

[2016-05-19 02:00] maxtuzz commented on #6458
Looking forward to this!! :+1:

[2016-05-19 03:46] juanfernandoe opened #6573 "Ionic v2 custom input inside ion-item"
Hi,

My custom input work well but when i put it in this structure it don't appears.

<ion-item>
<ion-label floating>Search</ion-label>
<itx-tokenfield name="cities"></itx-tokenfield>
</ion-item>

this is my component code

import {Component, Input} from 'angular2/core';
//import {IONIC_DIRECTIVES} from 'ionic-angular';

TokenField.ts
@Component({
    selector: 'itx-tokenfield',
    //directives:

[2016-05-19 03:48] juanfernandoe commented on #6573
Cordova CLI: 6.1.1
Gulp version:  CLI version 3.9.0
Gulp local:   Local version 3.9.1
Ionic Framework Version: 2.0.0-beta.6
Ionic CLI Version: 2.0.0-beta.25
Ionic App Lib Version: 2.0.0-beta.15
ios-deploy version: 1.8.3
ios-sim version: 5.0.4
OS: Mac OS X El Capitan
Node Version: v6.0.0
Xcode version: Xcode 7.2.1 Build version 7C1002

[2016-05-19 04:44] jgw96 commented on #6573
Hello! Thanks for opening an issue with us! As this seems like more of a support question i will urge that you ask this question on our forum (forum.ionicframework.com). There are a ton of awesome devs on there that will be able to help you! Thanks for using Ionic!

[2016-05-19 04:44] #6573 closed

[2016-05-19 05:56] mnasyrov opened #6574 "Hardware back button does not close tab's pages and modals."
#### Short description of the problem:

The current implementation of a hardware back button (ionic2, beta.6) does not take into account a case when an active tab has its own non-empty ViewController (an opened page, modal or alert). In this case an application is closed after pressing the back button.

#### What behavior are you expecting?

When a hardware button is pressed then an active item mu

[2016-05-19 05:57] mnasyrov commented on #5071
Created #6574 about closing tab's pages and modals.

[2016-05-19 06:06] mandiplimitlines commented on #1786
Hello Guys,

I am facing double border issue in ionic app and i am using

http://drifty.com/
Ionic, v1.0.0-beta.13

Please help if any one solve this problem with this ionic version

thanks

[2016-05-19 06:51] sfwxp945 commented on #1353
@amrography Thanks,i just add `ng-if="news.length"` and it works!

[2016-05-19 07:38] CarlosAdrianM opened #6575 "ion-content inside ion-segment"
#### Short description of the problem:
The ion-content is hidden when used inside an ion-segment.
You can see in that Codepen that when you click "Two", you cannot see the list inside the ion-content: http://codepen.io/Carlos_Adrian/pen/ONYEMQ

#### What behavior are you expecting?
The ion-content shoud be visible as when it is used outside an ion-segment. It you remove the ion-segment from the Co

[2016-05-19 07:47] emps commented on #6527
good morning is there fix comming for this issue ?

[2016-05-19 08:03] praycis-lee commented on #6558
...

[2016-05-19 08:03] praycis-lee commented on #6558
whats meaning

[2016-05-19 08:19] zabojnik opened #6576 "feat: Ionic serve cordova plugins browser support"
**Type**: <span ionic-type>feat</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>desktop</span>  <span ionic-webview>browser</span>

<span ionic-description>Ionic serve is an astonishing way for a rapid app development. But its benefits are seriously limited when relying on cordova plugins which do have browser support (e.g. facebook login, google maps)

[2016-05-19 09:16] daviddk commented on #5724
Also looking into the same functionallity, as it could mimic the look, behaviour and feel of the native iOs select boxes.

[2016-05-19 09:17] herman1vdb commented on #6490
Hi
I have the same issue I created this [stackoverflow](http://stackoverflow.com/q/37274284/3325104) post. As far as I can tell it is due to the events with `ng-untouched` being replaced with `ng-touched` since after it has been replaced the select works fine

[2016-05-19 09:41] didlich opened #6577 "$ionicView.beforeEnter is not fired"
after the update from
ionic 1.3.0 to 1.3.1
the $ionicView.beforeEnter is not fired any more as before

I have this controller:
[code]

in version 1.3.0 the activate() method is called as expected
in version 1.3.1 the activate() method is not called

the fix is to roll back to version 1.3.0

[2016-05-19 11:01] gvhuyssteen commented on #6562
**Bump**

[2016-05-19 11:14] dylanvdmerwe commented on #6575
Why not have hidden divs that swap depending on the selected segment rather than changing the `ion-content`?

[2016-05-19 11:18] DawidMyslak commented on #4645
Do not use `$ionicConfigProvider.scrolling.jsScrolling(true);`, it will turn off native scrolling in your app, which will affect the performance:
http://ionicframework.com/docs/nightly/api/provider/$ionicConfigProvider/

**What you really have to do is to make sure that your keyboard plugin is properly installed.**

Open your `app.js` file and somewhere in the "run" function you should have the fo

[2016-05-19 11:48] CarlosAdrianM commented on #6575
It is because of the floating action button (FAB). Take a look here: [https://forum.ionicframework.com/t/floating-action-button/38599/11](url)

[2016-05-19 11:59] Hesesses commented on #6375
I was going to report this also as a bug, but when you set the background to white for example, then its working as it should

[2016-05-19 14:39] jgw96 commented on #6576
Hello! Thanks for opening an issue with us! As this issue is more related to the cli than the framework i will be moving this issue over to that repo. Thanks for using ionic!

[2016-05-19 14:40] jgw96 commented on #6576
This issue was moved to driftyco/ionic-cli#1012

[2016-05-19 14:40] #6576 closed

[2016-05-19 14:48] danbucholtz commented on #6550
Hi @emps,

I'll check it out.

Thanks,
Dan

[2016-05-19 14:48] jgw96 commented on #6577
Hello! Thanks for opening an issue with us! Would you mind making a plunker demonstrating this issue please? That would be a huge help!

[2016-05-19 14:48] danbucholtz commented on #6527
Hi @emps,

Yes, I'll take a look at this.

Thanks,
Dan

[2016-05-19 14:57] jgw96 commented on #6575
Hello @CarlosAdrianM ! Thanks for opening an issue with us. [Here](http://codepen.io/anon/pen/eZwgBd) is a codepen that i made that fixed the issues with your codepen. First, you needed to wrap your whole template with `<ion-content>` and secondly you needed to remove the `<ion-content>` from around the list. Once this was done everything seems to be working fine (: If you have any more issues ple

[2016-05-19 14:57] #6575 closed

[2016-05-19 15:10] NoNameProvided opened #6578 "Recent Ionic versions are not published to npm"
#### Short description of the problem:

Recent versions of the ionic-sdk are not published to npm.

#### What behavior are you expecting?

The latest versions could be installed through npm.

**Steps to reproduce:**
1. Go to https://github.com/driftyco/ionic/releases and see the latest version is _1.3.1_
2. Type in your cmd `npm info ionic-sdk` and see the latest published version is _1.2.4_

**Wh

[2016-05-19 15:14] jgw96 commented on #6578
Hello! Thanks for opening an issue with us! Ionic is now released through this npm package https://www.npmjs.com/package/ionic-angular . Sorry for the confusion!

[2016-05-19 15:14] #6578 closed

[2016-05-19 15:22] Tubishi opened #6579 "Swipe And Scroll at the same time on ion-item"
Hi, I have a problem when i want to swipe and scroll. It's not possible to scroll when i have (swipe) in object. Something like that :

[code]

Any solution to keep the scroll even if i have a swipe on my item ?
Thank you

Ionic Version2

Cordova CLI: 6.1.1
Gulp version:  CLI version 3.9.0
Gulp local:   Local version 3.9.1
Ionic Framework Version: 2.0.0-beta.6
Ionic CLI Version: 2.0.0-beta.25
Ioni

[2016-05-19 15:25] NoNameProvided commented on #6578
Maybe renaming the package is a good idea then in the [package.json](https://github.com/driftyco/ionic/blob/master/package.json#L2 ).

Is there any difference between [ionic-angular package](https://www.npmjs.com/package/ionic-angular) and the [ionic-framework packages](https://www.npmjs.com/package/ionic-framework)? Both of them point to _driftyco/ionic_.

[2016-05-19 15:33] jgw96 commented on #6578
Yep, the ionic-framework packages are for the older releases before we switched to ionic-angular.

[2016-05-19 15:41] NoNameProvided commented on #6578
Thanks for the clarification but I am still confused. What I want is to install the 1.3.4 version of ionic. But none of the packages mentioned above have this version. The _ionic-framework_ packages goes from `2.0.0-alpha.0` to `2.0.0-beta.2`, the _ionic-angular_ package goes from `2.0.0.beta.1` to `2.0.0.beta.7` and the _ionic-sdk_ packages goes from `1.0` to `1.2.4`. So which package can I insta

[2016-05-19 15:43] CarlosAdrianM commented on #6575
Thanks @jgw96 , I am sure I am doing something wrong :) But in your codepen, the FAB does not fix at the bottom, but it goes up when you move through the list. That is why I put the FAB outside the ion-content. When I take the FAB outside the ion-content, and I also remove the segments, it does stay fixed at the bottom when I move down the list. That is why I think there is something that does not

[2016-05-19 15:48] jgw96 commented on #6578
Hey sorry should have been more clear, the latest version of ionic 1 is 1.3.1 which you can see is part of the ionic-angular package by running `npm info ionic-angular`. The exact npm tag for it is `1.3.1-201605121907`. Hope that helps!

[2016-05-19 15:50] jgw96 commented on #6575
Ahh, @CarlosAdrianM one second and i will make another codepen that shows how to fix that. (:

[2016-05-19 15:52] jgw96 commented on #6575
@CarlosAdrianM alright, would you mind checking that codepen again? As you can see i added our `fab-fixed` attribute which fixes the issue you mentioned above.

[2016-05-19 15:55] chengen commented on #1022
@JungmoKang  works for me.

[2016-05-19 16:41] endoooo opened #6580 "Custom Value Accessors with ion-input (Ionic 2)"
hey guys!

I'm having problem using a custom value accessor with ion-input.
what I'm trying to do is to format an input text field while the user is typing, to enhance the user experience, like this: `12345678900a => 123.456.789-00` (it removes all the non-digit characters and apply the dots and dash).

to achieve this, I've created a custom value accessor as discussed in https://github.com/angula

[2016-05-19 16:48] CarlosAdrianM commented on #6575
So simple... and I was going crazy. Sorry :( Your codepen is perfect now.

Thank you very much

[2016-05-19 17:04] JeroendeVin opened #6581 "bug: Problem with the tab history stack"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>I've encountered a problem with the tabs navigation history stack, which I'm able to reproduce on the codepen example I found on your site:
http://codepen.io/ionic/pen/odqCz
How to reproduce:
1. On the "home" tab, click the "scientific fac

[2016-05-19 17:56] crossdot commented on #5194
+1. Tested on Android 5.

[2016-05-19 18:01] #6144 closed

[2016-05-19 18:10] adamdbradley commented on #5911
We have decided not to polyfill this feature with a JS solution for Chrome/Android. Basically it will be an additional drain on performance, especially when scrolling, and may introduce bugs.

Good news however, is it appears Chrome is actively working on this: https://www.chromestatus.com/feature/6190250464378880
https://bugs.chromium.org/p/chromium/issues/detail?id=231752

[2016-05-19 18:10] #5911 closed

[2016-05-19 18:36] brandyscarney commented on #6491
Done by @jthoms1 in https://github.com/driftyco/ionic/commit/c8f760f080d73817481131e7eccfdfd618296ada and https://github.com/driftyco/ionic/commit/6113daf75edb198af3a416c3d642694f04244e2c

[2016-05-19 18:49] tinderangler commented on #4928
Same for me, it started with Ionic 1.2.x

[2016-05-19 18:55] adamdbradley commented on #6291
We've decided to entirely remove the backdrop from the toast component, which isn't apart of the material design spec. Thanks for bring it to our attention and letting us know it was an issue.

[2016-05-19 18:55] #6291 closed

[2016-05-19 19:02] ashishbajaj99 commented on #2732
any updates?

[2016-05-19 19:42] jaruesink commented on #6563
Hey @adamdbradley or whoever, I'm trying to work with the Ionic router when I had working with the getComponent, but now I'm stuck after the update and could use a nudge in the right direction.

Here's what I've got so far: http://stackoverflow.com/questions/37332251/getting-nav-through-viewchild-in-ionic-2-beta

[2016-05-19 20:39] jorgevaldivia commented on #3483
I'll throw in my 2 cents here. I was having this exact same problem until I realized that I had multiple `ion-nav-bar` elements defined in my app. I had one defined at the root level template and two or three others scattered around the child templates (probably from copy and pasting). The problem went away once I removed the `ion-nav-bar`s from the child templates.

[2016-05-19 21:32] jgw96 commented on #6581
Hello! Thanks for opening an issue with us! I am going to close this issue as a duplicate of https://github.com/driftyco/ionic/issues/6527. Would you mind posting the information you have on that issue? Thanks for using Ionic!

[2016-05-19 21:32] #6581 closed

[2016-05-19 21:39] jgw96 commented on #6547
Hey @roocster ! Thanks for opening an issue with us! I am going to close this as a duplicate of https://github.com/driftyco/ionic/issues/6527, would you mind commenting about your issue on that issue please? Thanks for using Ionic!

[2016-05-19 21:39] #6547 closed

[2016-05-19 21:40] jgw96 commented on #6575
@CarlosAdrianM haha no problem! Im glad i could help you! Thanks for using Ionic!

[2016-05-19 22:03] #6491 closed

[2016-05-19 22:11] lolsborn commented on #4749
@AceLondon The crash-recovery is bad-news I highly recommend turning it off.

[2016-05-19 23:13] wggley opened #6583 "ion-radio not setting value by default if values list is objects"
#### Short description of the problem:

If using a object data for value, it won't mark as checked.
#### What behavior are you expecting?

Mark ion-radio as checked.

**Which Ionic Version?** 1.x or 2.x
1.x

Codepen using Ionic site sample example
http://codepen.io/wggley/pen/YqoreQ

[2016-05-19 23:32] brandyscarney commented on #6134
Thanks for the issue! This will be in the `beta.8` release.

[2016-05-19 23:32] #6134 closed

[2016-05-20 02:17] wli opened #6585 ""Swiping" on a button triggers material ripple, but button doesn't trigger"
#### Short description of the problem:
Normally, pressing on a button should:
1. Trigger the material ripple (for android)
2. Trigger the button `(click)` action

However, if you "swipe" from the button (start touching the screen at the button location, but drag a tiny bit away before releasing), this happens:
1. Material ripple triggers
2. Button `(click)` action does NOT trigger

#### What behav

[2016-05-20 04:12] adamdbradley commented on #5575
Thanks for reporting the issue, this should be fixed in the next release. Thanks

[2016-05-20 04:12] #5575 closed

[2016-05-20 04:23] adamdbradley commented on #5163
@NathanWalker Sorry for the late response and not merging sooner, but the code diverged enough that it was no longer a clean merge. But the opened/closed events have been added now, thanks.

[2016-05-20 04:23] #5163 closed

[2016-05-20 04:28] mnasyrov commented on #5423
Is it possible to subscribe to an event when a user click on modal's backdrop in the inset mode? I'd like to  have ability to dismiss a modal in this case.

[2016-05-20 04:31] adamdbradley commented on #4976
This appears to have been fixed since this issue was created. If you're still have problems please create another issue, thanks

[2016-05-20 04:31] #4976 closed

[2016-05-20 04:33] adamdbradley commented on #5512
Since Angular 2's router is under heavy development and another refactor, we cannot estimate when the router will be completed. I'm going to take this off of beta8, but leave it as an open issue.

[2016-05-20 05:31] chrisgriffith opened #6586 "List Typing missing close()"
#### Short description of the problem:
When building, the following TypeScript error is shown in the console: Property 'close' does not exist on type 'List'.
The function works as expected, just the console is reporting an error. Also this function is not shown by the code hinting in Code.

#### What behavior are you expecting?
The typing for the close function for a sliding list item should be in

[2016-05-20 05:57] aliunco opened #6587 "ion-content scroll doesn't work"
if two views have different values for scroll attribute of ion-content, the second one override the setting of scroll value of ion-content and if user press back button, ion-content scroll value doesn't apply the setting.

here is the example code of my issue:

[code]
and the second view is:

[code]

when the user see the second view, and press back button to show the first view again, the firstVi

[2016-05-20 06:28] #6587 closed

[2016-05-20 06:56] markxiwang opened #6588 "new cordova plugin use in ionic2"
Hi  Dears，
I write a new cordova plugin...but I don't know how to use it in the ionic2.....
anybody how to use it ?
please help me ..thank you very much..

[2016-05-20 07:13] ryanlin1986 opened #6589 "Ionic v2 ActionSheet: custom icon or image"
In v2, the button text can not support html, such as &lt;i class="fa fa-user"&gt;&lt;/i&gt;test button.
It worked in v1, is there any plan to support this?

[2016-05-20 07:20] tleguijt commented on #6386
@jgw96 is support for IE > 10 on the roadmap?
It is supported by Angular 2, I would assume this would be supported by Ionic as well (or is that a false assumption?)

[2016-05-20 09:36] Merott commented on #6458
In case it hasn't been noticed by some, the latest [Beta 7](https://github.com/driftyco/ionic/releases/tag/v2.0.0-beta.7) is on RC1. I guess demos, examples and starter projects may still need updating...

[2016-05-20 09:46] beat-at-hartwig commented on #3399
@lobo87 I can confirm the issue

[2016-05-20 10:34] tonyawad88 opened #6590 "Ionic v2 - Tab Template - Icons are not centered (beta 7)"
#### Short description of the problem:
The bar under the tabs in the tab template, have extra width that doesn't match their parent tab. Hope this makes sense :)
![barebone_beta7_tab_tempate](https://cloud.githubusercontent.com/assets/3638322/15424977/876d116e-1e53-11e6-9659-c98314258452.gif)
<img width="443" alt="screen shot 2016-05-20 at 6 33 36 am" src="https://cloud.githubusercontent.com/asset

[2016-05-20 10:46] asmund1 commented on #6577
I have this problem too. See plunker that reproduces: http://plnkr.co/edit/IBFQTuvARTBC9bExU3uq?p=info
(Change from ionic 1.3.1 to 1.3.0 to see working version)

Could it be something with the routing like in https://forum.ionicframework.com/t/ionicview-events-not-firing/19825/14 ?

[2016-05-20 10:52] snt4all opened #6591 "bhhgthg"

[2016-05-20 10:53] snt4all opened #6592 "Tabs ionic sticky is not working"

[2016-05-20 11:34] dylanvdmerwe opened #6593 "Badge with ngFor has incorrect spacing"
#### Short description of the problem:

When I try and create badges with ngFor, the spacing between them is different.

An example demonstrating this:

[code]

![capture](https://cloud.githubusercontent.com/assets/2852839/15426503/5772006e-1e8f-11e6-9855-56c85f3015d5.PNG)
#### What behavior are you expecting?

The spacing between badges to be consistent.

**Which Ionic Version?** 2.x

**Run `ioni

[2016-05-20 12:36] MartineNavara commented on #6416
I'm experiencing the same problem with Ionic 1 (version Delhi and higher).

[2016-05-20 12:50] tooraje commented on #5877
I have the same problem. Even I am using a different method to hide the status bar. I add this line to config.xml:

`<preference name="Fullscreen" value="true" />`

And screen jumps up to go full screen.

[2016-05-20 13:00] Luchillo commented on #4976
Fixed? more like worked around with the lifecycle hook for `onPageDidEnter() {}`, still at least is a solution.

[2016-05-20 13:18] chen1203 commented on #5873
@gluttonman - So what is the solution ? What is the best/recommended way to store some data when the app is close? (for example - to login)

[2016-05-20 13:33] WHarris22 commented on #6416
+1 in Ionic 2 beta 7

[2016-05-20 14:07] NoNameProvided commented on #6490
Hi!

We have a few app with a solid daily user base and we encountered the same issue. This simply break all of our apps where both a text input and select is present. So this is high priority to solve for us and we have started to look into the issue, I will post our results here.

[2016-05-20 14:20] mafeltes commented on #6490
Hi

we are facing the same issue. The issue occured without any changes made to our app before. Could the problem be related to an Android update e. g. the System Web View?

[2016-05-20 14:29] tonyawad88 commented on #6209
@jgw96 Hi Justin, do you have any workaround to dismiss the loading popup manually from javascript ? Thanks

[2016-05-20 14:31] NoNameProvided commented on #6490
Hi @mafeltes

I had came up with the same idea, I just have tested our test app created for this bug with crosswalk instead of the included webview. It seems to work with Crosswalk 18.48.477.13 (based on Chromium 48)

It is a big improvement (I will test our real apps now) but I don't think it's related only to the Chrome webview because @felipelvira experienced the same issue with iOS (no Chrome

[2016-05-20 14:33] NoNameProvided commented on #6490
You can install Crosswalk into your projects with

[code]

Please note that the Android Support Repository must be present to build the app with Crosswalk (could be downloaded through the SDK manager in the Extra section.)

[2016-05-20 14:38] brandyscarney commented on #6590
Hey, thanks for the issue! Are you running this on the browser or on a device? I am not able to reproduce it following your steps and using `ionic serve`.

[2016-05-20 14:42] #6591 closed

[2016-05-20 14:42] NoNameProvided commented on #6490
Btw I am surprised about the inactivity of the creators of Ionic, because this bug literally kills all android Ionic app (using select) even those which was deployed before the bug.

[2016-05-20 14:45] chen1203 commented on #5873
I used localStorage and it works both on browser and android.
@gluttonman - thanks.

[2016-05-20 14:56] jgw96 commented on #6592
Hello! While we appreciate you opening an issue with us i am going to close this issue and ask that you  open a new one that has the issue template filled out please. Thanks for using Ionic!

[2016-05-20 14:56] #6592 closed

[2016-05-20 15:01] jgw96 commented on #6588
Hello! Thanks for opening an issue with us! I would urge you to look at the [ionic native](https://github.com/driftyco/ionic-native) repo and see how were doing it there. It would be awesome if you could submit a pr to add your plugin! From a high level standpoint were just wrapping the cordova plugins in either promises or observables. Also, as this issue isnt really an issue with the ionic frame

[2016-05-20 15:01] #6588 closed

[2016-05-20 15:02] brandyscarney commented on #6518
So iOS is correct with the item-group borders where the last item in a group doesn't have a border. The recommended markup is:

[code]

I fixed Material Design to work the same as iOS:

![screen shot 2016-05-20 at 10 57 44 am](https://cloud.githubusercontent.com/assets/6577830/15431963/3423bcd4-1e7a-11e6-9ff5-e964fd6b031d.png)
![screen shot 2016-05-20 at 10 58 02 am](https://cloud.githubuserconten

[2016-05-20 15:02] #6518 closed

[2016-05-20 15:09] jgw96 commented on #6458
Hey @Merott ! You are correct, beta 7 is now on rc1 ! We are currently in the process of getting everything updated!

[2016-05-20 15:16] andreluizbellon commented on #3609
+1

[2016-05-20 15:16] jgw96 commented on #6585
Hey @wli ! Would you mind sharing a plunker or codepen that i can take a look at? Thanks!

[2016-05-20 15:20] brandyscarney commented on #6289
Hey, thanks for the issue! Do you mean you want to be able to style the select alert different than the standard alert or are you looking for a way to change the style for all alerts?

[2016-05-20 15:21] jgw96 commented on #6589
Hello @ryanlin1986 ! Im sorry, but im not sure i understand exactly what the issue is. Are you wanting to put a button inside another button? Thanks for using Ionic!

[2016-05-20 15:21] darthdie commented on #6577
In my testing it appears this was broken in commit d63733350b73c0084f99fe285dda96f0204b2cd7

Specifically the following line returns null (thus it then has no scope to emit events to)
[code]

From further testing it appears it returns null because inside of `getScopeForElement`

[code]

The condition `if ( stateValue === stateData.stateName )` is false because stateValue is null. (At least in my p

[2016-05-20 15:26] tonyawad88 commented on #6590
@brandyscarney  Hi Brandy, I am running in the browser, Chrome Version 50.0.2661.102 (64-bit).

[2016-05-20 15:37] alexbainbridge commented on #6289
Ended up changing to using a list in a modal - as that gave me more control.

The original issue is that it seems that everything in a select (text, tick, ok, cancel) is the same colour. Would be nice to differentiate a little with different variables, simply, without resorting to CSS.

Having said that, because I ended up using a different approach, I haven't played with this for a couple of week

[2016-05-20 15:59] jeromeXoo opened #6594 "Feature Request: Get transaction from SqlStorage"
#### Short description of the problem:
Currently , it is not possible to get transaction directly from Storage with Ionic 2. The only way, is to make a request and get a transaction in return.
[code]

#### What behavior are you expecting?
Get transaction directly from SqlStorage

[code]

Ionic 2.x

[2016-05-20 16:07] jgw96 commented on #6386
Hello @tleguijt ! At this time we are not planning on any IE support, although we fully support edge. While Angular 2 does have support for IE, with all the UI components we have built, and all the animations, IE just does not have the html5 support, modern javascript support or the performance needed for Ionic 2 to perform like it should. Also, windows 10 apps use an edge webview under the hood,

[2016-05-20 16:21] jgw96 commented on #6209
Hey all! Can you all try with this plunker? Looks like this issue is not reproducible anymore in our latest beta.7 release! http://plnkr.co/edit/IIfn2RKAMGheD8ISVr9A?p=preview I am going to close this for now, as it seems it was fixed. But if anyone can reproduce it again with beta.7 then i will reopen. Thanks for using Ionic everyone!

[2016-05-20 16:31] wli commented on #6585
@jgw96 unfortunately I can only repro on a device (not a website). do you still want a plunkr for it? It's literally any button (nav bar, tabs, buttons, etc).

[2016-05-20 16:34] tonyawad88 commented on #6209
@jgw96 I can still reproduce in beta 7. Simply add this to the loading, and it will throw the 'native element' exception.
[code]

Any idea how to dismiss the loading from JS ? The use cases presented where we setTimeout are not too realistic.

Thank you !

[2016-05-20 16:34] jgw96 commented on #6585
Actually, i was able to reproduce on desktop with touch events enabled in chrome canary. We are looking into this now.

[2016-05-20 16:36] wli commented on #6585
Awesome - thanks! Let me know if you need anything else, or to test a fix.

[2016-05-20 16:39] jgw96 commented on #6585
Hey @wli so after testing with some native android apps (gmail, inbox by gmail, hangouts) it looks like they have the same behavior. So for example, if you swipe across the fab button in hangouts, you can see that it fires the ripple. Would you mind testing that for me on your android device too please? After talking with my colleagues, since native material design has the same behavior, then we a

[2016-05-20 16:43] danbucholtz commented on #6594
Hi @jeromeXoo,

I will discuss with team and see what we can do about this.  I like the idea, too, and have been playing around with it on some side projects.

I'll keep you posted.  Please sit tight.  Might be a few weeks.  I have a few ideas of some cool things we can do to dramatically improve the SQL experience.

Thanks,
Dan

[2016-05-20 16:43] bensperry opened #6595 "Make ripple white on colored backgrounds."
For Android, it would be nice to have the framework auto-detect when and item is colored something other than white/grey, and force the ripple to be in white. Currently I don't think this function exists.

[2016-05-20 16:50] jgw96 commented on #6490
Hello @NoNameProvided ! Sorry for the delay on this. After some preliminary testing on my part im starting to think this is an angularjs issue and not an ionic issue. Would you mind testing with just a plain Angularjs app ? Again, very sorry for the delay on this, thats totally my fault and i apologize.

[2016-05-20 16:53] wli commented on #6585
I tested this yesterday actually with the native apps, since I was really curious why our users were reporting a lot of false clicks (where they think they clicked via the ripple, but didn't actually register the click). Here are the biggest differences:

Native
- a "long" swipe-press results in a ripple, and no click
- a short swipe-press results in no ripple, and no click

Ionic
- a long swipe-p

[2016-05-20 17:01] brandyscarney commented on #6590
@tonyawad88 Hmm so I updated Chrome but I still can't reproduce it. :( I started a new tab project using your command `ionic start tabtemp --v2 --ts` and made no changes. Here's my info:

[code]

Could you try removing `node_modules` and doing a fresh `npm install`? I'm not sure what is going on here. You didn't make any changes to the starter, correct?

[2016-05-20 17:13] wli commented on #6585
@jgw96 if this is confusing, let me know and I can try to throw together a video later this weekend or something

[2016-05-20 17:15] danbucholtz commented on #4976
Hi @Luchillo,

Are you using promises and chaining the transitions together?

Thanks,
Dan

[2016-05-20 17:19] brandyscarney commented on #6289
So since the select component is really just using an alert, it could be styled using the alert variables such as (for ios):

`$alert-ios-button-text-color`, `$alert-ios-radio-icon-border-color`, etc. where the defaults are this:

[code]

So by changing just the `$alert-ios-button-text-color` value to the secondary color it would change the button color and the radio/checkbox colors:

![screen sho

[2016-05-20 17:19] Luchillo commented on #4976
Yes i do, that seems to be the way the alerts are intended to work, the only issue left was i had to time up the code in constructor or either it will break as stated above, that's where the `hooks` come along.

[2016-05-20 17:19] tonyawad88 commented on #6590
@brandyscarney I removed all node modules and did an ```npm install```. The output results attached below. No error, it ran successfully.

It is still off when I run with ```ionic serve```
[npm_install_output.txt](https://github.com/driftyco/ionic/files/275096/npm_install_output.txt)

I just figured it out... you know the "zoom" in/out in Chrome, I had it set to 70%...

I apologize for wasting you

[2016-05-20 17:19] #6590 closed

[2016-05-20 17:23] brandyscarney commented on #6590
@tonyawad88 It's fine! Glad it's resolved. I've definitely done something similar before so no worries. :smile:

[2016-05-20 17:24] jgw96 commented on #4976
Yep, ill happily explain why this happens. The constructor of a class actually fires before anything in the dom has happened, so then when the alert tries to do dom related stuff before the dom is ready it will give errors. Putting it in a timeout will technically work, but timeouts are very inefficient and inconsistent way to handle async stuff in javascript. This is why we have lifecycle hooks a

[2016-05-20 17:25] jgw96 commented on #4976
Actually here is a good video explaining this a little better than i can: https://www.youtube.com/watch?v=MYympIG00Pk

[2016-05-20 17:28] mlynch commented on #6568
Can we prepend with the component name instead? (tabChange) vs (ionChange)

[2016-05-20 17:38] jgw96 commented on #6585
@wli Nope, that makes perfect sense (: hmmm i will have to look more into this and discuss it with the team. Expect some feedback by monday (: Thanks for using Ionic by the way, id love to be able to see the app your working on if possible!

[2016-05-20 17:40] jgw96 commented on #3609
Hey @fengsong97  and @andredublin are you guys using ionic 1.3.1?

[2016-05-20 17:46] alexbainbridge commented on #6289
Yes - this would solve it thank you Brandy.

Two other comments

a) Would be great to have some component "screenshots" with arrows pointing to aspects that different scss values control. With a number of elements taking scss from different components, this would make it easier to know what controls what. i.e. pretty much what you have done above.

b) What I really needed was a v2 version of https

[2016-05-20 18:05] jgw96 commented on #6001
@ErkoKnoll So after testing with wkwebview this seems to be a uiwebview related issue.so it looks like something that will be fixed with wkwebview integration.

[2016-05-20 18:05] keithdmoore commented on #6209
Seems like a race condition or a digest type issue.  when adding the `dismissOnPageChange: true` I was able to reproduce.  My current hack to get around this is to do the below when displaying the loading component.  I wouldn't classify this issue as fixed.

[code]

[2016-05-20 18:07] keithdmoore commented on #6209
@tonyawad88 I am using EventEmitter to handle the dismissing of the loading component.

[2016-05-20 18:17] brandyscarney commented on #6289
That's a great idea. I created an issue to discuss how we could improve this: https://github.com/driftyco/ionic-site/issues/613

Understood! I'm going to add some variables to alert to further customize the colors and we'll discuss ways to improve the theming documentation on that issue. Thanks again!

[2016-05-20 18:29] jgw96 commented on #6209
Hello all, you all are correct, setting `dismissOnPageChange` to true makes this issue still reproducible, sorry about that! @tonyawad88 as a workaround you can use the `dismiss()` method on the loading component. So it would just be `{{name of your loader}}.dismiss()`. Hope that makes sense! I will look into this more.

[2016-05-20 18:41] keithdmoore commented on #6209
@tonyawad88 to be more specific here is what I am doing.
In a service:
[code]

In app.ts:
[code]

[2016-05-20 18:49] jgw96 commented on #6209
@keithdmoore Just to let you know we deprecated app.getComponent in beta.7 in favor of the native Angular 2 ViewChild decorator https://angular.io/docs/ts/latest/api/core/ViewChild-var.html .

[2016-05-20 18:51] brandyscarney commented on #6568
@mlynch Updated the issue to reflect the change to component names instead of `ion`.

[2016-05-20 18:52] keithdmoore commented on #6209
@jgw96 Ok.  Thanks.  Seems like I did see a use of ViewChild in the ionic-conference app.  Thanks for the heads up!  I am about to upgrade right now.

[2016-05-20 18:58] jgw96 commented on #6209
No problem! Let me know how the beta.7 update goes for you! Here are some awesome instructions to help you with the upgrade: https://github.com/driftyco/ionic/blob/2.0/CHANGELOG.md#angular-update-to-200-rc1

[2016-05-20 19:19] alexbainbridge commented on #6289
Thank you Brandy

[Just noticed this is twice I have asked you something, twice you have said its actually already possible without going to CSS - so the more that scss and theming is documented, the less questions will come up!]

[2016-05-20 19:19] jgw96 commented on #6580
Hello! Thanks for opening an issue with us! Would you mind making a plunker that demonstrates this issue please?

[2016-05-20 19:26] jgw96 commented on #6546
Hello @dennyoon , thanks for opening an issue with us! Is this with the latest conference app? Could you do a `git pull` and try again please?

[2016-05-20 19:32] brandyscarney commented on #6289
I completely agree, it's just hard to document it when we're still changing things. I have an issue open to add more variables and rename existing ones to be more consistent (https://github.com/driftyco/ionic/issues/5651) so many will be renamed. We definitely need a way to make it easier though. There is this table in the theming docs that lists all of the available variables but it could use som

[2016-05-20 19:43] alexbainbridge commented on #6289
At some point, you could perhaps ask for everyone building early apps on v2 for their CSS overrides (app.core.scss) -  that would probably show you where developers are either not realising that scss could have been used (documentation issue), or whether the core defaults were not quite right....... I have certainly made quite a few, predominantly margin / padding, especially on form components, i

[2016-05-20 19:50] brandyscarney commented on #6289
That's a good idea. Maybe I'll make a forum post to get some feedback on how people are theming and how we could improve. Thanks for the feedback again. :smile:

[2016-05-20 19:54] alexbainbridge commented on #6289
Dont let me sidetrack you! Keep up the great work! ;)

[2016-05-20 20:27] brandyscarney commented on #6289
The following variables have been added for more customization of alert labels:

[code]

[2016-05-20 20:27] #6289 closed

[2016-05-20 20:43] brandyscarney commented on #6519
So the backdrop was removed entirely as part of issue https://github.com/driftyco/ionic/issues/6291 and will be in the `beta.8` release. If you'd like to check it out sooner, I've released a nightly version that can be installed by running the following in a terminal:

[code]

Thanks!

[2016-05-20 20:43] #6519 closed

[2016-05-20 21:17] brandyscarney commented on #6108
This has been added to the `beta.8` release. If you'd like to check it out sooner, I've released a nightly version that can be installed by running the following in a terminal:

[code]

If you haven't updated to beta.7 yet, check out the [changelog](https://github.com/driftyco/ionic/blob/2.0/CHANGELOG.md#angular-update-to-200-rc1) for steps to update.

Thanks!

[2016-05-20 21:17] #6108 closed

[2016-05-20 21:59] Luchillo commented on #6329
It seems it wasn't my fault, in last update of the `ionic-gulp-webpack` package the compile time drop down to 14s first, then 5~6s for the next ones.

[2016-05-20 22:04] jgw96 commented on #6554
Hey! Thanks for opening an issue with us! So the reason the title is to the left on windows 10 and Android  is because that is how it is on native android and windows 10 platforms. Also, for windows 10 it is standard to have capitalization for the title of a page, which is why we have it like that. I am going to mark this one as blocked by https://github.com/driftyco/ionic/issues/5036 as theres no

[2016-05-20 22:05] Luchillo commented on #4976
@jgw96 Wow the recent beta.7 made a big breaking change for me, i was using the `IonicApp.getComponent()` method to get the navigation from a service (Injectable), Now will i be able to do the same with `@angular/core -> ViewChild` from an Injectable?

[2016-05-20 22:17] tonyawad88 commented on #6209
@keithdmoore @jgw96 ```this.loading.dismiss();``` also throws the error.

It sure looks like a race. For now adding a settimeout of 500ms, around creating the "loading" prevents it from firing the exception.

Check this plunker out, if you display / hide the loading using the buttons, no exceptions occurs.
As soon as you use it inside "onPageDidEnter", it throws the exception.
http://plnkr.co/edit

[2016-05-20 22:48] keithdmoore commented on #6209
You might try using:  `ngAfterViewInit` I had trouble with the `onPageDidEnter`

[2016-05-20 23:42] brandyscarney opened #6597 "modal: onPageWillEnter is not firing"
As of beta.7 `onPageWillEnter` no longer fires for a modal. All other lifecycle events are firing. Easily reproduced on the e2e test: [http://localhost:8000/dist/e2e/modal/basic/](http://localhost:8000/dist/e2e/modal/basic/)

[2016-05-21 00:27] brandyscarney commented on #6568
List of event name changes:

- **Checkbox**
  - `change` -> `checkboxChange`
- **DateTime**
  - `change` -> `datetimeChange`
  - `cancel` -> `datetimeCancel`
- **InfiniteScroll**
  - `infinite` -> `infiniteScrollLoading`
- **Menu**
  - `opening` -> `menuOpening`
  - `opened` -> `menuOpened`
  - `closed` -> `menuClosed`
- **Option**
  - `select` -> `optionSelect`
- **Picker**
  - `change` -> `picke

[2016-05-21 00:43] brandyscarney commented on #6586
Hey! Could you show me your code to grab the list? `close` isn't a function of list but it is a function of `ItemSliding`. So for example to grab and close all sliding items in a list you could use the following:

[code]

then in the `@Page` you could call a function on button click:

[code]

So we're grabbing the sliding item and assigning it to `slidingItem` then calling the `close` method, and

[2016-05-21 01:15] ryanlin1986 commented on #6589
Sorry, I have updated my question, something is hidden.
Basically, I want use font awesome icon, or custom image for my button

[2016-05-21 01:36] nampdn commented on #5422
Can the range slider have tooltips value float stick with it?

[2016-05-21 02:29] adamdbradley commented on #6568
For menus, let's rename them to `menuOpen` and `menuClose`. I think they had `ed` at the end so it wasn't stepping on something else to begin with.

For `Platform` let's not rename them since they're not on an element and wouldn't bubble up.

Can't say `infiniteScrollLoading` is overly awesome, but for consistency reasons it makes sense.

Overall looks good to go 👍

[2016-05-21 02:31] adamdbradley commented on #6568
Actually, should we have `menuWillOpen`, `menuDidOpen` and `menuWillClose`, `menuDidClose`?

[2016-05-21 03:00] biesbjerg commented on #6209
I'm getting the same error message, but in my case it happens if I do `loading.dismiss()` too quickly after doing `this._navController.present(loading);`

My request to productService.findOne() might be cached and return immediately, and that's when the exeption is thrown.

[code]

[2016-05-21 03:07] #6597 closed

[2016-05-21 03:37] tonyawad88 commented on #6209
@keithdmoore same issue with "ngAfterViewInit".

[2016-05-21 08:40] warner-pinz commented on #5479
@adamdbradley @brandyscarney the URL you guys shared is not accessible
https://github.com/driftyco/ionic/blob/2.0/ionic/components/nav/test/routing/index.ts#L47

Could you guys please share a sample working sample of how routing works in ionic2 even if it is not final? At least we can try and proceed. Thanks

[2016-05-21 10:10] Inoverse opened #6598 "<ion-navbar> inside Modal not working"
Since the beta 7 the <ion-navbar> is no longer working inside a modal page. I have to changed it to <ion-toolbar> to make it running. Don't know if it is a bug or just a change.

Step to reproduce:
1. Add new page component (call it for example modal.ts):
[code]
2. Add the related template file (modal.html):
[code]
3. Open the modal, for example like:
[code]

Result is, that the <ion.navbar> is no

[2016-05-21 12:28] DarrenHou1993 opened #6600 "Use webstorm compiler is very slow"
With webstorm11 to write ionic2, each modified typescript compiler is very slow. Is there any way to solve it? My webstorm11 used for a period of time, the memory will be occupied by the arrival of 2G; I usually restart a down to solve the problem.What IDE are you using?

[2016-05-21 13:30] Luchillo commented on #4976
Ok forget it, i found how to do it, just using the `IonicApp.getActiveNav()` did the trick in my service.

[2016-05-21 14:28] Luchillo commented on #6598
Same issue here, modals doesn't work with `ion-navbar` anymore, however without it the back arrow and functionality is gone, this is a big issue, also none of the click events i put in the template works any more, that's a bigger issue.

[2016-05-21 14:35] Luchillo opened #6601 "bug: [BUG] Modal broken in beta.7"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>The 2 errors are:
1. Modals with `ion-navbar` in template will not show correctly.
2. Modals will create a backdrop that shows on top of everything blocking any user interaction, combined with the `ion-nav` not working, this blocks the app

[2016-05-21 14:41] Luchillo commented on #6601
Digging up in the error, the alerts uses the same backdrop with same `z-index: 2`, both the `.alert-wrapper` and `.modal-wrapper` uses `z-index: 10`, however with the modal deleting the backdrop fixed the issue of interaction blocking.

There's some kind of issue with modals that makes them ignore those `z-index` values and put the backdrop on top of the modal wrapper.

[2016-05-21 14:58] Luchillo commented on #6601
I swear to god that modal has something weird, bumping the modal wrapper  `z-index` to 100 did nothing, but reducing the backdrop one from 2 to 1 fixed it, basically any value above 1 will activate this issue, that makes no sense at all.

[2016-05-21 15:13] brandyscarney commented on #6568
What about `infiniteScrollStart` similar to refresher? We could have `menuDidOpen` and `menuDidClose` but we would have to add events for the others. Not a bad idea actually.

[2016-05-21 15:24] alexbainbridge commented on #6600
I expect the Ionic team will suggest that you go to the forums for support matters.....

Anyways, as a webstorm user, I sped it up by excluding node_modules and excluding www folder. This stops webstorm rechecking all changes in there, on every field edit / file save (which happens if you are using ionic serve)

To exclude a folder, on the project list in the left window, select, then click exclud

[2016-05-21 15:28] emps opened #6602 "Slides Data Binding Issue while looping slides"
Ionic-slides data binding problem after first loop

http://codepen.io/emps/pen/MyNgjz?editors=1010

Slide A works ok by clicking ++ button but after first loop Slide A data binding to controller not working any more .. happens only with fist Slide that is Duplicated in slides

and if u loop back (refresh first the page) Slide E not working

latest Ionic v1

[2016-05-21 15:49] dennyoon commented on #6546
Hello @jgw96, I've re-clone the repository already, and it's still the same in Ionic View. Perhaps it's kind of Ionic View bugs or Ionic2 setting?

[2016-05-21 16:23] Luchillo opened #6603 "bug: [Bug] ion-input type date not working in ios"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>ios</span> <span ionic-platform-version>9</span>  <span ionic-webview>webview</span>

<span ionic-description>Input type date works ok everywhere except for inside a modal, it tries to open the picker in the lower part of screen but fails and closes it again without any erro

[2016-05-21 16:44] Luchillo commented on #6603
Correction, it seems to break if not initialized with any date, if the `[(ngModel)]` property has undefined, null or empty string '' it will fail to open the selector.

[2016-05-21 16:45] ghprod commented on #4973
@jgw96 I've tried with `then` promise but still no luck :(

[code]

but this is work

[code]

[2016-05-21 17:28] brandyscarney commented on #6040
So there is a lot going on on this issue. I'm going to try to address everything but let me know if there is something I miss.

@dheran: I'm not sure what you are looking for in terms of validation. Could you please explain what you mean? The form validation Angular 2 offers should be what you need but if you could explain more of what you want, I can help more. :smile:

@tlaverdure: Thanks for br

[2016-05-21 18:22] chrisgriffith commented on #6586
<ion-list>
        <ion-item-sliding *ngFor="let task of tasks" #slidingItem>-->
            <ion-item [ngClass]="{taskDone: task.status == 'done'}">
                {{task.title}}
            </ion-item>
            <ion-item-options>
                <button secondary (click)="markAsDone(slidingItem, task)">
                    <ion-icon name="checkmark"></ion-icon>
                </button>

[2016-05-21 18:33] brandyscarney commented on #6586
Ok so the reason it works is because it is actually passing a reference to `ItemSliding` (because `#slidingItem` is on the `<ion-item-sliding>` not the `<ion-list>`) and that does have the `close()` method. Basically, you're setting the wrong type in the function, it should be `ItemSliding`, not `List`. If you log the `slidingItem` in your function you'll see something like this:

![screen shot 20

[2016-05-21 19:07] scooper711 opened #6605 "Cordova installation on OSX"
Trying to install Ionic CLI on a Mac Air with El Capitan and export my project.  I keep doing the command to install Cordova:

sudo npm install -g cordova

.. and while it indicates that Cordova is getting installed (I run "cordova --version" and it comes back with "6.1.1", after installing Ionic (sudo npm install -g ionic) I keep running the “ionic info” command and it says that Cordova CLI is no

[2016-05-21 19:56] csysmans commented on #6598
Another note (probably related):
The css class on the <ion-page> component inside the modal is missing (containing the name of the page).

[2016-05-21 21:03] kinggolf commented on #6140
@jgw96 Just updated my app to Ionic2 Beta7 and this issue does not appear, as you guys previously reporter. Thx to Ionic team!!

[2016-05-21 21:17] frederikschubert commented on #6243
When using fab-fixed with a button that is placed _above_ an `ion-list` that uses `ngFor` the button is positioned correctly in chrome but scrolls with the list in the iOS Simulator until the list stopped scrolling.

[2016-05-21 21:21] chrisgriffith commented on #6586
I think an unnamed Developer Advocate might have told me just to use list ;)

[2016-05-21 21:21] #6586 closed

[2016-05-21 21:35] jasonwaters opened #6606 "Modal in 2.0.0-beta.7 no longer adds page class name to ion-page element"
The element has a class attribute with a generated classname like "user-login" if the page class is named "UserLogin". This is no longer the case for modals.

[2016-05-21 21:45] brandyscarney commented on #6586
@chrisgriffith I added some documentation for it so hopefully it will be cleared up. :)

[2016-05-21 21:52] plnkr2015 commented on #2759
hi,

while   <ion-side-menu-content drag-content="true"> works great.
but if i use it on the tab where map is there then map event listeners (like drag, dragstart, dragend etc) are not working.

i would like to design in such a way that on that tab when user drags the map i can listen to the map even listeners and at the same time disable the ionic side menu drag content.

how to achieve that?

pl

[2016-05-22 01:02] brianbishop commented on #6585
In the [tutorial] template app, for v2, the demo app has a view with list of clickable rows

If a touch starts on Item1, it becomes highlighted. If the user slides down to the bottom of the list e.g. to Item10, and releases there, the ripple effect fires on Item1. It's a similar problem, and might be related

[2016-05-22 03:07] keithdmoore opened #6608 "ion-datetime produces invalid ISO-8601 date format"
Date produced from Ionic2 (beta7) ion-datetime component looks like this:
"2016-01-02T01:00:00-aN:aN"

[code]

Looks as though it is adding invalid characters `-aN:aN` at the end of the date string.  Tested in Chrome and Firefox only.

Also, note the value in the UI is not placed under the "stacked" label.  That should be a separate issue though.

http://plnkr.co/edit/KUengxqzfnRqm8pwIMSp?p=previe

[2016-05-22 06:24] SkogDev opened #6609 "Ionic 2 - <ion-select> issue on Windows Mobile 10"
#### Short description of the problem:

I am having some styling-issues on WM10. The '< ion-select >' is having the same height as if there were no item selected.

Here are three images:

Android (ion-select looks ok)
![screenshot_2016-05-22-07-46-00](https://cloud.githubusercontent.com/assets/2014746/15452550/4a12dc26-1ff3-11e6-9ddf-91b4e3fe0e89.png)

iOS (ion-select looks ok)
![img_3050](https:/

[2016-05-22 07:40] amilino commented on #4808
Any news on this?

I think it is related to something about SMIL and javascript animations.
http://ionicframework.com/docs/api/directive/ionSpinner/

Android spinner icon is using javascript, so my question is, are you planning to swith all icons to SWG with SMIL animations? Or is there any workaround for Android spinning icon?

[2016-05-22 07:55] BioPhoton commented on #3233
Think too, that this is not solved yet!!!
The current workaround is not clean at all. My Maps having lots of markers and routes which is not optimal together with this bug.

Please take a closer look at this problem.
THX!!!

[2016-05-22 08:15] emps commented on #6602
any ionic v1 team support ?

[2016-05-22 10:15] gvhuyssteen commented on #6562
There was a typo in my Codepen. My fault. Sorry.

[2016-05-22 10:15] #6562 closed

[2016-05-22 10:26] ciesielskico opened #6610 "Ionic 2 - Datetime-Picker opened/closed events (feature request)"
#### Short description of the problem:

I'm using cordova-googlemaps plugin and just like with the sidemenu I would like to have `opened` and `closed` events to bind to, so I can set the map "not clickable".

Cordova-googlemaps uses an invisible overlay and when the map is "clickable", ionic elements seemingly on top of it do not receive the click/tap event, since the overlay receives all of them.

[2016-05-22 12:57] ciesielskico commented on #6598
+1, `ion-navbar` in modals went missing with Beta 7.
[code]

The code above is not rendered anymore in a modal window, changing to `ion-toolbar` and adding own 'Cancel-button' instead of default back-button fixes the problem though.

[2016-05-22 13:57] hlehmann opened #6611 "Feature(icon): Display ios outline icons with ion-icon[outline]"
**Which Ionic Version?** 2.x

Currently
`<ion-icon name="options"></ion-icon>` equals
`<ion-icon ios="ios-options" md="md-options"></ion-icon>`

It would be also interesting to have something like that:
`<ion-icon name="options" outline></ion-icon>` equals
 `<ion-icon ios="ios-options-outline" md="md-options"></ion-icon>`

[2016-05-22 15:18] keithdmoore commented on #5561
+1 I think this is a fairly common usecase.  For example, you have an item divider where you want to place an "add" or "add-circle" icon.

[2016-05-22 16:37] khamaileon opened #6612 "ionic 2 beta 7 upgrade: issue with Promises"
Since beta 7 and the use of zone.js, I can no longer use Promise.reject(). Any idea ?
[code]
[code]

[2016-05-22 17:05] Luchillo commented on #6598
That's great but i'm still experiencing UX blocking with modals due to the backdrop being on top of the modal itself, relate to this issue: https://github.com/driftyco/ionic/issues/6601

[2016-05-22 17:38] ciesielskico commented on #6598
Has to be something else,  maybe in your sass code,  modals work without a problem for me.

[2016-05-22 17:39] emps commented on #6602
![untitled-1](https://cloud.githubusercontent.com/assets/2281169/15455440/26022872-205d-11e6-85e3-794bd21b244e.jpg)
Duplicated slide not get updated with the original slide

[2016-05-22 17:44] emps commented on #6602
i can fix the problem if i add vm.slider.updateLoop(); inside plusplus function but i think we need a real fix

[2016-05-22 18:02] Luchillo commented on #6598
I'm not even touching the modals sass, however i will check all custom sass just in case.

[2016-05-22 19:14] royipressburger commented on #6530
@BugsBunnyBR Hi, Im getting `cannot read property `setRoot' of undefined`

[2016-05-22 19:38] royipressburger opened #6613 "ion-datetime Keeps sliding even if finger long gone"
#### Short description of the problem:

Im testing the ion-datetime on android 6.0 and it looks like that when I slide my finger and then lift it up
the scroller keep sliding slowly and it makes it hard to aim to the correct inpu
#### What behavior are you expecting?

Im expecting for the scroller to stop faster.

**Steps to reproduce:**
1. take android 6.0.1(might be able to reproduce on other ve

[2016-05-22 19:51] keithdmoore opened #6614 "ion-datetime value doesnt change when ngModel is changed"
When you have a select on the page that selects the ngModel, the value for the ngModel in ion-datetime does not change to reflect the selection change.

I was expecting the value to change since the model has changed.  Basically, I expect the ion-datetime component to behave like other ion-inputs.

Steps to reproduce:
1. Default the model to a value
2. Select a date/time
3. Change the model using

[2016-05-22 22:27] domzinhuu commented on #5071
@SP1966 your back button work on beta 6? i'm in android and a cannot make this work. Please what you did?

[2016-05-22 23:21] Manduro commented on #6428
I've had some edge case issues with preloading tabs as well. Perhaps we could have an `<ion-tab preloadTab="bool">` option to disable the preloading in those cases. This would also be useful if certain tabs make api calls.

[2016-05-23 00:51] AjkP opened #6615 "Ionic2 <ion-select> onclick not working."
I tried many things and at the end I even copied the template from the preview app.
https://github.com/driftyco/ionic-preview-app/blob/master/app/pages/selects/basic/pages.ts

Below the code:
HTML:
[code]

TS:
[code]

The model preset selection (Female) appears, but the selection is not clickable.

When I click on the select widget I do not get the alert modal. I tried it on Chrome, Chrome with Ri

[2016-05-23 01:24] hiagodotme commented on #2786
I got the same problem =/

[2016-05-23 03:48] brandyscarney commented on #6615
Do you have any errors in the Chrome developer tools console? Also, does your app have an `ion-nav` element in the main app template?

Can you run `ionic info` from within the project and paste the output, too. Thanks!

[2016-05-23 03:50] rxnh8255 commented on #6577
I also have this problem
$ionicView.enter is not fired
when I use code by @darthdie ,It work.tks.

[2016-05-23 04:29] endoooo commented on #6580
sure! there it is: http://embed.plnkr.co/b2rvq3uHcrxpmzTZ23f1/

I've applied the custom num accessor to both inputs (the ion one and the "pure" one).
note that in the ion-input, when I type a non digit character it is reflected in the form.value, but in the non-ion input it doesn't happen.

[2016-05-23 04:36] AjkP commented on #6615
No errors in the console. There is a few warning/infos. Posting below:
[code]

It does although I have tried to remove it with no change in behavior. Posting ion-nav below.
[code]

[code]

[2016-05-23 05:14] seedgabo commented on #6598
fixed here. You need to change the ion-navbar *navbar for ion-toolbar, seems that ion-navbar only being rendering in a not modal page

before

<ion-navbar primary  *navbar>
  <ion-title>Bug</ion-title>
  <ion-buttons end>
    <button (click)="close()">
      <ion-icon name="close" ></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar >

<ion-toolbar primary >
  <ion-title>Fixed</ion-title>
  <i

[2016-05-23 05:50] herman1vdb commented on #6490
Hi @jgw96

As I have explained in my stackoverflow post (mentioned earlier). It works with `ionic serve`. Meaning it's not an angular issue. However it could be related to the changes Angular does that interferes with Android's select.

Thanks & Regards

[2016-05-23 05:53] dylanvdmerwe opened #6616 "bug(ion-input): Text not output correctly in (input) event"
#### Description of the problem:

The output from the (input) event is always 1 character behind what is actually in the textbox.

See the code below. The first option is preferred (according to Angular2), but the text raised in the searchMovie is always a character behind. The other options work as expected.

[code]

**Which Ionic Version?** 2.x
#### Plunker that shows an example of your issue

h

[2016-05-23 06:46] mglmgl commented on #1522
Thx, your workaround works for Windows 10 too!

[2016-05-23 07:41] dheran opened #6617 "Deprecated router not working with beta 7"
Ionic 2

Plunker link http://plnkr.co/edit/O6SMLbaH0iKujoA99pM2?p=preview

I also tried with latest router too. But its not working.

[2016-05-23 07:49] jgw96 commented on #6600
Hey all! Thanks for opening an issue with us! Unfortunately as this is not a problem with Ionic, but instead an issue related to webstorm I will be closing this issue. For matters related to webstorm I would suggest going to there support as I'm sure they could help you. Also, as webstorm is pretty popular, there may be some users on our forum (https://forum.ionicframework.com) that could help you

[2016-05-23 07:49] #6600 closed

[2016-05-23 07:52] jgw96 commented on #6605
Hello! Thanks for opening an issue with us! As this issue is related to the Ionic CLI and not the framework I will be moving this issue to that repo. Thanks for using Ionic!

[2016-05-23 07:53] jgw96 commented on #6605
This issue was moved to driftyco/ionic-cli#1018

[2016-05-23 07:53] #6605 closed

[2016-05-23 07:54] jgw96 commented on #6140
@kinggolf Thanks! Awesome to hear its working for you. Thanks for using Ionic!

[2016-05-23 08:03] jgw96 commented on #6615
Hello @AjkP! Hmm it seems that your on an older beta of Ionic 2 and an old version of the Ionic@beta cli. Would you mind updating both your Ionic CLI (using npm install -g ionic@beta) and then upgrade your project to the latest version of Ionic 2 using these instructions here: https://github.com/driftyco/ionic/blob/2.0/CHANGELOG.md#angular-update-to-200-rc1 and seeing if you still have the issue?

[2016-05-23 08:06] jgw96 commented on #6530
Hello! Thanks for opening an issue with us! As this seems like more of a support question of how to do certain functionality i will urge that you ask this question on our forum (forum.ionicframework.com). Thanks for using Ionic!

[2016-05-23 08:06] #6530 closed

[2016-05-23 08:09] jgw96 commented on #4808
Hello @amilino ! Unfortunately i can't seem to reproduce this with the latest version of ionic. There was a bug in the chrome webview for a little while that caused this issue, but that has since been resolved by the chrome team. What version of Android are you testing with?

[2016-05-23 08:11] jgw96 commented on #6603
Hey @Luchillo ! Would you mind using our new ion-datetime component instead? This should give you a better experience. Here are the docs for that component: http://ionicframework.com/docs/v2/api/components/datetime/DateTime/

[2016-05-23 08:40] amilino commented on #4808
Version 6.0.1 on Nexus 5, with Ionic 1.2.4.

[2016-05-23 09:05] NoNameProvided commented on #6490
We did a little investigation on Friday (sadly didn't make too much progress), I have no more dedicated time to investigate today. I attach a very simple example debugging app to show the issue.

[test-app.zip](https://github.com/driftyco/ionic/files/277149/test-app.zip)

To set up on mac simply call:
[code]

(If you are on windows check the makefile to see what commands it runs.)

After launching

[2016-05-23 09:10] dylanvdmerwe opened #6618 "bug(ion-input): clearInput attribute not working"
#### Short description of the problem:
When testing in the browser and on a device, I am not able to press the close button on the ion-input that has the clearInput attribute. This means I cannot easily clear the text box.

It appears as though the button is disabled?

Note that the input event does not seem to be firing when this button is enabled.

[code]

**Which Ionic Version?** 2.x

#### Plun

[2016-05-23 09:10] NoNameProvided commented on #6490
@hemantgogia09 Could you share your testing setup? It works for me with pure Angular and Android. Maybe I am missing some point?

@jgw96 Could you share your method as well? I have not much knowledge of the mechanics of under the hood of Ionic. So it would help if you could share your thoughts behind your insights.

[2016-05-23 09:14] amilino commented on #4808
I can confirm that it's working with latest version of Ionic (1.3.1).

Thank you!

[2016-05-23 09:31] dylanvdmerwe opened #6619 "bug(scss): Styles not being applied correctly"
#### Short description of the problem:

I generate a new page and want to change the `ion-content` background color:
1. `ionic g page test1`
2. test1.ts, test1.scss and test1.html are generated
3. I add `@import '../pages/test1/test1';` into the app.core.scss
4. The code in test1.scss and test1.html

[code]

[code]

Note that the `ion-content` background color is not being applied.

To fix this:

[2016-05-23 09:43] herman1vdb commented on #6490
@NoNameProvided We've done some testing ourselves, turned out not to be WebView it's something else maybe the OS could play a roll or the keyboard... not all devices does this so can't be easily recreated..
All I can share have been shared on [stackoverflow post](http://stackoverflow.com/questions/37274284/ionic-item-select-flashes-on-android-after-losing-focus-on-a-text-item-input/37384686#373846

[2016-05-23 09:49] GaneshPediredla commented on #5071
How to implement a hardware back button functionality for android in ionic2?

[2016-05-23 09:53] hemantgogia09 commented on #6490
You provided wrong name @NoNameProvided but right person has answered.

[2016-05-23 09:56] NoNameProvided commented on #6490
@hemantgogia09 Ohh, sorry man! :)

[2016-05-23 09:59] rdesimone opened #6620 "feat: Make backbutton code handling optional"
**Type**: <span ionic-type>feat</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>android</span> <span ionic-platform-version>4.4</span>  <span ionic-webview>webview</span>

<span ionic-description>The backbutton handling is implemented in node_modules\ionic-angular\components\app\app.js Line :32

See also this forum comment: https://forum.ionicframework

[2016-05-23 10:05] rdesimone opened #6621 "perf: Slow load when pages are loaded the first time"
**Type**: <span ionic-type>perf</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>android</span> <span ionic-platform-version>4.4</span>  <span ionic-webview>webview</span>

<span ionic-description>Even though a page is very simple, the first page load is delayed. This looks strange - also compared to other UI frameworks. Once loaded, the next page load

[2016-05-23 11:05] christofferok commented on #6601
@Luchillo: I had some issues with the `ion-navbar` as well, but seems to work when I changed them to `ion-toolbar`.

[2016-05-23 11:10] vukasin0 opened #6622 "ToastOptions interface definition incomplete"
#### Short description of the problem:
Documentation has **enableBackdropDismiss** extra property but interface definition doesn't follow.
http://ionicframework.com/docs/v2/api/components/toast/Toast/

Ionic v2 beta7, Typescript enabled project.

[code]

Current workaround:
[code]

Currently what's shipped with Ionic@beta7:
[code]

[2016-05-23 11:58] paulogr commented on #6617
https://github.com/driftyco/ionic/blob/2.0/CHANGELOG.md#router

The Router component was disabled on beta 7.

[2016-05-23 12:46] Luchillo commented on #6598
Hi @seedgabo what about the back button that `ion-navbar` generates by default?

[2016-05-23 12:56] Luchillo commented on #6603
I saw it before posting this issue, however when i tested it in android it showed a picker similar to the IOS one, i think that's not consistent with what android users expect as the native picker uses a calendar-like picker, was it designed to be just the style for IOS?

[2016-05-23 13:50] dheran commented on #6617
@paulogr  I was trying with Deprecated one `router-deprecated`

[2016-05-23 13:52] ciesielskico commented on #6598
You add it by yourself using ion-buttons start/end as in the code above.

[2016-05-23 13:56] danbucholtz commented on #6598
Hi all, I'll take a look at this.  I pushed this code too early and for that I am sorry.

Thanks,
Dan

[2016-05-23 14:04] danbucholtz commented on #6601
Hi @Luchillo,

I'll take a look.  I pushed this code too soon and didn't test enough.  I'm very sorry about that.

Thanks,
Dan

[2016-05-23 14:05] herman1vdb commented on #4456
ionic-app-lib issue in config-xml.js:

https://github.com/driftyco/ionic-app-lib/issues/105

[2016-05-23 14:13] brandyscarney commented on #6615
@AjkP Sorry I should have been more specific, I was responding from my phone. 😛  There should be an `<ion-nav>` element somewhere in your main template, it is required for the overlays to work. Something like this:

[code]

However, like Justin said, it would be good to update your CLI and framework versions just to make sure everything is up to date. It may be easier to create a new project thoug

[2016-05-23 14:33] brandyscarney commented on #6619
So when you are placing the `test1` class on the `ion-content`, the `ion-content` element isn't a child of the `test1` class, since it is on the same element. So the following:

[code]

can be targeted using:

[code]

However, the `test1-page` class is automatically added to the `<ion-page>` element by Ionic, so since the structure is similar to this:

[code]

The `ion-content` element is a child

[2016-05-23 14:34] jgw96 commented on #6601
Hey @Luchillo as a workaround until this is fixed, could you try removing the `*navbar` from the navbar and then setting the opacity of `ion-navbar` to 1 in your sass? That seemed to fix it for me. And be assured, this is just a workaround until that code is fixed (: .

[2016-05-23 14:37] brandyscarney commented on #6618
Thanks for the issue! So is the button working when you click it when you are not focused in the input? I have an open issue for fixing that issue if so: https://github.com/driftyco/ionic/issues/6514

Just trying to see if this is the same issue. :smile:

[2016-05-23 14:41] jgw96 commented on #6598
Hey all! You can look on [this](https://github.com/driftyco/ionic/issues/6601) issue for a temporary workaround that i found for this issue.

[2016-05-23 14:43] brandyscarney commented on #6622
Hey, thanks for the issue! The backdrop was actually completely removed from the Toast component. I updated the docs to remove this so it should be live on the site soon: https://github.com/driftyco/ionic/commit/aeeae3f675f6ee4b2edb5520e931d140e80d9c4c

[2016-05-23 14:43] #6622 closed

[2016-05-23 14:43] mhartington opened #6623 "Intercept nav.pop()"
### Situation

You're on a form page, and the user accidentally hits the back button (either the generated back button, or hardware back button). In stead of just going back and destroying that page, it would be great to create some sort of page hook that could run and prevent the page from navigating back.

Might even be good to extend `onPageWillLeave`

[code]

[2016-05-23 14:46] seedgabo commented on #6601
That seemed to fix it for me too, another solution

[2016-05-23 15:00] MortezaAghili opened #6624 "how to break line in ionic 2 elements like buttons"
i have a few buttons in my app's screen and i want use Icon and below of that, write the title of the button...

in ionic 2 i can't use "< br>" or h1,h2 or even display block for this purpose.

code:

    <button primary>
         <ion-icon name="calendar"></ion-icon>
         Calendar
    </button>

i tried like this:

    <button primary>
         <h1>
             <ion-icon name="calendar"></io

[2016-05-23 15:18] dylanvdmerwe commented on #6618
Hi @brandyscarney

See: http://plnkr.co/edit/xz6INvvLKyTJS4TWgOhr?p=preview

The clearInput button becomes active when the focus moves off of the input field.

[2016-05-23 15:20] dylanvdmerwe commented on #6619
I guess that kind of makes sense. Bit confusing though for users...?

[2016-05-23 15:20] jgw96 commented on #4808
Awesome! Glad its working for you now!

[2016-05-23 15:20] #4808 closed

[2016-05-23 15:26] jgw96 commented on #6617
Hey @dheran ! Sorry, but neither router is going to work as expected for now. With all the changes going on with the router on the Angular 2 side of things, we have decided to hold off on really implementing Angular router implementation until it gets more stable. While we would love to give our users a working implementation now, we have decided to hold off as it would most likely be pretty buggy

[2016-05-23 15:26] #6617 closed

[2016-05-23 15:28] Luchillo commented on #6601
@jgw96 I see @danbucholtz has seen the other issue where i referenced this issue, it seems this blocking issue only happens to me, i'll be testing the workarounds result and get back to you.

[2016-05-23 15:35] jgw96 commented on #6490
@NoNameProvided I am simply testing with the repo that was given by the op. Im having trouble reproducing this on my devices (Nexus 6 running the Android N dev preview, Nexus 7 running Anrdroid 6.0.1 and a Moto X 2014 running Android 5.1.1) unfortunately. I seem to have only been able to repro once, but it may have been user error on my part. What devices and Android versions have you all been abl

[2016-05-23 15:48] jgw96 commented on #6621
Hey @rdesimone ! This is by design, we lazy load our components, so the first load is always gonna be the slowest, but after that first load it should be fast. If you would like to "preload" all your tabs you can add the `preloadTabs` attribute to your `ion-tabs` components and set it to true. http://ionicframework.com/docs/v2/api/components/tabs/Tabs/ Be aware that this may make the first app loa

[2016-05-23 15:53] jgw96 commented on #6603
@Luchillo Hmm weird, it should show the material design version of the datetime picker on Android. Would you mind making a quick plunker that i could test with? Thanks!

[2016-05-23 15:58] Luchillo commented on #6601
@jgw96 removing `*navbar` allowed to render the navbar, however the back button and icon are missing.

However i can replace that with toolbar and a button, the blocking issue is the bigger one that i can't find why it happens.

However i can tell that for me it happens only when using either the `Modal.create(page)` method or the `nav.present(modal)` method since i tested commenting all my custom

[2016-05-23 16:01] Luchillo commented on #6601
Also transition animation doesn't work ok, when leaving the modal is ok but when entering it jumps straight without any animation.

[2016-05-23 16:04] Luchillo commented on #6598
@ciesielskico I added the toolbar and the back button by hand, now i can go back from modal, but the modal content is still blocked by the backdrop, yours work ok? i tested commenting all my css but it still has the backdrop blocking my user interactions.

[2016-05-23 16:08] Luchillo commented on #6601
Caught a little glimpse of how to fix the blocking issue, if i use the toolbar it overcomes the backdrop because it has `z-index: 10`, setting the same for the modals `ion-content` and anything else will overcome that issue, but the animation not playing at start of transition still doesn't work for me.

[2016-05-23 16:14] domzinhuu commented on #5071
Well.. i have this method on the platform.ready();
`
registerBackButtonListener
`
and the method registerBackButtonListener

`
registerBackButtonListener() { document.addEventListener('backbutton', () => { var nav = this.getNav(); if (nav.canGoBack()) { nav.pop(); } else { this.confirmExitApp(nav); } }); } - See more at: http://www.codingandclimbing.co.uk/blog/ionic-2-android-back-button-13#commen

[2016-05-23 16:18] daveshirman commented on #5071
I think that getComponent is gone as of beta 7. Check the Ionic blog post
for the breaking changes, this is mentioned.
On 23 May 2016 5:15 p.m., "Maique Rosa" <notifications@github.com> wrote:

[2016-05-23 16:21] Luchillo commented on #6601
Here's some images that show the `z-index` properties of the components that are involved:

1. Backdrop
![backdrop](https://cloud.githubusercontent.com/assets/9698639/15476921/9c7cfe76-20d7-11e6-86d1-5cd4341471e7.png)

2. Modal-wrapper, note that even with `z-index:20` it still was under the backdrop:
![modal-wrapper](https://cloud.githubusercontent.com/assets/9698639/15476932/ae52f678-20d7-11e6-9

[2016-05-23 16:25] dheran commented on #6326
![screenshot_2016-05-23-21-53-18](https://cloud.githubusercontent.com/assets/15922996/15477197/fcb3328e-2130-11e6-9e93-79af5e055203.png)

[2016-05-23 16:28] Luchillo commented on #6603
The docs itself show the android version is almost the same as the ios version.

[2016-05-23 16:32] domzinhuu commented on #5071
Ok

[2016-05-23 16:39] zakton5 opened #6625 "<ion-select> cannot select correct option if its values are objects, and ngModel is tied to a different object."
#### Short description of the problem:

<ion-select> cannot select the appropriate option if its values are objects, but the value tied to ngModel is another object with the same properties.
#### What behavior are you expecting?

I expect the correct option to be selected when the page loads, despite the fact that they are different objects with the same properties.

Assuming I have the following

[2016-05-23 16:55] jgw96 commented on #6603
ahh ok, sorry i thought you meant it was showing the actual ios one and not that it just looked similar. So is the issue just with how it looks, or is it the functionality that is not working for you?

[2016-05-23 16:57] jasonwaters commented on #5945
Any chance I can persuade someone to take a look at this one?  It is a glaring problem in my application...

[2016-05-23 17:06] rdesimone commented on #6621
@jgw96 thanks, I am not talking particularly about tabs. As you confirmed - the first page load is slow by design. With this feature request I want to suggest to optimize the first page load. An app has to be fast. The delay is disturbing. If you are not able to improve, it is a different story. But keep the feature request open to know that somebody addressed this issue.

[2016-05-23 17:41] jgw96 commented on #6621
Sorry i misunderstood you, but very glad to talk about overall first render performance! So are eventual goal, which we are currently working on now, is taking advantage of Angular Universal to create an App Shell that will make Ionic 2 apps load lightening fast. From my testing with the excellent (but still a work in progress) Angular Mobile Toolkit, the first render with Angular Universal is so

[2016-05-23 18:01] zakton5 commented on #6625
I've implemented a solution, and it seems to work properly. I've added an @Input() property that takes in a string value that represents the object property to compare. My only question is, what should I name it? As of now, it is called 'trackBy'. I could also call it 'property' or something like that. Any feedback?

[2016-05-23 18:04] rdesimone commented on #6621
@jgw96 very glad to read your comment! Yes, this is absolutely necessary.

Again we have a misunderstanding - LOL. Your comment addresses the issue we have in CLI https://github.com/driftyco/ionic-cli/issues/1010 . In this issue I am talking about the first load of any page. Every time a user selects a page for the first time, there is a delay which is disturbing. If possible this should be optimi

[2016-05-23 18:59] jgw96 commented on #6621
Sorry, actually i was talking about this issue too, although it definitely ties in to our other issue (: So once we get a better build process including offline compile etc, along with angular universal and the app-shell concept working, i think you will see not only first render, but navigating between pages being much faster.

[2016-05-23 19:00] AjkP commented on #6615
@brandyscarney - My app does not have a `ion-nav`, instead it uses tabs as below:
[code]

Using a simple ion-nav seemed to get the widget to work 😮
[code]

But it removed the tabs. I ll try to encapsulate the tabs in a different page. I guess I don't quite understand the importance of the `ion-nav` element.

@jgw96 I'll make sure I update.

[2016-05-23 19:01] shyamal890 opened #6626 "App crashes on push.register"
Ionic app is crashing on `push.register(callback)`

Here is the log from `adb logcat` :
[code]
Ionic Version? 1.2.4
ionic info:
Cordova CLI: 6.1.1
Ionic Framework Version: 1.2.4-nightly-1917
Ionic CLI Version: 2.0.0-beta.25
Ionic App Lib Version: 2.0.0-beta.15
OS: Windows 7 SP1
Node Version: v4.4.3

[2016-05-23 19:11] ciesielskico commented on #6598
I have two different modal screens, both work fine.
They are simple Ionic pages which are displayed like this:

[code]

Besides switching `ion-navbar` to `ion-toolbar` and changing some paddings I have not changed anything else. There must be something else in your code, HTML or scss.
Maybe some changes in z-index?

[2016-05-23 19:18] rdesimone commented on #6621
LOL - no problem!

I am a little bit scared about the timeframe but everything sounds very nicely!

[2016-05-23 19:27] jgw96 commented on #6598
@ciesielskico are you on beta.7?

[2016-05-23 19:30] jgw96 commented on #6626
Hello! Thanks for opening an issue with us! Since this issue has more to do with the Ionic Platform and not the Ionic framework i will be moving this issue to the correct repo. Thanks for using Ionic!

[2016-05-23 19:30] jgw96 commented on #6626
This issue was moved to driftyco/ionic-platform-issues#106

[2016-05-23 19:30] #6626 closed

[2016-05-23 19:33] brandyscarney commented on #6615
Yeah, currently the `<ion-nav>` is required for all elements that use overlays (alert, action-sheet, modal, select, etc.).

The conference app has an example of using `<ion-nav>` with tabs. Instead of setting the root page to `TutorialPage`, you would set it to the `TabsPage`:

https://github.com/driftyco/ionic-conference-app/blob/master/app/app.html#L69
https://github.com/driftyco/ionic-conferenc

[2016-05-23 19:46] keithdmoore commented on #6623
👍

[2016-05-23 19:49] keithdmoore commented on #6608
@jgw96 Can you remove the ios label and add the datetime label on this one?

[2016-05-23 19:56] Luchillo commented on #6598
Just about to ask the same.

[2016-05-23 19:58] Luchillo commented on #6603
It works, just that i was expecting something like the native android one which shows a calendar kind like a popup or alert.

[2016-05-23 20:38] ciesielskico commented on #6598
Yep, as I have said in my first post. My package.json:  `"ionic-angular": "^2.0.0-beta.7"`.
Anyways, my problem was solved by changing navbar to toolbar. Good luck with the backdrop.

[2016-05-23 20:46] jgw96 commented on #4770
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-23 20:46] #4770 closed

[2016-05-23 20:51] AjkP commented on #6615
Thanks @brandyscarney . That app is super cool! Maybe it could be referenced from the tutorial / documentation somewhere?

Closing issue.

[2016-05-23 20:51] #6615 closed

[2016-05-23 20:53] jgw96 commented on #6589
Hey @ryanlin1986 . You can definitely use icons in our buttons. Can you try this for me?
[code]

[2016-05-23 21:08] gfviegas opened #6628 "Feature Request: File Input component"
As described in [this thread](https://forum.ionicframework.com/t/input-type-file-ionic-2/44798), would be nice to have a well designed and pretty file input component.

Would have a more native feel.. Also would be great to have stuff like image preview, assync upload (fire a method when input changes), extension validation, etc...

 Suggestions?

[2016-05-23 21:23] nyankobu010 commented on #6416
+1 occurs in platform:ios too when using chrome debugger

[2016-05-23 21:34] jgw96 commented on #6612
Hello! Thanks for opening an issue with us! Did you follow [these](https://github.com/driftyco/ionic/blob/2.0/CHANGELOG.md#angular-update-to-200-rc1) directions when you were upgrading? Also what platform are you seeing this issue on? Chrome?

[2016-05-23 22:05] TheWeepingGorilla opened #6629 "Install error: cannot install ionic-scripts version 1.3.1"
#### Short description of the problem:

Install failure when following steps here: [(http://www.angular-meteor.com/tutorials/whatsapp/meteor/bootstrapping)]

The error is as follows:
`meteor npm install ionic-scripts --save
npm WARN deprecated ionic-scripts@1.3.1: Wrong dependency
npm WARN peerDependencies The peer dependency angular@^1.5.3 included from ionic-scripts will no
npm WARN peerDependen

[2016-05-24 00:09] Ken-SixxCandles5702 opened #6630 "BETA7 - Error with Tabs tutorial after upgrade from Beta 6"
**Note: If you are having problems formatting your issue please refer to this article on using markdown in Github:**

https://guides.github.com/features/mastering-markdown/

**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:
I followed the upgrade steps for Ionic2 Beta6 t

[2016-05-24 00:27] snrelangi opened #6631 "bug: ionic installation fails"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>1.x</span>

**Platform**: <span ionic-platform>desktop</span>  <span ionic-webview>browser</span>

<span ionic-description>C:\>npm install -g cordova ionic
is failing ... below are the validations ...

C:\>node -v
v4.4.4

C:\>gulp -v
[19:57:27] CLI version 3.9.1

C:\>bower -v
1.7.9

C:\>npm -v
2.15.1

C:\>Cordova -v
6.1.

[2016-05-24 00:35] VR-Architect commented on #6630
Hey, my apologies for any misinformation above. It is the Ionic2 Tutorial and not the Tabs template. By bad information to my colleague.

I started a brand new Tutorial template to see if the issue exists in a new instance. If I make these changes to the upgraded version to match the new instance version, all works as expected. So this may just be an add-on instruction for anyone upgrading the tut

[2016-05-24 01:13] aoxiaoqiang commented on #1353
`$ionicSlideBoxDelegate.loop(true);` can solve this issues.

[2016-05-24 01:15] aoxiaoqiang commented on #1353
Another way is `ng-if='repeat value'`

[2016-05-24 02:17] ryanlin1986 commented on #6589
I mean the button item of action sheet.

[2016-05-24 03:53] itaibs commented on #4506
Hi,
Anybody knows if this fix is already available also in the MeteorJS ionic package? (https://atmospherejs.com/driftyco/ionic).

I'm experiencing this issue there, and I'm not able to update to a newer version of the package.

[2016-05-24 07:59] ghenry22 commented on #6630
I also came across this, agree that the upgrade doc should list the required changes to app.js vs earlier default values otherwise it makes a frustrating situation if you can't figure out where it's breaking after following through step by step.

[2016-05-24 09:10] dvdbrink opened #6632 "VirtualScroll inside angular2 component doesn't render virtual items"
#### Short description of the problem:

Using VirtualScroll inside an angular2 component doesn't render the virtual items as expected. However, adding content before the tag using a virtualScroll does make the virtual items render. The workaround is outlined in the code below and in the plunker examples.

**Ionic Version:** 2.x

A component with the following template does **not** render the virtu

[2016-05-24 09:18] maqjav commented on #4803
In a tablet with Windows 8.1 PRO you need to use the next code:

     if (ionic.Platform && ionic.Platform.platforms.indexOf("win32")) {
          element.attr('data-tap-disabled', 'true');`
     }

[2016-05-24 09:37] shyamal890 commented on #6529
@danbucholtz Any updates on this? Am stuck, can't publish my app without a solution to this issue. Would really appreciate if a solution to this can be rolled out.

[2016-05-24 10:01] GaneshPediredla commented on #6556
For ionic 2 how can I get that functionality? (hardware back buttton for android)

[2016-05-24 10:05] lucasbeef commented on #6334
Ok, I got it working !
I found out that the events wouldn't trigger because my template wasn't encapsulated in an <ion-view>. It used to work that way.

Sorry about that :confused:
And thank you ! It's really cool that you keep on improving and supporting V1 !

[2016-05-24 10:13] mljsgto222 opened #6634 "bug:$digest already in progress when click quickly -- only iOS"
**type**: bug
**Platform**: iOS 9.3 webview and safari

if the user click element quickly when use ng-click or ionicGesture only on iOS, this error  `$digest already in progress` in ionic 1.3.0.

And I found this issus in this code:
`scope.$apply(function() {
        clickHandler(scope, {$event: (event)});
 });`
[https://github.com/driftyco/ionic/blob/master/js/angular/directive/ngClick.js#L21](ur

[2016-05-24 10:47] speciose opened #6635 "Feature: When NavOpts {animate: false} "back" button still animate transition"
I'm trying to turn off all animations in my Ionic 2 app and I'm doing this with `animate: false` option inside nav controller. And it works but only when I go forward. When I click "go back" button (which is automatically generated for me) there are still animations goes on.
Is there any option that will turn if off too? Or I need to code all back buttons manually?

[2016-05-24 10:50] dylanvdmerwe opened #6636 "feat(segment): ability to add badges"
A feature request would be the option to add a badge number to an individual segment control. Similar to the tabBadge parameter on tabs.

[2016-05-24 11:06] jalef commented on #6231
Hello
I have upggrated to beta.6 but this still remains
A component renders only if i put the attribute 'item-right'

Thanks

[2016-05-24 11:57] Nodonisko commented on #6531
Same problem is with _PullToRefresh_ component.

[2016-05-24 12:26] Lindstrom1989 opened #6637 "Bug/Feat: Make tabs Condidtional"
#### Short description of the problem:
In Ionic 2 beta7 and previous.
Tabs template does not work using ngIf or ngSwitch conditions.
It only works when adding a tab but does not remove a tab when condition is false.
If the condition is met more than once multiple instances of the same tab are rendered in the dom.

**Steps to reproduce:**
1. Start tabs project
2. add ngSwitch/ngIf to tabs template

[2016-05-24 12:57] dylanvdmerwe opened #6638 "bug(tab): badge on Android not highlighted"
#### Short description of the problem:
The tab's badge almost seems to be disabled on Android when the tab is not selected.

#### What behavior are you expecting?
The badge on Android (and WP) should be highlighted on tabs even when the tab is not selected. This behaviour works correctly on iOS.

See an example below:

IOS
![ios](https://cloud.githubusercontent.com/assets/2852839/15504522/b01068c2

[2016-05-24 13:10] VR-Architect commented on #6621
@jgw96 I didn't see the integration with Universal in the roadmap, though I have read it is in many places. Any ideas which can be shared?

To be frank, I am sitting here trying to decide if Ionic2/Angular2 is the right direction for our next line-of-business application. The only reserve I have is if the solution downloads the entire webapp for just a single page hit, what would our bandwidth cos

[2016-05-24 13:13] VR-Architect commented on #6637
Up vote for this bug or feature. For line-of-business applications, use of dynamically added tabs is key. We show/hide based upon permissions areas of a record.

[2016-05-24 13:39] jdnichollsc commented on #6334
Yes, thanks Ionic team for support Ionic 1.x! :dancers:

[2016-05-24 14:27] speciose opened #6639 "[v2][beta7] Inset modal doesn't fit on my device screen, how can I turn it to full screen as it was before?"
`Inset modals are now the default for larger screens, such as tablets and traditional computers.`

How can I change my modals back to it's previous full screen version? All this "inset" things ruined my styles. Sad but true(

[2016-05-24 14:33] jgw96 commented on #6639
Hello! Thanks for opening an issue with us! Would you mind explaining what happens to your styles with the inset modals? Thanks for using Ionic

[2016-05-24 14:36] jgw96 commented on #6629
Hello! Thanks for opening an issue with us! Since this issue is related to the Ionic CLI and not the framework I will be moving this issue to the appropriate repo.

[2016-05-24 14:37] jgw96 commented on #6629
This issue was moved to driftyco/ionic-cli#1022

[2016-05-24 14:37] #6629 closed

[2016-05-24 14:41] jgw96 commented on #6631
Hello! Thanks for opening an issue with us! Would you mind upgrading to node.js 5.x and npm 3? That is our "official configuration" right now until we fully support node 6. As that should fix your issue I will close this for now, but if it still does not work feel free to comment back and I will happily reopen. Thanks for using Ionic!

[2016-05-24 14:41] #6631 closed

[2016-05-24 14:42] jgw96 commented on #6589
Hey @ryanlin1986 it should work the same way on an action sheet (: Would you mind making a plunker that demonstrates your issue?

[2016-05-24 14:43] JBouguima commented on #6631
no issue with node 5.x  and npm 3

[2016-05-24 14:46] jgw96 commented on #6630
Hello all! We do mention changing your imports and that app.getComponent is deprecated in the releasr/upgrade docs for beta.7. I think I may be misunderstanding the issue?

[2016-05-24 14:48] trankevin opened #6640 "Native IOS select list layout issue"
I've got a regular multiple select list and the native select list that pops up in IOS looks like this the screenshots below. Any idea how to fix or why this is happening?

*Multiple select*
![screen shot 2016-05-24 at 10 39 19 am](https://cloud.githubusercontent.com/assets/7633905/15508017/dbad1012-219b-11e6-8d78-436a32ae6767.png)

*Single Select*
![screen shot 2016-05-24 at 10 39 32 am](https://

[2016-05-24 14:56] ghenry22 commented on #6630
yep changing the imports is cool,

It's the other bits that aren't covered, they are updated in the starter apps so when you check those for reference you can find what to do but when the docs are so close just that last little bit to make it easier for devs makes the difference.  Then I wouldn't have spent an hour looking through the forums and then the starter apps to find out what was up.

TS v

[2016-05-24 15:05] jlebras commented on #6578
Hello, you don't provide the scss code anymore in ionic-angular ?
I had it in ionic-sdk@1.0.0 and used it for theming (overriding default variables).
For now I'm using the github url directly to install the sdk (I get the scss here obviously), or is there a better way to customize the default styles ?

[2016-05-24 15:07] jgw96 commented on #4803
Hello all! Thanks for opening an issue with us. I am going to close this one as we don't actually officially support Windows 10 with Ionic 1(although we do with Ionic 2). Thanks for using Ionic everyone!

[2016-05-24 15:07] #4803 closed

[2016-05-24 15:12] danbucholtz commented on #6578
Hi @jlebras,

I suppose we could include the sass going forward.  Thanks for letting us know.

Thanks,
Dan

[2016-05-24 15:13] jgw96 commented on #6640
Hello! Thanks for opening an issue with us! Sorry, but I'm a little confused, is this an issue with the ion select element?

[2016-05-24 15:25] speciose commented on #6639
I have this after update:
![screenshot_20160524-182109](https://cloud.githubusercontent.com/assets/8721324/15509536/83568c9a-21dc-11e6-8ca0-6f3b4c8464a6.png)
You can see that modal goes outside my screen

Maybe it's because I'm using scale
`<meta name="viewport" content="width=device-width, initial-scale=1.6, minimum-scale=1.6, maximum-scale=1.6, user-scalable=no">`

Full screen modals were perfec

[2016-05-24 15:28] trankevin commented on #6640
Hey, I do not think that it's an issue with the select element but possibly how the select is being handled by either ionic or ios? I am not using v2 of ionic so i'm actually not using the ion-select element just a regular html select, if there's a difference. I believe it's the native select list that pops up when i select the HTML select in my app.

Hopefully that explains my issue a bit better,

[2016-05-24 15:34] speciose commented on #6639
Even when I make screen smaller and modal become full screen I can't scroll it.

[2016-05-24 15:36] WebDevLyna commented on #6629
Is there a solution to this? I have the exact same errors and warnings

[2016-05-24 15:36] khamaileon commented on #6612
Hi @jgw96! Yes I followed all the instructions. Same issue on Chrome Version 50.0.2661.102 (64-bit) and Firefox 46.0.1.

[2016-05-24 15:38] jgw96 commented on #6640
Ahh, ok now i understand perfectly. Thanks for clearing that up! So, does this happen with a select element on a regular webpage? Or even just a plain angular app running in cordova?

[2016-05-24 15:41] trankevin commented on #6640
This happens when running a regular angular ionic app on IOS emulators and actual devices. Does not happen with android as it has a different select popup.

[2016-05-24 15:46] jgw96 commented on #6612
@khamaileon Thanks for the info! Would you mind making a quick plunker real quick demonstrating this issue? That would be awesome!

[2016-05-24 15:47] jgw96 commented on #6640
So, just to be sure, it only happens with an ionic app? A select element in a regular webpage in safari is fine?

[2016-05-24 15:48] jgw96 commented on #6639
@speciose would you mind making a plunker that demonstrates this issue please?

[2016-05-24 15:49] danbucholtz commented on #6529
Hi @shyamal890, understood.  I will get to it as soon as I can.  Is there a work around that you could consider since it appears this functionality hasn't worked in previous versions of Ionic?

Thanks,
Dan

[2016-05-24 15:49] trankevin commented on #6640
Only in an ionic app on IOS :)

[2016-05-24 15:49] jgw96 commented on #3793
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-05-24 15:50] jgw96 commented on #3815
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-05-24 15:50] jgw96 commented on #3856
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-24 15:50] #3856 closed

[2016-05-24 15:55] jgw96 commented on #4591
Hello! Thanks for opening an issue with us! As this seems like more of a support question i will urge that you ask this question on our forum (forum.ionicframework.com), as you already have. Thanks for using Ionic!

[2016-05-24 15:55] #4591 closed

[2016-05-24 15:56] jgw96 commented on #4628
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-05-24 15:58] jgw96 commented on #4181
Hello all! Is this causing an issue with any custom css you all are doing?

[2016-05-24 15:59] jgw96 commented on #4662
Hello! Thanks for opening an issue with us! As this seems like more of a support question of wanting help with your custom directive i will urge that you ask this question on our forum (forum.ionicframework.com). Thanks for using Ionic!

[2016-05-24 15:59] #4662 closed

[2016-05-24 15:59] jgw96 commented on #4663
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-05-24 15:59] #4663 closed

[2016-05-24 15:59] jgw96 commented on #6640
@trankevin could you throw this into a plunker i could test please? Thanks!

[2016-05-24 16:01] jgw96 commented on #4831
Hello! Is this still an issue with the latest version of ionic? Thanks!

[2016-05-24 16:04] jgw96 commented on #4939
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-05-24 16:05] jgw96 commented on #4943
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-05-24 16:06] deliverymanager commented on #4831
Yes the issue remains on the latest vesrion 1.3.1

[2016-05-24 16:08] QuentinFchx commented on #4181
Not on my end!

[2016-05-24 16:08] khamaileon commented on #6612
I don't know plunker. It won't be easy for me :(
But you can reproduce easily by creating a new project
[code]
and replace app.js by this:
[code]

[2016-05-24 16:09] jgw96 commented on #4927
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-05-24 16:12] shyamal890 opened #6641 "Freeze scrolling when ion-item is swiped horizontally"
When `ion-refresher` is used with `ion-option-button` in `ion-item` and `ion-item` is swipped the scroll is not freezed.

[Example Plunker](https://plnkr.co/edit/JmrWx8?p=preview)

How do I achieve scroll freeze while swipe?

Is this a good temporary solution?:
[code]

**Which Ionic Version?** 1.2.4

[2016-05-24 16:13] jgw96 commented on #4899
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-05-24 16:18] jgw96 commented on #5583
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-05-24 16:19] jgw96 commented on #5578
Hello! Is this still an issue with the latest version of ionic? Thanks!

[2016-05-24 16:38] trankevin commented on #6640
@jgw96 It's part of a full ionic app .. I could possibly pull out just the select list but the issue is only on IOS devices and emulators so don't think it would show up on a webpage. Was more wondering if this issue has ever come up before or if it's possible to style the native ios select list?  ( I couldn't find anything ) Might not even be an issue with ionic but figured I'd ask anyways.

[2016-05-24 16:40] jgw96 commented on #6107
Hello! Sorry for the late reply on this issue. It seems that your using an iframe full screen for your app, which is not something we can really support. I would recommend building out the app with Ionic instead of using a fullscreen iframe as you will get much better performance, wont have to deal with any potential security concerns related to iframe's and you app will work much more consistentl

[2016-05-24 16:40] #6107 closed

[2016-05-24 16:42] speciose commented on #6639
I am in a big hurry today. I've changed modal component with previous beta.6 version to make it work.
I can make a repository with my app on sunday (I will remove all sensitive data but you will see what's the problem)

[2016-05-24 16:44] jgw96 commented on #6640
Hmm, im having trouble reproducing with my iphone 5. As far as i know it is impossible to style the native select list as it is a native component and not an html component. Which version of ios are you running?

[2016-05-24 16:49] shyamal890 commented on #6529
I have no idea of how I can implement a workaround or hack. If there is a work around, I would surely like to try it out.

The problem is, when a new tab is loaded, the old stays in foreground when it should move behind the latest one.

[2016-05-24 16:49] trankevin commented on #6640
@jgw96 Ah weird.. I don't think my I've got anything crazy in my select lists either. I'm running ios 9.0 btw.  I appreciate you trying it out! I think I'll try setting up a test project and see if I get the same issue.

[2016-05-24 18:03] VR-Architect opened #6642 "Stacked setting for checkbox not working as expected"
#### Short description of the problem:

When using the stacked setting, the label is still located to the right of the checkbox and not the top. Also the font color is black, while the font color of the inputs are grey.

BTW, if you could give use a setting to put the label to the left of the checkbox, that would be great too!
#### What behavior are you expecting?

Label to located on top of the c

[2016-05-24 18:12] jgw96 commented on #6640
No problem! (: Alright awesome, tell me what you find please!

[2016-05-24 18:12] zakton5 opened #6643 "ionic2 - custom components/content do not appear in within <ion-item>"
#### Short description of the problem:
I have created a custom input component that I would like to place within an ion-item. The problem is that the ion-item only accepts specific components due to the following line within item.ts line 51:

[code]
Anything else is ignored and not rendered. Clearly, this is a problem for any type of custom input functionality.

#### What behavior are you expectin

[2016-05-24 18:23] JPatricio commented on #5408
@gregor-srdic I'm having this exact same issue. Were you able to come up with any workaround?

[2016-05-24 18:47] ronaldjeremy commented on #4494
yes, i am still having this issue!

[2016-05-24 20:05] jgw96 commented on #6612
Hey, so i may have come up with something! `Promise.reject()` takes a reason parameter, so if you do something like this
[code]
then it seems to work fine. Would you mind giving this a try? Thanks for using Ionic!

[2016-05-24 20:07] jgw96 commented on #6641
Hey @shyamal890 ! This workaround seems to work fine for me. I will look more into this and see if there is anything we can do on our side for this issue. Thanks for using Ionic!

[2016-05-24 20:12] danbucholtz commented on #6639
Hi @speciose,

Please update your viewport line in `index.html` as follows:

[code]

The modal css and media queries are fully configurable, so you can set them to whatever you want for your particular build.  See the sass [here](https://github.com/driftyco/ionic/blob/2.0/src/components/modal/modal.scss).

Thanks,
Dan

[2016-05-24 20:12] #6639 closed

[2016-05-24 20:15] wheelertom commented on #4928
I'm also seeing this issue with the v2 beta.  Just started happening.

[2016-05-24 20:22] evancillo commented on #1931
+1 Same one here....     "version": "1.3.1",

[2016-05-24 20:27] khamaileon commented on #6612
Same answer

[code]
[code]

[2016-05-24 20:31] jgw96 commented on #6635
Hey @speciose ! Thanks for opening an issue with us! It is currently not possible to turn off all animations in an Ionic 2 app, but it is definitely worth considering adding in the future. I'm gonna keep this issue open for now, but change it to a feature request. Thanks for using Ionic!

[2016-05-24 20:35] jgw96 commented on #6628
Hello @gfviegas ! Thanks for opening this feature request with us. Good idea, it is definitely something to consider. Ill keep you updated on the status of this. Thanks for using Ionic!

[2016-05-24 20:55] jgw96 commented on #6621
Hey @VR-Architect you are correct about not seeing it on the roadmap, it is still very early in consideration. The first thing we want to focus on is getting our size down. Currently Ionic 2 is relatively big, but we have some ideas like offline template compile, aggressive minifying etc, which we are wanting to implement relatively soon. This would help with both @rdesimone's and your issue prett

[2016-05-24 20:57] jgw96 commented on #4928
@wheelertom What version of Android are you seeing this on?

[2016-05-24 21:13] jgw96 commented on #6612
@khamaileon Sorry you are still having this issue. Would you mind trying it in a brand new Ionic 2 beta.7 project? Is this happening on a project that you updated to beta.7 or in a fresh project?

[2016-05-24 21:14] alfredoeflores opened #6645 "Side Menu Close Delay iOS and Ionic View"
#### Short description of the problem:
Side menu closes with a delay, or doesn't close if you tap the menu button immediately after you open the menu.

#### What behavior are you expecting?
When creating an app with the sidemenu template and using Ionic View, the menu is supposed to toggle using the button on the top left corner. The menu opens when you press the button, as expected, but if you im

[2016-05-24 21:40] evancillo commented on #1931
My workaround by now is this function.

function getElementOffset(element){
	var de = document.documentElement;
	var box = element.getBoundingClientRect();
	var top = box.top + window.pageYOffset - de.clientTop;
	var left = box.left + window.pageXOffset - de.clientLeft;
	return { top: top, left: left };
}

[2016-05-24 21:48] jgw96 commented on #6612
Ok, so i think i have the final solution for you. Promise.reject returns a a rejected promise so you should do something like this:

[code]
hopefully this finally fixes the issue for you! Sorry, i should have thought of this earlier.

[2016-05-25 00:27] andremiguelaa commented on #4939
I think it's solved:

https://github.com/driftyco/ionic/pull/4839

[2016-05-25 00:46] vance commented on #2346
native scroll with images crashes ionic 1.7.14 on ios.

[2016-05-25 00:59] Bouzmine commented on #6181
Title will also overlap if it's really long, even if back text is "Back". Solution could be pushing the title to the right if there is nothing else on the nav-bar like native does :
![iOS' Settings app](https://cloud.githubusercontent.com/assets/15067923/15524614/0d22837e-21f2-11e6-884e-e50b42ad5e17.jpg)

[2016-05-25 02:26] danbucholtz commented on #6495
Hi @wzhsh90,

Can you make a Codepen from our list of starters showing the issue?

http://codepen.io/ionic/pens/public/?grid_type=list

Thanks,
Dan

[2016-05-25 02:27] danbucholtz commented on #6577
Hi all,

I'll take a look at this.

Thanks,
Dan

[2016-05-25 02:49] robertdp commented on #6580
This might be related to https://github.com/angular/angular/issues/5328

[2016-05-25 03:06] danbucholtz commented on #6577
Hi @asmund1,

When I use your Plunkr, I do see the issue.  However, it is because your template is not a container.  That's an edge case, so I'm not going to make a change right now to support that.  If you change your template to the following, it works correctly.
[code]

@rxnh8255, @darthdie, Please help me out with what is unique with your apps.  Can you make a plunkr or a codepen demonstrating

[2016-05-25 03:28] rxnh8255 commented on #6577
@danbucholtz
[http://plnkr.co/edit/dOXTj7](url)
Look this.
When I add this `<button ng-click="add()" class="button"></button>` at the end.It not works
When I delete the button,it works good.

[2016-05-25 03:42] rxnh8255 commented on #6577
http://plnkr.co/edit/dOXTj7?p=preview

[2016-05-25 04:00] danbucholtz commented on #6577
Hi @rxnh8255,

Well, I understand why it doesn't work with the button.

Due to some challenges with ui-router, we need to look-up the element to get the correct scope to dispatch the life cycle events.  Since your template is not inside of a container like `<div></div>` or `<ion-view></ion-view>`, we have more than one child, which means the logic does not execute correctly.

See ` if (containerEl

[2016-05-25 04:54] dylanvdmerwe commented on #6637
Please see: https://github.com/driftyco/ionic/issues/5768

This can be accomplished using the `show` input property on each tab. http://ionicframework.com/docs/v2/api/components/tabs/Tab/#input-properties

[2016-05-25 05:51] EugeneSnihovsky commented on #6368
I have same issue on beta.7 release in ios emulator on ipad2 iphone5 and others.
I used custom navbar component with ion-navbar component

**Custom navbar component example:**
[code]

[code]
In CSS just change background:
[code]

**Custom navbar component usage:**
Just add element to DOM @page template
[code]
**Screen example**
![screen example](https://pp.vk.me/c626916/v626916167/d22a/IHUKjfysZn4

[2016-05-25 05:59] debojyoti0391 opened #6647 "bug: Date format for input type element is different"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>1.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>Date format when using ionic serve is mm/dd/yyyy.But when checking the app in mobile,it is in yyyy/mm/dd.Is this related to ionic or html?</span>

<span is-issue-template></span>

[2016-05-25 06:42] tejit2004 commented on #5993
Hi @brandyscarney, Any updates on the issue? Also I want arrow-up and arrow-down for list header, so that can be toggle by clicking upon. Is that on development?

[2016-05-25 06:55] jgw96 commented on #6647
Hello @debojyoti0391, thanks for opening an issue with us! I just have a few questions for you. When using Ionic serve what browser are you using? Also, are you running the app on ios or Android? Thanks for using Ionic!

[2016-05-25 06:58] jgw96 commented on #4939
Awesome, looks like it is solved. Thanks for using Ionic! If anyone still has this issue feel free to comment and i will happily reopen!

[2016-05-25 06:58] #4939 closed

[2016-05-25 06:59] debojyoti0391 commented on #6647
Browser: chrome ver.50.0.2661.102 (latest version)
Platform: android

[2016-05-25 07:04] amirtutunchi commented on #2340
Thanks a lot i have same problem and wondering how to solve it . it was fantastic guys.

[2016-05-25 07:21] onkarjanwa commented on #5806
@Tobiaswk Great solution to the problem.

[2016-05-25 07:42] khamaileon commented on #6612
It works fine, great!
Do you know why it worked on before beta 7 ?
Is it due to transpiling or something like this ?

[2016-05-25 08:18] gillestasse commented on #5543
I made it work using :
this.app._rootNav.setRoot(pageComponent);

[2016-05-25 08:38] khamaileon commented on #6612
I spoke too soon. It just catchs the error. The next then is called while it shouldn’t be.
[code]
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/reject

[2016-05-25 08:39] thiphariel commented on #6601
Have the same issue here. Just noticed that the toolbar of the modal has ```opacity:0``` ... I just override it to 1 and my toolbar was there again

[2016-05-25 08:47] khamaileon commented on #6612
https://strongloop.com/strongblog/comparing-node-js-promises-trycatch-zone-js-angular/

[2016-05-25 09:04] GavinHellyer commented on #6278
I am seeing this same issue on beta.7

[2016-05-25 09:11] Lindstrom1989 commented on #6637
Although this is a reasonable ui fix this isn't removing it from the dom but merely hiding it from the user.
Someone can select it from the dom, remove the hidden attribute and click it navigating to a page not meant for them.
This is not the solution.

[2016-05-25 09:28] cuongbt opened #6648 "$ionicScrollDelegate scrollBottom function causes scroll view display transformed to left"
Hi, guys!
In my case, I need to dynamically add inputs at the end of the screen. Everything seems to be ok but when I put this line in my source code "$ionicScrollDelegate.scrollBottom();", It causes scroll view transformed to left 1px. I inspected css but it doesn't have any properties like transform, left, margin,...
I used console tool to type this line "$('.scroll').offset()" and It show that

[2016-05-25 11:15] prathyushp1 commented on #5760
thanks problem fixed....thankyou IIgnatov...

[2016-05-25 12:09] imabasghar opened #6649 "Scrolling issue in ios."
Using Ionic2
we are using the following markup for a page:

[code]

In android and desktop the scroll is fine, but when using  IPhone 6plus in the page's initial state, if we scroll up, the scroll becomes unresponsive. We have to wait for a few seconds and then we can scroll down.

We digged deep into the html and css generated in app.ios.css and found out that the body's style position: fixed was

[2016-05-25 12:13] gitHubLie commented on #6107
👎

[2016-05-25 14:11] FdezRomero opened #6650 "Modals not calling onPageWillEnter() in Ionic 2 beta 7"
#### Short description of the problem:
Calling a `@Page` as a modal using `this.nav.present()` instead of as a standard page with `this.nav.push()`, causes the `@Page` not to call its `onPageWillEnter()` function.

#### What behavior are you expecting?
`NavController` should always run the [lifecycle event functions](http://ionicframework.com/docs/v2/api/components/nav/NavController/#lifecycle-eve

[2016-05-25 14:14] danbucholtz commented on #6612
Hi @khamaileon,

It doesn't sound like the issue that you're trying to solve is an Ionic issue.  If you have general questions about programming, [StackOverflow](http://stackoverflow.com/) is a great resource available to you.  The [Ionic forum](https://forum.ionicframework.com/?utm_source=framework&utm_medium=navbar&utm_campaign=forum%20CTA) is also filled with very helpful people.

Please ket me

[2016-05-25 14:14] #6612 closed

[2016-05-25 14:17] zakton5 opened #6651 "ionic2 - <ion-slide> is not removed when *ngIf evaluates to false"
#### Short description of the problem:
When optionally showing a slide by using *ngIf, the slide is correctly shown and the pager is updated with the correct amount of bullets when it evaluates to true. However, after the *ngIf evaluates to false, the slide and the pager bullet are still visible, but the slide content disappears.

#### What behavior are you expecting?
I expect the ion-slide to be

[2016-05-25 14:19] jgw96 commented on #6278
Hmm, i cant seem to repro on beta.7, can i have a repo that i would be able to reproduce it with? Thanks for using Ionic!

[2016-05-25 14:27] jgw96 commented on #6649
Hello, thanks for opening an issue with us! Would you mind making a plunker or repo that i can pull and use to reproduce this? Thanks for using Ionic!

[2016-05-25 14:33] jgw96 commented on #6650
Hello, thanks for opening an issue with us! This is a known issue and we are working on fixing it now. Once it is fixed we plan on releasing a nightly that has those fixes and i will update this issue when we do that. Thanks for using Ionic!

[2016-05-25 14:39] jgw96 commented on #6386
Hello @vinay-kumar are you using promises anywhere in your application? Especially Promise.reject()?

[2016-05-25 14:43] brandyscarney commented on #6650
Closing as a duplicate of #6597. This will be in the `beta 8` release and it is in the nightly version if you need it sooner:

[code]

Thanks!

[2016-05-25 14:43] #6650 closed

[2016-05-25 14:57] csysmans opened #6653 "DOM not updating when removing item from ngFor array"
I'm using *ngFor inside a page template (Ionic 2 beta 7).

[code]
I update the children array when changes are detected (add, update, remove). I do this using 'push' and 'splice'.

When an item is added or updated inside the array, the ngFor is triggered and the DOM is updated. However, when an item is removed, the array is changed, but the DOM does not remove the entry for that item.

The {{child

[2016-05-25 14:58] jgw96 commented on #6603
@Luchillo Ok cool, thanks for the design critiques, i will forward them to the rest of the team (: I will close this for now as the functionality is working.

[2016-05-25 14:58] #6603 closed

[2016-05-25 15:10] Luchillo commented on #6603
Ok, it works great, just the design in android wasn't the expected with the native picker, i'm sticking with the input since i found the fix for it.

[2016-05-25 15:12] cesar-oyarzun-m opened #6654 "input type tel not showing number keyboard IOS (IPAD)"
If I add `<input type="tel">` in IOS (Ipad) I still see the complete keyboard, I should see just the numbers.

Ionic v1.3.1-nightly-3292
IOS 9.3.1 Ipad

[2016-05-25 15:28] VR-Architect commented on #6621
@jgw96  Thanks for the excellent information about the bandwidth! Guess I will stay with Angular 2 rc1 and when Ionic 2 split pane comes out, we will migrate the code.

[2016-05-25 15:33] wootapa commented on #6606
It should probably be added to the ion-modal as well so modals can be styled differently.

[2016-05-25 15:35] jgw96 commented on #6653
Hello, thanks for opening an issue with us! DO you have this same issue with a plain Angular 2 app? Thanks for using Ionic!

[2016-05-25 15:44] FdezRomero commented on #6650
Thanks @jgw96 @brandyscarney! I looked for existing issues and somehow I missed this one.

[2016-05-25 15:51] csysmans commented on #6653
Honestly, this is my first application I've built with Angular 2 and Ionic. But I have noticed the problem occurred multiple times in different use cases/scenarios:
- Rendering a list of divs based on an array and remove an entry from the array
- When working with dynamic tabs and removing one of the entries
- ...

Something weird is going on when removing an item from a bound array.

When I was s

[2016-05-25 16:04] jgw96 commented on #6653
No problem! Hmm im thinking this may be better asked on our forum (forum.ionicframework.com) or even on StackOverflow as im not sure that this is an Ionic 2 specific issue. If it does turn out be an Ionic 2 specific issue (if you cant reproduce it in a plain Angular 2 application) then just comment here and i will happily reopen this. Also, welcome to the Ionic2/Angular 2 world!

[2016-05-25 16:04] #6653 closed

[2016-05-25 16:07] jgw96 commented on #6654
Hello, thanks for opening an issue with us! Would you mind making a plunker that i can use to reproduce this issue please? Thanks for using Ionic!

[2016-05-25 16:08] jdnichollsc commented on #3399
+1 for this issue! :/

[2016-05-25 16:09] zakton5 commented on #6651
After digging into it a little further, I've found that the Slide class calls rapidUpdate() in its constructor on line 910, which then notifies the swiper-widget that the slides have changed. It would make sense to simply call that function again in the Slide's ngOnDestroy() function. I'll work on a PR.

[2016-05-25 16:20] brandyscarney commented on #6642
You can use `item-right` on the checkbox to place it to the right of the label:

[code]

[2016-05-25 16:51] brandyscarney opened #6656 "backdrop: make sure users can't scroll behind the backdrop with all overlays"

[2016-05-25 16:55] Fenkiou opened #6657 "Toast component with duration doesn't dismiss if another toast is present."
#### Short description of the problem:
When a toast with a duration is displayed after another toast, the duration has no effects, the toast does not hide.

I was having the issue with my app and found the same issue on your toast component demo page.

#### What behavior are you expecting?
The toast with a duration should be dismissed anyway.

**Steps to reproduce:**
1. Go to http://ionicframework

[2016-05-25 16:56] jgw96 commented on #6647
Awesome! Would you mind making a plunker that i could use to test this issue with?

[2016-05-25 17:13] augustoice commented on #2033
Isso é bem simples de se resolver. Sempre que aplicar zoom ele aplica um blurred na imagem. Corrigi da seguinte forma.

No controller:

 //Zoom Mais
  ionic.on('pinchout', function(e){

      $timeout(function(){
          //$(document.getElementById('sc1')).find('img').css({'-webkit-transform': 'translateZ(0)'});
          var handle = $(e.target).parent().parent().attr('delegate-handle');

[2016-05-25 17:30] adamdbradley opened #6660 "Refactor ViewController lifecycle event calls"
The `ViewController` has methods which get called by `NavController` during specific times between transitions, such as:
https://github.com/driftyco/ionic/blob/2.0/src/components/nav/view-controller.ts#L510
https://github.com/driftyco/ionic/blob/2.0/src/components/nav/nav-controller.ts#L1226

However, firing off one method isn't very scalable, and that lifecycle info could be valuable to other com

[2016-05-25 17:45] jgw96 commented on #6657
Hello, thanks for opening an issue with us! Ahh, good catch (: we will have to look into this. So there is a Toast component and an ionic-native toast plugin for a few reasons, but the main reason that stands out to me is that our toast component is more configurable and can be custom styled, as its just a regular angular2 component. Hope that helps!

[2016-05-25 17:52] jgw96 commented on #2033
For english speaking users here is the above translated to english: This is quite easy to solve . Whenever it is zoomed it applies a blurred the image. Here is a solution

@augustoice Obrigado pela informação e solução !

[2016-05-25 17:57] Tudes commented on #6583
It should be easy to achieve this with lodash or underscore.

[2016-05-25 18:11] #6564 closed

[2016-05-25 19:03] arlowhite commented on #5724
I have this need as well. I've been digging into NavController and ViewController, but so many methods are private that any use of their internals would be a tenuous hack. I also tried keeping a reference to an Object passed via NavParams, i.e.

**Parent:**
[code]
**Child:**
[code]
But after pop to Parent, this.myDataContainer.foo is not set :(

Maybe there could be a NavOption to not clone NavPar

[2016-05-25 19:34] arlowhite commented on #5724
**Idea:** this.push could return a Promise.
This indicates a clear connection with the specific ChildPage and its arguments and the resolution code in the Parent.

[code]

Then either put the Promise as a parameter of the Child's enter methods `onPageDidEnter(promise)`

Or maybe inject it?
[code]

However, for this to work, the Parent instance cannot be unloaded. Does Ionic2 promise to not unload

[2016-05-25 19:46] smrubin opened #6661 "bug: Ionicon not appearing with button-clear"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>1.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>I have the following HTML markup:
`<button class="icon ion-social-twitter button button-clear"></button>`

With that markup, the ionicon does not appear. After debugging I noticed that in ionic.css:8906 there is the following rule:
`.butto

[2016-05-25 20:07] arlowhite commented on #5724
Now that I think about it more, I don't think the whenPageActive concept is a good idea. What if there's a navigation from the ChildPage to a completely different part of the app? Do whenPageActive Promises only fire when the nav stack is preserved? i.e. A pop() from Child. It just raises more confusion and makes this feature more complicated than needed.

Better to just remind developers that the

[2016-05-25 20:15] endoooo commented on #6580
@robertdp hum... it could be somehow related. thanks for referencing the issue!

in my case, what seems to be happening is that the `DefaultValueAccessor` is conflicting with my `IdNumAccessor` in the ion-input: the `onChange` event exists in both accessors, but **only when used in an ion-input** (with html input this doesn't happen, as shown in the plunker) it looks like the onChange in the IdNum

[2016-05-25 20:18] brandyscarney commented on #6630
Hey, @ghenry22. Our changelog has a section on `IonicApp` that mentions that `getComponent` was removed and to change it to use `ViewChild`, is this what you mean?

https://github.com/driftyco/ionic/blob/2.0/CHANGELOG.md#ionicapp-df32836-references-6199

I apologize if it was hard to find, but it was included under the breaking changes section. Are you saying that it would be helpful to include th

[2016-05-25 20:39] Barryrowe commented on #6417
This should be fixed with PR #6418 which was merged.

[2016-05-25 20:39] #6417 closed

[2016-05-25 20:57] amrography commented on #6661
Mine css file in line **ionic.css:8880** is
[code]
I don't have idea why the color in your css file is transparent

[2016-05-25 21:13] jlsuarezs commented on #4986
Did you get it @jesperbruunhansen? Thank you.

[2016-05-25 21:35] brandyscarney commented on #6618
Thanks for the plunker! This is the same issue as #6514 so I am going to close this one. :smile:

[2016-05-25 21:35] #6618 closed

[2016-05-25 21:37] brandyscarney commented on #6619
@dylanvdmerwe Would it be clearer if we added a comment in the Sass file explaining where the class is coming from for the starters and generators? If you have any ideas of how we could clear this up, please let me know! Thanks. :smile:

[2016-05-25 21:38] smrubin commented on #6661
@amrography Which version of Ionic are you using? You can see here https://github.com/driftyco/ionic/blob/master/release/css/ionic.css that line 8880 is not .button-clear.button-clear. Rather line 8906 is referencing the rule I discussed above with color: transparent.

[2016-05-25 21:39] jgw96 commented on #6661
Hello, thanks for opening an issue with us! @smrubin and @amrography would you all mind telling me what version of Ionic you are using? Thanks for using Ionic!

[2016-05-25 21:43] smrubin commented on #6661
Ionic Framework Version: 1.3.1
Ionic CLI Version: 1.7.15
Ionic App Lib Version: 0.7.2
OS: Windows 8.1
Node Version: v4.3.2

[2016-05-25 22:04] icarus31 opened #6662 "Item-sliding: icon not on top by default"
Comment from @brandyshea

Actually, the icons should be on the top by default. This is definitely a bug caused by the pipe. Adding it is causing the wrong classes to be added to the button, so it doesn't think the text is there

[2016-05-25 22:50] amrography commented on #6661
Ionic Framework Version: 1.3.0
Ionic CLI Version: 2.0.0-beta.25
Ionic App Lib Version: 2.0.0-beta.15
---------------

But my project still written in v1.x

[2016-05-25 22:50] ghenry22 commented on #6104
This issue is even worse with beta7.  Scrolling is now extremely laggy.  ion-img no longer loads images in virtualscroll list after scrolling for me either.

virtualscroll on ios uiwebview really needs a bit of love, it's not usable at the moment for me unfortunately.

[2016-05-25 22:52] ghenry22 commented on #6512
I have also seen this when using a search box to filter a list.  If there is a match to the search term the list correctly updates. If there is no match (ie empty list) nothing happens

[2016-05-25 23:09] robertdp commented on #6580
Yeah, the similarities were superficial. The deeper I went into the issue with change detection the less it seemed to apply to this issue.

[2016-05-25 23:34] vance commented on #6506
Alas, native scroll crashes if you zoom out too far, so i'd like to adjust zoom while scrolling.... but i can't get continuous scroll events from native scroll :(

[2016-05-26 00:36] tslater commented on #1096
@jgw96, is there a fix for this, or should we reference another issue, or are you thinking these are all different problems rather than an ionic bug?

[2016-05-26 02:36] timothycurchod commented on #5450
The above link is not valid.  Where has this issue been moved to?

[2016-05-26 02:40] Ionitron commented on #4867
Greetings @hofman-p!

My sensors indicate a reply was requested, but as we have not received one yet, I am using my robot powers to close this issue. However, if you are still experiencing this issue, please feel free to reopen it by creating a new issue, and include any examples or necessary information.

Thank you for allowing me to assist you.

[2016-05-26 02:40] #4867 closed

[2016-05-26 05:32] imabasghar commented on #6649
Try the demo on this  [blog](http://coenraets.org/blog/2014/10/ionic-tutorial-and-sample-application/)  on an Iphone:
[Demo URL](http://coenraets.org/apps/ionic2-directory/)

You can use this [repo](https://github.com/ccoenraets/ionic2-employee-directory).

PS: This is not our repository. The demo and repo belongs to [him](https://github.com/ccoenraets)

[2016-05-26 05:43] emcniece commented on #6458
Apologies in advance, and I'll try to make this as painless as possible. So sorry to do this to fellow devs...

What does ETA look like for this - days, weeks, or months?

[2016-05-26 06:34] jgw96 commented on #6458
Hey @emcniece ! Actually, this is all done as of beta.7 and should have already been closed (my fault). If you spot anything that still needs to be updated feel free to comment on this issue and I'll take a look at it. Thanks for using Ionic!

[2016-05-26 06:34] #6458 closed

[2016-05-26 07:21] jgw96 commented on #1096
Hello @tslater ! Thanks for the questions. So, I have done alot of testing on the issues discussed here and in every case it seemed to be related to memory leaks in external libraries/external code. I could not find a good case of a memory leak that seemed to be coming from ionic. Now, this is not me saying that Ionic is written perfectly memory safe, im not sure there is a piece of software out t

[2016-05-26 08:31] christtrc commented on #6161
FInally I found the solution： add `form` tag to surround `ion-searchebar`

[code]

[2016-05-26 08:31] #6161 closed

[2016-05-26 08:54] piyushmanurkar opened #6664 "ionic - wrong display of blinking caret/cursor when scrolling"
I am calling $ionicScrollDelegate.scrollBy when focusing an input. the scroll works fine, but the cursor is displayed on the wrong place (displayed on the old place of the input before scrolling), and it stays there until start typing.

[2016-05-26 09:03] Emeryao opened #6665 "ionic2 bug(ion-datetime):day values won't refresh after changing month values"
so there will be some strange values like `2016-02-31`
see below
![image](https://cloud.githubusercontent.com/assets/3591899/15569406/4d646e58-2363-11e6-9aa6-0d3aa9d8bf59.png)

* ionic info
[code]

[2016-05-26 09:17] Emeryao commented on #6614
I think this issue is related to the type of the model that bind to ion-datetime.
It works fine for me when I bind a string value (such as `'2016-05-26T09:16:57.528Z'`) to a ion-datetime, but won't work if I bind a date value (such as `new Date()`)

hope that may help you

[2016-05-26 09:40] Emeryao opened #6666 "ionic2 clearInput won't show for ion-input"
the button for clearInput won't appear if I use the following code:
[code]
but if I put the `<ion-input>` in a `<ion-item>` tag the clearInput button shows up.

So, I'm not sure whether this behavior is designed so on purpose or not.

* ionic info
[code]

[2016-05-26 11:29] avivbeeri commented on #3791
Hello, I am experiencing this problem while trying to use $stateChangeStart in my Ionic app.
I call event.preventDefault() in the $stateChangeStart event handler, but the transition continues regardless.

There is some similarity between my project and the example posted by @skotturi, but my event handler is attached at the $rootScope instead.

[2016-05-26 12:52] PaulSec commented on #5198
Interested in when this will also available :-)
Keep it up guys, pretty cool project!

[2016-05-26 13:56] hlehmann commented on #6657
+1

[2016-05-26 14:15] jgw96 commented on #6666
Hello, thanks for opening an issue with us! This is expected behavior, you should always put your inputs in an Ion-item (: Thanks for using Ionic!

[2016-05-26 14:15] #6666 closed

[2016-05-26 14:22] jgw96 commented on #6649
Hello! So after testing this issue on my iphone5 I can't seem to reproduce it. Is the app that you're experiencing this with running Ionic 2 beta.7? Also, what version of iOS are you running?

[2016-05-26 14:24] lekkra commented on #2741
I see it works fine

[2016-05-26 14:27] Manduro commented on #2741
No, it doesn't. When you click an item in the first list it should not animate to the new view, but it does.

[2016-05-26 14:27] jgw96 commented on #6665
Hell, thanks for opening an issue with us. I am sorry but iIam not fully understanding the issue here. Would you mind explaining the issue a little more? Also, if you could make a plunker that demonstrates this issue that would be great! Thanks for using Ionic!

[2016-05-26 14:53] imabasghar commented on #6649
If you see the package.json in the repo, it says Ionic2 beta .7. I tried it on an IPhone 5s and the issue still remains. I am using Mobile Safari since I havent mentioned that, sorry about that.
Steps to re produce:
1 - Open Page
2 - (Dont swipe upwards) Swipe downwards, and then swipe ur finger up or down. It becomes sticky.
3- Remove your finger from the phone for 2 or 3 seconds.
4 - swipe upwar

[2016-05-26 15:00] ghprod commented on #5071
on Beta 7, app always close when hit back button even we put `return false;` or `this.nav.pop()`

any idea?

Thanks

[2016-05-26 15:22] cesar-oyarzun-m commented on #6654
its only happens on real device, how can I do a codpen?

[2016-05-26 15:30] jgw96 commented on #6654
Hello! I just asked for a plunker so that i can see your exact html (: You can just post your html here if that would be easier.

[2016-05-26 15:41] keithdmoore commented on #6614
@adamdbradley Can you fix this?

[2016-05-26 15:43] keithdmoore commented on #6608
@adamdbradley Can you fix this?  This is a REAL problem.  Also, lots of styling issues with the datetime component.  Label gets bolder for some reason.  Date output does not go directly under stacked label.  Hopefully you will get all that cleaned up so this component is usable.

[2016-05-26 15:47] jgog opened #6667 "Input going into 2 lines on focus on iOS"
#### Short description of the problem:

Input going into 2 lines on focus on iOS
Please see https://forum.ionicframework.com/t/input-going-into-2-lines-on-focus/52830

**Steps to reproduce:**
1. Make a simple form with floating input and test is on the simulator or an actual device
2. This works fine in the browser

**Which Ionic Version?** 2.x

[2016-05-26 15:56] Luchillo commented on #6329
@jgw96 I'm having this same issue with another PC, but this time this one has 16G RAM, so there should not happen because there's plenty of space for it, maybe is Ubuntu's limit for process memory usage?

[2016-05-26 16:26] Luchillo commented on #6329
In ubuntu i'm getting up to 1,4G ram usage and then a segmentation fault after a recompile in the Ionic process, is it because of the webpack or gulp part?

[2016-05-26 16:31] jgw96 commented on #6329
Hey @Luchillo sorry but im definitely not a webpack or gulp expert but i can speak on ubuntu. As far as i know ubuntu (im running 16.04) does not limit memory usage per process unless it gets really extreme, so that should not be causing an issue. I would recommend asking around on our forum (forum.ionicframework.com) or even stack overflow. As we do not use webpack anymore this is kind of outside

[2016-05-26 16:39] jgw96 commented on #6667
Hello! Thanks for opening an issue with us! Would you mind sharing your code with me? A plunker, repo or even just posting it here? Thanks for using Ionic!

[2016-05-26 16:39] BVJin commented on #5324
Hi guys,I have to publish app to test flight today and i just used 3 hours to fix this...

Last time I changed the code, the app was working great on my own iPhone, but today the app only work for emulator but not the real phone. I tried all the things you guys said but it all doesn't.

My boss just added me to the company develop team account yesterday, but today I am still using my own account (

[2016-05-26 16:42] jgog commented on #6667
Can you check [this video](https://dl.dropboxusercontent.com/u/20748652/ionic%20input%20issue.mov)?

[2016-05-26 17:01] vinay-kumar commented on #6386
Not really I have an application fully built upon ionic 2 on Android and iOS. So I tried to build windows version and facing this issue.

Second there is no step by step process to build specially for Windows phone 10. This really becomes an issue for guy like me who has no experience in building windows app. May be an step by step example app can make life easier. Thanks

[2016-05-26 17:35] racecarparts opened #6668 "iOS `cog` icon"
#### Short description of the problem:

When using tabs in iOS emulator or native device, the `cog` icon is incorrect.  It looks to be the TTF version of the fonts, as the `cog` outline icon (`f411`) works fine in the `--lab` browser rendering.  See images below in the glyph viewer.
#### What behavior are you expecting?

That the `cog` outline icon (`f411`) matches the browser rendering in an iOS

[2016-05-26 17:42] brandyscarney opened #6669 "Feature: Add Progress bars"
https://www.google.com/design/spec/components/progress-activity.html

http://g.recordit.co/NEQuvntLcF.gif

[2016-05-26 17:52] Luchillo commented on #6329
Well i ask here because the process says ionic, most likely i have to ask the `ionic-gulp-webpack` package maintainer but idk where is their issue pages.

[2016-05-26 18:02] cesar-oyarzun-m commented on #6654
<ion-view view-title="New Thing">
    <ion-content>
        <form name="newThingForm" novalidate="novalidate" >
        <div class="list">
            <label class="itemnoborder item-input item-floating-label"  ng-class="{ 'has-error' : newThingForm.name.$invalid}">
                <span class="input-label">Name</span>
                <input type="text" name="name" ng-model="thing.name" ng-change=

[2016-05-26 18:36] jgw96 commented on #6329
@Luchillo Didnt you modify it though? Or are you getting these results with the default webpack build in that package? Sorry if im misunderstanding (:

[2016-05-26 19:22] Luchillo commented on #6329
The biggest change is using the `ProvidePlugin` to make `Chart.js` and `signature_pad` available to the app.

[2016-05-26 20:11] sdhull commented on #1096
@jgw96 wow that's very interesting. Did you see [my comment](https://github.com/driftyco/ionic/issues/1096#issuecomment-171489305) from January? Have you tried out [the repo](https://github.com/sdhull/broken-ionic-android-scrolling) I linked to there? Very vanilla implementation and easily reproducible memory problems. Right?

[2016-05-26 20:26] jgw96 commented on #6329
Hey! After going over this issue with the team we have decided that its probably best if you ask on the forums or maybe even on some webpack forums. We cant really provide direct support for the ionic-gulp-webpack plugin right now as we moved our official build over to browserify. Is there any reason that you are still using webpack? Is your project using Ionic 2 beta.7? Or is it still on an older

[2016-05-26 21:54] asemoon opened #6671 "bug: App stuck before loading animation"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>1.x</span>

**Platform**: <span ionic-platform>ios</span> <span ionic-platform-version>9</span>  <span ionic-webview>browser</span>

<span ionic-description>Hey Everyone,

I run `ionic run ios --device -l -c` frequently which usually works fine and deploys the app to my iPad. However, sometimes when using live mode and s

[2016-05-26 22:35] wli opened #6672 "ion-textarea and android autocomplete don't play nicely"
#### Short description of the problem:

Autocomplete moves cursor to the end of the line.
#### What behavior are you expecting?

The cursor should not move to the end of the line.

**Steps to reproduce:**
1. Make an ion-textarea with ngModel
2. Set autocorrect on
3. Set autocomplete on

[code]

**Other information:** (e.g. stacktraces, related issues, suggestions how to fix, stackoverflow links, f

[2016-05-26 22:45] wli commented on #6222
FYI - still an issue in beta7, albeit it's much much harder to trigger it now than it was when I filed the bug. You really have to tap the corner. It could be related to https://github.com/driftyco/ionic/issues/6585 also.

[2016-05-26 23:11] wheelertom commented on #4928
@jgw96 -- I haven't been able to get my Android emulator working.  I'm only seeing this in the browser view.  In the iOS emulator it's not a problem.

[2016-05-27 03:05] malvarezhcr commented on #6104
Did anyone find any solution for this? I actually have a virtual scroll with just 20 items and it doesn't work well at all. This issue is present in ion-list and ion-select as well.

[2016-05-27 03:10] ghenry22 commented on #6104
Yeh it doesn't seem to be better with shorter lists.  As I posted above I see errors thrown in the native console when I start to scroll a virtual list.

I haven't seen any feedback or comments from the ionic team yet about performance on ios.

@adamdbradley I know that ionic2 is in beta state but any chance of a quick update on when virtualscroll on ios is likely to get a little love?  It is bril

[2016-05-27 03:14] ghenry22 commented on #6669
Progress bars as a standard component would be really nice, I would definitely make use of this if the feature was added.

[2016-05-27 03:51] keithdmoore commented on #6614
@Emeryao Thanks for the potential workaround.  The date does get set in the model but when I change the model to point to a different item in the array, the date is not cleared in the input.

[2016-05-27 04:03] Luchillo commented on #6329
I've had some issues updating from beta 6 -> 7 so i keep using 6 until i find what's generating the error.

I've using webpack from start, it's just idk how to configure browserify with some libs like chart.js and signature_pad, aaaand i like webpack.

[2016-05-27 04:09] Emeryao commented on #6665
hi @jgw96,  here is the steps to reproduce this issue:

1. create a `ion-datetime` with the html below
[code]
2. click the date on the page and the datetime picker popup like this:
![image](https://cloud.githubusercontent.com/assets/3591899/15597385/075a2764-2402-11e6-9ffa-486ba1a09bfb.png)
3. scroll down the day value to `30`
![image](https://cloud.githubusercontent.com/assets/3591899/15597410/35

[2016-05-27 04:11] Emeryao commented on #6665
hi @jgw96,  here is the steps to reproduce this issue:

1. create a `ion-datetime` with the html below
[code]
2.click the date on the page and the datetime picker popup like this:
![image](https://cloud.githubusercontent.com/assets/3591899/15597385/075a2764-2402-11e6-9ffa-486ba1a09bfb.png)
3. scroll down the day value to `30`
![image](https://cloud.githubusercontent.com/assets/3591899/15597410/35a

[2016-05-27 04:33] kimeuichan opened #6674 "Ionic windows 10 mobile ng-src"
#### Short description of the problem:
Ionic ng-src is not working in windows 10 mobile

#### What behavior are you expecting?
I want to show image.

**Steps to reproduce:**
1. I download .png file and make sure it
2. I use source code that under stackoveflow url.
3. I can't find my image in running ionic app

[code]

**Other information:** (e.g. stacktraces, related issues, suggestions how to fix

[2016-05-27 04:44] Emeryao commented on #6614
@keithdmoore
I think I solved this issue for the [plunker](http://plnkr.co/edit/QLCot4Q06nJhH8w1iw1c?p=preview) you provided with the code below:
[code]

I think the initial value of the `itemDate` should not be `null` .
I have also tried the value of empty string `''` for `itemDate` as initial value and won't work either.

hope that may help you :smiley:

[2016-05-27 05:08] webprofusion-chrisc commented on #6574
This would apply for Action Sheets as well (invoking the handler for the 'cancel' role).

[2016-05-27 05:58] jimior2 commented on #3794
How multiple collection-repeats to play with ion-scroll ?

[2016-05-27 06:17] jgw96 commented on #6674
Hello! Thanks for opening an issue with us! Although i really appreciate you opening this issue, we do not support Windows 10 with Ionic 1, although we do fully support Windows 10 with Ionic 2. Im very sorry i couldn't help you more with this issue. I would recommend asking on our forums (forum.ionicframework.com) as there are some awesome developers on there who would love to help you. Thanks for

[2016-05-27 06:17] #6674 closed

[2016-05-27 06:19] jgw96 commented on #6329
What kind of issues have you had updating to beta.7 ? I would love to be able to help you with that as beta.7 has a ton of improvements and gives you the latest version of Angular 2 (:

[2016-05-27 06:21] jgw96 commented on #4928
@wheelertom I am currently testing on a Nexus 7 running Android 6.0.1, a Moto X 2014 running Android 5.1.1 and a Nexus 6 running the Android N beta.3 dev preview and i cant seem to reproduce this issue with any of my Ionic 2 beta.7 apps. Could you post a plunker that i could use to reproduce this issue? Thanks for using Ionic!

[2016-05-27 06:25] jgw96 commented on #6671
Hello! Thanks for opening an issue with us! As this issue is relate to the Ionic cli and not the Ionic framework i will be moving this issue to that repo. Thanks for using Ionic!

[2016-05-27 06:25] jgw96 commented on #6671
This issue was moved to driftyco/ionic-cli#1026

[2016-05-27 06:25] #6671 closed

[2016-05-27 06:31] jgw96 commented on #4181
Hello! So after further research our css is like this to provide extra specificity, so this is the correct css for this class. Since it does not seem to be causing any issues i will be closing this issue for now. Thanks for using Ionic!

[2016-05-27 06:31] #4181 closed

[2016-05-27 06:38] jgw96 commented on #4232
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-05-27 06:40] jgw96 commented on #4577
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-05-27 06:43] jgw96 commented on #4841
Hello! While we appreciate you opening an issue with us i am going to close this issue and ask that you open a new one that has the issue template filled out please. Thanks for using Ionic!

[2016-05-27 06:43] #4841 closed

[2016-05-27 06:45] #5242 closed

[2016-05-27 06:49] jgw96 commented on #5574
Hello! Although i would love to solve this issue for you we are not currently supporting windows 10 in Ionic 1, although we fully support it in Ionic 2. I would suggest asking around on our forums (forum.ionicframework.com) for help with this issue. Thanks for using Ionic!

[2016-05-27 06:49] #5574 closed

[2016-05-27 06:51] jgw96 commented on #6011
Hello all! This should be fixed in the latest version of Ionic 2 (beta.7). Thanks for using Ionic!

[2016-05-27 06:51] #6011 closed

[2016-05-27 06:54] jgw96 commented on #4780
Hello all! Although i would love to help solve this issue we are not currently supporting windows 10 with Ionic 1, although we do fully support windows 10 with Ionic 2. Also, we do not support windows phone 8 or Internet Explorer with either Ionic 1 or Ionic 2 although we fully support Edge with Ionic 2. Thanks for using Ionic!

[2016-05-27 06:54] #4780 closed

[2016-05-27 06:57] jgw96 commented on #6507
Hello all! As it looks like this issue was solved i am going to be closing this issue. Thanks for using Ionic!

[2016-05-27 06:57] #6507 closed

[2016-05-27 07:06] #6311 closed

[2016-05-27 07:08] jgw96 commented on #5358
Hello! Is this still an issue with the latest version of ionic? Thanks!

[2016-05-27 07:39] Nodonisko opened #6675 "Ionic2 - Ion-button fall to primary color after outline is set to false"
Hi,
i have a component with ion-button that is outline and secondary color. Outline is applied dynamically by variable. After load everything looks good, but when i set outline to false, button falls to primary colors.

Thats code of my button:
`<button small [outline]="active" color="secondary" (click)="selectModal()">{{buttonText}}</button>`
this will produce this:
`<button color="secondary" sma

[2016-05-27 08:28] antoineol opened #6676 "Ionic2 ion-slides didChange event not triggering if animation interrupted with mouse/touch"
**Platform**: browser
**version**: ionic-angular 2.0.0-beta.7
#### Short description of the problem:

When using the component ion-slides, adding a handler for the `didChange` event, the event `didChange` triggers when the user swipes to change of slide and waits until the end of the animation, but if stopping the animation with tap/press/start swiping, but still releasing on the new slide, the ev

[2016-05-27 08:45] xgzl87 commented on #4958
double collection-repeat How to solve

[2016-05-27 08:51] kirillgroshkov commented on #3399
+1. Fixed with changed regex, but good to have it in master

[2016-05-27 08:57] MMangion commented on #5479
@warner-pinz this is the updated route https://github.com/driftyco/ionic/blob/2.0/src/components/nav/test/routing/index.ts

[2016-05-27 09:17] cosemansp commented on #5101
+1 (also for iOS)

[2016-05-27 10:00] tpruthi commented on #6665
+1 facing same issue

[2016-05-27 10:21] mburger81 commented on #5422
yea please ad a range componente
:+1:

[2016-05-27 11:18] gigocabrera opened #6677 "this.nav.pop() stops responding and displays a black screen"
#### Short description of the problem:

I have a simple app with a `HomePage` that calls a child `PickPage` with a list of 3 pick items. When you tap on a selection it fires a function called `pickPreference(item)` and all it does is return to the parent page with `this.nav.pop()`. If you go back and forth several times between the parent and the child, it stops working and displays a black screen

[2016-05-27 11:43] architruc opened #6678 "ionic2 ion-slides don't support well prepending to dynamic list of slides"
#### Short description of the problem:

The issue is noticed when prepending new slides on willChange/didChange events. pushing to the end is okay, but prepending also shifts the displayed slide. When sliding to the left, it skips a slide and goes to the one after.
#### What behavior are you expecting?

When prepending a slide dynamically, it would have no impact on the slide currently displayed,

[2016-05-27 12:27] mypark opened #6679 "titles truncated in ios tab when there are 5 items"
@brandyscarney

The previous fix https://github.com/driftyco/ionic/issues/6056 fixes the tab spacing issue, but we should also adjust the tab padding as well since it ellipses the longer tab titles even though there is plenty of room at 5 tabs.

To reproduce try setting the tab title to something like "My Profile" when there are 5 tabs.

[2016-05-27 12:28] mypark commented on #6056
ok, created issue https://github.com/driftyco/ionic/issues/6679

[2016-05-27 12:43] Luchillo commented on #6329
Well you already saw the one that keeps me from that update: https://github.com/driftyco/ionic/issues/6601

The navbar is not an issue any more with the toolbar to replace, but the issue with backdrop blocking any action is the real issue, it seems i'm the only one affected by this and only in modals, since i tried to comment all my custom scss and still had issues idk where to look for the issue.

[2016-05-27 13:39] gregor-srdic commented on #5408
@JPatricio I have disabled caching for the particular view in the routeConfig file:
[code]

[2016-05-27 14:00] lexyfeito commented on #1038
@lambrospetrou any progress on this? i am having the exact same problem

[2016-05-27 14:02] brb-elia commented on #5543
[Here ](https://forum.ionicframework.com/t/why-cant-i-import-navcontroller-and-viewcontroller-into-service-or-app/40999/13) is where I found the solution.

[2016-05-27 14:17] jgw96 commented on #6329
Hey, we have some modal fixes coming very soon. As soon as there merged we plan on doing a nightly release. I will let you know when that is done so that you can upgrade to beta.7.

[2016-05-27 14:39] jgw96 commented on #6552
Hello, thanks for opening an issue with us! Routing with the angular 2 router is going to change completely very soon as the angular team has deprecated the old router and are working on a new one. We have halted integrating with this router until it is more complete. Thanks for using ionic.

[2016-05-27 14:39] #6552 closed

[2016-05-27 14:58] brandyscarney commented on #5479
Note: Angular is refactoring their router again and it is not working with the latest version of Ionic (beta 7). From our changelog:

[2016-05-27 15:54] lambrospetrou commented on #1038
I don't remember exactly where I had the issue but what you can do is subclass the .has-header class with your custom one .custom-has-header and put that on your ion-content.

[2016-05-27 16:37] zakton5 opened #6680 "ionic2 - <ion-toggle> sometimes simulates two clicks?"
#### Short description of the problem:
When using multiple ion-toggles, which are conditionally shown using ngIf, the next item in a list in sometimes clicked when one if the ion-toggles is hidden. This is better explained with the plunker given below.
**Note: This only happens SOME of the time. It's quite random. I'll switch the toggles a couple of times and it will work fine, but then after a bi

[2016-05-27 16:44] manucorporat commented on #6656
I confirm this is a real issue in iOS safari, affecting alerts, popover and actionsheet.

[2016-05-27 16:53] jgw96 commented on #6680
Hello, thanks for opening an issue with us! Would you mind trying this on your device with a fresh starter project and seeing if you get the same issue? I have been using toggles over the past couple of days and have not seen anything like this. Thanks for using Ionic!

[2016-05-27 17:09] #5420 closed

[2016-05-27 17:23] zakton5 commented on #6680
Sure thing. I'll try that out and get back to you

[2016-05-27 17:33] jgw96 commented on #6680
Thanks!

[2016-05-27 17:41] daangeerdink commented on #6577
@danbucholtz is right, ensuring there is only 1 root element in your template fixes this issue.

I had this issue occur when I had the following:
[code]

Moving the `<script>` block to inside the `<ion-view>` fixed it for me.

[2016-05-27 18:08] #6577 closed

[2016-05-27 18:31] shyamal890 commented on #6529
Ok, I tried using `ng-if="$state.includes('home.tabsm1.**')"`. Though this solves the overlap issue hiding irrelevant `ion-tabs` for the current url. There is a new problem now: current `ion-tabs` isn't visible even though `$state.includes` evaluates to `true`.

Would really appreciate some help here. @danbucholtz

[2016-05-27 19:00] jdnichollsc commented on #3399
Yes, what is the inconvenient to add the fix to master?

[2016-05-27 19:06] danbucholtz commented on #6601
Hi @Luchillo and others,

This should be fixed in nightly.  Please let me know if you have any issues and I'll re-open.  Thanks for contributing to Ionic!

Thanks,
Dan

[2016-05-27 19:06] #6601 closed

[2016-05-27 19:06] danbucholtz commented on #6598
Hi @Inoverse and others,

This should be fixed in nightly. Please let me know if you have any issues and I'll re-open. Thanks for contributing to Ionic!

Thanks,
Dan

[2016-05-27 19:06] #6598 closed

[2016-05-27 19:13] snehasis commented on #2212
I am also getting the same issue while Making a Scrollable Lists inside a ionModal

Is there any fix for this ?

[2016-05-27 19:15] davegroff commented on #2212
Try overflow: auto;

[2016-05-27 19:54] Manduro commented on #6656
This was an issue in v1 as well: #4793. The fix for v2 might be similar?

[2016-05-27 20:06] DaniloCouto opened #6681 "bug: Ion-Toggle still works with PopUp on Screen"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>1.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>
After a popup stays active, the ion-toggle continues to function normally.
I Just don't know why.
Even the pure backdrop component works normally on locking ion-toggle.
</span>

<span is-issue-template></span>

[2016-05-27 21:29] brandyscarney commented on #6656
@Manduro thanks for linking to that! :)

[2016-05-27 22:08] nkeeslin opened #6682 "ionTab throwing: TypeError: 'Cannot read property '$destroy' of undefined' on page navigation"
I am currently using ionTabs on the web inside of an iFrame.  Whenever I navigate to a sibling state of the parent state of my tabs, I get the follow error twice for each tab: TypeError: Cannot read property '$destroy' of undefined.

I tracked down the error in the source code to the destroy function in the ionTab directive. Line 122 of tab.js in the current version of ionic I'm using.

`tabNavEle

[2016-05-27 22:22] malvarezhcr commented on #6104
hey @ghenry22, yesterday I moved my app to beta.7 and set a [approxItemHeight]="'#px'" to the virtual scroll tag, it's working a little bit better, I still see some issues when you scroll the first time but then it works better. But as you said ion-image is not longer working.

[2016-05-27 22:29] brandyscarney opened #6683 "popover: position material design over the clicked element"
![pasted image at 2016_05_27 05_26 pm](https://cloud.githubusercontent.com/assets/6577830/15622664/fb33b220-2438-11e6-8f37-165faa849bad.png)