[2016-03-30 14:59] Iodine- commented on #1096
@sdhull I am not positive the code you suggested is going to do much.

I would first start with the following to check if your controller scopes are indeed being destroyed or not.  In my case, if I did not manually trigger the `scope.destroy` on the `element.destroy` event, then it would not trigger.  See if you have a similar issue first.

[code]

Second, I would suggest you take a look at your b

[2016-03-30 15:00] manucorporat commented on #5987
@adamdbradley I think having several `ion-content` at the root level, also makes the transitions more complicated.
Because we would have to iterate and animate all the ion-contents in the ion-page. does it make sense?

[code]

[2016-03-30 15:02] brandyscarney commented on #5198
@weolopez You can override these css properties to use `text`:

[code]

this allows you to select the text when not emulating - it hasn't been tested alongside gestures though. :smile:

[2016-03-30 15:02] hossam9995 commented on #3750
+1

[2016-03-30 15:04] jgw96 commented on #5986
This issue was moved to driftyco/ionic-cli#881

[2016-03-30 15:04] #5986 closed

[2016-03-30 15:06] FLHerne commented on #5913
This is caused by a supposedly-WontFix [bug in Chromium](https://bugs.chromium.org/p/chromium/issues/detail?id=582301), for some reason they decided the pseudoelements used shouldn't exist.

I get the impression the change was made without looking at how -webkit-slider-thumb:before/after are actually used, since it's attracted half a dozen duplicate bug-reports already.

[2016-03-30 15:16] cperez1087 opened #5989 "bug: Cannot read property 'removeEventListener' of null"
#### Short description of the problem:
When I do this.viewCtrl.dismiss() on a Modal page, im getting ** Cannot read property 'removeEventListener' of null**.
That is, when I have an ion-infinite-scroll on the page

I have tried using this.nav.pop() and this.nav.popToRoot() and still get the same issue.
The only things that has worked is removing the infinite scroll.

#### What behavior are you exp

[2016-03-30 15:25] manucorporat commented on #5987
More thoughts about why a nested solution is the best option:
1. We don't add more root elements -> transition code is not modified
2. Powerful:
- I want two ion-contents ( evenly divided) first one scrollable, second one fixed:
[code]

- I want one HUD that covers the entire content (without covering the navbar!!!)
[code]

- Something fixed at the button that DOES NOT cover the content:
[code]

[2016-03-30 15:37] adamdbradley commented on #5987
I think we have agreed it needs to be nested within `ion-content`, otherwise absolutely position items wouldn't fit within the content area, but they would go over headers and footers. We're leaning toward something like this:

[code]

Thoughts?

[2016-03-30 15:55] danbucholtz commented on #3884
I began investigating a fix for this.  Turns out this functionality is already in place.  We just need to document it.  The docs will go live shortly.

Here is the way to access the state params .

[code]

The same concept works for the `$ionicView.enter` and `$ionicView.afterEnter` events.

[2016-03-30 15:55] manucorporat commented on #5987
@adamdbradley I like it :+1:
like we said:

`ion-header`: static position on top
`ion-footer`: static position on bottom
`ion-content-fixed`: absolute position

[2016-03-30 16:15] petehouston commented on #5913
@FLHerne it is exactly **WontFix** as Chromium team notes on above link. Well, I guess it's gonna affect to Crosswalk soon. I'm looking for a hack or a solution to work around this range issue.

[2016-03-30 16:15] adamdbradley commented on #5987
Going to go with `<ion-fixed>` so it's more of a generic element:

[code]

:shipit:

[2016-03-30 17:02] bdirito opened #5990 "Ion-slides does not respect slider options changes after $link but before construction"
#### Short description of the problem:

ion-slides has a state where the slider is not yet initialized but the options for slider construction are bound (and cannot be updated)
#### What behavior are you expecting?

I would expect that if slider has yet not been initialized slider options can still be modified.

**Steps to reproduce:**
1. create a directive
2. set an element to contain an <ion-sli

[2016-03-30 17:44] leonardobazico commented on #1806
+1

[2016-03-30 17:54] rob3c commented on #3884
@danbucholtz Unfortunately, that `data.stateParams` is the same stale cached value, so it doesn't address the problem. You can confirm it using my original codepen repro from the original bug report:

http://codepen.io/rob3c/pen/ZGLNNp

Just log `data.stateParams` to the console in `$ionicView.enter`, for example.
I know the repro is a little bit complicated, but only minimally so to guarantee hit

[2016-03-30 18:17] danbucholtz commented on #3884
@rob3c, this code pen should illustrate a cached view accessing the parameters from the life cycle events.  It seems to be working for me.

http://codepen.io/danbucholtz/pen/PNKBNa?editors=1010

Let me give the $stateChangeStart some thought.

Thanks,
Dan

[2016-03-30 18:58] cperez1087 commented on #5989
#5760
Closing my post because it was already brought up in another post.

[2016-03-30 18:58] #5989 closed

[2016-03-30 19:01] cperez1087 commented on #5760
Experiencing same problem.

My system info:
Cordova CLI: 6.1.0 (cordova-lib@undefined)
Gulp version: CLI version 3.9.1
Gulp local: Local version 3.9.1
Ionic Version: 2.0.0-beta.3
Ionic CLI Version: 2.0.0-beta.23
Ionic App Lib Version: 2.0.0-beta.13
Node Version: v5.9.1

[2016-03-30 19:42] jgw96 commented on #5873
Hello! Thanks for opening an issue with us! Since it has been a little while since there was any activity on this issue i will be closing it, but feel free to respond back if your still having the issue! Thanks again!

[2016-03-30 19:42] #5873 closed

[2016-03-30 20:08] danbucholtz commented on #4948
@tkem, just to keep you posted... I did come up with a way to do this.  Having said that, I don't know if the team will want to go for it or not.  It is modifying UI-router to accomplish it.

We could do it in a cleaner way long term (override $state.go, for example), but navigation is so much better in V2 and will eliminate many of the challenges with UI-router that I am not sure if it's worth it

[2016-03-30 20:18] jgw96 commented on #4948
agreed that the navigation in Ionic 2 is pretty awesome! @tkem as an aside have you gotten a chance to try Ionic 2 yet?

[2016-03-30 20:36] souly1 commented on #4894
Needed a bit of digging to find this explanation, but eventually worked, thanks.

[2016-03-30 20:37] brandyscarney opened #5993 "Add the forward arrow as an option for md & wp mode"
Should be able to add an option to enable the forward arrow on items similar to ios.

Forum post:
https://forum.ionicframework.com/t/android-arrow-forward-not-showing-up-for-button-ion-item/42922

Can probably set a variable that determines whether or not to add the forward arrow and default it to `false` for these platforms in order to match the design guidelines, yet let the user set it to `true

[2016-03-30 20:55] danbucholtz commented on #4948
Hi @tkem, the team chose not to make the change to ui-router since there are decent work arounds in place and much better navigation on the horizon with V2.

Thank you for contributing and we really appreciate you using Ionic.  Thanks again for the very detailed responses.

Thanks,
Dan

[2016-03-30 20:55] #4948 closed

[2016-03-30 21:30] amilino commented on #4808
Doesn't work with crescent or DisallowOverscroll = true...

[2016-03-30 21:53] danbucholtz commented on #4596
Hi @tohagan and others,

Just letting you know that we are starting to take a look at this.  The way we designed the Ionic navigation did not account for resolve functionality of ui-router, so sometimes everything works fine with resolve, other times it doesn't work quite right (for example, when views are cached).  We're really sorry about that.

I'll take a look and see if this is an issue we ca

[2016-03-30 23:19] leonardobazico commented on #5214
+1

[2016-03-31 00:16] leonardobazico commented on #5214
+1

[2016-03-31 01:01] roblouie opened #5994 "Inconsistent ion-segment behavior on windows phone"
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:
On windows platform only, ion-segment is not styled as active if it is used outside of a toolbar element.

#### What behavior are you expecting?
Consistent behavior on windows where ion-segment buttons can be marked as ac

[2016-03-31 07:14] Sidd27 commented on #1034
We Just need the text to be selectable not editable that's why we can't use contenteditable property of HTML and in normally we can copy any content but in ionic i think you guys have made it that none of text is selectable. Please provide solution other the below which doesn't require ionic.js changing
https://forum.ionicframework.com/t/how-to-make-text-selectable/4384

[2016-03-31 08:00] ErkoKnoll opened #5996 "bug: Searchbar issue with iOS"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>ios</span> <span ionic-platform-version>9</span>  <span ionic-webview>webview</span>

<span ionic-description>I'm having a really weird issue with iOS. It is probably Mobile Safari browser that is causing it. The case is that I have a page that has an iframe and inside the i

[2016-03-31 09:05] ZachBergh commented on #5959
Thanks @jgw96  i am trying ;)

[2016-03-31 09:12] ZachBergh commented on #5959
Thanks you very much, all fixed.
Awesome!!

[2016-03-31 09:12] #5959 closed

[2016-03-31 09:45] SylviaChoong commented on #4578
Hi, I'm having similar issue of col stacking vertically instead of horizontally. The codes are like this:
<div class="row">
   <div class="col">col</div>
   <div class="col">col</div>
</div>

May I know how can I make the cols to arrange horizontally?

[2016-03-31 09:51] Tobiaswk commented on #2285
#5806

[2016-03-31 09:53] Tobiaswk commented on #5806
This is a pretty significant problem.

Anyone have a fix until this is properly taken care of?

[2016-03-31 09:55] d691maurya commented on #5978
Here's the `ionic info`:

[code]

[2016-03-31 10:12] FLHerne commented on #5806
This (or something very similar) affects me also, using Safari on an iPad Air, iOS 9.2.

In my case, selecting checkbox items frequently freezes scrolling.

Behaviour is actually quite odd:
[code]
Normally, the header div is stuck to the top, and the cards/list-items scroll happily underneath it.
After tapping a checkbox item, about one in three times, the cards/list-items stay static while the *a

[2016-03-31 10:18] leschirmeur commented on #5806
We are using a custom directive on our ion-content elements, combined with commenting out some style settings in ionic.js (overflow-scroll hidden/scroll). Our directive looks like this:

[code]

We use it on ion-content elements like this:
[code]

What it does is that whenever the keyboard opens or closes, overflow-scroll is set to hidden to avoid disappearing content / blank views. After a keyboa

[2016-03-31 10:27] jimitndiaye opened #5997 "NavRouter: getPathRecognizerByComponent fails if ion-nav is inside a router-outlet."
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:
I have an ion-nav on a page which is in turn navigated to using angular2/router. I use angular2/router because I need this component to be asynchronously loaded. I get a null-reference error as a result of NavRouter's get

[2016-03-31 11:04] emps commented on #5609
an easy way to fix issue to close it

[2016-03-31 11:25] alzalabany opened #5998 "infinite scroll EXCEPTION: TypeError: Cannot read property 'removeEventListener' of null when navigating away"
**Steps to reproduce and a minimal demo of the problem**
[code]

**Current behavior**
When you leave page that contain ion-infinite-scroll it will raise an exception.

EXCEPTION: TypeError: Cannot read property 'removeEventListener' of null

TypeError: Cannot read property 'removeEventListener' of null
    at InfiniteScroll._scLsn (http://localhost:8100/build/js/app.bundle.js:41822:32)
    at Infi

[2016-03-31 11:37] bel3atar opened #5999 "[V2] undefined is not a function (most tried Android devices)"
My app runs fine on the browser, and after trying it on Android phone it only worked on one out of four.
The Chome inspector helped show where the problem is, but none of that code is written by me.
![2016-03-31-122541_1600x900_scrot](https://cloud.githubusercontent.com/assets/2218261/14174587/331c9694-f73d-11e5-993a-727449379158.png)

![2016-03-31-122638_1600x900_scrot](https://cloud.githubuserco

[2016-03-31 12:12] Tobiaswk commented on #5806
Thank you for the feedback, and explanation, it is greatly appreciated!

I am not able to get your directive to work... I'm getting some: `TypeError: qyIonicReady is not a function`
Am I missing something?

[2016-03-31 12:18] Hakog commented on #4218
Any progress on this issue ?

I'm willing to beta test this issue if helpfull.

[2016-03-31 14:06] raducostea commented on #5529
Any news on this one? When it will be tweaked?

[2016-03-31 14:17] jgw96 commented on #5959
@ZachBergh awesome! Very glad to hear that fixed your issue. Thanks for using Ionic !

[2016-03-31 14:20] leschirmeur commented on #5806
Well, qyIonicReady is a custom service we are using. It's basically wrapping $ionicPlatform.ready() so you could just use $ionicPlatform.ready() instead.

[2016-03-31 14:25] jgw96 commented on #5978
Hello @d691maurya ! Since this issue has already been reported in the issue brandy mentioned above I will be closing this one. As brandy said this is something we are currently working on and is caused by differences in Mozilla's implementation of Flexbox compared to other browsers. Thanks for using Ionic !

[2016-03-31 14:25] #5978 closed

[2016-03-31 14:41] ThorConzales opened #6001 "bug: ion-scroll only scrolls vertically or horizontally"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>ios</span> <span ionic-platform-version>9</span>  <span ionic-webview>webview</span>

<span ionic-description>Sometimes when scrolling around inside ion-scroll it only allows to scroll either vertically or horizontally.</span>

<span is-issue-template></span>

[2016-03-31 14:46] danbucholtz commented on #4596
Hi @tohagan,

I don't think we're going to be able to make a change to support resolve in this use case.  We are sorry about that.  We just think it's too risky of a change to make.

Our recommended approach is to move the logic presently in your `resolve` function to occur either before or after the transition.  An option is to use the [loader service](http://ionicframework.com/docs/api/service/$

[2016-03-31 14:46] #4596 closed

[2016-03-31 15:24] jgw96 commented on #5999
Hello! Thanks for opening an issue with us! Would you be able to provide me a plunkr or codepen of your code so that I can use it to repro this issue? That error looks like it's coming from a polyfill, which means it's related to some es6 code that you are using. Thanks again!

[2016-03-31 15:26] adamdbradley opened #6003 "Default to Material Design for desktop web"
We see "Material Design" as the preferred desktop web UI. By default, use the `md` mode for all desktop browsers. It's debatable if desktop Windows browsers should get Windows platform or not, but while Windows users are browsing the web, they are using the web platform. On any desktop browser, we want the "web" platform to have a common UI. However, when an Ionic app is placed inside of a shell t

[2016-03-31 15:32] jimitndiaye commented on #6003
I've been hacking this using the Platform class. Would be nice to have it built in.

[2016-03-31 15:35] adamdbradley commented on #6003
@jimitndiaye Cool, the platform class, and more so the config is built so apps can easily customize which mode to use under certain criteria. We still have to create some good demos showing how to do this.

[2016-03-31 15:47] jgw96 commented on #6001
Hello! Thanks for opening an issue with us! Are you setting the scrollX and scrollY to true? `<ion-scroll scrollX="true" scrollX="true"></ion-scroll>` If you do that then it enables scrolling both vertically and horizontally.

[2016-03-31 15:55] brandyscarney commented on #5994
Thanks so much for the issue and the PR! I'm going to take a look at this soon. :smile:

[2016-03-31 15:57] brandyscarney commented on #5060
This will be fixed when we upgrade Angular to 2.0.0-beta.13. See Breaking Changes:
https://github.com/angular/angular/blob/master/CHANGELOG.md#200-beta13-2016-03-31

[2016-03-31 16:00] jgw96 commented on #5609
Hello @emps Im happy to reopen this issue (: It was closed due to there being no activity on the issue for a specific amount of time from the original poster. @agrt56 commented but just to let us know he opened another issue as this one was related to v1. Would you be able to provide a codepen or plunkr so that we can use it to repro this issue? Thanks!

[2016-03-31 16:14] bel3atar commented on #5999
Thanks for the reply, but why would a polyfill work on some devices without others?
Furthermore, I have no idea which part of my code is behind this error; I'll have to go through the whole code manually and try out individual parts to find out where the error originates from.
What functionality does _arrayFromMap() polyfill exactly? I don't use Map anywhere in my app.

[2016-03-31 16:36] IonicNick commented on #5324
We're seeing the same issue. We can reproduce it with this in the AppDelegate.m

    NSUInteger sizeInMB = 300;
    int * unusedMemoryBufferToSimulateMemoryScarcity = NSZoneCalloc(NSDefaultMallocZone(), sizeInMB * 1024 * 1024, 1);
    if (NULL == unusedMemoryBufferToSimulateMemoryScarcity) {
           NSLog(@"MEMORY STRESS TEST FAILED: Was unable to allocate requested memory");
           return;

[2016-03-31 16:45] jgw96 commented on #5999
Sorry, should have thought about this earlier. Would you mind putting `import 'es6-shim'; ` at the top of your app.ts and see if that fixes your issue for you? Thanks.

[2016-03-31 16:46] mhartington commented on #5324
@IonicNick are you using cordova-ios 4.1.0?

[2016-03-31 16:52] IonicNick commented on #5324
@mhartington Just switched to it after that message and 8 restarts and no issue.
So yes cordova-ios 4.1.0 appears to solve it for us too.

[2016-03-31 16:54] bel3atar commented on #5999
@jgw96 yep that solved it.

[2016-03-31 16:57] jgw96 commented on #5999
@bel3atar Awesome! Sorry, i should have thought about that solution earlier!

[2016-03-31 16:57] #5999 closed

[2016-03-31 18:38] royipressburger opened #6004 "Custom component for ion-navbar causing changes in design (v2)"
#### Short description of the problem:
Creating a custom Component for `ion-navbar` causing changes in design

I working with ionic tabs and i also have a header on each tab.
So instead of copy paste the header on each tab i wanted to create a Component.
this cause for changes in the design

#### What behavior are you expecting?
I was expecting to the same header on each tab like if it were writte

[2016-03-31 18:46] jgw96 commented on #5997
Hello! Thanks for opening an issue with us! I have added this issue to the 2.0.0-beta.5 milestone as we are working on ionic 2 working with the angular 2 router as a feature for beta.5. Thanks again!

[2016-03-31 19:03] lefnire commented on #5595
Is list reordering in general not yet supported in Ionic2, or is this ticket for something more nuanced around the buttons? Sorry the question, having trouble Googling around this topic.

[2016-03-31 19:06] djangojack commented on #5595
@lefnire not yet supported.

[2016-03-31 20:06] danbucholtz commented on #5739
Hi @mattchue and @t0mm13b, I have started look at this issue.

I have an active branch open called `5739/slider-loop-not-updating`.

I am hacking it up [here](https://github.com/driftyco/ionic/commit/ca178c6c5b43a9e93a35f8f1dd12018ac39ce797) just trying to get it working correctly, then I will clean the code up.

Here's where I'm at:

1.  If I get access to the element's scope from angular, I can

[2016-03-31 20:13] dheeran1 opened #6005 "nav.pop() not working after showing alert prompt"
**Ionic v2**

**Steps to reproduce**
1. Navigate from page A to page B
2. Create new Alert prompt and show the alert by

3. On alert handler call

4. It won't work. promise returns false.

[2016-03-31 21:10] anthony-o commented on #4830
Any news about this bug? I still have it in 1.2.4...

[2016-03-31 21:19] anthony-o commented on #4830
I've tried your patch but I have a small remark: autoHeight is working but the pager falls at the bottom of the page (so is not visible until I scroll to the end). Is there a way to make it sticky to the bottom of the page in absolute? (in order not to have to scroll to the end to see it)

[2016-03-31 21:29] jgw96 commented on #6005
Hello @dheeran1 ! Thanks for opening an issue with us! This is a known issue for us and will be fixed in beta.4! Thanks for using Ionic!

[2016-03-31 21:29] #6005 closed

[2016-03-31 21:40] jiazhengshi commented on #2870
https://github.com/driftyco/ionic/blob/aef490b177406f9bd7d532294abd6c3198357622/js/utils/tap.js#L164

 chaning ele.contentEditable === 'true'  to  ele.isContentEditable works

[2016-03-31 23:16] ctcampbell commented on #5888
An update, on ionic 1 I only get this when native scrolling is enabled. Trying to get a simple example together, should have something soon.

[2016-04-01 00:55] gluttonman commented on #5873
@jgw96 Thank you for help me! the cookies can store data by expire date but localStorage can not do it . so  i choose to use cookies.

[2016-04-01 02:07] rogercorrea commented on #5727
Yes.
I tested using Ionic View but I saw after that he don't support some plugins.
But I also tested on Android emulator and the iframe bug continued.

The iframe back to the beginning or even crashes when I touch on the page to scroll the screen.
Also not open this link inside the iframe page.

[2016-04-01 02:38] davyzhang opened #6007 "ionic2 ion-slides option not working as expected"
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/
#### Short description of the problem:

slideOptions:any ={direction:'vertical',paginationType: 'fraction' };

only direction works ,but paginationType is not working
#### What behavior are you expecting?

**Steps to reproduce:**

here is the pen
http://codepen

[2016-04-01 02:40] MrBokeh commented on #5763
The way to get rid of the errors on Atom or other IDEs is to declare the nav variable:

[code]

[2016-04-01 02:57] gaillard opened #6009 "Can I use http/2?"

[2016-04-01 06:19] ErkoKnoll commented on #6001
Hi, yes I'm setting them to true. Without them no scrolling is possible. The case is that half of the time it works as supposed, which is I can do free scrolling to any direction (360 degrees) but sometimes it locks only to either horizontal or vertical direction depending on the first initial vector. And sometimes even if I try to go diagonally it picks either horizontal or vertical vector, cant

[2016-04-01 08:13] bel3atar commented on #5999
Is this already documented somewhere?

[2016-04-01 08:18] mwgerson commented on #2285
+1 Running as a web app (no cordova). Ionic 1.2.4, seeing this in the 9.3 simulator and on a 6s (also 9.3). Codepen here: http://codepen.io/mwg/pen/ZWXWRV (to replicate, you can hit the fullscreen codepen in safari on the simulator or from your phone: http://codepen.io/mwg/full/ZWXWRV)

@barkoczi or anyone else manage to find a workaround?

[2016-04-01 09:09] Tobiaswk commented on #5806
Thank you it makes sence! It is still not working for me though;
`Error: element.height is not a function. (In 'element.height()', 'element.height' is undefined)`

`$timeout(function setOverflowYToScrollIfNeeded() {
						**var scrollerHeight = element.height();
						var scrollerContentHeight = domElement.scrollHeight;**

						// if scroller contains enough content to enable scrolling
						if (

[2016-04-01 09:30] Taewa commented on #4155
The key was making a unique id. Its working for me.
Thanks @ElodieC @tiagoMaua

[2016-04-01 09:36] Tobiaswk commented on #2285
I can also confirm this issue. I have no workaround. Pretty significant issue!
See also #5806 which I think is related to this issue.

[2016-04-01 09:53] vadimpopa commented on #5127
We encounter same issue for an app on iOS. Adding event.preventDefault() and event.stopPropagation(); within the ng-click handler is fixing it. We'll try to get some more details, but for now it seems like an temp fix for us.

[2016-04-01 11:34] vadimpopa commented on #5127
Wondering if it's related or has something to do with https://github.com/angular/angular.js/commit/0dfc1dfebf26af7f951f301c4e3848ac46f05d7f
which was fixed within 1.5.3 and released few days ago.

[2016-04-01 11:55] chazwoza commented on #4803
Any help? :)

[2016-04-01 12:49] FrancescoMussi opened #6010 "gulp sass error"
#### Short description of the problem:

I had to install sass on my Ionic project. I felt like jesus christ walking with the crux.
I finally managed uniting several solutions found around.

#### What behavior are you expecting?

I expect to run `ionic setup sass` and properly install sass

**Steps to reproduce:**
This how i manage to install sass:
1. sudo npm install -g n
2. n 0.12.7
3. rm -R node

[2016-04-01 12:58] guillaume-roy opened #6011 "Navigation history to a Tabs page doesn’t work"
Hello,

The navigation history doesn't work in a tabs page.

I have a root page who displays a basic ion-list with a FAB button.
When i click on the FAB button to create a new item, i perform a :
`this.nav.push(CreatePage, { myParams });`

The CreatePage is a TabPage like this :

[code]

No matter of the tab where i am, if i tap on the back button on my Android device, the entire app closes and i

[2016-04-01 13:04] ErkoKnoll commented on #5934
Hi,

Sorry for the delay, in case you haven't notices it yourself I added cropped screenshot.

![img_0001](https://cloud.githubusercontent.com/assets/9930079/14207544/731949a4-f823-11e5-8459-055bc1fef198.PNG)

[2016-04-01 13:37] royipressburger commented on #6011
Im not a big expert but is there a chance that when you load the `CreatePage` the `[root]="ATab"` cause the nav stack to be empty? maybe the `[root]="ATab"` is like writing `this.nav.setRoot(..)` so when u go back u go to an empty stack?

[2016-04-01 13:42] guillaume-roy commented on #6011
Yes it seems that is something like that.

But according to the doc (http://ionicframework.com/docs/v2/components/#tabs), i have to use `[root]`.

[2016-04-01 14:14] jgw96 commented on #6011
Hello, thanks for opening an issue with us! We really appreciate it! The reason your back button on your Android device is not working is because we have not yet implemented support for it in Ionic 2, although it is on the roadmap! (: . Now, the second issue with the back button does look like a bug to me. I will have to do some testing to see if I can reproduce it with your code. Thanks again!

[2016-04-01 14:16] jgw96 commented on #6010
Hello! Thanks for opening an issue with us! Since this issue is more related to the CLI and not the framework I will be moving this issue over there. Please feel free to continue the conversation over there, thanks again!

[2016-04-01 14:18] jgw96 commented on #6010
This issue was moved to driftyco/ionic-cli#891

[2016-04-01 14:18] #6010 closed

[2016-04-01 14:21] brentatproductops opened #6013 "Searchbar cursor jumps when editing text"
#### Short description of the problem:
When editing text within a Searchbar the cursor jumps to the end of the text that's being edited.

#### What behavior are you expecting?
When modifying text within the Searchbar the cursor stays where the editing is taking place instead of jumping.

**Steps to reproduce:**
1. Navigate here: http://ionicframework.com/docs/v2/api/components/searchbar/Searchbar/

[2016-04-01 14:23] jgw96 commented on #6009
Thanks for opening an issue with us! Since this is more of a question you will be able to get a better answer over at our forum (https://forum.ionicframework.com/) or our slack channel (http://ionicworldwide.herokuapp.com/). Thanks again!

[2016-04-01 14:23] #6009 closed

[2016-04-01 14:27] jgw96 commented on #6013
Hello! As this issue is a duplicate of https://github.com/driftyco/ionic/issues/5942 I will be closing this issue. Please feel free to continue this conversation on that issue! Thanks!

[2016-04-01 14:27] #6013 closed

[2016-04-01 14:41] jgw96 commented on #5934
Hello! Thanks for opening an issue with us! We have added this to the beta.5 milestone so you can expect this bug to be fixed once it comes out! In the meantime, as a workaround I would recommend adding margin to your menu title. Thanks again!

[2016-04-01 14:53] jgw96 commented on #5763
Hello! As it looks like you found a solution to this issue I will be closing this issue, thanks again!

[2016-04-01 14:53] #5763 closed

[2016-04-01 15:14] barocsi commented on #4731
Still a bug.

[2016-04-01 16:13] jgw96 commented on #6004
Hello! We are currently investigating this bug, but we have ran into some issues regarding content projection. I will keep you updated on the status of this issue!

[2016-04-01 16:20] brandyscarney commented on #6007
Thanks for the issue! We're planning on improving the slides as part of the next beta, so this will be worked on soon. :smile:

See #5508, #5491, #5039, #5571, and #5820

[2016-04-01 16:42] tlancina commented on #5789
As far as I can tell, this only works when using `tsc` and is not exposed to tooling: https://github.com/Microsoft/TypeScript/blob/68bdbe04e73fc4eb66d744a1a89bbd3baf162a87/src/compiler/tsc.ts#L129, so it doesn't work with webpack loaders or browserify plugins/transforms at the moment.

But I think it's possible for things like tsify to replicate the pretty output with the additional diagnostic inf

[2016-04-01 16:42] #5789 closed

[2016-04-01 16:59] jgw96 commented on #2342
Hello! Are you still experiencing this issue?

[2016-04-01 17:05] jgw96 commented on #3396
Hello! Thanks for opening this issue with us! As it has been a little while since there was any activity on this issue I will be closing it for now, please feel free to reply if you are still experiencing this issue though and i will be happy to reopen it.(:

[2016-04-01 17:05] #3396 closed

[2016-04-01 17:15] jgw96 commented on #3649
Hello! Are you still experiencing this issue?

[2016-04-01 17:17] tlancina commented on #5638
Hey is this still an issue? It's working for me on a nexus 4 running 4.4.4:
![image](https://cloud.githubusercontent.com/assets/804331/14214296/f492d706-f801-11e5-81c3-7c797d381b22.png)

Steps I took:
`npm install -g ionic@beta cordova@6.0.0`
`ionic start myapp --v2 --ts && cd myapp`
This is my constructor:
[code]
`cordova platform add android`
`cordova plugin add cordova-plugin-file`
`ionic run a

[2016-04-01 17:20] scastaldi opened #6015 "bug: Installing Tutorial for Typescript"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>When running: $ ionic start MyIonic2Project tutorial --ts I get this error...

Downloading: https://github.com/driftyco/ionic-starter-tutorial/archive/master.zip
 ✗ Not found: https://github.com/driftyco/ionic-starter-tutorial/archive/mast

[2016-04-01 17:25] scastaldi commented on #6015
Actually I just noticed the issue is the template, if I do the same command without tutorial, it works fine...

$ ionic start MyIonic2Project --ts

[2016-04-01 17:28] jgw96 commented on #6015
Hello! Thanks for opening an issue with us! Im pretty sure this issue is related to you not passing the --v2 flag to ionic start. With your current ionic start command the ionic cli is going to try to generate an Ionic 1 project but with a typescript starter, which is not valid as currently we only have ionic 2 typescript starters. To generate a v2 project with a typescript starter first make sure

[2016-04-01 17:29] rafaellop commented on #2342
No, you can close.

[2016-04-01 17:32] scastaldi commented on #6015
great thank you!

[2016-04-01 17:32] #6015 closed

[2016-04-01 17:34] jgw96 commented on #6015
@scastaldi No problem at all! Thanks for using ionic!

[2016-04-01 17:37] #2342 closed

[2016-04-01 18:04] t0mm13b commented on #5739
Hi @danbucholtz thanks for the comment, and for taking the time to check it out.

For point 2, that would somewhat, in my head, conclude that why the indexes are out. Unless there's something else at play there in relation to swiping.

Is there anything else that can be done?

Thanks again.

[2016-04-01 18:21] lisovet commented on #3537
Any updates on this @tlancina?

[2016-04-01 19:03] jgw96 commented on #4276
Hello! Are you all still experiencing this issue?

[2016-04-01 19:07] N0ps32 opened #6016 "Missing 3d transform in refresh controller"
#### Short description of the problem:

This is more a question than a problem since I've already solved it but here it goes:
refresherController.js uses translateY for the overscroll effect resulting in really bad performance on Android devices (and probably also on iOS).

I replaced
[code]

with
[code]

resulting in a noticeable performance boost since the animation is now 3D accelerated by the

[2016-04-01 19:13] brandyscarney commented on #5994
Fixed by https://github.com/driftyco/ionic/pull/5995 :+1:

[2016-04-01 19:13] #5994 closed

[2016-04-01 19:20] jgw96 commented on #4618
As it has been a little while since there was any activity on this issue I will be closing it for now, please feel free to reply if you are still experiencing this issue though!

[2016-04-01 19:20] #4618 closed

[2016-04-01 19:21] jgw96 commented on #4601
As it has been a little while since there was any activity on this issue I will be closing it for now, please feel free to reply if you are still experiencing this issue though!

[2016-04-01 19:21] #4601 closed

[2016-04-01 19:24] jgw96 commented on #4555
As it has been a little while since there was any activity on this issue I will be closing it for now, please feel free to reply if you are still experiencing this issue though!

[2016-04-01 19:24] #4555 closed

[2016-04-01 19:25] #4543 closed

[2016-04-01 19:30] jgw96 commented on #4772
Hello (: Are you still experiencing this issue with the latest version of ionic?

[2016-04-01 19:32] jgw96 commented on #4620
Hello (: Are you still experiencing this issue with the latest version of ionic?

[2016-04-01 19:37] jgw96 commented on #4624
Hello (: are you still experiencing this issue?

[2016-04-01 19:39] jgw96 commented on #4640
Hello @luchusnet ! are you still experiencing this issue? I know you said it was fixed in 1.2.4 but that you needed to support android devices older than 4.1 correct?

[2016-04-01 19:41] jgw96 commented on #4708
Hello (: Are you still seeing this issue in the latest version of ionic?

[2016-04-01 19:42] jgw96 commented on #4754
As it has been a little while since there was any activity on this issue I will be closing it for now, please feel free to reply if you are still experiencing this issue though! Thanks again!

[2016-04-01 19:42] #4754 closed

[2016-04-01 19:59] brandyscarney commented on #5987
PR is merged. :+1: Will be released with beta.4! https://github.com/driftyco/ionic/pull/5992

[2016-04-01 19:59] #5987 closed

[2016-04-01 20:37] brandyscarney commented on #5938
Fixed by Tim's PR. https://github.com/driftyco/ionic/pull/5939

[2016-04-01 20:37] #5938 closed

[2016-04-01 21:43] nikiben commented on #5960
Tested on Device... Same issue

[2016-04-01 23:04] pavei commented on #3884
+1

[2016-04-02 00:48] cityzen commented on #745
I'm seeing this issue as well on a Nexus 5 with KitKat 4.4.3 and iphone 6 with ios 9.3.1. I am wrapping the whole list item as a link so the link area is fairly large. Either way, it is quite distracting while scrolling through items.

[2016-04-02 02:08] Bandito11 opened #6018 "ENOENT spawn error with ionic start"
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:
I upgraded to beta.23 and started to get an error when created a new project using 'ionic start foo --v2 --ts'.
The error in red says
"Unable to spawn commandError: spawn npm ENOENT (CLI v2.0.0-beta.23)."

I don't even kn

[2016-04-02 02:09] vhoxha08 commented on #5976
Perhaps he's trying to point out that docs for v1 are missing specifically changes made in v1.2.
At least they are not listed in the focs navigation menu.

[2016-04-02 02:58] SP1966 opened #6019 "Range Slider - Allow vertical"
#### What behavior are you expecting?

A vertical slider would offer greater one handed usability in many situations on mobile devices. I'm thinking something in line with what Angular Material have implemented:
https://material.angularjs.org/HEAD/demo/slider

[2016-04-02 04:22] jgw96 commented on #6018
Hello! Thanks for opening an issue with us! Since this is an issue related to the ionic cli and not the framework i will be moving this issue to that repo. Feel free to continue the conversation over there! Thanks!

[2016-04-02 04:22] jgw96 commented on #6018
This issue was moved to driftyco/ionic-cli#892

[2016-04-02 04:22] #6018 closed

[2016-04-02 07:46] d691maurya commented on #5978
Thank you too.

[2016-04-02 08:31] manucorporat commented on #6019
I agree, the Angular Material range looks very accesible (supports touch/click/keyboard) and well implemented.

[2016-04-02 10:08] dylanvdmerwe opened #6020 "Zone.js issues with old and outdated dependency versions"
#### Short description of the problem:
I am having issues when using FileReader in the current version of Ionic2. The FileReader's events are not firing due to a known zone.js (and long ago fixed) issue. Not specifically a problem with Ionic, but this issue serves as a strong enforcement to ensure each and future release beta of Ionic runs the latest Angular and zone.js packages.

See [here ](http

[2016-04-02 10:43] Darvile commented on #4657
Thanks man this link saved the day!!!
http://zacvineyard.com/blog/2015/11/ionic-invalid-device-state-error-with-xcode-7-solved

[2016-04-02 10:48] keyvan-m-sadeghi commented on #5418
Hi @adamdbradley, thanks for the great work, how far has this issue got? We're looking forward to use this feature in one of our production apps.

[2016-04-02 10:54] dylanvdmerwe commented on #6020
As of today latest versions are:

Whereas ionic 2 beta 3 is on:

:-1:

[2016-04-02 11:17] perry commented on #4563
This is still an issue in the latest nightly (`v1.2.4-nightly-2826`) on iOS 9.3. Applying the patch above fixes it.

[2016-04-02 12:55] iignatov commented on #5737
@cperez1087 This is [a known issue](https://github.com/driftyco/ionic/issues/5760) and will be fixed in `beta.4`.

[2016-04-02 12:55] gregblass commented on #297
I'd really recommend you reconsider this. I'm coming from rails and autoprefixer is amazing. Instead of writing all the prefix code for every device when you're writing your sass, just write the one generic version and forget about everything else. It really is an amazing tool that I've come to take for granted. Writing -webkit- and -moz- in addition to the generic css in Ionic is really painful.

[2016-04-02 12:59] iignatov commented on #5998
Hi @alzalabany, this is a [known issue (#5760)](https://github.com/driftyco/ionic/issues/5760) and will be fixed in `beta.4`.

[2016-04-02 13:37] mpaland opened #6022 "bug: ion-content has always a vertical scroller"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span> beta.3

**Platform**: <span ionic-platform>all</span>

`<ion-content>` always contains `<scroll-content>` which has
[code]
so the vertical scrollbar is always visible in `ion-content`.

Suggesttion:
- Should be better to set `overflow-y` to `'auto'`
- Scrollbars of `<ion-content>` should be configurable as in

[2016-04-02 13:43] gregblass opened #6023 "ion-search CSS3 transition/animation is choppy on iOS, no option to disable it"
#### Short description of the problem:
'ion-search' component animation is choppy on iOS and doesn't have the option to pass in an option to disable it (facebook iOS style where there is no animation would work just fine).

#### What behavior are you expecting?
The CSS3 animation works great on chrome on OSX (as expected), but its super choppy and does not feel native on iOS (emulator or physical

[2016-04-02 13:59] gregblass commented on #6023
A workaround for now, in app.ios.scss:

[code]
and
[code]

[2016-04-02 14:04] beylkhanovdamir opened #6024 "Empty options in select element on Android 5.1"
Hi, I'm try to using default template for select list
``
  <div class="list">
  <div class="item item-input item-select">
    <div class="input-label">
      Lightsaber
    </div>
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
  </div>
  </div>
``
for testing on my tablet with Android 5.1
But in conclusion I see only empty op

[2016-04-02 14:05] hungtrinh commented on #4506
same problem on ios 9.3
@mcasaje patch works for me

`isElementTapDisabled: function(ele) {
    if(ele && ele.nodeType === 1) {
      var element = ele;
      while(element) {
        if( element.getAttribute('data-tap-disabled') == 'true' || element.dataset.tapDisabled == 'true' ) {
          return true;
        }
        element = element.parentElement;
      }
    }
    return false;
  },`

[2016-04-02 14:13] csantanapr opened #6025 "bug: ionic start options --appname or --id don't work"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>1.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>Creating a new app and specify --appname and --id doesn't work

To reproduce:
[code]

Expected Results:
example/config.xml
Should have `<widget id="com.example.app"`
and `<name>exampleapp</name>`

Actual Results:

$ cat example/config.xml

[2016-04-02 14:48] tohagan commented on #4596
Thanks Dan.  This is a really useful feature of Angular so hoping you can fix it in Ionic.

Appreciate your getting back to me as I though this issue had been shelved.

Cheer,
Tony

Brisbane, Australia

Sent from my iPad

[2016-04-02 14:50] tohagan commented on #4596
Ok. Thanks for giving. It some serious thought. I understand that keeping things backward compatible and stable is highest priority.

Tony

Sent from my iPad

[2016-04-02 15:52] fedorinoGore commented on #5710
Ups... I was too slow.

[2016-04-02 17:04] brandyscarney commented on #6004
Hey @royipressburger, so the reason the styles aren't showing up is because you need to inject `IONIC_DIRECTIVES` in your custom component:

[code]

While this will fix your immediate use case, there is still an issue with content projection where `<ion-buttons left>` is not placed correctly in the markup because of the `my-header` wrapper. Going to keep this open so we can discuss a solution to t

[2016-04-02 17:12] brandyscarney commented on #5602
This issue was moved to driftyco/ionic2-app-base#13

[2016-04-02 17:12] #5602 closed

[2016-04-02 17:18] brandyscarney commented on #5650
@Luchillo If this is still an issue can you please provide some code that can be used to reproduce this. I understand it only happens on a device, but I'm having a hard time understanding what exactly is happening with the video. Could you please explain the exact steps for me? Sorry and thanks! :smile:

[2016-04-02 17:46] brandyscarney commented on #5772
Hey @MrBokeh, could you please update to the latest CLI: `npm install -g ionic@beta` (may require sudo) and then rename your framework package from `ionic-framework` to `ionic-angular` (see https://www.npmjs.com/package/ionic-angular), you can do this by running

[code]

inside of your project folder, and then you can remove the line that includes `ionic-framework` from your `package.json` file:

[2016-04-02 17:51] DeeM297 commented on #4928
My scroll bar disappeared!!

So the solution I have found is to rename my "index.html" to "main.html" and create a new index.html with the following code.

`<!doctype html>
<html>
  <head>
   <title>the title</title>
   <script>
     window.location='./main.html';
   </script>
  <body>
  </body>
</html>`

[2016-04-02 17:55] brandyscarney commented on #5854
Hi, thanks for the issue! Unfortunately we won't be adding this support to the Alert component. We recommend using a modal instead to achieve complex structures. We will be adding the ability to make a modal `inset` in issue https://github.com/driftyco/ionic/issues/5423.

Sorry and thanks again! :smile:

[2016-04-02 17:55] #5854 closed

[2016-04-02 18:53] brandyscarney opened #6026 "Update Angular to beta.13"
Need to fix the errors with router in order to update Angular.

Known failing tests:

[http://localhost:8000/dist/e2e/nav/nested/](http://localhost:8000/dist/e2e/nav/nested/)
https://github.com/driftyco/ionic/tree/2.0/ionic/components/nav/test/nested

[http://localhost:8000/dist/e2e/nav/routing/](http://localhost:8000/dist/e2e/nav/routing/)
https://github.com/driftyco/ionic/tree/2.0/ionic/componen

[2016-04-02 20:41] alexbainbridge opened #6027 "v2 docs select - missing ion-item"
#### Short description of the problem:

Basic usage select
http://ionicframework.com/docs/v2/components/#select

The example in the documents needs to be wrapped in ion-item (like the multi-select example correctly is)

#### What behavior are you expecting?

Without ion-item, the markup does not work (and makes entire form selectable)

[2016-04-02 21:37] adamdbradley commented on #6020
Our releases have used versions which have sheltered devs from ng2 bugs that would not allow them to develop. Prior to our beta3 release, the latest angular version were not recommended to upgrade to by the angular team. The large refactor of zone.js introduced a few bugs into ng2, which is why we have held off. Additionally, there are any not significant differences between the ng2 betas that war

[2016-04-02 21:37] #6020 closed

[2016-04-02 22:19] gregblass commented on #6023
There's also a significant delay when tapping the search bar, which adds to the non-native feel.

[2016-04-02 22:46] gregblass opened #6028 "ion-search has delay on touch/focus on iOS"
#### Short description of the problem:
The ion-search bar has a delay when tapping/focus on iOS

#### What behavior are you expecting?
It should open the keyboard instantly without a delay so the user has a native-like experience.

**Steps to reproduce:**
1. Create a new Ionic 2 tabs application and replace an ion-title with an ion-searchbar on any tab
2. Open app in iOS emulator or a physical iOS

[2016-04-03 04:23] Luchillo commented on #5650
What happens there is that when i hit the Go key ('Ir' in spanish) in the form it opens for some reason the modal even if i don't even open it (found out testing later), it shouldn't happen when i am in an input lower to the modal, usually the go key jumps to the next input or if in last sends the form?

[2016-04-03 06:46] warner-pinz opened #6029 "Content.addScrollListner can't read class variables"
#### Short description of the problem:
Content.addScrollListner can't read class variables

#### What behavior are you expecting?
I want to access the instance variable on page scroll.

**Steps to reproduce:**
1.  Use the sample code from the Ionic2 documentation http://ionicframework.com/docs/v2/2.0.0-alpha.55/api/components/content/Content/
2. I see the console output saying 'They see me scrolli

[2016-04-03 07:31] ivanssa opened #6030 "what the correct way to use type: date in my ionic apphello"
I created an app in ionic and added a type field = date and I can call the native version of datepicker in ios iphone but not all versions of android works which ends up leaving the free text field to incorrect user typing, so I would whether there is a way to check if you have native datepiker or force open the datepicker in all versions or if the ideal is to include some datepiker plugin in my a

[2016-04-03 13:54] Artfloriani commented on #5760
@warner-pinz I guess we have to wait til beta.4

[2016-04-03 14:40] luco opened #6031 "console.log on Device only work on Cordova"
Hey,

I tried to console.log on my device. It just don't work. On browser it's ok, but on device, none. It seems that the problem it's with ionic since I created an app with cordova and it worked.

I tried everything, since setting `window.cordova.logged.__deviceReady();` to reinstalling cordova, ionic and etc. None worked.

This is happening with any Ionic starter pack, since `blank` to `sidemenu

[2016-04-03 14:58] trb143 opened #6032 "Ionic Beta does not install with missing execSync."
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:
I managed to install ionic beta 22 last week but needed to reinstall it this week.  Now all I get is

 OpenLP2  sudo npm i -g ionic@beta

<<<<<<worked install goes here >>>>>>>

npm http 304 https://registry.npmjs.org/is-

[2016-04-03 20:03] emps commented on #5609
yes i will make tomorrow morning codepen thanks

[2016-04-03 20:29] jgw96 commented on #5998
Hello! As @iignatov stated above this is a known issue and is slated to be fixed in beta.4. Thanks for opening this issue with us but as it is a duplicate of issue #5760 i will be closing this one. Thanks again!

[2016-04-03 20:29] #5998 closed

[2016-04-03 20:31] jgw96 commented on #6025
Hello! Thanks for opening this issue with us! As this issue is related to the ionic cli and not the framework i will be moving this issue to the cli repo.

[2016-04-03 20:32] jgw96 commented on #6025
This issue was moved to driftyco/ionic-cli#894

[2016-04-03 20:32] #6025 closed

[2016-04-03 20:40] jgw96 commented on #6031
Hello, thanks for opening an issue with us! Could you run `cordova plugin list` and post the output here please? It sounds as if the `console` plugin is not installed.

[2016-04-03 20:42] jgw96 commented on #6032
Hello! Thanks for opening an issue with us! Since this issue is related to the ionic cli and not the framework I will be moving this issue to the cli repo. Thanks again!

[2016-04-03 20:42] jgw96 commented on #6032
This issue was moved to driftyco/ionic-cli#895

[2016-04-03 20:42] #6032 closed

[2016-04-03 20:48] rajnandan1 opened #6033 "Ionic v1.2.4, ".ng-enter-stagger" fails after $ionicModal instantiated."
I updated my ionic lib to 1.2.4, and I am using the latest animate.css with the following properties to animate ng-repeat

[code]
the animation works fine at first, but suppose I instantiate $ionicModal, it stops working. I tested the same with ionic v1.1.1 and it works fine

[2016-04-03 20:53] jgw96 commented on #6030
Hello! Thanks for opening this issue with us! So, im guessing that your having issues with the datepicker on older android devices, most likely Android 4.3 and back, would that be correct? There are a things i can recommend to solve this. First of all, if your supporting older Android devices i would recommend using crosswalk. This will give you consistent html5 support and performance across all

[2016-04-03 21:25] iignatov commented on #5760
@warner-pinz You could apply the [fix](https://github.com/trongrg/ionic/commit/05823f9e62fe80f7156ada830d2399a76a2ac52a) directly in your project:

0. From inside of your project's folder open the following path:
`node_modules/ionic-angular/components/content/content.js`

0. Search for this string:
`_this.scrollElement.removeEventListener(type, handler);`

0. Add a new line right before it and the

[2016-04-03 22:04] fatty1380 commented on #3045
We weren't able to track down the problem and ended up changing our transitions to `android` on all platforms using `$ionicConfigProvider.views.transition('android')`. Obviously, this isn't an ideal solution.

Without going into too much detail, here's our setup ... I'll try to setup a CodePen, but want get this in to get the reopen process started

### Routes
    angular
        .module('signup')

[2016-04-04 00:11] luco commented on #6031
@jgw96 Hey, thanks for replying. Yes, `console` it's installed. Check my installed plugins below:

cordova-plugin-console 1.0.2 "Console"
cordova-plugin-device 1.1.1 "Device"
cordova-plugin-geolocation 2.1.0 "Geolocation"
cordova-plugin-network-information 1.2.0 "Network Information"
cordova.plugins.diagnostic.api-22 2.3.10-api-22 "Diagnostic"

As I said, it even works on Ionic starter packs, as `

[2016-04-04 00:49] Bandito11 opened #6034 "A suggestion"
More of a suggestion:

For the future if you guys are thinking of doing different screen sizes like tablets, a dropdown button would be an important component to add. This will work great for navigation for those screen sizes.

[2016-04-04 03:41] asanin-2sol commented on #6022
+1, is there a reason for it being 'scroll' instead of 'auto'?

[2016-04-04 04:16] EMCP commented on #5476
[code]

[2016-04-04 07:09] dheeran1 commented on #5915
Bug raised in angular also
https://github.com/angular/angular/pull/6069

[2016-04-04 09:08] thiphariel commented on #5426
Hi. The current ionic-native SpinnerDialog will not be used for this service right ? It looks kinda wrong on iOS, hope it's jsut a temporary thing :)

[2016-04-04 10:31] sbatezat commented on #4574
@marcelfalliere Please find bellow a working workaround for this issue (at least on Ionic @1.2.4). I agree it should be the default behavior on iOS.

$scope.$watch(function () { return $ionicSideMenuDelegate.isOpenRight(); }, function (isOpen) {
    $ionicHistory.currentView().canSwipeBack = !isOpen;
});

[2016-04-04 11:16] denkomanceski commented on #5760
Yep, I have the same problem.

[2016-04-04 12:53] shahroon opened #6036 "Expression 'undefined' used with directive 'ionSlides' is non-assignable!"
The error started to appear when I switched from Ionic-1.0.0-beta.14 to Ionic-1.2.4. I was using ion-slide-box before and now switched to ion-slides.

[code]

**Which Ionic Version?** 1.x or 2.x
1.2.4

**Run `ionic info` from terminal/cmd prompt:** (paste output below)
Cordova CLI: 5.4.1
Ionic Version: 1.2.4
Ionic CLI Version: 1.7.14
Ionic App Lib Version: 0.7.0
OS: Distributor ID:	Ubuntu Descript

[2016-04-04 14:01] kaihenzler commented on #1795
For me the Issue still remains on IE11.

Please revisit the codepen http://codepen.io/anon/pen/dEscg with IE11

"Unable to get property 'remove' of undefined or null reference", same applies for the addClass-function
it would be awesome if you could also check for `el.classList` and not only the add-function on it

//ionic.angular.js line 241
`if (cssClasses.indexOf(' ') < 0 && el.classList && el.

[2016-04-04 14:04] dheeran1 opened #6037 "Show-Hide-When for phone or tablet assertion"
**Ionic v2** **future requirement**

Please provide the feature for resolving Show-Hide-When for phone or tablet assertion

[2016-04-04 14:35] awebdeveloper commented on #5748
nope hope anyone else has some update

[2016-04-04 14:39] jgw96 commented on #5748
Hello @awebdeveloper , im having an issue reproducing this on my Macbook. I am using chrome canary and scrolling seems to work fine for me. Would you mind creating a plunkr of your exact code? Im currently just following your steps you gave above with a simple ion-content with a list of random things in it, but it seems to scroll fine for me.

[2016-04-04 15:07] shahroon commented on #6036
Never mind, fixed it. I was not using the watcher on slider. Now struggling with removing pager and on-slide-change king of options.

[2016-04-04 15:08] #6036 closed

[2016-04-04 15:51] #2870 closed

[2016-04-04 15:56] lakshmis10 commented on #1330
Even I want to deselect a tab? Did anyone got the solution?

[2016-04-04 16:06] jgw96 commented on #5408
Hello! As it has been a while since there was any activity on this issue i will be closing it for now, but feel free to comment and i will happily reopen!

[2016-04-04 16:14] jgw96 commented on #1330
Hey guys! Feel free to hit up our forum (https://forum.ionicframework.com/) or our slack channel (http://ionicworldwide.herokuapp.com/) and the people on there will be able to help you with your questions!

[2016-04-04 16:57] jgw96 commented on #6031
Hey @luco! Im having a little trouble reproducing your issue. Here are the exact steps im performing. I `start` an ionic project using sidemenu. Add some console logs throughout my app. `ionic run android` onto my nexus 6 and then inspect with chrome://inspect/#devices and i can see the console logs. Is this radically different than what your doing?

[2016-04-04 18:11] AgDude commented on #5408
This is still an outstanding bug. I think calling 6 days "a while" is a bit of a stretch.

[2016-04-04 18:16] jgw96 commented on #5408
Hello @AgDude ! Ill be happy to reopen this issue! Do you think you could give @danbucholtz some help with recreating your issue in the codepen he made? We would love to help you with your issue. Thanks!

[2016-04-04 18:42] jgw96 commented on #6024
Hello! Thanks for opening an issue with us! Unfortunately, im having a little trouble reproducing this issue. I put your exact code into a fresh Ionic 1 tabs starter project and it seems to be working fine for me. I tested with these devices: Nexus 6 running Android N preview, Nexus 7 2013 running Android 6.0 and a Moto x 2014 running Android 5.1. Could you maybe make a repo or a codepen of your e

[2016-04-04 19:10] jgw96 commented on #5727
Hey @rogercorrea ! Sorry, been thinking on this issue and i have a question. Is your iframe taking up the whole viewport?

[2016-04-04 20:34] jgw96 commented on #6033
Hello! Thanks for opening an issue with us! Would you be able to provide a plunkr or codepen for us to use to reproduce this issue?

[2016-04-04 21:21] danbucholtz commented on #3932
Hi @maxim-dev, we have pushed this change to the master branch.  It should be in the next nightly build.  Please re-open if you continue to have issues.  Thanks for using Ionic - we appreciate it!

Thanks,
Dan

[2016-04-04 21:21] #3932 closed

[2016-04-04 21:24] brandyscarney commented on #5426
@thiphariel This loading service will not use the SpinnerDialog plugin. It's custom UI that uses the Ionic spinners. You will be able to use any of our spinners or custom content. Here's a sneak peek of the UI for the default spinners:

![loading-modes](https://cloud.githubusercontent.com/assets/6577830/14263696/fead12c6-fa89-11e5-8855-634228a113a8.png)

[2016-04-04 21:33] thiphariel commented on #5426
@brandyscarney yeaap ! Thanks for the screens, looks awesome. Btw, it's for which beta ?

[2016-04-04 21:38] brandyscarney commented on #5426
@thiphariel We're planning on releasing it with beta.4! :smile:

[2016-04-04 21:42] thiphariel commented on #5426
@brandyscarney Yihaaa :D nice nice nice ! Hope it will coming soon ! Thanks

[2016-04-04 22:05] #4369 closed

[2016-04-04 22:07] #3884 closed

[2016-04-04 22:27] mohamed-ahmed commented on #3835
I'm getting the same issue without using cards (just ion-items), and using ng-repeat, and only on Android devices. What might fix it in that case?

[2016-04-04 23:09] hlehmann commented on #5426
Very cool ! Any estimation of when this beta will be release ?

[2016-04-04 23:33] brandyscarney commented on #5426
@hlehmann @thiphariel Check out the [milestones](https://github.com/driftyco/ionic/milestones) to see where we're at with each beta. :smile: We have a few issues open on [beta.4](https://github.com/driftyco/ionic/milestones/2.0.0-beta.4) but at the very least we want to complete #5418, #6026 and this issue before releasing beta.4.

[2016-04-05 01:46] wzhsh90 opened #6038 "$ionicView.leave and $ionicView.afterLeave not work on version 1.2.4-nightly-1917"
I upgrade the ionic lib version to 1.2.4-nightly-1917 but the '$ionicView.leave' and '$ionicView.afterLeave' can not work but my current version (1.1.0) its works.I also test the version 1.2.0 but still not work. who can tell me what is the problem?? how can I solve the problem??

[2016-04-05 02:35] zhouhao27 opened #6039 "Problem to run in emulator"
I created a blank application:

And trying to run:

Then I got the following error message:

2016-04-05 10:30:30.024 simctl[2343:32938] CoreSimulator is attempting to unload a stale CoreSimulatorService job.  Existing job (com.apple.CoreSimulator.CoreSimulatorService.117.15.1.dltcnwGXJZL4) is from an older version and is being removed to prevent problems.
logPath: /Users/myname/Projects/test/demo/

[2016-04-05 03:54] astik commented on #5436
+1
I'd like to share my components between the web app and the mobile app =)

[2016-04-05 03:55] zhouhao27 commented on #6039
I tried ionic-conference-app, it's no problem to run in my emulator. I compare the code. The only differences are:

1. I'm using typescript in my project
2. I'm using a few plugins in my project.

[2016-04-05 07:15] privetr commented on #5426
Woo this looks great :)

[2016-04-05 07:20] privetr commented on #5883
I have the same problem with Google or Facebook auth

[2016-04-05 07:21] dheran opened #6040 "Please provide option to validate form elements like <ion-input>, <ion-select>, <ion-textarea>"
**ionic v2**

[2016-04-05 07:45] kaihenzler commented on #1795
@adamdbradley
Please check the file comment in https://github.com/driftyco/ionic/commit/98629d424351c823a055b2c358d642adaa8e78f1
we are experiencing issues in IE11 because of this. It would be great to add the check for `&& el.classList` as well

[2016-04-05 08:12] wzhsh90 opened #6042 "different ion-nav-view can not fire $ionicView.leave and $ionicView.afterLeave but the same ion-nav-view work correctly"
ionic version 1.2.4-nightly-1917

1、my test code contains three pages,but they stay in different ion-nav-view
page A :    <ion-nav-view name="menuContent"></ion-nav-view>
page B:     <ion-nav-view></ion-nav-view>
page C:     <ion-nav-view></ion-nav-view>

case 1:
A-->B-->C-->B

$scope.$on('$ionicView.loaded', function() {
    console.log("$ionicView.loaded");
  });
  $scope.$on('$ionicView.beforeE

[2016-04-05 08:32] segersrobbert commented on #5499
I have the same issue, when I put a component in the ion-nav-bar, its constructor is initialized twice.

[2016-04-05 09:01] dheeran1 opened #6043 "selector attribute for @Page decorator not working"
** ionic v2**

I have a list page and a detail page.
I was building a dual pane layout for tablet. ie list in left side and detail in right side.
I'd named selector for both list (selector: "my-list") and detail (selector: "my-detail") page separately. I tried to import by creating element directive like

`<my-list></my-list> <my-detail></my-detail> `

in dual pane layout. but unfortunately view d

[2016-04-05 09:07] EuAndreh commented on #5426
Awesome @brandyscarney!

Even better that beta.4 will already include it =]

[2016-04-05 09:37] dujuanxian commented on #4213
Hi @mhartington , I don't think it is the "right solution" to close this issue or fix it in 2.0 (which until now is still Beta version). I am struggling for this problem in my project too, if this issue has "limitation of the way", would it be better to open it and get more ideas from other ones?

[2016-04-05 09:40] dujuanxian opened #6044 "No back button when switching between tabbed to non-tabbed pages !!"
As the problem is rushly closed at https://github.com/driftyco/ionic/issues/4213 , I re-opened it again as I still struggling for this issue in my project and ionic 2.0 is still Beta version.

[2016-04-05 09:42] jorchg commented on #4749
Hello! I have just integrated into an existing Ionic2 App and it has extremely lower the resources usage. In simulator (which consumes a little bit more than in real device) it has lower from something like ~100MB of memory usage to ~10MB. The CPU usage has lower too, it remains between ~5% and ~10% normal usage when it was something like ~20% ~25% with UIWebView. The peak when opening the App has

[2016-04-05 11:02] godzsa commented on #5767
I did further research on the case and found a problem might be that `touch-action` css properties are set to `manipulate` although I couldn't fix this so far. Another similar problem is that `webkit-user-drag` is set to `none`. I'm not sure on this, but I think these can cause the problem.

[2016-04-05 12:08] andreialecu commented on #5971
There is a workaround here, use the `hidden` attribute instead of `ng-if`, such as:

`<ion-tab ... hidden="{{ value }}">`

[2016-04-05 13:07] robertochajin commented on #284
I have the same issue with Ionic since Ionic 1.2.1 in android 4.4.2 and 5.1.1

[2016-04-05 13:59] dheeran1 opened #6045 "Segment button gets reset when back pressed. Not maintaining the state."
** ionic v2 **

I use segments with 2 segment button.
each segment contains a list. on item click event, page will navigate to detail page. now when I press back button of browser, segment highlight gets reset.

[2016-04-05 14:20] danbucholtz commented on #5297
Hi @WHarris22,

Is there anything we can do to help you with this?  It seems like there are work arounds for your specific issue.

Please let me know if there is anything the framework should do differently.  In the meantime, I am going to close this issue, but will reopen if needed.

Thanks,
Dan

[2016-04-05 14:20] #5297 closed

[2016-04-05 14:33] z4139jq commented on #284
Installing crosswork solved my problem，if that's not your option, maybe you should disable native scrolling temporarily

[2016-04-05 14:34] danbucholtz commented on #4574
Hi @marcelfalliere,

Dan from Ionic here.  Is there anything you want changed in the framework for this issue?  It seems like there are several different things being discussed here.

Please let me know what I can do to help you out.  If you could provide a codepen of your issue, even better.

We appreciate you using Ionic.

Thanks,
Dan

[2016-04-05 14:47] jgw96 commented on #6040
Hello, thanks for opening an issue with us! You can already do form validation in Ionic 2 using the angular 2 forms/formbuilder module. Thats the great thing about Ionic 2, it includes all the awesomeness from Angular 2! Here is a link to the Forms docs on the Angular 2 site: https://angular.io/docs/ts/latest/guide/forms.html Thanks again!

[2016-04-05 14:50] jgw96 commented on #6042
Hello! Thanks for opening an issue with us! Would you mind making a codepen or plunkr with your code? Im having a little bit of a hard time understanding your issue and would love to be able to reproduce it myself. Thanks!

[2016-04-05 14:57] jgw96 commented on #6043
Thanks for opening an issue with us! Would you mind asking this question over at our forum (https://forum.ionicframework.com/) or our slack channel (http://ionicworldwide.herokuapp.com/)?  Theres some awesome people on there that will be able to help you with this issue! Thanks again!

[2016-04-05 14:57] #6043 closed

[2016-04-05 14:59] jgw96 commented on #5499
Thanks for opening an issue with us! As this bug is a duplicate of this issue: #3852 I will be closing this one, but please feel free to chime in on the other issue. Also as you can see from that issue, we have added it to the 1.3 milestone, so expect to see a fix for this issue in that release!

[2016-04-05 14:59] #5499 closed

[2016-04-05 15:01] BugsBunnyBR opened #6046 "ion-tab and Ion Icons platforms exchange"
#### Short description of the problem:
While trying to customize the `tabIcon` element, I found out that, if I use tabIcon="md-help", it will work on Android, but not on IOS. I tried tabIcon="ios-briefcase" and some others and it works on both platforms.

#### What behavior are you expecting?
The "md-help" icon should be displayed as the tabIcon in any platform. Or in a broader way, being able to

[2016-04-05 15:04] sbatezat commented on #4574
Hi @danbucholtz,

There is no several different things being discussed by @marcelfalliere here. This thread has been polluted by other defect from others users, but the one from @marcelfalliere is clear enough. Just run an application with different screens on an iPhone with the ion-slide-menu and you will see the defect he's describing. Alternatively, to have more details, read the first message

[2016-04-05 15:06] danbucholtz commented on #4574
Cool - I am looking at the linked thread right now.  This fix will be in the next Ionic 1.x release.

Thanks,
Dan

[2016-04-05 15:10] jgw96 commented on #5971
Hello! I would recommend to not use ngIf in this situation. Binding to the [hidden] attribute of the tab like suggested above is gonna be a much better solution for you, and should be faster than using ngIf. Is there any reason you have to use ngIf?

[2016-04-05 15:14] danbucholtz commented on #6044
Hi @dujuanxian,

We are aware of this issue. But this is a limitation of the way things are setup at the moment and ui-router. We will address this in 2.0. Until then there is no easy fix right now.

This is a big reason we designed a new routing/navigation system in 2.0.  To allow more flexibility/creativity, and to escape some of the limitations of ui-router.

We appreciate you choosing Ionic, a

[2016-04-05 15:14] #6044 closed

[2016-04-05 15:14] jgw96 commented on #6045
Hello! Thanks for opening an issue with us! Would you mind asking this question over on our forum (https://forum.ionicframework.com/) or our slack channel (http://ionicworldwide.herokuapp.com/)? I think you will be able to get a better and faster answer over there. Thanks!

[2016-04-05 15:14] #6045 closed

[2016-04-05 15:19] jgw96 commented on #6039
Hello! Thanks for opening an issue with us! As this issue is more related to the Ionic cli, and not the framework i will be moving this issue over to that repo. Please feel free to continue the conversation over there! Thanks again!

[2016-04-05 15:19] jgw96 commented on #6039
This issue was moved to driftyco/ionic-cli#902

[2016-04-05 15:19] #6039 closed

[2016-04-05 15:22] danbucholtz commented on #5127
Hi @louisdoe (and others),

I am looking at your codepen.  Can you give me the steps I need to take to recreate the issue in the codepen?  I will try to come up with a fix for the next release of Ionic 1.x

Thanks,
Dan

[2016-04-05 15:23] jgw96 commented on #6038
Hello! Thanks for opening an issue with us! Would you mind giving us a codepen of plunkr that we can use to reproduce your issue? Thanks again!

[2016-04-05 15:24] danbucholtz commented on #5127
Hi @louisdoe, if it's easier you can send me the private branch and give me access.  Either way works.  Just let me know.

[2016-04-05 15:31] jgw96 commented on #5652
Hello! Since it has been a little while since there was any activity on this issue i will be closing it, but feel free to respond back if your still having the issue! Thanks again!

[2016-04-05 15:31] #5652 closed

[2016-04-05 15:33] jgw96 commented on #6030
Im gonna go ahead and close this issue as i believe my solution above should work, if not please feel free to respond back!

[2016-04-05 15:33] #6030 closed

[2016-04-05 15:38] jgw96 commented on #5609
Hello (: Have you gotten a chance to make that codepen yet?

[2016-04-05 16:26] danbucholtz commented on #2714
Hi @oaksagelew and others,

The Ionic team is looking at this issue and we are trying to understand the use cases for swipeable toggles/checkboxes/etc.  Can you elaborate on that please so we can better understand it?

As it stands now, I don't think we'll support this functionality in Ionic 1.x

Please let us know your thoughts on the topic and if viable alternatives exist.  Please at mention @jg

[2016-04-05 16:26] #2714 closed

[2016-04-05 16:29] danbucholtz commented on #5443
Hi @danielptn and others,

The Ionic team is looking at this issue and we are trying to understand the use cases for swipeable toggles/checkboxes/etc. Can you elaborate on that please so we can better understand it?

As it stands now, I don't think we'll support this functionality in Ionic 1.x

Please let us know your thoughts on the topic and if viable alternatives exist. Please at mention @jgw96

[2016-04-05 16:29] #5443 closed

[2016-04-05 16:57] jgw96 commented on #5976
Hello! @vhoxha08 Would you mind opening a separate issue with all the docs your having a problem finding? I would love to help you with this!

[2016-04-05 16:57] #5976 closed

[2016-04-05 17:06] jgw96 commented on #6028
Hello! As this issue is related to issue #6023 i will be closing this one for now, thanks though!

[2016-04-05 17:10] gregblass commented on #6028
In my opinion, they're really two separate issues. One is the animation being choppy - but even with the animation disabled, there is a tap delay. Personally I'd keep them both open as they are separate issues.

[2016-04-05 17:10] emps commented on #5609
hii well i wanted to build an example right now but i see there is already one built
http://codepen.io/ionic/pen/GpCst
so the problem is there when u click on the more icon u get popover open and then press at backdrop to close it and imidiatly click on other tab u will see u will see click not working first 1sec as popover get close/hide same with modals

[2016-04-05 17:13] emps commented on #5609
and its not tabs problem its any button or any element u will add there u cant click first 1sec after popover/modal get close. its a big problem imo ppl cant wait they like touch screen

[2016-04-05 18:10] danbucholtz commented on #5127
Hi @louisdoe, you code pen does not work.

@dually8, @mitiaptest, @vadimpopa, @JSONMartin, do any of you have a codepen or similar that will allow me to easily recreate the issue?

Thanks,
Dan

[2016-04-05 18:17] jgw96 commented on #6028
Ahh ok, sorry misunderstood this originally as the tap delay being due to the animation being choppy, sorry about that (:

[2016-04-05 18:20] vadimpopa commented on #5127
I don't, we caught it in our client's app which code is private. Since we are working for release I don't have time to prepare a test case. Forgot to mention that on our side is happening on 1.1.1, I'll test later this week on 1.2.4 and let you know.

[2016-04-05 18:26] raducostea opened #6047 "Alert close, input gets focused"
When i click the Ok button on the alert and there is an input behind it, the input gets focused.
I see this issue was in ionic 1 and it was fixed by adfing a timeout to the dismiss. I've added a 400ms timeout to the dismiss btn and it works but not sure if its the correct way.

Thanks

[2016-04-05 18:41] brandyscarney commented on #6027
This issue was moved to driftyco/ionic-site#530

[2016-04-05 18:41] #6027 closed

[2016-04-05 18:41] brandyscarney commented on #6027
Thanks for the issue! I moved this to the site repo so we can get the docs fixed. :smile:

[2016-04-05 18:45] jgw96 commented on #6023
Findings so far: Through testing in the ios emulator i can confirm that the animation on the ios searchbar is choppy. Its also choppy if i run the app in ios mode on my Nexus 6 (dont have an iphone to test with at the moment). I cant seem to reproduce the delay in the conference app though, although with one of my own apps i can reproduce the delay.

[2016-04-05 18:46] jgw96 commented on #6047
Hello!  Thanks for opening an issue with us! Would you mind running `ionic info` inside your ionic project and posting the output here please?

[2016-04-05 19:02] jgw96 commented on #6034
Hey @Bandito11 ! So ive been discussing this with the team and it looks once we get our popover component that is slated to come in beta.7 (https://github.com/driftyco/ionic/issues/5420) out then you will be able to use this to get the dropdown functionality. Feel free to chime in on that issue, and thanks for using ionic!

[2016-04-05 19:02] #6034 closed

[2016-04-05 19:09] danbucholtz commented on #5436
All, this will be in the next release of Ionic 1.x in the coming weeks.

Thanks,
Dan

[2016-04-05 19:24] alexbainbridge commented on #6027
Dont thank me @brandyscarney , you are doing all the hard work! Thank you again for your efforts

[2016-04-05 19:53] #5418 closed

[2016-04-05 19:55] adamdbradley commented on #6029
Try using `this.content.addScrollEventListener(this.myScroll.bind(this));`

[2016-04-05 20:00] BugsBunnyBR opened #6048 "background Page cursor showing in the foreground Page"
#### Short description of the problem:

Page1 has a form with inputs and a button to open a SearchPage, opening SearchPage with Page1 having focus in an input leaves the cursor of the background page (Page1) blinking over the content of SearchPage.
#### What behavior are you expecting?

Not showing the cursor in SearchPage

**Steps to reproduce:**
Don't know, it happened in a IOS device.

 **Which

[2016-04-05 20:09] manucorporat commented on #5418
@adamdbradley :tada: :balloon:

[2016-04-05 20:12] manucorporat commented on #6023
well,  I think it could be fixed if the animation could be implemented using css3 transforms (translate3d) and `will-change: transform`, but changing margin-left.

This way it probably gets GPU accelerated and does not require layout recalculation.

[2016-04-05 20:18] danbucholtz commented on #4551
Hi @djdmbrwsk,

The recommended approach from the angular team is to bind to a primitive like boolean through an object.

https://docs.angularjs.org/api/ng/input/input%5Bcheckbox%5D

[code]

As your example shows, that works.  That will be our recommended approach too.

Thanks for contributing and for using Ionic!

Thanks,
Dan

[2016-04-05 20:18] #4551 closed

[2016-04-05 20:19] gregblass commented on #6023
You're exactly right. That will fix it.

[2016-04-05 20:22] BugsBunnyBR opened #6049 "Alert scrolling events being forwarded to Page"
#### Short description of the problem:
If you have a scrollable content and shows an Alert, scrolling/flying in the alert makes the pages content scroll.

#### What behavior are you expecting?
Do not scroll the page content while executing a scrolling move in an Alert.

**Steps to reproduce:**
1. Create a Page with a populated ion-list and a button to open an Alert;
2. run on IOS;
3. Fly your fing

[2016-04-05 20:29] cenobyte321 commented on #1096
I've been struggling for some time now with this nasty issue. My app has a view with a PDF, rendered with PDF.js and a couple of videos, rendered with the video tag. In iOS the memory is leaking a lot when going back and forth from this view. After doing this a couple of times the app crashes. I haven't been able to pinpoint exactly where the leak is. If anyone is kind enough to lead me into the r

[2016-04-05 21:07] #1096 closed

[2016-04-05 21:26] Bandito11 opened #6050 "feat request: make grid responsive by screen size"
Hi,

This is not an issue more of a suggestion. I am doing a Windows 10 desktop app, and I was thinking "If I decided to do an app that worked for desktop and mobile I would have to make the grid work on different screen sizes".

So my suggestion is that the grid works on different screen sizes like:

width for mobile: width < 600px
width-m for tablets: width > 600px
width-L for Desktops: width >

[2016-04-05 22:20] vascofernandes commented on #3583
Still present in 1.2.4.
CPU. constantly at 40/50%

        <ion-refresher pulling-text="Refresh" on-refresh="vm.doRefresh()">
        </ion-refresher>

[2016-04-05 22:42] Iodine- commented on #1096
@cenobyte321 I believe i've tracked down your leak to somewhere in the PDF module you are using. When I benchmark the app without the PDF module the garbage collector can cleanup almost everything.  With the module included it doesn't even get 40%.  Notice how at the end of the second test the memory usage appears to return to where it was on the first transition, that's what you want to see.

Wit

[2016-04-05 22:46] lobo87 commented on #3399
using the collection-repeat as discussed in the documentation (http://ionicframework.com/docs/api/directive/collectionRepeat/) renders the ion-item to be 0px in height and width. this is in the case on windows 10 pro, build 10586.164 on both browser versions IE and Edge. Haven't tried the fix from above yet, but will do. This is the code i was using (i tried 44px and 44):

		<ion-item
			type="ite

[2016-04-05 22:58] vascofernandes commented on #5436
please do.

[2016-04-06 00:33] tgensol commented on #3884
+1

[2016-04-06 00:48] cenobyte321 commented on #1096
@Iodine- Thank you for your reply! Deleting the PDF module did reduce the memory leak, but I believe there's something else going on. By using the script I posted in the repository's readme file the memory leaked to a lesser degree, but after about 400 iterations of the script the app crashed. I know that might be an exaggeration but I could see the app still consuming memory and not releasing it

[2016-04-06 01:34] danbucholtz commented on #3907
@jordantomax, have you had a chance to put together an example?

Thanks,
Dan

[2016-04-06 01:46] #5997 closed

[2016-04-06 01:53] adamdbradley commented on #6050
These sizes should be configurable. Specifically which lines of code would you liked changed?

[2016-04-06 01:59] Bandito11 commented on #6050
No I know how to do that. (In fact I think you guys did it in a similar way I did in the past in sass). I've meant like add it to a future installment.

[2016-04-06 02:33] tgensol commented on #3907
Hi there,

This fix works well, but it looks the native-page-transitions is then not working properly... transitions are doing crazy things after I put this fix. Do you think it is linked ?

[2016-04-06 05:26] jrperin commented on #4218
Hi Guys!

I was looking for the solution of my problem and I ended up here.

Could you guys give me some help?

If there is not the place to ask it, I ask for sorry.

I need that "$ionicView.afterEnter" be triggered in a view, but there's no way to get it working.

I don't understand what is going on.

The basic structure in my project is a login and after this a main page with a side menu.

When

[2016-04-06 05:38] dheeran1 commented on #6040
in angular required attribute will work but in ionic (ion-select. ion-input) required attribute doesn't seems to work.

[2016-04-06 05:41] ivanssa commented on #6030
Hello thank you, really the two solutions worked, I cool the crosswalk solution but because of increasing the size of my app in more than 10mb I opted for cord-plugin-datepicker plugin, which worked on android older devices thanks ...

[2016-04-06 06:07] jgw96 commented on #6030
@ivanssa Awesome, glad to hear everything is working fine for you now!

[2016-04-06 07:01] icedice commented on #3941
This is still a issue in 1.2.4 and it is release critical for me. Any workarounds or fixes yet?

[2016-04-06 07:23] AdrienDC commented on #3907
@tgensol Use default parameters for this plugins, it works well with this fix !

[2016-04-06 08:07] MaximRobota opened #6051 "docs: My Max"
**Type**: <span ionic-type>docs</span>

**Ionic Version**: <span ionic-version>1.x</span>

**Platform**: <span ionic-platform>android</span> <span ionic-platform-version>5.1</span>  <span ionic-webview>webview</span>

<span ionic-description>Lololololololol ololol</span>

<span is-issue-template></span>

[2016-04-06 08:13] dheeran1 opened #6052 "Blank scroll area were added when ion-textarea gets focused on Android"
** Ionic v2 **

Scroll area not going even after closing the andorid keyboard.

[2016-04-06 08:25] thomastuts commented on #5512
Is there an intermediate fix we can use until this hits? It's kind of annoying working on a view that is nested 4 levels down and having to navigatie to it every time you want to see the changes you made.

[2016-04-06 08:30] marcelfalliere commented on #4574
@danbucholtz

thanks !

@sbatezat

indeed !

[2016-04-06 08:53] anasbud commented on #4892
A bit late to the party, but did you find a solution ?

[2016-04-06 08:54] anasbud commented on #4888
A bit late to the party, but did you find a solution ?

[2016-04-06 09:04] analtherapist opened #6053 "[ERROR INSTALLING] -node-sass@3.4.2???"
**After typing:**
npm install -g cordova ionic
I get an error when it starts to install node-sass@3.4.2:

node-sass@3.4.2 install C:\Documents and Settings\Bob\Application Data\npm\nod
e_modules\ionic\node_modules\node-sass
node scripts/install.js

Binary downloaded and installed at C:\Documents and Settings\Bob\Application Dat
a\npm\node_modules\ionic\node_modules\node-sass\vendor\win32-ia32-46\b

[2016-04-06 09:06] anasbud commented on #4849
I have the same issue. Overflow-scroll didn't fix it :(

Any solution ?

[2016-04-06 10:59] dheran opened #6054 "Android soft keyboard hides the input field in bottom screen"
** Ionic v2 **

Android soft keyboard hides the input filed in the bottom of the screen. Need to scroll to bottom manually. But when I commented the `app.bundle.js` like below, It works fine and last input field automatically pulled up when I focus it.

[code]

[2016-04-06 11:08] raducostea opened #6055 "IOS Keyboard click outside page jump"
Hello,

Check out the following video: https://vimeo.com/161755036

First 2 times i am using the Done button from the keyboard to close the keybord which works very nice. The next 2 times i am clicking on the first input, which is a readonly input so i cannot focus. If you see, the keyboard gets closed but the entire page jumps a little. Take a look at the top header bar.

This its a blank ionic 2

[2016-04-06 11:10] raducostea commented on #6049
This happens to me as well. To fix this i've changed the alert.js component inside the ionic-angular node module.
On line 327 i've added:

`   if (shouldDismiss) {

            setTimeout(function () {
                _this.dismiss(button.role);
            }, 100);
        }`

I see this also happened in Ionic 1 and it was fixed by adding a timeout to the dismiss action.

[2016-04-06 11:12] raducostea commented on #6047
Sure

Cordova CLI: 6.0.0
Gulp version:  CLI version 3.9.1
Gulp local:   Local version 3.9.1
Ionic Version: 2.0.0-beta.3
Ionic CLI Version: 2.0.0-beta.23
Ionic App Lib Version: 2.0.0-beta.13
OS:
Node Version: v4.4.0

To fix this i've added a timeout in alert.js
[code]

[2016-04-06 12:52] privetr commented on #4888
Not for me... Waiting for the 1.2.5 version to see if the problem is fixed...

[2016-04-06 13:10] dylanvdmerwe opened #6056 "Issue(tabs): Spacing problem with 5 tabs on iOS"
#### Short description of the problem:
When adding more than 4 tabs on iOS the spacing of tabs goes over the screen.

#### What behavior are you expecting?
On iOS, the maximum number of tabs that can be added are 5. At the very least, 5 tabs should fix on an iOS device.

iOS (Ionic 2 with 5 tabs)
![capture](https://cloud.githubusercontent.com/assets/2852839/14317599/4c41e784-fc09-11e5-8843-7baa5d3

[2016-04-06 13:16] dylanvdmerwe commented on #6052
Isn't this a dup of https://github.com/driftyco/ionic/issues/5810 and https://github.com/driftyco/ionic/issues/5536

[2016-04-06 13:18] dylanvdmerwe commented on #6049
@raducostea can you create a pull request?

[2016-04-06 13:25] martyzz1 opened #6057 "ionic run ios --device"
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:
ionic run ios  --device   doesn't work. Command halts without errors before copying to device
cordova run ios works perfectly and deploys to the device

#### What behavior are you expecting?
ionic run ios --device should

[2016-04-06 13:30] martyzz1 commented on #6057
editted the above for neatness and added cordova info...

[2016-04-06 13:32] martyzz1 commented on #6057
just confirmed this happens when trying to deploy to ipad and iphone

[2016-04-06 13:47] barocsi commented on #1078
+1

[2016-04-06 13:57] AceLondon commented on #4749
Something worth taking a look at is [Telerik WKWebView](https://github.com/Telerik-Verified-Plugins/WKWebView). It does not require iOS@4+. Also it is a one step solution implementing a local-webserver and crash-recovery. As an aside: IBM [MobileFirst + ionic](https://github.com/csantanapr/mfp-ionic-templates?cm_mc_uid=71130417934114533172662&cm_mc_sid_50200000=1454349233) requires ios < 4 (and re

[2016-04-06 14:09] adamdbradley commented on #6052
Yes this is a duplicate of #5536

[2016-04-06 14:09] #6052 closed

[2016-04-06 14:13] #6051 closed

[2016-04-06 14:16] jgw96 commented on #6053
Hey! Thanks for opening an issue with us!  As this issue is more related to the CLI and not the framework I will be moving this issue to that repo. Thanks again!

[2016-04-06 14:17] jgw96 commented on #6053
This issue was moved to driftyco/ionic-cli#910

[2016-04-06 14:17] #6053 closed

[2016-04-06 14:21] jgw96 commented on #6054
Hello! Thanks for opening an issue with us! So, I'm a little confused on your issue. If you comment out that app.bundle.js script then your Ionic app isn't going to work at all, as that JavaScript file has all your components and everything built into it, so when you loaded your app it would just be a blank white screen. By chance, would you be able to provide a codepen that I can use to repro the

[2016-04-06 14:28] jgw96 commented on #6057
Hello! Thanks for opening an issue with us! So, as this issue is related to the CLI, and not the framework, I will be moving this issue over to that repo. Thanks again!

[2016-04-06 14:29] jgw96 commented on #6057
This issue was moved to driftyco/ionic-cli#911

[2016-04-06 14:29] #6057 closed

[2016-04-06 14:40] jgw96 commented on #3649
Since it has been a little while since there was any activity on this issue i will be closing it, but feel free to respond back if your still having the issue! Thanks again

[2016-04-06 14:40] #3649 closed

[2016-04-06 14:41] jgw96 commented on #4276
Since it has been a little while since there was any activity on this issue i will be closing it, but feel free to respond back if your still having the issue! Thanks again

[2016-04-06 14:41] #4276 closed

[2016-04-06 14:41] jgw96 commented on #4620
Since it has been a little while since there was any activity on this issue i will be closing it, but feel free to respond back if your still having the issue! Thanks again

[2016-04-06 14:41] #4620 closed

[2016-04-06 14:42] jgw96 commented on #4624
Since it has been a little while since there was any activity on this issue i will be closing it, but feel free to respond back if your still having the issue! Thanks again

[2016-04-06 14:42] #4624 closed

[2016-04-06 14:42] jgw96 commented on #4640
Since it has been a little while since there was any activity on this issue i will be closing it, but feel free to respond back if your still having the issue! Thanks again

[2016-04-06 14:42] #4640 closed

[2016-04-06 14:42] jgw96 commented on #4708
Since it has been a little while since there was any activity on this issue i will be closing it, but feel free to respond back if your still having the issue! Thanks again!

[2016-04-06 14:42] #4708 closed

[2016-04-06 14:43] jgw96 commented on #4772
Since it has been a little while since there was any activity on this issue i will be closing it, but feel free to respond back if your still having the issue! Thanks again!

[2016-04-06 14:43] #4772 closed

[2016-04-06 14:59] jgw96 commented on #3907
Hello all! As it seems through my testing and you guys testing the fix seems to be working I'm gonna go ahead and close this issue for now. @jordantomax if you get a chance to throw that test together feel free to post and I'll gladly reopen (:. Also @tgensol if the above solution does not fix your issue would you mind opening a separate issue on the bug hour having? Thanks everyone!

[2016-04-06 14:59] #3907 closed

[2016-04-06 15:01] danbucholtz commented on #3941
Hi @pavax,

The Ionic team has discussed this and decided not to make any changes here.  Ionic was designed without the resolve functionality of ui-router in mind.  It will often work just fine, but often times it does not.  We're sorry about that.

In order to support resolve data and view caching, we would have to start making some "hacks" to ui-router since the resolve data is injected on creat

[2016-04-06 15:02] #3941 closed

[2016-04-06 15:10] blablapolicja commented on #3359
@Screeze +1
I don't use resolves

[2016-04-06 15:14] raducostea commented on #6049
Well that is some sort of hack. The original code is:

[code]

So i just changed with a static value of 100
[code]

Not sure if this is the right call.

[2016-04-06 15:15] adamdbradley opened #6059 "Click response from an ion-page to ion-tabs transition too slow"
Something broke with the transition animations, where the transition ends up using the fallback timeout rather than the animation transition end event.

[2016-04-06 15:16] dheeran1 commented on #6054
Actually real issue is, I add a html `<textarea> `in my template, which is in the bottom of all.
When I tap into the `textarea `from android browser, the keyboard hides the `textarea` which is not the default behavior of android chrome. When I build the same page with raw html and javascript, page pops up as expected.
It seems issue with ionic library.

[2016-04-06 15:19] aspitrine opened #6060 "Losing characters in ion-input"
#### Short description of the problem:
When I tap in ion-input quickly, I lost some characters.
![bug ionic](https://cloud.githubusercontent.com/assets/3731837/14321779/e177687c-fc1a-11e5-950a-4e8df39644bb.gif)

**Steps to reproduce:**
1. Tap inside ion-input quickly

[code]

On Ionic 2.x

Your system information:

Cordova CLI: 6.0.0
Ionic Version: 2.0.0-beta.3
Ionic CLI Version: 2.0.0-beta.19
Ion

[2016-04-06 15:20] #6026 closed

[2016-04-06 15:28] adamdbradley commented on #6054
Can you use ion-textarea instead? Additionally, all of ionic's markup should be within templates that ng2 will insert into ion-app. So there shouldn't be any HTML written outside of ion-app in the index.html file.

[2016-04-06 15:43] adamdbradley commented on #6050
Do you mean for ionic1 or ionic2? So far these numbers have been working great for us: https://github.com/driftyco/ionic/blob/2.0/ionic/components/grid/grid.scss#L13

[2016-04-06 15:46] brandyscarney commented on #5060
Fixed by https://github.com/driftyco/ionic/issues/6026 wooo! :grin:

[2016-04-06 15:46] #5060 closed

[2016-04-06 15:57] nicolaveritas commented on #4708
Sorry for being late, but yes the issue is still visibile with the latest version

[2016-04-06 16:10] martyzz1 commented on #6057
Ah sorry. Thanks...
On 6 Apr 2016 15:30, "Justin Willis" <notifications@github.com> wrote:

[2016-04-06 16:39] jlstr commented on #3603
+1

[2016-04-06 16:50] jgw96 commented on #6057
@martyzz1 No problem (:

[2016-04-06 17:28] BugsBunnyBR commented on #6049
@raducostea , after the timeout, the alert will disappear, right? If this is the case, I can't use this.

[2016-04-06 17:45] sagivf commented on #3941
@danbucholtz thanks for addressing this in detail :+1:

Not fixing this is totally reasonable as it is indeed super risky and not relevant for Ionic2.
But I would strongly recommend documenting this.
I was a long time user of the resolve functionality, both in `ui-router` and angular's default `router` (I find it makes a lot of scene). When I started using Ionic I naturally used it and it took me

[2016-04-06 18:37] danbucholtz commented on #3941
Hi @sagivf, thanks for the suggestion.  This is documented on our staging site but hasn't been deployed to production yet.  I will get on that.  Thanks for the heads up! 👍

[2016-04-06 19:30] bvkimball opened #6061 "V2: ionic button causes namespace errors, selector is too generic"
#### Short description of the problem:

We maintain a internal NG2 Component library we were trying to use in conjunction with Ionic. We also hang a component off the `button` element.  we use:

[code]

So we get a conflict that button is trying to use 2 components definitions.

#### What behavior are you expecting?

hanging a component off of `button` seem like bad practice, and although we are d

[2016-04-06 20:17] 0xE282B0 commented on #6060
I've got the same Problem. It looks like the input switches between two values. If you use only two keys it looks like this:
![screen](https://cloud.githubusercontent.com/assets/4034494/14331135/33a5ff40-fc44-11e5-99ee-1ba1a1bed4a8.gif)

I'm using  ionic-angular 2.0.0-beta.3 too.
Any ideas?

[2016-04-06 20:30] jgw96 commented on #6060
Hello! Thanks for opening an issue with us! Im having an issue reproducing this. Would you guys mind making a codepen i could use to repro this issue? Thanks ! Also are you seeing this just on android? or in chrome too?

[2016-04-06 21:30] danbucholtz commented on #4574
This is resolved in [this](https://github.com/driftyco/ionic/commit/c375b6e9b010e45816e53dc8ab493dbb6d28b2fa) commit.

[2016-04-06 21:30] #4574 closed

[2016-04-06 21:51] #6059 closed

[2016-04-07 00:14] jordantomax commented on #4293
+1

[2016-04-07 00:28] Bandito11 commented on #6050
This would be for ionic 2. I don't meant to change it, but like add option so that the grid is implemented for different sizes. Like this grid will be implemented if the screen size is large.

For example like this.

[code]

[2016-04-07 01:48] #5756 closed

[2016-04-07 01:51] kelvindart opened #6062 "modal onPageWillEnter/onPageDidEnter weird behaviour"
#### Short description of the problem:
If I display a modal page in `onPageWillEnter` or `onPageDidEnter`, odd behaviour seems to occur where the modal is built twice.

If I attempt to dismiss my modal when I initialise it in `onPageWillEnter`, I cannot and I seem to have infinite modals.

If I attempt to dismiss my modal when I initialise it in `onPageDidEnter`, I seem to have two modals build an

[2016-04-07 02:13] leonardosalles commented on #4624
Hi,

Sorry for my down time, yep I still getting the issue, I solved it by adding a css class, but we need to check why this 'hide' class are added to the nav bar.

Thanks

[2016-04-07 02:41] adamdbradley commented on #6061
Using an actual `<button>` is important for accessibility and it keeps it simple. Why can't both directives apply?

[2016-04-07 02:45] adamdbradley commented on #5663
Fixed in ng2 and will be released in beta4

[2016-04-07 02:45] #5663 closed

[2016-04-07 02:50] adamdbradley commented on #5556
This is actually a challenge, because how will the app react when it transitions between pages with a navbar, and ones without?

[2016-04-07 02:57] jgw96 commented on #6060
Does this only happen for you guys when an input has an `[(ngModel)]` on it ?

[2016-04-07 03:04] wim1983 opened #6063 "perf: Using this.nav.push for page with textarea control"
**Type**: <span ionic-type>perf</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>If a page with <ion-textarea> control is opened using this.nav.push, when first tap in will make the keyboard open and disappear, and when you typing in the textarea control, UI become very laggy, however if use this.nav.setRoot, no issue

[2016-04-07 03:09] vikrana opened #6064 "tabs, segments and click events are very sloppy, not native-like"
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:
I have been working on my ionic 2 app for couple of months and starting to notice the delay more lately on all click events and especially main tabs and segments.

It takes 3-10 seconds for click events and segments. Tabs

[2016-04-07 03:21] jgw96 commented on #6062
Hmm, although its easily reproducible in the plunker, oddly enough when i take the code and put it into our tabs starter i cant reproduce the issue. Will have to look more into this one.

[2016-04-07 03:26] jgw96 commented on #6063
Hello! Thanks for opening an issue with us! Would you mind providing a plunker that i can use to reproduce this issue? You can use this plunker template (http://plnkr.co/edit/TW20lftdc5s622pcJPkp?p=info) to make one. Thanks!

[2016-04-07 03:36] danbucholtz commented on #4698
@louisdoe, @keyban, can you provide a codepen to demonstrate/recreate the issue?

Thanks,
Dan

[2016-04-07 04:33] adamdbradley commented on #6064
Sorry but you'll have to provide us with some more information to go on? You stated:

What is it your tabs and segments are doing? What devices are you testing on? To help you out we'll need sometime to go off of. Thanks

[2016-04-07 04:51] vikrana commented on #6064
Hi Adam, tabs load content. But I expect the tabs to turn active instantly even though content is not done loading, so it looks native-like without delay. Segments do the same. I see less of a delay on Chrome compare to iOS.

I am deploying it on iPhone 6.

Thanks.

[2016-04-07 04:54] jgw96 commented on #6064
Hey! Would you mind making a video or screencast of what your experiencing? Thanks!

[2016-04-07 04:56] adamdbradley commented on #6064
Ok, that it could be a number of things. Initially I'm thinking it might be the HTTP request to fetch the templates for ion-tabs, then the first ion-page within the first ion-tab. This is something we hope to solve with our CLI and offline template complication, but it isn't done yet. Are you able to inline your templates to see a difference? For testing, could you entirely remove the content from

[2016-04-07 05:15] dheeran1 commented on #6054
Forget about the above snippet.

I opted `<textarea>` instead of `<ion-textarea>` because of this issue (https://github.com/driftyco/ionic/issues/6052)

[2016-04-07 07:59] sbatezat commented on #4574
From what I can see (I didn't tested your code, just read it), your commit is not resolving the main issue. You should add something like "$ionicSideMenuDelegate.isOpenRight()" on the following condition:

`if ( !$ionicConfig.views.swipeBackEnabled() || ! ionic.Platform.isIOS() )`

Thus, I think it should be

`if ( !$ionicConfig.views.swipeBackEnabled() || ! ionic.Platform.isIOS() || !$ionicSideMe

[2016-04-07 08:16] salihklc commented on #4849
Hi,
here what I did for solution
**Keyboard Configuration (I write this code in the [angular module run function](https://docs.angularjs.org/guide/module) )**
[code]
This code (above) is my keyboard configuration and after I add an event listener for keyboard show event (below), like you see in the code I catch current state name which is also my ion-content id. For example if my state define like

[2016-04-07 08:31] aspitrine commented on #6060
It's a performance problem
http://plnkr.co/edit/yoYEOn6P4dnS31AMECKC
In device browser, we need less data to reproduce that.

[2016-04-07 09:48] buiphu opened #6065 "how used slides set item first show"
how used slides set item first show
e.g : 0, 1 ,2 ,3 ,4, ,5 ,6
i want when load page show item 4

[2016-04-07 10:07] sbatezat commented on #4574
Not tested, but should work: PR #6066

[2016-04-07 10:19] shahroon opened #6067 "ion-slides with ion-infinite-scroll having issues with scrolling"
#### Short description of the problem:
So, I just switched to Ionic 1.2.4 and as per Ionic new release we now have new ion-slides available for scrolling, I shifted to ion-slides from ion-slide-box. I have 3 slides, all of them different data lengths, the scroll bar takes the max height from any slide and then that is applied on all slides.

#### What behavior are you expecting?
I want the scroll

[2016-04-07 10:37] louisdoe commented on #4698
I did one when opening [this thread](https://github.com/driftyco/ionic/issues/5127)

http://codepen.io/LouisDoe/pen/gPvGXe?editors=1000

[2016-04-07 11:17] sghoe commented on #5638
Hey tlancina, working now with starter on my Samsung Galaxy Note 2.
I will try to do the same way on my existing project. Thank you

My Visual Studio Code takes automaticly a false Version of `FileSystem.d.ts`, there is no `window.resolveLocalFileSystemURL`

[2016-04-07 11:18] milesholt commented on #5605
Hi, sorry for the late response!

Here is the info. I've updated to the latest version of Ionic 2 Beta but still seeing the issue -

Cordova CLI: 6.1.1
Ionic Framework Version: 2.0.0-beta.3
Ionic CLI Version: 2.0.0-beta.24
Ionic App Lib Version: 2.0.0-beta.14
ios-deploy version: 1.8.5
ios-sim version: 5.0.4
OS: Mac OS X El Capitan
Node Version: v0.12.2
Xcode version: Xcode 7.0.1 Build version 7A10

[2016-04-07 11:26] milesholt commented on #5605
It appears I'm not allowed to reopen this issue, so could this be reopened by yourselves? Thanks

[2016-04-07 11:47] shahroon commented on #6067
Fixed the scroll height issue by placing ion-content inside every slide. But now having issues with

`        <ion-infinite-scroll
            ng-if="isSelected(2)"
            icon="ion-loading-c"
            on-infinite="getPastOrders()">
        </ion-infinite-scroll>`

Now getting these errors,
angular.js:11706 TypeError: Cannot read property 'isNative' of null
TypeError: Cannot read property

[2016-04-07 11:49] dheeran1 opened #6068 "Can't import some random plugin in typescript page"
**Ionic v2**

I've added **`contentsync `**cordova plugin.
I tried to import it in the typescript file like below,
`import {ContentSync} from 'ionic-native';`
But it throws below error.

Kindly provide some way to import some random plugins.

[2016-04-07 12:52] leschirmeur commented on #5726
May I kindly ask if there is anyone looking into this? We have more and more users complaining as this is leading to unwanted results when using our app.

[2016-04-07 12:59] persyval commented on #5726
It seems to be hard to get any response from the team.
I tried the forums, slack, gitter and an official bug report.
At this moment am not even looking for a fix but merely just someone looking at the bug.

One workaround you could try is giving the parent container of the scroll container a style of position=relative and set data-tap-disabled = "true" on the same parent container.
Like this:
<div

[2016-04-07 13:28] dylanvdmerwe commented on #6068
Not every plugin in the world has been added to ionic-native. Just use the plugin normally as [explained](https://github.com/phonegap/phonegap-plugin-contentsync#quick-example).

[2016-04-07 13:29] kelvindart commented on #6062
Hi Justin - odd! Which version are you using? I can attach a live .xcodeproj if that is easier? Unless the issue has inadvertently been fixed in a newer version you are using?

[2016-04-07 13:32] dheeran1 commented on #6068
Thanks for your info. But how will you import it to the environment without VS code error.

[2016-04-07 14:05] nbering commented on #3884
@danbucholtz I'm sorry. While that works, it's a terribly verbose workaround. Users picking up ionic that are familiar with ui-router should just be able to use stateParams as they always have. Why do we have to add 50 lines of code to a controller to update stateParams?

[2016-04-07 14:05] flavordaaave commented on #5710
Has someone figured out a nice way to include the `intl` package with the new browserify gulp task?

[2016-04-07 14:08] GenesioValois commented on #5214
+1

[2016-04-07 14:20] dheran opened #6069 "Issue while adding NavController as nested dependency"
**Ionic v2**

I've created a provider NavControllerProxy

[code]

and added in providers array of @App. `MyListPage `has `NavControllerProxy  `as private constructor parameter. When I navigate to `MyListPage`, below error printed was shown in the console.

[2016-04-07 14:26] Tobiaswk commented on #5806
This problem only appears if `cordova.plugins.Keyboard.disableScroll(true)` is used.

[2016-04-07 14:27] dheeran1 commented on #6045
No response from forum guys.
https://forum.ionicframework.com/t/segment-button-gets-reset-when-back-pressed-not-maintaining-the-state/48541

Is there any workaround?

[2016-04-07 14:31] jgw96 commented on #6060
Thanks for the plnkr! So I was able to reproduce this and it definitely seems to be a handy cap with the new ngModel. Also, by the way. If your binding to huge amounts of data like that, your probably trying to search through that array right? In that case you should use our <ion-searchbar>.

[2016-04-07 14:32] jdnichollsc commented on #3137
See the following example @ibewugb http://blog.jonathanargentiero.com/avoid-angular-dependencies-download-on-bower-install-ionic/

[2016-04-07 14:35] jgw96 commented on #6065
Thanks for opening an issue with us! Since this is more of a question you will be able to get a better answer over at our forum (https://forum.ionicframework.com/) or our slack channel (http://ionicworldwide.herokuapp.com/). Thanks again!

[2016-04-07 14:35] #6065 closed

[2016-04-07 14:40] aspitrine commented on #6060
The new ngModel works great with simple input
http://plnkr.co/edit/USqtSaWz8WPJNFRRmgwH?p=info

[2016-04-07 14:42] ct14it opened #6070 "Native Prompt - White Text / Missing Default"
#### Short description of the problem:

Native prompt input doesn't show text (or text is white), regardless of whether default text is specified or not.

![screenshot_20160407-153112](https://cloud.githubusercontent.com/assets/8723414/14354780/7fb2e672-fcd6-11e5-99b5-7374140d390f.png)

#### What behavior are you expecting?

Ability to see the input text

**Steps to reproduce:**
1. Create Tabs app

[2016-04-07 14:43] yokeshvaradhan commented on #4468
@mhartington i am getting the same issue
http://192.168.1.2:8100/lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js Failed to load resource: the server responded with a status of 404 (Not Found)

i used these
yokeshs-Mac-mini:myapp yokesh$ ionic add ionic-platform-web-client

Failed to find the bower component "ionic-platform-web-client".
Are you sure it exists? (CLI v2.0.0-beta.22)

Your s

[2016-04-07 14:47] danbucholtz commented on #4698
Hi @louisdoe, can you give me step-by-step instructions on what to click, where, etc to recreate the issue.

Thanks,
Dan

[2016-04-07 14:49] ct14it opened #6071 "Native Dialogs cause inconsistent blurring"
#### Short description of the problem:

Some elements receive blur effect on Android Nexus 6P and remain blurred until random touch event "fixes" them.

![screenshot_20160407-154126](https://cloud.githubusercontent.com/assets/8723414/14355194/042c0824-fcd8-11e5-807d-4ef4f9f6f739.png)

#### What behavior are you expecting?

Either no blurring at all or all content blurred. Definitely expect element

[2016-04-07 14:56] BugsBunnyBR opened #6072 "Formatting user input"
#### Short description of the problem:

I would like to be able to format the user input, like to documents and money, but if I use a type "number" and watch the user input and try to format it, ion-input does not allow the formatted input to be set in the screen.
If you look at the sample I provide in the repo below you can note that, even with "text" or "tel" you get a weird behavior not removin

[2016-04-07 14:56] jgw96 commented on #6068
Hello! We are still working on adding more plugins to Ionic-Native, so for the time being for some plugins you may have to use the raw cordova plugin. Using external libraries with Angular 2 is actually simple, even though it seems like it may be complicated. Theres also a couple of different ways to do it. I have linked two articles to this issue that should help you with using external libraries

[2016-04-07 14:56] #6068 closed

[2016-04-07 15:05] danbucholtz commented on #5896
@njleonzhang, are you able to use crosswalk?  That might resolve the issue.

[2016-04-07 15:12] cesar-oyarzun-m opened #6073 "Bug div scroll to all screen"
Hi,

I'm using ionic version = '1.2.4-nightly-2775'; on android 5.1.1 and all the screen has visible scroll. I have inspect the DOM and I see and extra div with class srcoll.

This is my html

    <ion-view view-title="Beacon List">
    <ion-header-bar class="bar bar-subheader bar-dark">
        <h1 class="title">
        </h1>
        <div class="buttons">
            <button  class="button butto

[2016-04-07 15:17] brandyscarney commented on #5426
This is complete! It will be in the beta.4 release. Thanks everyone for the feedback! We'll have the API docs for this published soon.

[2016-04-07 15:17] #5426 closed

[2016-04-07 15:18] cesar-oyarzun-m commented on #6022
hi @mpaland I have the same problem I see vertical scroll in all my screens, do you have a work around?

[2016-04-07 15:19] dheeran1 commented on #6068
Loading the plugin will be taken care by cordova.js in run time. Issue is bringing the member reference to the editor like in few plugins of ionic-native. So that editor wont pop any error.

[2016-04-07 15:20] thiphariel commented on #5426
\o/ hooray !
Le jeu. 7 avr. 2016 à 17:18, Brandy Carney <notifications@github.com> a
écrit :

[2016-04-07 15:26] flavordaaave commented on #5710
My solution is to add the needed scripts to src like this:
[code]

[2016-04-07 15:46] taigeair commented on #4661
Happens for me too

[2016-04-07 15:47] leschirmeur commented on #5806
You are probably not using jQuery but we are. Therefore, the height() method is not defined for you as jqLite is being used and not the full jQuery. Instead of calling height() you'd have to use something equivalent, e.g. element.offsetHeight. Some more info here: https://github.com/oneuijs/You-Dont-Need-jQuery#2.2

[2016-04-07 16:05] tlancina opened #6074 "Publish generators as own package"
With a peer dependency on the framework, then we can publish fixes/changes without having to wait for framework releases (which are happening less often than when we were in alpha).

[2016-04-07 16:18] jgw96 commented on #5205
Hey everyone! So, im having trouble reproducing this issue and would love if someone could create a codepen that shows this issue! I am testing with my nexus 6 running the android n beta preview with ionic 1.2.4 and the above `$ionicScrollDelegate` methods seem to be working for me. Thanks!

[2016-04-07 16:28] talamaska commented on #5205
https://codepen.io/zlatip/pen/qZprxP

[2016-04-07 16:54] Luchillo opened #6075 "bug: Android 4.2.2 Numeric pipe TypeError lenght"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>android</span> <span ionic-platform-version>4.4</span>  <span ionic-webview>webview</span>

<span ionic-description>The app works ok with android 5.0 up, but in 4.4.2 the numeric pipe triggers the following error:
[code]
</span>

<span is-issue-template></span>

[2016-04-07 17:11] luco commented on #6031
@jgw96 Hey! Thanks for replying! I didn't test with Android, only on iOS over Xcode. I think it only happens with Xcode, since I can get logs on Chrome, while debugging.

[2016-04-07 17:13] Luchillo commented on #5710
@flavordaaave So you moved to browserify? I'm still using Webpack, and it works as a charm, i can't help you with browserify.

[2016-04-07 17:36] royipressburger opened #6076 "ion-option: value is take from inner html and not from [value]"
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:
It looks like the value for `ion-option` is take from the inner html and not from the `[value]` property.

#### What behavior are you expecting?
was expecting the values to be taken from the value property

**Steps to rep

[2016-04-07 18:10] jgw96 commented on #6045
Would you mind putting together a plnkr example that i can use to repro this issue? That would be great! Heres a template i made that you can use to make your example: http://plnkr.co/edit/TW20lftdc5s622pcJPkp?p=info

[2016-04-07 18:13] jgw96 commented on #6070
Hello! Thanks for opening an issue with us! So, since this issue is related to ionic-native and not the core framework i will be moving this issue to that repo. Thanks again!

[2016-04-07 18:14] jgw96 commented on #6070
This issue was moved to driftyco/ionic-native#118

[2016-04-07 18:14] #6070 closed

[2016-04-07 18:30] jgw96 commented on #6073
Hello! Thanks for opening an issue with us! Sorry, i am slightly unsure of what the issue is. Are you seeing scrollbars on your app?

[2016-04-07 18:44] cesar-oyarzun-m commented on #6073
yeah @jgw96 all the screens has scroll even if the screen is empty, I fixed it just by overriding the style to auto instead of scroll.

    /* FIX scroll issue */
    .overflow-scroll {
      overflow-y: auto;
    }

[2016-04-07 19:12] ZiFFeL1992 commented on #5936
This is really strange, same apk and the spinner works on some devices but stuck I'm others, BTW with the spinner stuck I can see it working in chrome://inspect .

The spinner is not working on devices that where working a few days / weeks ago with beta.3

Let me know if you need more info or video demos about this issue.

[2016-04-07 19:43] felly commented on #5214
Maybe a duplicate of #4898?

[2016-04-07 20:06] brandyscarney commented on #6019
@SP1966 Are you requesting this to be added to Ionic 1 or 2?

[2016-04-07 20:24] royipressburger commented on #6004
@brandyscarney Is this what you talking about?
![selection_003](https://cloud.githubusercontent.com/assets/9999184/14365716/d4d330e4-fd17-11e5-9b4a-fa904e9c95e8.png)

[2016-04-07 20:24] jgw96 commented on #5743
@pyroon Are you using any external libraries?

[2016-04-07 20:35] brandyscarney commented on #6004
@royipressburger Can you paste the markup, please?

[2016-04-07 21:09] dheeran1 commented on #6005
@jgw96  is this issue got fixed in beta 4 release??

[2016-04-07 21:15] jgw96 commented on #6075
@Luchillo Hey! So, i am going to do some device testing to check this, but i bet this is due to an api support issue in android 4.4.2. Have you given crosswalk a try to see if that fixes it? To add crosswalk to your app just run `cordova plugin add cordova-plugin-crosswalk-webview`. Thanks!

[2016-04-07 21:31] SP1966 commented on #6019
Brandy, Ionic 2! Sorry, I have to figure out how to add those tags in when creating a issue.

[2016-04-07 21:33] jgw96 commented on #6031
No problem at all! So i just thought of an idea you can try. Have you used the Safari debugger with the ios emulator and see if you can see the console.logs there? Heres an article on how to use it: http://docs.ionic.io/docs/safari-inspector. Let me know if that works for you! Ill consider this issue closed for now.

[2016-04-07 21:33] #6031 closed

[2016-04-07 21:38] brandyscarney commented on #6019
@SP1966 Thanks! Labels are something we have to add. :smile:

[2016-04-08 01:43] vikrana commented on #6064
I converted the templates inline and removed all content markup and minimized it to this.
@Page({
    template: `<ion-navbar *navbar hideBackButton primary>  
    <ion-title>My Items</ion-title>
</ion-navbar>

I also added 'tappable' attribute (shown below) to tabs directive but still touching tabs take 3-8 seconds to activate especially at initial touch...it gets better in subsequent touch.

<ion

[2016-04-08 02:34] omeid opened #6078 "Delayed Bootstrapping"
I am trying to integrate ionic 2 (`ionic-angular@2.0.0-beta.3`) with meteor platform and run into a problem where the JavaScript code is run before dom is ready which results into the following error:

[code]

I can work around this error by wrapping the `@App` and the _App_ class in the meteor's equivalent of ionic's `platform.ready()` but it is somewhat of a hack.

It would be ideal if the `@App

[2016-04-08 02:36] buiphu commented on #6065
i had quenstion in forum
https://forum.ionicframework.com/t/how-used-slides-set-item-first-show/48677

[2016-04-08 03:04] tonyawad88 commented on #5883
@privetr this seems to have been fixed with beta4. Can you please check ? Mine is working fine now.

[2016-04-08 03:05] tonyawad88 commented on #5883
@jorchg Can you check as well ? when you get a chance :)

[2016-04-08 04:23] jgw96 commented on #5883
Hello all! As it looks like this was fixed in beta.4 i will be closing this issue, but if you are still having this issue feel free to comment!

[2016-04-08 05:03] mnasyrov opened #6079 "Error while getting a value from SqlStorage by not existent key"
#### Short description of the problem:

I faced with an issue with `SqlStorage` after upgrading to ionic-angular@2.0.0-beta.4. I tried to get a json value using `#getJson()` method by unexistent key and got `Error: Uncaught (in promise): SyntaxError: Unexpected token u`.

#### What behavior are you expecting?

Expecting to get `null` value by a key which is not stored before.

**Steps to reproduce

[2016-04-08 06:50] gusleo commented on #4116
I'm still get this issue?? any one resolve?
I'm in Ionic 1.2.4-nightly
I'm also disabled js scrolll ionicConfigProvider.scrolling.jsScrolling(false);

but no luck

[2016-04-08 06:58] shahroon commented on #6067
Fixed it, by keeping the ion-infinite-scroll inside particular ion-content.

[2016-04-08 06:59] #6067 closed

[2016-04-08 07:08] beat-at-hartwig commented on #5214
Good to know. Have not seen it yet. Thanks. I will give it a try!

[2016-04-08 07:45] vuhung3990 commented on #4468
sudo apt-get install git npm
sudo npm install -g bower ionic cordova
............
ionic add ionic-platform-web-client

[2016-04-08 08:00] josdewitte opened #6080 "Missing onPageShow or similar event on @Page in Ionic 2.x ?"
#### Short description of the problem:

I am missing a onPageWillShow / onPageDidShow event on a @Page. I thought the onPageDidEnter / onPageWillEnter events would be this functionality; but they also trigger after an Alert or the like is presented and subsequently closed.
Use case: If something goes wrong on Page Enter code, give them an Alert with recovery options, allowing for retry of Http req

[2016-04-08 08:32] royipressburger commented on #6004
@brandyscarney  what do you mean by markup?

[2016-04-08 08:32] tleguijt commented on #5445
Great new feature!
But it seems my sass compiler has some trouble with this format;

[code]

My definition:
[code]

[2016-04-08 08:37] Tobiaswk commented on #5806
@leschirmeur You're a winner! Thank you so much, got it working!

I really hope we get an official fix soon!

[2016-04-08 08:57] wim1983 commented on #6063
I've a look on the plunker code, but it's code strucuture is different from what I've written in javascript, guess I'll have to try different thing for the moment...

[2016-04-08 09:16] dheeran1 commented on #6045
This issue is from angular https://github.com/angular/angular/issues/7965

[2016-04-08 09:28] gusleo commented on #4116
Finaly I resolve this issue with view step. It's usefull for keyboard hidden the input or freeze keyboard
1. On config.xml add this values
<preference name="android-windowSoftInputMode" value="stateVisible|adjustResize"/>
  <preference name="Fullscreen" value="false" />
  <preference name="KeyboardDisplayRequiresUserAction" value="true" />
  <feature name="Keyboard">
    <param name="ios-package"

[2016-04-08 10:31] alouane opened #6082 "clappr integration with ionic"
I have an issue with running clappr video player inside an ionic app:
Adding this line: `<script type="text/javascript" src="https://cdn.jsdelivr.net/clappr/latest/clappr.min.js">`
triggers this error: Uncaught TypeError: Cannot read property 'srcEvent' of undefined
Ionic version: 2.0.0-beta.24
This error happens also on a web browser
Any help?

[2016-04-08 12:55] dheeran1 commented on #6005
Please reopen the issue. It didn't got fixed

[2016-04-08 13:04] danbucholtz commented on #3884
@nbering - Unfortunately this is how it has to be due to view caching.  The alternative is to not cache your views.  Controllers are only created once and dependencies are created/injected once.

[code]

[2016-04-08 13:09] danbucholtz commented on #4574
Hi @sbatezat, ahh, good catch.  We were resolving multiple issues with that commit. I will make sure we account for the side menu being open.  Thanks!

[2016-04-08 13:23] iignatov commented on #6076
@royipressburger Could you please provide more details on what exactly are you trying to achieve?

I noticed some errors in the plunker example that you provided.

Here is an updated plunker - check it to see if it's working as you want it to:
http://plnkr.co/edit/G8XtyLTaHgLnhglJ3R82?p=preview

[2016-04-08 13:30] iignatov commented on #6022
@cesar-oyarzun-m As a workaround you could add the following in the application's `app.core.scss`:

[code]

[2016-04-08 13:34] cesar-oyarzun-m commented on #6022
yeah I did that thanks!!

[2016-04-08 13:41] nbering commented on #3884
Understood. I've turned off view caching as the work-around in my application. I really have no need to cache my views anyway since the data is fetched via route-resolve on every view transition anyway.

[2016-04-08 13:59] royipressburger commented on #6076
@iignatov Yes that's exactly it..

[2016-04-08 13:59] #6076 closed

[2016-04-08 14:15] ZiFFeL1992 commented on #5071
The workaround seems to stop working on beta.4

The line: `@ViewChild('rootNavController') nav:NavController;`
Also: `@ViewChild('mainTabs') tabs:Tabs;`
gives me an Unexpected token in that line, any advice?

[2016-04-08 14:26] rajendratodkari opened #6083 "Collection Repeat copy properties/style from old element to the new upcoming one"
#### Short description of the problem:
Hi,

I am using collection-repeat in ionic 1.7.14. I have "more actions" icon associated with each list item. If I click on that icon, an overlay comes showing more actions for that item only. Till here so far so good.

Now if I click on more actions icon of an element and then scroll down allowing collection-repeat to insert more list items, the new item rep

[2016-04-08 14:40] AllenConquest opened #6084 "When is ionic 1.2.4 going to be updated to use a newer version of angular?"
When is ionic going to be updated to use a more recent version of angular? At the moment it is using 1.4.3, but this has know iOS9 bugs that were fixed in 1.4.6. Can ionic be updated to use this newer version?

[2016-04-08 14:45] PterPmnta opened #6085 "Adding Crosswalk breaks SQLite plugin"
I am trying to create a database and tables , but I want to do after the request to the server to be successful, I do not want to create it when you open the application , as I have seen they do in most examples of internet

I would also like to know whether to implement Project CrossWalk in my project , this causes or could be causing some sort of conflict with the SQLite plugin or with others.\

[2016-04-08 14:45] lefnire commented on #5595
For anyone looking for an interim reorder solution, Dragula performs pretty well on mobile. [Sample commit](https://github.com/lefnire/acurn/commit/7f555dc9a857543312a73cf1f4a1abe96726e895). 'Course I'll switch right over to Ionic2's solution when available, but this works presently.

[2016-04-08 14:48] brandyscarney commented on #6004
@royipressburger Sorry, the html code you are writing for the navbar. :smile:

[2016-04-08 14:59] Luchillo commented on #6075
I have had some issues adding crosswalk to the app, however the reason i'm not using it is that the apk size goes from 4 MB to 40 MB or more.

The weird thing is i builded the app and put the code available through an express api, so in chrome mobile browser in same device works ok, it's the webview that uses Cordova that lacks the support for it,  although i thought it used chrome, seems like not

[2016-04-08 15:10] kinggolf commented on #5692
Same issue here. Big help once this is resolved. Thx.

[2016-04-08 15:10] brandyscarney commented on #5445
Hey @tleguijt! Could you create a separate issue for this so anyone else that runs into it will be able to find it. Also, are you using `map-get` anywhere in your app?

[2016-04-08 15:17] nfleet1080 commented on #5445
@tleguijt @brandyscarney I also get this same error during build, however it does not seem to prevent the SASS from compiling.  I also want to point out that using `color: color($colors, primary);` or `color: color($colors, primary, contrast);` do seem to be correctly pulling the base and contrast color values set in `app.variables.scss`.

[2016-04-08 15:21] royipressburger commented on #6004
The header component
[code]

and the useage:
[code]

[2016-04-08 15:33] thor-the-norseman opened #6086 "Default theme SASS customization broken for text colors?"
#### Short description of the problem:

When trying to override $bar-default-text, nothing happens.

#### What behavior are you expecting?

The text colors should change.

**Steps to reproduce:**
1. Add something like "$bar-default-text: white !default" to your ionic.app.scss file.
2. Watch nothing happen.
3. Cry.

I noticed that $bar-default-text isn't even included in the appropriate _xxx.scss f

[2016-04-08 15:35] brandyscarney commented on #5445
@nfleet1080 Thanks for the info! I was able to reproduce it with a call to `map-get` from another file. Like this:

`app.variables.scss`:

[code]

`schedule.scss`:

[code]

The problem is `map-get` will only get one layer of the map, so to get the `base` or `contrast` using `map-get` it has to be nested like:

[code]

Are you using `map-get` anywhere?

[2016-04-08 15:52] jgw96 opened #6087 "Tabs component causes white screens on Android"
#### Short description of the problem:
Whenever running an app that has a tabs component on android devices it causes a white screen. No exception are seen in logs and it works fine in chrome.

**Steps to reproduce:**
1. Either use tabs starter or add a tabs component to any starter

**Other information:**
Tried on Android 6.0.1, 5.1, and Android N dev preview. Same results on all.

**Which Ionic

[2016-04-08 16:00] jgw96 commented on #6079
Hello! Thanks for opening an issue with us! When you did this same sqlStorage call before beta.4 did you get a null value? Normally when you get the `Error: Uncaught (in promise): SyntaxError: Unexpected token u` error that means that your trying to parse json that isnt actually json (does not have proper json syntax). This error would make sense in this context because null isnt json.

[2016-04-08 16:10] vukasin0 commented on #5512
@adamdbradley - as this is was planned for beta5 and I'm at the moment at beta23 - this seems not to be implemented yet or doesn't work as expected.

I mean it is very time consuming if I need to click 4 times (+ ajax calls) in order to test changes as livereload each time move me back to root page.

What's working is styles - once scss is complied it will be displayed but if I touch HTML / TS it

[2016-04-08 16:35] jgw96 commented on #6082
Hello! Thanks for opening an issue with us! Would you mind making a plunker that shows an example of this issue using this template please? http://plnkr.co/edit/TW20lftdc5s622pcJPkp?p=preview Thanks!

[2016-04-08 16:42] brandyscarney commented on #5445
I found an issue also with using the `color` function in any of the app theming files because the function wasn't available yet. As a solution, you should import `globals.core` at the beginning of your `app.variables.scss` file:

[code]

I'll be adding this to the changelog and starters. I updated the conference app so that it will work if you add a `base/contrast`:

https://github.com/driftyco/io

[2016-04-08 16:45] ZiFFeL1992 commented on #6087
Same here!

[code]

[2016-04-08 16:54] jgw96 commented on #6083
Hello! Thanks for opening an issue with us! So, the reason collection-repeat is so performant is because it "recycles" elements. This means that whatever you change the style too in the first one is going to change the style in another list item farther down the list (it depends on the height of your viewport how far down the the list is going to recycle). I would recommend using your standard `ng

[2016-04-08 16:54] #6083 closed

[2016-04-08 16:56] jgw96 commented on #6084
Hello! We are currently working on upgrading ionic to use angular 1.5! You can track the progress of this in this issue: https://github.com/driftyco/ionic/issues/5436 We hope to have the next release of Ionic v1 using angular 1.5. Thanks for using Ionic !

[2016-04-08 16:56] #6084 closed

[2016-04-08 16:59] jalef opened #6089 "<ion-item-sliding> inside a custom component"
**Short description of the problem**
The `<ion-item-sliding>` component does not work if it is used inside a custom component

**What behavior are you expecting?**
When using the `<ion-item-sliding>` component inside an `<ion-list>`, the item slides and the option buttons are revealed.
When I use the exact same code inside a custom component and I create an `<ion-list>` by repeating the custom com

[2016-04-08 17:38] paulhickman-a365 opened #6090 "Automatic inclusion of page SCSS"
Would it be possible for ionic 2 to use the gulpfile to automatically pull in the scss files from the app/pages/** folder hierarchy into app.core.scss to save having to manually update the file each time you add a new page with SCSS?

[2016-04-08 17:41] stellasoft-will opened #6091 "ngFor in slides with loop="true""
#### Short description of the problem:
When slides are in loop mode updating an ngFor inside the slides causes the ng-repeat not to update sometimes, this i think is due to the cloned slides that make the loop mode work.

#### What behavior are you expecting?
ngFor to update in all slides in loop mode

**Steps to reproduce:**
1. create slides in content
2. loop = true
3. update ngFor in slide you

[2016-04-08 17:58] nfleet1080 commented on #5445
@brandyscarney I was originally using `map-get` before the update to beta 4, it was actually not until I read the changelog that I learned the `color` function was a thing that exists.  I replaced all of my `map-get` calls to use the `color` function and when I recompiled I did not see the error again.  Cheers!

Good to know about importing `globals.core` to use the function in the app theming fil

[2016-04-08 17:59] mnasyrov commented on #6079
The unit test is passed on beta.3, I get `null` value.
I think the issue is not related to parsing json value because `#get()` method fails too.
I suspect the regression was caused by [this commit](https://github.com/driftyco/ionic/commit/51dd628cd1f745185d505882b0aca88ecf1ebbd7), there is a changed value processing in `SqlStorage#get()` method.

[2016-04-08 18:03] manucorporat commented on #6079
@mnasyrov I agree. but before this gets fixed, we should ask if success then() should be called if the value does not exist...

in the meantime, you can use:
[code]

[2016-04-08 18:16] brandyscarney commented on #5445
@nfleet1080 You're right, the theming section needs some love. I created an issue for this on the site repo: https://github.com/driftyco/ionic-site/issues/534

Glad everything is working for you now! Thanks for working through this with me. :smile:

[2016-04-08 18:26] chrisbenseler commented on #4668
@snstarosciak Iḿ  facing the same problem in an Ionic (2) app and iOS9.

[2016-04-08 18:28] brandyscarney commented on #6087
@ZiFFeL1992 Do you have this code in your app, and if you comment it out does the app work:

[code]

[2016-04-08 18:42] jgw96 commented on #6085
Hey! Thanks for opening an issue with us! So according to that forum post this issue was fixed by using this plugin https://github.com/litehelpers/Cordova-sqlite-storage#android-sqlite-implementation. Does that plugin not fix the issue for you? Thanks again!

[2016-04-08 18:47] jgw96 commented on #6075
@Luchillo Thats exactly the issue. Android devices older than 4.4.4 do not use updated chrome webviews. Therefore thats why we recommend using crosswalk on older android devices as it solves alot of this issue because it gives you a nice modern chrome webview no matter what version of android your device is running on. Im not sure that the internationalization polyfill is gonna do anything here as

[2016-04-08 18:50] jgw96 commented on #6089
Hello! Thanks for opening an issue with us! So when you say custom component do you mean your creating a custom angular2 component (using this decorator `@Component`) or are you creating an ionic page component (using `@Page`)?

[2016-04-08 18:53] jgw96 commented on #6079
@mnasyrov ahh sorry, read your issue wrong then. I thought it was just the getJson method that was failing. Sorry about that.

[2016-04-08 18:58] alouane commented on #6082
Hi, Unfortunately I'm not familiar with plunker templates, I couldn't find how to copy your templates, sorry!
But after some debugging I found the source of the problem:
1- I install a fresh ionic app by taping: `ionic start ClapprTest tabs`
2- I add this script : `<script type="text/javascript" src="https://cdn.jsdelivr.net/clappr/latest/clappr.min.js"></script>` in the bottom of www/index.html,

[2016-04-08 19:18] ZiFFeL1992 commented on #6087
Hello @brandyscarney !
Plugins are loading fine, but the tabs.js is not been called, I tried to console.log() inside the constructor but I can't see the log in the console.

This is also happening on iOS.

[2016-04-08 19:40] brandyscarney commented on #5512
Hey @vukasin0! We are actually currently working on beta.5. If you run `ionic info` from your project you should get something similar to this:

[code]

Where `Ionic CLI Version` is the version of the command line interface. This is used to run the `ionic` commands from a terminal such as `ionic start`, `ionic serve`, etc.

and `Ionic Framework Version` is the framework version (latest is beta.4).

[2016-04-08 20:00] vukasin0 commented on #5512
@brandyscarney - thanks for clarification - I was using
[code]

Yep - mine version is actually **beta 3**

[2016-04-08 21:03] brandyscarney opened #6092 "See if we can automatically inject IONIC_DIRECTIVES"
We should be able to add `IONIC_DIRECTIVES` so that users can create custom components without having to import them.

[2016-04-08 21:06] jgw96 commented on #5711
Since it has been a little while since there was any activity on this issue i will be closing it, but feel free to respond back if your still having the issue! Thanks again!

[2016-04-08 21:06] #5711 closed

[2016-04-08 21:07] jgw96 commented on #5730
Since it has been a little while since there was any activity on this issue i will be closing it, but feel free to respond back if your still having the issue! Thanks again!

[2016-04-08 21:07] #5730 closed

[2016-04-08 21:13] pyroon commented on #5743
I use some plugins like those:

`"com.telerik.plugins.wkwebview": {
            "WKWEBVIEW_SERVER_PORT": "12344",
            "PACKAGE_NAME": "ch.codeflair.floormanager"
        },
        "cordova-plugin-console": {
            "PACKAGE_NAME": "ch.codeflair.floormanager"
        },
        "cordova-plugin-device": {
            "PACKAGE_NAME": "ch.codeflair.floormanager"
        },
        "cordo

[2016-04-08 21:18] mhartington commented on #6092
I don't think we should. This kind of goes against the whole import/explicit idea.
The generate command automatically includes `IONIC_DIRECTIVES`, so I think we could do a better job documenting that feature, or adding a section to the docs about them.

[2016-04-08 21:25] brandyscarney commented on #6092
It was something @adamdbradley mentioned adding the other day. I think it's confusing that we do it for them in `@App` and `@Page` and then they have to figure out what they're missing when the styles don't work.

[2016-04-08 21:46] #5922 closed

[2016-04-08 21:57] tlaverdure commented on #5883
I am still having this issue. I can't get the nav to push or setRoot to my TabsPage after a Facebook login promise.

[code]

[2016-04-08 22:51] Tobiaswk commented on #5628
bump

[2016-04-09 01:00] PterPmnta commented on #6085
Sorry, but I still have doubts about the use and implementation of the version of this plugin

1. This plugin [litehelpers]( https://github.com/litehelpers/Cordova-sqlite-storage#android-sqlite-implementation) is the same that [ngCordova plugin](http://ngcordova.com/docs/plugins/sqlite/)

2. How implement this plugin with angular and ionic.

3. How to install this plugin

[2016-04-09 01:25] xeoneux commented on #6092
As a beginner to Ionic 2 and Angular 2, I spent a fair amount of time wondering why my Angular component wasn't playing nice with Ionic. At first I thought it was about wrapping the whole component in an `<ion-content>` or changing `@Component` to something else like `@IonicComponent`, but only after a substantial amount of time I understood the whole concept of DI through it and why `IONIC_DIRECT

[2016-04-09 01:25] tgensol commented on #4293
+1

[2016-04-09 01:32] xeoneux opened #6094 "Typings folder gets committed to git repository"
#### Problem:
The `typings` folder is not ignored while creating a new Ionic 2 project with TypeScript. As a result, it gets committed to the git repository before realisation. 😄

[2016-04-09 01:41] MrBokeh opened #6095 "Cannot change screen orientation with cordova plug-in"
#### Short description of the problem:
Cannot change screen orientation with cordova plug-in

#### What behavior are you expecting?
Screen orientation can change dynamically and accordingly with code such as:
screen.lockOrientation('landscape'); // screen will change to landscape mode from portrait mode

**Steps to reproduce:**
Only a few steps as below to create the MVP and reproduce the problem,

[2016-04-09 01:54] MrBokeh opened #6096 "Cannot hide NavBar with tabs on ionic 2 (sidemenu is okay)"
#### Short description of the problem:
Cannogt hide NavBar with tabs on ionic 2 (sidemenu is okay)

#### What behavior are you expecting?
Remove navbar section should be able to hide the NavBar on pages with tabs setup on ionic 2

**Steps to reproduce:**
Only a few steps as below to create the MVP and reproduce the problem, you will see the screen did turn landscape for 50ms and then change back:

[2016-04-09 03:05] luco commented on #6031
@jgw96 Ok, I don't know why, but it started working. But, it still not working on my controllers.js. Any idea? Works on $ionicPlatform.ready and even on a factory, but not on controller.

[2016-04-09 04:31] mnasyrov commented on #6079
@manucorporat Using `catch` method makes sense, however it is not an error. It is a normal state of a storage when it does not have a value, also this behaviour is common for key-value storages/maps.

There is a lack of [documentation](http://ionicframework.com/docs/v2/api/platform/storage/SqlStorage/) for `SqlStorage`, so, I guess, people intuitively expects to get `null` value.

[2016-04-09 05:22] xelamak opened #6097 "Storage getJson() throws exception"
#### Short description of the problem:
This error occurs after I have updated Angular2 to 2.0.0-beta.14 and ionic-angular to 2.0.0-beta.4. Whenever using SQLStorage's getJson to get a non-existent value, Angular2 caught the error it throws (EXCEPTION: Error: Uncaught (in promise): SyntaxError: Unexpected token u) and blocked the app.

#### What behavior are you expecting?
The getJson return undefi

[2016-04-09 08:48] jalef commented on #6089
Hello!
I am reating a custom angular2 component , with the decorator `@Component`

Thanks!

[2016-04-09 10:24] frederikschubert commented on #6092
You could also add the directives to the PLATFORM_DIRECTIVES DI token during bootstrap. This way they would be available in all components.

[2016-04-09 12:15] ospfranco commented on #2841
I was looking for this, thank you very much!

[2016-04-09 13:51] spiritelf opened #6098 "build error"
Execution failed for task ':CordovaLib:compileDebugJavaWithJavac'.

[2016-04-09 14:57] OscarGalindo commented on #6097
+1

[2016-04-09 15:13] denkomanceski opened #6099 "SwipeBackEnabled on modals Ionic 2"
Hi, is there any way how to disable swipe-back on specific page in Ionic 2 ? I have Modal that goes down when swiping to go back which is annoying. Help ?
I tried both:
[code]

but doesnt work. I tried going through the code but I am not able to find how to fix this.. if i set swipe-back-enabled to false it works for normal pages (nav.push), but it doesnt for modals

[2016-04-09 15:16] navneetkarnani opened #6100 "tslint generates warning for single quotes around strings"
**Note: for support questions, please use one of these channels:**
#### Short description of the problem:
When working with TypeScript project on v2 and using generators, all strings are generated with single quote around it. The tslint engine generates warnings.

Look at this thread for details: http://stackoverflow.com/questions/25453864/what-is-the-standard-for-use-of-quotes-in-typescript

####

[2016-04-09 15:30] DanielePalombo commented on #1948
+1

[2016-04-09 18:00] alyn000r opened #6101 "bug: Ajax calls do not work with device or simulator"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>mobile</span>  <span ionic-webview>browser</span>

<span ionic-description>I was previously able to make Ajax calls with no issues.
Now they only work when I do

ionic emulate ios -c -l

when I do

ionic emulate ios / android

The Ajax calls do not work. Please tell me what

[2016-04-09 18:23] diegobill opened #6102 "Disable ion side menu right"
#### Short description of the problem:
I can not disable ion side menu right (only right, never left) for some specific states?

#### What behavior are you expecting?
That it is possible to disable/remove

**Steps to reproduce:**
1. Create ion-side-menus:
[code]
2. Add menu to app.js

[code]

**Which Ionic Version?** 1.7.12

#### Plunker that shows an example of your issue

**For Ionic 1 issues**

[2016-04-09 18:53] vikrana commented on #6064
Hi, I think I narrowed down the problem...I am using Firebase to fetch data in one tab and that is responding normally. In the other tab I use Geofire as well and when I removed Geofire it started to respond instantly. Is there any known issue around this?

[2016-04-09 19:46] kentongray opened #6103 "Change Content of Loading Component"
Using the new Loading component in Ionic2 🙏 (thank you!) and trying to figure out the recommended way to change the content of the loading message (for loading messages that keep the user updated as to what is happening, eg Connecting to Server, Downloading Data, Preparing, etc). Is the recommended way to dismiss and recreate? Seems like it could be more work than needed. Let me know if I'm missin

[2016-04-09 23:15] armenbadalyan commented on #5686
Seeing the same issue.

[2016-04-10 03:51] #5071 closed

[2016-04-10 05:08] rodrigoreal opened #6104 "Virtual List poor performance on iOS v2.0-beta4"
#### Short description of the problem:
Well, im trying the virtual list, and it worked perfect in android, it really boost my app in performance, but with iOS i got a really bad performance, it gets really laggy.

I have a list with 450 items and i'm using cards, and each card has some images.

Anyone having this same problem?
Thanks

**Which Ionic Version?** 2.x

**Run `ionic info` from terminal/

[2016-04-10 05:29] #5885 closed

[2016-04-10 05:59] luckyycool opened #6105 "bug: template is getting reloaded 10-12 times & fns"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>1.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>have verified, controller is getting loaded only once not multiple times. Also, If I add more routes in app.js the number of print keeps increasing as well.

Issue demo: http://codepen.io/anon/pen/XXxxpM (check console in browser)</span>

[2016-04-10 06:06] luckyycool commented on #5804
Your system information:

Cordova CLI: Not installed
Ionic Version: 1.2.4
Ionic CLI Version: 1.7.14
Ionic App Lib Version: 0.7.0
OS: Windows 7
Node Version: v4.2.4

[2016-04-10 06:07] luckyycool commented on #6105
Your system information:

Cordova CLI: Not installed
Ionic Version: 1.2.4
Ionic CLI Version: 1.7.14
Ionic App Lib Version: 0.7.0
OS: Windows 7
Node Version: v4.2.4

[2016-04-10 07:56] OmarHassan25 commented on #5071
I cant see it working in Beta 4, Have you fixed it ?

[2016-04-10 07:59] pjoe commented on #5071
@OmarHassan25 : @adamdbradley already fixed in git, milestone is set for beta 5, so guessing it will be included there.

[2016-04-10 08:00] dylanvdmerwe commented on #5071
@adamdbradley amazing stuff well done!!

[2016-04-10 08:41] gitHubLie commented on #5727
this is IONIC BUG ?  i will crazy.

[2016-04-10 09:13] tleguijt commented on #5445
@brandyscarney yes, thanks for pointing that out, I still had one map-get which I used for the primary color, on which it failed (altho the sass output wasn't all too clear about that; it seemed like the error occurred in the color definition itself, not in the definition where the color map is used)

[2016-04-10 10:07] marcus-robinson commented on #5638
I have upgraded to the latest Ionic (Beta 4), but the issue is still occurring on Genymotion emulating Nexus 7 - 5.1.0 - API 22. Perhaps it's a Genymotion-specific issue.

[2016-04-10 10:09] Code1942 opened #6106 "Ionic Reality App"
I am new to Ionic and started by setting up ionic@beta

The CLI command "$ ionic start cutePuppyPics --v2" followed by "$ ionic serve" works great

Then I downloaded the "https://github.com/ccoenraets/ionic2-realty"

When I run the command "npm install" in the "ionic2-realty" directory, I get warnings related to webpack dependency and fsevents

When I run "ionic serve" I get a blank page

How can

[2016-04-10 10:47] ciekawy commented on #5677
@sclausen still this seems to be workaround. I wonder if there is any new issue regarding resetting infiniteScroll mentioned by @wieseljonas or should it be created?

[2016-04-10 11:10] ciekawy commented on #6064
looks like this might be a time required to initialisw the following view and not directly related to the tapping?

[2016-04-10 11:19] danielcrk-cn commented on #6099
I'm wondering the same thing, the swipe-back function is a bit buggy right now (e.g. the page that it beiing swiped away is still scrollable) so I'd like to be able to disable it globally.

[2016-04-10 11:49] gitHubLie opened #6107 "iframe inner html position: absolute; not work"
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:

#### What behavior are you expecting?

**Steps to reproduce:**
1.
2.
3.

[code]

**Other information:** (e.g. stacktraces, related issues, suggestions how to fix, stackoverflow links, forum links, etc)

**Which Ionic Ver

[2016-04-10 15:16] mhartington commented on #6089
@jalef You need to import `IONIC_DIREVTIVES` for any custom component that uses an Ionic component.

[code]

http://ionicframework.com/docs/v2/faq/#Angular_component

[2016-04-10 15:16] #6089 closed

[2016-04-10 15:24] boaz-chen opened #6108 "Cannot disable an ion-list button on Ionic 2"
I have the following view which doesn't work as expected (button isn't disabled):

`
<ion-list>
       <button ion-item disabled>
           My Button
       </button>
   </ion-list>`

Ionic Version: 2.0.0-beta.3

[2016-04-10 15:25] mhartington commented on #6094
Hi there! So this is something you can change in the .gitignore file for your project.

[2016-04-10 15:25] #6094 closed

[2016-04-10 15:31] johnfakeacc commented on #6108
In my opinion: You cannot combine button with ion-item directive?!

[2016-04-10 15:38] xeoneux commented on #6094
@mhartington That's true but including it by default in the project would provide better experience for the user. It's the same reason why `node_modules` exists in the `.gitignore` 😄

[2016-04-10 18:56] danielcrk-cn commented on #6108
You can:
http://ionicframework.com/docs/v2/api/components/item/Item/

"Use <button ion-item> for something that can be clicked/tapped. Typically this element will also have a (click) handler."

[2016-04-10 20:26] kentongray commented on #5834
i think even better would be support for the autofocus attribute

[2016-04-10 20:44] kentongray commented on #5834
For those who come to this post, simple workaround about creating a [focuser] directive
[code]

[2016-04-10 20:45] EvanWillms commented on #5432
In my poking around, there appear to be two systems interested in moving content out of the way when the soft keyboard is opened:  the underlying native browser and the Ionic2 library itself.

`Keyboard.disableScroll(false)` (available via the "ionic-plugin-keyboard" cordova plugin) successfully stops the native browser from pushing/scrolling the content pane up and allows the keyboard to slide ov

[2016-04-10 20:53] EvanWillms commented on #5302
@AdrianTeh it's worth also noting that another potential workaround to this behavior is to turn off the `scrollAssist` feature that adds the padding in the first place by passing `scrollAssist: false` into a Component's Config object.

As Adam mentioned above, this changes the overlay-avoidance behavior when the virtual keyboard appear by telling Ionic not get out of it's way.  The underlying nati

[2016-04-10 21:01] EvanWillms commented on #5536
@privetr @matitalatina It appears the canonical ionic issue for tracking the blank-space-after-keyboard-input is #5432.  I've found a temporary workaround with a not-yet-documented config flag that turns off the padding insert and prevents the space from getting created:

https://forum.ionicframework.com/t/disable-scroll-ionic2-ios9-not-working/44847/5?u=evanwillms

[2016-04-10 21:11] EvanWillms commented on #6055
I would guess that this shares a root-cause with #5432.  What's interesting to me is that the padding added to the ion-content to make space for the keyboard is being removed slowly in this context and not at all in others.

[2016-04-10 21:23] EvanWillms commented on #5830
I have also seen this behavior on iOS and am currently using a workaround with a not-yet-documented Config flag for Components that disables the `autoFocusAssist` feature that works to put a focused input into the user's viewport.  I've jotted down a little more information relevant to turing off the `autoFocusAssist` at:
https://forum.ionicframework.com/t/disable-scroll-ionic2-ios9-not-working/44

[2016-04-10 21:32] EvanWillms commented on #5678
This looks like another report of #5432.

@zikosichi & @kalcheat, I've posted some notes about the temporary workaround I'm currently using to prevent the extra whitespace from developing at:
https://forum.ionicframework.com/t/disable-scroll-ionic2-ios9-not-working/44847/5?u=evanwillms

[2016-04-10 21:34] EvanWillms commented on #5800
Sounds like #5432 getting reported again.

[2016-04-10 21:47] EvanWillms commented on #5571
Given this description of space being suddenly claimed by the keyboard when an input field is tapped and then not released afterward, this sounds like another effect of #5432.

@HazeDevelopment, @alpotapov:  You might be able to make use of the workaround I found to let the keyboard slide **over** the content, preventing it from getting permanently squished:
https://forum.ionicframework.com/t/disa

[2016-04-10 21:55] EvanWillms commented on #5529
#5432 gets reported again :)

@raducostea I'm personally turning off the troublesome ionic keyboard padding and falling back to the device native behavior of letting the whole page slide up and down in the meantime.  You might be able to tweak your own app with one of the config workarounds I've identified at:
https://forum.ionicframework.com/t/disable-scroll-ionic2-ios9-not-working/44847/5?u=evan

[2016-04-10 22:00] EvanWillms commented on #5744
With ion-slides getting pushed around by the keyboard, this sounds very similar to #5571 and is likely another symptom of #5432.

[2016-04-10 22:04] EvanWillms commented on #5839
And #5800 is a duplicate of #5432.

[2016-04-10 22:05] EvanWillms commented on #5933
Just tagging this as another #5432 report.

[2016-04-10 22:37] jasonwaters opened #6109 "v2 - floating labels don't display in iOS/Safari in Beta.4"
see this discussion thread in the forum: https://forum.ionicframework.com/t/ios-floating-labels-not-shown-after-upgrade-to-beta-4/48838/4

@brandyscarney

[2016-04-10 22:38] EvanWillms commented on #5020
@dylanvdmerwe:  I ended up kludging a very blunt-force workaround when this issue came up in my user testing a few weeks ago.  I can't say I recommend it and it almost certainly has problematic side-effects.  But just in case the idea is helpful:

I added a click handler to my outermost ion-content directive that forcibly blurs any active text input field, so taps on the page background result in

[2016-04-10 23:05] EvanWillms commented on #6052
And a dup of #5432

[2016-04-10 23:05] EvanWillms commented on #5810
I'm tagging reports of the keyboard padding overstaying its welcome back to #5432 as a canonical issue.

This thread still has the initial feature request outstanding.

[2016-04-11 00:29] hasLoren opened #6110 "Phonegap Barcode Scanner Plugin iOS doesn't work with Ionic 1.2.4"
I am consoling errors in the terminal. When I try to bring up the barcode scanner (phonegap-plugin-barcodescanner) with my app using Ionic 1.2.4, it freezes and throws this error in the console for iOS and Android.

`461469 error Error: Can't find variable: cordovascan@http://192..............`

The code following documentation from http://ionicframework.com/docs/1.0.0-rc.0/api/utility/ionic.Platf

[2016-04-11 00:35] allucardster commented on #3537
Any updates about this issue?

[2016-04-11 01:15] swizardlv opened #6111 "adb command failed with exit code null when emulate or run"
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:
sometimes when run 'ionic emulate android ' or 'ionic run android'

[code]
it can be fixed only restart the system.

#### What behavior are you expecting?
the ionic emulate and run can be called successfully.

**Steps to

[2016-04-11 01:16] adamdbradley commented on #6104
If you remove the images is the performance better? There's some updates that need to happen to ion-img for iOS. Right now Safari doesn't do a good job handling image requests.

[2016-04-11 01:38] #5884 closed

[2016-04-11 01:42] rodrigoreal commented on #6104
@adamdbradley If i remove the img the perfomance is better, but it is not good enough.
I tried with ion-img and img, but i didint got any better performance, and the imgs are local, so im not using any http requests.

[2016-04-11 01:43] adamdbradley commented on #4960
This should be fixed in most recent versions now

[2016-04-11 01:43] #4960 closed

[2016-04-11 02:05] adamdbradley commented on #5698
Would you be able to recreate this in a plunker? That would help us debug the issue, thanks: http://plnkr.co/edit/TW20lftdc5s622pcJPkp?p=info

[2016-04-11 02:13] adamdbradley commented on #5777
@manucorporat Is this still an issue with the latest beta?

[2016-04-11 02:19] adamdbradley commented on #5838
Yes an element that is not clickable by default, such as ion-card or a div, needs to have the tappable attribute added. Buttons and links do not have this problem. This is also only a problem for iOS because Android automatically removes the 300ms delay. (Yes in iOS 9.3 it's removed too, but that's only in WKWebView and not UIWebView, which is what Cordova uses for the time being). We'll work to d

[2016-04-11 02:19] #5838 closed

[2016-04-11 02:22] adamdbradley commented on #5861
There has been an API change and the `on` method no longer exists. We also recently added events for backbutton and exitApp if that helps: https://github.com/driftyco/ionic/commit/156fdc35ed551977f5c015e408fd72e866fea703#diff-9b766d33086364a7b9078264fee84f82L295

[2016-04-11 02:22] #5861 closed

[2016-04-11 02:23] adamdbradley commented on #5871
Sorry but we'll need more information to be able to help look into this issue. Please feel free to open another issue if you're still having issues, thanks

[2016-04-11 02:23] #5871 closed

[2016-04-11 02:28] adamdbradley commented on #5881
Thanks for the help @iignatov

[2016-04-11 02:28] #5881 closed

[2016-04-11 02:35] adamdbradley commented on #5917
We're working on a better solution with virtualScroll and ion-img.

[2016-04-11 02:38] adamdbradley opened #6112 "Improve ion-img performance"
Safari has troubles cancelling image requests with the img src changes. Manually handle image HTTP requests, rather than letting `<img>` attempt to handle this.

[2016-04-11 02:38] adamdbradley commented on #5917
Related #5917

[2016-04-11 02:38] #5917 closed

[2016-04-11 02:44] adamdbradley commented on #5948
Please use the `tappable` attribute if an element is clickable. We'll work on the documentation for this, thanks.

[2016-04-11 02:44] #5948 closed

[2016-04-11 02:46] adamdbradley opened #6113 "Document the tappable attribute"
In general we recommend always using a button or anchor element when it's clickable. Otherwise you'll need to add the `tappable` attribute to remove the 300ms delay on iOS, when clicking a non-clickable element like a `<p>` or `<div>`.

[2016-04-11 02:51] #5982 closed

[2016-04-11 02:59] #6029 closed

[2016-04-11 03:03] adamdbradley commented on #6078
You can still use angular's API to bootstrap. `@App` is just a shortcut to make things easier. Have you tried using just ng2's bootstrap method?

[2016-04-11 03:05] adamdbradley commented on #6080
Would you be able to provide a demo of showing the issue further?

[2016-04-11 03:09] eggarsync commented on #772
Same issue on galaxy s3. :(

[2016-04-11 03:09] adamdbradley commented on #5244
This should be fixed in most recent versions. Thanks

[2016-04-11 03:09] #5244 closed

[2016-04-11 03:24] adamdbradley commented on #5760
Is this still an issue with beta4?

[2016-04-11 04:46] cScarlson commented on #1203
As there's not really much specialty to the delete-button, it may as well be just a `right-area`. I would only add that even the `ion-option-button`s should have programatic hooks as well.

[2016-04-11 05:34] sclausen commented on #5677
@ciekawy I don't think it's needed, since @adamdbradley removed the highestY check, or does it still causes problems for you?

[2016-04-11 05:51] njleonzhang commented on #5896
@danbucholtz, we can not use crosswalk, it is too heavy for us.
Can you reproduce our issue according to my description？

[2016-04-11 05:54] raducostea commented on #6055
Yeah, the padding is removed, the issue is that the top of the page jumps only if i click on an element without input. The odd think is that ii attach the keyboard hide event on that element the keyboards slides down nicely.

[2016-04-11 06:19] ciekawy commented on #5677
will check it more deeply. I've found it not working and just added the reset by capturing to a member.

[2016-04-11 06:23] jeson114 commented on #2150
i have this issue on all of them in ionic

[2016-04-11 07:02] dylanvdmerwe commented on #5917
Confused to how this relates to virtual scroll?

[2016-04-11 07:15] boaz-chen commented on #6108
As a workaround for now I've defined the following CSS:

`
.item-disabled, item-disabled * {
  opacity: 0.3;
  pointer-events: none;
  }
`

And then in my HTML:

`<ion-list> <button ion-item class="item-disabled"> My Button </button> </ion-list>`

[2016-04-11 07:18] privetr commented on #5536
@EvanWillms Thanks for the information, I will check if it solves the problem !

[2016-04-11 07:18] dylanvdmerwe commented on #6113
Is this also required for when making things like `<ion-item>` clickable?

[2016-04-11 07:32] thiphariel commented on #5760
@adamdbradley Hey, I tried, and the problem is solved form me, but with <code>ion-refresher</code> as mentionned (https://github.com/driftyco/ionic/issues/5760#issuecomment-198284301)
So it's probably solved for <code>ion-infinite-scroll</code> too.

Waiting for confirmation :)

Thanks !

[2016-04-11 07:46] thiphariel commented on #6106
Hi. It's because in ionic 2 beta 4 (current version), they get ride of webpack. Your project is probably build on top of earlier beta version, so you should start a fresh starter app and edit your package.json for start.

There is also the 'es6-shim' to add in your <code>app.ts</code> imports.

To do well, you should start a new project then add your code into it, it's the better way to avoid prob

[2016-04-11 07:53] wal-nadeem commented on #1415
+1

[2016-04-11 07:54] Lindstrom1989 opened #6114 "Ion-input not implementing form directives"
#### Short description of the problem:

After trying to debug this problem ion-input does not behave the same as input when using form directives in @component, why wont this work? it does seem to work in @page though. See console log on this...
http://plnkr.co/edit/rYao7D5M10RnyFC8ZUM7?p=preview

**Steps to reproduce:**
1. open plunker
2. run
3. open console log

Cordova CLI: 6.0.0
Gulp version:

[2016-04-11 07:55] perdjurner commented on #5760
Fixed for me.

[2016-04-11 08:45] siada commented on #3362
I'm experiencing the same issue on iOS and using `cordova.plugins.Keyboard.disableScroll(true)`  is not an option for me as the screen it affects is a static 100% height screen so there is no scroll.

Also adding the plugin `cordova plugin add ionic-plugin-keyboard --save` make no difference whether it's added to the app or not.

[2016-04-11 08:49] wzhsh90 commented on #6042
I send three times email to you , but I can not sure you received it.
this is my codepen address http://codepen.io/wzhsh90/pen/yOPREv ,all infos printed by browser's console log.

[2016-04-11 09:20] nithinkrishnan commented on #4078
Wierd, unable to get a way through this :
If we have a side menu, all the pages we visit clicking on menus from side menu are considered as root with the menu option appearing in each page (but going further with navigation in that branch it gets replaced by back arrow). The wit is, on pressing back from the page visited from the side menu say 'side page 1', it goes back to home page say 'Dashboar

[2016-04-11 10:52] manucorporat commented on #6112
do you think we should fill a bug report in safari/webkit as well?

[2016-04-11 12:17] mklilley commented on #5769
Sorry it has taken a long time to get back to you.  The issue appears to be only an issue for iOS.  I am currently testing on iphone4s but with the latest ios 9.3.1. How to reproduce:

1) Run ionic start test tabs
2) Go to test directory and run ionic platform add ios
3) Add the following code to tab-dash.html just before the end of ion-content

[code]

4) Run ionic build ios
5) Open project file

[2016-04-11 12:18] omeid commented on #6078
It is possible.

Instead of

[code]

One could do,

[code]

But `ionicProviders()` and `IONIC_DIRECTIVES` looks inconsistent, and are undocumented.

Perhaps, an alternative solution to this issue would be to documented these, `ionicProviders()` and `IONIC_DIRECTIVES` , and make sure they don't break without a major version change?

[2016-04-11 12:32] thiphariel opened #6117 "NavController can be swipe back while Loading is shown"
#### Short description of the problem:
If you present a loader (even a modal after some tests...) on your controller, and you tap it, you will be able to swipe back your controller, which is not a wanted behaviour, I guess.

#### What behavior are you expecting?
To not be able to swipe during present modal / loader on controller.

**Steps to reproduce:**
1. Present a loading service on your nav co

[2016-04-11 12:35] thiphariel commented on #6103
Hey, you can just grab it from your DOM and update it's innerHTML. The loader content class is <code>.loading-content</code>

[2016-04-11 12:36] thiphariel commented on #6099
Seems this one and #6117 are pretty much related... :)

[2016-04-11 12:43] omeid commented on #6078
Okay, so this actually doesn't work and calling 'ionicProviders()` seems to be the root of problem. It assumes the DOM is ready, which if not the case results into the following error:

[code]

Because `setupDom` tries to call `classList (for setting up the mode class name: ios/md/wp) on window.body (using bodyEle ref).

[2016-04-11 12:50] ErkoKnoll commented on #5698
I think its not a bug but a feature since tabbed pages seem to have a NavController with a different context. And like I said, I managed to get around the issue when I did my navigation stuff from the root tab page rather than from content tab page.

[2016-04-11 12:51] omeid commented on #6078
Apologizes for too many comments in a row.

But the following works, however, it still suffers from using undocumented APIs.

[code]

Perhaps it is a good idea to documented these APIs, ionicProviders() and IONIC_DIRECTIVES , and make sure they don't break without a major version change?

[2016-04-11 12:51] thiphariel commented on #6113
@dylanvdmerwe I personnaly did, cause if you add tappable on ```<ion-item>```, it will get the correct tap animation (like ripple effect on Android for example)

[2016-04-11 12:54] thiphariel commented on #6109
I'm just adding that it's not only floating, but ```stacked```are not displayed neither.

[2016-04-11 13:43] jgw96 commented on #5628
Hello @Tobiaswk ! Thanks for opening an issue with us! So I was testing with your codepen and im having a hard time understanding what the issue is exactly. Our modal will not slide up all the way on a bigger device and will also have a backdrop. On a 7 inch tablet like a nexus 7 the modal shows up like a native android modal looks. On smaller devices, like most phones in portrait mode, the modal

[2016-04-11 13:54] jgw96 commented on #5432
@EvanWillms Hello! Thanks for doing some more research on this issue! So as you can see, this issue, and a couple of the other ones that you commented on have been marked for the beta.5 milestone. We just released beta.4 (yayyy!) so we are currently moving on to beta.5. This means that, at this point, you can expect this issue fixed in the next release of Ionic 2. Thanks again!

[2016-04-11 13:57] jgw96 commented on #5834
@SP1966 Hey! Are you still experiencing this issue or are you using the workaround above? As you can see this issue is marked for beta.12, so at this point you can expect it to be fixed in that release. Thanks!

[2016-04-11 14:01] jgw96 commented on #6110
Hello! Thanks for opening an issue with us! Would you be able to provide a codepen that we can use to export and test this issue on our devices? You can use this template i made (http://plnkr.co/edit/jnOrQRtE8rN2WCXDQYQY?p=info) to make it. Thanks again!

[2016-04-11 14:02] #5924 closed

[2016-04-11 14:03] kentongray commented on #5834
@jgw96 I was using the latest beta last night and still had this problem (unless I missed something in the docs)

[2016-04-11 14:07] jgw96 commented on #6107
Hello! Thanks for opening an issue with us! So, im having a hard time understanding what the issue your having is. Would you mind filling out some of the information that was in the issue template and posting it here? That would help us out tremendously in helping get your issue fixed. Thanks again!

[2016-04-11 14:10] jgw96 commented on #6111
Hello! Thanks for opening an issue with us! So since this issue is more related to the cli and not the framework i will be moving this issue to that repo. Feel free to continue the conversation there! Thanks again!

[2016-04-11 14:12] jgw96 commented on #6111
This issue was moved to driftyco/ionic-cli#922

[2016-04-11 14:12] #6111 closed

[2016-04-11 14:18] jgw96 commented on #5638
Hey guys! I have also tested this issue with a Nexus 7 running Android 6.0.1 and it seems to be working for me too. @marcus-robinson have you gotten a chance to try this on an actual device and not a Genymotion emulator?

[2016-04-11 14:22] jgw96 commented on #5727
@gitHubLie Would you mind creating a plunker we can use to reproduce your issue? Also what version of ionic are you using?

[2016-04-11 14:25] jgw96 commented on #6098
Hello! As this issue is more related to the ionic cli and not the framework itself i will be moving this issue over to that repo. Thanks!

[2016-04-11 14:25] brandyscarney commented on #6109
Thanks for the issue! This will be fixed with the release of 2.0.0-beta.5.

As a temporary workaround until then, you can add the following css to your app (after the Ionic import):

[code]

For example, you could have a global Sass file at `theme/app.global.scss` containing the above css, and then import that file in your `theme/app.core.scss` file:

[code]

I'll add this to the forum post, as we

[2016-04-11 14:25] #6109 closed

[2016-04-11 14:26] jgw96 commented on #6098
This issue was moved to driftyco/ionic-cli#923

[2016-04-11 14:27] #6098 closed

[2016-04-11 14:27] thiphariel commented on #6109
Thanks for the tempo fix !
Le lun. 11 avr. 2016 à 16:26, Brandy Carney <notifications@github.com> a
écrit :

[2016-04-11 14:30] dhirajb1989 commented on #5769
Even I am facing the same problem ......

[2016-04-11 14:30] jgw96 commented on #6097
Hello! As this issue is a duplicate of #6079  i will be closing this issue. Feel free to chime in over on that issue! Thanks!

[2016-04-11 14:30] #6097 closed

[2016-04-11 14:37] jalef commented on #6089
thanks!

[2016-04-11 14:42] xelamak commented on #6079
Hi guys, I did the following to temporarily get rid of the exception.

In ionic-angular/platform/storage/storage.js
[code]

[2016-04-11 14:52] jgw96 commented on #5686
Hello! Thanks for opening an issue with us! Would you mind making a quick plunker that i can use to test your issue with? You can use this template i made as a starter (http://plnkr.co/edit/jnOrQRtE8rN2WCXDQYQY?p=info). Thanks again!

[2016-04-11 14:57] jgw96 commented on #6101
Hello! Thanks for opening an issue with us! Are you getting any errors in the console?

[2016-04-11 14:59] #5967 closed

[2016-04-11 15:40] jgw96 commented on #6106
@Code1942 Hello!Thanks for opening an issue with us! So we recently made changes to our build process for Ionic 2. I would recommend (until the owner of that demo upgrades the app to beta.4) to start a new app, and then just move his code over into your freshly started app. The build process should work fine once you do that! Thanks again!

[2016-04-11 15:40] #6106 closed

[2016-04-11 15:42] jgw96 commented on #6114
Hello! Thanks for opening an issue with us! So to be able to use ionic components like `ion-input` in a standard Angular 2 component you have to import `IONIC_DIRECTIVES` from `ionic/angular` and inject them into your angular 2 component directives array. Once you do this all ionic components should work exactly the same in your regular Angular 2 Component as they do in an ionic `page` component.

[2016-04-11 15:42] #6114 closed

[2016-04-11 15:42] alyn000r commented on #6101
I am sorry, I do not know how to check the console logs when I run this command

ionic emulate android

When I run this command

ionic emulate android -c --- No Errors are shown

When I run this command

ionic emulate android -c -l --- Ajax calls work fine

[2016-04-11 15:48] jgw96 commented on #6042
@wzhsh90 I am very sorry, i dont seem to have received any emails? So, after testing with your codepen all the events seem to be firing for me fine. Also, i do not see a view named C? I only see view a and view b? Is there something that im missing or not understanding? Sorry!

[2016-04-11 15:52] jgw96 commented on #6117
Hello! Thanks for opening an issue with us! As this issue is a duplicate of issue #6099 i will be closing this issue. Feel free to continue the conversation over on the other issue. Thanks again!

[2016-04-11 15:52] #6117 closed

[2016-04-11 15:55] manucorporat commented on #6099
@denkomanceski @danielcrk-cn the correct attribute is `swipeBackEnabled`.

[code]

[2016-04-11 15:57] jgw96 commented on #6101
Sorry, i should have been more clear. So, when you run `ionic serve` does your app work in the browser? Or does it have issues there too?

[2016-04-11 15:58] jgw96 commented on #5834
@kentongray I expected you would still be having a problem. Like i said earlier this issue is marked for beta.12 at this point, so you can expect a fix in that release! Until then, i would recommend continuing to use your workaround. Thanks again!

[2016-04-11 16:01] jgw96 commented on #5748
As it has been a little while since there was any activity on this issue I will be closing it for now, please feel free to reply if you are still experiencing this issue though!

[2016-04-11 16:01] #5748 closed

[2016-04-11 16:02] jgw96 commented on #6024
As it has been a little while since there was any activity on this issue I will be closing it for now, please feel free to reply if you are still experiencing this issue though!

[2016-04-11 16:02] #6024 closed

[2016-04-11 16:02] jgw96 commented on #6033
As it has been a little while since there was any activity on this issue I will be closing it for now, please feel free to reply if you are still experiencing this issue though!

[2016-04-11 16:02] #6033 closed

[2016-04-11 16:02] brandyscarney commented on #5931
Thank you for finding this! It was caused by importing the global mode file in each component. I removed these imports from all of the components and confirmed it only includes the fonts once now. This will be fixed in the `beta.5` release. Thanks again! :smile:

[2016-04-11 16:02] #5931 closed

[2016-04-11 16:09] alyn000r commented on #6101
It works perfectly fine in the browser and when I use live reload.

[2016-04-11 16:10] alyn000r commented on #6101
Device and Simulator without live reload is a no go

[2016-04-11 16:33] jgw96 commented on #6101
Thanks for the info! So to inspect your app when running on your android device you can use chrome://inspect/#devices to inspect your app and see if there are any errors in the console. Im guessing that you may get errors related to cors.

[2016-04-11 16:56] cariolano opened #6118 "docs: exemplos de app"
**Type**: <span ionic-type>docs</span>

**Ionic Version**: <span ionic-version>1.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>Entender mais sobre desenvolvimento mobile.</span>

<span is-issue-template></span>

[2016-04-11 17:18] alyn000r commented on #6101
I will try this and get back to you. Thank You

[2016-04-11 17:22] armenbadalyan commented on #5686
Please this plunker http://plnkr.co/edit/HnRoUIRiuvMlh8v2vVdR?p=preview

[2016-04-11 17:22] adamdbradley commented on #6112
This is largely only a UIWebView problem, so I guess they kind of did fix it in WKWebView. The new way will not reuse the same img element, so it does a better job at aborting image requests.

[2016-04-11 17:22] #6112 closed

[2016-04-11 17:23] alyn000r commented on #6101
I was reading this blog which says CORS is only an issue when you start up a web server and it should not be an issue when we do run / emulate

However in my case the Ajax works fine when I use live reload or serve

Anything I am missing ?

http://blog.ionic.io/handling-cors-issues-in-ionic/

[2016-04-11 17:26] brandyscarney commented on #5931
So since we want to be able to individually import components, the globals file needs to be imported in each component. I've reverted the previous commit and instead moved the font import up to the `components.<mode>.scss` file.

[2016-04-11 18:25] #5981 closed

[2016-04-11 20:07] danbucholtz commented on #5932
@cnnrmtthws, I am having a hard time reproducing this.  I have downloaded the zip file and ran that on my iPhone 6S, and then I also pulled down the codepen and tried that as well for good measure.

Any additional suggestions on how to recreate?  FWIW, I am running iOS 9.3.1, which is the latest iOS.

Thanks,
Dan

[2016-04-11 20:08] hasLoren commented on #6110
It's not able to be produced in webview/browser. it has to do with an issue on iOS and potentially android devices.

[2016-04-11 20:09] nayrrod commented on #6087
Same issue here, when trying to deploy on android, chrome is working fine :

`Gulp version:  CLI version 3.9.0
Gulp local:   Local version 3.9.1
Ionic Framework Version: 2.0.0-beta.4
Ionic CLI Version: 2.0.0-beta.24
Ionic App Lib Version: 2.0.0-beta.14
ios-deploy version: Not installed
ios-sim version: Not installed
OS: Mac OS X El Capitan
Node Version: v5.10.1
Xcode version: Not installed`

[2016-04-11 20:24] dually8 commented on #5127
I haven't been able to replicate it since cordova iOS 4.1.0 and iOS 9.3.1.  Regardless, below is a codepen of more or less what I had previously.  But like I said, I haven't been able to replicate this since the updates.  I'm not sure about anyone else in the thread.

http://codepen.io/dually8/pen/VaQQbE

[2016-04-11 20:30] iignatov opened #6120 "bug: Ion-toggle submits form"
#### Short description of the problem:
When a `<ion-toggle>` is placed inside a `<form>` the form gets submitted when switching the state of the toggle.

#### What behavior are you expecting?
It should be possible to switch the state of the toggle without the form gets submitted.

**Steps to reproduce:**
1. Open the [demo plunker environment](http://plnkr.co/edit/xOaUceJochQo1IdnC5IQ?p=preview).
2

[2016-04-11 20:31] danbucholtz commented on #5127
@dually8, can you give me step by step instructions on what to click in your codepen to see the bug?  I understand you haven't been able to replicate it with newer versions of iOS and cordova iOS.  Am I suppose to see duplicate clicks (in theory) when clicking the "ayy" button?

Thanks,
Dan

[2016-04-11 20:33] adamdbradley commented on #6087
Looks like `NgZone` wasn't running after cordova's `deviceready` event fired. Should be fixed in the next release. Thanks for the help!

[2016-04-11 20:33] #6087 closed

[2016-04-11 20:33] jgw96 commented on #6118
Olá! Graças para a abertura de um problema com a gente! Sinto muito , mas não sou realmente entender o seu relatório de problema. Você se importaria de explicar um pouco mais do que está errado com a documentação ?

[2016-04-11 20:35] danbucholtz commented on #5806
@Tobiaswk, can you share a sample project or codepen I can use to recreate this?  We have created a sample [here](http://plnkr.co/xhwyuIN1f7mnHPDq9UMx) to try to fix but I cannot recreate it.  I am running iOS 9.3.1 on an iPhone, and I can't recreate on simulator either.

Executing `ionic start input-scrolling-bug http://embed.plnkr.co/xhwyuIN1f7mnHPDq9UMx` should pull down the project for you in

[2016-04-11 20:37] dually8 commented on #6110
Though I'm using a fork of the phonegap barcode scanner, I'm not able to reproduce this myself.  I've explicitly added Cordova iOS 4.1.1.  Below is my ionic info and package.json.

Gulp version:  CLI version 3.9.1
Gulp local:   Local version 3.9.1
Ionic Version: 1.2.4-nightly-1917
Ionic CLI Version: 2.0.0-beta.19
Ionic App Lib Version: 2.0.0-beta.9
ios-deploy version: 1.8.5
ios-sim version: 5.0.8

[2016-04-11 20:40] #5086 closed

[2016-04-11 20:41] adamdbradley commented on #5760
Great thanks!

[2016-04-11 20:41] #5760 closed

[2016-04-11 20:46] biesbjerg opened #6121 "[v2] Loading component's backdrop is solid black and can't be dismissed"
My code calling the component:

[code]
Result:
![image](https://cloud.githubusercontent.com/assets/230182/14441698/4bffcc56-0036-11e6-9131-cffa80a7292d.png)

I tried making a plunker, but I'm not able to make the launcher show at all, no errors, don't know what's going on.

Oh, I'm using beta 4 of course, and also made sure the plunker I attempted to use was using beta 4.

[2016-04-11 20:47] jgw96 commented on #5686
Thanks for the plnkr! So im slightly confused on what the issue is exactly. Would you mind explaining more about what the issue your experiencing is?

[2016-04-11 20:48] brandyscarney commented on #6103
Hey @kentongray, thanks for the issue! I think adding a `setContent` function would be a good addition. It should be similar to alert's functions: https://github.com/driftyco/ionic/blob/2.0/ionic/components/alert/alert.ts#L158-L170

If you want to create a PR that would be helpful, just let me know!

[2016-04-11 20:55] iignatov commented on #5760
I updated the [demo plunker environment](https://plnkr.co/edit/h7gBiz9TCRfx3LDeXBzs?p=preview) to `beta.4` and can confirm that the problem is fixed for both `<ion-infinite-scroll>` and `<ion-refresher>`.

[2016-04-11 20:56] adamdbradley commented on #6120
Fixed in https://github.com/driftyco/ionic/commit/f17f5172e30b0b8940b72dda9ec44d16a7a5c86e

Thanks!

[2016-04-11 20:56] #6120 closed

[2016-04-11 20:59] mlaffargue opened #6123 "Ionic2 start stuck for sidemenu template"
#### Short description of the problem:
Using `ionic start myapp tabs --v2` works correctly
Using `ionic start myapp sidemenu` works correctly
Using `ionic start myapp sidemenu --v2` just get stuck after logging :

#### What behavior are you expecting?
I'm expecting the v2 template of sidemenu to work

**Steps to reproduce:**
1. `ionic start myapp sidemenu --v2`

**Which Ionic Version?**
Ionic CLI

[2016-04-11 21:05] armenbadalyan commented on #5686
Yes, sure. Please see the plunker again I've changed it a bit to demonstrate the issue.

The height of the scrolling area is 250px. Inside of it there's a list which is bigger than this area thus we can scroll it. But when I reach the bottom of the list I can continue scrolling and another scroll bar appears under the list. It seems like both JS scroll and native scroll are active at the same time

[2016-04-11 21:17] iignatov commented on #5821
I just tested this with `beta.4` and I can confirm that the problem is fixed, thanks!

[2016-04-11 21:22] jgw96 commented on #6101
@alyn000r Hmmm, sorry this is a tough one. I am fixing to do some more testing and then i will get back to you. Thanks for your patience and quick responses!

[2016-04-11 21:23] Riron opened #6124 "VirtualScroll not working with asynchronous data"
#### Short description of the problem:
If items in a virtual list are loaded asynchronously, they don't appear.

#### What behavior are you expecting?
They should be displayed :)

**Steps to reproduce:**
1. Create a virtualScroll list with an empty array
2. Asyncronously load data into this array
3. Nothing gets rendered...

What it might be after a brief look at the directive :
The `ngDoCheck` me

[2016-04-11 21:30] jgw96 commented on #6110
So, I have tested on my android devices (Nexus 7 2013 running Android 6.0.1 (latest stable public release), Nexus 6 running the Android N dev preview, and a moto x 2014 running android 5.1) and have not been able to reproduce any issue. Would you be able to provide a git repo of you code that i could pull down and use to test on my devices with instead of a codepen? Thanks again!

[2016-04-11 21:38] agates opened #6125 "virtualScroll shows no data when array is asynchronously populated (v2)"
virtualScroll doesn't display any data when using an Observable + async pipe until a page resize.

Once the page is resized the data appears to be displayed properly.

Here's an example of what I'm trying to do:
[code]

I'm running ionic v2 beta 4.

[2016-04-11 21:43] jgw96 commented on #6121
Hello! Thanks for opening an issue with us! Unfortunately i am having an issue reproducing your issue with my test of the loader component, but i do have something you could try. Could you take the code that you have in your constructor and instead wrap it in `onPageDidEnter()`. Heres an example of how that would work
[code]

[2016-04-11 21:45] agates commented on #6124
Hah, looks like you got here right before me!  Same issue here in #6125

[2016-04-11 21:46] jgw96 commented on #6123
Hello! Thanks for opening an issue! Since this issue is more relevant to the ionic cli and not the framework i will be moving this issue to that repo. Thanks again!

[2016-04-11 21:47] iignatov commented on #5560
@Luchillo Are you still experiencing issues with the alerts? I had similar problems and they were resolved after the release of `beta.3`. I guess that the problems that you had might be resolved too and in such case this issue can be closed.

[2016-04-11 21:48] jgw96 commented on #6123
This issue was moved to driftyco/ionic-cli#927

[2016-04-11 21:48] #6123 closed

[2016-04-11 21:54] brandyscarney opened #6126 "Get rid of tabbarIcons"
Right now `tabbarIcons` is still showing but deprecated, also `tabbarIcons` is still being used in `tabs.wp.scss`

Should be using `tabbarLayout` everywhere

[2016-04-11 21:55] iignatov commented on #5095
@Luchillo I guess that the problems that you had with the alerts _(as well as these in issue #5560)_ might be resolved in `beta.3` and in such case this issue can be closed.

[2016-04-11 21:56] jgw96 commented on #5560
@iignatov Are you experiencing any issues with alerts with beta.4?

[2016-04-11 22:03] jgw96 commented on #5686
Ahh, ok thanks, i get it now. Will have to look more into this. Thanks!

[2016-04-11 22:03] danbucholtz commented on #5896
@njleonzhang, everything seems to be working fine for me with Android 4.4 and the latest Ionic.  I am running your app/code but I don't see any issues with scrolling.  I am clicking the show buttons to resize the app.

Can you check if this is still any issue with the latest Ionic?  Can you provide a codepen that I can observe this issue in?

Thanks,
Dan

[2016-04-11 22:14] danbucholtz commented on #5952
Hi @obedm503,

This works for me on my iPhone and my Android phone.  It also works in Chrome when emulating a device.  I'm using the latest Ionic.

Are you still having this issue?  Please let me know.

Thanks,
Dan

[2016-04-11 22:18] hasLoren commented on #6110
It's a private repo that can't be shared.. Also, it has to be on a device
because it only happens when `ionic.Platform.isWebView())` is false.

I tried adding and removing ios with `ionic platform remove ios` and `ionic
platform add ios' which doesn't do anything.

On Mon, Apr 11, 2016 at 2:31 PM, Justin Willis <notifications@github.com>
wrote:

[2016-04-11 22:22] iignatov commented on #5560
@jgw96 No, I don't experience any issues. With `beta.4` the alerts work fine for me. I tested the use-cases from the alert issues that I had (#5818 and #5821) and I can confirm that they are fixed in `beta.4`.

[2016-04-11 22:24] iignatov commented on #5818
I just tested this with `beta.4` and I can confirm that the problem is fixed, thanks again!

[2016-04-11 22:46] biesbjerg commented on #6121
It seems it doesn't work if the Loading instance is created (either in constructor or onPageDidEnter) on the app's start page, if that makes sense.

I did as you suggested, and put the code in onPageDidEnter callback. When I navigated to a page (using tabs) that had the above code, it worked correctly, but if I have the same code on that page the tab initially loads, I get the black backdrop issue

[2016-04-11 22:47] hasLoren commented on #6110
[code]

[2016-04-11 22:49] biesbjerg commented on #6121
Wrapping the code in a setTimeout call makes it work, suggesting it's some kind of timing issue?

[code]

[2016-04-11 22:52] denkomanceski opened #6127 "iOS 8.X.X bug Ionic 2"
I updated my ionic 2 version to a newer version and I am using ios@3.9.0 so it will be compatible with a plugin that I am using. I had memory leaks problems and that was the reason for updating it. Now I have problem on safari which is probably related with the angular2 polyfills. I can run the app on ios 9+ devices but I am not able to run the page on ios 8.x.x. I also tried hosting the files and

[2016-04-11 22:57] biesbjerg commented on #6121
To better mimic the structure of my app, create a project using the Tabs template and add Loading.create() to Page1. That should reproduce my issue.

[2016-04-11 23:23] denkomanceski commented on #6127
I had to add es-shim :( so bad wasted 5 hours

[2016-04-11 23:23] #6127 closed

[2016-04-12 00:57] wzhsh90 commented on #6042
I am so sorry to you , I forget to change 'Search' to 'C ', I updated my codepen , you can test it again .So sorry spend you so much time.

[2016-04-12 02:05] #6126 closed

[2016-04-12 02:37] alyn000r commented on #6101
I saw the error first it was complaining about no <meta "Content-Security"> tag present so I added this to my index.html for android

<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' ">

but then it fires the request as

file:// ....

which fails because the call is supposed to be https://

I did se

[2016-04-12 03:51] adamdbradley commented on #6125
Thanks, we'll take a look. I'll close this one since it's a duplicate of #6124

[2016-04-12 03:51] #6125 closed

[2016-04-12 03:57] #5800 closed

[2016-04-12 03:58] adamdbradley commented on #5187
Sounds like it's fixed now, and the upcoming release has a few more fixes. Thanks.

[2016-04-12 04:50] dylanvdmerwe commented on #5819
Looks good to me!

[2016-04-12 06:07] wim1983 commented on #6063
I've found out what cause the issue, it's because previous page array variable with certain amount of data that causing the lag, if I select 1 data and assign to a variable say this.DefectReportList it's ok, this is kind of Angular 2 problem?

[2016-04-12 06:07] #6063 closed

[2016-04-12 06:09] gitHubLie commented on #6107
OK !
please  look this. https://www.youtube.com/watch?v=imIIk8pRVgI&feature=youtu.be

this is my code
  <ion-content scroll="true" overflow-scroll="true" class="iframe-wrapper">
     <ion-refresher pulling-text="reflash" on-refresh="doRefresh()"> </ion-refresher>
     <iframe id="targetFrame" data-tap-disabled="true" ng-src="{{myURL}}" style="opacity:1"></iframe>
  </ion-content>

.iframe-wrapper

[2016-04-12 06:10] jgw96 commented on #5560
@iignatov Thanks for getting back to me! @Luchillo if you get a chance i would love for you to also test! In the meantime i will be closing this issue for now, as it seems to have been fixed.

[2016-04-12 06:10] #5560 closed

[2016-04-12 06:17] gitHubLie commented on #6107
Actually I want  black bar always at the bottom in iframe. but  I try any way, not work . please help me .thanks

[2016-04-12 06:18] gitHubLie commented on #5727
1.7.10

[2016-04-12 06:19] jgw96 opened #6128 "Npm link does not work when developing against latest version of ionic 2"
#### Short description of the problem
After running `gulp package build`, i npm link the dist directory, then link to that in my app directory, as per the build docs. But that does not seem to work correctly anymore as the app will not load at all, and i get a ton of `cant find module ionic-angular` errors when trying to run the app using `ionic serve. Building the repo and then copying the conten

[2016-04-12 06:20] gitHubLie commented on #5727
@jgw96  ok ,you want close just new question?

[2016-04-12 06:20] gitHubLie commented on #5727
@jgw96     INOIC  1.7.10

[2016-04-12 06:53] drixie commented on #308
Hey! What's up with the UI kit for Sketch/Photoshop? :D

[2016-04-12 07:36] Tobiaswk commented on #5806
@danbucholtz I don't you use `cordova.plugins.Keyboard.disableScroll(true)` in your example project. This is the root of the problem. Using `cordova.plugins.Keyboard.disableScroll(true)` of course means you can't scroll with the keyboard open/up. The problem is that scrolling never reengages when the keyboard at some point is closed.

[2016-04-12 09:08] mattfolkard commented on #6004
Not a solution, but a workaround: place <ion-navbar> in the custom component.

Header component:
`<ion-navbar *navbar>
<ion-title>
  {{title}}
</ion-title>
<ion-buttons (click)="openMenu()">
  <button>
    <ion-icon name="menu"></ion-icon>
  </button>
</ion-buttons>`
</ion-navbar>
Usage:
` <my-header [title]="title"></my-header>`
Works for me!

[2016-04-12 09:35] gcrockenberg opened #6129 "@font-face OpenType embedding"
Generating CSS3114 errors on Windows phone

CSS3114: @font-face failed OpenType embedding permission check. Permission must be Installable.
noto-sans-regular.ttf

**Steps to reproduce:**
1.  Set Config.mode to 'wp'
2. Run on Windows Phone

Lumia 950 XL
Windows 10 Mobile

Cordova CLI: 6.1.1
Ionic Framework Version: 2.0.0-beta.4
Ionic CLI Version: 2.0.0-beta.24
Ionic App Lib Version: 2.0.0-beta.14
O

[2016-04-12 09:41] chinib commented on #6056
Just adding my 2 cents. Was able to replicate this problem with 5 tabs on device iPhone 5s and also on iPhone 5s simulator. Seems the .tab-button style (in app.ios.css)  has a max-width: 240px; causing this behavior. Removing this max-width for iPhone 5s seems to solve the problem. Don't know if this *fix* has unwanted side-effects on other device types. Should be investigated further, but could p

[2016-04-12 10:55] DILEEP-YADAV commented on #5445
Awesome team work, Thanks ionic team and GitHub platform!  ionic v2 ready to boom! still angular v2 is not ready to production . But I think ionic v2 is ready. thanks once again to great ionic team.

[2016-04-12 12:45] dylanvdmerwe opened #6130 "issue(tappable): tappable not applying to child elements"
#### Short description of the problem:
Upon learning about the `tappable` attribute, I added this to an ion-item of mine. The entire ion-item is meant to be able to be pressed. However the inner elements of the ion-item still have the 300ms delay. Should this attribute not be propagated within all child elements?

[code]

All the elements inside the highlighted area should have the 300ms delay rem

[2016-04-12 12:47] adamdbradley commented on #6124
Thanks for the detailed report and helping to debug this. Should be fixed in the next release.

[2016-04-12 12:47] #6124 closed

[2016-04-12 13:36] adamdbradley commented on #5810
This should be fixed in this commit: https://github.com/driftyco/ionic/commit/e21c4d59275f75d1d41cedef1e36f2ddbf076de5

Also, ion-content does have `scrollTo` and `scrollToTop` methods: http://ionicframework.com/docs/v2/api/components/content/Content/#scrollToTop

Hope that helps, thanks for the report

[2016-04-12 13:36] #5810 closed

[2016-04-12 13:38] Poojal123 opened #6131 "Upload image without using file transfer plugin is there any way..??"
//
 navigator.camera.getPicture(onSuccess, onFail, {
                    sourceType: navigator.camera.PictureSourceType.PHOTOLIBRARY,
                    allowEdit: true,
                    targetWidth: 400,
                    targetHeight: 400,
                    destinationType: Camera.DestinationType.FILE_URI,
                    mediaType: navigator.camera.MediaType.PHOTO
                })

[2016-04-12 13:53] Tobiaswk commented on #5628
@jgw96 I did not know that this behavior was intended. This issue can be closed.

[2016-04-12 13:55] cnnrmtthws commented on #5932
@danbucholtz I think its when the intertia scrolling is happening. I have not found it to be immediate but certainly not more than a couple of minutes max. I have managed to reproduce on both an iPhone 6 and on an iPad 2.

I can reproduce a hang almost imediately by scrolling and while the inertia scrolling is happening and double/tripple tapping the status bar rapidly, which trigger the scroll to

[2016-04-12 14:51] danbucholtz commented on #5806
Hi @Tobiaswk, I will try again.  We must have added that function call to a different but similar project.  I will keep you posted.

Thanks,
Dan

[2016-04-12 15:23] djangojack opened #6132 "config mode:'ios' doesn't override tabSubPages defaults on Android"
#### Short description of the problem:
Using mode: 'ios' in the app.ts config sets the default mode to ios for the app. However tabSubPages still defaults to the md default true on Android.

#### What behavior are you expecting?
I would have expected it to default to the ios standard: tabSubPages: false.
I would expect that setting mode: 'ios' without any other config options would mean that ios &

[2016-04-12 15:32] jgw96 commented on #6130
Hey! Thanks for opening an issue with us. So in your case a good solution is to make the whole `ion-item` a button, like this
[code]
This gives you two advantages, first for accessibility a screen reader will now know that that ion-item is clickable. Also this will get rid of the 300ms delay for the whole element, and the elements inside. Hopefully this helps you!

ps: here is a good link on the `