[2022-07-07 23:22] sean-perkins opened #25591 "bug: ion-datetime fails to load in stencil apps after v6.1.12"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-07 23:50] sean-perkins commented on #25588
@Sukaato I have an open PR, but here is a dev-build in the interim: `6.1.14-dev.11657236641.106931ae`

[2022-07-08 07:14] nosTa1337 commented on #19183
I was already going to use hammerjs again, but it works like a charm. Thanks mate

[2022-07-08 07:29] #25576 closed

[2022-07-08 08:22] digaus opened #25593 "bug: Popover focus trap breaks usage of material input fields which are rendered outside of the popover"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-08 08:28] digaus commented on #25593
Nevermind, I can just add `ion-disable-focus-trap`

[2022-07-08 08:37] digaus commented on #25593
Reopen because it is not documented anywhere but in code:

https://github.com/ionic-team/ionic-framework/blob/main/core/src/utils/overlays.ts#L151

[2022-07-08 10:02] Eraldo opened #25594 "bug: Popover overflowing if in footer"
### Ionic Framework Version

- [X] v6.x

### Current Behavior

The popover renders in such a way that I cannot still see its content as it is off screen.

<img width="283" alt="image" src="https://user-images.githubusercontent.com/73378/177967706-091ea69b-b920-421d-85b7-dbba6863437a.png">

### Expected Behavior

The popover renders in such a way that I can still see its content.

Example: (manuall

[2022-07-08 10:34] Yaro96 opened #25595 "bug: Scrollbar disappearance when ION-RANGE is active"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-08 10:48] leighbriody commented on #25594
Hello,

Not sure if this is the correct way your looking to resolve this but its a solution that worked for me :).

1) I added a class to the <ion-popover> element called "popover"
2) Then I added a style to this in the CSS file to change the position and keep it above it.

**Ionic Popover**
<ion-popover trigger="trigger-button" side="top" class="popover">
      <ng-template>
        <ion-content

[2022-07-08 13:08] JohnGeorgiadis commented on #25590
I am having the same issue. I have a list of items with ids and when I click on an item I am opening a modal passing this id. If the id is null I am unmount the modal.
I get the same error when onDismiss is being fired.

[code]

this code was working on v5.

[2022-07-08 13:42] liamdebeasi commented on #25594
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic-framework/issues/24780.

[2022-07-08 13:42] #25594 closed

[2022-07-08 13:43] liamdebeasi commented on #25593
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic-framework/issues/24646.

You can use `ion-disable-focus-trap`, but it is a private API and not subject to the normal breaking change rules so use with caution.

[2022-07-08 13:43] #25593 closed

[2022-07-08 14:07] liamdebeasi commented on #25577
Thanks for the issue. Yes, we should be following the [datetime-local](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local) implementation and not return the timezone information. The control is meant to represent a local date and time, but not necessarily the user's local date and time.

[2022-07-08 14:18] #25531 closed

[2022-07-08 14:31] #25591 closed

[2022-07-08 15:01] liamdebeasi commented on #25578
Thanks for the issue. The problem here is that when each `ion-item-sliding` is initialized, it queries for the inner `ion-item-options` elements: https://github.com/ionic-team/ionic-framework/blob/7b10fa6476c2c2896c6810c57b3160f8c8896faa/core/src/components/item-sliding/item-sliding.tsx#L217

No options exist on initial load because the loading template is rendered, not the options template. The i

[2022-07-08 15:12] sean-perkins commented on #25447
Hello @andreaslarssen can you test with this dev-build and let me know if you run into any issues?
[code]

Stackblitz can occasionally be difficult with recently published packages. You may need to locally clone your reproduction to install the package.

[2022-07-08 15:16] liamdebeasi commented on #18281
Thanks for the issue. I am not able to reproduce this anymore, so it looks like the issue was fixed in a previous version of Ionic. I am going to close this, but feel free to open a new issue. Thanks!

[2022-07-08 15:16] #18281 closed

[2022-07-08 15:18] liamdebeasi commented on #25578
The issue here is that `ion-item-sliding` does not support dynamically added `ion-item-options`. The issue is not caused by virtual scrolling, but dynamically adding `ion-item-options` is a side effect of using virtual scrolling in this way.

[2022-07-08 15:58] liamdebeasi commented on #25321
This appears to be the culprit: https://github.com/ionic-team/ionic-framework/blob/main/packages/react-router/src/ReactRouter/StackManager.tsx#L230-L234

When we transition to another instances of the same component `@ionic/react-router` attempts to clone the DOM nodes. This results in a duplicate `input` element inside of `ion-input`.

[2022-07-08 17:40] Saqib92 opened #25596 "bug: ion-input password value is empty when autofill by password Managers."
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-08 18:05] Saqib92 commented on #24739
facing same issue.

[2022-07-08 18:14] liamdebeasi commented on #24739
@Saqib92 What version of iOS are you testing this on? This issue should have been fixed in iOS already. I am trying to figure out the exact version that the fix shipped in and will post here when I figure that out.

[2022-07-08 18:18] #25509 closed

[2022-07-08 18:28] liamdebeasi commented on #25596
Thanks for the issue. Does this issue happen when running in a mobile browser or does it only happen when running in a Cordova/Capacitor app?

[2022-07-08 18:53] liamdebeasi commented on #25596
Ah my apologies, I see you had already posted on an open issue here: https://github.com/ionic-team/ionic-framework/issues/24739#issuecomment-1179242952. Let's try to keep the discussions in one place. I am going to close this in favor of https://github.com/ionic-team/ionic-framework/issues/24739.

[2022-07-08 18:53] #25596 closed

[2022-07-08 19:01] #24739 closed

[2022-07-08 19:03] liamdebeasi commented on #23335
Hi everyone,

I am posting here again as I am merging a related thread.

This thread is tracking a bug in WKWebView where the autofill feature in iOS is not updating the `value` property in `ion-input`. This bug impacts Cordova/Capacitor apps but does not impact apps running in mobile Safari.

I will post here when a fix has been shipped in iOS. In the meantime, if anyone has links to production a

[2022-07-08 19:05] liamdebeasi commented on #23335
It's worth noting too that this issue may be worked around with the changes we have proposed in https://github.com/ionic-team/ionic-framework/discussions/25532.

[2022-07-09 05:17] aparajita opened #25599 "bug: non-passive event listener for 'touchstart' event"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-09 10:47] Saqib92 commented on #24739
I tested on iOS v15.4

[2022-07-09 12:24] DySQRD commented on #23743
Just ran into this issue in 6.19.1. **useIonViewWillLeave and useIonViewDidLeave also stop working**.
Another workaround for web pages, if you don't mind a refresh :
`<Redirect to={() => {window.location.replace(REF); return <AnyComponent />;} />
// where REF is a valid url`

Please look into this, Ionic Team !

[2022-07-09 14:58] int0x80-sys opened #25600 "bug: ion-header and ion-footer do not render custom elements with ionic component inside with vanilla js"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-09 18:06] GersonDantas commented on #25533
[this](https://github.com/GersonDantas/project-ionic-to-test-bug) is small project with just one input but it is very similar to the part I tested in the other project Sorry for the disorganization of the folders, I made the code quickly to be able to pass it on to you

[2022-07-10 04:37] milang commented on #24002
@sean-perkins @liamdebeasi thank you for the update. I switched to the dev-build above and used `<IonNav>` with a trivial `<HelloWorld>` component:
https://github.com/milang/ionic-simplevitejs/blob/simple-ionnav/src/App.tsx#L33

However, I observed two issues:
1. `rootParams` value is ignored, `root` component is always rendered with `undefined` props
2. When `<HelloWorld>` is included via `<IonNa

[2022-07-10 08:22] abdulmlik opened #25601 "bug: dynamically changing side prop for menu not working"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [x] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-10 10:23] stasdre commented on #25573
Hi @liamdebeasi! I created examples for you.
This example of UI lib https://github.com/stasdre/mindly-test-ui
This example app where we use UI lib https://github.com/stasdre/mindly-test

[2022-07-10 16:39] aparajita commented on #25575
@liamdebeasi Too funny! I created that repo with your handy online app creator and it made it private by default! 😂

It's public now, thanks for taking a look, this is breaking some of my build pipelines.

[2022-07-10 23:09] aparajita commented on #25575
And sorry for taking so long to reply, for some reason I had turned off notifications from this repo. 🙄

[2022-07-11 01:39] sean-perkins commented on #24002
@milang thanks for the follow-up. I am going to split out your first mentioned problem into a new issue to track.

The second issue sounds like a duplicate of: #25507, navigation elements that use a stack of views clear incorrectly starting in React 18. React 18 unmounts and remounts components when running in dev mode to prepare for a future change in React for resuming state.

[2022-07-11 01:42] sean-perkins opened #25602 "bug: IonNav in React does not support rootParams"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-11 01:42] sean-perkins commented on #24002
New issue is available here: https://github.com/ionic-team/ionic-framework/issues/25602

[2022-07-11 02:50] sean-perkins commented on #25602
Here is a dev-build if anyone would like to verify: `6.1.14-dev.11657507365.17b3751f`. Thanks!

[2022-07-11 02:51] sean-perkins commented on #25599
Hello @aparajita thanks for the issue! Would it be possible to make the reproduction app a public repository? Thanks!

[2022-07-11 03:14] sean-perkins commented on #25599
After some brief discovery, this seems to occur in two areas:

1. With our scroll assist utility and inputs
2. Using `onTouchStart={}` bindings in `ion-input` for the clear input behavior.

I'll need to consult with the team + the Stencil team with regards to the touch start binding. Currently there isn't a way to register passive event listeners through JSX bindings. This may be a case where we j

[2022-07-11 03:25] sean-perkins commented on #25600
Hello @int0x80-sys thanks for this issue.

The problem here is with using the hydrated bundle of `@ionic/core`. With it, the components will be lazily hydrated once they are requested/defined.

IonContent behaves slightly different here, because it waits for the web components within the scroll element to be ready.

To work around this issue, you can set the inner HTML for your custom web componen

[2022-07-11 03:28] aparajita commented on #25599
Thanks for taking a look!

[2022-07-11 03:54] aparajita commented on #25599
@sean-perkins That repo is public, were you not able to access it?

[2022-07-11 10:30] aardrasystems opened #25604 "Ionic not working on webserver after being updated to Ionic 6 from Ionic 5"
Hi

I have recently updated my App from Ionic 5 to the recent Ionic 6.

I usually copy the entire www folder onto my ftp and then it works on my web domain.

But on my recent transfer after the update. It seems like its not longer working.

Has anything changed? This is the output i am getting.
[code]

What has changed ? Is this bug?

[2022-07-11 11:39] demoprojects123 opened #25605 "bug: URGENT! Kindly Provide https (ssl certificate handshake) PROCEDURE for certifying server trusted certificate and self-signed certificate in IONIC +React framework."
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-11 12:04] bot101 opened #25606 "bug: ion-datetime does not emit ionChange if presentation="month-year""
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-11 13:54] Akash280899 opened #25607 "bug: Ripple color is getting darkness"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-11 14:16] sean-perkins commented on #25606
@bot101 can you please create a reproduction for this issue? We have tests that cover this behavior and I am unable to reproduce: https://stackblitz.com/edit/pa2kpl?file=index.html

[2022-07-11 14:20] sean-perkins commented on #25605
@demoprojects123 this repository is responsible for the UI components used for building web-native applications. This repository has zero responsibility for anything related to Android Studio, SSL certificates or getting data from a server.

Please open this issue in the respective repository that is causing this issue. I would also recommend providing an example project and steps that you tried t

[2022-07-11 14:20] #25605 closed

[2022-07-11 14:22] sean-perkins commented on #25599
@aparajita I was not, the link results in a 404. Did you perhaps mean to point to: https://github.com/aparajita/capacitor-biometric-auth-demo?

[2022-07-11 14:28] aparajita commented on #25599
Yes, doh! 🫢

[2022-07-11 14:57] bipin-52165 opened #25608 "bug: changing months on datetime jumps by 2 months"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-11 21:26] sean-perkins commented on #25575
Hello @aparajita can you test with this dev-build and let me know if the problem persists?
[code]

I've confirmed against your reproduction app + reproduction steps.

[2022-07-11 22:33] elvece commented on #25584
I don't have this committed in a project as I ended up writing a custom component. I could spin up a demo repo if that is necessary?

[2022-07-11 22:36] elvece commented on #25584
I see, good to know. That probably explains the lack of action. Thanks for the explanation.

[2022-07-11 22:54] shaneAPT opened #25611 "feat: setCookie persisting until cleared"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already include this feature request, w

[2022-07-11 23:15] milang commented on #24002
@sean-perkins I updated the sample again, removing `rootParams` as per your new warning and using memoized component instead (which is a bit more annoying, but it works).

However, even after I downgraded React to v17, the blank-screen-after-hot-reload issue persists => see branch `simple-ionnav-react17` in the same repository, https://github.com/milang/ionic-simplevitejs.

[2022-07-12 00:08] kevinclarkadstech commented on #24177
If I hadn't "spammed", then I would not know about that link with the update, now would I? 🙄

[2022-07-12 01:04] almaz1213 commented on #25568
@liamdebeasi
so, where is the problem that disallow you to bring back monthNames property to ion-datetime?

[2022-07-12 01:35] corysmc commented on #25590
@sean-perkins I understand that useIonModal is the way around the issue, however - this is a very common and preferred pattern for react applications. When using the hook useIonModal - in a full scale application you end up having to wrap every modal hook with providers to ensure it works properly. When using a conditionally rendered modal - all the providers are there.

Also, take a look at the l

[2022-07-12 01:36] aparajita commented on #25575
Yup, that fixed it, thank you! 🙏 You can close this issue.

[2022-07-12 01:43] sean-perkins commented on #25611
@shaneAPT please open an issue on the repository for that plugin: https://github.com/silkimen/cordova-plugin-advanced-http

[2022-07-12 01:43] #25611 closed

[2022-07-12 02:35] sean-perkins commented on #24002
@milang I'm open to feedback with the `rootParams`. One drawback I found with using `rootParams` is that the type signature does not inherit from the JSX component. Whereas the memorized approach directly taps into the props/type signature defined.

Here is an updated build to play with the hot reload behavior: `6.1.14-dev.11657592563.15d82c05`. It appears to no longer clear the page, but may be "

[2022-07-12 02:37] sean-perkins commented on #25575
Thanks for the follow-up! Still a little more work on my end. We will get the output targets PR reviewed, and then open a PR in Ionic framework to update the version of that package. This issue will auto-close once that PR lands.

[2022-07-12 03:59] DeepakSuryaKB opened #25612 "bug: back button and splash screen not working after updating from capacitor 2 to 3"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-12 06:28] msxmy opened #25613 "bug: ion-select don't show"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-12 07:42] rbalet opened #25614 "feat: accept rxjs ^7.0.0"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already include this feature request, w

[2022-07-12 08:11] msxmy commented on #25613
https://user-images.githubusercontent.com/21231968/178442470-d5cd3b90-5363-48a3-909a-958c13c28307.mp4

[2022-07-12 08:20] msxmy commented on #25613
if  interface set to alert , it looks right

[2022-07-12 11:46] migue99angel opened #25615 "bug: The overflow-x 'hidden' attribute is not workin on iOS devices"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-12 11:54] pablojjimenez commented on #25615
I have faced with the same _bug_...

[2022-07-12 12:08] msxmy commented on #25613
https://ionicframework.com/docs/api/select#popover  this code can reproduction

[2022-07-12 13:12] liamdebeasi commented on #25584
Does this resolve your concern, or are there other events not firing?

[2022-07-12 13:14] liamdebeasi commented on #25614
Thanks for the issue. We do not manage `@ionic-native` anymore, so we are unable to fix this. I recommend creating this issue on https://github.com/danielsogl/awesome-cordova-plugins. This is the new `@ionic-native` repo.

See https://ionicframework.com/blog/a-new-chapter-for-ionic-native/ for more context.

[2022-07-12 13:14] #25614 closed

[2022-07-12 13:16] liamdebeasi commented on #25608
Thanks for the issue. Does this only happen when using a datetime in a modal?

[2022-07-12 13:19] liamdebeasi commented on #25612
Thanks for the issue. I am going to close this as this is not a bug in Ionic Framework. As per the [Capacitor 3 Migration Guide](https://capacitorjs.com/docs/updating/3-0#migrating-your-app-to-use-the-new-official-plugin-packages), you need to install the `@capacitor/app` plugin in order for the hardware back button to work.

If you encounter any other issues, please post them on the [Ionic Forums

[2022-07-12 13:22] liamdebeasi commented on #25613
Thanks for the issue. Can you please clarify what the issue is? The video in https://github.com/ionic-team/ionic-framework/issues/25613#issuecomment-1181457562 appears to show `ion-select` working correctly.

[2022-07-12 13:25] bipin-52165 commented on #25608
It happened with and without modal

[2022-07-12 13:26] liamdebeasi commented on #25608
Thanks. What browser and operating system are you testing on? I am testing in Chrome on macOS and I cannot reproduce this behavior.

[2022-07-12 13:30] liamdebeasi commented on #25608
Can you send a screen recording of the issue happening?

[2022-07-12 13:35] liamdebeasi commented on #25573
Thanks. The problem appears to be that you are not calling `setupIonicReact` in `mindly-test-ui`, causing the `mode` to not be setup correctly. Can you add that to `mindly-test-ui` and let me know if that resolves the issue?

[2022-07-12 13:40] liamdebeasi commented on #25533
Is there a particular error or behavior I should be looking out for?

When running the tests I get the following error:

[code]

This is because the `validate` function in `Tab1.tsx` is defined after it is referenced in `useIonViewWillEnter`. Fixing that error yields the following error:

[code]

Is this the error you are reporting?

[2022-07-12 13:52] liamdebeasi commented on #25568
There is no problem with adding it. I have labeled this issue as `type: feature request` which means this is something we are interested in adding to Ionic Framework. However, we are not actively working on this feature at the moment.

[2022-07-12 13:59] idesignpixels commented on #22935
Still an issue in Ionic 6.19.0

[2022-07-12 15:28] sandrafreihofer opened #25619 "bug: ion-datetime color customization issues"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-12 15:49] liamdebeasi commented on #25619
Thanks for the issue. Do you have a sample app I can try? It is a bit hard to help without being able to reproduce the issue on my end.

[2022-07-12 16:49] almaz1213 commented on #25568
thanks @liamdebeasi. i wanted to work on that but i couldn't find the implementation of ion-datetime source code here in github. so, i asked about dependency on angular datetime

[2022-07-12 18:02] liamdebeasi commented on #25568
The source code for datetime is here: https://github.com/ionic-team/ionic-framework/tree/main/core/src/components/datetime

If you are running into other problems with datetime I recommend opening separate issues.

[2022-07-12 21:25] almaz1213 commented on #25568
i downloaded source codes of ionic 5 to check how monthNames was implemented..

[2022-07-12 21:48] liamdebeasi commented on #25568
Sounds good. Just to set the appropriate expectations: All features (including community contributions) go through an internal design process, so feature PRs typically take a bit longer than bug fix PRs to get merged.

[2022-07-12 23:44] elvece commented on #25584
This resolves, I am fine closing this issue. Thanks!

[2022-07-12 23:44] #25584 closed

[2022-07-13 00:41] msxmy commented on #25613
1: When the selection box is displayed, click around to make the selection box disappear.

2: Click the ion-select quickly within 1s. At this time, the selection box is not displayed

[2022-07-13 06:41] KANekT commented on #25608
https://user-images.githubusercontent.com/580273/178667651-724e5c53-f220-4b81-8231-d3dcc3cd7b13.mp4

firefox 102 windows 10 utc +3 Moskow

[2022-07-13 10:01] cyril-colin opened #25625 "bug: window.Ionic.platforms returns ['mobile', 'mobileweb'] instead of ['desktop'] on chromium based browser"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-13 10:18] sandrafreihofer commented on #25619
@liamdebeasi Since the project I am working on is not public it is a bit hard to show you something, but let me try to provide a sample app which shows what I am talking from.

[2022-07-13 10:55] WillooWisp commented on #25495
Any progress solving this?

[2022-07-13 12:52] sandrafreihofer commented on #25619
@liamdebeasi After debugging and checking how the `ion-datetime` component is implemented, I found out that the original problem is rather that we don't have definitions for stepped colors in our theme. I think by setting these additional colors we can solve our use case.

Please excuse the creation of this issue, I initially thought that the problem was on Ionic's side. Let's close it.

[2022-07-13 12:52] #25619 closed

[2022-07-13 13:21] liamdebeasi commented on #25608
Thanks. If you have a project to test with, you can give `6.1.14-dev.11657300607.18e0f2d1` a try. It looks like the PR in https://github.com/ionic-team/ionic-framework/pull/25586 may fix the issue.

[2022-07-13 13:24] liamdebeasi commented on #25613
Thanks. What browser are you testing this on? I am testing this with Chrome 103 on macOS, and the popover opens correctly. I will note that double clicking the select when dismissing does not immediately open a new select, but that is to be expected as the popover's backdrop continues to receive pointer events until the popover is fully dismissed.

[2022-07-13 13:46] cyril-colin commented on #25625
Ow... the bug seems to be only on my computer: an other windows 11 PC with same chrome version has no problem...

I'll be back with more information.

[2022-07-13 13:47] liamdebeasi commented on #25625
Does the affected Windows machine have a touch screen by any chance?

[2022-07-13 13:53] #25625 closed

[2022-07-13 14:43] sean-perkins commented on #25495
We are in active 6.2 feature development, this bug has not been prioritized in our backlog yet.

Would gladly welcome further debugging from the community or a PR if someone identifies the problematic code and has a proposed resolution.

[2022-07-13 15:20] Suxsem opened #25628 "[VUE] bug: ion-loader update textContent causes background to disappear"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-13 20:46] liamdebeasi commented on #24080
Hi everyone,

I have a PR up that should improve our compatibility with custom dialogs: https://github.com/ionic-team/ionic-framework/pull/25630

Here is a dev build if anyone is interested in testing: `6.1.15-dev.11657743655.1e3dcc3c`

A few notes about this change:

1. If you want to have both the height and width of the modal be automatically sized based on the size of the inner content, you mu

[2022-07-14 05:21] msxmy commented on #25613
Thank you for your answer， i testing this on Microsoft Edge 103.0.1264.37, I think the next click does not show because the animation has not really disappeared. Can you tell me how to modify the duration of this animation. and  if interface set to alert , it looks right

[2022-07-14 08:21] Gargamil opened #25631 "bug: ion-picker: PickerColumn refresh() private"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-14 09:24] Suxsem commented on #25628
@liamdebeasi it's very easy to reproduce, just paste these lines in a blank ionic vue project. I also created a repository to reproduce the issue, just look at the first post. Thank you.

[code]

![image](https://user-images.githubusercontent.com/830773/178949500-03f4018c-740e-48d6-b09f-a8d789afb489.png)

![image](https://user-images.githubusercontent.com/830773/178949591-0e764a22-ca5d-442d-aa25-4

[2022-07-14 09:56] infacto opened #25632 "bug: Backdrop opacity breaking change."
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-14 11:31] int0x80-sys commented on #25600
Hi. Sorry for the late reply. I saw the answer but I forgot to close the issue. It's works for me.

Thank you so much!

[2022-07-14 11:31] #25600 closed

[2022-07-14 12:53] liamdebeasi commented on #25631
Thanks for the issue. There is no `refresh` method on `ion-picker-column`, so this is to be expected. Can you clarify what you are trying to do?

[2022-07-14 12:58] sebastian-student opened #25633 "bug: inherit aria attributes of ion-fab-button"
**Ionic version:**
[] **4.x**
[] **5.x**
[x] **6.x**

**I'm submitting a ...**
[x] bug report
[ ] feature request

**Current behavior:**
Adding an aria-label to an <ion-fab-button> with [attr.aria-label] the label is not inherited to the contained button.

**Expected behavior:**
Inherit aria attributes like on <ion-button>

**Related code:**
[code]

**Other information:**
Similar issue already exi

[2022-07-14 13:01] liamdebeasi commented on #25632
Thanks for the issue. The backdrop opacity is currently set in the animation here: https://github.com/ionic-team/ionic-framework/blob/main/core/src/components/popover/animations/ios.enter.ts#L91

The animation fades the backdrop is in from 0.01 to `var(--backdrop-opacity)`. I tested locally and setting `--backdrop-opacity` does change the popover's backdrop opacity. Do you have a sample app I can

[2022-07-14 13:01] Suxsem commented on #25628
Ok the workaround works, thank you.
For reference, replace
```loading.textContent = `Loading... ${percent}%`;```
with
```loading.querySelector(".loading-content")!.textContent = `Loading... ${percent}%`;```

Hope you can make the component reactive in the future!

[2022-07-14 14:20] #25631 closed

[2022-07-14 14:55] liamdebeasi commented on #25633
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/25635, and a fix will be available in an upcoming release of Ionic Framework.

[2022-07-14 16:20] #25599 closed

[2022-07-14 16:32] #25533 closed

[2022-07-14 17:15] eqcb opened #25636 "ionic generate Error"
**Ionic version:**

[x] **5.9.4**

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Current behavior:**

Cannot generate pages/component
**Expected behavior:**

Be able to generate page/component
**Steps to reproduce:**

Trying to generate a page/component on an existing Ionic 5 app using "ionic generate page pageName" or "ionic generate component componentName" commands gets me thi

[2022-07-14 17:18] amandaejohnston commented on #25041
I discovered that this issue likely extends to any component that can take arrays for their `value`s. For example, this also applies to the upcoming `multiple` feature for `ion-datetime`. The workaround is the same regardless of component (set the value via JS instead).

[2022-07-14 17:27] infacto commented on #25632
Thanks for reply. Here's a sample app: https://codepen.io/infacto/pen/wvmoqLb
Not sure show this works, since backdrop is a part of the shadow dom. But anyway...
I only noticed it because I used the ios mode version of the popover in md mode app. But it seems it does not matter...
The popover in ios is fixed to 0.01. Why hard coded in scss? The animation could be disabled or just not working.
The

[2022-07-14 17:48] liamdebeasi commented on #25632
The problem here is that you are targeting `ion-backdrop`, not `ion-popover`.  According to https://ionicframework.com/docs/api/popover#css-custom-properties, there is a `--backdrop-opacity` variable on `ion-popover` that will adjust the opacity of `ion-backdrop`.

There is no `--backdrop-opacity` CSS variable on `ion-backdrop`: https://ionicframework.com/docs/api/backdrop#css-custom-properties

-

[2022-07-14 18:59] sean-perkins opened #25637 "bug: Nav `pop()` does not show correct enteringView within a Modal"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-14 19:39] eqcb commented on #25636
Sure, here it is:

{
  "name": "",
  "version": "1.4.7",
  "author": "",
  "description": "",
  "homepage": "",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"
  },
  "private": true,
  "dependencies": {
    "@angular/common": "~9.1.13",
    "@angular/core": "~9.1.13",
    "@angular/forms": "~9.1.13"

[2022-07-14 19:47] sean-perkins commented on #25637
Narrowed this problem to only using `ion-nav` within `ion-modal`.

When the modal is opened, the `disconnectedCallback()` is fired multiple times for `ion-nav`. This results in the internal flag `destroyed` to get set to `true`, skipping core behavior for unmounting/cleaning up views.

[2022-07-14 19:52] mhartington commented on #25636
So I just tested out a sample project with this package.json, and it was working fine on my end.

https://github.com/mhartington/schematics-test/tree/main

[2022-07-14 20:00] eqcb commented on #25636
Any suggestion? Maybe update/downgrade some dependencies?

[2022-07-14 20:03] mhartington commented on #25636
I would delete your node_modules/package-lock just to have a clean slate.

[2022-07-14 20:17] klaurtar opened #25639 "bug: item fill property, label is not aligned in safari"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-15 01:46] msxmy commented on #25613
Thank you for your answer

[2022-07-15 01:46] #25613 closed

[2022-07-15 01:46] msxmy commented on #25613
Thank you for your answer

[2022-07-15 06:29] yunfeng-weee opened #25640 "bug: Route jump using replace will not destroy the page dom"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-15 08:11] bot101 opened #25641 "feat: Add support to lock sheet modal height at set breakpoint"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already include this feature request, w

[2022-07-15 08:21] Julien-Marcou commented on #24080
I can confirm that it fixes the issue 🚀

[2022-07-15 08:33] infacto commented on #25632
Ok probably that was changed with Ionic 6? Coming from Ionic 5 will look like this:

[code]

and for Ionic 6 it needs to be set for each overlay component with backdrop:

[code]

Thanks, it works. And sorry that I didn't see it myself. 🤦‍♂️
Have a nice weekend.

[2022-07-15 08:34] eeschiavo commented on #25608
Same problem here. I just tried `6.1.14-dev.11657300607.18e0f2d1` and can confirm it works correctly.

[2022-07-15 09:26] henkkelder opened #25642 "bug:"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-15 11:33] harivigneshkn commented on #22121
We are also facing the same problem. Is there any solution for this?

[2022-07-15 12:36] zhellDarwin commented on #25560
Is there any way to disable the keyboard from showing?

[2022-07-15 13:12] callumacrae commented on #24264
That's the same as all the other components that you can override the mode for - e.g. if you set `mode="ios"` on an ion-modal component, you have to set `mode="md"` or `:mode="platform"` or whatever you want on any children of the modal. I don't see why you'd want it to be any different for the nav component?

(The animation workaround is super useful, though)

[2022-07-15 13:21] liamdebeasi commented on #25560
Not at the moment. This is an accessibility feature to make time entry easier and aligns with what native iOS does.

[2022-07-15 13:21] bmidget commented on #24264
As far as my use case, the animation work around is enough.

As for the consistency of the component modes, I don't really haver an opinion except I think it should work like other components when `mode` is set (whether that trickles down inside themselves or not).

[2022-07-15 13:23] liamdebeasi commented on #25640
Thanks for the issue. Does this issue happen in the latest version of Ionic 6?

[2022-07-15 13:36] #24080 closed

[2022-07-15 15:28] puopg commented on #25321
@liamdebeasi Could you help me understand, what's the design choice for cloning the page element for transitions to the same component?

To me, it seems weird to have a page leave, and the same page with all the same elements and state of those elements also come back in.

[2022-07-15 15:48] sean-perkins commented on #24264
@callumacrae with the original request it sounds like the scenario is:

An app that is in `md` mode, that wants to use `ion-nav` with iOS page transitions. If the mode inherited to all the children of the `ion-nav`, it would mean that that experience would default to iOS for all the page components, when the base app is MD.

I believe `animation` is likely the best implementation pattern for that

[2022-07-15 15:52] sean-perkins opened #25644 "bug: Nav does not inherit the mode to page components"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-15 15:52] sean-perkins commented on #24264
New issue is: https://github.com/ionic-team/ionic-framework/issues/25644

Resolving this one, feel free to comment if you have any questions/concerns; thanks everyone!

[2022-07-15 15:52] #24264 closed

[2022-07-15 16:08] dexster opened #25646 "bug: Angular: Components that are lazy loaded for the first time are not hydrated immediately"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-15 17:20] sean-perkins commented on #25646
@dexster thanks for reporting this issue!

The behavior you are observing is the effect of the lazy-hydrated bundle from Stencil that is used in our `@ionic/angular` package.

Web components are lazily requested and defined, as they are used in the DOM. Since you are lazy loading the modules for routing, `ion-list` is not requested in the DOM until that route is resolved.

Unfortunately, there isn

[2022-07-15 18:14] sean-perkins commented on #24002
@milang the opinionation to use memorized components is no longer required. You can select the implementation pattern that best meets your needs (memorized components or `rootParams`).

Here is an updated dev-build: `6.1.15-dev.11657908598.17be2d80`

[2022-07-15 18:58] #24980 closed

[2022-07-15 18:58] #25257 closed

[2022-07-15 18:58] #25608 closed

[2022-07-15 18:58] liamdebeasi commented on #25608
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/25586, and a fix will be available in an upcoming release of Ionic Framework.

[2022-07-15 18:58] liamdebeasi commented on #25257
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/25586, and a fix will be available in an upcoming release of Ionic Framework.

[2022-07-15 18:58] liamdebeasi commented on #24980
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/25586, and a fix will be available in an upcoming release of Ionic Framework.

[2022-07-16 03:29] milang commented on #24002
@sean-perkins thank you very much for your updates! `IonNav` now works for me in both `rootParams` mode and in memoized component mode. I agree with you that from type-checking perspective the memoized approach is better than `rootParams`. Great point.

I noticed that with `6.1.15-dev.11657908598.17be2d80` the `rootParams` approach has the "off by one" behaviour you mentioned when hot-reloading ch

[2022-07-16 19:28] milang commented on #24002
@sean-perkins when I started using `IonNav`'s `push` and `pop` methods, there seems to be a problem with transition animations in `6.1.15-dev.11657908598.17be2d80`.

The prototype with Ionic `6.1.15-dev.11657908598.17be2d80` is available in my standard repo, https://github.com/milang/ionic-simplevitejs, branch `recursivemodalnav`. The "recursive modal dialog" is implemented here: https://github.co

[2022-07-17 14:56] chris-si commented on #24631
+1 I'm also missing this exact feature :)

[2022-07-17 18:23] bot101 commented on #25641
@liamdebeasi Here is a demo repo: https://github.com/bot101/bottomsheet-demo. Attached also is a video that shows current behavior.

[screencast-localhost_8100-2022.07.17-18_53_35.webm](https://user-images.githubusercontent.com/8009733/179418714-d4737b8b-6397-41bf-b9a8-4b14d868c817.webm)

[2022-07-18 01:06] djdmbrwsk commented on #22799
Any update? Or even a hacky work around for now? Having the same issue.

[2022-07-18 04:08] praveeno opened #25650 "datetime - how to get year and month value in presentation=datetime"
rendering a ionic-date time
`<ion-datetime #popoverDatetime2
                      showDefaultButtons="true"
                      doneText="OK"
                      presentation="date"
                      [max]="today"
                      (ionChange)="formatDate(popoverDatetime2.value)">`

 when we click top left, month-year option, it change in month-year mode,
 here if i select any month a

[2022-07-18 04:10] praveeno commented on #25650
currently I'm getting month & year from dom, and manually updating it in angular form

[2022-07-18 04:57] zhellDarwin commented on #25560
is there any workaround to disable this because if i give minvalues and type the minute which is not in minvalues means the date time is not updating after whatever I'm typing

[2022-07-18 10:59] yunfeng-weee commented on #25640
According to the same code logic, the v6 version also has this problem

[2022-07-18 13:17] prabhakarsingh1992 opened #25651 "bug:"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-18 16:25] sean-perkins commented on #25650
Please use our issue template when reporting an issue with Ionic. We will need a reproduction app to better understand your problem.

[2022-07-18 16:46] sean-perkins commented on #24002
@milang thanks for the follow-up! I believe the transition behavior is resolved by the combination of my two open PRs:
- https://github.com/ionic-team/ionic-framework/pull/25638
- https://github.com/ionic-team/ionic-framework/pull/25603

I created a dev-build with both PRs combined: `6.1.15-dev.11658162113.1784b217` and it appears to resolve the issue with  transitions in your reproduction.

[2022-07-18 20:00] dexster commented on #25646
Thanks for the feedback.

The main issue I am having is the ion-card not displaying until inner components are loaded. Preloading the components upfront does help but wouldn't it be preferable to not prevent the card from rendering while inner components are hydrated/loading?  I use ion-cards in previous screens so it's already loaded. Or does the whole card/list become the lazy hydrated bundle yo

[2022-07-18 20:06] sean-perkins opened #25652 "bug: Cannot assign ref to IonNav"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-18 21:12] hellokingdom opened #25654 "bug:"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-18 22:21] milang commented on #24002
@sean-perkins the transitions in development build `6.1.15-dev.11658162113.1784b217` work great for me, thank you.

One last observation: while the hot reload works as expected in this development build (no blank screen, no off-by-one immediately visible issue), I noticed that hot reloading seems to get `<IonNav>` component into a strange mode. I captured this in the following screencast:

1. At 0

[2022-07-19 10:22] Somasekhar1712 commented on #25636
Try it with typescript@^4 @liamdebeasi

[2022-07-19 12:58] EinfachHans commented on #25641
Duplicate of #24631 i guess? 😊

[2022-07-19 13:48] #25641 closed

[2022-07-19 14:14] amandaejohnston commented on #25567
This issue is being closed due to lack of a sufficient reproduction. If this is still a problem on the latest version of Ionic, please create a new issue and ensure the template is fully filled out. Thank you!

[2022-07-19 14:14] #25567 closed

[2022-07-20 05:34] zhellDarwin commented on #25340
@liamdebeasi any updates on this feature request?

[2022-07-20 06:41] cyrilfr commented on #21769
any news about this feature?

[2022-07-20 11:20] EinfachHans opened #25657 "feat: add toast click handler"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already include this feature request, w

[2022-07-20 14:10] hellokingdom commented on #25654
I added one to original ticket. Due to the ratio / format it appears to have added it as a YouTube Short:

Link here https://youtube.com/shorts/kmFS665CqoQ

Notice how the scroll bars appear during the animation into the page.

[2022-07-20 14:18] EinfachHans commented on #25657
For example in the github app, when you "done" a notification: You get the same toast that i described in use case 1 - a "undo" toast, where you can click on an undo the notification marking. 🤔

Also it's not really a requiring of a user interaction, it's more of adding a functionality **if** the user clicks on it

[2022-07-20 14:20] liamdebeasi commented on #25657
Thanks. Why does adding a button not work in this case?

[2022-07-20 14:27] EinfachHans commented on #25657
Adding a button kinda "would work", but if we take the undo toast as an example: Normally i would have a text like "undo" and the click function to the whole toast. If we add a button to it, what would be the solution? "undo" in the text and another "undo" in the button? No text - only a button? Both are not really nice options imo. 🤔

I think there are use cases where buttons are great, but if yo

[2022-07-20 14:43] liamdebeasi commented on #25657
Thanks, that makes sense. I think there is a way we can support this with just a button. The `message` prop is optional, yet the message container is still rendered. If we do not render the message container if it is not set (and make a few smaller tweaks), we should be able to get the desired result. A few things we need to adjust here:

1. Do not render `.toast-content` if the message is not set

[2022-07-20 14:46] EinfachHans commented on #25657
Wouldn't it be easier then to just add a click handler? 🤔 This would also give the advantage that it would work with header and message for example

[2022-07-20 14:47] liamdebeasi commented on #25657
The wrapper element itself is not a button, so it should not be clickable.

[2022-07-20 19:45] sean-perkins commented on #25590
Ok I have been able to diagnose the root issue and have a better understanding of the work effort to resolve it.

The `IonModal` implementation in React does not have a framework delegate configured. This results in us manually removing the element from the DOM, instead of relying on React to re-render and remove both the React component and the element from the DOM.

Fortunately, my recent work w

[2022-07-20 20:18] sean-perkins commented on #25590
Here is a dev-build to test with: `6.1.16-dev.11658348035.18300f08`. Let me know your results. I verified both individual use cases reported in this thread.

[2022-07-20 22:07] aparajita commented on #25575
Hey @sean-perkins, any idea when this will land? Didn't make it into 6.1.15.

[2022-07-20 23:32] sean-perkins commented on #25575
@aparajita tentatively in the next patch release (we aim for weekly releases).

[2022-07-21 00:37] benallfree opened #25664 "bug: Ionic React page transitions not working with history.push"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-21 12:14] JohnGeorgiadis commented on #25590
@sean-perkins  it works now as in v5. Overlay shadow is a bit weird for me, but I need to check that I did everything from the migration guide. Thanks!

[2022-07-21 13:45] liamdebeasi commented on #25664
Thanks for the issue. Are you referring to the Material Design (MD) vs. iOS transitions? When running in MD mode, the pages fade/transition in from bottom to top. On iOS they slide in from side to side.

[2022-07-21 13:46] liamdebeasi commented on #25588
Thanks for the issue! This issue is being closed due to the lack of a code reproduction. If this is still an issue with the latest version of Ionic, please create a new issue and ensure the template is fully filled out.

The separate issue mentioned in https://github.com/ionic-team/ionic-framework/issues/25588#issuecomment-1178192415 has been resolved in Ionic 6.1.14.

Thank you for using Ionic!

[2022-07-21 13:46] #25588 closed

[2022-07-21 14:12] benallfree commented on #25664
Ah, that was it. It seems the browser defaults to android then?

For anyone else who finds their way here, using `?ionic-mode=ios` or `?ionic:mode=android` on the querystring will change the transition styles.

@liamdebeasi Is there anywhere this behavior is documented? I'm hitting some friction with API docs having limited examples in React, particularly the demos. I'd be glad to help with this s

[2022-07-21 14:14] liamdebeasi commented on #25664
Yes, the browser defaults to Material Design mode. You can also set the mode using the global config: https://ionicframework.com/docs/react/config#config-options

[code]

[2022-07-21 14:24] sean-perkins commented on #25590
@JohnGeorgiadis can you provide an image or screencast of the before & after?

[2022-07-21 14:45] benallfree commented on #25664
Thank you for the help!

[2022-07-21 14:45] #25664 closed

[2022-07-21 15:34] derWebdesigner commented on #24631
+1 Is there a timing on this already? I don't want to sound "pushy" but a short feedback would help me a lot to know if I need to implement a workaround myself. Thank you so much for your great work and efforts dear @liamdebeasi

[2022-07-21 15:46] liamdebeasi commented on #24631
This feature is not in active development at the moment. When the feature has been added, we will close the issue and post a comment here.

[2022-07-21 16:37] derWebdesigner commented on #24631
@EinfachHans Did you try your directive? For me, this doesn't work when for example applying it to the ion-content or elements within the DOM in the modal.

[2022-07-21 17:17] praveeno commented on #25650
not raising a UI or functional bug, need a understanding, as not able to fingure out how to let use change year and month, as mentioned in screenshot, once i select month and year, and click okay, the popover close, but value is not updated in formGroup

[2022-07-21 17:57] Fooweb commented on #25590
Hi Sean,

Thank you for the update. I tried to install the dev build but it's not working, I'm sure I'm doing something wrong.

Can you or someone help me with the command to update/install the dev build?

Thank you!

[2022-07-21 18:27] sean-perkins commented on #25590
@Fooweb You can install the specific dev-version for any package of Ionic, but since this issue is specific to `@ionic/react`, it would look like:

[code]

You may need to clear any local dev cache and restart your app after installing the dependency. Frameworks have gotten a lot more aggressive with caching vendor modules even across version installs.

[2022-07-21 18:56] Fooweb commented on #25590
Thanks! I knew I was doing something wrong.

So the error is now gone and the Modal dismisses as expected without error however presenting the Modal has now changed and not being presented at the topmost layer but rather within the component.

I'm attaching two videos of before (IonModal Error.mov) and with the dev build (IonModal Dev Build.mov).

IonModal Error.mov
https://user-images.githubuserc

[2022-07-21 19:41] Fooweb commented on #25590
Something also seems broken with the router as the pages are reloading when switching from one page to another.

[2022-07-21 20:11] sean-perkins commented on #25590
@Fooweb can you share how your modal mark-up is structured so that I can create a test case to compare against? For example, here is the draft PR with the test cases for the two scenarios previously described: https://github.com/ionic-team/ionic-framework/pull/25663/files#diff-035351ce7a818e005cd493963c04ddc980772952f61d3d6ea2d591b23f80a401

Also, was your application previously on v6 prior to usi

[2022-07-21 20:14] #25575 closed

[2022-07-21 20:31] eqcb commented on #25636
Sorry for late answer, I created that page I needed manually but had a new one to create so I tried deleting node_module/package-lock and it worked!
Thanks!

[2022-07-21 21:15] liamdebeasi opened #25668 "feat: datetime multiple select needs a label on how many dates are selected"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-21 22:47] philmmoore commented on #25213
Hey @liamdebeasi do you have an idea of when this issue might get worked on again, it's really preventing me from creating tabbed applications with nested routes.

Cheers

[2022-07-22 08:53] JohnGeorgiadis commented on #25590
@sean-perkins  so I tested it a bit more and I found some issues.

**Routing**: is not working on mobile (I was testing web desktop version before).
 ` "react-router": "^5.2.0", "react-router-dom": "^5.2.0",` .
 I am being redirected to the default route every time I am trying to access any route. I also tried to install `v6.3.0` but I guess it's not supported by ionic yet.

Modal on **v5**
<img w

[2022-07-22 09:28] I-am-abdulazeez opened #25670 "feat: IonIcon component should support 3rd party Icons like react-icons -- IonicReact"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already include this feature request, w

[2022-07-22 12:23] #25636 closed

[2022-07-22 14:41] diogomgbrito commented on #23981
Hey @liamdebeasi any date update on the release of the feature?

[2022-07-22 14:52] mirko77 commented on #23981
Given the limitations of the current implementation, we ended up using the Wheel Selector Plugin https://ionicframework.com/docs/native/wheel-selector

[2022-07-22 16:40] sean-perkins commented on #25670
@I-am-abdulazeez `IonIcon` does support 3rd party SVGs to be used with the component. We do not support passing a React component as an SVG however.

Can you explain why you would need `IonIcon` to do this? It would create additional overhead in your application vs. using their component directly.

[2022-07-22 17:00] indraraj26 opened #25671 "bug(angular): swiper with *ngIf condition on ion-content"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-23 01:35] farisfaisalthena opened #25672 "feat: new calendar component"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already include this feature request, w

[2022-07-23 13:48] Tommertom commented on #22345
See comment by Rich Harris on integration of Ionic with SvelteKIT (not svelte) -  https://github.com/sveltejs/kit/issues/5143
Would we need to raise on "hydration" support by Ionic?

[2022-07-23 14:14] florian72810 opened #25673 "bug: ionBlur emitted on focus after scroll assist"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-24 09:36] stasdre commented on #25573
Thanks. It's really work after added `setupIonicReact` in our UI lib. Thank you fore help!

[2022-07-24 17:34] I-am-abdulazeez commented on #25670
Hi @sean-perkins , thanks for your reply.

I created an array of objects for my `sidemenu component`, and `i` was hoping to mix both `Ionicons` and react-icons together because some icons i need does not exist in `ionicons` and it exist in react-icons. That is my reason.

Thanks.

[2022-07-25 03:52] paulosllvn opened #25674 "Ion-back-button does not respect tabs. It simply brings you back to the root tab."
**Ionic version:**
5

**I'm submitting a ...**
 bug report

**Current behavior:**
- ion-back-button does not respect tabs. Going back simply goes to the root tab.

**Expected behavior:**
Pressing back on a view, should bring me back to the tab where the route chaining originated.

**Steps to reproduce:**
Have multiple tabs, try pressing back from another view.

[2022-07-25 08:13] MarianDabrowski commented on #22345
@Tommertom thanks for asking!
First of all I must say that ionic has big problems with SSR/SSG [#25100](https://github.com/ionic-team/ionic-framework/issues/25100). I do not see any easy way to combine Ionic with any SSR/SSG solutions until this issue is resolved.
You have suggested "hydration" support and that is 100% correct.

[2022-07-25 09:22] Tommertom commented on #22345
Thx @MarianDabrowski for the reference to the issue you raised as well as good to see there has been some investigation going on

Now this really excites me to work on some workaround - if it is monkey patching node-modules until it has been resolved

Of the two issues mentioned in the last post, I believe point 1 can be monkey patched or even I can create my own initialise function. Point two - i

[2022-07-25 13:04] hellokingdom commented on #25654
@liamdebeasi to follow up you can see a discussion re how to hide scrollbars here. Whilst they are most likely discussing the web implementation one of the suggestions does 'fix' the issue tho it's something of a hack.

https://forum.ionicframework.com/t/ionic-5-hide-scrollbar-on-ion-content/188570

`ion-content {
  width: calc(100% + 15px);
}
ion-content::part(scroll) {
  padding-right: 15px;
}`

[2022-07-25 13:17] DwieDima opened #25675 "bug(nav): ionViewDidEnter trigger twice"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-25 16:17] sean-perkins commented on #25672
@farisfaisalthena thanks for this feature request. Selecting a range of dates within the date/calendar picker is a duplicate of #23572. I am going to close out this feature request and you can follow the status of the feature there.

Thanks!

[2022-07-25 16:17] #25672 closed

[2022-07-25 16:28] #25670 closed

[2022-07-25 16:30] sean-perkins commented on #25674
@paulosllvn maintenance for v5 ended on [June 8th, 2022](https://ionicframework.com/docs/reference/support). Please let me know if you are an enterprise customer who has purchased extended support.

Otherwise, I recommend upgrading to v6 and providing a reproduction so that we can resolve this, if it is an active issue, in the latest version of Ionic.

[2022-07-25 16:41] sean-perkins commented on #25673
@florian72810 thanks for reporting this issue. I am able to reproduce when emulating in browser with an iPhone SE emulation. It does not happen consistently, but occasionally the blur event will be fired when the input is focused (while scrolling into view).

We will track this as a bug.

[2022-07-25 17:18] DwieDima commented on #24198
is there any workaround right now to attach ion-modal to specific element?

[2022-07-25 18:10] sean-perkins commented on #25671
@indraraj26 thanks for reporting this issue. I am able to reproduce, but am unsure where exactly the problem is at the moment. When reproducing with a vanilla web component using shadow DOM + a slot, the issue does not occur.

This could be a problem with Stencil and the hydrated bundle. I will need to create a new project with Stencil and a simple component to confirm.

I'm assigning myself so th

[2022-07-25 18:13] #25637 closed

[2022-07-25 18:58] sean-perkins commented on #25675
@DwieDima thanks for this issue. I've confirmed that the PR you have tag as being related, does not have an impact on this behavior.

We will log this as a bug and prioritize in the backlog. Thanks!

[2022-07-25 20:52] amandaejohnston commented on #25604
This issue is being closed due to lack of a reproduction. If this is still a problem in the latest version of Ionic, please open a new issue and ensure the template is fully filled out. Thank you!

[2022-07-25 20:52] #25604 closed

[2022-07-25 20:53] amandaejohnston commented on #25606
This issue is being closed due to insufficient reproduction. If this is still a problem in the latest version of Ionic, please open a new issue and ensure the template is fully filled out. Thank you!

[2022-07-25 20:54] #25606 closed

[2022-07-25 20:54] amandaejohnston commented on #25607
This issue is being closed due to lack of a reproduction. If this is still a problem in the latest version of Ionic, please open a new issue and ensure the template is fully filled out. Thank you!

[2022-07-25 20:54] #25607 closed

[2022-07-26 03:04] thomasyu929 opened #25676 "bug: No Internet cause Ionic App freeze"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-26 08:36] EinfachHans opened #25677 "bug: navigation inside of ion nav is buggy"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-26 08:52] mannok opened #25678 "bug: Unexpected ion-back-button in ion-tabs"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-26 13:01] amandaejohnston commented on #25615
This issue is being closed due to lack of a reproduction. If this is still a problem in the latest version of Ionic, please open a new issue and ensure the template is fully filled out. Thank you!

[2022-07-26 13:01] #25615 closed

[2022-07-26 14:37] indraraj26 commented on #25676
Looks like similar issue https://github.com/angular/angular/issues/46636

[2022-07-26 14:59] #25673 closed

[2022-07-26 18:03] liamdebeasi commented on #25573
Glad the issue is resolved! I am going to close this.

[2022-07-26 18:03] #25573 closed

[2022-07-26 19:32] sean-perkins commented on #25671
Ok I have been able to diagnose that it isn't an issue with a new Stencil project. We will classify this as a bug and create a spike to investigate what `ion-content` is doing that is impacting this behavior.

[2022-07-26 20:30] liamdebeasi commented on #24674
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/25514, and this feature should be available in an upcoming minor release of Ionic.

[2022-07-26 20:30] #24674 closed

[2022-07-26 20:30] liamdebeasi commented on #16279
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/25389, and this feature will be available in an upcoming minor release of Ionic.

[2022-07-26 20:30] #16279 closed

[2022-07-27 05:15] ShubhamKhatri2 opened #25679 "feat: We need Data Table as component"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already include this feature request, w

[2022-07-27 06:54] MarianDabrowski commented on #22345
Regarding 1:
I am not an expert, so I cannot give any advice.
Regarding 2:
I have not verified if it works well with other SSR/SSG tools. I guess it may help if I provide a Gatsby or Nuxt example.
I will inform my when i have any more examples but Nextjs

[2022-07-27 10:14] gentooza opened #25680 "bug: alertController not showing up"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-27 15:12] #24069 closed

[2022-07-27 15:12] #20524 closed

[2022-07-27 15:12] #24348 closed

[2022-07-27 15:12] #24316 closed

[2022-07-27 15:47] liamdebeasi commented on #25679
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic-framework/issues/17629.

[2022-07-27 15:47] #25679 closed

[2022-07-27 15:53] #25680 closed

[2022-07-27 15:58] liamdebeasi commented on #25678
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic-framework/issues/25213. The behavior that is detailed on the linked issue is slightly different, but the underlying bug that is causing these two issues is the same.

[2022-07-27 15:58] #25678 closed

[2022-07-27 15:59] #24793 closed

[2022-07-27 16:02] liamdebeasi commented on #24793
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/24205 and a fix will be available in an upcoming release of Ionic.

[2022-07-27 16:02] liamdebeasi commented on #21242
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/24205 and a fix will be available in an upcoming release of Ionic.

[2022-07-27 16:02] #21242 closed

[2022-07-27 16:04] liamdebeasi commented on #24348
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/25598 and the feature will be available in an upcoming release of Ionic.

[2022-07-27 16:04] liamdebeasi commented on #20524
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/25459 and the feature will be available in an upcoming release of Ionic.

[2022-07-27 16:05] sachingarg05 commented on #24348
Thanks 👍

[2022-07-27 18:40] gentooza commented on #25680
wow, thanks a lot!

that was driving me crazy

sorry also for the waste of time, I had just upgraded angular and I felt insecure.

cheers!

[2022-07-27 19:01] liamdebeasi commented on #24316
Thanks for the issue. In the next minor release of Ionic, we will be introducing a component called `ion-datetime-button` which will make it easy to display a datetime in a modal or popover. By using this component, the overlay will be sized automatically.

Below is a demo of the new component:

https://user-images.githubusercontent.com/2721089/181106478-a960e376-ca3b-47ff-be2d-cc17587d2300.mp4

T

[2022-07-27 19:03] liamdebeasi commented on #23981
This was release as part of Ionic 6.2.0 earlier today: https://ionicframework.com/docs/api/datetime#wheel-style-pickers

[2022-07-27 19:13] dftd commented on #24316
Great, thank you! This will finally force me to upgrade the rest of my projects to Ionic 6. Didn't want to bother with the datetime before. :)

[2022-07-27 19:15] liamdebeasi commented on #24316
Great! Let me know if you run into any issues with the migration.

[2022-07-27 19:29] milang commented on #24002
@sean-perkins I tried upgrading the `IonNav` prototype to the latest [Ionic 6.2.0 release](https://github.com/ionic-team/ionic-framework/releases/tag/v6.2.0), but the transition animations seem to be broken in iOS mode, and not applied at all in Android mode. The behaviour is identical in both React 17 and 18.

(Prototype available in https://github.com/milang/ionic-simplevitejs, branches `recursi

[2022-07-27 19:39] sean-perkins commented on #24002
@milang thanks for the heads up, will take a look now 👍

[2022-07-27 19:41] jongbonga commented on #23981
Thank you @liamdebeasi

[2022-07-27 20:03] sean-perkins commented on #25677
@EinfachHans thanks for reporting this issue!

This appears to work in `6.1.14`, but broke in `6.1.15`. We will classify this as a bug and figure out what caused the regression.

[2022-07-27 20:09] sean-perkins commented on #25677
@EinfachHans If you update your example template for `modal.component.html` to:

[code]

This will solve the problem in your project. The change to support custom sized dialogs affects implementations of modal that don't use `ion-content`. Discussing with the team of the best options here. Ideally we would like to recommend developers use the template sample provided above when using `ion-nav` in

[2022-07-27 20:15] sean-perkins commented on #24002
@milang I've been able to diagnose the problem to 6.1.15 with our change to support custom sized dialogs. These styles are problematic:

[code]

I'm going to split out our conversation into a new issue to track this fix.

[2022-07-27 20:19] sean-perkins opened #25688 "bug: ion-nav transitions are broken in react"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-27 20:20] sean-perkins commented on #25688
cc: @milang for visibility.

[2022-07-27 21:01] diogomgbrito commented on #23981
Thank you @liamdebeasi !

[2022-07-27 22:58] liamdebeasi commented on #25688
Here is a dev build if anyone would like test the fix: `6.1.16-dev.11658962095.1f24647d`

[2022-07-27 22:58] liamdebeasi commented on #25677
Here is a dev build if you would like to test the fix: `6.1.16-dev.11658962095.1f24647d`

[2022-07-28 00:26] milang commented on #25688
@liamdebeasi @sean-perkins I can confirm that development build `6.1.16-dev.11658962095.1f24647d` works as expected in my environment. Thank you for the quick fix! I assume this fix should eventually be available in Ionic 6.2.1?

[2022-07-28 14:41] philkonick commented on #24631
It works perfectly for me, and on the ion-content in my component.

Make sure you've declared your directive in a common module, and imported that into your common components module too. It took a minute to get mine working as this was the first directive in the app so I didn't have some of the modules setup yet.

[2022-07-28 16:43] EinfachHans commented on #25677
Works, thank you! 😊

[2022-07-28 16:46] sean-perkins commented on #17248
Hello everyone 👋 doing some housekeeping here to get this feature request up to date. I will be updating the original poster's description to reflect my understanding of this feature request. Please let me know if that is inconsistent with your expectations or if you have additional requirements you would like to include.

The problem Ionic developers are facing is that the `ion-select` icon is cr

[2022-07-28 17:11] sean-perkins commented on #18765
I don't believe this is an issue with Ionic specifically. Ionic is assigning the object values you pass to component props, to the component class instance.

Typescript's `private` modifier is just syntax sugar that is removed when transpiled to JavaScript. When Ionic is assigning these values, there is no way to infer if they are private members of your class.

I would offer two recommendations h

[2022-07-28 17:11] #18765 closed

[2022-07-28 17:15] sean-perkins commented on #21831
Hello everyone 👋 this has been resolved in [6.2.0](https://github.com/ionic-team/ionic-framework/blob/main/CHANGELOG.md#620-2022-07-27). Please let me know if you run into any issues.

[2022-07-28 17:15] #21831 closed

[2022-07-28 17:22] sean-perkins commented on #23740
Hello 👋 we recently updated our documentation to explain best practices with routing with regards to tabs: https://ionicframework.com/docs/angular/navigation#switching-between-tabs

The specific use case reported here is a pattern that we do not recommend (navigating between tabs programmatically).

In your example recording, "Child Route" should be a child of the "Tab 1". Tab 1 should remain acti

[2022-07-28 17:22] #23740 closed

[2022-07-28 17:30] sean-perkins commented on #17090
Hello and thank you for this feature request!

Ionic now offers component playground examples for many of our components (more being released each sprint) and includes a Stackblitz environment for Javascript, Angular, React and Vue 🎉

These examples always use the latest released version of Ionic.

Here is an example for reference: https://ionicframework.com/docs/api/datetime#basic-usage

[2022-07-28 17:30] #17090 closed

[2022-07-28 17:33] sean-perkins commented on #17478
Thanks for this feature request! We do not plan to support components as directives in the Angular package. This is a less common practice and does not align with our examples/snippets/docs for usage.

Based on the age of this feature request, we do not see enough community interest to warrant supporting it.

Thanks again! I am going to close this feature request.

[2022-07-28 17:33] #17478 closed

[2022-07-28 18:00] sean-perkins commented on #18593
I've updated this issue with an up-to-date reproduction of the issue.

An alternative pattern to avoid this issue is to use `IonRouterOutlet` as a provider instead of `NavController`.

For example, in the `Item2Page1` component:

[code]

Results in the "Go to Page 1 Programmatically" button popping to the correct view.

My assessment of the issue is that `NavController` is not finding the correct

[2022-07-28 18:01] #25677 closed

[2022-07-28 18:01] #25688 closed

[2022-07-28 18:01] liamdebeasi commented on #25688
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/25689, and a fix will be available in an upcoming release of Ionic Framework.

[2022-07-28 18:01] liamdebeasi commented on #25677
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/25689, and a fix will be available in an upcoming release of Ionic Framework.

[2022-07-28 18:08] aparajita commented on #25508
No doubt haptics on iOS/iPhones are a lot more subtle. 😁

[2022-07-28 18:25] sean-perkins commented on #18593
Ok the problem is here: https://github.com/ionic-team/ionic-framework/blob/main/angular/src/directives/navigation/ion-router-outlet.ts#L311-L315

When navigating from a page outside the tabs outlet back into the outlet, `activateWith` is invoked twice for the router outlet.

- Setting the active outlet to the primary `ion-router-outlet`
- Setting the active outlet to the active tab's `ion-router-o

[2022-07-28 19:57] sean-perkins commented on #18593
If anyone would like to confirm with this dev-build: `6.2.1-dev.11659037685.1ddec1aa` I would appreciate it. I've verified against the upgraded reproduction.

[2022-07-28 20:32] #25602 closed

[2022-07-28 23:33] bkarv commented on #17090
Thank you so much this is a great a add on!

[2022-07-29 00:23] pjc2007 opened #25691 "feat: Make v6 datetime time section style-able"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already include this feature request, w

[2022-07-29 03:23] sean-perkins commented on #24442
Hello @natqe,

After revisiting this issue, I believe the root problem is the use of `!important`. If you remove that portion, the inline styles are applied correctly to the React component.

To change the background color of the page however, it would be better to use the following approach:
[code]

I am going to close this issue. Please let me know if you have questions or run into any issues wi

[2022-07-29 03:23] #24442 closed

[2022-07-29 06:45] 0xRenshaw opened #25692 "feat(ionLabel): Add prop to specify 'for' value"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already include this feature request, w

[2022-07-29 14:54] enriqueloz88 commented on #25449
Any news on this? @liamdebeasi

[2022-07-29 16:58] sean-perkins commented on #25590
Here is an updated dev-build to test with in the interim: `6.1.16-dev.11659112821.197cb2ec`.

Accounts for some incorrect unmounting behavior from the migration from class components to functional components.

[2022-07-29 17:21] pvo13 opened #25693 "bug: Incorrect time displayed after selection in Datetime"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-29 18:06] sean-perkins commented on #25693
@pvo13 thanks for reporting this issue! When formatting the text to be displayed, we are not accounting for the timezone offset that `toISOString()` performs.

Can you test with this dev-build and let me know if you run into any issues?
[code]

Thanks!

[2022-07-29 18:39] jdforsythe commented on #25183
Same. Only have `ngModel` and `min` set on the end time, which is set in a very common scenario to have a minimum date equal to the start date.

[code]

[code]

[2022-07-29 20:07] pvo13 commented on #25693
I tested it with 6.2.1-dev.11659121131.15481a1f

This build works fine, issue seems to be resolved here. Thank you!

[2022-07-29 20:12] sean-perkins commented on #25693
Thanks for confirming! I'm going to keep the issue open until a PR is added to fix this in main. The issue will auto close when it is released in an upcoming patch release.

[2022-07-30 15:19] JulienLecoq commented on #25326
The bug also affect simple ion-header (when you don't have a ion-header inside the ion-content).
The ion-header with the background and the border appears on transition and then quickly disappears whereas the background and border should just not appear at all.

[2022-07-31 06:58] indraraj26 opened #25695 "bug: click listener inside ion-radio-group ion-item trigger ionChange"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-31 07:51] indraraj26 opened #25696 "bug: click on ion-item will select below or upper ion-item"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-31 08:50] indraraj26 opened #25697 "bug: condition element on ion-item will not be clickable"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-31 09:35] pvo13 opened #25698 "bug: DateTime component modifies timezone"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-07-31 12:46] pvo13 commented on #25698
Oh sorry, this is a duplicate of #25577

[2022-08-01 01:22] Nevvulo commented on #18071
I know this is fairly old so apologies for bumping, but this is still an issue when testing with `@ionic/react` v6.1.9, are there any plans for Ionic to support better behaviour when there's an infinite list with not enough elements to initiate scrolling? I agree with the OP's expected behaviour, I'd also expect `ionInfinite` to fire more than once if there are more items available

[2022-08-01 02:09] below43 commented on #23981
Thanks for this @liamdebeasi

[2022-08-01 03:35] sean-perkins commented on #25652
This issue has been resolved and will be available in the next patch release of Ionic (6.2.1).

[2022-08-01 03:35] #25652 closed

[2022-08-01 13:10] liamdebeasi commented on #25698
Thanks for the report! Yep, looks like this is the same as https://github.com/ionic-team/ionic-framework/issues/25577. I am going to merge the two.

[2022-08-01 13:10] #25698 closed

[2022-08-01 13:11] liamdebeasi commented on #25692
Thanks for the issue. We have an alternative proposal here which should accomplish the same goal: https://github.com/ionic-team/ionic-framework/discussions/25661

Can you give this a look and let me know if it works for your use case?

[2022-08-01 13:22] liamdebeasi commented on #25695
Thanks for the issue. Things seem to be working as intended here. Inside of `ion-radio-group` you have an `ion-input`. When the plus or minus buttons are clicked, the `value` property on `ion-input` changes. This causes `ion-input` to dispatch an `ionChange` event. That event then bubbles up to the `ion-radio-group`, causing the `onRadioValueChanged` handler to fire.

In terms of fixing this, you

[2022-08-01 13:37] liamdebeasi commented on #25696
Thanks for the issue. What browser are you testing this on? I am only able to reproduce this on desktop Chrome while in mobile emulation mode.

[2022-08-01 13:44] liamdebeasi commented on #25697
Thanks for the issue. This looks to be the same bug as https://github.com/ionic-team/ionic-framework/issues/23331. When `ion-item` is initially loaded, we check to see if there are multiple interactive elements inside of it: https://github.com/ionic-team/ionic-framework/blob/61e4ffe47f73034808b65ee37342f540ee5a6a97/core/src/components/item/item.tsx#L237-L257

This is done to ensure that each eleme

[2022-08-01 13:46] liamdebeasi commented on #25691
Thanks for the issue. Can you provide an example of how you are trying to style the picker? Understanding which pieces of the picker you are trying to style will help us expose the correct APIs.

[2022-08-01 13:52] liamdebeasi commented on #25650
Hey there,

The [Ionic Forum](https://forum.ionicframework.com/) is a better place to get help with Ionic. We use this tracker exclusively for bug reports or feature requests.

However, your questions seems to be related to https://github.com/ionic-team/ionic-framework/issues/25585. We do not preserve the date when selecting the month/year. As a result, the correct date is never set when confirmin

[2022-08-01 13:52] #25650 closed

[2022-08-01 13:53] liamdebeasi commented on #25651
Thanks for the issue! This issue is being closed due to the lack of a code reproduction. If this is still an issue with the latest version of Ionic, please create a new issue and ensure the template is fully filled out.

Thank you for using Ionic!

[2022-08-01 13:53] #25651 closed

[2022-08-01 13:57] JohnGeorgiadis commented on #25590
@sean-perkins  I installed the latest version of the package and I still have the same issues regarding routing and modal's placement.

Post.tsx
[code]
I will try to create a new app and add my logic.

[2022-08-01 14:10] fabbioamaral commented on #18734
@ionic/angular: 4.4.2 app here.

<ion-img> wasn't loading the first image present within ion-slides. It only showed after I interacted with the slides.
My solution was to replace <ion-img> for <img> tag, since <ion-img> uses lazy loading and in my case I needed to load few images.

[2022-08-01 14:59] indraraj26 commented on #25696
Hi Liam,

I did not test in desktop chrome and mobile.

You are correct this is happening in mobile emulation mode.

I will close this for now.

Thank you

[2022-08-01 14:59] #25696 closed

[2022-08-01 15:01] liamdebeasi commented on #25696
Sounds good. This appears to be an issue with how Chrome emulates touch events when using the developer tools. If you notice this happening on desktop or mobile Chrome (without any emulation) let us know, and I will be happy to take another look.

[2022-08-01 15:06] indraraj26 commented on #25695
Hi Liam,

`event.stopPropagation()` this works great.

Thank you.

[2022-08-01 18:01] amandaejohnston commented on #25359
Thanks for the issue! Apologies for the delay in responding. After investigation, I have found that the root problem here is the `any-hover: hover` CSS media query.

The duplicate active styling you're seeing after hitting the back button is actually the tab button's hover styling: https://github.com/ionic-team/ionic-framework/blob/86b7000bcd1b4519e8c20907050e15ba7c99bab0/core/src/components/tab-b

[2022-08-01 18:01] #25359 closed

[2022-08-01 18:20] amandaejohnston commented on #18570
Hi everyone, and thanks for the issue! I can confirm that this is still a problem on the latest version of Ionic, and likely applies to all components that make use of the `@media (any-hover: hover)` query to apply hover styling. (For example, a similar issue was also spotted on the `ion-tab-button` component.)

The root cause, as some have rightfully pointed out, is that `@media (any-hover: hover

[2022-08-01 20:23] #25693 closed

[2022-08-01 20:32] sean-perkins opened #25700 "feat: Alert handler should support a Promise"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already include this feature request, w

[2022-08-01 20:54] sean-perkins commented on #21194
Hello everyone 👋 we have had some great contributions in the past towards this PR. After reviewing the proposed changes, I want to outline a few requirements so that if anyone is still interested, they can submit a PR and it can be reviewed quickly.

The proposed introduction for this feature is the following property:
[code]

It should accept a `string` of the form owner's `id`. It will query the

[2022-08-01 22:41] pjc2007 commented on #25691
So, in my case if I could style the following elements (highlighted).

![image](https://user-images.githubusercontent.com/10663978/182257465-b1fb9709-6e60-4fbc-9383-db767178bfa6.png)

Can see here that the unselected text is now visible

[2022-08-02 07:17] paulosllvn opened #25701 "bug: ionic cap run android -l opens android studio and fails to target the emulator. Same happens with iOS (x-code)"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-02 07:26] distante commented on #16455
manually attaching the source code is a pain in nx monorepos :/

[2022-08-02 08:22] lcorniglione commented on #25590
I can confirm that at least for me, the dev-build it's working correctly.

[2022-08-02 12:58] ntorrey commented on #25340
I came here to request this exact feature! I need to display multiple date ranges each with it's own color and styling (for example, I style the first/last dates of the range differently from the dates in the middle).

I currently use the Angular material datepicker for this feature (https://material.angular.io/components/datepicker/overview#datepicker-date-class). They utilize a "dateClass" metho

[2022-08-02 13:23] liamdebeasi commented on #25691
Thanks! The styling you want should be possible, though I do think our docs are lacking in guidance on how to do this.

Styling the time picker in datetime is a bit tricky because the time picker itself is rendered outside of `ion-datetime` so that it overlays the entire app. As a result, you need to target the `ion-popover` element which renders the wheel picker.

The relevant code looks somethin

[2022-08-02 13:32] liamdebeasi commented on #25701
Thanks for the issue. Ionic Framework manages the UI layer of your app and does not manage the native dependencies of your application. As a result, it is unlikely that this error is coming from Ionic Framework.

This could be an issue with the Ionic CLI or Capacitor, however I do notice that the Ionic CLI you have installed is very outdated. Can you try this again using the latest version of the

[2022-08-02 14:27] osca commented on #24683
This also happens when using the month back navigation without swipe. Reproducible with the datetime component the Ionic documentation with Safari Desktop Version 15.5 (17613.2.7.1.8):
https://ionicframework.com/docs/api/datetime#max-and-min-dates

[2022-08-02 18:23] sean-perkins commented on #25507
Hello @philjones88 can you test with this dev-build and let me know if you run into any issues?

[code]

The fix is across both `@ionic/react` and `@ionic/react-router`, so you will need to install that version of the dev-build for both packages.

Thanks!

[2022-08-02 21:26] liamdebeasi commented on #23289
Hi there,

We are proposing some changes to form components that seek to resolve this issue. We would love your feedback on these proposed changes! You can read more about the changes and leave comments here: https://github.com/ionic-team/ionic-framework/discussions/25660

[2022-08-02 21:26] liamdebeasi commented on #23213
Hi there,

We are proposing some changes to form components that seek to resolve this issue. We would love your feedback on these proposed changes! You can read more about the changes and leave comments here: https://github.com/ionic-team/ionic-framework/discussions/25660

[2022-08-02 21:27] liamdebeasi commented on #23331
Hi there,

We are proposing some changes to form components that seek to resolve this issue. We would love your feedback on these proposed changes! You can read more about the changes and leave comments here: https://github.com/ionic-team/ionic-framework/discussions/25661

[2022-08-02 21:27] liamdebeasi commented on #19084
Hi there,

We are proposing some changes to form components that seek to resolve this issue. We would love your feedback on these proposed changes! You can read more about the changes and leave comments here: https://github.com/ionic-team/ionic-framework/discussions/25661

[2022-08-02 21:27] liamdebeasi commented on #22736
Hi there,

We are proposing some changes to form components that seek to resolve this issue. We would love your feedback on these proposed changes! You can read more about the changes and leave comments here: https://github.com/ionic-team/ionic-framework/discussions/25661

[2022-08-02 21:27] liamdebeasi commented on #25273
Hi there,

We are proposing some changes to form components that seek to resolve this issue. We would love your feedback on these proposed changes! You can read more about the changes and leave comments here: https://github.com/ionic-team/ionic-framework/discussions/25661

[2022-08-02 21:28] liamdebeasi commented on #24312
Hi there,

We are proposing some changes to form components that seek to resolve this issue. We would love your feedback on these proposed changes! You can read more about the changes and leave comments here: https://github.com/ionic-team/ionic-framework/discussions/25661

[2022-08-03 07:06] snowwolfjay opened #25705 "bug: vue, incorrectly routes back when tab is undefined"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-03 07:55] mtrnik opened #25706 "bug:"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-03 10:05] philjones88 commented on #25507
@sean-perkins many thanks, those versions seem to perfectly fix the issue. The blank page is gone!

[2022-08-03 11:03] kharakAdhikari opened #25707 "bug:"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-03 11:48] daniel-zero opened #25708 "bug: date picker jumps to max date when navigating to next year"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-03 11:54] daniel-zero commented on #25708
One thing to note, there looks like there is an Angular 14 issue. Our app with the latest Ionic version and Angular 13 has no issues.

[2022-08-03 13:01] liamdebeasi commented on #25707
Thanks for the issue. With Ionic 6 the datetime is able to automatically localize the month names. As a result, `monthShortNames` is no longer needed. See https://ionicframework.com/docs/api/datetime#wheel-style-pickers for an example.

However, a limitation is that this only works for locales supported by the browser. We have an open feature request for adding locales not supported by the browser

[2022-08-03 13:03] #25706 closed

[2022-08-03 13:04] liamdebeasi commented on #25708
Thanks for the issue. Can you provide a minimal reproduction of the issue?

[2022-08-03 13:06] liamdebeasi commented on #25705
Thanks for the issue. Can you provide a minimal GitHub repo I can use to verify this behavior?

[2022-08-03 14:57] bbohach opened #25712 "feat: For the ion-select component, set max number of multiple elements that disables further selection"
**Ionic version:**

[ ] **4.x**
[x] **5.x**

**I'm submitting a ...**

[ ] bug report
[x] feature request

**Current behavior:**

Currently, you can enable multiple selection by setting multiple to true

**Expected behavior:**

Set multiple to a number, and that number is the max amount of elements that can be selected

**Related code:**

[code]

I think this would be a nice feature added on ion-s

[2022-08-03 16:56] sean-perkins commented on #25700
This feature is completed and will be available in 6.3.0. This feature request will auto close once it is merged and released. Thanks Hans for the assist!

[2022-08-03 20:33] #25507 closed

[2022-08-04 01:49] snowwolfjay commented on #25705
https://github.com/snowwolfjay/reproduction-ionic-25705

this is a minimal repo.

[2022-08-04 05:30] Fooweb commented on #25590
Hi Sean.

I'm still seeing the same behavior with the modal as with my previous post (illustrated by the videos). I will try and see if I can recreate my code in a new app and share it. Is there a preferred place to share the code? CodePen, CodeSandbox, StackBlitz...?

Thanks!

[2022-08-04 07:35] sagun-gautam opened #25714 "bug: datetime picker in ion-modal crashes on selecting 12 AM"
### Prerequisites

- [x] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-04 07:51] wendt88 opened #25715 "bug: no difference between ionChange and ionInput"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-04 13:30] liamdebeasi commented on #25715
Thanks for the issue. This is a behavior we are looking to change for Ionic 7. In short, we would like to make Ionic's `ionChange` event more like the `change` event for native `<input>` elements. We have an RFC with the proposed changes available at the following link if you are interested in providing feedback: https://github.com/ionic-team/ionic-framework/discussions/25532

I am going to merge

[2022-08-04 13:30] deving1995 commented on #25273
Thank you!

[2022-08-04 13:42] ntorrey commented on #25431
So it seems that this is a known issue in general with the way different browsers handle border rendering with different zoom levels, causing gaps between the borders of nested divs. I see this behavior both in chrome desktop and in chrome on android.
It looks like the problem is a result of bottom-border style duplication in the elements with `.item-native`, `.item-interactive`, and `.item-highli

[2022-08-04 13:46] liamdebeasi commented on #25714
Thanks for the issue. Bisect indicates this regressed with https://github.com/ionic-team/ionic-framework/pull/25514. I will look into a fix for this.

[2022-08-04 13:58] bbohach commented on #25712
Yes, that makes perfect sense to me!

Yeah, I can try. I'm trying to think of a standard use case, but one of my use cases is for selecting toppings on a pizza. We want to limit the amount of toppings on a pizza to 3, so when 3 toppings are selected we want to disable the user from selecting more options. Right now if they select more than 3, we're undoing their last selection and opening the ion-

[2022-08-04 14:26] liamdebeasi commented on #25714
Here is a dev build if you are interested in testing the fix:

[code]

Note: You may need to use this dev build locally in an Ionic starter app. I noticed some caching issues that caused dev builds to not install correctly on StackBlitz.

[2022-08-04 15:43] amandaejohnston commented on #25712
Thanks for the details 👍 Your examples make sense. I've talked this over some with the team, and one consideration brought up is the usability concern around an open `ion-select` not having much screen real estate. This makes it more likely that other options you've selected are off-screen, so it can be confusing when everything else suddenly becomes disabled. A select may not be the best choice f

[2022-08-04 17:16] sean-perkins opened #25717 "feat: Support element references for inline overlays using triggers"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already include this feature request, w

[2022-08-04 17:22] mepc36 commented on #25444
Hi, loving the package so far.

Any update on this issue? Has anyone found a workaround?

I tried a hacky solution of manually emitting an event (in @ionic/react 6) using a `ref`, but no luck.

Thanks!

[2022-08-04 19:00] Fooweb commented on #25590
@sean-perkins - Thank you for helping me through this! After sliming down the app to just using the modal, I found a bug in my own code which was causing the issue. I was conditionally rendering a component and attempting to update another component that hadn't been created yet. This is what was causing my issue. Thank you again for helping me through this!

[2022-08-04 21:42] ekrapfl opened #25719 "bug: caret color for inputs should only be applied on md mode"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-05 00:27] votala commented on #25367
I came up with this solution instead waiting on a fix. works on ios/android both modes
`segmentChanged(e){
   //<ion-segment (ionChange)="segmentChanged($event)">
    setTimeout(() => {
    const s=e.target.getBoundingClientRect();
    const sw=(s.right-s.left);
    for (const button of e.target.childNodes) {
        if (button.className.indexOf('segment-button-checked')>-1) {
          const bc=b

[2022-08-05 00:57] sagun-gautam commented on #25714
@liamdebeasi , the dev build worked without any issue.
Thanks.

[2022-08-05 09:48] robinmousley commented on #25568
I wish to add my support to this feature request.  Our app will be used in Madagascar.  The locale mg-mg is supported by Angular, but not, apparently by ionic.  So we can use date pipe to translate dates into Malagasy, but we cannot translate Month and Day names on the ion-datetime date picker.

[2022-08-05 10:43] elinake opened #25720 "bug: ion-item multiple-inputs does not work when inputs wrapped"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-05 12:12] BurkusCat opened #25721 "bug: ion-datepicker has haptic feedback"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-05 12:16] BurkusCat opened #25722 "bug: wheel picker month/day order should account for locale"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-05 12:29] BurkusCat opened #25723 "feat: datetime wheel picker type to enter month, day, and year"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already include this feature request, w

[2022-08-05 12:35] BurkusCat opened #25724 "bug: ion-datepicker [preferWheel] range only goes back 100 years"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-05 13:39] liamdebeasi commented on #25721
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic-framework/issues/25508.

[2022-08-05 13:39] #25721 closed

[2022-08-05 13:44] liamdebeasi commented on #25724
Thanks for the issue. This is the intended behavior and is mentioned in our documentation: https://ionicframework.com/docs/api/datetime#min

You can customize this by setting the `min` date in your application:

[code]

That being said, we do not recommend using date pickers for selecting birthdays due to the amount of scrolling/selection that it requires. (For context, even Google does not recomm

[2022-08-05 13:50] liamdebeasi commented on #25720
Thanks for the issue. We do not recommend using `ion-buttons` to wrap non `ion-button` elements, so I would not expect the examples you provided to work as expected.

That being said, there's definitely some incorrect behaviors when combining elements with form controls inside of `ion-item`. Here is one example: https://github.com/ionic-team/ionic-framework/issues/23331

We have a proposal up to c

[2022-08-05 13:54] BurkusCat commented on #25724
Thanks @liamdebeasi ! `min="01-01-1900"` did not work for me but `min="1900"` did.

RE: birthdays and datepickers. I think Google's advice only applies to the Calendar picker which is best for recent or near future dates. The spinner/wheel picker is a lot better for specific dates in the past.

[2022-08-05 13:54] #25724 closed

[2022-08-05 13:56] liamdebeasi commented on #25719
Thanks for the issue. It looks like this was added to try and match https://material.io/components/text-fields#usage. However, this probably should only show up in MD mode.

[2022-08-05 14:11] ekrapfl commented on #25719
That seems to make sense.  I didn't realize that MD does that now.  Can't say that I find it attractive, personally, but I'll settle for the caret remaining the text color in iOS mode ;)

Thanks for the quick response!

[2022-08-05 14:40] liamdebeasi commented on #25722
Thanks for the issue. Here is a dev build with a fix if you would like to test:

[code]

[2022-08-05 15:22] BurkusCat commented on #25722
Wow, that was fast! 🤯 Thank you @liamdebeasi it is looking great!

![image](https://user-images.githubusercontent.com/7528322/183108725-232e4c57-6423-4547-9cbd-0bfa5de8d926.png)

Initially, after installing the package it did not fix the issue. This is because the wrong package was installed into the `@ionic/angular` node modules. Is there a way to install these packages better in the future (I ju

[2022-08-05 15:27] liamdebeasi commented on #25722
It depends on the project setup. Installing `@ionic/angular@6.2.2-dev.11659710120.1586c47e` should also install `@ionic/core@6.2.2-dev.11659710120.1586c47e` unless you have `@ionic/core` explicitly installed (which apps generally should not have). The exception here is if you are using a StackBlitz starter app. There are some issues with version caching in non-web container setups that we are tryi

[2022-08-05 16:55] #25714 closed

[2022-08-05 16:55] liamdebeasi commented on #25714
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/25716, and a fix will be available in an upcoming release of Ionic Framework.

[2022-08-05 17:42] ansocha opened #25729 "bug: ion-content scroll not working"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-05 18:09] sean-perkins commented on #25729
@ansocha can you please provide a reproduction?

I am unable to reproduce with the information you have provided: https://stackblitz.com/edit/angular-ewr4yq
* Scroll events emit correctly
* IonContent scrolls to bottom programmatically

[2022-08-05 18:44] henkjurriens opened #25730 "feat: Emit event when datetime month changes"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already include this feature request, w

[2022-08-05 18:55] tetsuwanadam opened #25731 "bug: Android does not toggle between dark & light mode while app is open"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-05 19:06] liamdebeasi commented on #25731
Thanks for the issue. Ionic Framework does not manage switching between light and dark modes, so it is unlikely that this is an Ionic Framework bug. I see you are using Capacitor 4. Have you followed the DayNight migration steps on the Capacitor 4 update guide? https://capacitorjs.com/docs/updating/4-0#optional-use-a-daynight-theme

That should give you the light/dark mode behavior you are looking

[2022-08-05 19:07] liamdebeasi commented on #25730
Thanks for the issue. Can you help me understand what you are trying to build? In particular, why do you have a second month label when one is already displayed in the datetime component?

[2022-08-05 19:13] liamdebeasi commented on #25705
Can you try the following dev build and let me know if it resolves the issue?

[code]

[2022-08-05 19:45] henkjurriens commented on #25730
Hi Liam,

If you click on the title you can toggle to display or hide the datetime picker. So if you select the next month this should reflect in the title. See my little demo.

In my activities view I like to switch between a month view and a list view.

￼

Best wishes

Henk

[2022-08-05 19:47] henkjurriens commented on #25730
https://user-images.githubusercontent.com/211346/183150056-215c2c8b-a4ff-4508-bc69-4bd789c6f09b.mov

[2022-08-05 20:06] ansocha commented on #25729
Closing this. I reinstalled all packages. Started new project and it now works.

thank you

[2022-08-06 07:42] ohmycode commented on #25590
@Fooweb do you mean the fixes from the dev build are no longer necessary in your case?
I've upgraded my app from ionic-react 5 -> 6 and I'm getting exactly the same " Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node." error while live reloading during development when I update some code inside the Modal.

[2022-08-06 14:37] almaz1213 opened #25734 "bug: FileReader onloadend works on browser but not in mobile"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-06 14:43] vadimwe opened #25735 "bug: ion-datetime-button error"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-07 07:54] pjc2007 commented on #25691
Thankyou, yes this does what I am after!

[2022-08-07 08:01] pkunszt opened #25736 "bug: ion-datetime min="2022" attribute causes hangups in date presentation"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-07 10:09] pkunszt opened #25737 "bug: ion-datetime custom buttons styling does not work"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-07 15:13] msindev commented on #25735
I am facing the same issue.

[2022-08-07 16:34] indraraj26 opened #25738 "bug: ion-item is not clickable if there is any other element inside it"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-07 17:05] Tvde1 opened #25739 "bug: ion-modal is not prerendered"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-08 01:48] snowwolfjay commented on #25705
resolved, thank a lot

[2022-08-08 08:39] snowwolfjay commented on #25550
Hey, what's your solution then ...
--
I meet this too, just ignored and just use a fake input el inside form and when click it popup a fullscreen view with single input.

--
Dont know why the inpute providers not customize the keyboarder with landscape, it should split into two part, one left side and on right.

[2022-08-08 13:58] amandaejohnston commented on #25674
This issue is being closed due to lack of a reproduction. If this is still a problem in the latest version of Ionic 6, please create a new issue and ensure the template is fully filled out. Thank you!

[2022-08-08 13:59] amandaejohnston commented on #25729
Closing this out per the above, but let us know if you're able to reproduce the issue in a starter app and we'll take a look 👍

[2022-08-08 13:59] #25729 closed

[2022-08-08 14:34] crebuh commented on #25735
same issue

[2022-08-08 14:48] mastergogo opened #25740 "bug: disable ion-checkbox issue with screen reader - a11y"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-08 14:50] vadimwe commented on #25735
Actually It works, except errors in vscode IDE

[2022-08-08 14:52] crebuh commented on #25735
Yea I had to update from 6.1.9 to 6.2.1 now it works

[2022-08-08 14:54] vadimwe commented on #25735
There is also missing situation with no value provided (e.g. users should select without default set)

[2022-08-08 16:28] #25705 closed

[2022-08-08 16:28] liamdebeasi commented on #25705
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/25732, and a fix will be available in an upcoming release of Ionic Framework.

[2022-08-08 17:50] mischasigtermans commented on #23335
I'm having the same issues, but on Laravel with Livewire. Anyone that help with a javascript workaround?

[2022-08-08 18:47] #25722 closed

[2022-08-08 18:47] liamdebeasi commented on #25722
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/25726, and a fix will be available in an upcoming release of Ionic Framework.

[2022-08-08 19:02] sean-perkins commented on #25739
@Tvde1 thanks for this issue. Can you try with the `keepContentsMounted` option enabled and let me know if the problem persists?

e.g.:
[code]

[2022-08-08 19:07] Tvde1 commented on #25739
That did the job! I thought I tried it but apparently not. Thanks for the swift response!

[2022-08-08 19:07] #25739 closed

[2022-08-08 22:27] mepc36 commented on #25444
Since there's a special place in hell for devs who ask a question and then never post their answer on SOF, here's mine:

Basically, add a button that you programmatically click post-render, and hide said button:

[code]

[2022-08-09 06:23] elinake commented on #25720
@liamdebeasi Thanks for the links, I'll check them out. I also mentioned that the same issue applies also when I wrap the components in div, do you have a comment on that?

[2022-08-09 07:21] elinake commented on #25720
That change seems to be strictly for cases when you have only one functionality, ie. all items have label and radio button. However, my issue is with having multiple functionalities in the same item/row: label, then button and checkbox. If I have to continue using
[code]
Will the breaking elements of forms still exists in item?

[2022-08-09 13:14] sean-perkins commented on #25735
`ion-datetime-button` is a feature released in 6.2.0. It will not be available on any version < 6.2.0.

There is a known bug with datetime button and Angular (the original reported issue), where the component is not registered on the module. We have a PR merged to resolve that: https://github.com/ionic-team/ionic-framework/pull/25727.

A dev-build is available for that fix: `6.2.2-dev.11659713704.

[2022-08-09 13:18] sean-perkins commented on #25737
@pkunszt can you share a snippet of your styles?

When slotting custom content, that node is available in the light DOM. At that point, you can add a selector to the button directly and target that selector to style the experience.

Many of our components, including this, use shadow DOM to encapsulate the template. When shadow DOM is enabled, you cannot target any selector, unless exposed with a C

[2022-08-09 14:00] liamdebeasi commented on #25734
Thanks for the issue. Ionic Framework does not manage any native dependencies, so it is unlikely that Ionic is causing this issue. I am going to close this, but I recommend posting on the [Ionic Forums](https://forum.ionicframework.com/) for assistance with this issue.

[2022-08-09 14:00] #25734 closed

[2022-08-09 14:02] liamdebeasi commented on #25736
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic-framework/issues/25708.

[2022-08-09 14:02] #25736 closed

[2022-08-09 14:05] liamdebeasi commented on #25720
Multiple items will also be fixed with this. Specifically, we will be removing this logic: https://github.com/ionic-team/ionic-framework/blob/main/core/src/components/item/item.tsx#L237. This is the code that triggers the multiple interactive issue you are running into.

[2022-08-09 14:16] liamdebeasi commented on #25738
Thanks for the issue. Unfortunately, this is the intended behavior when using multiple interactive elements within a single `ion-item`. When there is only one interactive within the item, we can assume that clicking anywhere inside of the item should trigger that interactive.

When there are multiple interactives, we cannot make that same assumption. This has the side effect of no longer letting t

[2022-08-09 14:16] #25738 closed

[2022-08-09 14:18] amandaejohnston commented on #25676
This issue is being closed due to lack of a reproduction. If this is still a problem in the latest version of Ionic, please open a separate issue and ensure the template is fully filled out. Thank you!

[2022-08-09 14:18] #25676 closed

[2022-08-09 14:18] liamdebeasi commented on #25740
Thanks for the issue. I can confirm that this is a bug. It looks like this behavior was added in https://github.com/ionic-team/ionic-framework/commit/7214a8401b709e1353155304cf6e9f97b2b4d294. The behavior was added in order to account for iOS/VoiceOver.

[2022-08-09 14:20] liamdebeasi commented on #25730
Thanks for the additional information. Since the datetime collapses, would make more sense to display the selected date rather than the month that is being shown in the date picker? My concern here is that the "active" month is an implementation detail and should not be exposed to applications. In general, developers should only be concerned with the date/time value that the end user has confirmed

[2022-08-09 14:21] liamdebeasi commented on #25691
Great! I am going to close this for now as the issue appears to be resolved, but let me know if you have any other questions.

[2022-08-09 14:21] #25691 closed

[2022-08-09 15:26] almaz1213 commented on #25734
There is the same question in the Ionic Forums, but no answers. it seems to connected to zone.js of angular that includede in ionic. So, it's likely issue releted to ionic release. Please, check it more deep

[2022-08-09 15:35] almaz1213 opened #25743 "bug: FileReader onloadend works on browser but not in mobile"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-09 15:37] almaz1213 commented on #25743
it's happening after update ionic to 6.x. there was no that bug in ionic 5

[2022-08-09 15:40] almaz1213 commented on #25743
Image().onload also never is fired in ionic 6. i thick the same reasone as with FileReader!

[2022-08-09 17:33] liamdebeasi commented on #25730
Are you referring to the smaller calendar component in the sidebar?
![image](https://user-images.githubusercontent.com/2721089/183720811-56a41d76-103f-49e7-bcca-4c8d41b39dd3.png)

Or are you looking at the big scheduler in the main view?

[2022-08-09 17:34] liamdebeasi commented on #25730
If you are referring to the big scheduler in the main view, then `ion-datetime` is not the correct component to use here. You likely want to use a scheduler component instead of a date picker component. For example, MobiScroll has a scheduler component that is separate from its date picker component: https://mobiscroll.com/event-calendar-scheduler

[2022-08-09 17:40] henkjurriens commented on #25730
Mobiscroll  is not a solution for me. I thought an emit event was a quite general solution. But I'll think about another solution. Thanks so far.

[2022-08-09 17:43] liamdebeasi commented on #25730
While exposing the "active" month would be easy for us to implement, it would allow devs to tightly couple the state of their app to the internal state of an Ionic component which is not a practice we want to encourage. Is Mobiscroll not a solution due to the price? If so, there may be free alternatives.

[2022-08-09 17:52] henkjurriens commented on #25730
Thanks for your help!

[2022-08-09 19:26] indraraj26 commented on #25738
Thank you Liam.

So current workaround would be to listen ion-item click and check target then toggle the state of checkbox/radio. Is that correct?

[2022-08-09 19:37] almaz1213 commented on #25743
maybe it's happening when we update Gradle plugin, change jcentral() to mavenCentral() in capacitor plugins and update capacitor dependencies as android studio suggests. let me check more..

[2022-08-09 19:39] liamdebeasi commented on #25738
Yes, that should work here.

[2022-08-09 19:45] cg-roling opened #25745 "bug: <ion-input type="date"> completely freezes mobile safari when switching between two inputs"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-09 20:04] almaz1213 commented on #25743
deleted android dir and made: npx cap add android .

building in android studio:
[code]

[2022-08-09 20:15] almaz1213 commented on #25743
will try to migrate to capacitor 4

[2022-08-09 20:20] liamdebeasi commented on #25745
Thanks for the issue. Does this happen with the native text input `<input type="datetime-locale" />`?

[2022-08-09 20:22] liamdebeasi commented on #25735
Hi everyone,

This issue was resolved in https://github.com/ionic-team/ionic-framework/commit/76ad1d18c81272435db1994977aa9dd5d880504a, and the fix will be available in an upcoming release of Ionic. This fix is also available in the latest Ionic nightly for developers who wish to try the fix sooner: https://github.com/ionic-team/ionic-framework/releases/tag/v6.2.2-nightly.20220809

I am going to c

[2022-08-09 20:22] #25735 closed

[2022-08-09 20:23] liamdebeasi commented on #25730
No problem. I am going to close this for now, but let me know if you have any additional questions.

[2022-08-09 20:23] #25730 closed

[2022-08-09 22:55] almaz1213 commented on #25743
updated capacitor to version 4. it did not solve the issue. no problems in small differnet app. in the real whole app the same problem. probably some conflicts in zone.js of other involved node package...

[2022-08-09 23:52] #25743 closed

[2022-08-09 23:53] almaz1213 commented on #25743
need resolve zone.js version conflicts of involved npm packages

[2022-08-10 01:41] cg-roling commented on #25745
It does not happen with the native inputs. I actually put a couple of native inputs in the reproduction case to play with — it seems to be specifically when tapping another ion-input while the datepicker is up.

I did notice a behavior difference that might be relevant. Clicking between the native inputs, the datepicker popup gets **closed** when clicking on the next input, and you have to click *

[2022-08-10 08:11] akram-pi commented on #25675
The issue exists on V5.x as well

[2022-08-10 08:28] akram-pi commented on #25675
@DwieDima @sean-perkins I was able to fix the bug with this code:

[code]

[code]

BTW, smaller timeouts works!

[2022-08-10 08:32] kharakAdhikari commented on #25707
Thanks @liamdebeasi

[2022-08-10 11:56] #25720 closed

[2022-08-10 14:19] EinfachHans commented on #25675
just came across the same... Please fix 😃

[2022-08-10 19:02] liamdebeasi commented on #25707
No, we do not have that functionality. The goal of `ion-datetime` is to present a date selection interface using terminology that the end user is familiar with. In this case, we made the decision to render month names (January, February, March, etc). This also helps align the component with some native date pickers in iOS and Android.

[2022-08-10 19:23] liamdebeasi commented on #25745
Thanks for the additional info. There are a few things going on here.

1. When using `ion-input`, Ionic's scroll assist utility kicks in. This utility scrolls the content to ensure that the focused ion-input is not covered by the on screen keyboard. This logic seems to trigger a bug in Safari which results in the browser locking up. Fortunately, this particular bug is resolved in the iOS 16 develo

[2022-08-10 20:12] #25719 closed

[2022-08-10 20:13] liamdebeasi commented on #25719
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/25725, and a fix will be available in an upcoming release of Ionic Framework.

[2022-08-11 02:15] sean-perkins commented on #25495
Hello @WillooWisp!

Can you test with this dev-build and let me know if you run into any issues?
[code]

[2022-08-11 06:51] chvonrohr commented on #25730
We have the same feature request.
Our case: We have an appointment booking showing available timeslots by day. for that, we load timeslots for the full month and show when selecting a day (and only activating dates with timeslots.
So on "month-change" we would like to load timeslots for that month and update activate days in the calendar. can we workaround this atm somehow?

[2022-08-11 15:43] #25745 closed

[2022-08-11 20:03] luqasmateus opened #25752 "bug: datetime, ios, looping between months when minimum date is set"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-12 02:17] sagun-gautam commented on #25752
Faced the same issue in iOS today, set min date and click previous or next arrow for month navigation. Loops between current month and previous/next month.

[2022-08-12 05:00] daniel-menezes opened #25753 "bug: ion-nav does not remove component in DOM or update state correctly"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-12 05:22] ivinantony opened #25754 "feat: nested reorder option for ion-reorder"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already include this feature request, w

[2022-08-12 07:11] chvonrohr commented on #25730
I tried to come up with a workaround, but it's very annoying as that way, it's only possible to retrieve new month after a timeout (which is not fix with snap CSS):

[code]

[2022-08-12 12:00] realityfilter commented on #20150
This is still an issue with ionic 6. Has anybody a workaround?

[2022-08-12 12:08] raksakaindra opened #25755 "bug: Different color on ion-datetime when inside ion-modal and ion-content with scroll-y="false""
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-12 13:09] liamdebeasi commented on #25730
Another workaround that uses `MutationObserver`:

[code]

[2022-08-12 13:13] liamdebeasi commented on #25754
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic-framework/issues/23022.

[2022-08-12 13:13] #25754 closed

[2022-08-12 14:02] chvonrohr commented on #25730
@liamdebeasi thanks for that hint - also works for getting informed about the event (so replaces the click listeners).
Though, is it somehow possible to determine the new month? I tried from the mutation records, but it's a lot going on there. Maybe you - with "under the hood"-knowledge have some idea?

[2022-08-12 14:11] liamdebeasi commented on #25730
You can probably grab the information from the `.calendar-header` element. That should read something like "August 2022".

If you are looking for the raw numeric month, then you can get the `data-month` from one of the day elements inside of `.calendar-month`. Note that our months are one indexed unlike JS Date (example: month 8 is August not September)

[2022-08-12 14:19] chvonrohr commented on #25730
@liamdebeasi nice idea 😎
what I'm struggling a bit:

- taking from `.calendar-header` -> means converting text (possibly from different languages) to a date
- taking from `.calendar-month -> which one is active?

in both cases, I'd like to load data, before the animation is finished. otherwise its 500ms + network request...
any ideas? otherwise I'll try to investigate a bit.

[2022-08-12 14:21] liamdebeasi commented on #25730
We render 3 `.calendar-month` elements for performance reasons:

0th index: previous month
1st index: current/active month
2nd index: next month

As long as you grab the 1st indexed month element, you should be able to get the correct raw data.

[2022-08-12 14:28] liamdebeasi commented on #25708
The issue here is that when switching from Dec 2022 --> Jan 2023, the months column in the month/year picker changes from having data for August through December to having data for January through August. To preserve scrolling stability, the picker attempts to select the nearest item: https://github.com/ionic-team/ionic-framework/blob/main/core/src/components/picker-column-internal/picker-column-i

[2022-08-12 15:30] ciccilleju opened #25757 "[ion-datetime] / ionic 6.2.2 / capacitor 4 - weird flickering on ios"
Hello,
i’ve faced a weird issue using iOS (both on simulator and real device, Android and Web work fine)

If I open the datetime popover and i drag it from left to right for changing the current displayed month, it starts going back and forth from the current month to the next month (ex. august and september)

Here you can see the video.

[VIDEO](https://www.dropbox.com/s/vde64mt2vem5hqt/flickerin

[2022-08-12 15:32] chvonrohr commented on #25730
ok, so in this case we would again need to know from the event in which direction we are heading and be tedious to make this work also for the month dropdown selection.

I tried a few things with the mutation records. As they appear to be updated once they arrive in the mutator, I can search for the middle month. It's not too easy though and an output would be very welcome 😄.

So my solution for n

[2022-08-12 15:37] liamdebeasi commented on #25757
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic-framework/issues/25752.

[2022-08-12 15:37] #25757 closed

[2022-08-12 15:37] liamdebeasi commented on #25752
Thanks for the issue. I can reproduce this behavior. Let me take a closer look and see what is going on.

[2022-08-12 15:39] #25755 closed

[2022-08-12 15:39] liamdebeasi commented on #25755
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/25756, and a fix will be available in an upcoming release of Ionic Framework.

[2022-08-12 15:40] ciccilleju commented on #25757
thank you!

[2022-08-12 16:59] pkunszt commented on #25737
@sean-perkins thanks for the answer. I did not use any additional styles, just whatever ionic gives me out of the box.

[2022-08-12 17:43] #25707 closed

[2022-08-12 21:16] sean-perkins commented on #25590
Hello everyone, appreciate the collaboration here!

Here is an updated dev-build that I believe is our final draft: `6.2.3-dev.11660337759.18ea0f7e`. Please let me know if you run into any issues.

The only difference in behavior you should be seeing in this build, is that inline overlays that are not conditionally rendered, will be rendered within a div.

e.g.:
[code]

This should not have any ne

[2022-08-13 02:10] raksakaindra commented on #25755
@liamdebeasi Thanks and great job!

[2022-08-13 20:26] jaminm commented on #19324
This worked for me when I put a function call in the placeholder field.
`<ion-select v-model="price" :placeholder="showPlaceholderText()"> </ion-select>`

[2022-08-14 13:01] tattivitorino commented on #18132
having the same problem with angular.. after all this time.. :(((( i'm running a pwa
[code]
here's my input
[code]
even tried the this.inputCpf.setFocus() on ngAfterViewInit and nothing? :(((

[2022-08-14 13:11] tattivitorino commented on #18132
[updating] - it seems a bit odd, but as soon as i changed node version to 14.15 it worked.. i need node 14.18 for the firebase cli and 14.15 for ionic.. you've got to love nvm :)

[2022-08-15 06:09] ryaa opened #25759 "bug: ion-select popover does show the selected value in the opened popover"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-15 09:12] EinfachHans opened #25760 "bug: ios, unexpected reloads with safari and z-index"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-15 13:47] #25692 closed

[2022-08-15 14:15] DwieDima commented on #25760
I can confirm this issue in one of our apps, too.
I get this error when i updated to IOS 15.6, on IOS 15.4 everything worked as expected.

This is probably related to webkit, where they fixed some flickering issue when using overlapping z-index layers.
Strangely enough this fix causes flickering on my side. Before everything was good 😄😄.

![image](https://user-images.githubusercontent.com/26873275

[2022-08-15 16:36] liamdebeasi commented on #17284
Hey @peterpeterparker,

Thanks for opening an issue and apologies for the delay. The team is reviewing previously opened feature requests. Is this a feature you still need in Ionic? If so, do you have a use case for this feature?

[2022-08-15 16:45] liamdebeasi commented on #17279
Hi everyone,

There are multiple requests here, so I will provide an update for each one.

1. **There should be a way to disable the `ion-back-button` and have it be visually disabled.**
After discussing this with the team, this is not a pattern we are looking to encourage. Disabled back buttons are typically not done in native mobile apps. Additionally, disabling the back button has implications

[2022-08-15 16:45] #17279 closed

[2022-08-15 16:48] peterpeterparker commented on #17284
haha I don't even remember in which app I noticed this feature request 🤣. let's close it. If anyone needs this, feel free to comment for reopening.

[2022-08-15 16:48] #17284 closed

[2022-08-15 16:52] liamdebeasi commented on #17270
Hi everyone,

Thanks for the feedback and apologies for the delay. I discussed this with the team, and this is not a pattern we are looking to encourage with `ion-alert`.

Our concern here is this pattern does not match what native iOS and Android applications do. When presented with an alert, there is typically an explicit confirmation button that users need to press in order to confirm their sel

[2022-08-15 16:52] #17270 closed

[2022-08-15 17:05] liamdebeasi commented on #25700
Closing as it is completed via https://github.com/ionic-team/ionic-framework/pull/25702. Only PRs that get merged into the default branch cause issues to autoclose it seems.

[2022-08-15 17:05] #25700 closed

[2022-08-15 17:21] liamdebeasi commented on #25759
Thanks for the issue. The problem here is we reverse the order of the parameters when checking if the checkboxes are checked or not. As a result, `val1` is the string value and `val2` is the number value. You can fix this by converting both `val1` and `val2` to a number.

-----

However, this is something we should fix. When we rendering the selected text in the `ion-select` label, we pass in the

[2022-08-15 17:50] liamdebeasi commented on #25760
Thanks for the issue. I tested this on an iPhone 11 running iOS 15.6 and was unable to reproduce the issue. Here are the steps I followed.

1. Cloned repo.
2. Built app for iOS using Capacitor.
3. Ran app on iPhone 11 using iOS 15.6.
4. Tapped first item. Observed that I was able to go back.
5. Scrolled to bottom until no more items loaded.
6. Tapped the last item. Observed that I was able to go b

[2022-08-15 17:55] liamdebeasi commented on #25760
I changed the max number of items from 60 to 200 and now I can reproduce the issue. Let me take a closer look.

[2022-08-15 17:57] liamdebeasi commented on #25760
When transitioning to a new page, the webview memory spikes to over 1GB which is likely why the webview is restarting.

[2022-08-15 19:00] pedrumgolriz opened #25761 "bug: Ionic changes are not being captured in safari dev inspector"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-15 19:28] sean-perkins commented on #25447
Hello @andreaslarssen after further discovery, I do not believe this is an active bug in Ionic.

The root issue here, is you have two callers to dismiss the same overlay (recursively).

The first caller will resolve after the overlay is finished transitioning/dismissing (e.g. 300ms).

The second caller will resolve immediately, due to this check: https://github.com/ionic-team/ionic-framework/blob/

[2022-08-15 19:28] #25447 closed

[2022-08-15 19:44] liamdebeasi commented on #25760
This does appear to be a bug in WebKit. I file an issue with the team here: https://bugs.webkit.org/show_bug.cgi?id=243949

[2022-08-15 19:46] liamdebeasi commented on #25761
Thanks for the issue. Ionic Framework does not handle live reloads, so I am not sure this is a bug in Ionic.

Did this issue start with a particular Ionic or Capacitor version?

[2022-08-15 20:02] pedrumgolriz commented on #25761
As it turns out, this is not only happening during a live reload. If I refresh the page during a build the same issue occurs. I am unable to trigger breakpoints and the dom is unsearchable until dev tools is reopened

[2022-08-15 20:04] liamdebeasi commented on #25761
Is there a way I can reproduce this issue? A minimal GitHub repo that I can clone and run is best.

[2022-08-15 20:16] EinfachHans commented on #25760
@liamdebeasi amazing, that's what i thought and why i love Ionic 😅❤️ Thanks a lot so far

[2022-08-16 08:56] andreaslarssen commented on #25447
@sean-perkins Isn't the issue here that you can't trust the resolved dismiss() promise?

[2022-08-16 08:59] philjones88 commented on #25041
Hit this too, I'm nearly there with this more React'y approach, the initial value isn't set though as I suspect the `useEffect` fires too early for the `accordionGroupRef.current` to be populated:

[code]

[2022-08-16 12:09] sean-perkins commented on #25447
@andreaslarssen the `dismiss()` method is resolving correctly. It resolves under 3 conditions:
1. The overlay dismissed (transition completed, DOM node removed) - `returns true`
2. The overlay you are trying to dismiss, has already been dismissed (e.g. calling the `dismiss()` method on the same overlay while it is transitioning. This is to prevent duplicate/incorrect transitions). - `returns false

[2022-08-16 12:20] WillooWisp commented on #25495
@sean-perkins looks very promising so far!

[2022-08-16 12:42] kaunstdadenga opened #25762 "bug: iOS toolbar in component applies"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-16 13:01] e-kotsiuk commented on #20597
In case of Vue framework, adding key attribute to "ion-router-outlet" resolved it for me

` <ion-router-outlet
          id="main-content"
          :key="route.fullPath"

[2022-08-16 13:14] sean-perkins commented on #25753
Hello @daniel-menezes thanks for reporting this issue!

Can you test with this dev-build and let me know if you run into any issues?

[code]

[2022-08-16 13:57] sean-perkins commented on #25737
@pkunszt sorry I misunderstood your issue.

When displaying confirmation buttons, the alignment is driven by platform styles: https://ionicframework.com/docs/api/datetime#showing-confirmation-buttons

On iOS, the buttons are aligned with space between the buttons. On MD, the buttons are aligned to the end of the container.

This aligns with the spec behavior: https://material.io/components/date-pi

[2022-08-16 14:14] #25701 closed

[2022-08-16 14:52] waterplea commented on #24484
Any news on this issue?

[2022-08-16 16:03] liamdebeasi commented on #25759
Here is a dev build if you are interested in giving the fix a test:

[code]

Note: You may need to test this in a local Ionic application. StackBlitz has some issues with installing dev builds in non-Web Container instances.

[2022-08-16 16:41] puopg opened #25765 "bug: [React] <IonDatetime> Wheel UX blips when multiple wheels are finishing animation"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-16 18:22] #17560 closed

[2022-08-16 18:23] amandaejohnston commented on #17560
Thanks for the issue! The extra padding with both a `tab-bar` and an open keyboard have been resolved via https://github.com/ionic-team/ionic-framework/pull/25746 and the fix will be available in a future release of Ionic.

[2022-08-16 19:10] pedrumgolriz commented on #25761
This seems to be a bug with MacOS 12.4. Upgrading to 12.5 has fixed the issue.

[2022-08-16 19:10] #25761 closed

[2022-08-16 19:39] sean-perkins opened #25766 "bug: Whitespace stripped from certain CSS selectors in ionic.bundle.css"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-16 20:08] corysmc commented on #25590
Once I try to use `@ionic/react@6.2.3-dev.11660337759.18ea0f7e` downgrading to 6.2.2 router works fine.

Tapping on a navigation link, changes the URL, then refreshes the app back to the root url

The same thing happened when I downloaded the react conference app - and upgraded to this version of ionic/react.

[2022-08-16 20:09] liamdebeasi commented on #24415
Hi everyone,

This issue was was fixed in Ionic 6.0.4 but we missed closing out the issue. Please update your apps to the latest version of Ionic to receive this fix. Thanks!

[2022-08-16 20:09] #24415 closed

[2022-08-16 20:24] liamdebeasi commented on #24430
Hi everyone,

With Ionic 6.2 we released `ion-datetime-button` which makes it easy to present a datetime in a modal or popover that is correctly sized. As a result, I am going to close this as the requested behavior is now available.

Ionic 6.2 announcement blog: https://ionicframework.com/blog/announcing-ionic-v6-2/
Datetime Button docs: https://ionicframework.com/docs/api/datetime-button

For an

[2022-08-16 20:24] #24430 closed

[2022-08-16 20:36] liamdebeasi commented on #24477
Hi everyone,

I have some updates from the team. There are several concerns here, so I will address each one individually.

1. **The date picker looks odd in a form because it is so big.**

We did a couple things to make the default presentation look a bit better.
- We set a max-width of 350px on the calendar grid variant.
- We introduced the `size` property that lets developers make the datetime

[2022-08-16 20:36] #24477 closed

[2022-08-16 20:43] andreas-aeschlimann commented on #24477
Thank you @liamdebeasi and the team for this great effort. I appreciate it a lot and I am sorry that my original post seemed so negative.

[2022-08-16 20:47] liamdebeasi commented on #24477
No worries at all, we did not take it that way. A date picker is a hard component to get right, so we appreciate all the feedback.

[2022-08-16 23:14] corysmc commented on #25590
@sean-perkins I had the same routing issue with this build as @Fooweb  and @JohnGeorgiadis reported
but the issue I saw with routing was because I needed to install two dev versions to test:

`@ionic/react@6.2.3-dev.11660337759.18ea0f7e` and `@ionic/react-router@6.2.3-dev.11660337759.18ea0f7e`

This build is working much better - however there's still an edge case that I have a hack fix for. When

[2022-08-17 01:19] puopg opened #25770 "bug: Safari doesn't render wheel .picker-before and after gradients in IonDatetime when used inside of an IonModal"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-17 01:29] daniel-menezes commented on #25753
Hi @sean-perkins, thanks for the quick turnaround!

The dev build looks good for the navigating as well as updating the state!

One issue I still noticed was that when updating state within an `IonNav` component, the screen flashes on updates (the DOM seems to change too).

https://user-images.githubusercontent.com/61494082/185014264-41b0ceeb-0f26-45fc-b6e7-cb81bc01836b.mov

Whereas what it should

[2022-08-17 03:57] puopg commented on #25770
Doing a little more research this evening.

So I tried hard coding some inline styles into the before and after element. At first I applied the same styles that ionic is applying, but nothing happened. But applying rules that don't involve css variables, seems to work, since I just replaced all the css variables with like `red` haha.

[2022-08-17 04:04] puopg commented on #25770
Update:

So inline still has some issues I think, however, I've been seeing differences between:

[code]

and

[code]

Without any rgba, it works! So I wonder if theres some weirdness when the browser is rendering opacity?

[2022-08-17 04:26] puopg commented on #25770
Promoting the picker-before and after to their own stacking context also seems to work

[2022-08-17 08:00] JeetuChoudhary opened #25771 "<ion-reorder-group> not working for <ion-item-sliding> with <ion-item-options> In Ionic 6"
**Ionic version:**

[x] **6.x**

**I'm submitting a ...**

[x] bug report

**Current behavior:**

I have an ion-item sliding inside a reorder group. And reordering items is not working. It's not reordering some items and for some items, it is doing it wrong order.

**Expected behavior:**

It should reorder <ion-item-sliding> with <ion-item-options> correctly according to the drag and drop.

**Step

[2022-08-17 08:41] aktivdigital-frontend opened #25776 "bug: Setting ion-datetime value does not update selected day"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-17 11:02] ActNotSign opened #25772 "bug: back-button jump route"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-17 11:03] ActNotSign commented on #25772
`
  <ion-header collapse="fade">
      <div>
        <ion-toolbar class="login-toolbar">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="" class="icon-back-btn"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </div>
`

this's my code

[2022-08-17 14:14] liamdebeasi commented on #25770
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic-framework/issues/25755. A fix for this was released today as part of Ionic v6.2.3.

[2022-08-17 14:14] #25770 closed

[2022-08-17 14:18] amandaejohnston commented on #25771
Thanks for the issue. Could you post a link to a Github repo that reproduces the problem? I'm unable to reproduce on my end, so a full (minimal) app would help in diagnosing the issue.

[2022-08-17 16:37] puopg commented on #25770
@liamdebeasi

Confirmed, 6.2.3 fixes this:

New codesandbox:
https://codesandbox.io/s/ionic-6-long-press-item-list-forked-piuhi7?file=/package.json

I will note though, that seems if you declare in package.json

@ionic/react: "6.2.2"
@ionic/react-router: "^6.0.0" (which prolly grabs 6.2.3)

the issue also doesnt appear, which makes it seem like im using 6.2.2, but really the fix is coming in with

[2022-08-17 16:44] corysmc commented on #25590
@sean-perkins
Here's a video of the simple demo I put together based off of the ionic-react-conference app
This pattern (route based IonModal) worked in v5 - and I've been told this is a common pattern in a react app.

The IonModal is rendered via a route with `<IonModal isOpen>...`

[code]

https://github.com/corysmc/ionic-react-conference-app

Video:

https://user-images.githubusercontent.com/64

[2022-08-17 16:50] sean-perkins commented on #25590
@corysmc the behavior of the modal remaining presented when using back navigation appears to be an issue reproducible in `main` and is not isolated to the dev-build.

We will need to report that as a new issue, so it can be triaged and prioritized in our backlog.

If that is the only outstanding issue here, I believe the dev-build still resolves the original reported issue.

[2022-08-17 16:54] sean-perkins commented on #25766
This has been resolved in #25767 and will be available in the next patch release of Ionic.

[2022-08-17 16:54] #25766 closed

[2022-08-17 17:02] corysmc commented on #25590
Ah yep, you're right. I filed the original bug - and it does solve the filed issue - but still feels like an unpolished solution.

I'll file a new bug - thanks!

[2022-08-17 17:34] corysmc opened #25775 "bug: conditionally rendered modal via route doesn't close when navigating away"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-17 18:07] sean-perkins commented on #25776
@aktivdigital-frontend thanks for reporting this issue. I am seeing the same behavior as well.

The datetime has internal logic that requires the date be active & that we should highlight the day:
https://github.com/ionic-team/ionic-framework/blob/436a8ce50847d26f8fb63ce64ea85be6f5c0bc8e/core/src/components/datetime/datetime.tsx#L1927

`highlightActiveParts` is unfortunately never set when the val

[2022-08-17 18:11] liamdebeasi commented on #25775
Thanks for the issue. Are you able to provide a repo that contains only the minimum amount of code required to reproduce this issue? I am getting import errors when I try to run your app, possibly due to outdated dependencies.

[2022-08-17 19:25] puopg opened #25777 "feat: <IonDatetime> button position, or allow developers to control the datetime to require confirmation before triggering update"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already include this feature request, w

[2022-08-17 20:29] corysmc commented on #25775
Hmm that's interesting , maybe because I was using yarn instead of npm.
I was able to reproduce again by cloning to my other computer, running `npm install` and `npm start` - It did change my package-lock file - so I've committed those changes. Can you try again @liamdebeasi ?
Thanks

[2022-08-17 20:35] liamdebeasi commented on #25777
Thanks for the issue. One of the requirements of the datetime buttons is that they visually render within the datetime container so that it is clear that the buttons are associated with the datetime. Moving the buttons outside of the container risks creating a disconnect between the buttons and the datetime that the buttons control.

I think it might be better to create a custom component for this

[2022-08-17 20:48] corysmc commented on #25775
@liamdebeasi  - here's an even smaller repo: https://github.com/corysmc/test-route-modal

[2022-08-17 20:56] sean-perkins commented on #25753
Thanks @daniel-menezes! This will take a little extra discovery on my end.

Not initially sure why `ion-nav` or the inner mounted component would be re-rendered from a state update. The `IonNav` is a functional component proxy using React Portals for the inner components. It's possible the way that I am mounting the inner component is somehow driving this behavior.

[2022-08-17 21:47] corysmc opened #25778 "bug: ionic v6 no longer supports line breaks in the ion-toast component"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-17 22:23] liamdebeasi commented on #25778
Thanks for the issue. I am going to close this as this is not a bug in Ionic Framework. As noted in the [Ionic 6 breaking changes document](https://github.com/ionic-team/ionic-framework/blob/main/BREAKING.md#toast), the `--white-space` variable for `ion-toast` now defaults to `normal` instead of `pre-wrap`. This change was made to resolve https://github.com/ionic-team/ionic-framework/issues/21486.

[2022-08-17 22:23] #25778 closed

[2022-08-17 22:24] liamdebeasi commented on #25775
Thanks. While coupling modals with routing is not an anti-pattern and not something we encourage, conditionally rendering the modal should remove the underlying Web Component. Let me take a closer look and see why this is happening.

[2022-08-18 00:50] puopg commented on #25777
Yea thats pretty much what I did, but something that I ran into is when those buttons are clicked, there is a change event that is triggered and the value of which is `""`. Iono if its like a blur kinda thing, since I know I see a hidden input in the DOM inside of the ion-datetime?

Anyways, the way I worked around it is by just tracking changes that have a value, and then when I trigger my click,

[2022-08-18 01:01] daniel-menezes commented on #25753
Hi @sean-perkins, I think I may have figured this out - might have been an issue on my `NavComponent.tsx` was written.

Currently I had the `count` state inside the `NavComponent` instead of something like `PageOne` where it should be. I refactored out `PageOne` along with the state, and it looks like everything works! (can check out the latest push to this branch https://github.com/daniel-menezes

[2022-08-18 02:03] #25772 closed

[2022-08-18 02:04] sean-perkins commented on #25753
@daniel-menezes thanks for digging in further! Yes, the updated commit splitting out the `PageOne` & state update into a functional component is semantically correct. The prior example was causing a re-render of the parent and all children, leading to the flicker/re-renders.

I'll move that PR from draft to ready for review so the team can take a look 👍

[2022-08-18 02:05] ActNotSign commented on #25772
[](url)

[2022-08-18 06:24] daniel-menezes commented on #25753
Hi @sean-perkins I was having another go at this, and I'm not sure if it's the same issue or related to https://github.com/ionic-team/ionic-framework/pull/25603, but basically I am trying to lift the state up from `PageOne` to the `NavComponent`.

I want to do this so that one 'parent' component (`NavComponent`) has access to the states of children components `PageOne`, `PageTwo`, and `PageThree`,

[2022-08-18 09:50] waterplea commented on #19059
Why on earth is `handler` not used for other input types? What is the purpose of this omission and why in 3 years nothing has changed in that regard?

[2022-08-18 12:54] cg-roling commented on #25745
That's awesome, thanks!

[2022-08-18 13:39] WillooWisp opened #25779 "bug: Infinite scroll together with virtual scrolling does not keep scroll position where it should"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-18 14:11] infacto opened #25780 "bug: ion-refresher colors"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-18 14:31] ollydixon opened #25781 "Bug: Swipe back doesn't work on iOS"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-18 14:45] liamdebeasi commented on #25780
The refresher background should not be a step color here: https://github.com/ionic-team/ionic-framework/blob/436a8ce50847d26f8fb63ce64ea85be6f5c0bc8e/core/src/components/refresher/refresher.md.vars.scss#L16

When choosing step colors we should ensure that the step color aligns with the fallback. For example, the fallback is `#ffffff` but the default step color for 250 is `#bfbfbf` according to htt

[2022-08-18 14:49] liamdebeasi commented on #25777
It is hard to say where that is coming from without being able to reproduce the behavior myself. However, the hidden input is there so that the value of `ion-datetime` is submitted along with other form data.

You can read the value of `ion-datetime` by getting a reference to the element and accessing the `value` prop. That should give you the most flexibility in terms of when to emit a change eve

[2022-08-18 15:14] sean-perkins opened #25782 "bug: Refresher throws an exception in React/Vue on load"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-18 15:35] sean-perkins commented on #25782
Dev-build to resolve this issue: `6.2.4-dev.11660836281.1a11712b`.

You can also downgrade to 6.2.2 in the interim. This bug only effects 6.2.3.

[2022-08-18 16:08] #25712 closed

[2022-08-18 16:09] ollydixon commented on #25781
https://github.com/ollydixon/svelte-cap-testing

Look at package.json for the run commands.

Also, we don't want to use ionic components as it will be a website as well.

[2022-08-18 16:45] puopg commented on #25777
Awesome, I can close this feature request then, as reading the value prop, basically allows me to build whatever version of this that I need. Thanks!

[2022-08-18 16:45] #25777 closed

[2022-08-18 16:46] kaleming opened #25784 "bug: vue, inner tab lifecycle not firing on subsequent visits"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-18 17:16] liamdebeasi commented on #25784
Thanks for the issue. Can you double check your repo? I get the following errors:

[code]

[2022-08-18 18:08] kaleming commented on #25784
Hi @liamdebeasi, thanks for your reply.

In order to work properly, you should try on android emulator, since this example uses sqlite.

Here is a working example of v5:
https://github.com/Akaori/reproducible_example_ionic5

If it is not possible to test on emulator, just notify me, then I can try to use jeep-sqlite to make it work on browser.

[2022-08-18 18:12] liamdebeasi commented on #25784
Is the sqlite plugin required to reproduce the issue? If it is not, can you make a reproduction without that dependency? Being able to run the project directly in the browser will let me debug/identify the issue quickly.

[2022-08-18 18:18] corysmc commented on #25775
Thanks @liamdebeasi  - I really appreciate it! I totally agree about the anti-pattern. I'll see if we can make the change internally to use modals properly.

For reference here's another related issue
https://github.com/ionic-team/ionic-framework/issues/23567

[2022-08-18 18:41] corysmc commented on #25337
Repro
https://stackblitz.com/edit/angular-ueypjw?file=src%2Fmain.tsx

This is still occurring in react (not core)
1. Visit the docs https://ionicframework.com/docs/api/popover#side-and-alignment-demo
2. Click the "react" as framework in demo space
3. Click the Stackblitz link
4. Notice the bug below:

BUG
<img width="388" alt="image" src="https://user-images.githubusercontent.com/6452188/185465138

[2022-08-18 19:00] kaleming commented on #25784
@liamdebeasi I just fix the app v6 to work on browser.
Could you please try again cloning [this repo ](https://github.com/Akaori/reproducible_example_ionic6)and rebuild ?

If it works, I can made the same modifications on the working version.

[2022-08-18 19:29] ollydixon commented on #25781
@liamdebeasi I provided a basic app. Note that we are not using Ionic special elements as we don’t want to pollute the main web app.

[2022-08-18 19:43] liamdebeasi commented on #24120
Hey @julianpoy,

Apologies for the delay. I was able to take a closer look at this issue.

After debugging this a bit more, I think that this is a bug in `ngx-virtual-scroller`, not Ionic or Stencil. There was indeed a change in Ionic 5.4.2 that made this issue appear, but I believe that the Ionic change triggered a bug in `ngx-virtual-scroller` that was not being triggered prior to 5.4.2.

------

[2022-08-18 19:43] #24120 closed

[2022-08-18 19:48] liamdebeasi commented on #25781
I'm not sure I understand what the bug is here. Are you trying to use Ionic's swipe back gesture on `ion-router-outlet` or `ion-nav`? Or are you trying to use the swipe back gesture that is built into iOS?

[2022-08-18 19:57] ollydixon commented on #25781
@liamdebeasi we are not using "ion" components as we don't want to pollute the main web app as mentioned above. You asked for a reproduction so I provided one, if you run it and try to swipe back on the iOS emulator you can see that it doesn't work; that's the bug. Super basic functionality that doesn't work...

[2022-08-18 20:03] liamdebeasi commented on #25781
I think there may be a misunderstanding here. This is the repo for Ionic Framework, which is an optional UI toolkit that you can use with Capacitor. Your application does not use Ionic Framework, so this is not the correct repo for this bug report.

I think you may want the [Capacitor repo](https://github.com/ionic-team/capacitor) instead. However, I do know that Capacitor disables the swipe to go

[2022-08-18 20:06] ollydixon commented on #25781
@liamdebeasi aaaah great thanks

[2022-08-18 20:06] #25781 closed

[2022-08-18 20:28] liamdebeasi commented on #25784
Thanks! I am testing the v6 app, and `onIonViewWillEnter` does appear to be called after creating the form.

Here is what I see on my end:

https://user-images.githubusercontent.com/2721089/185488639-7ed1e793-9a7b-4610-baf1-1d78055c3ed1.mov

[2022-08-18 20:53] kaleming commented on #25784
Hi @liamdebeasi,

Using the repository v6, after the first record be filled, I start to get this behavior like in this video below:

https://user-images.githubusercontent.com/51836477/185492447-e44cdd0f-9524-46ba-a53c-defc237cd234.mp4

[2022-08-18 21:15] kaleming commented on #25784
On [ionic v5](https://github.com/Akaori/reproducible_example_ionic5), everything works well:

https://user-images.githubusercontent.com/51836477/185496370-17bee557-e1d6-4db3-a1c6-15e502580dc9.mp4

[2022-08-18 21:36] Steven0351 commented on #25781
@ollydixon you should be able to achieve what you want with an approach similar to this: https://github.com/ionic-team/capacitor/issues/1097#issuecomment-1077649377

[2022-08-18 22:22] liamdebeasi commented on #25784
Thanks, I can reproduce this behavior. Can you try the following dev build and let me know if it resolves the issue?

[code]

[2022-08-18 22:44] kaleming commented on #25784
Well done @liamdebeasi, it is working on both example-v6 and on my real app.

Thanks a lot for this quick fix!

[2022-08-18 22:47] dtarnawsky commented on #16455
In Capacitor 4.1.0 there is now an option that allows debugging the Android Web View in Chrome/Edge. You run:
`npx cap sync --inline`

The argument [--inline](https://capacitorjs.com/docs/cli/commands/sync) makes sure the source maps are inlined and you can use [chrome://inspect/](chrome://inspect/) or [edge://inspect/](edge://inspect/) to debug into your Typescript code (under the webpack:// tree

[2022-08-19 03:59] tirooo opened #25787 "bug: month/year picker is not closed when datetime is dismissed"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-19 04:56] sagun-gautam commented on #25752
@liamdebeasi with **ionic 6.2.3** this issue wont occur when navigating using the next arrow, but occurs when you touch swipe to next month from the month set in the min value.

[2022-08-19 11:16] ollydixon commented on #25781
@Steven0351 awesome thanks, I implement this with "svelte-navigator" but it doesn't seem to work; any ideas?

[2022-08-19 12:35] bawasaab opened #25788 "Request to re-use the ionic components for web app dashboards UI. Which have look and feel for website."
It there any plan to convert or made compatibility of ionic components to website look and feel along with ios and android.

[2022-08-19 13:58] liamdebeasi commented on #25788
Thanks for the issue. Can you please clarify the request? Are you looking to have Ionic components adapted for a desktop layout?

[2022-08-19 14:09] bawasaab commented on #25788
Yes am requesting to have a solution by which developer can use the same code and able to create a website which looks like web components not as ios or android components or you can extend the angular material components and made ionic as a super set of angular material components

[2022-08-19 14:43] liamdebeasi commented on #25788
Thanks for the clarification. Ionic Framework is a toolkit that primarily targets mobile/tablet layouts. Adapting all Ionic components for desktop layouts is not something we are looking to do at this time. However, we do make changes to improve the experience on desktop/larger screen layouts in areas such as keyboard and mouse, accessibility, and more.

I will say that our documentation could use

[2022-08-19 14:43] #25788 closed

[2022-08-19 14:44] liamdebeasi commented on #25787
Thanks for the issue. Here is a dev build with a proposed fix for the issue if you are interested in testing:

[code]

[2022-08-19 15:08] WillooWisp commented on #25495
@sean-perkins it works in browser on desktop, but not on actual Android device, all refresher are rendered completely black and not visible.

[2022-08-19 16:03] Steven0351 commented on #25781
@ollydixon Did you also follow the [documentation](https://capacitorjs.com/docs/ios/viewcontroller#edit-mainstoryboard) linked in that comment as well?

[2022-08-19 16:06] ollydixon commented on #25781
@Steven0351 yeah, I switched it too a custom view controller and added ```webView!.allowsBackForwardNavigationGestures = true```, all out of ideas now 🙈

[2022-08-19 16:18] Steven0351 commented on #25781
@ollydixon I was able to clone your [repo](https://github.com/ollydixon/svelte-cap-testing], make the necessary changes, and got backward and forward swiping to work (starts at about 6 seconds in):

https://user-images.githubusercontent.com/24440751/185662611-fd08d5ea-4f1b-4faa-bff0-b5104751cdea.mp4

Not sure if you're testing on a device or simulator, but the simulator is finicky and your mouse c

[2022-08-19 16:26] ollydixon commented on #25781
@Steven0351 Ah yes it was the simulator, thank you so much for your help!

[2022-08-19 17:42] Janaka-Steph opened #25790 "IonRefresher throws "TypeError: contentEl.componentOnReady is not a function""
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-19 18:05] liamdebeasi commented on #25790
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic-framework/issues/25782.

There is a dev build with a fix available in https://github.com/ionic-team/ionic-framework/issues/25782#issuecomment-1219641757.

[2022-08-19 18:05] #25790 closed

[2022-08-19 19:15] #25731 closed

[2022-08-20 03:41] JeetuChoudhary commented on #25771
@amandaejohnston thanks. I was able to resolved the issue

[2022-08-20 03:41] #25771 closed

[2022-08-20 06:44] rdlabo opened #25791 "bug: removed toolbar bottom padding if tab-bar[style="display: none"]"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-20 08:59] anthonychaussin commented on #25595
I have the same probleme, have you find a work around ?

[2022-08-20 14:47] TadasMil opened #25792 "bug: navigating between root routes and tab child routes the view is not being updated"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-20 14:55] TadasMil commented on #25792
https://user-images.githubusercontent.com/64957606/185752754-a2ec84c1-78ef-4309-a673-4bc1e8bc2a65.mp4

[2022-08-21 15:37] richierockskool commented on #25104
/usr/local/lib/node_modules/npm/node_modules/isexe/index.js:8
export { isexe }
^^^^^^

SyntaxError: Unexpected token 'export'
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1033:15)
    at Module._compile (node:internal/modules/cjs/loader:1069:27)
    at Object.Module._extensions..js (node:internal/modules/cjs/loader:1159:10)
    at Module.load (no

[2022-08-21 17:46] RAPHAELSTZ opened #25793 "bug: ionChange event not triggered if ionButtons in ion-datetime"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-21 18:10] 3zzy commented on #24995
I wonder how everyone else is able to workaround this major navigation issue. Is there a temporary solution while we wait for this to be fixed properly?

[2022-08-22 01:46] joshgarwood opened #25794 "Unable to style day-of-month buttons in ion-datetime compeonent"
**I'm submitting a ...**
[x ] bug report
[ ] feature request

**Current behavior:**
The "day of month" buttons on the ion-datetime component do not use the --ion-font-family variable.  The rest of the component correctly uses this variable, but the .calendar-day buttons do not.  I have also tried to apply custom styles to these elements with no luck; they seem to be buried in the shadow DOM with n

[2022-08-22 03:47] sean-perkins commented on #25793
@RAPHAELSTZ the behavior you describe is the current expected behavior of the datetime when using `showDefaultButtons="true"` or slotting custom buttons and using the `datetime#confirm()` API to commit value changes.

This behavior is outlined here: https://ionicframework.com/docs/api/datetime#buttons.

If you desire to have the value change emitted for each selection, do not slot buttons into the

[2022-08-22 10:48] Janaka-Steph commented on #25782
@sean-perkins Not related to this issue but trying `6.2.2` and `6.2.4-nightly.20220822` I have a new issue where `useIonViewWillEnter` is not executed...

[2022-08-22 11:29] mackelito commented on #25404
When will we be able to use standalone components? is there a rough ETA?

[2022-08-22 14:31] sean-perkins commented on #25782
@Janaka-Steph can you open a new issue with a reproduction so we can take a look?

[2022-08-22 15:05] AugTang opened #25795 "如何将现有的ionic项目打包为web端？"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already include this feature request, w

[2022-08-22 15:13] liamdebeasi commented on #25794
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic-framework/issues/25340.

[2022-08-22 15:13] #25794 closed

[2022-08-22 15:15] #25787 closed

[2022-08-22 15:15] liamdebeasi commented on #25787
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/25789, and a fix will be available in an upcoming release of Ionic Framework. Please feel free to continue to test the dev build.

[2022-08-22 15:21] liamdebeasi commented on #25795
Hi there,

Ionic Framework is built with web technology, so there is no additional command needed to output an Ionic project for a web browser other than `ionic build`. The iOS, Android, and Web app bundles you generate all use the same codebase.

If you need additional help building your Ionic app, I recommend posting on the [Ionic Forums](https://forum.ionicframework.com). Thanks!

[2022-08-22 15:21] #25795 closed

[2022-08-22 15:34] #25759 closed

[2022-08-22 15:34] liamdebeasi commented on #25759
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic-framework/pull/25764, and a fix will be available in an upcoming release of Ionic Framework. Please feel free to continue testing the dev build.

Note: As a result of this change, the param order will now match what is stated on the docs: https://ionicframework.com/docs/api/select#comparewith

The first parameter

[2022-08-22 16:20] sean-perkins commented on #25495
@WillooWisp can you share more about your environment?

I tested with this dev-build: `6.2.4-dev.11660836281.1a11712b` due to this issue: https://github.com/ionic-team/ionic-framework/issues/25782

On emulator with a Pixel 5 (API 32), pull to refresh works as expected with no black/invisible state.

[2022-08-22 16:36] milanharia commented on #25782
@sean-perkins seems like there is an issue with the refreshers on pages with `IonContent` fullscreen which have a color.

https://user-images.githubusercontent.com/76167627/185972771-4a341a7e-4ce7-46be-b420-7192866ef191.mp4

Code to reproduce this issue:

[code]

[2022-08-22 16:38] sean-perkins commented on #25782
@milanharia can you open a new issue with your expected behavior and a reproduction repository? This issue is focused on the exception that is currently thrown in React/Vue applications. This issue will automatically close when the associated PR is merged.

[2022-08-22 16:52] #25782 closed

[2022-08-22 18:04] liamdebeasi opened #25797 "bug: react 18 with createRoot causes duplicate page transitions"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-22 20:12] RAPHAELSTZ commented on #25793
Yes perfect, it does the trick, thanks for the quick response :)

[2022-08-22 20:12] #25793 closed

[2022-08-22 20:12] RAPHAELSTZ commented on #25793
Solved

[2022-08-22 20:14] liamdebeasi commented on #16455
Hi everyone,

As @dtarnawsky mentioned in https://github.com/ionic-team/ionic-framework/issues/16455#issuecomment-1220050827, Capacitor 4.1.0 added a new option to inline all source maps when syncing. This makes it possible to get the latest source maps when debugging in a Chromium-based browser. As a result, I am going to close this issue.

See Damian's comment above for more information.

[2022-08-22 20:14] #16455 closed

[2022-08-23 00:34] easrng opened #25802 "bug: chrome for windows and firefox close overlay when dismissing alert with escape key"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-08-23 01:24] easrng commented on #25802
I can confirm that changing [this line](https://github.com/ionic-team/ionic-framework/blob/f9ab9b54ddb5a3004673e4aaa9cb62fd8e97ba07/core/src/utils/overlays.ts#L310) to use keypress fixes this.

[2022-08-23 08:48] WillooWisp commented on #25495
@sean-perkins tested again now, with 6.2.3 and it works in dark mode I saw now, but the incorrect look is shown in light mode.

[2022-08-23 13:28] liamdebeasi commented on #25802
Thanks for the issue. I can reproduce this in Firefox only. Unfortunately, this appears to be a long standing bug in Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=112298.

The `keypress` event is deprecated, so I do not think we would be comfortable making the suggested change: https://developer.mozilla.org/en-US/docs/Web/API/Element/keypress_event

[2022-08-23 13:35] BenoitMonchanin opened #25803 "feat: Improve ion-datetime text accessibility"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already include this feature request, w

[2022-08-23 13:35] liamdebeasi commented on #25792
Thanks for the issue. I can reproduce this behavior. However, this bug appears to be caused by the same underlying code as your other issue: https://github.com/ionic-team/ionic-framework/issues/25141. I am going to merge the two issues together.

Refreshing the page on `/another-page/123` wipes the in-memory history that Ionic needs for routing to work correctly. The previous `/tabs/tab1` page is

[2022-08-23 13:35] #25792 closed

[2022-08-23 13:44] liamdebeasi commented on #25791
Thanks for the issue. I can definitely understand how this new behavior is unexpected. However, Ionic is working as intended here.

Prior to the fix in https://github.com/ionic-team/ionic-framework/pull/25746, the `ion-footer` incorrectly had safe area padding on the bottom when used inside of tabs with a tab bar. The functionality that is being described here was built on the assumption that `ion