[2016-06-21 22:11] brandyscarney commented on #7000
Thanks for the issue! This was actually changed recently to use `ion-page` again, but it was adding the class as PascalCase. I've fixed it for the beta 10 release and created a nightly if you'd like to test it out:

[code]

Thanks again! :smile:

[2016-06-21 22:11] #7000 closed

[2016-06-21 22:21] brandyscarney commented on #6990
Hey @matmica, I don't think this is something that should be added since we have Sass to handle it. For example, if there are specific files that should only be added per mode, you can create them like this:

[code]

and then in the `app.ios.scss` file you would import the `ios` one:

[code]

And in the `app.md.scss` file you can import the `md` one. We are doing this in the preview app:

https://

[2016-06-21 22:27] jasonwaters commented on #7000
Thanks @brandyscarney!  I tried out the nightly but it looks like there's a problem with `ion-navbar` not showing up now.  I'm going to stick with beta.8 until 10 comes out. 😀

[2016-06-21 22:29] brandyscarney commented on #7000
@jasonwaters Oh yes we've changed a bit of the structure. We'll have some steps to upgrade to beta 10 in the changelog! 😊

[2016-06-21 23:00] mpaland commented on #6999
Is related to #6766

[2016-06-21 23:07] fmsouza commented on #6999
@mpaland actually my issue is not the same as the one you mentioned. I've inspected the element in the browser, and it seems to be applying a CSS rule `transform: transform3d(0, ..., 0);` in all list elements, and they are always around 200px more distant from where they should be.

I also noticed that the list is built using this transform3d rule and with `position` rule different from `relative`

[2016-06-22 00:37] bramski opened #7004 "v1.3.* not released on NPM"
#### Short description of the problem:
Neither v.1.3.0 nor v.1.3.1 has been released to NPM

#### What behavior are you expecting?
Expecting to get latest stable installed and available via npmjs.org

**Steps to reproduce:**
1.x series is published by @mlynch as ionic-sdk: https://www.npmjs.com/package/ionic-sdk
Last published version was 1.2.4

Please publish the latest 1.3.x to npm.  Thanks!

[2016-06-22 00:38] DrakeWitt commented on #4628
+1 also experiencing issues with iOS 9 and 10. Works fine in chrome.

[2016-06-22 00:43] DrakeWitt commented on #5346
+1

[2016-06-22 01:48] devarg opened #7005 "(Bug) Keyboard pops when sliding an item of a 'sliding list' while searchbar has focus"
#### Short description of the problem:
If you have a search-bar that is focused (cursor blinking) and right down you have a sliding list. Sliding an item of the list while the cursor blinks on the searchbar makes the keyboard pop as if you were clicking on it to add some input. (this happens on Android but not on the browser)

#### What behavior are you expecting?
Keyboard should not be fired if i

[2016-06-22 02:04] vss0705 opened #7006 "ionic2 alert template ngSwitchWhen -> ngSwitchCase"
ionic2 beta 9

components/alert/alert.ts

template ngSwitchWhen -> ngSwitchCase

[2016-06-22 02:08] danbucholtz commented on #7004
Hi @bramski,

Please run `npm install ionic-angular@1.3.1` to access the 1.3.1 release on npm.

Please let me know if you have any additional questions.

Thanks,
Dan

[2016-06-22 02:08] #7004 closed

[2016-06-22 02:33] Bouzmine opened #7007 "Alert input autofocus bugs when activated by a click near keyboard on iOS"
#### Short description of the problem:

When the button activating an alert is in the same spot as the keyboard, the input doesn't autofocus or will quickly autofocus and blur before the keyboard is opened. This issue was only tested on iOS. Here's a video showing this behavior :

[http://sendvid.com/blvkxyb5](http://sendvid.com/blvkxyb5)
#### What behavior are you expecting?

The keyboard to alwa

[2016-06-22 03:15] devarg commented on #7007
I recently published an issue pretty similar to this. Seeing the behaviour of your case I think that inputs that require keyboard, sould not pop it until user clicks on them, or at least it would be useful to have a built-in directive like
<input type="text" **explicit-input**> so to block automatic keyboard showup in cases like this.

#7005

[2016-06-22 03:17] devarg commented on #7007
I recently published an issue pretty similar to this. Seeing the behaviour of your case I think that inputs that require keyboard, sould not pop it until user clicks on them, or at least it would be useful to have a built-in directive like
`<input type="text" **explicit-input** />`
so to block automatic keyboard showup in cases like this.

[2016-06-22 03:32] ohadbp opened #7008 "Ionic2 - Problem when having 2 ion-datetime fields"
#### Short description of the problem:
In my page i have 2 ion-datetime components without ion-item. When i click on either one of them it's always the button of the later one that is 'clicked'

Problem also occur if both components are within the same ion-item.

**Steps to reproduce:**
You can see an example in this [plunker](http://plnkr.co/edit/Tr9yWzXJqwSMZce41J50?p=info)
Click on the 1-mar-20

[2016-06-22 04:04] jgw96 commented on #7008
Hello, thanks for opening an issue with us! We actually are already aware of this issue and plan to have a fix for it soon. I will keep this issue open to track the progress of this bug. Thanks for using Ionic!

[2016-06-22 04:06] jgw96 commented on #7006
Hello! While we appreciate you opening an issue with us i am going to close this issue and ask that you open a new one that has the issue template filled out please. Thanks for using Ionic!

[2016-06-22 04:06] #7006 closed

[2016-06-22 04:40] russcarver commented on #6935
This did not work for me in upgrading from Ionic2 beta.6 to Ionic2 beta.9.  I tried Angular2 rc.2 and rc.1 both to no avail.  I tried removing the browser platform, re-adding and building it as well as deleting node modules each time.  I even tried beta.8.

I had to start a new Ionic2 project and copy over the changed parts of package.json, config.xml, index.html and app.ts.  Notable, in particula

[2016-06-22 05:19] Tiuser4567 opened #7009 "Ionic 2 beta 9 Alerts (succeeding alert issue)"
#### Short description of the problem:
When updating to ionic 2 beta 9, I encountered an issue regarding alerts (it was working in beta 7)

The scenario is I have a prompt alert (Alert A) where it has an input and two buttons (Cancel, Ok).
On click of Alert A's "Ok", if the input is invalid, it should prompt a simple error alert (Alert B) which shows the error message and a single button (Ok) to d

[2016-06-22 05:58] jtushar53 commented on #6949
Please upgrade it to rc3 :beers:

[2016-06-22 06:05] 560889223 opened #7010 "Hitting 'Enter' after typing in search bar (ion-searchbar) will trigger 'ionCancel'"
#### Short description of the problem:

When wrapped in `<form></form>` element, `ion-searchbar` will incorrectly trigger event `ionCancel` when user hits Enter or its equivalent (like an Action Button from iOS system keyboard). This will clear the user input, which is not expected.

Otherwise, when `ion-searchbar` is not wrapped in `<form></form>`, there is no issue and the user input stays after

[2016-06-22 06:12] gustavohenke commented on #6959
@manucorporat, what a shame that you guys took that decision.

TypeScript is simply too slow for me, so from the start I decided to use ES6.
I learned to write Angular 2 ES6 code using Ionic's templates. Not anywhere else in the web there was another starting point as good as Ionic.

And, to complete.. the official Angular docs are just poor in terms of ES6 support.

[2016-06-22 06:19] InfinityOne opened #7011 "Refresher conflicts with Menu"
#### Short description of the problem:

There is a clear conflict between ```refresher``` and ```sidemenu```.
Happens on both Material Design & iOS style
See video below, (don't know are videos allowed, cuz everybody are posting gifs)

[![ionic2 sidemenu an refresher conflict](http://img.youtube.com/vi/WESYKN-usOQ/0.jpg)](http://www.youtube.com/watch?v=WESYKN-usOQ)

#### What behavior are you expe

[2016-06-22 06:42] sfabriece opened #7012 "Scroll doesn't work with tap event (v2)"
with the following code scrolling works:
[code]
when I change the event to tap, scrolling doesn't work.
[code]

[2016-06-22 07:01] chandanch commented on #5039
Hello Is the zoom feature available now for slides?.

[2016-06-22 07:04] chandanch commented on #5039
I tried
`                <ion-slide *ngFor="let sliders of imageforSliders" zoom>
........
`
but did not work, Is there any alternative for pinch & zoom?

[2016-06-22 07:04] mdelerue opened #7013 "Fab positioned over content when the keyboard is shown (Android)"
## Short description of the problem:
Not tested on Windows, OK with iOS, in my case it only occurs with Android :

Fabs positioned at the bottom are sent up when the keyboard is shown and potentially positionned over other elements.

[code]
The basic structure of the page is on the Plunkr : http://plnkr.co/edit/nhieKD .

I tried to put the button inside and outside of the ion-content, the behaviou

[2016-06-22 07:16] dheran commented on #6925
issue is still there for Android 4.4 kitkat (chrome 30.0.xx)

[2016-06-22 07:19] dheran commented on #6776
@jgw96 any idea which version will get this feature?

[2016-06-22 07:32] shivenigma commented on #4849
Unknown provider: qyIonicReadyProvider <- qyIonicReady <- qyToggleOverflowScrollDirective

is there something you missed to give me.? @leschirmeur

[2016-06-22 07:47] jgw96 commented on #6776
Hey @dheran ! Good question! We have a working implementation of treeshaking with webpack 2 as of a few days ago and are still working on using the offline compiler. After reading the Angular team's meeting notes today it looks like they are not gonna call the offline template compiler "stable" until Angular 2 rc 4, but i hope that we can have an implementation of the offline compiler before then.

[2016-06-22 07:48] jgw96 commented on #6949
Hello all, the plan is to upgrade to Angular 2 rc3 for our beta.10 release now. I will be closing this issue as it is not valid anymore. Thanks for using Ionic!

[2016-06-22 07:48] #6949 closed

[2016-06-22 08:02] MatthiasDebaere opened #7014 "Icon and Splash Screen Image Generation - Declare output directory manually"
#### Short description of the problem:
I would like to choose the output directory of the icon and splash screen images myself.

#### What behavior are you expecting?
Could we expand the cli command? Something like:

[code]

**Ionic Version:** 1.x

Thanks for the help and for an awesome framework.

[2016-06-22 08:13] elineopsommer commented on #6137
@adamdbradley this is still an issue see #6974

[2016-06-22 08:19] hacosglez commented on #6691
I confirm bug is still present in beta8

[2016-06-22 08:23] nezzie2k333 commented on #500
Awesome - That CSS sorted it instantly for me so I +1

[2016-06-22 08:46] ghenry22 commented on #7011
this may be similar to where swiping down to scroll a list now triggers refresher incorrectly also

[2016-06-22 08:47] leschirmeur commented on #4849
@shivenigma qyIonicReady is just a service wrapping $ionicPlatform.ready(). So you might just use this ready() function instead of the service. However, if you want to go for the service, here it is:

[code]

[2016-06-22 08:58] alan-agius4 commented on #6990
Hi Brandy,

Thanks for your suggestions, I do fact the above issues as well. As i'd like to have a more mobilized application. As I would have several "lobbies" which I don't want to combine and concatenate with your stylesheet. Reason being, is I want to do some sort of lazy loading and not request the "global/common" stuff for each lobby.

[2016-06-22 09:01] jmatsushita commented on #5920
Is it possible to use the `progress` pagination type with the shipped version? http://idangero.us/swiper/demos/37-pagination-progress.html

[2016-06-22 09:07] msoni11 opened #7015 "tag v1.1.1 has package version 1.0.1"
Checkout tag v1.1.1 and run gulp build. Package version 1.0.1 is applied.

I've verified it in package.json file. version is 1.0.1.

[2016-06-22 09:12] yimks opened #7016 "perf:"
**Type**: <span ionic-type>perf</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>android</span> <span ionic-platform-version>5.1</span>  <span ionic-webview>webview</span>

<span ionic-description></span>

<span is-issue-template></span>

[2016-06-22 09:13] #7016 closed

[2016-06-22 09:14] msoni11 commented on #7015
My bad. Main repository is okay. I think the issue is with my forked repo.

[2016-06-22 09:14] #7015 closed

[2016-06-22 09:21] ghenry22 commented on #6999
I notice very similar behavior on virtualscroll lists.  They will fill the viewport initially, scroll down quickly and when the scroll stops only part of the view will be occupied until your scroll 1 or 2 px further then the full space is used.

[2016-06-22 10:09] ghislaindj commented on #6850
Hi !
It seems that the component doesn't fully ignore the min date : at first it ignores it, but as soon as you've touched it, the component seems to work fine and respect the min property.

[2016-06-22 10:17] allen8300 commented on #4211
same here...

[2016-06-22 10:19] manucorporat commented on #7011
@InfinityOne @ghenry22 I will look into this

[2016-06-22 10:33] Manduro commented on #7014
This belongs in the Ionic CLI repo ;)
https://github.com/driftyco/ionic-cli

[2016-06-22 10:48] EugeneSnihovsky commented on #6992
Problem in this line
https://github.com/driftyco/ionic/blob/2.0/src/components/menu/menu.ts#L346

Probably something wrong with ngOnDestroy for menu component.

[2016-06-22 11:14] #7014 closed

[2016-06-22 11:38] mpaland commented on #6981
Is it possible to add ionOpen and ionClose events to the sliding item and intercept these in the background to modify the item class?

[2016-06-22 11:43] oudzy commented on #6850
@ghislaindj That's wright but only the min and max date, not the time, the time part of input is not limited even when the component been touched.

[2016-06-22 11:59] dheran commented on #6776
@jgw96 Seem they've already closed the issue. https://github.com/angular/angular/issues/3605
and Angular RC 4 is almost 33% complete (in milestone).
Can we expect the new compiler in ionic beta 10 or 11?

[2016-06-22 12:02] shivenigma commented on #4849
sorry to disturb you again, but I am totally new to ionic and can't get this directive to work. I am getting the following error.

what is Config, is it ionic default or something you wrote for yourself? @leeschmidt4

[2016-06-22 13:02] lukaskj2 commented on #7009
Got the same problem here. I don't know if it is the right way, but I fixed this way:
[code]
Dismiss the alertA (which returns a promisse) and then present the alertB.

[2016-06-22 13:03] Bouzmine commented on #7007
A directive would be useful, but in the alert case it's useful to have an autofocus. The thing that's really bugging me (pun intended) is the fact the autofocus won't work correctly in some cases.

[2016-06-22 13:25] SebastianGiro opened #7017 "Bad z-index between Alerts and menu"
#### Short description of the problem:
When an alert is triggered, and the side menu is open, the alert shows behind the side menu.

#### What behavior are you expecting?
When i trigger the alert with the menu open, the alert will show in front of all (superior z-index)

**Steps to reproduce:**
1. Create a side menu when a ion-item
2. Bind click of the ion-item with an alert
3. Open side menu and

[2016-06-22 13:43] leschirmeur commented on #4849
@shivenigma Just replace the Config.xxx statements with functions offered by ionic.Platform (http://ionicframework.com/docs/api/utility/ionic.Platform/).

[2016-06-22 13:52] furyscript commented on #5485
Can you porting into Ionic 1.x ? I don't think to migrate my application to Angular 2.. @adamdbradley ?

[2016-06-22 14:10] adamdbradley commented on #6104
@ghenry22 Have you been able to test out beta9's virtual scroll?

[2016-06-22 14:25] manucorporat commented on #7017
Thanks for reporting the issue! I will look into it tomorrow.

[2016-06-22 14:35] shivenigma commented on #4849
@leeschmidt4 Thanks for your patience and kindness for helping me, you saved me from lot of the work I have to do in order to solve this issue, If you could make it as an individual directive and release it as a support for ionic, I'll be glad to contribute and improve if there are anyways to help you. Considering making this as an individual directive without your internal dependencies, I think l

[2016-06-22 14:36] ryandegruyter commented on #6711
I can help out, may I assign myself to this?

[2016-06-22 15:01] brandyscarney commented on #6711
@ryandegruyter I don't think issues can be assigned outside of our team, but if you'd like to work on it and submit a PR it's all yours! The difficulty with this issue is the Select uses the Alert & ActionSheet API underneath so it will need to emit the event in each back to the Select.

[2016-06-22 15:05] danbucholtz commented on #6776
Hi @dheran, we're actively working on it.  This is an extremely high priority item for us so please rest easily knowing we'll have it done as soon as we can.

Thanks,
Dan

[2016-06-22 16:07] brandyscarney opened #7018 "Toggle is not working on click"
Using the latest, toggle doesn't work on click, but it does work when dragging.

[2016-06-22 16:18] ryandegruyter commented on #6711
Ok  thank you, I underestimated and misunderstood this issue. But I can still give it a shot, when exactly should the ionSelect output emit? When the option is selected/clicked but not when the OK button is clicked?

[2016-06-22 16:36] eddhannay opened #7019 "(demos) ionic 2 config demo uses deprecated @App decorator"
#### Short description of the problem:
The [ionic 2 configuration demo](https://github.com/driftyco/ionic/blob/2.0/demos/config/main.html#L50-L55) is intended to show a user how to make changes to the layout of their application. The example output uses the old `@App` decorator syntax with the configuration passed in, which was deprecated [in beta 8](https://github.com/driftyco/ionic/blob/2.0/CHAN

[2016-06-22 16:40] brandyscarney commented on #7018
fixed by https://github.com/driftyco/ionic/commit/4aa322d33b706bdae2dfdb14fed7faa67ca92c72

[2016-06-22 16:40] #7018 closed

[2016-06-22 16:51] ghenry22 commented on #6104
@adamdbradley - Yes I have updated to beta9 and it appears much better but still with some issues as I logged in #6984 which make it a bit hard to test thoroughly at the moment.

[2016-06-22 17:04] brandyscarney commented on #5561
This has been added and will be possible with `beta 10`. For example:

[code]

Thanks!

[2016-06-22 17:04] #5561 closed

[2016-06-22 17:09] brandyscarney commented on #6711
Yeah it should emit when the option is clicked, prior to pressing the OK button, since once you press the OK button it triggers the `ionChange` event on the select. :smile:

[2016-06-22 18:01] BlackFoks commented on #6047
Any news on this? The bug still exists (beta 9) and it affects select list pop-ups as well (they use alerts under the hood).

[2016-06-22 18:25] jgw96 commented on #6047
Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-22 18:26] jgw96 commented on #7012
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-22 18:46] brandyscarney commented on #7019
Thanks for the issue! I've pushed a fix for this so it should be live on the site soon. :smile:

[2016-06-22 18:46] #7019 closed

[2016-06-22 18:53] jgw96 commented on #7013
Hello! Thanks for opening an issue with us. I am making a quick native to compare this behavior to the native behavior. We generally strive to be as close to native as possible. I will get back to you with my findings! Thanks for using Ionic!

[2016-06-22 19:05] miparnisari commented on #6834
I ended up using `collection-repeat` with `img` tags instead of trying to use `background-image` and it works.

[2016-06-22 19:12] jgw96 commented on #6990
Hello @alan-agius4 ! Sorry if im misunderstanding your issue, but we only load our stylesheets once (when the app first loads). If you lazy loaded css for each part of your application it would actually be slower than just loading all the css up front. Whenever you load css the browser/webview has to block so if your lazyloading css as you need it, your app will constantly be blocking each time yo

[2016-06-22 19:12] brandyscarney commented on #6989
Thanks for the issue, I updated the changelog to include the Searchbar changes and we will update the component docs as part of driftyco/ionic-site#657.

https://github.com/driftyco/ionic/blob/2.0/CHANGELOG.md#200-beta9-2016-06-16

[2016-06-22 19:12] #6989 closed

[2016-06-22 19:34] jgw96 commented on #7009
Hello! Thanks for opening an issue with us. I have started debugging this issue and am gonna put my findings here for the rest of the team. [This](https://github.com/driftyco/ionic/blob/2.0/src/components/backdrop/backdrop.ts#L25) line is getting called which means that for some reason Ionic is trying to push multiple backdrops. Beta.8 does not have this behavior, looks like a regression in beta.9

[2016-06-22 19:36] jgw96 commented on #7009
In the meantime, if you would like a workaround you could use a [toast](http://ionicframework.com/docs/v2/components/#toast) as your error message. This may actually be better ux than showing multiple alerts at a time. Thanks for using Ionic!

[2016-06-22 19:40] sfabriece commented on #7012
I'm finding it hard to reproduce in plunker because of lack of gestures. What happens when running on a device is that a fling down doesn't work with tap event.

[2016-06-22 19:43] awe-sim commented on #7009
im facing the same issue with the new version of alerts.. i have the same use case.. @jgw96's suggestion is actually a good one.. im considering using it.. by the way, can anyone tell me how to find what the latest version of ionic beta is out there and what's its complete changelog?

[2016-06-22 19:50] jgw96 commented on #7009
@awe-sim I would definitely suggest using a toast. We are going to fix this issue with alerts, but in my opinion using a toast here is better ux than using multiple alerts. But, as i said, that is totally my opinion (: [Here](https://github.com/driftyco/ionic/blob/2.0/CHANGELOG.md) is a link to our changelog. Also, we always do a post on our [blog](http://blog.ionic.io/) and a [tweet](https://twit

[2016-06-22 20:13] jfi commented on #6392
Hi @brandyscarney, is there a milestone on this? Thanks! :)

[2016-06-22 20:39] brandyscarney commented on #6392
Hey @jfi, this is because the `ion-toolbar` needs to be the first-child in the page. If you have the div's above the `ion-toolbar` it won't work. So I recommend moving the overlay divs to the end, after the `ion-toolbar`:

main.html:

[code]

[2016-06-22 20:44] william-beange-hs commented on #3251
+1

[2016-06-22 21:31] awe-sim commented on #7009
thanks @jgw96 for answering all the questions.. :)

[2016-06-22 22:33] awe-sim opened #7020 "Toast :: No way to block UI interaction since beta9"
`Toast` component no longer has the option to prevent UI interaction as "enableBackdropDismiss" option has been completely removed.

I was suggested by @jgw96 [in this thread about an Alerts issue](https://github.com/driftyco/ionic/issues/7009) that a better UX would be to show a `Toast` on top of the first `Alert`. But since the `Toast` can no longer block UI interaction, it fails to achieve the

[2016-06-23 01:02] ghenry22 commented on #6989
There is still a problem with this as if the search bar is black, say because someone has cleared or backspaced to remove it and the event is then submitted without a value, the target.value property is not set to an empty string, it simply doesn't exist.  So the user needs to catch this or it will be throwing exceptions in the console.

[code]

[2016-06-23 01:06] ghenry22 commented on #6405
This issue still exists in Beta9.  No issue on Android or browser but on iOS clicking the hamburger opens the menu without issue but clicking/tapping to close the menu almost always takes 2 taps.  This is a small bug that makes a majorly bad user impression, would be good if it could get assigned to a milestone.

[2016-06-23 01:35] aaronksaunders opened #7021 "Ionic Scroll with Nested Loops ( Ionic1 -> Ionic2)"
I have two pens, with the same code ported from ionic1 -> ionic2

The horizontal scroll works correctly in ionic1, but in ionic2 the objects overlap each other and are not rendered correctly
#### Plunker that shows an example of your issue

**Ionic 1 version which works fine** -
http://plnkr.co/edit/Ttiqqh5d5ak10iLbofy6?p=preview

**Ionic 2 overlap of the images when window is compressed**
http://

[2016-06-23 03:38] Kingwl commented on #6209
same issue

[2016-06-23 05:50] dheran commented on #6776
@danbucholtz can you help me with any temporary workaround to reduce initial rendering time until official solution. because, I'm in the situation to fix this issue or drop the project and build with native code.

[2016-06-23 06:28] venkatesh22 commented on #5341
+1

[2016-06-23 06:55] ghenry22 opened #7022 "Ionic2 segment scroll behaviour (scroll 1 segment, other non-active segments also scroll)"
#### Short description of the problem:
When scrolling in 1 segment the content in all other segments in a component also scroll

Same behaviour in all platforms and browser

#### What behavior are you expecting?
Only the content in the active/visible segment scrolls

**Steps to reproduce:**
1. create a simple starter app with more items than fit on the screen so scroll can be used
2. cut and paste

[2016-06-23 08:18] InfinityOne commented on #6999
@danbucholtz how u managed to make the virtualScroll with multiple elements on a line?

[2016-06-23 08:30] ginsleepy commented on #5875
It's still slow on iphone 6

Your system information:

Cordova CLI: 6.2.0
Gulp version:  CLI version 3.9.0
Gulp local:   Local version 3.9.1
Ionic Framework Version: 2.0.0-beta.9
Ionic CLI Version: 2.0.0-beta.31
Ionic App Lib Version: 2.0.0-beta.17
ios-deploy version: 1.8.6
ios-sim version: 5.0.8
OS: Mac OS X El Capitan
Node Version: v4.4.0
Xcode version: Xcode 7.3.1 Build version 7D1014

[2016-06-23 10:02] anujsphinx commented on #2492
<ion-content has-bouncing="false" scroll="false"> is working but i want to scroll my page and <ion-content has-bouncing="false"> is not effective .
**_Need Help to fix that issue._**

[2016-06-23 10:27] omid-keihani commented on #728
you made by ion view , how can make sub footer with ion tabs ???

[2016-06-23 10:28] omid-keihani commented on #728
you made by ion view , how can make sub footer with ion tabs ???

[2016-06-23 10:43] ghenry22 commented on #6999
The repeating virtual item is a col inside a row with the wrap parameter  set which is part of a grid.  I believe that's right anyway

[2016-06-23 10:47] andersfa87 opened #7023 "Back button missing when popping modal then pushing page"
#### Short description of the problem:
We have a modal where we create an item. After creating this item we pop the modal, then push a page with the item on. Prior to beta.9 this worked fine. In beta.9 the back button is missing on the pushed page.

#### What behavior are you expecting?
I am expecting a back button on the pushed page.

**Steps to reproduce:**
1. Present a modal
2. Pop this modal,

[2016-06-23 10:54] astec commented on #7020
Just an opinion, I believe the errors should in-place part of the form and be either shown next to an input or before/after submit button. The Toast component does not seem to be a good fit for the validation use case.

I would treat the Toast more as a notification of completed actions or as a tool to display notifications from outside (_or delayed_).

I don't think the Toast should be changed to

[2016-06-23 11:07] vk2sky commented on #6958
Hi @jgw96, sorry for the delay in replying.

I observed tThis problem while running the app in the Chrome browser via the "ionic serve" command.

[2016-06-23 11:20] InfinityOne commented on #6999
@danbucholtz you can try to increase the `bufferRatio` of the `virtualScroll` to 3-4, this will create some more DOM elements and will fill the viewport from the beginning.

[2016-06-23 11:47] Simerjit-developer commented on #4281
having same issue:

TypeError: Cannot read property 'clientHeight' of undefined
    at ionic.views.ScrollNative.ionic.views.View.inherit.initialize (http://localhost:8100/lib/ionic/js/ionic.bundle.js:6999:43)
    at ionic.views.View (http://localhost:8100/lib/ionic/js/ionic.bundle.js:4484:21)
    at new child (http://localhost:8100/lib/ionic/js/ionic.bundle.js:3448:44)
    at new <anonymous> (http

[2016-06-23 11:59] daveshirman commented on #6982
Hi guys, can someone tell me if I'm the problem here or if it's the framework?  I just want to override the back button to catch app exiting, so if I'm doing something wrong, please tell me.

[2016-06-23 12:25] jeromeXoo opened #7024 "Virtual Scroll: Can't remove or hide an item in virtual scroll without reset virtual scroll"
#### Short description of the problem:

It is not possible to remove or hide a virtual scroll item without refreshing virtual scroll and losing scroll position.

I tried the following solutions:
- splice on datasource => reset the virtual scroll, lost scroll position, but item disappears (no blank space)
- hiding item, [hidden]='true' => the next item does not go up in the list (so there is a blan

[2016-06-23 12:28] jeromeXoo commented on #7012
Hi,

Same as https://github.com/driftyco/ionic/issues/6897

[2016-06-23 12:31] jtushar53 opened #7025 "bug: on input focus / keyboard up scroll content"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>android</span> <span ionic-platform-version>6.0</span>  <span ionic-webview>webview</span>

<span ionic-description>On input focus / keyboard up scroll content above keyboard automatically.

But when we type something screen goes up but not on focus.

currently doing this wo

[2016-06-23 13:07] nikoTM commented on #6971
For me it spawns a lot of warnings when I click on picker, and later when I switch from AM to PM and vice versa in the the picker I get 4 warnings per change. Thought additional info might help.

[2016-06-23 13:44] MaxDBN opened #7026 "docs: Environment setup"
**Type**: <span ionic-type>docs</span>

**Ionic Version**: <span ionic-version>1.x</span>

**Platform**: <span ionic-platform>mobile</span>  <span ionic-webview>webview</span>

<span ionic-description>Hello Ionic Team,

I recently got an existing project to my company from another team and I tried building and running it on my development environment but nothing works for me and they refuse to ans

[2016-06-23 14:14] danbucholtz commented on #6776
Hi @dheran,

No work arounds at this time.  Please remember we are in the beta phase and are waiting on Angular to get offline template compiling into a good state so we that we can mimic what they do.

Thanks,
Dan

[2016-06-23 14:33] jeromeXoo commented on #7024
I guess the "translate3d" on the list item are the source of the problem (eg: transform: translate3d(0px, 230px, 0px);).

Is the solution would be to recalculate the translate3d for each items in the viewport?

[2016-06-23 15:23] DrakeWitt opened #7027 "logo-reddit icon not displaying in tabs when not active"
#### Short description of the problem:
I have tabIcon="logo-reddit" on one of my tabs. It works fine on the android platform but when the platform is switched to iOS either using chrome's inspector or running on a device, the reddit icon will be invisible unless it is active.

#### What behavior are you expecting?
The reddit icon to display when inactive.

**Steps to reproduce:**
1. Tabs view with

[2016-06-23 15:24] bea91 commented on #6918
Hello @Geoffrey-D same issue on Elephone P7000 android version 5.0, but works fine on Samsung S6 too.

[2016-06-23 15:46] awe-sim commented on #7020
@astec .. my opinion is that a framework should give you options to do something, not restrict you from doing something.. i should be able to decide how i want my application to show errors, not the framework's.. the framework can provide an opinion (via defaults), but nothing should prevent me from overriding the defaults..

as an example, consider a scenario where i might want to use a toast to

[2016-06-23 15:59] jgw96 commented on #7026
Hey! Thanks for opening an issue with us! The first thing i would recommend is running `cordova plugins list`, go through and remove all the plugins using `cordova plugin rm <plugin name>` and then build and try running it again. Also, if you remove the plugins, and comment out any plugin related code and it still does not work on a device, then i would suggest trying `ionic serve` to see if it wo

[2016-06-23 16:15] astec commented on #7020
I believe restrictions are good. Components should have limited scope, predictable behavior and preferably isolated environment.

I don't quite get it how the "background" should be linked to the Toast and if it should be at all (_taking into account the tasks it is trying to perform_). In my mind with this approach it gets unnecessary coupled with other components (_like Alert_) via shared backgr

[2016-06-23 16:19] jgw96 commented on #7020
Hello @awe-sim ! So this is actually by design. As the toast component is meant to be used as a notification (like the native toast for both ios and android) it is not meant to be blocking, so we removed the backdrop. I suggested the toast as it is a notification component, therefore you could show it to alert the user to an error. Because a toast on either native android or ios does not block use

[2016-06-23 16:19] #7020 closed

[2016-06-23 16:36] jgw96 commented on #6392
Hello all! Thanks for opening an issue with us! I will be closing this issue for now as brandys solution is the correct solution. Also, i will be opening an issue on our docs repo so that we can add this to the documentation. Thanks for using Ionic!

[2016-06-23 16:36] #6392 closed

[2016-06-23 16:44] jgw96 commented on #6982
Hello @daveshirman ! Thanks for opening an issue with us. A modal is actually an instance of `viewController` and not `navController`, so something like this should work for you:

[code]

Thanks for using Ionic and sorry for the delay on this!

[2016-06-23 16:45] rafaelfamorim commented on #2204
I'm facing this issue, but in a very specific scenario, it only happens when I tap it the very FIRST time and only in iOS. To simulate that, I need to reinstall the app or reboot the iphone.

Do you guys have some thoughts about what I could try to fix it?

I've been played around with it for a while, but didn't find anything.

Thanks in advance!

[2016-06-23 16:46] adamdbradley commented on #6022
You can override the CSS to use auto if you wish, but you look momentum scrolling on devices: https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/

[2016-06-23 16:46] #6022 closed

[2016-06-23 16:48] jgw96 commented on #6958
No problem! I just tested this with our [ionic-conference-app](https://github.com/driftyco/ionic-conference-app) in the latest chrome and it seems to be working for me. Would you mind giving that app a try and see if the sliding items on the first page work for you? Thanks for using Ionic!

[2016-06-23 16:50] adamdbradley commented on #6104
Ok thanks, then I'll close this one and we can work off the new issue.

[2016-06-23 16:50] #6104 closed

[2016-06-23 16:57] #6719 closed

[2016-06-23 16:58] brandyscarney commented on #5055
This will be possible with the `beta 10` release. 👍

[2016-06-23 16:58] #5055 closed

[2016-06-23 16:59] brandyscarney commented on #6719
This will be fixed in the `beta 10` release. Thanks for the issue!

[2016-06-23 17:01] #5022 closed

[2016-06-23 17:02] #5080 closed

[2016-06-23 17:15] brandyscarney commented on #5517
So, `item-right` is specifically used for content projection. I think making this attribute align text would be confusing since `item-right` is used to position elements outside of the `input-wrapper`, but this won't work on an `ion-input` because it is placed inside of the `input-wrapper`.

We added some docs on content projection to item: http://ionicframework.com/docs/v2/api/components/item/Ite

[2016-06-23 17:15] #5517 closed

[2016-06-23 17:26] awe-sim commented on #7020
hello @jgw96 .. thank you so much for the detailed explanation.. i think i will wait for the alerts fix.. :)

[2016-06-23 17:30] jgw96 commented on #5568
Hello @Yagger ! Thanks for opening an issue with us! This has been fixed in the latest nightly which you can install with `npm install ionic-angular@nightly`. We overhauled layout a little so here is how you can do custom navbars now
[code]
As you can see you use `ion-toolbar`'s for custom navbars now. Thanks for using Ionic!

[2016-06-23 17:30] #5568 closed

[2016-06-23 17:34] brandyscarney commented on #7027
Thanks for the issue! This was fixed by https://github.com/driftyco/ionic/issues/6899 and it will be in the `beta 10` release. :smile:

[2016-06-23 17:34] #7027 closed

[2016-06-23 18:08] RupenAnjaria commented on #1298
Facing the same on Android 5.0

[2016-06-23 18:25] jgw96 commented on #7025
Hello, thanks for opening an issue with us! I am going to close this as a duplicate of https://github.com/driftyco/ionic/issues/6229 and will be adding that it happens on android too to that issue. Thanks for using Ionic!

[2016-06-23 18:25] #7025 closed

[2016-06-23 18:25] jgw96 commented on #6229
seems to happen on Android too

[2016-06-23 18:28] pliablepixels commented on #6928
Hey folks, I'm having the same problem with the latest IOS 10 beta
This is my CSP
[code]
What exactly needs to change?

[2016-06-23 18:35] jgw96 commented on #2851
Hello all! Thanks for opening an issue with us. As we are not planning on adding this feature to Ionic 1, but are considering it for Ionic 2 i will be closing this issue in favor of https://github.com/driftyco/ionic/issues/5940 which is focused on Ionic 2. Please feel free to put any comments, suggestions or questions about this issue on that issue. Thanks for using Ionic!

[2016-06-23 18:35] #2851 closed

[2016-06-23 18:58] pliablepixels commented on #6928
fixed - in my case, I had to add gap:

[2016-06-23 19:06] daveshirman commented on #6982
Hi, thanks for your reply.  But how does this actually solve the problem? I mean, how do I know programmatically whether I need to `dismiss() `a `viewController` OR check `nav.canGoBack()`?

This seems like something the platform should supply (already does?).

[2016-06-23 19:19] jgw96 commented on #6971
Hello all! I am currently not able to reproduce this issue, but some of my teammates are testing now so i will get back to you all when they have finished testing. Thanks everyone!

[2016-06-23 20:20] jgw96 commented on #7022
Hello @ghenry22 this is actually expected behavior. If you would like to scroll to the top whenever you change the segment you can just do something like im doing here in this plunker http://plnkr.co/edit/jSaeo3WemjWYMoCmEnwK?p=preview. Thanks for using Ionic! I am going to close this issue, but if you have any questions about the plunker feel free to comment.

[2016-06-23 20:20] #7022 closed

[2016-06-23 21:45] jgw96 commented on #6838
Hello @flavordaaave ! Just tested this with our latest nightly that hast the layout refactor i mentioned and it looks like its fixed! You should be able to do something like:

[code]
and it will just work. If you would like to try this out you can install the latest nightly with `npm install ionic-angular@nightly`. If you still have issues with it feel free to comment and i will happily reopen thi

[2016-06-23 21:45] #6838 closed

[2016-06-23 22:41] jpmsegurado opened #7030 "Running ionic serve doesn't build ubuntu 14.04"
I installed the starter tabs project, and Idk why, when I run ionic serve it doesn't build, I have to run gulp build to see the modifications. The ionic 1 works fine but the 2 doesn't.

[2016-06-23 23:02] ladmerc commented on #6825
@elineopsommer Thanks for the tip. Tried implementing but hit some bricks. Can I get a codepen, please?

[2016-06-23 23:21] jgw96 commented on #7030
Hello! Thank you for opening an issue with us! As this is an issue with the cli and not the framework I will be moving this issue to the cli repo. Thanks for using Ionic!

[2016-06-23 23:21] jgw96 commented on #7030
This issue was moved to driftyco/ionic-cli#1106

[2016-06-23 23:21] #7030 closed

[2016-06-23 23:23] jgw96 commented on #7021
Hello! Thanks for opening an issue with us, and thanks for providing the plunkers! I have confirmed this issue and will be looking more into it. I think theres a slight chance this is an Angular issue, but im not sure. Thanks for using Ionic!

[2016-06-24 00:03] changalberto commented on #6636
+1

[2016-06-24 00:05] changalberto commented on #6636
@jgw96 Can we push this feature forward to Beta 10 or Beta 11 release?

[2016-06-24 00:10] windwp commented on #6921
+1

[2016-06-24 00:25] aaronksaunders commented on #7021
I have another plnkr of this working plain ole angular2

[2016-06-24 02:31] lesserenterpriser commented on #4089
I'm having a similar problem, but for me the controllers are being called more than twice.  I'm tracking it with simple console.log's when the state is called (e.g. console.log('Tab1.child is active').  I'll see that message sometimes 2 times, sometimes 4 times, sometimes 8, sometimes 10.  Not sure what's going on, but definitely seems to affect performance.  Any forward movement on this issue?

[2016-06-24 03:15] zbarbuto commented on #5834
@adamdbradley as @brandyscarney mentioned this is best handled in the search bar that appears in the header bar. If that's the case it's likely that it appears when a new view has just been pushed i.e. the user tapped a link to open some sort of "search" view? Perhaps that is something that can be tapped into?

[2016-06-24 04:43] ghenry22 commented on #7022
@jgw96 that works for now thanks.

I guess this is because scroll is tied to the ion-content and there is only 1 ion-content to scroll?

Isn't it weird though that content on an inactive segment also scrolls when the active one scrolls?  Is it possible to move ion-content within a segment so you have a seperate ion-content, and hence scroll position for each segment?

[2016-06-24 04:55] wenner opened #7032 "ionic2 select alterOptions cssClass not Work"
in select compnent , i set alertOptions attribute like {cssClass:"myclass"} , it not work!
and i view the code , in components/select/select.ts

line 280

      alertOptions.cssClass = 'select-action-sheet';

line 302

      if (this._multi) {
        // use checkboxes
        overlay.setCssClass('select-alert multiple-select-alert');

      } else {
        // use radio buttons
        overlay.se

[2016-06-24 05:33] meticoeus commented on #4281
@Simerjit-developer Current workaround is wrap your content in an extra div and put the ng-if there.

The wrapper can be directly inside or outside of <ion-content>.

[2016-06-24 05:35] alsbury opened #7033 "bug: 'ionic g page' generates invalid page"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>This code is what is created by the generate page command:
[code]

I had to move the NavParams to the ionic import to get things working:
[code]
</span>

<span is-issue-template></span>

[2016-06-24 06:32] ohh2ahh opened #7034 "bug: Ionic 2: No tabs on iOS 10 beta 1"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>ios</span> <span ionic-platform-version>10 beta 1</span>  <span ionic-webview>webview</span>

<span ionic-description>Maybe it's a little bit early to submit a bug related to iOS 10 beta 1. But I wanted to let you know, that the tab bar doesn't get displayed. There aren't an

[2016-06-24 07:08] daveshirman opened #7035 "Ionic 2: Modal window doesn't dismiss when overriding back button on Android device."
Provided comment by user @jqw96 on issue #6982 does not fix the issue and fails to address the actual problem explained in a satisfactory manner.

Please see issue #6982 and re-open.

[2016-06-24 07:40] chandanch opened #7036 "Side Menu type reveal not Working in iOS 9.1 and above"
#### Short description of the problem:
Side menu type reveal does not come up in iOS 9.1 and above versions. However, If go back to the previous page then the sidemenu overlaps on that page. But, If the sidemenu type is set to overlay than it works perfectly in iOS.
#### What behavior are you expecting?
The sidemenu of type reveal should come up on clicking the menu icon in iOS.

**Steps to reprod

[2016-06-24 07:46] chandanch commented on #7036
Also set the type as reveal it doesn't work in Android version 5.0 and above,

code snippet:

[code]

[2016-06-24 08:04] MayankLogiciel commented on #3542
I am facing similar issue with ionic. Earlier i thought it is  due to ionic-scroll or ion-content issue then i  made a simple div contenteditable without ionic-scroll/ion-content with only text in it as below

[code]

When i edit this text and hit enter, it generates nested div structure without contenteditable and the second portion of text i.e the text inside nested div is now not editable anymo

[2016-06-24 08:05] alexeypankov opened #7037 "Number input with wrong value in floating label is overlapped by label"
#### Short description of the problem:

Number input with wrong value in floating label is overlapped by label

**Steps to reproduce:**
1. Add ion-input with type 'number'
2. Enter not valid value '123-123' or 'eee'

[code]

**Other information:**
Checked on Firefox and Chrome browsers and on Android 5.1.1.

https://cdn.discourse.org/ionicframework/uploads/default/original/3X/7/1/71e771ef927788582

[2016-06-24 09:10] dimpu commented on #4986
Finally able to fix the issue. The problem is with tsify and typings.

1) Update tsify version to 0.16.0 in node_modules/ionic-gulp-browserify-typescript/package.json
2) change from main.d.ts. to index.d.ts in node_modules/ionic-gulp-browserify-typescript/index.js
3)  Remove typings folder from your project and Update your typings.json

[code]
4) Finally

[code]

That's it. I should work fine.

Fo

[2016-06-24 09:49] BenjaminDieter opened #7038 "DateTime: DateTime breaks under certain circumstances"
#### Short description:

The `ion-datetime` breaks under certain circumstances. ~~I haven't been able to create a working plunker yet, but I'm still working on it~~.

Here's the scenario:
I created a `DaySelectorComponent`, which displays an `ion-datetime` and two buttons (_next_ and _previous_). Once the selected date changes (either via `ion-datetime`s `ionChange` or via tapping one of the butto

[2016-06-24 10:22] hofman-p opened #7039 "Modify Ionic 1 default theme with SASS using Visual Studio 2015"
Hello !

I simply want to modify Ionic default themes colors (button-positive...) with the exact official colors of my group project.

I know I can use CSS to do that by modifying ionic.css, but it'd be a bit laborious.

I'd like to know how to use SASS with Ionic projects in Visual Studio ?
What is the processus ?

Thank you,

Pierre HOFMAN

[2016-06-24 11:05] pas commented on #4928
I can reproduce this with the genymotion emulator with Android 4.4.4 and 5.0. Will you fix it on Ionic 1?

[2016-06-24 12:25] Jota2142 opened #7040 "www/build/js - unnecessary files for release"
Does we really need those big files .map for release app?

I can't find a way to stop generate the `app.bundle.js.map` file, anyone can help me with that?

[2016-06-24 14:04] alexweber opened #7041 "Ionic 2 new beta with Angular 2 RC 3"
Hey team, even though beta 9 was released very recently, it still uses Angular 2 RC1.  Given the erratic Angular RC schedule I don't blame you for not jumping on every upgrade, however, seeing as you've already updated in master to using RC3, I was wondering how soon we can expect a new beta that includes it? Thanks!

[2016-06-24 14:31] jgw96 commented on #7041
Hello, thanks for opening an issue with us! So keeping up with Angular is always top priority for us, but because of all the breaking changes still happening on the Angular 2 side we have been having to make code changes to Ionic 2 to work with the newest angular releases. Angular 2 is not to the stage yet where when they do a release it will "just work" but it should be soon! Even though we are b

[2016-06-24 14:31] #7041 closed

[2016-06-24 14:34] jgw96 commented on #7040
Hello, thanks for opening an issue with us! As this is an issue with the ionic cli and not the framework I will be moving this issue to that repo. Thanks for using Ionic!

[2016-06-24 14:34] jgw96 commented on #7040
This issue was moved to driftyco/ionic-cli#1107

[2016-06-24 14:34] #7040 closed

[2016-06-24 14:34] jgw96 commented on #7039
Hello! Thanks for opening an issue with us! As this seems like more of a support question i will urge that you ask this question on our forum (forum.ionicframework.com). Thanks for using Ionic!

[2016-06-24 14:34] #7039 closed

[2016-06-24 14:39] jgw96 commented on #7038
Hello, thanks for opening an issue with us! Unfortunately i can't seem to reproduce this issue with your plunker. Are the exact steps to reproduce just clicking the buttons to the left and right of the datetime component fast and then opening the datetime?

[2016-06-24 14:41] jgw96 commented on #7036
Hello, thanks for opening an issue with us! Are you testing with beta.9? There were some fixes in that release for the ios sidemenu. Thanks for using Ionic!

[2016-06-24 14:46] jgw96 commented on #7033
Hello, thanks for opening an issue with us! I just checked our [page template](https://github.com/driftyco/ionic/blob/2.0/tooling/generators/page/page.tmpl.ts) and as i thought, we are not importing NavParams anywhere. Would you mind updating your ionic cli by running `sudo npm install -g ionic@beta` and then trying again please? Thanks for using Ionic!

[2016-06-24 14:49] jgw96 commented on #7034
Hello, thanks for opening an issue with us! We are actually already aware of this issue and are addressing it [here](https://github.com/driftyco/ionic/issues/6901). Please feel free to comment on that issue with any info or findings you have. Thanks for using Ionic!

[2016-06-24 14:49] #7034 closed

[2016-06-24 14:53] jgw96 commented on #7032
Hello, thanks for opening an issue with us! This will actually be fixed by issue #6835 so i will be closing this issue as a duplicate. Thanks for using Ionic!

[2016-06-24 14:53] #7032 closed

[2016-06-24 14:53] jgw96 commented on #5744
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. There were a couple of fixes for the keyboard and scrolling in an earlier release so this should be fixed now. Thanks for using Ionic!

[2016-06-24 14:54] jgw96 commented on #6386
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-06-24 14:54] #6386 closed

[2016-06-24 14:57] BenjaminDieter commented on #7038
I will record the steps necessary to reproduce the issue ASAP, probably
Monday next week.

Justin Willis <notifications@github.com> schrieb am Fr., 24. Juni 2016,
16:40:

[2016-06-24 15:04] jgw96 commented on #6975
Hello at this time there is not a scrollToTop method for VirtualScroll, but i will make an issue for this feature and link to it here so you can find it. Since it seems that `scrollToTop` is working fine for a regular list i will be closing this issue and focusing on getting it working with VirtualScroll in the other issue. Thanks for using Ionic!

[2016-06-24 15:04] #6975 closed

[2016-06-24 15:08] jgw96 commented on #6992
Hello! Would you mind updating your repo please, it does not seem to build using our latest ionic cli because your repo is still using Ionic 2 beta.1. Thanks!

[2016-06-24 15:09] #7035 closed

[2016-06-24 15:16] jgw96 commented on #6982
Sorry for the misunderstanding! If you would like to catch a user closing your app you can simply listen for the [pause](https://cordova.apache.org/docs/en/latest/cordova/events/events.html) cordova event. Hope that explains things better!

[2016-06-24 15:20] jgw96 commented on #6990
Hello everyone! After discussing this with my teammates we have decided that, while we really appreciate your idea, this is not something we are going to add to the framework. We are more in favor of  using sass as brandy described above. Thanks for the issue though, and have fun using Ionic!

[2016-06-24 15:20] #6990 closed

[2016-06-24 15:23] jgw96 commented on #6971
Awesome, glad its working for you now! Yep we just recently changed our package.json. Also, just so you know, i just tested with our latest Ionic 2 nightly which is using Angular 2 rc3 and i can't seem to reproduce their either, so it looks like it was an Angular 2 rc2 issue. Thanks for using Ionic!

[2016-06-24 15:23] #6971 closed

[2016-06-24 15:24] EugeneSnihovsky commented on #6992
Hi. You should not use master branch. Current issue located at "ER-2_navbar_menu_error" branch and reproduced on "ionic.2.0.0-beta.9 and angular.2.0.0-rc.1.

[2016-06-24 15:24] jgw96 commented on #7021
@aaronksaunders ahh ok, would you mind posting that plunker for me to see? Thanks!

[2016-06-24 15:29] daveshirman opened #7042 "Ionic 2: Modal window doesn't dismiss when overriding back button on Android device."
Yet again, the response given fails to actually address the actual question.

Please **STOP** closing issues before they've been properly resolved, with dialogue.

This is not helpful.

Please see issue #6982, read the ACTUAL issue regarding the android back button not dismissing the modal views. I know how to catch app exit.  That was NOT my issue.

My issue is simply: explain how to override the

[2016-06-24 15:36] jgw96 commented on #6992
Hello, is this what im supposed to be seeing when i first `ionic serve` your app?
![screen shot 2016-06-24 at 10 35 30 am](https://cloud.githubusercontent.com/assets/8823093/16342403/85d53196-39f7-11e6-9956-0e1330c582be.png)

[2016-06-24 15:42] #7042 closed

[2016-06-24 15:46] EugeneSnihovsky commented on #6992
Yes.

[2016-06-24 15:51] jgw96 commented on #6982
Hello, i am currently discussing this with my team. Also sorry for misunderstanding your issue, i understood the issue to be about catching an app exiting, my mistake.

[2016-06-24 16:04] jeromeXoo commented on #7024
Perhaps, a property "hide" on the virtual item to hide it, and recalculate the position of following items in the list (I know it's not easy)

[2016-06-24 16:04] manucorporat commented on #6845
Fixed by #7028!

[2016-06-24 16:04] #6845 closed

[2016-06-24 16:06] jgw96 commented on #7022
Good question! So its expected behavior because it is the same `ion-content` for each segment, the content of it just changes. I would not suggest having two `ion-content`'s on one page, but feel free to give it a try. After discussing it with my team yesterday we decided that the cleanest solution is using `scrollToTop`. We could add something like this to the framework so you do not have to hand

[2016-06-24 16:21] alsbury commented on #7033
Hey Justin, I guess it was a version issue on my end. I thought I'd already had the latest version when I ran into that issue. Everything looks correct now.

[2016-06-24 16:22] #7033 closed

[2016-06-24 16:23] jgw96 commented on #7033
@alsbury Awesome to hear that its working for you now. Have fun using Ionic!

[2016-06-24 17:31] Bouzmine opened #7043 "Back button does not change text dynamically"
#### Short description of the problem:
I have an hot language change feature in my app. When I change the language in a tab and then go into another tab (which as some views onto its navigation stack) I see the back button in the old language.

#### What behavior are you expecting?
Seeing the back button in the correct language

**Steps to reproduce:**
1. Navigate in a tab
2. Change the language u

[2016-06-24 17:58] #6514 closed

[2016-06-24 17:58] #6944 closed

[2016-06-24 17:58] brandyscarney commented on #6514
This will be fixed in the beta 10 release. :smile:

[2016-06-24 17:58] brandyscarney commented on #6944
Thanks for the issue! This will be fixed in the beta 10 release. :smile:

[2016-06-24 18:36] manucorporat commented on #6755
There are not way to fix this in safari, but it works great in cordova (custom web view with scroll disabled).

[2016-06-24 18:36] nikoTM commented on #7038
@BenjaminDieter @jgw96 steps to reproduce: click on any of buttons, while the toast is being displayed click on datetime

[2016-06-24 18:38] manucorporat commented on #6913
@jeromeXoo thanks for your kind words!

[2016-06-24 19:17] sarahhostyk commented on #5595
Hi, is there an estimated date that this will be released to Ionic Beta? Looking to add something like this to my project now, so knowing an eta would be much appreciated. Thanks!

[2016-06-24 19:23] Bouzmine opened #7044 "Unable to use (touchend) event on ion-range"
I don't know if these events are of Ionic's resort but I can't use this event properly. In contrast, `mouseup` works great. It could also be fixed with an Ionic-specific event like `ionBlur` of something.

(By the way the issue template isn't working, so I can't setup a Plunker, thanks)

[2016-06-24 19:35] caraffa opened #7045 "Allow text selection on elements other then input"
Same situation as with issue #5612. (I have areas in my app where I want to be able to select text. Instead of preventing text selection for anything except for a text input there should be an option to define selectable text. Working on a pull request now.)
I need text to be selectable not only on input fields.
Apparently there's no trivial way to do this.

[2016-06-24 19:41] brandyscarney commented on #5595
Hey @sarahhostyk, reorder has been added and will be available with the `beta 10` release (coming up soon). @manucorporat will be working on the list delete next. We're hoping to get list delete into the `beta 11` release but he will let us know if that changes. Thanks!

[2016-06-24 20:25] Bouzmine opened #7046 "Weird layout when using ion-label stacked with ion-range"
#### Short description of the problem:
The layout is weird when using `<ion-label stacked>` with `<ion-range>`. I have to say that my range contains one label at both end.

#### What behavior are you expecting?
The layout to be ok.

**Which Ionic Version?** 2.x

#### Plunker that shows an example of your issue

[http://plnkr.co/edit/HVPKPW8DomjQJS33DPFi?p=preview](http://plnkr.co/edit/HVPKPW8DomjQ

[2016-06-24 21:00] RaymondAtivie opened #7047 "Auto hide tabs when keyboard is open"
When the keyboard is opened in a tabs page (position=bottom), the tabs appear on top of the keyboard.

The expected behavior is to hide the tabs when the keyboard is visible

**Steps to reproduce:**
1. Create a starter tabs template
2. Include an ion-input in the page
3. Run it on a device and focus on the input element

Maybe a CSS class can be added to the page when the keyboard is open (.keyboa

[2016-06-24 21:01] jgw96 commented on #7044
Hello, thanks for opening an issue with us! Sorry about the issue template, we switched the 2.0 branch over to master today and it broke the issue template. But, the good news is that i just fixed it a few minutes ago, so would you mind making a plunker for me that demonstrates this issue? Thanks for using Ionic!

[2016-06-24 21:04] MaxDBN commented on #7026
@jgw96 Thank you for replying. Tried re-installing plugins, running on android and in the browser. I've tried adding `<access origin="*" />`. I know nothing is wrong with the API because it's the same as in production... What am I missing?

[2016-06-24 22:54] aaronksaunders commented on #7021
https://jsfiddle.net/Aaronksaunders/Lpct16k5/

[2016-06-24 23:11] awe-sim opened #7048 "Possibility to define z-index for components with backdrops?"
#### Short description of the problem:

I noticed that when the first page is pushed onto the navigation stack, its z-index is set to `100`. The next pushed page gets a z-index of `101`. If an `Alert` is presented, it will get a z-index of `102`. If the `Alert` now cancels its own dismissal and pushes another page onto the navigation stack, the latest page will get a z-index of `103` and will appe

[2016-06-24 23:38] ghenry22 commented on #7022
Yes that makes sense.  I guess the alternative is tabs where each tab has its own content.  I saw there was an issue to make tabs style able to work like a segment, how about make an option for segment style appearance to work like tabs? Ie each segment is a seperate component.

This is still really minimal and gives users an option based on the behaviour they expect to see.

[2016-06-25 00:00] manucorporat commented on #7044
Also, can you explain your use case?

[2016-06-25 00:05] fmcom commented on #3311
Any update on an Estimate when Ionic 2 could be used for production? @perrygovier @mlynch

[2016-06-25 00:12] manucorporat opened #7049 "Performance: background event listeners"
Components like Sliding Items currently register a fullscreen touchmove/mousemove event listener that can cause jank in slow devices (and less noticeably in fast ones) while scrolling.

<img width="643" alt="screen shot 2016-06-25 at 02 06 55" src="https://cloud.githubusercontent.com/assets/127379/16353374/88e3cb04-3a79-11e6-9a6d-55b78065e22f.png">

After some experimentation, I was able to preven

[2016-06-25 00:30] renanss commented on #6928
how should I add this gap? I've tried all combinations. Can you please show ur CSP

[2016-06-25 00:32] pliablepixels commented on #6928
@renanss  https://github.com/pliablepixels/zmNinja/blob/master/www/index.html#L10

[2016-06-25 00:43] renanss commented on #6928
Thank you! Live saver!

[2016-06-25 00:58] Bouzmine commented on #7044
I was trying to make a precise range across a large span of available data. So, the concept was after a 1.5 seconds without movement the span becomes shorter to allow for precise selection. On `touchend`, the zoom is removed. I'm closing this because after much testing, I realize this won't work.

[2016-06-25 00:58] #7044 closed

[2016-06-25 01:34] manucorporat commented on #7046
@Bouzmine here's a possible fix: https://github.com/driftyco/ionic/pull/7050

[2016-06-25 01:44] webprofusion-chrisc commented on #6386
To be clear, this issue is caused by having no official support for IE 11. The problem is not resolved but the closing of the issue is fair if Ionic will not support IE.

[2016-06-25 03:15] Luchillo commented on #3311
Jaja, i'm already using it for production, the app is very stable, specially now that Ng2 RC3 is out, soon Ionic 2 will update to the RC version and the API will change far less.

If you don't need anything fancy i think you can use it now in production.

[2016-06-25 05:10] chandanch commented on #7036
Yes, I tested with **ionic-angular2.0.0.beta9**, It works fine in ionic-angular2.0.0.beta5.
Are you able to reproduce the problem?

[2016-06-25 06:00] vk2sky commented on #6958
Thanks @jgw96 . I've done some more investigation, and reproduced the problem with the ionic-conference-app. Here's the sequence:

1. With Chrome Dev Tools **off**, start the app, and skip past the intro screen
2. Verify that list items can be swiped to reveal the "Favorite" option. Swipe back to hide the option.
3. Open Chrome Dev Tools.
4. Try swiping a list item again. For me, swipe does not re

[2016-06-25 06:09] chandanch commented on #6958
Hello, Guys even I'm facing the same problem, When I enable the device emulation it doesn't work in chrome

[2016-06-25 09:14] lordgreg opened #7051 "text-wrap not working on element inside of virtual list"
#### Short description of the problem:

The title text in the code below doesn't get wrapped.

[code]
#### What behavior are you expecting?

Able to wrap the text, no matter if in virtual list or not.

**Steps to reproduce:**
1. Create virtual list
2. Add `text-wrap` attribute to the element
3. Text doesn't break in lines.

Ionic Version 2 beta9

**Run `ionic info` from terminal/cmd prompt:** (pas

[2016-06-25 12:08] mpaland commented on #7047
Yeah, I assume you're under Android. The old keyboard problem...

I saw a talk on cordova conf of @tlancina about the keyboard and it seems to be a pretty hard issue in general!
I can confirm that the bottom tab bar is pushed up upon opening the keyboard in my app under Android, too. But much more worse is covering input fields which are near the bottom. Tim said, one should try to avoid that, but

[2016-06-25 12:16] mpaland commented on #7038
I can reproduce the issue with the plunkr.

[2016-06-25 12:39] linkito opened #7052 "White screen on iOS 10 (new)"
#### Short description of the problem:
Complete White Screen on app loads (without topbar)

#### What behavior are you expecting?
The Splashscreen shows, but after appears the white screen and the app doesn't works

**Steps to reproduce:**
1. Open app
2. I see the Splashscreen image
3. After that, a complete white screen... Without anything.

This is the Xcode log:
[code]

**Which Ionic Version?**

[2016-06-25 14:00] Emeryao commented on #6944
Thanks for your works @brandyscarney :+1:

[2016-06-25 18:36] Bouzmine opened #7053 "More native ion-searchbar and ion-list on iOS"
#### Short description of the problem:
- [ ] Hidden searchbar (iOS)

Could be implemented as a directive on `ion-content`

Video : [http://sendvid.com/llj8kmm6](http://sendvid.com/llj8kmm6)
- [ ] Sliding up searchbar animation (iOS)

I think it should be the default behavior on iOS.

Video : [http://sendvid.com/69f05din](http://sendvid.com/69f05din)
- [ ] Lines for empty items and scrolling (iOS)

[2016-06-25 18:57] thyagocl opened #7054 "bug: ion-slides doesn't select last slide"
#### Short description of the problem:

ion-slides directive doesn't select the last slide if the slidesPerView is set to "auto" and the slides have width smaller than the container's width. In this case, the last slide doesn't reach the point at which it would be considered as the current one.
#### What behavior are you expecting?

Even if the last slide doesn't reach the final position, it shoul

[2016-06-25 19:41] BugsBunnyBR commented on #5724
@jgw96, @adamdbradley and all ionic team, what the hell? This is a basic need for Ionic2, we are already in the beta9 and this is not even in the milestones. It`s nice to have buttons and menus that look like the native ones, but this issue is far more important! This is related to the basic architecture of a mobile application! I could wait for that bunch of nice things you all developed since th

[2016-06-25 21:59] ladmerc commented on #3907
With the breaking changes in ionic repo, how do we compile and build this

[2016-06-25 22:10] awe-sim commented on #7048
possibly related to [this](https://github.com/driftyco/ionic/issues/7017) issue..

[2016-06-26 02:03] Bouzmine opened #7055 "Keyboard pushes the whole interface up and it's seen on ionCancel (iOS)"
#### Short description of the problem:
The whole view is pushed up by the keyboard and it's seen when the keyboard goes down.

Video : [http://sendvid.com/wrgu72ai](http://sendvid.com/wrgu72ai)

#### What behavior are you expecting?
The view not to lag on keyboard hide.

**Steps to reproduce:**
1. Open an `ion-searchbar`.
2. Cancel it using cancel button.
3. See view getting back in place.

**Whic

[2016-06-26 03:44] dgroh commented on #5101
Also here is a UX requirement... +1

[2016-06-26 07:34] lordgreg commented on #6881
+1

exactly the same behavior here. Having VirtualScroll with custom component leads to messed up view where each component overlays every other.

The VirtualScroll is as badly implemented as it was in Ionic1 and needs to be refactored or updated to allow that kind of code.

[2016-06-26 07:43] lordgreg opened #7056 "VirtualScroll listview jumps to beginning when doing nav.push for each element and then going back"
#### Short description of the problem:
VirtualScroll is, as it was in ionic1 badly implemented without being properly tested with different usecases. This issue assumes you have a listview using VirtualScroll. One element is ion-item which has click event leading you to details page of that element.

Going back from the details page to virtualscrollview will always lead you to being at the top of

[2016-06-26 07:46] shaikhspear16 opened #7057 "SplashScreen.java uses or overrides a deprecated API."
I have created a new Ionic 2 Beta 9 application.
I have recently installed jdk 8 in my pc.
When I run the default app, I get the following warning:

[code]

Complete Log:

[code]

Does the splashscreen.java file generated by ionic does not get updated as per the new jdk ?

Although It launches successfully. I would like to my application to be without errors/warnings.

Anyone facing the same issue

[2016-06-26 09:17] beck24 commented on #7056
My use case - deleting an item from the array, even without navigating from the list.

[2016-06-26 09:25] 312977 opened #7058 "when keyboard is opened on android,press Hardware BackButton only close keyboard,don`t return to backview"
$ionicPlatform.onHardwareBackButton(function () {
                var keyboardisOpen = cordova.plugins.Keyboard.isVisible;
                if (keyboardisOpen)
                {
                    cordova.plugins.Keyboard.hide();
                }
                else
                {
                    $ionicHistory.goBack();
                }
            });

but cordova.plugins.Keyboard.isVis

[2016-06-26 09:29] beck24 commented on #7056
It also makes virtualscroll unusable with infinitescroll, as it jumps to the top when new items are fetched

[2016-06-26 10:13] beck24 opened #7059 "VirtualScroll rendering bug on first item"
#### Short description of the problem:
First item in some virtualscroll lists is positioned incorrectly.

#### What behavior are you expecting?
Items should look the same as using a non-virtualscroll ion-list

**Steps to reproduce:**
1. View list as generated in the plunker
2.
3.

[code]

**Other information:** (e.g. stacktraces, related issues, suggestions how to fix, stackoverflow links, forum l

[2016-06-26 14:15] manucorporat commented on #6702
@Bouzmine @iignatov https://github.com/driftyco/ionic/pull/7060

[2016-06-26 15:02] manucorporat commented on #5275
@pjhartin @ghenry22 @quanghoc https://github.com/driftyco/ionic/pull/7061

[2016-06-26 16:09] Paul-Lo commented on #3483
@hswolf solved my problem.

[2016-06-26 19:08] sarahhostyk commented on #5595
hey thanks @brandyscarney! Would you by chance have an approx. date for the beta 10 release? It will just help me plan out parts of my project better knowing an exact projected date. Thanks again!

[2016-06-26 20:14] mpaland commented on #7056
Perhaps slightly related: #6787

[2016-06-26 20:54] rossmartin commented on #6918
I'm having the same issue in beta 9.  It happens to me while testing in Chrome and the iOS simulator.

[2016-06-27 00:43] ghenry22 opened #7064 "v2 Enhancement for platform style overrides in Config for ionic components"
#### Short description of the problem:

This is a feature request not a bug.

Currently in the config block we have the option to override the platform styling for some elements, for example iconMode: ios, pageTransition: ios etc.

It would be really useful to be able to over ride the default platform styling for other ionic components in the same way.  For example ion-range: md, ion-segment: ios.

[2016-06-27 00:45] ghenry22 commented on #7057
this issue should be logged against the cordova plugin splashscreen project.  Native code (where you are seeing this) is from the cordova plugin not from ionic:

https://github.com/apache/cordova-plugin-splashscreen

[2016-06-27 01:04] ToothpickFactory commented on #4986
This is what I did to get lodash working without errors.

npm install lodash --save
npm install -g typings
typings install lodash  --save // I left off --ambient. This made lodash a dependency
import {sum} from 'lodash' // In what ever file you want to use lodash

[2016-06-27 03:32] RunningV opened #7065 "sometimes it happens `File to import not found or unreadable: ionicons-icons `"
when i change scss file to a component style sometime it can build to css file sometime it happens errors at cli ` File to import not found or unreadable:`, i have no idea about it. i try to remove `node_modules` and `npm install` again it is alse the same.so it's not the node_modules problem .my sys is like this :
[code]
is it the windows sys problem???:persevere:

[2016-06-27 04:15] danbucholtz commented on #3907
`1.x` branch is now Ionic `1.3.1`.  If you clone the repo and checkout the branch, you should be able to run `gulp build` to generate the distributable files.

[2016-06-27 04:23] danbucholtz opened #7066 "Ability to prevent scrolling for both the app and a given scroll view"
As a developer, I would like to ability to freeze/prevent scrolling of a particular scroll view, or even the entire app.  The use case would be something like drag and drop, or even when swiping open an `ion-item`.

The ideal implementation allows a "ScrollDelegate" or something similar instance to be injected into component that lets the user call operations on it.

[code]

I am imagining an API

[2016-06-27 04:43] RioV opened #7067 "ionic keyboard and ngIf work not as expected"
#### Short description of the problem:
I have issue with:
    - Keyboard show/hide event (i'm using ionic keyboard)
    - Angular js 2 *ngIf to show/hide button in navigation bar when keyboard show/hide

Detail:
    - I'm using ionic v2 to build application. My app have 3 tab bars (like default ionic app when run command ionic start).
    - In first tab, I add 2 buttons in navigation bar using <io

[2016-06-27 04:48] dheran opened #7068 "Grey color mini button like component is showing up while first loading"
Ionic 2.

![screenshot_2016-06-27-10-15-47](https://cloud.githubusercontent.com/assets/15922996/16368802/6222a868-3c50-11e6-9c76-74d56cdf64e3.png)

[2016-06-27 05:15] jgw96 commented on #7067
Hello! Thanks for opening an issue with us! As this seems like more of a support question i will urge that you ask this question on our forum (forum.ionicframework.com). Thanks for using Ionic!

[2016-06-27 05:15] #7067 closed

[2016-06-27 06:02] BenjaminDieter opened #7069 "Feature request: Escaping literals in ion-datetimes displayFormat"
#### Short description of the problem:

I'd like to be able to escape string literals / characters in `ion-datetime`s property `displayFormat` in order to be able to control the output more flexible.
#### What behavior are you expecting?

I'd expect something like

[code]

or

[code]

to produce
`day 27.06.2016`

Another way to solve this could be transclusion:

[code]

**Which Ionic Version?** 1.

[2016-06-27 06:05] BenjaminDieter opened #7070 "Feature requests: Calendar weeks for ion-datetime"
#### Short description of the problem:

I need to display calendar weeks (according to [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601#Week_dates)), but `ion-datetime` doesn't support those.

I know you folks over there don't use calendar weeks as much as we (in Germany) do :stuck_out_tongue_winking_eye: Nevertheless I'd appreciate if I was able to use Ionics `ion-datetime`.
#### What behavior a

[2016-06-27 07:51] daveshirman commented on #6982
Hi, what was the result of the discussion with your team?  Is there a consensus on how to override the back button without losing basic page back, modal dismissing and alert dismissing functionality?

[2016-06-27 07:53] saideldah commented on #1865
Hello
is this issue solved?

i still have same problem with generated delegate-handle

this is  my code
JS Controller
`
$scope.swapName = "swap00";
    $scope.ds = function (sN) {
      $ionicSlideBoxDelegate.$getByHandle(sN).enableSlide(false);
    };
`
HTML
`
<ion-slide-box show-pager="false" delegate-handle="{{swapName}}" ng-init="ds(swapName)">
                 <ion-slide >
1

[2016-06-27 09:03] hanush-vijay opened #7071 "bug: email composer is not supporting android."
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>1.x</span>

**Platform**: <span ionic-platform>android</span> <span ionic-platform-version>4.4</span>  <span ionic-webview>webview</span>

<span ionic-description>i am using ngcordova email composer .. it works fine with ios but the function call back is not happening in android</span>

<span is-issue-template></span>

[2016-06-27 09:17] TivonChen opened #7072 "ion-input with type "number" conflicts with maxlength attribute"
Short description of the problem:

ion-input with type "number" conflicts with maxlength attribute, so that the number of characters we input can be more than maxlength. Change type to "tel", everything will be ok.

Steps to reproduce:
1. Add ion-input with type 'number' and set maxlength="10"
2. Enter more than 10 numbers

[code]
Other information:
Checked on Chrome browsers and on Android 6.0.

[2016-06-27 09:30] elineopsommer commented on #6974
@jgw96 Any updates on this? It is really important for us that this works..

[2016-06-27 09:31] ladmerc commented on #3907
Thanks. already downloaded the dist manually :D

[2016-06-27 10:57] manucorporat opened #7075 "Gesture issues"
There are several issues related with events listeners and collision of gestures in Ionic 2 that should be fixed in order to provide the best UX experience closest to a native app.

At first, I am going to enumerate them, and then propose several solutions to each one. I think we should always try to fix it using native JS/CSS apis whenever it's possible.

#### Preventing scrolling in ion-content

[2016-06-27 11:35] cindymarie opened #7076 "feat: Custom icons won't display on actual device"
**Type**: <span ionic-type>feat</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>mobile</span>  <span ionic-webview>webview</span>

<span ionic-description>I have added custom fonts. It is okay in the browser but when build and run on a mobile device, the custom icons(fonts) added are not displayed. It only displays white space.</span>

<span is-issue-t

[2016-06-27 12:34] manucorporat commented on #7076
Make sure the path of the font is relative.

[2016-06-27 12:43] stalniy opened #7077 "Support for view lifecycle hooks through decorators"
#### Short description of the problem:
Currently there is no way for nested components to hook into `view` lifecycle (`willEnter`, `didEnter`, etc...). The only possible to inject `ViewController` add subscription on appropriate event and then cleanup it in `ngOnDestroy` it's a bit tedious if you will repeat this in each component.

#### What behavior are you expecting?
I suggest to provide decora

[2016-06-27 13:15] mnogueron opened #7078 "bug: Loading won't dismiss in ionViewDidEnter"
#### Short description of the problem:

If we create and present a Loading in ionViewDidEnter function, the loader won't dismiss unless the call to dismiss is packed in a setTimeout with a zero timeout.

#### What behavior are you expecting?

The loader should be dismissed without the help of a setTimeout.

**Steps to reproduce:**
1- Create a fresh project: `ionic start MyIonic2Project blank --v2`

[2016-06-27 13:18] svnindia commented on #945
any solution found ?

[2016-06-27 13:54] jgw96 commented on #6386
Hello @webprofusion-chrisc ! Sorry, but at this time we have no plans to support IE11, however we do support Edge and using Ionic to build Windows Universal Apps!

[2016-06-27 13:55] jgw96 commented on #7071
Hello! While we appreciate you opening an issue with us i am going to close this issue and ask that you open a new one that has the issue template filled out please. Thanks for using Ionic!

[2016-06-27 13:55] #7071 closed

[2016-06-27 13:56] jgw96 commented on #7065
Hello, thanks for opening an issue with us! SInce this issue is an issue with the Ionic cli and not the framework i will be moving this issue to the ionic-cli repo. Thanks for using Ionic!

[2016-06-27 13:56] jgw96 commented on #7065
This issue was moved to driftyco/ionic-cli#1119

[2016-06-27 13:56] #7065 closed

[2016-06-27 13:58] jgw96 commented on #7057
Hello! Thanks for opening an issue with us. As @ghenry22 stated above i think this issue would best be looked at by some of the cordova team. Ionic does not build the splashscreen plugin, so even if i knew what the bug was, there's not much i could do to fix it. Sorry i couldn't help you more, and thanks for using Ionic!

[2016-06-27 13:58] #7057 closed

[2016-06-27 14:02] jgw96 commented on #6958
@vk2sky yep, that is what i expected. We have also been experiencing this and it seems to be a chrome bug related to emulating touch events. I can happily report though, that on the latest chrome canary it seems to be happening less, so it looks like they may be working on this bug. I would recommend opening an issue with the chrome. Thanks for using Ionic! As this is a chrome bug and not an ionic

[2016-06-27 14:17] brandyscarney commented on #5595
Hey @sarahhostyk, I plan on releasing beta 10 today as long as our testing goes well. :)

[2016-06-27 14:29] Bouzmine commented on #6668
Any update on this ?

[2016-06-27 14:38] jgw96 commented on #6310
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-06-27 14:38] #6310 closed

[2016-06-27 14:38] jgw96 commented on #6047
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-06-27 14:38] #6047 closed

[2016-06-27 14:41] manueltaber commented on #6621
This behaviour is also noticeable in a packed Android App (with Cordova).

Are there any new suggestions ho the resolve this issue?
Thanks

[2016-06-27 14:41] jgw96 commented on #7036
@chandanch I can not, if you could make a plunker that demonstrates this issue that would be great!

[2016-06-27 14:42] manueltaber commented on #6621
@hamark Using Crosswalk resolved the issue for you?

[2016-06-27 14:47] sarahhostyk commented on #5595
Awesome, thanks @brandyscarney!

[2016-06-27 14:52] danbucholtz commented on #7078
Hi @mnogueron,

Navigation events are asynchronous and return promises, so there is no guarantee that the loading indicator is displayed in your example.

Take a look at the docs here for a good example:
http://ionicframework.com/docs/v2/api/components/nav/NavController/

[code]

[2016-06-27 14:52] jgw96 commented on #7055
Hello, thanks for opening an issue with us! I will be closing this issue as a duplicate of https://github.com/driftyco/ionic/issues/5432. Thanks for using Ionic!

[2016-06-27 14:52] #7055 closed

[2016-06-27 14:53] #7078 closed

[2016-06-27 14:55] jgw96 commented on #7058
Hello! While we appreciate you opening an issue with us i am going to close this issue and ask that you open a new one that has the issue template filled out please. Thanks for using Ionic!

[2016-06-27 14:55] #7058 closed

[2016-06-27 14:57] mnogueron commented on #7078
Thanks @danbucholtz !

I missed this part of the documentation.

Matthieu

[2016-06-27 15:13] mhartington commented on #5724
@BugsBunnyBR Hey there! We understand your frustration.
At the moment, while we want to do this, it would require heavy changes to the current navController API that could break many apps out there.

There are some alternative ways though that can help you.

1) Pass data to a DataService and having it be in charge of maintaining state.

2) Pass the original component along during the first navigat

[2016-06-27 15:17] brandyscarney opened #7079 "Toolbar: ios mode removes all styles on a toolbar after transition"
To reproduce:

1. Add a toolbar with any styling on it:

[code]

2. Check ios mode and the style isn't there, md and wp mode have the styling.

![screen shot 2016-06-27 at 11 17 22 am](https://cloud.githubusercontent.com/assets/6577830/16384914/c6f6bede-3c58-11e6-884b-c809351f906c.png)

Version: Beta 9 (master).

[2016-06-27 15:18] jgw96 commented on #7072
Hello, thanks for opening an issue with us! The `maxlength` attribute is not supported by the number type input. If you would like more info on why and some workarounds feel free to check out this Stack Overflow [post](http://stackoverflow.com/a/18510925).

[2016-06-27 15:18] #7072 closed

[2016-06-27 15:21] jgw96 commented on #7076
Hey @cindymarie would you mind filling out the issue template and posting the info here? Unfortunately with the information provided there is not much we can do. Thanks for using Ionic!

[2016-06-27 15:29] jgw96 commented on #7077
Hello, thanks for opening an issue with us! While this is a great idea there are some implementation issues that the team discussed that just injecting `ViewController` does not have. When we implement the offline template compiler, something like this proposed api would have a big chance of breaking. Also, there is not a good way to go through nested components and "look for" these decorators. Li

[2016-06-27 15:29] #7077 closed

[2016-06-27 15:33] mhartington commented on #7068
Hi there! So it seems you've opened an issue but haven't provide us with the information on how to reproduce. We really need that information. Can you please post the steps. Thanks.

[2016-06-27 15:34] jeffroylance commented on #5724
@mhartington Don't worry about it :-)

I'm also in the camp that considers this feature a necessity, but I'd vastly prefer to wait and have it well made than to have it breaking things right now :-)

Thanks for all of your hard work Ionic Team :-)

And thanks for adding it to the milestones #^-^#

[2016-06-27 15:44] danbucholtz commented on #7077
Hi @stalniy,

There is an easy way to do this.  However, it is not documented very well 😄 .  Duly noted, and I will update the docs ASAP.

http://ionicframework.com/docs/v2/api/components/nav/ViewController/#willEnter

If you inject a ViewController into your child component, you will get the correct/expected ViewController for the page pushed on the nav stack.

`willEnter`, `didEnter`, etc are `E

[2016-06-27 15:57] jgw96 commented on #7068
Hello @dheran , this has been fixed for our beta.10 release. If you would like to try it out early you can install the latest ionic 2 nightly with `sudo npm install ionic-angular@nightly`. There are some very minor breaking changes in this release that we will have full upgrade instructions for but the biggest thing is that
[code]
should be changed to this
[code]

Thanks for using Ionic!

[2016-06-27 15:57] #7068 closed

[2016-06-27 15:58] jgw96 commented on #6416
Hello all , this has been fixed for our beta.10 release. If you would like to try it out early you can install the latest ionic 2 nightly with `sudo npm install ionic-angular@nightly`. There are some very minor breaking changes in this release that we will have full upgrade instructions for when we release but the biggest thing is that
[code]
should be changed to this
[code]

Thanks for using Ioni

[2016-06-27 16:05] jgw96 commented on #6974
Hello @elineopsommer i dont have any updates on this at the moment, but i will get back to you as soon as i do. Thanks for using Ionic!

[2016-06-27 16:08] manucorporat commented on #5724
- Use a modal
- Implement your own service, as a singleton shared state.

[2016-06-27 16:13] jgw96 commented on #7052
Hello, thanks for opening an issue with us! Would you mind removing your plugins and testing again? We are very early in our IOS 10 support and plan on improving that support as IOS 10 gets farther along in its development. Also, cordova itself is also early in its ios 10 support, so it is very possible that one of the plugins your using do not work with IOS 10. Thanks for using Ionic!

[2016-06-27 16:16] manucorporat commented on #5724
Also, you can pass an instance of you component to the next page when you push.

[code]

Definitely I don't like the idea of passing data through pop, unless someone can demonstrate an use case that can not be implemented with:
- A modal
- You own angular service, as a singleton
- Pass the parent as a parameter

[2016-06-27 16:21] jgw96 commented on #4875
Hello! Is this still an issue with the latest version of ionic? Thanks!

[2016-06-27 16:26] jgw96 commented on #6857
Hello @MattDHill can you reproduce this with a blank starter with scrolling content? I have been doing some testing on this and cant seem to reproduce on my iphone 5 or any of my Android devices.

[2016-06-27 16:40] BugsBunnyBR commented on #5724
Thanks @mhartington for the reply, I also understand that this might be big change and there may have issues related to it, but the later it is defined/implemented, more apps will break, lots of people already have ionic2 in production (without getting in the merit of they should or not) or are, at least,  already developing using it.

I am using a static data service at the moment, but the need t

[2016-06-27 17:02] jgw96 commented on #7026
@MaxDBN Unfortunately at this point it seems to be an issue with your local dev environment which, also unfortunately, i can't help with much and that this repo is not the proper place for. I would recommend asking for help on our forums (https://forum.ionicframework.com) as there are a ton of awesome devs on there that may be able to help debug your local environment. Thanks for using Ionic!

[2016-06-27 17:02] #7026 closed

[2016-06-27 17:07] jgw96 commented on #7045
Hello! Thanks for opening an issue with us! I am going to be closing this issue as a duplicate of https://github.com/driftyco/ionic/issues/5198 . Thanks for using Ionic!

[2016-06-27 17:07] #7045 closed

[2016-06-27 17:09] brandyscarney opened #7081 "Item: sliding item issues with borders"
1. When dragging a sliding item with **no** border, it shows a border during drag.
2. When dragging a sliding item with a border, there is a short gap where no border is seen before the border shows again.

Item without border:

[code]

![screen shot 2016-06-27 at 1 00 24 pm](https://cloud.githubusercontent.com/assets/6577830/16388641/09650be0-3c68-11e6-9467-662bc477934b.png)

Item with border ([h

[2016-06-27 17:12] danbucholtz commented on #6857
I can definitely reproduce this, @jgw96.

Thanks,
Dan

[2016-06-27 17:13] F1ow commented on #6857
Hi, here we go - follow the readme.
https://github.com/F1ow/ionic-alert-flicker

happens only on ios devices in my case

[2016-06-27 17:16] brandyscarney commented on #6667
I was able to reproduce this using the following end-to-end test: http://localhost:8000/dist/e2e/input/form-inputs/

Running it on my iPhone in Safari.

[2016-06-27 17:23] danbucholtz commented on #6999
@InfinityOne, Virtual Scroll will try to fill the entire space available.  Our items are small (images), so it just automatically does it.

Thanks,
Dan

[2016-06-27 18:05] #7081 closed

[2016-06-27 18:57] lordgreg opened #7083 "v2 icon button in toolbar with ngIf has different style"
#### Short description of the problem:
As the title says, having a button with icon in toolbar has border, IF `ngIf` is also on the button. Without ngIf, there's also no additional styling. *Please check Plunker url below*

#### What behavior are you expecting?
The styling should be the same with ngIf or without ngIf

[code]
[code]

**Other information:** (e.g. stacktraces, related issues, suggest

[2016-06-27 19:09] jgw96 commented on #6416
Seeing this issue again with the latest nightly. Reopening to investigate more.

[2016-06-27 19:20] grapemix commented on #6776
+1

We can wait till rc4, but please keep the offline template compiling high priority. FYI, the initial time for our app is around 8s, but the initial time of other native app is about ~1-4s. We really need to shorten the initial time.

Finally, thanks for the work.

[2016-06-27 19:31] jgw96 commented on #7083
Hello, thanks for opening an issue with us! We are actually already aware of this issue and are tracking it [here](https://github.com/driftyco/ionic/issues/5927), therefore i will be closing this one as a duplicate. Please feel free to put any comments or feedback for this bug on that issue. Thanks for using Ionic!

[2016-06-27 19:31] #7083 closed

[2016-06-27 20:01] jgw96 commented on #6776
@grapemix Its definitely high priority! We are working with the Angular team on a constant basis to get offline template compiling working with Ionic along with tree shaking and aggressive minification so that we can get our average app size much smaller. As mentioned above there are some changes to Angular that we are waiting on right now, but it will definitely get done (:

[2016-06-27 20:09] brandyscarney commented on #6989
Thanks @ghenry22. We'll update the docs to show this. I've updated the preview app to use the new syntax: https://github.com/driftyco/ionic-preview-app/commit/2edf4c6806b9432de73cd3b69684efe7f91332d6

https://github.com/driftyco/ionic-preview-app/blob/master/app/pages/searchbars/basic/pages.ts#L55-L68

[2016-06-27 21:10] jgw96 opened #7084 "<ion-content> goes behind <ion-header> in a menu"
#### Short description of the problem:
`<ion-content>` goes behind `<ion-header>` in a menu causing the top menu items to be cut off.

**Which Ionic Version?** Ionic 2 beta.10

[2016-06-27 21:53] jgw96 commented on #6766
Hello all! Thanks for opening an issue with us! I am going to close this issue as a duplicate of #6999 . Thanks for using Ionic!

[2016-06-27 21:53] #6766 closed

[2016-06-28 03:33] #5275 closed

[2016-06-28 03:54] dheran commented on #7068
@jgw96 I'm not using ion-navbar instead i'm using native toolbar. So this is not causing above issue right?

[2016-06-28 04:02] jgw96 commented on #7068
@dheran nope it should be fixed for you too (: We did a refactor of our entire layout, not just the navbar. Thanks for using Ionic!

[2016-06-28 04:49] ghenry22 commented on #6833
this is not specific to the modal, I see it everywhere on iOS uiwebview.  This has been improved a lot in beta9.

beta9 still has some issues with scroll acceleration not being right on virtualscroll but the animation is much smoother.

[2016-06-28 06:24] 312977 opened #7086 "when keyboard is opened on android,press Hardware BackButton only close keyboard,don`t return to backview"
# **#### Short description of the problem:

when keyboard is opened on android,press Hardware BackButton ，ionic closed keyboard and return to backview

#### What behavior are you expecting?

when keyboard is opened on android,press Hardware BackButton only close keyboard,don`t return to backview**

like this:
`$ionicPlatform.onHardwareBackButton(function () {
var keyboardisOpen = cordova.plugins.K

[2016-06-28 06:59] chandanch commented on #7036
Here is the plunkr. Run it in full screen mode and turn on the device emulation to iphone 6 or 5 the sidemenu does not open

https://plnkr.co/edit/roNYTz

[2016-06-28 07:17] elineopsommer commented on #6703
@jgw96 Any updates on this? I need this..

[2016-06-28 07:21] DmitriyWebDev commented on #2658
Although anyone of you solved his problem with the scroll lags? If so, how, please write.

[2016-06-28 07:39] Hufschmidt opened #7087 "ion-spinner style"
# Issue

According to the [ion-spinner api-doc](http://ionicframework.com/docs/v2/api/components/spinner/Spinner/) you should be able to change the spinner color by changing stroke style via

    ion-spinner svg {
      stroke: #444;
      fill: #222;
    }

But this does not work, since stroke (and fill) is defined on _classes_ of the form spinner-* (eg `.spinner-ios`, `.spinner-dots`, etc.) whic

[2016-06-28 07:58] Hufschmidt commented on #7087
# Additional notes:

The problem withe the desired solution seems similar to the following issues #6275, #6279 and #6277, so the same fix might apply here (and maybe on other components as well?).

[2016-06-28 08:06] jtushar53 opened #7088 "feat: Hide header while scrolling list down"
**Type**: <span ionic-type>feat</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>mobile</span>  <span ionic-webview>webview</span>

<span ionic-description>Hide header while scrolling list down and show while scrolling up if fullscreen on ion-content is enable</span>

<span is-issue-template></span>

[2016-06-28 08:32] lain-me commented on #7059
It is the same as https://github.com/driftyco/ionic/issues/6961
What you see is the first element really is there, but underneath, and "some part" of last element or some other junk on top of it. I had different views when the element height differs one from another.

[2016-06-28 08:43] slinto opened #7089 "bug: <ion-slide> not work correctly in beta.10"
### Problem
After loading a page my slider doesn't work correctly (show only 1 bullet point and slide don't work), but after resizing page, bullets have a right number and slider work correctly. I mean this is bug in beta.10.

**Ionic version:** Ionic 2 beta.10

### Example
http://g.recordit.co/5D2CzdZa1o.gif

### Discussion
https://forum.ionicframework.com/t/ion-slide-not-work-correctly-in-beta-1

[2016-06-28 09:05] dvdbrink opened #7090 "Searchbar sass build fails"
#### Short description of the problem:
I'm unable to build sass files due to an error in searchbar.ios.scss. This has been happening since upgrading to beta.9 and still persists in beta.10. My current workaround is manually replacing the file with https://github.com/driftyco/ionic/blob/c8f760f080d73817481131e7eccfdfd618296ada/src/components/searchbar/searchbar.ios.scss

**Steps to reproduce:**
1.

[2016-06-28 09:15] manucorporat commented on #7088
Duplicate of https://github.com/driftyco/ionic/issues/6690

[2016-06-28 09:15] #7088 closed

[2016-06-28 09:51] ratt opened #7091 "gulp build issues"
Upgrading to beta10 and gulp is not building the app.bundle.js
If we run the exact same code in beta9 the file is correctly created.

I have traced it to do with "ionic-gulp-browserify-typescript"

If there is an error in your typescript EG:
TypeScript error: /app/pages/home/home.ts(25,42): Error TS2304: Cannot find name 'cordova'.

We are using the current ionic-native file plugin so we have to a

[2016-06-28 09:55] mnogueron opened #7092 "Aria compatibility with Modal, pushed pages, Action Sheet and Alert"
#### Short description of the problem:

**Only tested on Android**
1- When displaying a modal, a new page with nav.push(), an ActionSheet or an Alert, the parent page is still read by Talkback.

Here the parent content is focused and read by Talkback even if the modal is in foreground:
![device-2016-06-28-111731](https://cloud.githubusercontent.com/assets/8511318/16410263/faf9739c-3d21-11e6-88ca-0

[2016-06-28 10:01] flavordaaave commented on #7091
I'm having the same issue. Simple test:
1) Create a new ionic 2 project using `—TS` option
2) Add following lines to `app/pages/home/home.ts`:
[code]
3) Serve app via `ionic serve`

==> TypeScript complains about: `Error TS2339: Property 'style' does not exist on type 'Element'.` and `/build/js/app.bundle.js` is not generated.

Before the update the app.bundle.js was still generated (and working)

[2016-06-28 10:13] rberthome commented on #284
Still the same for me, the user has to tap on the content to hide the scrollbar. Any news about this ?

[2016-06-28 10:15] ZiFFeL1992 commented on #7091
@ratt use `declare var cordova: any;` above your first '@' element

[2016-06-28 10:21] mbrookson opened #7093 "Swipe-to-back-back breaks if you release before half way across the screen"
On iOS, if you swipe to go back but let go BEFORE you have reached the mid way point (half way across the device screen), the app displays the back view, however it is completely unresponsive.

However, you can then perform the swipe-to-go-back gesture again and the page that was in view appears again and you can continue swiping back.

It is not until you do the full gesture or release AFTER the

[2016-06-28 10:22] mpaland opened #7094 "bug: ion-item-sliding problems in beta10"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>desktop</span>  <span ionic-webview>browser</span>

<span ionic-description>After upgrading to v2.beta10 using ios theme, the `<ion-item-sliding>` has two big problems:

1. Using `<ion-item-sliding>` in a virtual list is extremely unresponsive and laggy. I guess event handle

[2016-06-28 10:38] ratt commented on #7091
@ZiFFeL1992 Thanks, The issue still exits with other aspects of code as per @flavordaaave  comments. Here is an example
let video = document.querySelectorAll('video');
        if(video){
            for(let x =0; x < video.length; x++){
                video[x].pause();
            }
        }
    }

Which generates the following
TypeScript error: ..../app/pages/engine/base-page.ts(456,26): Error

[2016-06-28 10:41] ZiFFeL1992 commented on #7091
@ratt Try `let video: any = ...`

[2016-06-28 11:23] mpaland commented on #6955
This issue got worse in beta.10, especially the closing side menu on a tabs page makes visual problems in Edge now. There can always be content from other tab pages seen, when the menu slide is closing and the content of another tab is scrolled in. Upon the menu is closed, the page is refreshed and it's fine.
This can only be observed with the ios theme. I'm gonna make an updated plunker for this.

[2016-06-28 11:30] flavordaaave commented on #7091
@ZiFFeL1992 The problem is that the build process fails with any TypeScript "error" and in my code I still have a lot of them because sometimes TypeScript just not works as expected or I don't have all the Definitions for a library I'm using.

[2016-06-28 11:33] ratt commented on #7091
I can confirm if we clean up all Typescript errors, and put external libraries in the typings/index.d.ts

EG:
[code]
Then the app compiles again correctly

[2016-06-28 11:35] ratt commented on #7091
Thanks @ZiFFeL1992

I think perhaps a better way to explain this issue or references on how to fix may help new ionic 2/typescript devs

[2016-06-28 12:00] InfinityOne commented on #6243
If you are adding the `FAB` fixed it should follow the `Material design` rule:
[**Don’t block the floating action button**](https://material.google.com/components/snackbars-toasts.html#snackbars-toasts-usage) (find 2 videos showing the demo)

If we speak about `ionic2`, it its the `snackbar` (which is called `toast`) that will block the `FAB`, so a workaround is required so the `FAB` is translated

[2016-06-28 12:49] nikhilknoldus opened #7096 "Ionic2 GeoLocation not working on real device."
I'm using Ionic 2 geolocation its working fine in chrome browser (lat & long coming in browser log) but when i run this in real android device, nothing is coming.

[code]

writing this code in app.ts file.*

[2016-06-28 12:51] DavidWiesner opened #7097 "iOS: Missing top margin in the the toolbar of a modal"
#### Short description of the problem:

The toolbar on a modal on iOS needs more margin on top.

![img_0085](https://cloud.githubusercontent.com/assets/243115/16415038/7b53067a-3d3b-11e6-8f55-db7638702a7b.PNG)

#### What behavior are you expecting?

**Steps to reproduce:**
1. create and present a modal with an toolbar
2. run app on iOS device

[code]

#### Version
Your system information:

Cordova

[2016-06-28 13:11] mhartington commented on #7096
Hmm, not able to reproduce when testing a physical device

[2016-06-28 13:28] mhartington commented on #7096
Going to close. Working on both iOS and Android

[2016-06-28 13:28] #7096 closed

[2016-06-28 13:57] szerner opened #7098 "Ionic 2 Popover: Toolbar within ion-header or ion-footer doesn't stay fixed"
In a scrollable Popover (content size is larger than the window of the popover), a `<ion-toolbar>` within `<ion-header>` or `<ion-footer>` scrolls together with the content.

The toolbar should stay fixed on its relative position (top resp. bottom).

Popover template (with title and button to close):

[code]

Tested with Ionic 2 beta.10 on Android and Chrome browser.

Your system information:

[co

[2016-06-28 14:01] ErkoKnoll commented on #7084
Same problem seems to be related to tab content. Content get rendered behind the header and tabs footer thus cutting of some portion of the content. I think they have new "fullscreen" property turned on by default that was introduced in beta 10.

[2016-06-28 14:08] jgw96 commented on #7084
@ErkoKnoll did you follow the upgrade instructions [here](https://github.com/driftyco/ionic/blob/master/CHANGELOG.md)? I can't reproduce any issue with tabs.

[2016-06-28 14:28] mnogueron commented on #7092
Still the same issues on beta.10

[2016-06-28 14:33] joemalski opened #7099 "bug: dropdown list issue on orientation change"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>1.x</span>

**Platform**: <span ionic-platform>ios</span> <span ionic-platform-version>9</span>  <span ionic-webview>webview</span>

<span ionic-description>This issue happens on IOS 9.3.2.   Click on your dropdown list (I used select with ng-repeat option), just keep the list open or pop up then tilt your device to chan

[2016-06-28 14:35] ErkoKnoll commented on #7084
Hi,

Yes I did. There does not seem to be any kind of breaking changes related to tabs and tab contents since my tab contents are just pages with <ion-content> root element (also tested by adding ion-header with ion-title but it didn't seem to help). For some tabs it gets fixed when I navigate to some other tab and then navigate back. And it definitely broke with upgrade to beta 10.

[2016-06-28 14:59] joemalski commented on #7099
The issue might not be from the dropdown itself but calling
$state.go($state.current, {}, {reload: true});  on orientation change.  I need the reload statement since I need to update some css classed depending upon the orientation of the device.

[2016-06-28 15:08] brandyscarney commented on #7090
Hey @dvdbrink, are you setting any custom colors in your Sass theme files? Could you show me what your `$colors` map looks like in `app.variables.scss`? Thanks!

[code]

[2016-06-28 15:13] mpaland commented on #7094
The item sliding is extremely unresponsive on my real Android 6.0 device, too.

[2016-06-28 15:20] biesbjerg opened #7100 "Scrollbars goes behind header/toolbars/tabs when using fullscreen property"
When using the new fullscreen property on ion-content in beta 10, scrollbars goes behind header, toolbars and tabs.

[code]

![image](https://cloud.githubusercontent.com/assets/230182/16421188/6f7c61d4-3d54-11e6-9e91-fed217287f4e.png)

[2016-06-28 15:41] slorber commented on #4293
+1

[2016-06-28 15:44] mypark commented on #945
Should be fixed in the new build I think - issue was closed.

[2016-06-28 15:51] FdezRomero commented on #7084
Hey @jgw96,

I'm having the same problem. Plus, it's not clear where `<ion-tabs>` should go because the changelog says:

So you would think `<ion-tabs>` should go at the root page level like always, but at the end you read:

Regardless of the bug, where should `<ion-tabs>` go?

Thanks!

[2016-06-28 16:21] jgw96 commented on #7091
Hello all! While the build is actually working as expected right now we are discussing this to see the best way for our build to handle typescript errors. I will keep this issue open so that i can update you guys on what we come up with. Thanks for using Ionic!

[2016-06-28 16:28] jgw96 commented on #7100
Hello, thanks for opening an issue with us! Unfortunately with UIWebView there is not currently a way to fix this issue. We are aware that it is not ideal, but we are limited by UIWebView in this situation. We are working on some cool WKWebView things that we will be able to fix this issue with though. Thanks for using Ionic!

[2016-06-28 16:28] #7100 closed

[2016-06-28 16:30] jgw96 commented on #7099
Hello, thanks for opening an issue with us! Would you be able to provide a plunker or repo that i could use to reproduce this issue? Also, does it only happen on ios or Android too? Thanks for using Ionic!

[2016-06-28 16:37] brandyscarney commented on #7097
Is your toolbar in an `ion-header`? Like this:

[code]

Please see the steps to upgrade to beta 10 and let me know if this issue persists: https://github.com/driftyco/ionic/blob/master/CHANGELOG.md#steps-to-upgrade-to-beta-10

Thanks!

[2016-06-28 16:41] HamzaLJ opened #7101 "Issue after updating to IONIC2 v10"
I am getting the following error when I updated today to the latest ionic framework version:

Cordova CLI: 6.2.0
Ionic Framework Version: 2.0.0-beta.10
Ionic CLI Version: 2.0.0-beta.32
Ionic App Lib Version: 2.0.0-beta.18
ios-deploy version: 1.8.6
ios-sim version: 5.0.8
OS: Mac OS X El Capitan
Node Version: v5.9.0
Xcode version: Xcode 7.3.1 Build version 7D1014

Can you please tell me how to solve

[2016-06-28 16:44] jgw96 commented on #7084
@ErkoKnoll or at @FdezRomero would you be able to provide a plunker or just an example of your template that i can use to reproduce this issue?

[2016-06-28 16:44] brandyscarney commented on #7101
Which version did you update from? `beta 9`? Can you paste the code on line 21 of `app.js`?

[2016-06-28 16:45] HamzaLJ commented on #7101
@brandyscarney thanks for the quick reply.
I updated from beta 7.
Here is the line:
      ` this._config = _config;`

[2016-06-28 16:48] jgw96 commented on #7098
Probably related to this issue: https://github.com/driftyco/ionic/issues/7084

[2016-06-28 16:49] brandyscarney commented on #7101
Ok so a lot has changed since beta 7. :smile: Could you go through the upgrade steps for each release and make sure you have everything up to date:

Changelog: https://github.com/driftyco/ionic/blob/master/CHANGELOG.md
Upgrade to beta 8: https://github.com/driftyco/ionic/blob/master/CHANGELOG.md#steps-to-upgrade-to-beta-8
Upgrade to beta 10: https://github.com/driftyco/ionic/blob/master/CHANGELOG.

[2016-06-28 16:52] HamzaLJ commented on #7101
Okay then, I'll follow all the steps from 8 to 10 and let you know if the error disappeared.
Thank you for the reply.

[2016-06-28 16:59] FdezRomero commented on #7084
Sure @jgw96. My root navigation in `app.ts` looks like this:

[code]

At the referenced `rootPage` I have a navigation bar, then a tab bar, and then the content (inside the `<ion-tab>`):

[code]

The problems I found are:
- Both `<ion-tabs>` and `<ion-content>` are shown behind the `<ion-header>`.
- Child pages keep the `<ion-navbar>` of the parent page and don't show their own `<ion-navbar>` on t

[2016-06-28 17:08] jgw96 commented on #7084
ahh, thanks @FdezRomero! Now i know whats wrong. So, `ion-tabs` should not be in a template that includes anything else. `ion-tabs` are meant to be a "wrapper" for pages. If you create a tabs starter with `ionic start CoolApp tabs --v2` you will see a good example of how  tabs are meant to be used. From what i can see from looking at your template it looks like your using tabs for something that w

[2016-06-28 17:23] FdezRomero commented on #7084
@jgw96 Got it, thanks! It was weird that it was working perfectly and then suddenly broke!

I would suggest to update the tabs docs to specify that they are meant to be used alone as a root component, and when you should choose tabs or segments. I chose tabs because I wanted to have an individual component per segment/tab, they were also a better fit for the design.

[2016-06-28 17:31] jeromeXoo commented on #7024
Is there any chance that it will be included in a future release?
If it is not possible, I will have to use an alternative to the virtual scroll.
Thanks for letting me know.

[2016-06-28 17:35] HamzaLJ commented on #7101
@brandyscarney I followed all the steps, and now I am getting a blank page only, no error whatsoever, what should I do?

[2016-06-28 17:42] csvan commented on #2658
@DmitriyWebDev did you try my suggestion above?

[2016-06-28 17:49] jgw96 commented on #7094
Hello, thanks for opening an issue with us! Would you be able to provide a plunker or repo that we can use to reproduce this issue please? Thanks!

[2016-06-28 17:53] jgw96 commented on #7087
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-28 17:59] brandyscarney commented on #7101
@HamzaLJ Are there any errors in the command prompt/terminal where you are running `ionic serve`? Can you try running `gulp clean`, then remove the `node_modules` folder and run `npm install` please. Then try `ionic serve` again.

[2016-06-28 18:01] jgw96 commented on #7084
@FdezRomero No problem. Yeah, this is something that probably should not have ever worked like that, sorry about that. A docs update is a good idea, i will look into that (: . Thanks for using Ionic!

[2016-06-28 18:05] jgw96 commented on #7023
Hello! Is this still an issue with the latest version of ionic? Thanks!

[2016-06-28 18:11] jgw96 commented on #7086
Hello! Thanks for opening an issue with us! As this seems like more of a support question of how to implement custom functionality, i will urge that you continue this conversation on the forum. Thanks for using Ionic!

[2016-06-28 18:11] #7086 closed

[2016-06-28 18:18] itrethan commented on #6563
@adamdbradley It's needed desperately. The lack of router in the ionic2 is block us from writing proper integration test. There is no easy way to land on a specific page.

Since angular team have just updated their new router (3.0), I think it's the right time to support this feature.

[2016-06-28 18:22] ErkoKnoll commented on #7084
So if I understand you correctly you are saying that tabs component should be used as a root component of he app and not anywhere else? Currently indeed my app uses tabbed page in a page that is pushed in via navController and currently it also has ion-navbar on top of ion-tabs to provide a back button and it worked really great until now. Would be really unfortunate if you didn't support that use

[2016-06-28 18:23] pantonis commented on #5101
From beta 3 it was moved to beta 12. :(

[2016-06-28 18:25] ErkoKnoll commented on #7084
On the second thought I cannot do the workaround myself since it works irregularly and sometimes gets fixed if you switch the selection of tabs. Please consider fixing it also for the use case pointed out by me and @FdezRomero.

[2016-06-28 18:25] jgw96 commented on #6621
Hello all! I am going to be closing this issue in favor of https://github.com/driftyco/ionic/issues/6776 as that one is more up to date. Feel free to follow the progress there!

[2016-06-28 18:25] #6621 closed

[2016-06-28 18:29] jgw96 commented on #6691
Hello, i just tested this issue with the latest version of the ionic beta cli (beta.32) and it seems to be generating the correct pipe name now with no `-`. Thanks for using Ionic!

[2016-06-28 18:29] #6691 closed

[2016-06-28 18:32] kitkimwong commented on #5101
@pantonis  Really expect this feature too..

[2016-06-28 18:32] HamzaLJ commented on #7101
I haven't seen any error in the terminal when running `ionic serve`

I've done it; however, I received some warning on the terminal after I deleted the `node_modules` folder and run `mpm install` and got the following warnings:

`npm WARN @angular/http@2.0.0-rc.3 requires a peer of rxjs@5.0.0-beta.6 but none was installed.
npm WARN @angular/core@2.0.0-rc.3 requires a peer of rxjs@5.0.0-beta.6 but

[2016-06-28 18:36] jgw96 commented on #7036
Helo @chandanch unfortunately it looks like your plunker is using an outdated version of Ionic 2 and seems to just show a white screen for me. Would you mind creating a plunker from this plunker template? http://plnkr.co/edit/me3Uk0GKWVRhZWU0usad?p=preview

[2016-06-28 18:38] jgw96 commented on #7101
Hello @HamzaLJ , if you look in your www/build/js folder do you see a file named `app.bundle.js`?

[2016-06-28 18:41] manucorporat commented on #7094
@jgw96 @mpaland don't worry I am aware of this issues. There are not easily fixable without breaking stuff

[2016-06-28 18:47] HamzaLJ commented on #7101
@jgw96 I have it, it's a very large file

[2016-06-28 18:48] brandyscarney commented on #7101
@HamzaLJ Can you copy the dependencies from the starter app here into your own `package.json`: https://github.com/driftyco/ionic2-app-base/blob/master/package.json#L3-L15

(Make sure to remove the `angular2` entry)

Then repeat the steps to remove the `node_modules` and run `npm install` again? You could also create a new project and copy over your `www/` and `app/` folders if that's easier but we

[2016-06-28 18:51] brandyscarney commented on #7101
Also, are you checking the console in developer tools for errors? If you're using Chrome: https://developers.google.com/web/tools/chrome-devtools/?hl=en

[2016-06-28 18:53] ErkoKnoll opened #7102 "feat: Add support for using tabs in any page"
**Type**: <span ionic-type>feat</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>As it turns out tabs component is only meant to be used in root page which is currently undocumented and breaks the behavior in beta 10 release.
I really like the tabs look and feel and over segments and would like continue using it in pa

[2016-06-28 19:01] lordgreg opened #7103 "virtualScroll with sortBy (or any other) pipe"
#### Short description of the problem:

Having an un-ordered list, I've decided to used pipe, which sorts my array by key and order (desc or asc). VirtualScroll doesn't take the ordering in consideration if you're filing your array from http responses (meaning it takes a bit longer to load).
#### What behavior are you expecting?

VirtualScroll SHOULD properly take all pipes in consideration when l

[2016-06-28 19:34] HamzaLJ commented on #7101
@brandyscarney I've copied the dependencies as you recommended, now `package.json` looks like the following:

  "dependencies": {
    "@angular/common": "^2.0.0-rc.3",
    "@angular/compiler": "^2.0.0-rc.3",
    "@angular/core": "^2.0.0-rc.3",
    "@angular/http": "^2.0.0-rc.3",
    "@angular/platform-browser": "^2.0.0-rc.3",
    "@angular/platform-browser-dynamic": "^2.0.0-rc.3",
    "@angular/ro

[2016-06-28 19:45] HamzaLJ commented on #7101
I am already checking the console in developer tools for errors, it's blank!

[2016-06-28 20:04] jgw96 commented on #6992
@EugeneSnihovsky would you mind testing this with beta.10? We did a layout refactor in that version that should help with this. Thanks!

[2016-06-28 20:31] brandyscarney commented on #7101
@HamzaLJ Sorry it's hard to help without seeing the code or being able to reproduce it. Is there any chance you aren't using an `ion-nav` or maybe you are setting your `root` page to something that doesn't exist?

[2016-06-28 20:33] TheBrockEllis commented on #6209
I am having the same issue, and it looks like it is because I'm trying to present the Loading and dismiss it too quickly. This is part of my page that handles a searchbar component:

[code]

I also get the "ORIGINAL EXCEPTION: TypeError: Cannot read property 'nativeElement' of undefined".

I can confirm that adding in an artificial delay using setTimeout() when trying to clear the Loading makes it

[2016-06-28 20:37] mhartington commented on #7101
Hmm, there could any number of things going on here. @HamzaLJ because it's JS, we can't fully get a good output on what the error could be. Could be a small error in the build, could be an incorrect root component, or a number of things

What I recommend is upgrading your project based on a new TypeScript starer. This will give you the benefits of a typescript setup, and also a chance to look over

[2016-06-28 20:40] danbucholtz opened #7104 "Leave Transition, Entering Page Reference"
When executing a `leave` transition (`pop` or `dismiss`, in my case `dismiss`), I cannot properly get a reference to the previous `viewController`'s `pageRef`.

Typically in a transition, `enteringView.pageRef()` or `leavingView.pageRef()` is used to allow us to query dom elements to animate them.

In the case of a leaving transition, the `enteringView` viewController's view is already in the dom,

[2016-06-28 20:44] jgw96 commented on #6209
Hello all! We are currently working on a refactor of the way "overlay components" like the loading component get pushed onto the stack. This should fix this issue. We may do a nightly that includes these changes soon and i will update this issue when that happens. Thanks!

[2016-06-28 20:45] adamdbradley commented on #5712
Sorry but I believe this is not specifically a problem with how Ionic pages work, but rather how this particular cordova plugin works. I'd recommend listening to the lifecycle events and changing the visibility of the map.

[2016-06-28 20:45] #5712 closed

[2016-06-28 20:48] jgw96 commented on #6742
Hello @zwtan would you mind testing this again with the latest ionic 2 beta? We did a layout refactor which may fix this issue. Thanks for using Ionic!

[2016-06-28 20:53] HamzaLJ commented on #7101
@brandyscarney I have commented the JS of the root page and also the whole HTML file, I only added the following to see if that will appear:

However, here is my `app.js`

`
import 'es6-shim';
import {Component} from '@angular/core';
import {ionicBootstrap, Platform} from 'ionic-angular';
import {StatusBar, Push} from 'ionic-native';
import {HomePage} from './pages/home/home';

@Component({
  temp

[2016-06-28 20:58] EugeneSnihovsky commented on #6992
@jgw96, I update my repository **branch** (ER-2_navbar_menu_error) to ionic2.beta.10 and still have an issue.

The problem somewere here
https://github.com/driftyco/ionic/blob/2.0/src/components/menu/menu.ts#L346
Missing additional check that current menu is the same and **self._isEnabled** should not became false.

[2016-06-28 21:02] jgw96 commented on #6857
Hello all! I just did some testing with our latest beta and am glad to report that i only see flashing with the action-sheet component now. I will be closing this issue and opening a new issue focused on the action sheet. I will link that new issue to this issue so that you guys can follow it. Thanks for using Ionic everyone!

[2016-06-28 21:14] HamzaLJ commented on #7101
Guys, thanks a lot for your help, after some debugging, I found that I am missing the following line by the end of app.js

Please add more details in the documentation concerning the updates from version to version. Furthermore, please support the JS more than that, as the majority of developers have a solid background in the that language.

[2016-06-28 21:22] #7084 closed

[2016-06-28 21:39] jgw96 commented on #7101
Hello @HamzaLJ im glad you figured out what was wrong! To see the changes and update instructions for each release you can always check out the [changelog](https://github.com/driftyco/ionic/blob/master/CHANGELOG.md). We like to keep our docs focused on how to use our components, how to get started etc and use the changelog to list changes in each release and how to update your app for them. On the

[2016-06-28 21:39] #7101 closed

[2016-06-28 21:40] #6951 closed

[2016-06-28 21:44] adamdbradley commented on #5605
Because you're placing ion-labels within an ion-list that's nested within an ion-item, the top most ion-item is correctly pulling out the ion-label for content projection on the top level ion-item. I would recommend no nesting an ion-list within another ion-item when using an ngFor like this. Sorry for not having a better answer, but I believe this would be expected behavior for Angular 2.

[2016-06-28 21:44] #5605 closed

[2016-06-28 21:46] danbucholtz commented on #6799
Agreed, this would be a nice improvement to the framework.

[2016-06-28 21:49] wzr1337 opened #7105 "[feature request] build chain error handling"
I just had an issue with code that did not compile because I wanted to assign a number to a string. Typescript did not compile. This caused to browser code I was running to remain the same. Unfortunately, I did not notice the error in the shell, because it was hidden behind the editor.

I would strongly recommend to catch any build error, pipe it into a static page and refresh the app in the brows

[2016-06-28 21:50] jgw96 commented on #7102
Hello @ErkoKnoll after discussing this with my teammates today we have decided that we will not be supporting this for now, although it could be something we would consider in the future. If you would still like to use tabs on `non-root` pages then you should just be able to set the tabs to `position relative`. This isnt officially supported, so it would have the potential to cause other issues, b

[2016-06-28 21:50] #7102 closed

[2016-06-28 21:52] jgw96 commented on #7105
Hello, thanks for opening an issue with us! Since this is a feature request that would be implemented by the ionic-cli and not the framework I will be moving this issue to the ionic-cli repo. Thanks for using Ionic!

[2016-06-28 21:52] jgw96 commented on #7105
This issue was moved to driftyco/ionic-cli#1127

[2016-06-28 21:52] #7105 closed

[2016-06-28 21:57] adamdbradley commented on #6799
For this, the user's component could have a template variable, like `<ion-datetime #myDatetime/>`. Then `@ViewChild('myDatetime')` can be used to find the component. Next with that reference they can call `present()`. But I don't believe the present methods are exposed on something like ion-datetime or ion-select, so that's all we'll have to do (along with docs on how to do it).

[2016-06-28 21:57] jgw96 commented on #6992
Hello @EugeneSnihovsky thanks for all your patience and working with me on this issue! Unfortunately, i am not sure that this is a use case that we can support since it would require integral changes to how the sidemenu works that could break other use cases. Thanks for using Ionic and sorry for any trouble this causes you.

[2016-06-28 21:57] #6992 closed

[2016-06-28 22:44] daveshirman opened #7106 "Ionic 2: iOS navbar height too large when component with button+badge inserted."
#### Short description of the problem:
If you declare a custom component with a button that contains a `badge` or an `icon` and import it into a navbar, the height of the component is too large, causing the navbar to swell in height on iOS.

#### What behavior are you expecting?
Navbar height is not affected, component height is correct.

**Steps to reproduce:**
1. Make a component with a button c

[2016-06-28 22:44] emreiser commented on #4193
I’m having what appears to be a related issue with Ionic 1.3.1 on Android 5.1 and 6.0.
After the keyboard is opened and closed on a text input, view content is incorrectly sized and the footer bar is pushed off the screen. I am unable to scroll or view the footer bar unless the app is backgrounded and foregrounded again.

Proper content display:
![screenshot_2016-06-28-18-08-12](https://cloud.gith

[2016-06-28 22:46] chansky opened #7107 "bug: Entering a tab page, tabs block content"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>desktop</span>  <span ionic-webview>browser</span>

<span ionic-description>I have an app, where after a login the user gets to a page with 3 tabs. At the top of this page there is a tab bar with an icon to represent each of the tabs. I want the 2nd tab to be the one which s

[2016-06-28 22:54] assisrafael commented on #6580
This is still a problem in 2.0.0-beta.10

[2016-06-28 23:19] Manduro opened #7108 "Not detecting Cordova using Ionic Deploy"
Ionic Deploy requires `cordova.js` to be removed from `index.html`, as it gets added with the right path on start. This has always worked fine until recently.

Now, Ionic does not detect the app as being run in cordova anymore. Instead it is tagged as the `mobileweb` platform. This causes calls to cordova plugins to often fail, as the `platform.ready()` is launched on `domready` instead of `device

[2016-06-29 00:30] #7094 closed

[2016-06-29 00:31] manucorporat commented on #7094
@mpaland issue 2 should be fixed! please, can you open a new issue only with the first issue?

Using <ion-item-sliding> in a 'normal' list is fine!
I tested this in Edge and FF47 browser. This was okay in beta.9.

[2016-06-29 04:02] fuhongbo opened #7109 "ionic2 beta 10 bug, when tabs set preloadTabs="true""
If set preloadtabs is true, it will get a error message is "undefined is not an object (evaluating 'scrollEle.style')"

[2016-06-29 05:14] chandanch commented on #7036
Here is the updated plunkr link:

http://plnkr.co/edit/GgEvHK?p=preview

Run it in full screen mode and turn on the device emulation to iphone 6 or 5 the sidemenu does not open

[2016-06-29 05:17] yyuna opened #7110 "$ionicTabsDelegate does not work when use it at ion-side-menus in ion-tabs"
$ionicTabsDelegate does not work when use it at ion-side-menus in ion-tabs

ionic version.json:

Sample:

[code]

The 'app' is a ion-tabs,  the 'app.menu' is ion-side-menus, the 'app.menu.home' is a ion-view in ion-side-menu-content.

[code]

The tabs do not hide...

[code]

Get warning:
Delegate for handle "tabs-handle" could not find a corresponding element with delegate-handle="tabs-handle"! sh

[2016-06-29 05:29] saqueib opened #7111 "'ionic resources' generating empty directories with no icon and splash images"
I am trying to generate icon and splash using `ionic resources` command but it's giving me empty directories every time.

so I tried using `ionic resources --icon` which generated icons, but same with `--splash` is still not giving any splash screens.

[code]

[2016-06-29 05:42] shivarad commented on #2376
ion-infinite scrolling is not working for me in v1.1.0 for vs2015 package of phongeap!

[2016-06-29 05:49] mnasyrov opened #7112 "Content component should provide info about a top position of scrollable content"
#### Short description of the problem:

I have a custom component for sticky headers which pins a header to a top of `ion-content`.
After migration to beta-10, `ion-content` adds a top padding for `ion-header` and tabs which breaks my sticky headers. I have to use a private `Content.adjustedTop` field to fix calculations of sticky header's position.

#### What behavior are you expecting?

A way to

[2016-06-29 06:22] oktav777 opened #7113 "VirtualScroll issues"
#### Short description of the problem:

Again virtualScroll :D

See the plunker bellow. At the begging the container of `virtualScroll` has 0 height, all items are in one line overlapping each other. If you go to inspect element and set height manually in pixels to the container, then scroll a bit the `virtualScroll`, it seems to work, its setting already the correct calculated height. But there i

[2016-06-29 06:57] dvdbrink commented on #7090
@brandyscarney Yes, I am.
[code]

[2016-06-29 07:21] xr0master commented on #7089
Anyfix?

[2016-06-29 07:34] hackfrag commented on #7089
+1

[2016-06-29 07:39] gxsjtu commented on #7010
yes, please provide one way to dismiss keyboard when search finish.
'enter' hitting tiggers cancel event cause dismiss keyboard in submit fail.

[2016-06-29 07:53] gxsjtu commented on #6496
In beta 10, i do not thing it work correctly.
the tabbar is indeed hidden in tab sub pages, but scroll-content has margin-bottom same with tabbar height, some content will be covered.

[2016-06-29 08:01] andersfa87 commented on #7023
Hi,

I just updated the Plunker to beta.10, and the issue is still there.

[2016-06-29 08:39] cinkonaap opened #7114 "Ionic2 html dimmension bug with cordova-plugin-screen-orientation"
#### Short description of the problem:

I know this could be not on Ionic side, but I feel like it can be something going on here. Basically I am creating Ionic2 app, and I want to lock and change screen orientation at runtime. Plugin methods work fine, but when I change orientation from `portrait` to `landscape`, and then change it back to `portrait`, `HTML` dimensions does not recalculate (whole

[2016-06-29 08:58] nikhilknoldus commented on #7096
This issue must not be closed, it's still not resolved. Can you send me the example that you tried and not reproducing this error ? @mhartington

[2016-06-29 09:02] elineopsommer opened #7115 "Async pixel transfers not supported"
#### Short description of the problem:
Weird behaviour + errors in log: [INFO:async_pixel_transfer_manager_android.cc(60)] Async pixel transfers not supported

#### What behavior are you expecting?
Tutorial app working like expected

**Steps to reproduce:**
1. install genymotion and start virtual device Samsung Galaxy S4 - 4.4.4 - API 19
2. ionic start MyIonic2Project tutorial --v2
3. cd MyIonic2P

[2016-06-29 09:24] mpaland opened #7116 "bug: ion-item-sliding laggy in virtual scroll list"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x beta.10</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>@manucorporat wrote

This is related to #7094

In my test app and on Android I'm seeing always the effect. It seems to be related to the number of items in the virtual scroll list. More items - more lagged.

It's a bit tricky to re

[2016-06-29 09:34] RaymondAtivie opened #7117 "Ionic 2 popover: Doesn't allow content to scroll"
#### Short description of the problem:
A page is not scroll able if it was navigated to from a click event in a popover

#### What behavior are you expecting?
Expected behaviour is for the page to be scroll able regardless of where it is navigated from as long as the contents is more than the view point.

**Steps to reproduce:**
i have a plunker for this http://plnkr.co/edit/v5oBFP?p=preview

**Ot

[2016-06-29 10:06] F1ow commented on #6857
Hi @jgw96 unfortunately I still have this issue with beta.10! Select and Alert component flicker.

[2016-06-29 10:08] SegoleneM commented on #5556
Thanks for the fix ! But now it hides the navbar even if there is one in the parent page containing the tabs...

[2016-06-29 10:24] DavidWiesner commented on #7097
yes in beta 10 I already add ion-header. But this issue was also in beta 9. In beta 10 this was getting worst now also ion-toolbars (now surrounded with ion-header) has no padding to top. But the menu will.
![img_0094](https://cloud.githubusercontent.com/assets/243115/16447995/7b968e90-3def-11e6-9413-e78762f9747f.PNG)
![img_0093](https://cloud.githubusercontent.com/assets/243115/16448001/8027c618-

[2016-06-29 10:40] pawsaw opened #7118 "[ionic2] ionic package build android - Invalid transformation: invalid width: 2732 (CLI v2.0.0-beta.28)"
Cordova CLI: 6.2.0
Ionic Framework Version: 2.0.0-beta.9
Ionic CLI Version: 2.0.0-beta.28
Ionic App Lib Version: 2.0.0-beta.16
ios-deploy version: Not installed
ios-sim version: 5.0.8
OS: Mac OS X El Capitan
Node Version: v5.11.1
Xcode version: Xcode 7.3.1 Build version 7D1014

[code]

The width 2732 is the pixel size of the splash.png in the resources folder.

[2016-06-29 10:42] Hufschmidt commented on #7087
Added plunkr:
http://plnkr.co/edit/q7nsexm51CosPoxMt3qW?p=preview

Important code is in home.html (ion-spinner with class attribute) and the generated output (ion-spinner without custom class attribute, replaced by ionics spinner-*** class.

[2016-06-29 10:46] DavidWiesner opened #7119 "iOS: duplicated border if multiple toolbars in ion header"
#### Short description of the problem:
If I put multiple toolbars in an ion-header there is an border between this toolbar

#### What behavior are you expecting?
No Border between the toolbars

**Steps to reproduce:**
See Plunkr http://plnkr.co/edit/7trkahTuBd6xK9Rx7kNs?p=preview

#### Here is a workaround
[code]
##### Versions
Your system information:

Cordova CLI: 6.2.0
Gulp version:  CLI versio

[2016-06-29 10:46] headshota commented on #6543
Same issue (on ionic 1.0.0) on iOS 9.2.1. `data-tap-disabled="true"` fixes the problem, although adds a 300ms delay.

[2016-06-29 10:51] DavidWiesner commented on #7097
@brandyscarney I think the bug in beta 9 was fixed with the commit https://github.com/driftyco/ionic/commit/181129b7b4325c550ef16139f6a5f61f30878d3e#diff-f1546b317b865985df56bba719ec4704 . In beta 10 it's still an issue on the device

[2016-06-29 10:57] Hufschmidt commented on #7087
I've gone through the source-code and ion-spinner is the only component left with this issue, which seems to be caused by having a `[class]='some-value'` binding in the components decorator host setting.

132d8e977aa5e4f2078b945322c585c4eca7cf0d fixed this for ion-slides by using Renderer from @angular/core instead. :)

[2016-06-29 11:12] rahul-sdei commented on #365
Where do i put ionic.Platform.isFullScreen = false; in meteor + ionic

[2016-06-29 11:43] F1ow opened #7120 "While swiping to go back, vertical scrolling possible"
#### Short description of the problem:
When I swipe to go back, I can also swipe vertically and either the active or the new page scrolls. This happens only if the content is long enough, so there is something to scroll.

#### What behavior are you expecting?
While horizontally swiping to go back the vertical touch events should be ignored. At least scrolling should be disabled. This default behav

[2016-06-29 11:54] laurentf commented on #7111
same problem here.. any idea?

[2016-06-29 11:54] DavidWiesner commented on #6623
@mhartington  @arlowhite

For return false on  `ionViewWillLeave` works like expected also open an `Alert` in `ionViewWillLeave` will work.

Here is an Plunkr
http://plnkr.co/edit/SQqbtdrYpN8s0apmP66o?p=preview

[2016-06-29 12:00] manueltaber commented on #6623
@DavidWiesner
Was this feature introduced in beta 10?
I can not find any changelog...

[2016-06-29 12:15] DavidWiesner commented on #6623
@manueltaber this will work for a long time at minimum since beta 4. Only `onPageWillLeave` was renamed to `onPageWillLeave` in beta 8

[2016-06-29 12:27] flavordaaave opened #7121 "bug: Input type number is not respected"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>Steps to reproduce:

1) Create an `ion-input` with `type="number"`
2) Add `[(ngModel)]` and `(ngModelChange)` to get the Value of the input
3) Check the type of the value using `typeOf(value)`
4) Type in a number into the input
=> Type is

[2016-06-29 12:37] ErkoKnoll opened #7122 "feat: Segment switch page caching"
**Type**: <span ionic-type>feat</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>Currently when segment is switched the content is recreated for the page. Please add an option to load already loaded content once it is switched active and also make use of lazy loading. By lazy loading I mean it shouldn't load all the c

[2016-06-29 12:39] mnogueron commented on #7092
It seems that animations are causing the bad positioning of the focus for a pushed page, modal alert or action sheet. Talkback seems to initiate before the end of the animations that causes the bad positioning of each element in the page.

A working workaround consists of adding this to your pushed or modal page:

[code]
By setting the width of the body to a different value than 100%, it will forc

[2016-06-29 13:08] ErkoKnoll commented on #7122
Nevermind, I noticed it is built with angular directives and I can make the necessary modifications myself.

[2016-06-29 13:08] #7122 closed

[2016-06-29 13:31] BergkampHUN commented on #7111
The sample.psd is too big. Try to reduce the image size to 2208x2208.

[2016-06-29 13:35] lordgreg opened #7123 "Feature request: Progress bar / Loading Bar ionic2"
#### Short description of the problem:
Ionic2 already has Loading methods and functionality. However, there's always option for improvement. That's why I would like to see Horizontal loading bar aka Progress bar, something like [Angular Material2 has](https://www.npmjs.com/package/@angular2-material/progress-bar). Or something we used in ionic1 projects using (ngProgress plugin)[https://github.com

[2016-06-29 13:38] cfjedimaster opened #7124 "Back button will not show up if you do not specify a class for the nav bar"
#### Short description of the problem:

Given a simple nav bar:

[code]

The back button will not show automatically if you specify a class.
#### What behavior are you expecting?

It should work whether I specify a class or not.

**Which Ionic Version?** 1.x or 2.x
1.x

Here is a CodePen showing the bug:
http://codepen.io/cfjedimaster/pen/WxpPap

And here is a CodePen (from Mike) showing the fix w

[2016-06-29 13:38] manucorporat commented on #7123
Duplicated of https://github.com/driftyco/ionic/issues/6669

[2016-06-29 13:38] #7123 closed

[2016-06-29 13:54] lordgreg commented on #6669
+1

[2016-06-29 14:07] lordgreg commented on #6416
Exactly the same issue.

[2016-06-29 14:11] lordgreg commented on #6793
@brandyscarney please add an option to add the angular-variables/expressions in `expose-aside-when` selectors.

[code]

[2016-06-29 14:20] basdp commented on #6885
This is the malefactor:
https://github.com/driftyco/ionic/blob/1.x/js/angular/service/modal.js#L194

I fixed it temporarily by changing the code to:
[code]

[2016-06-29 14:25] brandyscarney commented on #7097
@DavidWiesner Are you viewing the app running directly on your device or in the Ionic View app?

[2016-06-29 14:27] brandyscarney commented on #7090
Are you using the `greyscale` color on the searchbar? Right now if you add a `base` color you have to add a `contrast`. So this:

[code]

will error anywhere you use it on a component that grabs the contrast color. Maybe you meant for `dark` to be `contrast`?

[2016-06-29 14:28] omarmeky commented on #1280
+1

[2016-06-29 14:37] brandyscarney commented on #6496
@gxsjtu Could you create a new issue for this please with some example code? Thanks! :smile:

[2016-06-29 15:06] jgw96 commented on #7111
Hello, thanks for opening an issue with us! Since this is an issue with the ionic-cli and not the framework i will be moving this issue to that repo. Thanks for using Ionic!

[2016-06-29 15:07] jgw96 commented on #7111
This issue was moved to driftyco/ionic-cli#1133

[2016-06-29 15:07] #7111 closed

[2016-06-29 15:08] Yagger commented on #5568
@jgw96, thanks for update! I confirm it works. So, the difference between the Navbar and the Toolbar is that Toolbar can be used as a subheader. It can also be used as the only header, to build custom navbar. The `*navbar` syntax is no more. Is it all correct?

Also, if I want to change the background of the toolbar, the good way to do it is to add CSS to `ion-navbar>.toolbar-background`?

[2016-06-29 15:11] Yagger commented on #5556
@adamdbradley confirm it works, thanks for update!

[2016-06-29 15:15] jgw96 commented on #7108
Hello! Thanks for opening an issue with us! Since this is an issue with the Ionic platform and not the framework i will be moving this issue to the appropriate repo. Thanks for using Ionic!

[2016-06-29 15:15] jgw96 commented on #7108
This issue was moved to driftyco/ionic-cloud#12

[2016-06-29 15:15] #7108 closed

[2016-06-29 15:21] jgw96 commented on #7118
Hello, thanks for opening an issue with us! Since this is an issue with the ionic cli and not the framework i will be moving this issue to the ionic cli repo. Thanks for using Ionic!

[2016-06-29 15:21] jgw96 commented on #7118
This issue was moved to driftyco/ionic-cli#1134

[2016-06-29 15:21] #7118 closed

[2016-06-29 15:22] dvdbrink commented on #7090
It's doesn't error anymore after adding a contrast to greyscale. The searchbar didn't use the greyscale color though and I didn't have the error in beta.8.

[2016-06-29 15:23] jgw96 commented on #7115
Hello, thanks for using Ionic! Would you mind trying on the regular Android emulator? I am currently testing with a Nexus 4 emulator running Android 4.4.4 and am not running into this issue.

[2016-06-29 15:24] jgw96 commented on #7107
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-29 15:26] jgw96 commented on #6857
@F1ow hmm i will definitely take another look at this. I am going to be testing an overlay component presentation refactor today that has the potential to fix this issue. I will get back to you with my findings. Thanks!

[2016-06-29 15:26] jgw96 commented on #7112
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-29 15:27] brandyscarney commented on #5556
@SegoleneM Could you create a separate issue for this with more information? Maybe a code sample or plunker? Thanks! :smile:

[2016-06-29 15:37] brandyscarney commented on #7090
Ah sorry I said that wrong. When the Sass builds the CSS from the component files it loops through every color and generates the CSS for it. The reason this didn't happen in `beta 8` is because the Searchbar didn't use the `contrast` until beta 9: https://github.com/driftyco/ionic/commit/b4028c6741d2086e0c95acf8fe5c16f6dd21f1e7

So the real issue here is that if you use a `base` color you have to

[2016-06-29 15:37] #7090 closed

[2016-06-29 15:42] nirarazi commented on #4624
Hi,
is there any known solution to this?
I'm still experiencing it...

THANKS!

[2016-06-29 15:43] jgw96 commented on #7117
Hello! Thanks for opening an issue with us. Since our whole navigation system in Ionic 2 is async you use promises to wait for each transition to finish before starting a new one. I have made another plunker [here](http://plnkr.co/edit/rtEUlN?p=preview) that shows the proper way to do this. As you can see, i call `viewController.dismiss()` which returns a promise that when resolved pushes the page

[2016-06-29 15:43] #7117 closed

[2016-06-29 15:43] WHarris22 opened #7125 "bug: Ionic2 beta 10 ionic form elements do not work with @angular/forms"
#### Short description of the problem:

When trying to use the Angular 2 rc 3 @angular/forms module, Ionic's form elements always throw an error when adding the `formControlName` directive to them. For example: `<ion-input type="text" formControlName="formControl1" ></ion-input>`

Putting it to normal HTML input markup works OK, for example: `<input type="text" formControlName="fullName"  />`

###

[2016-06-29 15:44] jgw96 commented on #7109
Hello! While we appreciate you opening an issue with us i am going to close this issue and ask that you open a new one that has the issue template filled out please. Thanks for using Ionic!

[2016-06-29 15:44] jgw96 commented on #7109
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-29 16:03] jgw96 commented on #7125
Hello, thanks for opening an issue with us! We are currently aware of this issue and will be working on it. There were some pretty big breaking changes in the recent refactor of the Angular 2 forms module. This issue may be related: https://github.com/driftyco/ionic/issues/6580

[2016-06-29 16:13] ninoguba commented on #6885
Thanks @basdp I'll give this a try.

[2016-06-29 16:14] jgw96 commented on #7114
Hello! Thanks for opening an issue with us! After doing some reading on this it seems to be a cordova issue and not an ionic issue. Thanks for bringing this but to our attention, i will definitely be keeping up with it. Because of this being a cordova issue, i will be closing this issue for now. Thanks for using Ionic!

[2016-06-29 16:14] #7114 closed

[2016-06-29 16:15] chansky commented on #7107
I was able to resolve the issue by removing the \<ion-content> tag from my tab page html. I wasn't able to recreate this in a plunker but the plunker example I was looking at used "Page" for pages and I have been using "Component" for my pages...

[2016-06-29 16:15] #7107 closed

[2016-06-29 16:21] elineopsommer commented on #7115
It is a problem on the samsung galaxy, with nexus it runs fine.

---- Justin Willis schreef ----

Hello, thanks for using Ionic! Would you mind trying on the regular Android emulator? I am currently testing with a Nexus 4 emulator running Android 4.4.4 and am not running into this issue.

---
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub:

[2016-06-29 16:24] jgw96 commented on #7115
Ahhh ok, so this is probably related to the samsung webview that the s4 uses. Would you mind testing with a newer samsung device and seeing if it has the same issue? Thanks!

[2016-06-29 16:29] adamdbradley commented on #5983
Done and done: https://github.com/driftyco/ionic/commit/6fa2faffba07981b6ac767824b6a95fe56b58e9b

[2016-06-29 16:29] #5983 closed

[2016-06-29 16:50] jgw96 commented on #7125
This may be related also (not 100% on that): https://github.com/driftyco/ionic/issues/7010

[2016-06-29 16:53] jgw96 commented on #7091
Hello all! At this time we are not planning on making any changes with how this works. Thanks for using Ionic! If anything changes I will reopen this issue.

[2016-06-29 16:53] #7091 closed

[2016-06-29 16:56] elineopsommer commented on #7115
@jgw96 Same problem on an samsung galaxy S5..

[2016-06-29 17:18] danbucholtz opened #7126 "ion-icon on left in ion-item renders incorrectly in safari"
![screen shot 2016-06-29 at 12 00 26 pm](https://cloud.githubusercontent.com/assets/4680488/16461707/7868877e-3df3-11e6-92c0-17bb09f4113f.png)

See screenshot.

[2016-06-29 17:19] jgw96 commented on #7023
Hello @andersfa87 , i am currently looking more into this issue, but here is a plunker with a workaround in the meantime http://plnkr.co/edit/bwdlrbLyHwsWBWvvZtvJ?p=preview . Thanks!

[2016-06-29 17:19] jgw96 commented on #7115
@elineopsommer this is with genymotion or an actual device?

[2016-06-29 17:35] EugeneNews commented on #7097
the same in Ionic View app

[2016-06-29 18:00] brandyscarney commented on #7097
So that is a bug with the Ionic View app, there is an open issue to fix this here: https://github.com/driftyco/ionic-view-issues/issues/164

It also has a workaround added but it will add padding in the browser, too.

[2016-06-29 18:06] jgw96 commented on #7089
Hello everyone! I can confirm this issue and will be looking more into it. What platforms are you all seeing the issue on?

[2016-06-29 18:11] jgw96 commented on #5568
@Yagger yep that is all correct! Glad it works for you now!

[2016-06-29 18:13] xr0master commented on #7089
Just on browser. Something with NaN value instead of number. It looks like widget problem. Do you update slider.js?

[2016-06-29 18:18] jgw96 commented on #7013
Hello @mdelerue from looking at some native examples it seems like the fab button is always displayed even when the keyboard is open. It is actually a part of the material design spec for the fab button to never be hidden, as it is meant to be the "center" of user interaction with your app, the fastest path to the main action. Since our behavior seems to be the same as the native behavior, and mat

[2016-06-29 18:18] #7013 closed

[2016-06-29 18:33] jgw96 commented on #5497
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-06-29 18:33] jgw96 commented on #5719
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-06-29 18:33] manucorporat commented on #7017
@SebastianGiro fixed! @adamdbradley refactored the whole overlay system!

<img width="393" alt="screen shot 2016-06-29 at 20 32 06" src="https://cloud.githubusercontent.com/assets/127379/16464028/a91471e0-3e38-11e6-8b01-2b010d8bde28.png">

[2016-06-29 18:33] #7017 closed

[2016-06-29 18:33] jgw96 commented on #5497
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-06-29 18:34] mnasyrov commented on #7112
Sure, here it is: http://plnkr.co/edit/uJ56fmar7yJ5staVj0OX?p=preview

[2016-06-29 18:34] jgw96 commented on #5675
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-06-29 18:35] jgw96 commented on #5488
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-06-29 18:35] jgw96 commented on #5333
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-06-29 18:36] jgw96 commented on #5831
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-06-29 18:37] jgw96 commented on #4987
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-06-29 18:38] jgw96 commented on #4978
Hello! Is this still an issue with the latest version of ionic? Thanks!

[2016-06-29 18:38] jgw96 commented on #4880
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-06-29 18:39] SebastianGiro commented on #7017
Nice!

[2016-06-29 18:39] jgw96 commented on #4682
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-06-29 18:44] Bouzmine opened #7127 "Feature request : Offline template compiling"
#### Short description of the feature:
It seems like Offline Template Compiling (OTC) is now possible. This means precompiling the templates into optimized code so there's less to zero compiling at runtime. I think this should be included into the Gulp workflow (maybe with the `release` option).

Here's an article explaining it : [http://www.syntaxsuccess.com/viewarticle/offline-compilation-in-ang

[2016-06-29 18:44] #6854 closed

[2016-06-29 18:44] jrencz commented on #4880
I can't update my project to the latest right now so I can't check in real.life conditions.

The pen I mentioned is still there and it has no depreciation message. I'm not aware if it's still linked from the documentation or not but since it hasn't been removed I assumed it's still needed.

That's all I can tell right now.

[2016-06-29 18:45] elineopsommer commented on #7115
Galaxy s4 is an real device, the others is with genymotion..

---- Justin Willis schreef ----

@elineopsommer this is with genymotion or an actual device?

---
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub:
https://github.com/driftyco/ionic/issues/7115#issuecomment-229425886

[2016-06-29 19:30] jgw96 commented on #7115
Hello, so after discussing this with my teammates we are going to recommend that you use crosswalk with your app. Crosswalk gives you a modern chrome webview that gives you awesome performance, html5 support and ES6 support right out of the box, even on an S4! The older samsung devices have a samsung modified, outdated android webview that seems to have alot of bugs. If you would like to use cross

[2016-06-29 19:30] #7115 closed

[2016-06-29 19:32] jgw96 commented on #7127
Hello @Bouzmine yep, we are working extremely hard on getting offline template compiling, treeshaking and minifying into our build process. You can follow the progress [here](https://github.com/driftyco/ionic/issues/6776). This is one of our biggest goals to have before our release candidate, so you can be assured its very high priority. Thanks for using Ionic!

[2016-06-29 19:32] #7127 closed

[2016-06-29 19:37] brandyscarney commented on #7106
This is caused by the `bar-button` classes not applying since you are nesting the button in another component. Issue https://github.com/driftyco/ionic/issues/5927 was created for this, there's a workaround to add the category to the button. In your case something like this:

[code]

Thanks!

[2016-06-29 19:37] #7106 closed

[2016-06-29 20:16] manucorporat commented on #7075
https://github.com/driftyco/ionic/issues/7120

[2016-06-29 20:18] manucorporat commented on #7087
@brandyscarney I agree with @Hufschmidt , last time I tried to give a spinner my own style, it was complicated. Not sure about a solution though :)

[2016-06-29 20:22] artzstudio commented on #5333
Yes, open the above CodePen in Safari on your iOS browser.  It is referencing the 1.x nightly so I assume that is the latest version.

[2016-06-29 20:47] brandyscarney commented on #7119
This is the intended behavior as we don't know which toolbars you want/don't want borders on. You can use `no-border-top` and `no-border-bottom` to remove borders. See the changelog: https://github.com/driftyco/ionic/blob/master/CHANGELOG.md#200-beta10-2016-06-27

Thanks for the issue!

[2016-06-29 20:47] #7119 closed

[2016-06-29 21:33] brandyscarney opened #7130 "Review animations"
It seems our animations have slowed down prior to the beta 10 release. Affects all animations.

[2016-06-29 21:47] juukie commented on #1283
Thanks @ashconnell, works like a charm.

[2016-06-29 22:17] awe-sim commented on #7121
The `Alert` component exhibits the similar behavior. Set an input type to `number` in a `Alert` component, the input `value` is still a string and the data returned to the button `handler` function also contains a string.

Ideally, the input `value` property should be `string | number` and not just `string`. And the data returned to the `handler` should have the appropriate type as well.

It is re

[2016-06-29 22:24] awe-sim commented on #7009
hi guys.. any word on this? i was expecting this to be resolved in beta10 but it isnt there.. in the meantime, is there a workaround that i can use by manually editing the source somewhere?

[2016-06-29 22:26] jgw96 commented on #6857
@F1ow alright, so after testing that overlay component refactor, i can confirm that this is fixed for good now. I will see if we can get a nightly release out with some directions on how to use the refactored overlay component api's soon so that you can try yourself. Thanks for being patient with me on this!

[2016-06-29 22:48] daveshirman commented on #7106
Great, thanks.

[2016-06-29 23:41] rapropos commented on #7125
I don't know if there is an elegant way to support both deprecated and new forms, but I suspect this issue results from importing `NG_VALUE_ACCESSOR` from "@angular/common" instead of from "@angular/forms".

[2016-06-29 23:42] manucorporat commented on #7120
We are aware of this issue, #7075.

[2016-06-29 23:42] #7120 closed

[2016-06-30 00:42] ghenry22 commented on #6984
@adamdbradley @jgw96 Hi guys, sorry to bug you but it would be brilliant if the conflict with the ion-refresher could at least be resolved.  Since Beta9 virtualscroll is much smoother on iOS UIWebview performance wise but if there is an ion-refresher in the page I can only scroll in one direction, any downward swipe from any point in a list just triggers the refresh which makes the list completely

[2016-06-30 00:52] ghenry22 opened #7131 "ion-footer in custom component covers ion-content, hidden ion-toolbar in ion-header covers ion-content when revealed ionic2"
#### Short description of the problem:
If you include an ion-footer element from a custom component then it will cover the ion-content at the bottom of the viewport.  This worked correctly before beta10 when using toolbar position bottom.  This behaviour is introduced along with the ion-footer element.

If you have a toolbar in the header under the nav bar which is exposed programmatically, when t

[2016-06-30 00:55] ghenry22 opened #7132 "ion-segment deprecation warning ionic2"
#### Short description of the problem:
grab any sample app with ion-segments.
see the following error in the console:
*ngSwitchWhen is deprecated and will be removed. Use *ngSwitchCase instead

There is no note in the breaking changes or migration instructions for beta10 relating to this.

Only occurs since beta10

#### What behavior are you expecting?
No errors in the console, ion-segment to not

[2016-06-30 01:05] paulogr commented on #7075
Following!

[2016-06-30 01:11] paulogr commented on #6776
+1

[2016-06-30 01:15] paulogr commented on #6563
+1

[2016-06-30 01:30] adamdbradley commented on #5549
Sorry but I was not able to replicate the the problem. Would you be able to provide a plunker so we can better debug this? /cc @jgw96

[2016-06-30 02:15] #7109 closed

[2016-06-30 02:51] #7112 closed

[2016-06-30 02:52] adamdbradley commented on #7112
The properties should be public in TypeScript's eyes, so it should work now. However, `@private` was there in place of documentation, but I've since added a description. Also, the properties have been renamed to `contentTop` and `contentBottom`, which will be in beta``.

[2016-06-30 03:07] DavidWiesner commented on #7097
Yes the screenshots are from a iPhone 5 with ios 9.3

[2016-06-30 03:11] Emeryao commented on #7124
the name is `ion-nav-back-button` so it should be in a `ion-nav-bar` isn't it?

[2016-06-30 03:17] brandyscarney commented on #7097
Are you using any custom components to wrap your toolbars? Could you paste the markup, please? Thanks!

[2016-06-30 03:38] gxsjtu commented on #4986
why remove js version when use ionic start, typescript makes use npm packages so trouble

[2016-06-30 03:38] Emeryao commented on #7043
@Bouzmine
I tried on your plunker with changing the line of your code
`this.config.set('backButtonText', "Retour");`
the `backButtonText` does change on the second time you enter that page rather than changes immediately after clicking the button

[2016-06-30 04:37] vTrip commented on #1948
+1
my issue is that the slider has the correct value but does not show the correct value on the slide as it always has an initial position of '0'

Using both value and ng-model

When removing ng-model, problem is solved however I do not get real time update of value when the user drags.

Ionic 1.3.1

[2016-06-30 05:15] chandumunna opened #7134 "when using the ion-content...scrolling bar not found in android device but browser well works..."
**Note: If you are having problems formatting your issue please refer to this article on using markdown in Github:**

https://guides.github.com/features/mastering-markdown/

**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:

#### What behavior are you expecting?

**Steps

[2016-06-30 05:33] grana601 commented on #6621
Why you closed this issue. Is this issue resolved? This is the very big issue. Is app first time load slow the user think this is meaningless app

[2016-06-30 06:01] BenjaminDieter commented on #7070
I took a look at Ionics code in order to be able to prepare and create a PR and I found out why there are no calendar weeks supported. Ionic really just parses the given string, without any extra logic:

[code]

Wouldn't it be nice to return some extra information? Like isLeapYear, calendarWeek, etc.? Before I continue editing and writing code I'd like to know if you want the `parseDate()` from `s

[2016-06-30 06:03] ranisalt commented on #5493
Bumping this issue since as of now, even without the --ts flag, ionic start generates typescript files including .ts extension. How can I rip typescript off the project?

[2016-06-30 07:14] gxsjtu opened #7135 "for v2: last item of virtual scroll is covered by tabbar"
works fine on 1. browser of both ios and android platforms; 2. android device
not works only on 1. ios device.

code snippets:
tabs.html

[code]

home.js

[code]

when scoll to the bottom, 39 40 should be visible, but on ios device, they are covered by tabbar.
![cc5644303cc6e186b7ab8d783089026c](https://cloud.githubusercontent.com/assets/5119062/16479802/31d9b6ce-3ed5-11e6-9a45-35269b43e6d1.jpg)

[2016-06-30 07:18] manucorporat commented on #7126
@danbucholtz I can't reproduce it the HTML below:
[code]

[2016-06-30 07:31] manucorporat commented on #7126
@danbucholtz ok! I was able to reproduce it with
[code]

[2016-06-30 07:48] sidlauskaslukas opened #7136 "bug: $ionicScrollDelegate.scrollBottom() doesn't work when overflow-scroll attribute value is set to true"
$ionicScrollDelegate method scrollBottom() doesn’t work when ion-content directive overflow-scroll attribute value is set to true. It works with JS scrolling, but it doesn't work with native scrolling.

**Steps to reproduce:**
1. Open example here: http://plnkr.co/edit/OQKe0wvlK84cS7rKOIIP?p=preview
2. Press "Reset" button and you will see that infinite-scroll is not triggered after reseting all t

[2016-06-30 07:52] boaz-chen opened #7137 "Regression: popover isn't dismissed when you tap outside of its range"
#### Short description of the problem:

On iOS (haven't tested on other platforms), when a popover is displayed, tapping outside of its boundaries doesn't dismiss it.

#### What behavior are you expecting?

The popover to be dismissed

**Steps to reproduce:**

1. Pop a popover
2. Click outside of its boundaries

Cordova CLI: 6.1.0 (cordova-lib@undefined)
Gulp version:  CLI version 3.9.1
Gulp local

[2016-06-30 08:00] GerritErpenstein commented on #7089
_Copied from forum discussion:_

[2016-06-30 08:13] boaz-chen commented on #7137
My bad, I haven't used the enableBackdropDismiss properly.

[2016-06-30 08:13] #7137 closed

[2016-06-30 08:30] movrack opened #7138 "menu with header (beta10)"
Since beta  10, my menu have some view problem. Middle down part of it is empty.

In breaking changes I see we must insert toolbar inside header/footer or content.
But, it's not updated in doc for menus. (toolbar is always outside ion-content tag)
http://ionicframework.com/docs/v2/components/#menus

How we should use menus and toolbar in menu ?

[2016-06-30 08:51] deianmotov commented on #4052
I can confirm, for me helped what zzsanduo suggested:
sudo chown [USERNAME]:admin /Users/[USERNAME]/.config/configstore/update-notifier-cordova.json

[2016-06-30 09:22] cfjedimaster commented on #7124
Um. It is - isn't it?

[2016-06-30 10:58] Rakonda commented on #5324
i confirm this bug, working fine on my phones and crush happened only on tablet nexus 7, im using cordova 6.1.1.

[2016-06-30 11:38] EugeneSnihovsky opened #7140 "Can't open page with loading instance in ngOnInit from modal"
#### Short description of the problem:
When I try to navigate from modal view to page, that have ngOnInit method with Loading animation - nothing happens.

#### What behavior are you expecting?
I want to navigate from modals to other pages with loading animation in ngOnInit method.
Or if ionic team planning to implement **resolve** section analog in future - it will be fine.

**Steps to reproduce:

[2016-06-30 11:52] EugeneSnihovsky commented on #6992
That's too bad. Almost all standard projects has menu for navigation. And many people has faced this issue.

Maybe it will be helpful for others. I found solutions with dirty timeout hack for now. We need a delay for previous menu has had time to disappear. So in html we add *ngIf to menu instance and [disabled] to button, that open our menu

[code]
And in navbar component (or page component if yo

[2016-06-30 12:21] smajl commented on #284
Maybe the problem is that this issue is closed.
@brandyscarney Could you please review and reopen this? A lot of people have this issue.

[2016-06-30 12:55] faraazc commented on #5386
@brandyscarney hey I am expecting this in beta.11.hope I will get this.thanks

[2016-06-30 13:06] #6702 closed

[2016-06-30 13:06] gvolkan commented on #5878
+1

[2016-06-30 13:20] Bouzmine commented on #7043
Thanks for fixing my Plunkr. It's the issue that I'm reporting, the back button text doesn't change dynamically. This is annoying when changing the language in one tab and then going into another tab which has its own stack.

[2016-06-30 13:40] mhartington commented on #5324
Please make sure you updating your plugins, your platforms and everything else.
Also, check for JS error. Make sure your own code isn't causing problems.
Please open an **new** issue with a sample project that replicates the issue.

[2016-06-30 13:58] imjohnbo commented on #7138
The toolbar should also be inside a header. Check out Step 3 of Steps to Upgrade to Beta 10, and this quote from the [Changelog](https://github.com/driftyco/ionic/blob/master/CHANGELOG.md#breaking-changes):

It normally takes a couple of days for the doc to reflect changes from a new beta release.

[2016-06-30 14:10] manucorporat commented on #7140
@adamdbradley do you think the new overlay system could have fixed this?
https://github.com/driftyco/ionic/issues/7140

[2016-06-30 14:13] jgw96 commented on #6621
@grana601 Hello! I closed this issue to consolidate it into #6776. That issue is more updated than this one. Sorry for any confusion. Thanks for using Ionic!

[2016-06-30 14:14] manucorporat commented on #7075
https://github.com/driftyco/ionic/issues/7066

[2016-06-30 14:15] jgw96 commented on #6563
Hello all! The new 3.0 alpha angular router is still too unstable to integrate smoothly into Ionic 2, but it is in a much better state than it was. We are working closely with the Angular team on this one so you can be assured that as soon as the router is ready then we will be integrating it. Thanks for using Ionic everyone!

[2016-06-30 14:18] danbucholtz commented on #7066
Tracking this in #7075.

[2016-06-30 14:18] #7066 closed

[2016-06-30 14:18] danbucholtz commented on #7075
I closed #7066.  I am imagining an implementation like this:

As a developer, I would like to ability to freeze/prevent scrolling of a particular scroll view, or even the entire app.  The use case would be something like drag and drop, or even when swiping open an `ion-item`.

The ideal implementation allows a "ScrollDelegate" or something similar instance to be injected into component that lets t

[2016-06-30 14:23] jgw96 commented on #7125
@rapropos yeah, there are a good list of things that the Angular team changed in forms, but we're going through and updating everything so it works with the new forms (: Thanks for using Ionic!

[2016-06-30 14:38] jgw96 opened #7141 "Ripple causes painting while scrolling"
#### Short description of the problem:
There are cases where a ripple can happen on a list item while scrolling. When this happens the webview has to re-paint that item again which causes a frame rate drop in my tests. It would be cool if we could block click/touch events on list items while scrolling so that this did not happen.

Ionic version: 2.0.0-beta.10

[2016-06-30 14:46] jgw96 commented on #7134
Hello! While we appreciate you opening an issue with us i am going to close this issue and ask that you open a new one that has the issue template filled out please. Thanks for using Ionic!

[2016-06-30 14:46] #7134 closed

[2016-06-30 14:47] JerryBels commented on #679
Hello,

I know this is a very old issue but wonder if it's possible that a new update broke it on Android ? I'm testing a very simple code :

	<ion-modal-view>
		<ion-scroll zooming="true" style="width: 100%; height: 100%;">
			<img ng-src="{{modalMediaThumb}}" class="maxPage" ng-if="modalMediaType == 1" />
		</ion-scroll>
	</ion-modal-view>

And it doesn't allow zooming - pinching the screen don'

[2016-06-30 14:53] #7130 closed

[2016-06-30 14:59] jgw96 commented on #7009
Hello @awe-sim , I have good news! We have just finished a complete refactor of how "overlay components" like alert our presented onto the navigation stack which should fix this issue. I will update this issue when a nightly is released that has these changes so that you can test it out. Thanks!

[2016-06-30 15:11] jgw96 commented on #6984
@ghenry22 Would you mind making a repo with a very minimal example that i can use to reproduce this issue with? Thanks!

[2016-06-30 15:36] #7141 closed

[2016-06-30 15:39] adamdbradley commented on #7140
Yes, hopefully this issue may have been fixed in beta11, since the overlay's anchor is always at the root and already initialized.

[2016-06-30 15:41] jgw96 commented on #7140
I'm putting this down as one of my things to test this afternoon. I'm thinking it should be fixed though (:

[2016-06-30 15:46] brandyscarney commented on #6927
This should be fixed by the `beta 10` release. Please see the breaking changes & update steps and let us know if it's still an issue: https://github.com/driftyco/ionic/blob/master/CHANGELOG.md#200-beta10-2016-06-27

Also related:
https://github.com/driftyco/ionic/issues/5556
https://github.com/driftyco/ionic/issues/5164

Thanks for the issue!

[2016-06-30 15:46] #6927 closed

[2016-06-30 15:48] adamdbradley commented on #7132
Sorry but I'm not able to replicate this. Maybe it was fixed in master already, but I can't see to find where we use the older `ngSwitchWhen`. /cc @jgw96

[2016-06-30 16:02] mlynch opened #7142 "Item reordering issues"
A few UX things with the new reorder.

 * [x] Icon is too big and too opaque (i.e. try grey instead of black). I know it's the wrong one but could make this one smaller in the meantime
 * [x] Icon should animate in instead of just appearing
 * [x] Can't reorder above the first one.
 * [x] If the drag is canceled the element doesn't animate smoothly back

See video for examples of all:

http://ioni

[2016-06-30 16:04] brandyscarney commented on #7138
Thanks for the issue! I'm going to move this to the `ionic-site` repo to make sure the docs are updated for this. :smile:

To answer your question: The menu toolbar should be similar to a page where the `ion-toolbar` is inside of an `ion-header` or `ion-footer`.

[2016-06-30 16:04] brandyscarney commented on #7138
This issue was moved to driftyco/ionic-site#676

[2016-06-30 16:04] #7138 closed

[2016-06-30 16:12] jgw96 commented on #7132
This looks to be fixed already in master to me too. Not seeing this deprecation warning with my testing version of the conf app. @ghenry22 Ill be closing this issue since its already been fixed. Thanks for using Ionic!

[2016-06-30 16:12] #7132 closed

[2016-06-30 16:22] jgw96 commented on #2847
Hello all! Since there is a well documented workaround for this (thanks @cfjedimaster !) and we do not plan on making any big changes to how navigation works in Ionic 1 i will be closing this issue for now. Thanks for using Ionic everyone!

[2016-06-30 16:22] #2847 closed

[2016-06-30 16:22] ghenry22 commented on #7132
It is a current issue with beta10 when setting up a simple segment as in the component docs which start to use ngswitchwhen.

So when you say fixed in master do you mean the component docs are updated to not use ngswitchwhen or that it is still used but the deprecation warning has been fixed/removed?

[2016-06-30 16:23] ghenry22 commented on #6984
Yep will do tomorrow

[2016-06-30 16:25] jgw96 commented on #7132
@ghenry22 Sorry i should have explained better. Fixed in master means that is has already been fixed in our Master branch (the ionic 2 branch). This means that the next release will not have this issue. I hope that explains things better. Also, i will be making an issue on our docs repo about removing any use of `ngSwitchWhen` from our docs as it has been deprecated by the Angular team. Thanks for

[2016-06-30 16:49] manucorporat commented on #7142
@mlynch I think the point 3 was fixed here last night: [here](https://github.com/driftyco/ionic/commit/d993a1bfd86f6987e44f0a78fa5b4a46026de779)

I will check out tonight though :)

[2016-06-30 16:51] Emeryao commented on #7043
@Bouzmine
you can add the code below which forces the page to refresh to "get rid of" the issue temporarily :smile:
[code]

[2016-06-30 16:54] brandyscarney opened #7143 "enhancement: rename tab config options to make more sense"
The config options for tabs should be renamed to be more clear:

[code]

should be:

- [x] `tabsHighlight`
- [x] `tabsLayout`
- [x] `tabsHideOnSubPages`
- [x] `tabsPlacement`

Make sure to print deprecation warnings for the old config options and update the API docs + theming docs for this.

- [x] API docs
- [x] Theming docs

[2016-06-30 17:06] jgw96 commented on #5493
@ranisalt Hello! So because of all the advantages that Typescript gives Ionic 2 developers we have decided to go all in with Typescript. This means that we no longer provide JavaScript starters or JavaScript docs. If you would like to read more about the awesome advantages that TypeScript gives you you can check out our resources article [here](http://ionicframework.com/docs/v2/resources/typescrip

[2016-06-30 17:13] jgw96 commented on #3401
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-06-30 17:16] jgw96 commented on #3432
Hello all! Since there is a workaround for this issue and we do not plan on making any big changes to our layout in Ionic 1 at this time I will be closing this issue. Thanks for using Ionic!

[2016-06-30 17:16] #3432 closed

[2016-06-30 17:22] BVJin opened #7144 "Ionic iframe crushed when clicked input box"
I am using external website for the certain page and of course it is included by iframe.

The iframe is working perfectly at browser, but not well at real phone. Every time I clicked/touched the input box, it auto focused the input to the center of screen, but if I type something, it just scrolled to the top of page and then not able to scroll anymore, basically the whole page froze as long as I s

[2016-06-30 17:34] jgw96 commented on #7144
Hello, thanks for opening an issue with us! Would you be able to provide a plunker or repo that i can pull and push to my device that demonstrates this issue? Thanks for using Ionic!

[2016-06-30 17:41] jgw96 commented on #6835
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-30 17:43] stalniy commented on #5012
@mhartington This is reproducible in beta.9

[2016-06-30 17:43] BVJin commented on #7144
@jgw96 Thank you for the quick reply, I dont think I can reproduce the issue at Plunker, since it only happens when it is running on the real phone.

This site you can use for testing,  it happens when I am typing something at Email
https://www.willowcreek.com/rega/#/reg/trans/one?invtID=EV-LSS1608-MAIN-346

The page code I have already provided at questions, no js involved at this point, only css

[2016-06-30 17:53] jgw96 commented on #6416
Note for the team: Did some debugging on this and got some really weird results. If you inspect the page with chrome dev tools that little grey square does not seem to be in the dom.

[2016-06-30 17:56] jgw96 commented on #5571
Hello all! Is this still an issue with Ionic 2 beta.10? Thanks!

[2016-06-30 17:57] dtelaroli commented on #5834
+1

[2016-06-30 17:59] jgw96 commented on #5432
Hello all! Is this still an issue with Ionic 2 beta.10? Thanks!

[2016-06-30 18:02] jgw96 commented on #6609
Hello @Daforest Is this still an issue on beta.10? Thanks!

[2016-06-30 18:03] ranisalt commented on #5493
Fine, it's just that the documentation still says it's JS and you have to use --ts to enable TS and I got very confused.

Also there's an entry on ionic.config.json that says `"typescript": true` and it could be removed then.

[2016-06-30 18:15] jgw96 commented on #5493
@ranisalt Ahh, yep i see that on this page http://ionicframework.com/docs/v2/cli/generate/. I will make sure that gets fixed, sorry about that. Also that line in the ionic.config.json file is there for backwards compatibility with older versions of the ionic beta cli and will be removed eventually. Thanks!

[2016-06-30 18:22] jgw96 commented on #7131
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-30 18:36] frederikschubert opened #7145 "Promise from bootstrap is not returned since Beta.10"
#### Short description of the problem:

Prior to [this](https://github.com/driftyco/ionic/commit/d13fa4e2cfc3b3039239a9e09ea701ad9bc624b4#diff-ebf9800fbbf7fb1848c856bf37b6a2b5L53) change it was possible to act on the Promise that is returned from the angular `bootstrap` function. Due to the removed `return` statements this cannot be done anymore.
#### What behavior are you expecting?

I would like

[2016-06-30 19:08] prateekvarma opened #7146 "Can't install ionic on ubuntu 14.04"
#Hi,
After installing node, when i do "npm install -g cordova ionic" , i see a dancing stick just going round and round, and it just does not stop.

Any help please?

[2016-06-30 19:35] babinc commented on #661
I too am having issues with ion-infinite-scroll

[2016-06-30 19:47] Bouzmine commented on #7043
The problem is I'm in another navigation stack, so my NavController doesn't control the other tab's navigation. Is there a way to do so ?

[2016-06-30 19:58] prateekvarma commented on #7146
Seems i just had to wait :| It works now

[2016-06-30 19:58] #7146 closed

[2016-06-30 20:03] vidakovic commented on #6933
@jgw96 this workaround is not working for me on an Android phone (using crosswalk-project). When I test it in a desktop browser the modal dialogs seem to work.

I tried multiple approaches:

1. sending the the dialog object to the main app component where NavController is injected via @ViewCtrl
2. inject NavController in the page constructors
3. inject App in the page constructors and use app.getA

[2016-06-30 20:04] brandyscarney commented on #7131
From the beta 10 [changelog](https://github.com/driftyco/ionic/blob/master/CHANGELOG.md#200-beta10-2016-06-27):

We are only supporting the following structure:

[code]

[2016-06-30 20:42] DaniloCouto opened #7147 "bug: BackgroundGeolocation - Plugin not Installed"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>android</span> <span ionic-platform-version>5.0</span>  <span ionic-webview>webview</span>

<span ionic-description>BackgroundGeolocation methods returns 'Plugin not Installed' whenever I use.
Ionic info
`Cordova CLI: 6.2.0
Ionic Framework Version: 2.0.0-beta.9
Ionic CLI Ver

[2016-06-30 20:47] brandyscarney commented on #7131
I added a `resize` function to `content` for the header issue. This will be in the `beta 11` release. If you'd like to use it before then please try our nightly:

[code]

Thanks!

[2016-06-30 20:47] #7131 closed

[2016-06-30 20:47] Daforest commented on #6609
@jgw96 Tested with Beta.10 just now. Sorry to say, the issue is still present.

[2016-06-30 21:07] jgw96 commented on #7147
Hello! Thanks for using Ionic! Are you using `ionic-native` when you get this error?

[2016-06-30 21:07] Malkiat-Singh opened #7148 "ionic 2 popover Scroll not smooth and popover not close on Android Kitkat"
I am using Ionic Beta 9
Popover working fine on browser  with ionic serve
Also working on iOS Simulator but having issue on android with kitkat OS .

Not able to close the popover after select and Scroll is not smooth

Also Delay to comes up the popover

[2016-06-30 21:10] jgw96 commented on #7043
Hello! Thanks for opening an issue with us! Since this seems to be more of a support issue of how to implement custom functionality i will be closing this issue for now, but please feel free to continue the conversation. Thanks for using Ionic!

[2016-06-30 21:10] #7043 closed

[2016-06-30 21:12] jgw96 commented on #7148
Hello, thanks for opening an issue with us! Are you using crosswalk with your app?

[2016-06-30 21:14] Malkiat-Singh commented on #7148
no I am not using crosswalk :( Do I need to ?

[2016-06-30 21:15] Malkiat-Singh commented on #7148
Also Crosswalk is solution for Android only but what that issue stiil on IOS

[2016-06-30 21:17] jgw96 commented on #7148
Hmm, would you be able to make a plunker or a repo that i can use to reproduce this issue with? Thanks!

[2016-06-30 21:23] Malkiat-Singh commented on #7148
Will do after my working hours .. otherwise angry on me :)

[2016-06-30 21:25] Malkiat-Singh commented on #7148
You can try code from
https://github.com/driftyco/ionic-preview-app/tree/master/app/pages/popovers

[2016-06-30 21:27] Malkiat-Singh commented on #7148
What If I will give you access to my repo ... you can check on my repository
Please send Your username ... I will give you access

[2016-06-30 21:30] jgw96 commented on #7009
Hello @awe-sim we have a nightly out now that has the overlay components refactor. If you would like to try it out you can run `npm install ionic-angular@nightly` to install the nightly. Here is how to use an alert with the new api.

[code]

[2016-06-30 21:36] chrskrchr opened #7149 "Keyboard overlaps the text input when the input is placed inside an <ion-footer>"
#### Short description of the problem:

When an `<ion-input type="text">` is placed inside an `<ion-toolbar>` in an `<ion-footer>`, the iOS keyboard overlaps text inputs placed in an `<ion-footer>` and the entire page "jumps" when the input receives focus.

![keyboard](https://cloud.githubusercontent.com/assets/805780/16504945/3aaa4ce0-3ee0-11e6-8d14-89f78da3d1e1.gif)
#### What behavior are you ex

[2016-06-30 21:39] jgw96 commented on #7149
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-30 21:41] jlsuarezs commented on #6228
+1 on Android issue #1 :)

[2016-06-30 21:50] chrskrchr commented on #7149
Here's a .zip of a project that demonstrates the issue.

[keyboard.zip](https://github.com/driftyco/ionic/files/342424/keyboard.zip)

[2016-06-30 23:09] israel-viveros commented on #245
+1

[2016-06-30 23:10] Malkiat-Singh opened #7150 "Close ion-select when user select option without click on Ok"
Hi
I am using ion-select in ionic 2 with typescript
I need to close ion-select without click Ok Button

Thanks

[2016-06-30 23:24] ChezRD opened #7151 "new header system strange behaviour"
#### Short description of the problem:
wrong z-index of headers on layout like this:
tabs page with header -> tab with header -> nav.push page with header on android
also when i change pages with setRoot from side menu "hamburger icon flickering (hide+show new) appears"

#### What behavior are you expecting?
nav of sub sub page at the top, but not at bottom of z-index stack
not flickering menu/bac

[2016-07-01 01:34] tomazberisa commented on #5920
@jmatsushita I've tried to do exactly this, but cannot seem to make it work.

Might there be any news re: updating Swiper?

[2016-07-01 01:37] HamzaLJ opened #7152 "Ionic2 (Beta 10) - Issue with ngFor and ion-slide"
I just updated to the latest Ionic2 version **Beta 10**.
I had **slides** component working perfectly in the previous version I updated from **Beta 7**

Below is the code that was working fine in Beta 7 and stopped working in Beta 10:

      <ion-slides>
         <ion-slide *ngFor="let url of urls">
                 <img class="imgSlide" src="{{url}}" />
         </ion-slide>
     </ion-slides>

I

[2016-07-01 02:10] ghenry22 commented on #7131
ok cool,
Yep I read the supported structure bit.  The issue is when part of that structure is included from an external component versus inline in the template.

I found a solution was to just leave the ion-footer container in the template and put my custom component with the rest of the footer content inside that.  If this is the way to go then that is fine.

[2016-07-01 02:13] ghenry22 commented on #7132
@jgw96 no problem, thanks for the clarification

[2016-07-01 02:43] prabhu2003ece commented on #3537
Any updates?

[2016-07-01 03:11] ghenry22 commented on #6984
https://github.com/ghenry22/virtualScrollTest.git

Here is a repo with a really simple project, it's just a virtualscroll list with a ion-refresher.

Scroll part way down the list, try to scroll back up by swiping downwards, if you swipe slowly you will see that the refresher starts to open regardless of where you are in the virtuallist.  Refresher should only open if you are at the top of the lis

[2016-07-01 03:23] HamzaLJ opened #7153 "Ionic2 - TypeError: Cannot read property 'length' of undefined"
**Ionic 2 - Beta9** made a major change on SearchBar component which affect several things.

I want to retrieve the length of the entered value on the searchBar; however, I was surprised that .length property is no longer defined.

I have migrated from Beta 7, which I had the below code working fine:

        search(search) {
          let query = search.value;
          console.log("Length of the

[2016-07-01 03:37] jasonwaters opened #7154 "v2 beta.10: Unable to scroll vertically after switching between tabs [iOS]"
Hello there!  I recently upgraded to ionic-angular 2 beta.10 and I noticed a weird bug where vertical scrolling is not responding.  My application uses `ion-tabs` with 4 tabs across the bottom of the screen.  On load, the far left tab is automatically selected.  If I choose the 2nd tab and scroll vertically (via touch in ios simulator or on device) it scrolls just fine.  Then i switch to tab 4 and

[2016-07-01 04:38] xfally commented on #3615
@mhartington You said "So situation 1 is actually the intended behavior", but if so, how can i implement the scene below:
1. Open one photo browser (ionModalView + ionSlideBox), which can slide one by one.
2. When browser one page (ionSlide), start to show loading animation ($ionicLoading) and request photo from remote server.
3. If gotten, automatically hide loading and show photo.
4. If wait for

[2016-07-01 04:58] kitkimwong commented on #5549
In beta .9 it seem that onScrollEnd event is canceled.
I use `addScrollListener` to bind the scroll event every thing works fine, but I can know that the scroll event is finished?
Now I just use `settimeout` to check whether the scroll is finished .

[2016-07-01 06:36] jdnichollsc opened #7155 "Error replacing custom directives to Ionic directives"
#### Short description of the problem:

I'm creating a directive to support IE browser with Ionic 1.x. Basically I'm replacing my directive ion-repeat to ng-repeat (Only on Windows) or collection-repeat (Android, iOS, etc), because the collection-repeat doesn't work good on Windows.

#### What behavior are you expecting?
The scroll works good after to replace my directive to collection-repeat dire

[2016-07-01 07:31] movrack commented on #7138
I am not sure to understand, it means that the menu has to be in a ion content too ?
[code]
or
[code]

[2016-07-01 08:00] jgw96 commented on #7155
Hello, thanks for opening an issue with us! Since this issue seems to be happening because of your custom directive i would urge you to post about this issue on our [forums](https://forum.ionicframework.com/). There are a ton of awesome devs on there that can help iron any issues out with your custom directive. Thanks for using Ionic!

[2016-07-01 08:00] #7155 closed

[2016-07-01 08:01] jgw96 commented on #7076
Hello! While we appreciate you opening an issue with us i am going to close this issue and ask that you open a new one that has the issue template filled out please. Thanks for using Ionic!

[2016-07-01 08:01] #7076 closed

[2016-07-01 08:01] jgw96 commented on #7052
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-07-01 08:01] #7052 closed

[2016-07-01 08:04] jgw96 commented on #7153
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-07-01 08:05] jgw96 commented on #7154
Hello, thanks for opening an issue with us! Would you be able to provide a plunker or repo that demonstrates this issue? Thanks for using Ionic!

[2016-07-01 08:07] jgw96 commented on #5549
@kitkimwong would you mind test this with beta.10 please? Also if you could provide a [plunker](http://plnkr.co/edit/me3Uk0GKWVRhZWU0usad?p=preview) that would be awesome. Thanks for using Ionic!

[2016-07-01 08:11] jgw96 commented on #7152
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-07-01 08:12] jgw96 commented on #7150
Hello! While we appreciate you opening an issue with us i am going to close this issue and ask that you open a new one that has the issue template filled out please. Thanks for using Ionic!

[2016-07-01 08:12] #7150 closed

[2016-07-01 08:15] ch-weiss commented on #6835
Thank you for your interest. I think in this context it makes more sense to have a look at the current implementation of the method setCssClass in Alert which is supposed to add a cssClass but it really sets it instead of adding:

257   /**
258    * @param {string} cssClass CSS class name to add to the alert's outer wrapper
259    */
260   setCssClass(cssClass: string) {
261     this.data.cssClass

[2016-07-01 09:24] ghenry22 commented on #7153
I you haven't entered at least 1 character in the search box or if you just cleared the box then the target.value property is not set to an empty string, the property is completely removed (hence .length of undefined as target.value does not exist).

You can put something really simple in your search handler like below (assuming you are using something similar to the example in the docs.
[code]

[2016-07-01 09:30] cracker111 commented on #4468
I am getting error after entering following command "ionic add ionic-platform-web-client"
Error displayed-
Bower error, check that "ionic-platform-web-client" exisits, or try running "bower install --save-dev ionic-platform-web-client" for more info
(CL! v1.7.16)

[2016-07-01 10:12] awe-sim commented on #7009
Hi @jgw96 .. Thank you for your response. I tried upgrading to the nightly version a couple of times but encountered some errors. After your message, I tried again and this time the upgrade went smoothly. I can see that the API has slightly changed now (the addition of `AlertsController`) but the issue still remains:

	let alert = this.alertsController.create({
		title: 'Destroy World',
		message:

[2016-07-01 10:22] andreafoorlan opened #7156 "Add the options argument for BarcodeScanner.scan() method"
BarcodeScanner native component is based on phonegap-plugin-barcodescanner plugin, which accepts an object of options as argument in its scan method in order to change the default camera selected and a bunch of other settings.

It would be nice to have the same chance in Ionic 2:

BarcodeScanner.scan({..options passed to native plugin scan method...}).then(...)

[2016-07-01 11:35] Manduro commented on #7154
I'm having the exact same problem, also since beta 10.

[2016-07-01 12:11] royipressburger commented on #6004
@adamdbradley I didn't really understand you.
But changing the HTML worked for me..
[code]

Looks like the `<ion-buttons>` is the cause

[2016-07-01 12:36] Kobzol commented on #7138
I'm having the same problem, the menu doesn't render it's content and navigation also doesn't work (worked as of beta 9).

[2016-07-01 12:54] javebratt commented on #7089
Hey @jgw96 any update on this? It's kind of a big deal :smiley:

[2016-07-01 13:32] DaniloCouto commented on #7147
Hello,
Yes, I'm using ionic-native.

I'm building a provider to call BackgroundGeolocation.
`import {BackgroundGeolocation} from 'ionic-native';`

Other plugins like Geolocation works great.

Thanks for answering,

[2016-07-01 13:41] kokokenada commented on #7125
BTW - will Ionic be supporting Angular built in validators like required, minlength, maxlength, pattern?

[2016-07-01 14:03] ZiFFeL1992 opened #7157 "Map not displaying on tabs template"
#### Short description of the problem:
On beta.9 when I change to Map tab, I can see the map without any issue but since I upgrade to beta.10 the content doesn't change, after some investigation I have found that the `HomePage` keeps having `show-page` as class, if I change it to `hide-page` I'm able to see the map like I would do on beta.9

#### What behavior are you expecting?
See the map after

[2016-07-01 14:06] jgw96 commented on #7089
@javebratt, yep would you mind giving the latest Ionic 2 nightly a try and see if you still run into the same issues? To install Ionic 2 nightly just run `npm install ionic-angular@nightly`. Thanks for using Ionic!

[2016-07-01 14:18] jgw96 commented on #7009
Ahh ok, i think we got it this time. Would you mind trying this on your alerts:

[code]

[2016-07-01 14:18] jgw96 commented on #7147
Ahh ok, thanks! Since this is an ionic native issue i am going to move this issue to the Ionic-Native repo. Thanks for using Ionic!

[2016-07-01 14:19] jgw96 commented on #7147
This issue was moved to driftyco/ionic-native#258

[2016-07-01 14:19] #7147 closed

[2016-07-01 14:23] jgw96 commented on #7156
Hello, thanks for opening an issue with us! Since this is an issue with Ionic-Native and not the ionic framework i will be moving this issue over to that repo. Thanks for using Ionic!

[2016-07-01 14:23] jgw96 commented on #7156
This issue was moved to driftyco/ionic-native#260

[2016-07-01 14:23] #7156 closed

[2016-07-01 14:30] jgw96 commented on #6004
Hello @royipressburger if you take a look at our [changelog](https://github.com/driftyco/ionic/blob/master/CHANGELOG.md) for beta.10 you will see an example of the new way to use navbars and headers. If you could give it a try that would be great!

[2016-07-01 14:32] viniciusgandrade opened #7158 "Searchbar doesn't fire blur event."
#### Short description of the problem:
When tap a searchbar, keyboard shows up. When focusing out or scrolling the list, the keyboard doesn't hide.

#### What behavior are you expecting?
I suppose that the correct behaviour, like in native apps, is to hide the keyboard when tap the list or out of the searchbar.

**A possible solution is something like the input-native solution. In a older version

[2016-07-01 14:32] sarahhostyk commented on #5595
hey @brandyscarney this is off topic but I'm trying to get autocomplete with google places API to work in ionic 2. It is working on ionic serve but not on an iphone or android phones. Is this something that might be supported in the upcoming beta 10 as well or another upcoming release?

[2016-07-01 14:33] sarahhostyk commented on #5595
hey @brandyscarney this is off topic but I'm trying to get autocomplete with google places API to work in ionic 2. It is working on ionic serve but not on an iphone or android phones. Is this something that might be supported in the upcoming beta 10 as well or another upcoming release? Thanks!

[2016-07-01 14:33] javebratt commented on #7089
Hey @jgw96 I'm trying nightly, but it half works, I'm on Ionic Serve right now, it works only if I emulate iOS, if I emulate android the slider only slides half way, it doesn't move to the next slide.

And my `this.slider.slideNext();` stopped working altogether.

[2016-07-01 16:02] jasonwaters commented on #7154
Hi @jgw96, do you have a plunker with ionic set up already that I can start from?  I'm not sure it will help without testing on a mobile device actually.  My guess is the guys maintaining conference app could reproduce this pretty easily

[2016-07-01 16:02] jgw96 commented on #7089
@javebratt yeah, we did a refactor of the overlay components such as alert and loading. When beta.11 gets released we will have directions on how to use the new api. Here is an example of creating an opening an alert with the new api

Alert is now a provider called AlertController
[code]

Inject it in your constructor
[code]

And use it like this
[code]