[2020-02-19 04:10] yashp98 opened #20550 "bug: segment change not work on android"
# Bug Report

**Ionic version:**

[x] **5.x**

**Current behavior:**
segment change not work in android but it is work good on ios

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]
insert the output from ionic info here
[code]

[2020-02-19 04:15] yashp98 commented on #20550
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/35022242/74801325-402abb80-52fc-11ea-82ba-0fcb62583b1a.gif)
ion-segment not work in android but it is work good in ios .you can see in gif if i click on save card .segment not change

my code is
  <ion-segment mode="md" color="secondary" [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
    <ion-segment-butto

[2020-02-19 06:49] juanmiguelbesada commented on #17341
I can't reproduce this issue:

See https://codepen.io/juanmiguelbesada/pen/bGdezWq

[2020-02-19 06:51] juanmiguelbesada commented on #17341
I can't reproduce this issue in ionic 4.11.10 and @latest versions (dind't test on angular version)

https://codepen.io/juanmiguelbesada/pen/bGdezWq

[2020-02-19 06:52] juanmiguelbesada commented on #20550
Duplicate of https://github.com/ionic-team/ionic/issues/20466

[2020-02-19 07:11] NikolaPeevski commented on #20545
@Ajax-ua Do you have
```@ViewChild('tabs', { static: true, read: IonTabs }) private tabsRef: IonTabs;```

as a local property of the component for that template ? Also just a general tip, avoid binding functions to templates directly, it causes a lot of calls when the view gets repainted :)

[2020-02-19 07:12] HansKrywaa commented on #20467
Awesome, works! 🎉

[2020-02-19 07:42] dotocean commented on #20500
Ok I'm sorry, Thanks for the fix!

[2020-02-19 10:05] Ajax-ua commented on #20545
@NikolaPeevski I didn't have local property via ViewChild decorator and it works correctly on Ionic 4.
However I've tried to use it with Ionic 5 but I still get the same error

[2020-02-19 10:09] NikolaPeevski commented on #20545
@Ajax-ua Can you provide a repo that consistently yields this problem?

[2020-02-19 10:23] danieljameswilliams commented on #20450
This is still a problem for me

[code]

[2020-02-19 10:37] jbollacke commented on #17781
Quickly tried adding css-vars-ponyfill:
`
import cssVars from 'css-vars-ponyfill';
cssVars({ watch: true });
`
but no luck.

Chrome/WebKit v49 introduced CSS vars and fixes most of the issues encountered.

[2020-02-19 10:56] Ajax-ua commented on #20545
@NikolaPeevski please check: https://github.com/Ajax-ua/ionic5-tabs
By the way, when I call this method in component then there is no error but it still doesn't work and returns `undefind`.

[2020-02-19 11:00] SSuarezBrooktec commented on #20466
ok will check now

[2020-02-19 11:27] NikolaPeevski commented on #20545
@Ajax-ua Okay, so the way tabs work is that they use a stack controller to retain tab history. This controller gets initialised when an component with a ion-tabs is created. Since you're binding the getSelected() to either the template/ngOnInit you're getting this issue because you're trying to call getSelected() while the controller is being initialised. It does not take much to initialise, it's

[2020-02-19 11:39] gminhaneli commented on #20466
@liamdebeasi o ERRO ainda persiste.

![Peek 19-02-2020 08-39](https://user-images.githubusercontent.com/50341465/74831116-5718e000-52f3-11ea-9f23-2d9098198f52.gif)

[2020-02-19 11:47] SSuarezBrooktec commented on #20466
![Kapture 2020-02-19 at 12 46 56](https://user-images.githubusercontent.com/56263935/74831662-f5b63880-5315-11ea-9102-0f4cc1c89b62.gif)

Not working on Android 5.1

[2020-02-19 11:53] Ajax-ua commented on #20545
@NikolaPeevski thanks for your answer!
Calling method in ngAfterViewChecked returns undefined. As well as in ngAfterViewInit hook. I've achieved an expected result using ionViewDidEnter hook. So I can solve my problem using it. However, I think that the tabs behavior isn't clear and it should be at least described in the documentation

[2020-02-19 11:55] NikolaPeevski commented on #20545
You can rename this issue and/or close it and reference it in a new issue here https://github.com/ionic-team/ionic-docs since it's not a bug.

[2020-02-19 13:23] call-me-adas opened #20551 "support: ionic 5 SSR universal"
Hello i just wanted to ask if SSR is already avaible in ionic 5 ?

This issue is not seeing to change for long time..
[Issue](https://github.com/ionic-team/ionic/issues/15041)

So any update of Angular universal / SSR ?

[2020-02-19 13:23] #20551 closed

[2020-02-19 13:41] OoDeLally opened #20552 "bug: Redirect route only works once"
# Bug Report

**Ionic version:**

5.0.0

**Current behavior:**
Redirection only works once.

## Step to reproduce

Here is a toy project to reproduce the issue:
https://github.com/OoDeLally/ionic-redirect-bug

- Run the app ( `npm i && npm start`).
- Click on `Go to Page` button.
- The app moves to `/foo`, then gets redirected to `/foo/page`.
- Click on `Back` button.
- The app goes back to the ma

[2020-02-19 13:53] liamdebeasi commented on #20549
Thanks for the issue. This issue was fixed by https://github.com/ionic-team/ionic/pull/20490 and will be available in an upcoming release of Ionic Framework.

[2020-02-19 13:53] #20549 closed

[2020-02-19 13:55] liamdebeasi commented on #20466
Can everyone provide a full code reproduction of the issue happening? I checked the reproduction in https://github.com/ionic-team/ionic/issues/20487 and the fix works fine.

[2020-02-19 13:56] liamdebeasi commented on #20550
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic/issues/20466.

[2020-02-19 13:56] #20550 closed

[2020-02-19 13:58] #20467 closed

[2020-02-19 13:58] liamdebeasi commented on #20467
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic/pull/20546 and will be available in an upcoming release of Ionic Framework.

[2020-02-19 14:00] liamdebeasi commented on #20381
@yarivgdidi Here is the PR for this issue's particular bug: https://github.com/ionic-team/ionic/pull/20522

If you are having issues similar to https://github.com/ionic-team/ionic/issues/20466, can you post your message in that thread? I am looking for reproductions to help verify a fix.

[2020-02-19 14:02] liamdebeasi commented on #20450
@danieljameswilliams Can you please open an issue here: https://github.com/ionic-team/angular-toolkit along with a reproduction?

[2020-02-19 14:32] bryplano opened #20553 "bug: Long Press Gesture on Phone Link Does Not Work in Safari on iOS in Ionic Application"
# Bug Report

## Ionic version:

[x] **5.x and 4.x**

## Current behavior

In Safari on iOS, when long pressing on a telephone link like this one in an Ionic application:

[code]
nothing happens. The tap gesture is still recognized properly, but a long press does nothing.

**NOTE**: Cordova or Capacitor is NOT REQUIRED to reproduce this behavior! This happens in a standalone Ionic application.

##

[2020-02-19 14:37] kensodemann commented on #20553
The app @bryplano created is v4.11.10, but I also tried this on a similar v5 app with the same results (just to confirm that this is still an issue in v5).

[2020-02-19 14:37] liamdebeasi commented on #20381
@yarivgdidi The PR for this bug is https://github.com/ionic-team/ionic/pull/20522.

It looks like there are 2 bugs. The first is the bug that https://github.com/ionic-team/ionic/pull/20522 fixes, and the second is the bug in https://github.com/ionic-team/ionic/issues/20466.

I am going to merge in the fix for this bug and close out this issue. We can handle the bug for https://github.com/ionic-tea

[2020-02-19 14:37] SSuarezBrooktec commented on #20466
I tried with my repo and compile for Android 5.1 but is not working

![Kapture 2020-02-19 at 15 36 39](https://user-images.githubusercontent.com/56263935/74844442-bbf12c00-532d-11ea-9c25-3fcdb164be36.gif)

[2020-02-19 14:40] #20381 closed

[2020-02-19 14:40] liamdebeasi commented on #20381
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic/pull/20522 and will be available in an upcoming release of Ionic Framework.

[2020-02-19 14:42] gminhaneli commented on #20487
@liamdebeasi consegui replicar o problema, é o uso do bloqueio do touch no ngOnInit ou ionViewDidEnter

      document.addEventListener("touchstart", () => { this.slides.lockSwipes(true); }, false);
      document.addEventListener("touchend", () => { this.slides.lockSwipes(true); }, false);
      document.addEventListener("touchcancel", () => { this.slides.lockSwipes(true); }, false);
      docume

[2020-02-19 14:43] gminhaneli commented on #20466
@liamdebeasi  consegui replicar o problema, é o uso do bloqueio do touch no ngOnInit ou ionViewDidEnter

  document.addEventListener("touchstart", () => { this.slides.lockSwipes(true); }, false);
  document.addEventListener("touchend", () => { this.slides.lockSwipes(true); }, false);
  document.addEventListener("touchcancel", () => { this.slides.lockSwipes(true); }, false);
  document.addEventList

[2020-02-19 14:45] SSuarezBrooktec commented on #20487
Olá Gustavo, eu entendo um pouco de portugues, mas seria melhor se a ionic team escrevesse em ingles :D

[2020-02-19 14:47] liamdebeasi commented on #20466
@SSuarezBrooktec Can you test this on a physical device? We do not recommend testing on emulators are they ship with very outdated, non upgradable versions of the webview.

I am testing your app with my dev build on Android 5.1, and I am seeing your app work properly now.

[2020-02-19 16:06] MarkChrisLevy commented on #20521
@bsbechtel Imho it is very ok, that checkbox is toggled when item clicked - think about mobile apps, it is proper behavior, that is from the very beginning of ionic. But you can achieve what you need wrapping ion-checkbox in slotted div:
[code]

[2020-02-19 16:33] #20545 closed

[2020-02-19 17:16] OoDeLally commented on #20543
@elingerojo Thank you.
It doesnt seem to work if the page is accessed via a redirection.

This doesnt work for both version of the Redirect:

[code]
or
[code]

[2020-02-19 17:20] elylucas commented on #20552
Hi @OoDeLally,

Thanks for the issue and the detailed repo. I believe this is fixed and will go out shortly in the 5.0.1 release later today. If its still happening, ping me here and I'll take another look.

Thanks

[2020-02-19 17:20] #20552 closed

[2020-02-19 17:29] liamdebeasi commented on #20482
Thanks for the issue. Can you try the following dev build and let me know if it resolves the issue?

`npm i @ionic/angular@5.1.0-dev.202002191712.5b19395`

[2020-02-19 17:40] 3adeling commented on #20482
@liamdebeasi yes it resolves the issue. Thanks for your efforts.

[2020-02-19 17:45] liamdebeasi commented on #20482
Glad to hear the issue is fixed. I am going to keep the issue open until I merge the fix in. Thanks!

[2020-02-19 18:35] simonhaenisch commented on #20466
@liamdebeasi I've encountered this issue as well and it only happened on one page for us where the structure is

[code]

In other pages where the segment was inside the `ion-content` it was working. I was able to reproduce it with an ionic-pwa stencil starter a couple days ago. I'll try to give you a reproduction. It was happening when switching to the device simulator in Chrome devtools, but only

[2020-02-19 20:21] liamdebeasi opened #20559 "bug: Hardware Back Button does not close side menu"
# Bug Report

**Ionic version:**

[x] **5.x**

**Current behavior:**

Tapping the hardware back button does not close the open side menu.

**Expected behavior:**

I would expect that tapping the hardware back button would close the open side menu.

**Steps to reproduce:**

1. Run the `sidemenu` starter app on an Android device.
2. Open the sidemenu.
3. Tap the hardware back button.
4. You should n

[2020-02-19 21:24] simonhaenisch commented on #20466
@liamdebeasi here you go: https://codepen.io/simonhaenisch/full/poJEEgv

Open this in Chrome dev tools, toggle the device toolbar, then switch to an Android simulator, e. g. Galaxy S5. Clicking the second tab will trigger the ripple effect on the first one but it won't switch to the second tab.

If you open it normally (without a device simulator), you will see that the ripple effect is applied to

[2020-02-19 22:22] NikolaPeevski commented on #20553
@bryplano Can you commit your changes regarding the cordova plugins ? Trying to install all npm packages and doing ionic info shows no cordova plugins installed

[2020-02-19 22:58] yarivgdidi commented on #20466
Hi Liam
as promised, I've update my repo to represent this bug
git clone https://github.com/yarivgdidi/ion-segments-20381
npm i

tab 1 has the issue with android, tabs 2 and 3 don't
the difference are:
tab 1, ion-segment is not surrounded by ion-toolbar  (not working in android)
tab 2, ion-segment surrounded  by ion-toolbar (working)
tab 3, ion-segment not not surrounded by ion-toolbar  and ion-he

[2020-02-20 00:17] aspoonemore commented on #20466
@liamdebeasi Here's a link to a repo you can use to reproduce the problem

https://github.com/aspoonemore/ionic-v5-android-segment

Thanks,
Dale Spoonemore

[2020-02-20 00:53] DausShukor commented on #20526
Microsoft Edge 44.18362.449.0

[2020-02-20 03:19] hiepnsx commented on #19589
+1

[2020-02-20 04:36] Sunil509 commented on #20448
Thanks.

[2020-02-20 04:43] Sunil509 opened #20560 "bug: Not able to customise the ion-toggle component.I just want to adjust the height and toggle knob size as well."
Hi,

Looking for customisation of the ion-toggle component in ionic 5.I just want to adjust the height and toggle knob size as well.  Please suggest how to achieve this.

[2020-02-20 04:58] ahmadtawakol commented on #17201
This is still an issue in Ionic 5.

[2020-02-20 05:30] jm-vasquez commented on #20031
if somebody is getting this error yet:

[2020-02-20 06:29] davidseek opened #20561 "support: Ionic 5 modal using capacitor"
My question ties into https://github.com/ionic-team/ionic/issues/18660

We have recently updated our project to:

[code]

We're building the App using Capacitor.
I was expecting modals to appear in the new iOS13 card design,
but that is not the case. Is that because of Capacitor or what am I missing?

The presentation implementation is relatively straight forward:

[code]

Any help is highly appre

[2020-02-20 06:29] #20561 closed

[2020-02-20 07:02] netsesame2 commented on #20003
It will haptic when scroll the column if you use capacitor mode.

[2020-02-20 07:15] KwandSeokCho opened #20562 "bug: youtubeplayer ios build Error code 65"
"@ionic/angular": "^4.11.7",
"@ionic-native/youtube-video-player": "^5.21.4",
"cordova-plugin-youtube-video-player": "2.4.0",
"@angular/common": "~8.1.2",
"@angular/compiler": "~8.1.2",
"@angular/core": "~8.1.2",
"cordova-android": "8.1.0",
"cordova-ios": "5.1.1",

It works well on Android. and Xcode build success

but, It cannot be build in IOS...

ionic cordova run ios  / ionic cordova build ios

[2020-02-20 08:51] yarivgdidi commented on #20466
@aspoonemore, @liamdebeasi, @s3ppo
Just verified on Dales repo, surrounding ion-segments with ion-toolbar solve this

`
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" value="test1">
    <ion-segment-button value="test1">
      <ion-label>Test1</ion-label>
    </ion-segment-button>
    <ion-segment-button value="test2">
      <ion-label>Test2</ion-label>
    </ion-segment-button>

[2020-02-20 09:44] danieljameswilliams commented on #20356
I am still experiencing this issue using 5.0.1 :)

[2020-02-20 10:48] amanitequeen commented on #19000
Hello,

I have this issue on ionic serve when I change the status "disabled" on ion-split-pane. (note : there are two outlets in the ion split pane). I don't understand why I get thios error because my application still works. But I have the problem in ionic serve when it hits "debugger" (seriously why did you put a debugger). On android the application work fine and the error is only in console l

[2020-02-20 12:26] netsesame2 commented on #18641
@auron105
cssClass: 'open_picker' not works now.

current workaround is:
//globa.scss
[code]

[2020-02-20 12:49] SSuarezBrooktec commented on #20466
Errors on console in my project

![Captura de pantalla 2020-02-20 a las 13 48 36](https://user-images.githubusercontent.com/56263935/74935004-ba843a00-53e7-11ea-9b99-92410ce68150.png)

[2020-02-20 13:14] Yohandah commented on #18439
It's fixed in v5.

[2020-02-20 13:35] edocbuhtig commented on #20502
@kensodemann - Thanks for the response, though, i have tried upgrading Ionic@angular successfully with this command `npm i @ionic/angular@latest --save` but, upgrading an individual projects Angular core from 8.1 to 9.x was a trouble using `ng update` within Ionic app, and i ran into cli issues one after another like `Your global Angular CLI version (9.0.2) is greater than your local
version (8.1.

[2020-02-20 14:04] #20562 closed

[2020-02-20 14:11] liamdebeasi commented on #20560
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic/issues/20474.

[2020-02-20 14:11] #20560 closed

[2020-02-20 14:16] Yohandah opened #20565 "bug: ion-searchbar width miscalculated on desktop when in scrollable zone"
# Bug Report

**Ionic version:**

[x] **4.x**
[x] **5.x**

**Current behavior:**
When a `<ion-searchbar>` is in a scrollable area and in desktop mode, the placeholder is truncated (by the clear button area I believe). The width of the searchbar doesn't seem to know that the scrollbar is here so the font size does not adjust.

**Expected behavior:**
The label shouldn't be truncated. On a phone it w

[2020-02-20 14:21] kensodemann commented on #20502
@edocbuhtig - Please use our [forum](https://forum.ionicframework.com) or our [slack channel](https://ionicworldwide.herokuapp.com/) for further inquiry along these, as it is a support request not an issue with the Framework and is also off-topic for this issue.

I was only pointing out to you that you could indeed use NG 9 with your Ionic v5 app in case you wanted to help replicate or debug this

[2020-02-20 14:51] daviddickson commented on #19949
+1 for this. Could also expose `.selected-text` as a solution.

[2020-02-20 14:58] adeblas opened #20566 "bug: scrollable ion-segment doesn't expand ion-buttons when needed"
# Bug Report

**Ionic version:**
Ionic 5.0.1
**Current behavior:**

When you use a ion-segment with many ion-segment-buttons and set it as scrollable="true", all the buttons' width is 90px, even if the inner content doesn't fit.

**Expected behavior:**
The ion-segment-buttons should expand to fit the label content.

**Steps to reproduce:**
Create an ion-segment with 20-30 ion-segment buttons inclu

[2020-02-20 14:58] liamdebeasi commented on #17202
Hi everyone,

I wanted to provide an update regarding this issue. We have determined that this is a bug in WebKit (https://bugs.webkit.org/show_bug.cgi?id=201048). Recently, this issue was fixed and released as part of the latest Safari Technology Preview (release 101 at the time of writing).

We do not have a timeline as to when the fix will become available for all users as that release schedule

[2020-02-20 14:58] #17202 closed

[2020-02-20 15:00] liamdebeasi commented on #17649
Quick update: The WebKit issue I linked to has been fixed and released as part of the latest Safari Technology Preview (release 101 at the time of writing). As it turns out, this bug was not solely related to the Shadow DOM as the WebKit team was able to reproduce this issue outside of the Shadow DOM.

We do not have a timeline as to when the fix will become available for all users as that release

[2020-02-20 15:27] qduborper opened #20567 "feat: ion-datetime - Allow pickerFormat to show weekday"
**Ionic version:**
[x] **4.x**

**Current behavior:**
When selecting a date with ion-datetime it is not possible to see the weekday, thus users need to check a calendar (which shows the weekdays) and select the right date.
The following code does not work as expected, the first DDDD is ignore:
[code]

Screenshot for version 3, same behaviour in 4x:
![26980167-9bd29f94-4d31-11e7-971c-7527570270d4](

[2020-02-20 15:33] giuse-m opened #20568 "Ionic 5: "The key "viewport-fit" is not recognized and ignored." error on Android 5"
Hi, i have a problem with Ionic on Android 5. I must develope my Android app for an Android 5 device.
On app startup appears this error:  "The key "viewport-fit" is not recognized and ignored." and some app's elements (buttons, modals etc...) don't works.
Android System WebView on device is up to date.
I tried to update Cordova, Ionic, Npm, and Android platform and read lot of other issues but pro

[2020-02-20 15:43] liamdebeasi commented on #20537
Thanks for the follow up. The transition is not working properly because of the CSS you have applied. When you tell Swiper to display 4 slides per view, it is going to resize each slide to a width that allows it all to fit on the screen.

For example, if you have a screen width of 400px, Swiper is going to resize each of the 4 slides in the view to have a width of 100px.

You CSS has a `width: aut

[2020-02-20 15:43] #20537 closed

[2020-02-20 15:47] liamdebeasi commented on #20568
Thanks for the issue. I am going to close this as this is not a bug in Ionic Framework.

Older versions of the Android webview do not support `viewport-fit` which is fine. It is really only for newer devices which have the "notch", and those devices typically have newer versions of the Android webview which support `viewport-fit`.

If you are running into additional issues, please open separate is

[2020-02-20 15:47] #20568 closed

[2020-02-20 15:49] liamdebeasi commented on #20567
Thanks for the feature request. I have added your request to the main issue/feature request tracker: https://github.com/ionic-team/ionic/issues/16630.

[2020-02-20 15:49] #20567 closed

[2020-02-20 16:27] Yohandah opened #20569 "bug: iOS Swipable Modal causing Android to shrink statusbar"
# Bug Report

**Ionic version:**
[x] **5.x**

**Current behavior:**
When enabling swipeToClose + presenting element on a modal, Android toolbar is shrinked into the statusbar.

**Expected behavior:**
It should be as when presentingElement isn't set.

**Steps to reproduce:**
- Configure a modal :
[code]

- Open the modal on Android => The toolbar is in the statusbar
- Remove `presentingElement `pro

[2020-02-20 16:36] Yohandah opened #20570 "bug: weird space at the top of a toolbar on desktop"
# Bug Report

**Ionic version:**
[x] **5.x**

**Current behavior:**
Since v5 there is a margin at the top of my toolbars when I'm on desktop

**Expected behavior:**
It should be the same as v4 (see screenshots)

**Steps to reproduce:**
- Create Ionic sidemenu starter
- Open it with v4 as a dependency
- Then open it with v5 as a dependency

**Other information:**
Watch above the toolbar

v4
![accue

[2020-02-20 16:38] liamdebeasi commented on #20466
Thanks for all the follow ups. I have made a few changes and created a new dev build. I have verified in all of the reproductions that this dev build fixes the issue.

Here is the dev build if people would like to test in their other apps:

Angular
`npm i @ionic/angular@5.1.0-dev.202002201606.ac98652`

React
`npm i @ionic/react@5.1.0-dev.202002201606.ac98652`

[2020-02-20 16:43] rajiramamoorthi commented on #20535
Hi @liamdebeasi
      Are you able to reproduce this issue? Could provide resolution on this issue?

[2020-02-20 17:12] liamdebeasi commented on #20535
Thanks for the issue. I am going to close this as this is not a bug in Ionic Framework. Blurring an input automatically closes the keyboard/de-focuses the input -- trying to hide the keyboard yourself without blurring the input is going to cause issues.

It is better to just ensure that the input gets blurred and then let the webview handle the rest of the work:

[code]

[2020-02-20 17:12] #20535 closed

[2020-02-20 17:15] liamdebeasi commented on #20570
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue? I am unable to reproduce this issue using the v5 sidemenu starter.

[2020-02-20 17:16] Yohandah commented on #20570
Yeah it is a v4 side menu starter upgraded to v5. I’ll link you a repo ASAP.

[2020-02-20 17:26] liamdebeasi commented on #20569
Thanks for the issue. Can you try the following dev build and let me know if it resolves the issue?

`npm i @ionic/angular@5.1.0-dev.202002201722.65941af`

[2020-02-20 17:49] josh-m-sharpe commented on #17202
@liamdebeasi Aside from the fact that there is almost always a half-decent workaround for issues such as this.... Why is it acceptable to close this issue without making note of the issue in the docs? Because what we have now is a main component of ionic that flat out doesn't work on iOS. And your response is to just shoulder shrug and close the issue?

I realize you folks have a lot of issues to

[2020-02-20 18:14] HansKrywaa opened #20572 "bug: ionic 5 Modal with Google Maps"
# Bug Report

**Ionic version:**

[x] **5.x**

**Current behavior:**

When a Modal on ios over a Page with Google Maps is presented, the Map is black (because **background-color: black** is set on body). Thats why displaying the Map isn't working while the Modal is present.

**Expected behavior:**

The Map should be visible and the Background around the Map should be black (#20469).
A possible Sol

[2020-02-20 18:28] GuerrillaCoder opened #20573 "bug: Ionic doesn't recognise visual studio android emulator"
# Bug Report

**Ionic version:**

[x] **4.x**

**Current behavior:**

When running `ionic cordova run android --verbose` with VS android emulator running the following error occurs:

**Expected behavior:**

Expected behaviour would be for it to detect the visual studio emulator and launch the app on it.  The visual studio android emulator docs say that it should act like a normal phone connected t

[2020-02-20 18:31] liamdebeasi commented on #20573
Thanks for the issue. I am going to close this as this is not a bug in Ionic Framework. As the error states, your app cannot be run on the device because you do not have the appropriate version of the Android SDK installed (`Cannot create AVD because there is no suitable API installation.`).

You should use the `--sdk-info` flag as the error suggests to see the packages you are missing.

[2020-02-20 18:31] #20573 closed

[2020-02-20 18:42] GuerrillaCoder commented on #20573
Can you re-read it please and double check that is the case.  I am not trying to launch android emulator.  The pertinent issue is it doesn't recognise the device.  I 100% have the correct SDK installed (I can connect to actual device, but not the VS emulator).

I think what you say would be correct if I was trying to use the android studio emulator but I am not.  I am first initiating the visual s

[2020-02-20 18:46] wilk-polarny commented on #20523
@liamdebeasi , just checked. `(submit)` does not work for the enter key on iOS (use-submit-instead-ngsubmit branch on the repo linked above).

[2020-02-20 18:54] NikolaDeveloper commented on #19638
Is there any workaround for react?

[2020-02-20 19:04] liamdebeasi commented on #20572
Thanks for the issue. I am going to close this as this is not a bug in Ionic Framework. The default spec for iOS is to display a black background. Additionally, we do not manage the Google Maps plugin, so we are unable to control what styles it injects.

From what it looks like, the Google Maps plugin is injecting global styles in many places which are interfering with the application. Based on th

[2020-02-20 19:04] #20572 closed

[2020-02-20 19:38] JoeBoxr opened #20574 "bug: Ionic 5.0.1 ion-segment not working in mobile browser"
# Bug Report

**Ionic version:**

[x] 5.0.1

**Current behavior:**
With 2 or more ion-segments you are unable to click the other segments in the mobile browser.
Works as expected on desktop browser.

**Expected behavior:**
ion-segments would display the associated segment when clicked.

**Steps to reproduce:**
1. ionic start myApp tabs
2. add the following to a tab...
`<ion-segment>
    <ion-segme

[2020-02-20 19:52] liamdebeasi commented on #20574
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic/issues/20466.

[2020-02-20 19:52] #20574 closed

[2020-02-20 20:44] liamdebeasi commented on #20573
Ionic Framework does not manage deploying your app to a device. Adding `ionic` at the beginning of the command just compiles your app before deploying. A good check would be to see if `cordova run android --verbose` works.

[2020-02-20 20:52] liamdebeasi commented on #17202
We close issues here when any code that is responsible for fixing a bug has been merged (either into an Ionic repo or a 3rd party repo). In this case, code was merged into the WebKit repo that fixed this issue.

The workarounds that have been provided here should do the trick until Apple can ship this fix out. I realize the workarounds are not as ideal as having a fix right now, but we do not cont

[2020-02-20 20:54] josh-m-sharpe commented on #17202
@liamdebeasi If you had encountered this issue while building the feature for its initial release, would you have released the feature?

[2020-02-20 21:04] liamdebeasi commented on #17202
I understand that having this unexpected behavior is frustrating, but I am not going to comment on that. I am going to lock this thread as I think the discussion regarding this issue has been resolved.

For any additional bugs or feature requests, please create a new issue. Thanks!

[2020-02-20 21:20] GuerrillaCoder commented on #20573
OK, I will raise issue in cordova.  Thanks

[2020-02-20 21:24] Elismar13 commented on #20503
Thanks. My project is running again.

[2020-02-20 21:43] Taylorsuk opened #20575 "bug: Collapsible large titles showing through when navigating on iOS Tabs app"
# Bug Report

**Ionic version:**
v5.0.1

**Current behavior:**
The bug occurs when using the Collapsible Large Titles feature in conjunction with Tabs navigation. see animation below:

![collapsible title isse](https://user-images.githubusercontent.com/852767/74980902-3357b600-5429-11ea-9f95-6c2173b2c7ca.gif)

**Expected behavior:**
Expect the hidden page titles in the stack to remain hidden and n

[2020-02-20 21:50] liamdebeasi commented on #20575
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic/issues/20482.

[2020-02-20 21:50] #20575 closed

[2020-02-20 23:11] s3ppo commented on #20466
@liamdebeasi i tested it with the devbuild.. works like charm :)
thank you very much

[2020-02-20 23:15] s3ppo commented on #20466
is it already included in yesterdays release of 5.0.1 or do we have to wait for 5.1.0?

[2020-02-20 23:19] liamdebeasi commented on #20466
It is not in the 5.0.1 release, but will be in an upcoming patch release.

[2020-02-20 23:32] aspoonemore commented on #20466
Works for me too. Great job, Ionic team!

Dale

[2020-02-20 23:55] NikolaPeevski commented on #20544
If it's running that should mean the exception is handled correctly? @danielpspring

[2020-02-21 03:58] liamdebeasi opened #20577 "bug: swipe to close modal does not use custom animation"
# Bug Report

**Ionic version:**

[x] **5.x**

**Current behavior:**

Modal with custom leave animation is not used when `swipeToClose = true`. The standard card-style animation is used.

**Expected behavior:**

I would expect that users can provide a custom animation to the swipe to close modal.

**Steps to reproduce:**

1. Open https://codepen.io/ionic/pen/ExapZBZ.
2. Set `modalElement.mode = 'i

[2020-02-21 08:33] Yohandah commented on #20569
@liamdebeasi When I do yarn add @ionic/angular@5.1.0-dev.202002201722.65941af it doesn't find it and ask me for this ?
![image](https://user-images.githubusercontent.com/15921402/75017363-22409080-548d-11ea-9be2-a37a39e92af2.png)

[2020-02-21 08:44] oneclickwebstudio commented on #17515
Any updates in 2020?

[2020-02-21 08:56] SSuarezBrooktec commented on #20466
For me in physichal mobile: Huawei P3 Lite Android 5.0.1 is not working. Because webview is v39 (if install the last webview version, didn't work). If you want you can check my repo here
https://github.com/SSuarezBrooktec/Ionic5_ion_segment_error

Error is this:

![Captura de pantalla 2020-02-21 a las 9 55 50](https://user-images.githubusercontent.com/56263935/75018977-5c5f6180-5490-11ea-8729-d5fd

[2020-02-21 09:04] bodinaren commented on #20466
I tried out the dev build and I still experience the same issue as detailed in https://github.com/ionic-team/ionic/issues/20466#issuecomment-588478532.

I attempted one fix which seems to work at least for this case, on this line... https://github.com/ionic-team/ionic/blob/master/core/src/components/segment/segment.tsx#L305

What happens is when it tries to find `nextEl` on the next line it gets t

[2020-02-21 10:25] indraraj26 opened #20578 "bug [ionic 5] : collapsible header sometime it will not show"
# Bug Report

**Ionic version:**

[x] **5.x**

**Current behavior:**

Sometime it is not showing, I have used docs code
[code]

**Expected behavior:**

It should show header every time i scroll;

**Steps to reproduce:**

Gist: https://gist.github.com/indraraj26/61620540c4f460dbc6c74b21f8c646bc
1. scroll nearby top again and again

![image](https://user-images.githubusercontent.com/23274631/7502613

[2020-02-21 10:57] SanderMuller commented on #20428
I experience this issue using **ionic-vue@0.0.9** with ionicons@5.0.0

[2020-02-21 11:00] indraraj26 opened #20579 "bug [ionic 5]: flickering header while using Swipeable Modals [iOS]"
# Bug Report

**Ionic version:**

[x] **4.x**

**Current behavior:**

Header part of parent element is flickering
**Expected behavior:**

it should have smooth transition at header

**Steps to reproduce:**

**Related code:**

![image](https://user-images.githubusercontent.com/23274631/75029118-7bc5b100-54c7-11ea-9a56-3870377b1392.png)
[code]

**Other information:**

**Ionic info:**

[code]

[2020-02-21 11:06] yarivgdidi commented on #20466
I confirm the fix work, great job @liamdebeasi and team
@bodinaren is your segment surrounded with `<ion-toolbar>,` e.g.
`
<ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" >
        <ion-segment-button >
          <ion-label>
            one
          </ion-label>
        </ion-segment-button>
        <ion-segment-button >
          <ion-label>
            two
          </ion-la

[2020-02-21 11:18] bodinaren commented on #20466
@yarivgdidi No, they weren't, it does fix it though so thanks for that.

That's quite the well concealed piece of requirement though, perhaps the docs can be improved regarding this?

[2020-02-21 11:33] rjurado01 commented on #20452
Yes, this icons are loaded by default: https://github.com/ionic-team/ionic/blob/69e10de718dcba4d43e82bd37aeacd2585dd9a79/vue/src/app-initialize.ts#L23

Y have to do add this code to load other icons:

[code]

[2020-02-21 12:01] ctfrancia opened #20580 "bug: while running on ios app opens and closes instantly"
# Bug Report

**Ionic version:**

[x] **4.x**

**Current behavior:**

following the command `$ ionic cordova run ios` when the process and compiling is all finished and then the last text shows:
`native-run ios --app "platforms/ios/build/device/<name of project>.ipa" --device`

the application opens and then closes within a second. I get no errors. Don't know where the problem lies.

**Expected be

[2020-02-21 12:35] Yohandah commented on #20570
Well, I don't know what to say, I just relaunched my project and now it's fine ... I can't reproduce it. Maybe it was related to some cache or something else. Sorry for the issue.

[2020-02-21 12:35] #20570 closed

[2020-02-21 12:58] simonhaenisch commented on #20466
I don't think it's supposed to be a requirement, is it?

[2020-02-21 13:39] rupamhazra opened #20581 "feat: How to integrate google map roads API in ionic 4"
How to integrate google map roads API in ionic 4

[2020-02-21 14:04] #20581 closed

[2020-02-21 14:05] liamdebeasi commented on #20579
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue?

[2020-02-21 14:06] liamdebeasi commented on #20580
Thanks for the issue. I am going to close this as this is not a bug in Ionic Framework. The framework does not manage deploying your app to a device. Also it looks like you already have an open issue for this here: https://github.com/ionic-team/native-run/issues/109.

[2020-02-21 14:06] #20580 closed

[2020-02-21 14:07] liamdebeasi commented on #20578
Thanks for the issue. What version of iOS are you testing this on?

[2020-02-21 14:33] rafalschmidt97 opened #20582 "bug: scrollY="false" / --overflow: false on ion-content refresh a view"
# Bug Report

**Ionic version:**

[] **4.x**
[x] **5.x** (TODO: add version 5 to the template)

**Current behavior:**

Hi,
After updating my application from the version 4.7 to 5 I've noticed an annoying bug. Whenever you change a page and then go back it is refreshing the content.

After some investigation I've realised that the problem is correlated with scrollY="false" / --overflow: false. Then

[2020-02-21 14:39] HansKrywaa commented on #20572
@liamdebeasi Setting the Background Color works, but the **background-color: black !important** that sets to body while the modal is open still overrides that the map is visible. Is it possible to turn it back to use without **!important**?

[2020-02-21 14:40] liamdebeasi commented on #20572
From the previous issue you opened, you confirmed that this behavior was expected which is why we changed it: https://github.com/ionic-team/ionic/issues/20469#issuecomment-585805752

What is the actual expected behavior in your use case?

[2020-02-21 14:44] HansKrywaa commented on #20572
Yeah, that my fault, i'm sorry. I didn't know that the Google Maps Class has the Option to set the Background Color itself. In my last issue the space above the Modal was white, but this changes to black too if i use the Environment.setBackgroundColor('#000') method.

So the Behavior i expect when using the Google Maps Plugin and open a Modal above it is that the Border around the Modal is black,

[2020-02-21 14:47] liamdebeasi commented on #20572
Ok try this dev build and let me know if it fixes the issue: `5.1.0-dev.202002211445.714ecaa`. I just removed the `!important` so you should be able to override it.

[2020-02-21 14:57] 25juan opened #20583 "ioninc-react android6 SyntaxError: Unexpected identifier"
# Bug Report

**Ionic version:**

[x] **5.0.0**

**Current behavior:**
android5 blank screen.
Android9 is OK.
android studio terminal info
[code]

**Expected behavior:**

show tabs screen

**Steps to reproduce:**
1、`ionic start IonicTabs tabs --type=react` init project.
2、`npm run build`
3、`ionic cap run android -l --external` run project on android6.(API23)
4、Android6 blank screen
i do not edit t

[2020-02-21 14:58] HansKrywaa commented on #20572
Yes it works! The Google Maps Class override it and the Map is visible. In combination with Environment.setBackgroundColor('#000') the Space around the Modal is black! 🎉

Again: I'm really sorry that i didn't test this Part enough in the last Issue!

[2020-02-21 15:01] liamdebeasi commented on #20572
No worries, glad it's working now 😄

[2020-02-21 15:05] #17480 closed

[2020-02-21 15:07] liamdebeasi commented on #20569
Try this dev build: `5.1.0-dev.202002211438.65941af`

[2020-02-21 15:31] liamdebeasi commented on #20582
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue?

[2020-02-21 16:24] liamdebeasi commented on #20466
@bodinaren The code you suggested is what we already do in the dev build (https://github.com/ionic-team/ionic/pull/20554/files#diff-eb82c3be26eed17c0d922817c1dcb05dR308). Are you trying the latest dev build `5.1.0-dev.202002201606.ac98652`?

[2020-02-21 16:24] liamdebeasi commented on #20466
Using `ion-segment` inside of `ion-toolbar` is not a requirement.

[2020-02-21 16:50] elylucas commented on #20349
Hi @adamduren,

We had some fixes in 5.0.1 that might of fixed this issue. Could you test again and let me know if it still happens?

Thanks

[2020-02-21 16:52] elylucas commented on #20109
Hi @allforabit

Could you test in the latest @ionic/react and let me know if this is still an issue? We did put some stuff in to update routes that are initially calculated in the first render.

Thanks

[2020-02-21 16:58] indraraj26 commented on #20579
branch: ionic-5
Repo: https://github.com/indraraj26/ionic4-starter-tabs-sidemenu/tree/ionic-5/src/app

[2020-02-21 16:59] cabassi commented on #20452
Thanks @rjurado01, I already know how to manually add icons.
What I'm saying is that per documentations all the icons should be available without having to add them manually.

[2020-02-21 16:59] indraraj26 commented on #20578
testing on chrome browser with Iphone x (not real device)
Reproduce step: scroll up and down at top then sometime it will not show header text

[2020-02-21 17:09] TLBSoftware opened #20586 "feat: Disabling Animation on NavController#pop via options argument"
# Feature Request
Adding the ability to disable `NavController#pop` via an options object, this was allowed previously in Ionic v3 but is missing in Ionic v4. Here is a very elaborate analysis of this issue that I have posted on your alls forums with links to the source code. Post Follows

Looks like in the new Ionic v4 the [options](https://ionicframework.com/docs/v3/api/navigation/NavController/

[2020-02-21 17:20] liamdebeasi commented on #20578
What version of iOS are you using though? (iOS 12, iOS 13, etc)

[2020-02-21 17:53] liamdebeasi commented on #20586
Thanks for the feature request. The stack does not manage anything related to the animations, so I do not think it would make sense for the `pop` method to provide animation-related options.

If you need to use `pop`, you can temporarily disable animation on the current router outlet:

[code]

Ideally, you would be able to use `navigateBack` where you can manage the animation directly, but it does

[2020-02-21 18:05] TLBSoftware commented on #20586
@liamdebeasi Yes this does work thank you. I however had to use `this.routerOutlet.animated = false` since typescript will not compile with usages of the private variable `nativeEl`

[2020-02-21 18:07] liamdebeasi commented on #20586
Ah sorry, I forgot `nativeEl` is public only on v5. I am going to close this as the issue appears to be resolved. Thanks!

[2020-02-21 18:07] #20586 closed

[2020-02-21 18:08] liamdebeasi commented on #20579
Thanks for the follow up. I am unable to reproduce the behavior you have described using that repo. Which device and version of iOS are you testing this on?

[2020-02-21 18:17] muuvmuuv opened #20587 "bug: ion-backdrop has no styling"
# Bug Report

**Ionic version:**

[x] **4.x**

**Current behavior:**

When I add `ion-backdrop` I can't click any element any more because there is no styling for it to hide/disable it.

**Expected behavior:**

I expect that the styling is included in the component itself.

**Steps to reproduce:**

https://stackblitz.com/edit/ionic-tmhupy

**Related code:**

[code]

**Other information:**

**Ionic

[2020-02-21 18:20] sta55en commented on #17107
This is a major problem for me too. This has been an issue for many versions of Ionic when you use the Slider component, but it seems that the issue has gotten worse.

On mobile web, it doesn't work at all due to some browser limitations. I've tried everything to get it working, but it doesn't seem possible on iOS Safari and Firefox since the focus events are being blocked by the browser.

[2020-02-21 19:12] miqmago commented on #19707
Same here, I have defined like this:

[code]

When loading web page with `/#/home/profile?age=21` it simply stays in `/#/home`.

[2020-02-21 19:45] liamdebeasi commented on #20587
Thanks for the issue. If you would like to disable the backdrop you can just set `display: none` on it. If you would like to just disable and pointer events, you can set `pointer-events: none` on it.

[2020-02-21 19:45] #20587 closed

[2020-02-21 19:48] liamdebeasi commented on #20544
Thanks for the issue. Can you clarify the bug you are running into? It sounds like the bug is originating from Angular Router, and Chrome is pausing on the exception, which would be the correct behavior.

[2020-02-21 19:59] liamdebeasi commented on #20508
Thanks for the follow up. I am unable to reproduce the CPU spikes on the app you have provided. When running in Chrome Dev Tools, I do see an increase in rendering but that is most likely due to the browser trying to render all of the `img` elements. The FPS appears to stay around a consistent 60fps too.

Are there any particular steps I need to take besides scrolling up and down in the app?

[2020-02-21 20:14] liamdebeasi commented on #20526
Thanks for the follow up. I am going to close this as Ionic Framework v5 supports Edge 79+ (Chromium-based Edge). This was not properly reflected on the docs site, so I have pushed an update to make that clearer: https://ionicframework.com/docs/intro/browser-support#desktop-browsers. Thanks!

[2020-02-21 20:14] #20526 closed

[2020-02-21 20:18] liamdebeasi commented on #20513
If you set `[scrollEvents]="true"` (for angular apps) on `ion-content` does that fix the issue?

[2020-02-21 20:53] adamduren commented on #20349
@elylucas just upgraded to v5 and it appears to work as expected. Thank You!

[2020-02-21 21:05] #20260 closed

[2020-02-21 22:16] omargon commented on #20157
In case anyone else is having this issue, I was able to properly debug our app through the corresponding Typescript files for iOS using the latest Safari Technology Preview - Release 101 (Safari 13.2, WebKit 15610.1.3)

[2020-02-21 22:16] #20157 closed

[2020-02-21 22:34] HansKrywaa opened #20588 "bug: Remove Input Focus when open Menu via swipe gesture"
# Bug Report

**Ionic version:**

[x] **5.x**

**Current behavior:**

When i'm currently focused in an Input Element and Keyboard is open, then open the Menu via Swipe Gesture, i'm still in the Input Field and the Keyboard is still open. When i open the Menu via the Menu Toggle Button it works and i'm not anymore focused in the Input and the Keyboard closes.

**Expected behavior:**

I expect that

[2020-02-21 22:45] muuvmuuv commented on #20587
Yes, sure. But shouldn‘t the backdrop has initial stiles for that? I see that ion-modal has a backdrop as well. Does the modal add the styles? I think it would be nice if the backdrop would provide some minimal functional css since all ionic components has them. Or at least it should be added to the docs, that additional css is needed to get the backdrop working standalone

[2020-02-22 04:13] stripathix opened #20589 "bug: (Ionic + @ionic/vue) is failing completely in Microsoft Edge"
# Bug Report

**Ionic version:**

[x] **
    "@ionic/core": "4.11.7",
    "@ionic/vue": "0.0.9",
**

**Edge Version:**
Microsoft Edge 44.17763.831.0

**Current behavior:**
There is a white screen on Edge. In Chrome it works perfectly fine.
In Chrome it looks like this
![image](https://user-images.githubusercontent.com/8480351/75086166-0acdda00-5557-11ea-9cdb-ee41666e0f31.png)

In Edge, it looks li

[2020-02-22 06:50] joselevelsup commented on #20353
So after doing some looking around in the docs and the issues, what we are supposed to do is import the ionicon icons then use it in the component as so:
[code]

It's not clearly stated in the docs since it says we can use the `name` prop.

@raziel057 I don't know if you are using react with this. If so, try this out. If not, I hope you find your answer soon!

Ref: #19673

[2020-02-22 06:52] indraraj26 commented on #20578
Here is video: https://youtu.be/qIRsE-z9xy4
[code]

[2020-02-22 06:55] indraraj26 commented on #20579
Here is video : https://youtu.be/1AAm4LuIaJ4

[2020-02-22 07:56] peterpeterparker opened #20590 "core(a11y): keyboard navigation with menu and popovers"
# Feature Request

**Ionic version:**
[x] **4-5.x**

**Describe the Feature Request**
When navigating with keyboard tabs, menu and popovers don't receive the "next tab focus".

Therefore, once such an element is opened and if "tab" is hit again, the next focused element remains in the calling page and isn't the first of the popover/menu.

**Describe Preferred Solution**
When menu or popover are op

[2020-02-22 14:51] #20245 closed

[2020-02-22 14:51] #20270 closed

[2020-02-22 14:51] #20269 closed

[2020-02-23 00:09] KyDenZ opened #20591 "feat: Swipeable Modals"
# Feature Request

**Ionic version:**
[x] **5.x**

**Describe the Feature Request**
In my application I want to separate the page in two, a modal part and a page part.
I would like to display information by a simple slide upwards.

**Related Code**
I would like to have the same modal system as Apple in its stock market application

**Additional Context**
![image](https://user-images.githubusercont

[2020-02-23 08:36] adeblas commented on #20566
If you add min-width: auto; to the inside ion-segment-buttons it works like in Ionic 4

[2020-02-23 10:12] HansKrywaa commented on #20591
What you mention here is i think the **Drawer** Component, isn't it?. There is already a open PR for it: #20408 - Please read the Comments there for the current state

[2020-02-23 10:15] KyDenZ commented on #20591
ah I had not seen .. Super thank you

[2020-02-23 10:15] #20591 closed

[2020-02-23 10:29] nikbabchenko commented on #20003
doesn't work with a capacitor for me. No haptic feedback.

[2020-02-23 14:04] nagavardhanraju commented on #17201
+1

[2020-02-23 14:04] nagavardhanraju commented on #17201
+1

[2020-02-23 14:41] danielpspring commented on #20544
Sorry for the false alarm. This was my issues. Closing ticket.

[2020-02-23 14:41] #20544 closed

[2020-02-23 17:31] tiedmud opened #20593 "App is running fine on serve --lab but doesnt compile to production"
# Bug Report

**Ionic version:**

[x] **4.x**

**Current behavior:**
ERROR in src/app/home/home.page.html(131,62): : Expected 0 arguments, but got 1.
src/app/home/home.page.html(51,38): : Expected 1 arguments, but got 0.
This only happens when I build for --prod.

**Expected behavior:**
complile successful.

**Steps to reproduce:**
ionic cordova build android --prod --verbose

**Related code:**

I

[2020-02-23 17:59] #20593 closed

[2020-02-23 17:59] tiedmud commented on #20593
It was a problem in html passing data and the javascript not receiving.

[2020-02-23 18:09] ebeliejinfren commented on #18734
ionic 5.0.1
it not correct working in custom horizontal scroll

[2020-02-24 03:00] netsesame2 commented on #20003
@nikbabchenko
Hi, what I said is a suggestion to ionic team, no capacitor support is avaluable now.

[2020-02-24 07:55] Scottd125 commented on #20508
Hi Liam,

There shouldn't be any particular steps that need to be taken to reproduce this issue besides scrolling.

I've taken a list of the steps I took to be able to consistently reproduce this issue

1.) Run ionic cordova run android --debug with the device plugged in to build the example app (In my case the Samsung S7 Edge)

2.) Once built and running on the device, open up Chrome and Chrome t

[2020-02-24 08:34] lpichoud opened #20594 "Iframe redrawing on scroll"
**Ionic version:**

[x] **4.x**
[ ] **5.x**

**I'm submitting a ...**

[x ] bug report
[ ] feature request

**Current behavior:**
I'm displaying a youtube video iframe in ion-content.
When I enable ionScroll event on ion-content and I scroll, the iframe is disappearing. It acts the same way as if the page was resized.

When ionScroll is not enabled there is no problem.

**Expected behavior:**

Hav

[2020-02-24 08:40] OoDeLally commented on #20552
Nice, thanks!

[2020-02-24 09:07] victororlyk opened #20595 "bug: IonModal doesn't support swipeToClose"
IonModal doesn't support swipeToClose
it trows an error which says
[code]

# Bug Report

**@ionic/react:**

**4.11.10**

**Current behavior:**

TS trows an error which says that I can not assign swipe to close

**Expected behavior:**

it must accept swipeToClose

**Steps to reproduce:**

build simple project with ts, react, capacitor, react, ionic

**Related code:**

[code]

**Other information:**

[2020-02-24 10:30] juanmiguelbesada commented on #20595
swipeToClose is a Ionic 5 feature. You must upgrade if you want to use it.

Anyway, please, edit the issue title to be more representative.

[2020-02-24 11:29] Mantaras96 opened #20596 "bug: ion-searchbar error icon svg"
# Bug Report

**Ionic version:**
[x] **5.x**

**Current behavior:**

When I use the ion-search-bar  i can see error on console
zone.js:1127 GET http://localhost:8100/svg/arrow-back-sharp.svg 404 (Not Found)
zone.js:1127 GET http://localhost:8100/svg/search-sharp.svg 404 (Not Found)

I have already imported ionicons:
              {
                "glob": "**/*.svg",
                "input": "node

[2020-02-24 11:32] HansKrywaa commented on #20596
Which Ionicons Version so you have installed?

[2020-02-24 11:36] chriswep commented on #20033
@liamdebeasi bringing this up again after the ionic 5 release since the outdated swiper 4.5.1 is still used there. Any plans how to deal with this? As i explained earlier, the bundled version can be fixed in ionic however the build script that regenerates the bundle would need to be disabled then. Last time i checked the current swiper version still has the bug, so another route would be to submit

[2020-02-24 12:00] ejerskov commented on #19827
Bump?

[2020-02-24 12:03] ejerskov commented on #17947
@liamdebeasi or anyone else from ionic who can provide som help? :)

[2020-02-24 13:08] OoDeLally opened #20597 "bug: Nested IonRouterOutlet prevents component unmount"
# Bug Report

**Ionic version:**

5.0.1

Here is a repo with a minimal code to reproduce the bug:
https://github.com/OoDeLally/ionic-nested-router-outlet-bug

**Ionic info:**

[code]

[2020-02-24 13:11] OoDeLally commented on #20543
Made a new issue for this problem https://github.com/ionic-team/ionic/issues/20597

[2020-02-24 13:29] OoDeLally opened #20598 "feat: routerDirection should include a flow-breaker direction"
# Feature Request

**Ionic version:**

5.0.1

**Describe the Feature Request**
Currently the `directionRouter` can have several values, each of which has a very specific semantic (do correct me if I'm wrong about one of these):
* `forward` is a movement forward, we need to keep mounted the current page's component in case the user comes back.
* `back` is a movement backward, we need to unmount the

[2020-02-24 13:41] tawfiek commented on #20088
Interested .. I will investigate in this

[2020-02-24 13:58] juanmiguelbesada commented on #20594
related to #20582?

[2020-02-24 14:10] LifeIsStrange commented on #20208
I have the same issue using the defacto standard for creating a ionic vue app https://dev.to/aaronksaunders/build-your-first-ionic-vue-app-18kj

(ps: I'm using typescript)

[2020-02-24 14:36] liamdebeasi commented on #20587
The `ion-backdrop` component does get initial styles: https://github.com/ionic-team/ionic/blob/master/core/src/components/backdrop/backdrop.scss. `ion-modal` does not add extra styles other than modify the opacity of the backdrop.

[2020-02-24 14:38] liamdebeasi commented on #20579
Thanks for the follow up. Can you test this on an actual device instead of emulating it in Chrome? Backdrop filter in Chrome has a few visual glitches when emulating a device that should not show up on actual devices.

[2020-02-24 14:42] liamdebeasi commented on #20578
Can you provide some steps to reproduce the issue? I am unable to reproduce the issue in an Ionic starter.

[2020-02-24 14:45] liamdebeasi commented on #20589
Thanks for the issue. I am going to close this as Ionic 5 dropped support for the old version of Microsoft Edge: https://ionicframework.com/docs/intro/browser-support#desktop-browsers. We are only providing critical security patches for Ionic 4 now. Thanks!

[2020-02-24 14:45] #20589 closed

[2020-02-24 14:51] liamdebeasi commented on #17947
Thanks for the issue. Do you have viewport resizing enabled? If so, then it's likely this is just the viewport resizing (which can be a bit janky) causing the footer to be pushed up. It might be better if you disable the viewport resizing and use a CSS transform to move the footer yourself.

Please see https://github.com/ionic-team/cordova-plugin-ionic-keyboard#preferences for info on how to enabl

[2020-02-24 14:53] liamdebeasi commented on #20596
Thanks for the issue. Are you using the latest version of Ionicons (v5)? Certain icons did not exist until v5.

[2020-02-24 14:54] liamdebeasi commented on #20595
Thanks for the issue. @juanmiguelbesada is correct. The swipe to close modal is a v5 feature, so you will need to upgrade if you would like to use it.

[2020-02-24 14:54] #20595 closed

[2020-02-24 15:43] netsesame2 opened #20600 "bug: Ionic 5.01, Android 6.0, Chrome 44, Icon can't be rendered correctly."
[code]
It render as:
<img width="299" alt="QQ20200224-233843@2x" src="https://user-images.githubusercontent.com/22102518/75166598-0bd15800-575f-11ea-8f4f-e5f5507dcaa8.png">

It should be:
<img width="304" alt="QQ20200224-234317@2x" src="https://user-images.githubusercontent.com/22102518/75166791-67034a80-575f-11ea-9baa-4c346fe2b33a.png">

[2020-02-24 15:57] liamdebeasi commented on #20033
I discussed this with the team today, and we decided to upgrade to Swiper 5 in an upcoming feature release of Ionic Framework. We are currently focused on getting bug fixes out to support the Ionic Framework 5 release, but I did create a dev build with the latest Swiper. Can people try it out in their apps and let me know if they run into any issues? Thanks!

Ionic Angular
`npm i @ionic/angular@5.

[2020-02-24 16:13] Yohandah commented on #20569
@liamdebeasi It's all good, resolved 👍

Thanks

[2020-02-24 16:14] #20569 closed

[2020-02-24 16:14] liamdebeasi commented on #20569
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic/pull/20571 and will be available in an upcoming release of Ionic Framework.

[2020-02-24 16:19] nickwinger opened #20602 "bug: Menu does not animate open when closed without animation"
# Bug Report

**Ionic version:**

[x] **4.11.10**

**Current behavior:**

When an ion-menu gets opened with animation and then gets closed with no animation.
Then when you open it again it does not animate...

**Expected behavior:**

Ion-Menu should open with animation when it was closed without animation

**Steps to reproduce:**

just create the sample project with a menu.
then programmtically wi

[2020-02-24 16:22] liamdebeasi commented on #20577
Resolved by https://github.com/ionic-team/ionic/pull/20585

[2020-02-24 16:22] #20577 closed

[2020-02-24 16:26] liamdebeasi commented on #20602
Thanks for the issue. Can you try this on the latest version of Ionic Framework? (v5.0.1)

[2020-02-24 16:28] elylucas commented on #20353
Hi @raziel057,

If you upgrade to the latest version of Ionic (5.0.1 at this time) and the latest version of ionicons (5.0.0), does the problem still happen?

Also, make sure you are using the icon prop on IonIcon and importing the icon from 'ionicons/icons' and not the name attribute.

We are working on better clarifying that in the docs now.

Thanks

[2020-02-24 16:37] liamdebeasi commented on #20559
Resolved by https://github.com/ionic-team/ionic/pull/20558

[2020-02-24 16:37] #20559 closed

[2020-02-24 16:38] #20482 closed

[2020-02-24 16:39] liamdebeasi commented on #20482
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic/pull/20555 and will be available in an upcoming release of Ionic Framework.

[2020-02-24 16:43] nickwinger commented on #20602
Hi, yes i just tried it with that latest 5.0.1
Still is there.
I guess some CSS style properties get not resetted correctly when closing without animation.
because when you open then it pops in without animation, when you close it then with animation, after that it opens up again with animation.

So i guess something gets not resetted corretly when closing without animation, but with this shadow-d

[2020-02-24 16:45] liamdebeasi commented on #20602
Can you provide a repo with the code required to reproduce this issue? I am unable to reproduce this on Ionic Framework 5.0.1.

[2020-02-24 16:52] nickwinger commented on #20602
it's pretty easy, just use the sidemenu starter project of ionic:
ionic start test sidemenu

inside app.component.html
replace
`<ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Inbox</ion-list-header>`

with
`<ion-menu #menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-li

[2020-02-24 16:55] Sverrevg commented on #19914
Late answer, but hopefully others with this issue may find it helpful. I had the same issue, but managed to fix it.

Instead of putting the id in the <ion-content> of the menu, I put it in the <ion-content> of my App component.

My App.vue file:

`<template>
    <div id="app" class="ion-page" main>
        <MenuLeft/>
        <ion-app>
            <ion-menu-controller/>
            <ion-header>

[2020-02-24 16:58] liamdebeasi commented on #20602
Thanks for the follow up. I am following those steps, but am unable to reproduce the behavior you are describing. Opening the menu and clicking the header does indeed close the menu without the animation, but opening it again after that is opening the menu with the animation. What browser/device are you testing this on?

[2020-02-24 16:59] brandyscarney commented on #17341
As a workaround for this issue, setting the height of the slides to `100%` should work:

[code]

Here's a Codepen for this: https://codepen.io/brandyscarney/pen/jOPyGPE

I can look into adding this by default, but can anyone verify whether or not this solves their problem?

[2020-02-24 17:02] nickwinger commented on #20602
ok that's strange...
i use chrome version 79.0.3945.130 with the developer tools opened

[2020-02-24 17:05] liamdebeasi commented on #20594
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue? I am unable to reproduce the issue using the code snippet provided.

[2020-02-24 17:06] liamdebeasi commented on #20602
Can you provide a full repo with the code required to reproduce this issue?

[2020-02-24 17:15] nickwinger commented on #20602
here is the repo:
https://github.com/nickwinger/ionicMenuBug.git

but as i have written above, it's just the little html change

[2020-02-24 18:41] #20466 closed

[2020-02-24 18:41] liamdebeasi commented on #20466
Thanks for the issue! As per https://github.com/ionic-team/ionic/issues/20466#issuecomment-589173907 it sounds like this issue has been fixed by the dev build. As a result I have merged [my changes](https://github.com/ionic-team/ionic/pull/20554) in and will be closing out this issue. If you are still experiencing issues, please ensure that you are running dev build `5.1.0-dev.202002201606.ac98652

[2020-02-24 19:08] brandyscarney commented on #17341
I've submitted a PR for this here: https://github.com/ionic-team/ionic/pull/20603

What this does is default the `ion-slides` height to `100%`, but the height can still be overridden if desired, it just needs to be set to something in order to work properly.

There's a dev build here if anyone would like to test it:

[code]

Please let me know if you see any issues with this, thanks!

[2020-02-24 19:31] KreativeKoder commented on #18368
In Ionic4 adding no-blur and the styling is what worked for me:
`<div contenteditable no-blur style="user-select: text; -webkit-user-select: auto;" </div>`

[2020-02-25 05:26] Navanee26 opened #20606 "bug: ionic serve --lab current version is not working in my pc"
# Bug Report

**Ionic version:**

[x] **4.x**

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

**Other information:**

**Ionic info:**

[code]

[2020-02-25 05:26] #20606 closed

[2020-02-25 06:13] indraraj26 commented on #20578
As you can see on video it is randomly happening,
Clone this repo : https://github.com/indraraj26/ionic4-starter-tabs-sidemenu/tree/ionic-5
Branch: ionic-5

Step to reproduce:  Scroll again and again at the top, You will see shrink header without text

[2020-02-25 06:14] indraraj26 commented on #20579
Thank you for replying, okay let me test in real device.

[2020-02-25 07:22] lpichoud commented on #20594
@liamdebeasi thanks for your answer.

I tried to build a stackblitz to reproduce but wasn't able to get the issue too.
After some investigations I found that the issue wasn't due to scroll but the way I display my iframe.

Wrong way :
`<div [innerHTML]="sanitizer.bypassSecurityTrustHtml(videoPlayer)"></div>`

Right way :
`<iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(videoUrl)"></iframe>

[2020-02-25 07:22] #20594 closed

[2020-02-25 07:59] indraraj26 opened #20607 "bug [ionic 5]: swipeable modal is moving the parent page"
# Bug Report

**Ionic version:**

[X] **5.x**

**Current behavior:**

When you swipe overlay modal then it is also swiping the parent page as you can see in below pics
Tested on: Iphone 6 iOS: 12.4.4

![image](https://user-images.githubusercontent.com/23274631/75226618-ae76ee80-57d2-11ea-8d3d-e35b2b1e0f41.png)

![image](https://user-images.githubusercontent.com/23274631/75226677-c3ec1880-57d2-11ea

[2020-02-25 08:10] indraraj26 opened #20608 "bug [ionic5]: click twice on ion-item will dismiss swipeable modal"
# Bug Report

**Ionic version:**

[x] **5.x**

**Current behavior:**

Click two times little bit fast on ion-item it will close the swipeable modal.
Tested on: Iphone 6 iOS: 12.4.4

**Expected behavior:**

It should not close the modal.

**Steps to reproduce:**

**Related code:**

Repo: https://github.com/indraraj26/ionic4-starter-tabs-sidemenu/tree/ionic-5
Dashboard: Click on first ion-item to op

[2020-02-25 09:19] 3alampro opened #20609 "bug: ion-slides RTL"
Hello,

ionic 4 slide component do not support RTL right now it was supported on ionic 3
if I change the html direction from`ltr` to `rtl` the slide component stop sliding to the correct direction

the Swiper.js do support RTL by adding `dir="rtl"` to the swiper container div and this was supported in ionic 3 but not any more in ionic 4 or ionic 5

as showing here
[https://swiperjs.com/demos/#RTL_

[2020-02-25 09:59] ejerskov commented on #17947
Thanks @liamdebeasi
Do you have any example of how to place the footer above the keyboard with css without resizing the viewport? I thought thats only possible with the resizing viewport

[2020-02-25 11:19] netsesame2 opened #20610 "bug: Ionic5.01, Android 6~8, modalController works strange when two modals open togather."
I test it in emulator, android 6,7,8, all of them reproduce the following issues.
These issues doesn't exist in ionic 4.4.

**Steps:**
1. create modal A, present it.
[code]
2. in modal A, create modal B.
[code]
3. in modal B, dismiss itself.
[code]
4. then you will see, both modal A and B are dismissed in the UI.
5. and the page below can't be interactive anymore.
6. inspect DOM in devTools, you w

[2020-02-25 12:36] MrSparklle opened #20611 "bug: [5.0.1] ion-segment-button event ionSelect not fired"
# Bug Report

**Ionic version:**

[x] **5.0.1**

**Current behavior:**
Event `(ionSelect)` of `<ion-segment-button>` component has not been fired when the button was clicked

**Expected behavior:**
Event `(ionSelect)` fired

**Related code:**
[code]

[code]

**Ionic info:**

[code]

[2020-02-25 14:07] #17588 closed

[2020-02-25 14:11] liamdebeasi commented on #20611
Please see the [Breaking Changes Document for Segment](https://github.com/ionic-team/ionic/blob/master/BREAKING.md#segment). The `ionSelect` event was removed -- developers should listen for `ionChange` on the `ion-segment` element now.

[2020-02-25 14:11] #20611 closed

[2020-02-25 14:14] MrSparklle commented on #20611
Ok, thanks for the info.
Please, update the docs.

[2020-02-25 14:14] liamdebeasi commented on #20607
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic/issues/19746. (The linked issue refers to the action sheet, but the underlying bug is the same).

[2020-02-25 14:14] #20607 closed

[2020-02-25 14:20] liamdebeasi commented on #20609
Thanks for the issue. I am going to close this as this is already possible in Ionic Framework. To use RTL, you need to set `dir="rtl"` on the `body`. Additionally, you can set it on `ion-slides` if you want only the slides component to be RTL.

CodePen example: https://codepen.io/liamdebeasi/pen/GRJrbVW

[2020-02-25 14:20] #20609 closed

[2020-02-25 14:24] liamdebeasi commented on #20611
The documentation has already been updated for v5:

Segment: https://ionicframework.com/docs/api/segment#events
Segment Button: https://ionicframework.com/docs/api/segment-button

Maybe you were looking at the v4 docs by mistake?

[2020-02-25 14:26] liamdebeasi commented on #17947
You should be able to listen for keyboard open/close events: https://github.com/ionic-team/cordova-plugin-ionic-keyboard. The event payload will tell you the height of the keyboard, and you can translate the footer element by that amount.

[2020-02-25 14:29] liamdebeasi commented on #20579
Glad to hear it is working fine on a device/emulator. As I mentioned before, the visual glitches you are seeing should only be happening in Chrome when emulating a mobile device. Just using Chrome normally as a web app or PWA should be fine.

I am going to close this issue as the original issue has been resolved.

[2020-02-25 14:29] #20579 closed

[2020-02-25 14:36] wis commented on #19795
I think your links are outdated because they're not permalinks, was you first link to this line line? (permalink):
https://github.com/ionic-team/ionic/blob/b5310effe3f9b47459f22221da1853a55dbb0279/packages/react/src/components/index.ts#L35
this function call and function call in the line under it  (`loader.defineCustomElements(window);`)
cause next js ssr to fail, so I commented them and got next

[2020-02-25 14:46] MrSparklle commented on #20611
![image](https://user-images.githubusercontent.com/992049/75257908-736dbe80-57c4-11ea-949a-2f4a1bd92e06.png)

[2020-02-25 14:47] liamdebeasi commented on #20611
Dangit thanks 😄 I'll fix that

[2020-02-25 18:15] dallastjames opened #20614 "bug: Ion Content in tabs will not scroll to bottom with collapsible header on iOS"
# Bug Report #

**Ionic version:**
[x] **5.x**

**Current behavior:**
When a large list of items is added to a page with a collapsible header on iOS and the list of items includes an ion-icon placed inside of a slot, the page will not scroll completely down and will instead stop a few items short. (The remaining items can be seen in the overscroll). Changing tabs and coming back to the original ta

[2020-02-25 21:07] #18901 closed

[2020-02-25 22:00] ilprima opened #20615 "Cannot deploy ionic browser to CDN"
Hi to everyone,
I'm trying to upload the build files to my cdn but I cannot set the deploy url, I tried with:

ionic build --platform=browser --optimization --prod --aot --deployUrl=cdn_url

But also with
--deployUrl cdn_url
--deploy-url cdn_url

or also with ionic cordova build browser

But nothing, in index.html the path are relative.

How can I do that?
Thank you

[2020-02-25 22:00] #20615 closed

[2020-02-25 22:01] ilprima opened #20616 "Cannot to deploy ionic browser to CDN deploy-url doesn't work"
Hi to everyone,
I'm trying to upload the build files to my cdn but I cannot set the deploy url, I tried with:

ionic build --platform=browser --optimization --prod --aot --deployUrl=cdn_url

But also with
--deployUrl cdn_url
--deploy-url cdn_url

or also with ionic cordova build browser

But nothing, in index.html the path are relative.

How can I do that?
Thank you

[2020-02-26 01:44] happinesszb opened #20617 "bug: ionSelect of segment"
# Bug Report

**Ionic version:**

[x] **4.x**

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

**Other information:**

**Ionic info:**

[code]

[2020-02-26 01:44] #20617 closed

[2020-02-26 01:52] happinesszb opened #20618 "bug: ionSelect of segment in Ionic 5.0.1 is not working"
I followed the document of segment-button, but ionSelect is not working on Ionic 5.0.1 and the method segmentButtonClicked is not invoked when clicking, but it works on Ionic 4.
I also tested the segment on Huawei Android 8.1, When I click the segment on the phone, the clicked segment is not checked.

[2020-02-26 03:09] ricky-sb commented on #18130
I'm using Nuxt with Ionic and Tailwind. For me, this was a CSS issue. I was able to solve it by  configuring purgeCSS to *not* delete any of Ionic's classes.

I added this to my nuxt.config.js file:

[code]

[2020-02-26 04:02] Navanee26 opened #20619 "bug: ionic serve --lab current version is not working in my pc"
# Bug Report

**Ionic version:**

[x] **4.x**

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

**Other information:**

**Ionic info:**

[code]

[2020-02-26 04:27] NikolaPeevski commented on #20619
@Navanee26 Can you be a little more expressive in your bug report? What exactly is not working? Does it build successfully? Do you get any errors? Is it just a blank app? Also can you provide the ionic info in the bug report as stated by the template requirements  ?

[2020-02-26 04:29] NikolaPeevski commented on #20618
@happinesszb Can  you provide a repository that manages to successfully reproduce the error ? Also can you fill in the bug report template with the required information (eg. Ionic info) ?

[2020-02-26 04:33] NikolaPeevski commented on #20616
@ilprima There does not seem to be a deployurl param in the [official build documentation](https://ionicframework.com/docs/cli/commands/build) Can you try following the explained steps [here](https://github.com/angular/angular-cli/issues/10736) and commenting your result ?

[2020-02-26 04:42] NikolaPeevski commented on #20610
When dealing with multiple modal windows at once it is a good idea to assign an ID to each modal. The modalController is a bit funky and my experience it works well with only one modal at a time but with multiples you have to pass on a modal ID through the modal options as I have done here https://github.com/NikolaPeevski/ionic-modal-service/blob/master/src/app/shared/services/modal.service.ts#L21

[2020-02-26 05:13] netsesame2 commented on #20610
@NikolaPeevski  Thanks for your workaround.
I tried it by adding a id to both modal, there is no lucky.
In fact, I check the source code, modalCtrllor will add a default id to each modal if you don't offer.

By digging the source code, I don't think the id the reason. When dismiss, it find the modal layer in a global layers, and then call its dismiss method. Really don't know what happened that it

[2020-02-26 05:37] bodinaren commented on #20466
I must have indeed done something wrong when I tested it because with dev build `5.1.0-dev.202002201606.ac98652` it does indeed work. Thanks!

[2020-02-26 06:14] NikolaPeevski commented on #20610
Did you try target dismissal by id @netsesame2 ?

[2020-02-26 07:23] netsesame2 commented on #20610
@NikolaPeevski Yes, I did so, still no lucky.

It seems that, the animation on dismiss affect the other modals, for that, modal A. I can see the DOM of modal A alive there.

[2020-02-26 07:27] karthikrp commented on #20163
This is a major issue. Can we get any updates on this?

[2020-02-26 07:39] happinesszb commented on #20618
The repository is listed below.
https://github.com/happinesszb/photo-gallery
I just followed the link below to start a test project and the segment works on Ionic 4. When I updated it to Ionic 5.0.1. then the segment button has problems.  Although I can build successfully with ionic serve, the segmentButtonClicked won't be called when clicking the segment button. I also tested the code in Android

[2020-02-26 07:48] NikolaPeevski commented on #20618
@happinesszb
As per [the documentation](https://ionicframework.com/docs/api/segment) use ionChange on the ion-segment to get the click event. The code will look something like this:

[code]

[2020-02-26 07:50] NikolaPeevski commented on #20610
@netsesame2 Can you provide a repo for reproduction ?

[2020-02-26 07:52] happinesszb commented on #20618
I followed the link below
https://ionicframework.com/docs/api/segment-button

<ion-segment>
  <ion-segment-button (ionSelect)="segmentButtonClicked($event)">
    <ion-label>Friends</ion-label>
  </ion-segment-button>
  <ion-segment-button (ionSelect)="segmentButtonClicked($event)">
    <ion-label>Enemies</ion-label>
  </ion-segment-button>
</ion-segment>

segmentButtonClicked can not work in Ionic

[2020-02-26 07:56] NikolaPeevski commented on #20618
Yes in version 4 the segment button emitted a click event but that has been changed in version 5 https://ionicframework.com/docs/v4/api/segment-button

[2020-02-26 08:02] happinesszb commented on #20618
I see. Thank you..
Although I followed the link the documentation which use ionChange. the segment button has a problem on Android 8.1. When I clicked the segment button, the segment was not checked. I should slide the segment to enable the target segment button. The segment code can work on Android 7.1.

[2020-02-26 08:05] elvisgraho commented on #17949
Up! Having problems with fixed elements, because of the 'translateZ(0px)'. It is such an easy fix. Why hasn't it been fixed for a year?

[2020-02-26 08:28] DavidWiesner commented on #20356
Here is a workaround for this issue. Simply postpone the slider initialization with ngIf and the angular lifecycle.

my-component.html
[code]
my-component.ts
[code]

[2020-02-26 12:12] sagarnarode opened #20622 "bug: Some ionic UI Components disappear after scrolling,Clicking on iphone X, ios version 13.3"
While scrolling the page some times my Options, Checkboxes, Radio button labels and badges disappear.
I am facing this issue only on devices running IOS 13. No problems faced on android as well as the browser.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/21168800/75343792-33abe300-5867-11ea-8900-a867467e578a.gif)

[2020-02-26 12:22] rlcomte opened #20623 "feat: Hooks in Firebase push notification system to perform message translation"
# Feature Request

**Ionic version:**
[x] **4.x**

**Describe the Feature Request**
We want to push notification messages to our app users, but translate these messages into the user's language. Actually we want to do more than only translation, it is applying all i18n capabilities in translating and formatting the message, including number and currency display.

**Describe Preferred Solution**
A

[2020-02-26 14:19] ericis opened #20624 "bug: blank Ionic React app tests do not respect `--all`"
# Bug Report

**Ionic version:**

[x] **"@ionic/react": "^5.0.0"**

**Dependencies**
[code]

**Current behavior:**

Ignores `--all` test argument and seems to be always running in "--onlyChanged" mode.

**Expected behavior:**

Respects `--all` test argument and runs all tests.

**Steps to reproduce:**

1. Install a new, blank Ionic React starter app (https://github.com/ericis/lab-goals-ionic-react

[2020-02-26 14:21] liamdebeasi commented on #20163
Thanks for the follow up. I am going to close this as this is not a bug in Ionic Framework. min/max validation for number inputs does not appear to be working for template driven forms in Angular: https://github.com/angular/angular/issues/16352.

I have created an example here showing the same behavior using an Angular app without Ionic Framework: https://stackblitz.com/edit/angular-input-min-max?

[2020-02-26 14:21] #20163 closed

[2020-02-26 14:25] liamdebeasi commented on #20622
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue?

[2020-02-26 14:25] #20619 closed

[2020-02-26 14:30] ericis commented on #20624
I was able to get this to work a completely different way after reading more here: https://github.com/facebook/create-react-app/issues/784

**`./package.json`**
[code]

[2020-02-26 14:30] #20624 closed

[2020-02-26 14:43] liamdebeasi commented on #20623
Thanks for the feature request. I think a hook for Firebase is something better handled on a per application basis as not every Ionic user is going to be using Firebase. Additionally, the requirements for these notification hooks would likely be very specific to each use case.

It sounds like you want to do localization on the native level in which case the solution for this is likely not going to

[2020-02-26 14:43] #20623 closed

[2020-02-26 14:46] liamdebeasi commented on #20618
Thanks for the issue and thanks @NikolaPeevski for helping debug the issue. The `ionSelect` event was removed in v5, and developers should use the `ionChange` event instead. Additionally, there is another issue with `ion-segment` on Android, but a fix for that has been merged and will be available in an upcoming release of Ionic Framework.

[2020-02-26 14:46] #20618 closed

[2020-02-26 14:48] liamdebeasi commented on #20616
Thanks for the issue. I am going to close this as this is more of a support request. We use the Angular CLI under the hood, so I recommend looking at the CLI Build documentation: https://angular.io/cli/build. For further help regarding this I recommend posting this question on our [forums](https://forum.ionicframework.com/).

[2020-02-26 14:48] #20616 closed

[2020-02-26 14:54] #17549 closed

[2020-02-26 15:05] indraraj26 commented on #20608
Hi @liamdebeasi , Can you please look into this.  This is really strange/weird behaviour.

Thank you

[2020-02-26 15:27] centogram commented on #17284
You probably do not need to add this as a feature.  Ceasing propagation can be done with a reusable directive pretty easily.  For example:

[code]

Then in your fab you can just add the click-stop-propagation to any button you do not wish the onclick to propagate.  To use your example:

[code]

[2020-02-26 16:31] liamdebeasi commented on #20578
Thanks for the follow up. Are you testing this on a physical iOS device?

[2020-02-26 16:48] liamdebeasi commented on #20452
Thanks for the issue. I am going to close this as we are waiting for Vue 3 to stabilize before we push forward with Ionic Vue development. Once Vue 3 stabilizes we will look into providing an update that brings better support for Ionicons (namely Ionicons v5). Thanks!

[2020-02-26 16:48] #20452 closed

[2020-02-26 16:48] liamdebeasi commented on #20409
Thanks for the issue. I am going to close this as we are waiting for Vue 3 to stabilize before we push forward with Ionic Vue development. Once Vue 3 stabilizes we will look into providing an update that brings better support for Ionicons (namely Ionicons v5). Thanks!

[2020-02-26 16:48] #20409 closed

[2020-02-26 16:56] liamdebeasi commented on #17949
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic/pull/20621 and will be available in an upcoming release of Ionic Framework.

[2020-02-26 16:56] #17949 closed

[2020-02-26 17:04] liamdebeasi commented on #20356
Hi everyone,

We are still investigating how to properly fix this. I will post more here when I have another update. In the meantime feel free to use any of the workarounds provided in this thread.

Thanks!

[2020-02-26 17:06] #17341 closed

[2020-02-26 17:42] DavidStrausz commented on #20614
@liamdebeasi I also ran into this issue. It seems like the `--offset-bottom` css var of `ion-content` is not applied correctly. Simply unchecking + checking it again in inspector fixes the issue.

At first I thought its an angular CD bug, but no luck with manual change detection.

[2020-02-26 18:05] petrot commented on #17770
@liamdebeasi  My repo has been updated to use Ionic 5. The problem still exists :/

https://github.com/petrot/ionic-tab-navigation-bug

[2020-02-26 19:37] aub opened #20626 "bug: In React, IonSearchbar can't be given focus with JS"
# Bug Report

**Ionic version:**

[x] **5.0.2**

**Current behavior:**

The IonSearchbar component has a documented function for setting focus `setFocus`, but it doesn't seem to work. Calling it does not produce a change in the current focus.

**Expected behavior:**

Calling `setFocus` on the searchbar should focus the element and bring the cursor into it.

**Steps to reproduce:**

See below for t

[2020-02-26 19:41] liamdebeasi commented on #20602
Looks like the key was testing this on Windows 10 -- Chrome for macOS does not exhibit this behavior.

Can you try the following dev build and let me know if it resolves the issue? `npm i @ionic/angular@5.1.0-dev.202002261936.11d8c14`

[2020-02-26 19:54] danieljameswilliams commented on #20257
I am still experiencing something related to this issue in 5.0.1

If you scroll while touching a segment, it selects it.
But it also throws this error in console:

[code]

[2020-02-26 20:10] liamdebeasi commented on #20257
@danieljameswilliams  Please open a new issue

[2020-02-26 20:22] aub opened #20628 "bug: IonInput autofocus doesn't work if there is a button present, in React at least"
# Bug Report

**Ionic version:**

[x] **5.0.2**

**Current behavior:**

I have an IonInput in a React app with autofocus set. This works just fine until I put an IonButton on the screen and then it stops working.

**Expected behavior:**

The IonInput with autofocus set should always automatically be given focus.

**Steps to reproduce:**

See below for the demo app I've linked, but it's very simple

[2020-02-26 21:12] liamdebeasi commented on #20626
Thanks for the issue. Which device are you testing this on? I tested this on an iPhone running iOS 13 and `setFocus` worked fine.

[2020-02-26 21:13] aub commented on #20626
Whoops, sorry I should have included that. This is on the desktop in Chrome.

[2020-02-26 21:14] aub commented on #20628
I tested this on the desktop in Chrome.

[2020-02-26 21:16] liamdebeasi commented on #20626
Thanks for the follow up. I tested in Chrome as well and it works fine there. What version of Chrome do you have?

[2020-02-26 21:18] aub commented on #20626
Version 81.0.4044.26 (Official Build) beta (64-bit)

So when you run the app I linked to the flashing cursor appears in the searchbar?

[2020-02-26 21:22] liamdebeasi commented on #20626
I tested this on Chrome 81 Beta, and it works fine there too. What platform are you testing on?

[2020-02-26 21:24] aub commented on #20626
Man, that's baffling. My system info is:

[code]

[2020-02-26 21:26] liamdebeasi commented on #20626
I am on Catalina as well. Does it work if you just call the `focus` method on a regular input? (without using an Ionic component)

[2020-02-26 21:30] aub commented on #20626
Grrr, it's also working for me now. If you don't mind, give me a few minutes to figure out what happened here and then if I still can't reproduce it I'll close this issue. Sorry about that, thanks for your time.

[2020-02-26 21:44] aub commented on #20626
Ok, it seems like this does work correctly for me unless I have the Chrome dev inspector open. I'm not really sure what to make of that, but it seems like other inputs on other sites cannot be given programmatic focus from the dev tools, so it seems like not a bug. Thanks again for looking at it and for your time!

[2020-02-26 21:44] #20626 closed

[2020-02-26 23:04] franckysolo opened #20631 "bug: ion-select multiple defaults values are not checked - package vue"
# Bug Report

Hello,
thanks for your works
i don't know if it's a bug or documentation missing but the documentation example not working
for ion-select multiple

**Ionic version:**

"@ionic/core": "^5.0.3"
"@ionic/vue": "0.0.9"

**Current behavior:**
ion-select on alert mode
Defaults values are not checked

**Expected behavior:**
Defaults values must be checked

**Steps to reproduce:**
Example cod

[2020-02-26 23:51] liamdebeasi commented on #20631
Thanks for the issue. Does this work properly with Ionic Core v4? We are holding off on updating Ionic Vue to work with Ionic Core v5 until the Vue 3 API stabilizes.

[2020-02-27 00:12] wilk-polarny opened #20632 "bug: ion-button with [routerLink] will display a border if being activated"
# Bug Report

**Ionic version:**

[x] **4.11.9**

**Current behavior:**
When activating an `<ion-button>` element with a `[routerLink]` directive being set, the button will display show a border.

![image](https://user-images.githubusercontent.com/819238/75399938-fe060900-58fd-11ea-8143-24094697ef86.png)

**Expected behavior:**
No border should be displayed when a button gets activated.

**Steps t

[2020-02-27 00:17] wilk-polarny commented on #20523
Currently, we're simply hiding the keyboard before each router navigation call (with the keyboard plugin) to work around this

[2020-02-27 04:35] netsesame2 commented on #20610
@NikolaPeevski
I create a repo: [https://github.com/netsesame2/demo.git](url)

You can test it in Emulator, android 8.1.

[2020-02-27 07:41] indraraj26 commented on #20578
Anyway lets close this thread since it is working fine in real device but not in emulator or browser.

Thank you

[2020-02-27 07:41] #20578 closed

[2020-02-27 07:43] #16653 closed

[2020-02-27 07:45] elvisgraho opened #20634 "bug: ion-refresher dismounting style attributes"
# Bug Report

**Ionic version:**
[x] **5.x**

**Current behavior:**

If ion-refresher is active (pulled down) and the component using the refresher is dismounted, the main style attributes stay for iternity, which results in permanent content shift.

**Expected behavior:**

When dismounting ion-refresher, all css should be removed from the main tag.

**Steps to reproduce:**
Pull the refresher and

[2020-02-27 09:31] piernik opened #20636 "support: How to disable grammarly?"
I updated to v5 and I noticed that textarea field is connected to grammarly. How to turn it of??

[2020-02-27 09:31] #20636 closed

[2020-02-27 10:28] webteambel opened #20637 "Starter template : Side Menu and Tabs in one project"
Hello,
For now the starter templates available for ionic are :

[code]

The conference project contains both tabs and sidemenu, but it contains many pages and code implementation.

Is it possible to add a basic starter template ?
Thank you.

[2020-02-27 11:46] tawfiek commented on #20524
I am working on this feature

[2020-02-27 11:51] nickwinger commented on #20602
it's working with this version, you fixed it ^^

[2020-02-27 13:54] sorenfruergaard commented on #18118
This problem occurs for me when scroll down and start reordering. When I haven't scrolled on the page it works as expected.

![reorder](https://user-images.githubusercontent.com/2383744/75451493-f0d63200-5970-11ea-9c34-eeb79a31adf3.gif)

[2020-02-27 16:07] liamdebeasi commented on #20634
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue?

[2020-02-27 16:07] liamdebeasi commented on #20628
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic/issues/18132.

[2020-02-27 16:07] #20628 closed

[2020-02-27 16:17] #20602 closed

[2020-02-27 16:17] liamdebeasi commented on #20602
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic/pull/20627 and will be available in an upcoming release of Ionic Framework.

[2020-02-27 17:27] liamdebeasi commented on #20610
Thanks for the issue. Can you try this on a physical device? We do not recommend testing on the emulator because they ship with very outdated versions of the webview. (Note: You can update the webview on emulators with Android 7+ but you need to do it manually I believe).

[2020-02-27 17:33] WintonLi commented on #16834
@liamdebeasi Thanks for the fix. It works perfectly in Ionic 4.
Sadly the problem is still there in the latest ionic/angular 5.0.1. The event firing pattern  is unpredictable, making it difficult to come up with a work around. Anyone who plans to use ionic 5 should be very careful. Really hope the fix can be released soon.

[2020-02-27 17:38] franckysolo commented on #20631
Hello,
I've made a [develop](https://github.com/franckysolo/vue-ion-select/tree/develop) branch and test the example with Ionic Core v4 and ionic/vue@0.0.4
Same behavior
Thanks for info

[2020-02-27 18:10] liamdebeasi commented on #20588
Thanks for the issue. Can you try the following dev build and let me know if it resolves the issue?

`npm i @ionic/angular@5.1.0-dev.202002271805.af05bcf`

[2020-02-27 18:43] khikobrat opened #20640 "bug: ERROR TypeError: _co.login is not a function Cannot find function."
I'm using Ionic 4 and today i have created new project.

After in new page I create button .

login.page.html

[code]

login.page.ts
[code]
I checked everywhere everything is OK . But when click button I get error

AppComponent.html:19 ERROR TypeError: _co.cancel is not a function
    at Object.eval [as handleEvent] (AppComponent.html:19)
    at handleEvent (core.js:43993)
    at callWithDebugCont

[2020-02-27 18:50] brandyscarney commented on #20632
Thanks for the issue! This is actually an issue due to Angular adding `tabindex=0` to the `ion-button` component. The outline can be hidden using:

[code]

However, the real problem is that by adding the `tabindex` both the `ion-button` and the native `a` element are able to be tabbed to, so you have to tab twice on the same element to go to the next one.

I left a comment on an issue on Angular's

[2020-02-27 18:51] elvisgraho commented on #20634
Sorry it wont be anytime soon. I created the pull request and solely from the code you can see that the last calls of setCss (dismounting calls that delete css) are useless, because the object is set to undefined before them.

I had a ion-refresher in the parent component. I polled it -> navigated to child route, and because ion-refresher could not properly dismount, everything was pulled down.

[2020-02-27 19:19] liamdebeasi commented on #20640
Thanks for the issue. I am going to close this as this is more of a support question. For further help debugging I recommend you post your question on our [forums](https://forum.ionicframework.com/).

[2020-02-27 19:19] #20640 closed

[2020-02-27 20:28] HansKrywaa commented on #20588
Hey Liam. Just tested the DEV Build and it works 🎉💪🏼

[2020-02-27 21:44] ogoguel commented on #20038
due to Array.prototypes.includes not defined on Lolipop
temporary fix : include import 'core-js/es7/array' in polyfill

[2020-02-28 00:04] bcaton85 opened #20643 "bug: Nested ion-router-outlet renders as page instead of sub-component"
# Bug Report

**Ionic version:**

[x] **4.x**

**Current behavior:**

Currently using a nested `ion-router-outlet` in one of my components:

[code]

With the following router configuration:
[code]

When hitting the `/dashboard/submit` endpoint the submission component takes the whole screen, appearing over the header. Looking into the styling, I found the following styles for ion-router-outlet:
[c

[2020-02-28 00:32] sachithd opened #20644 "Error when running ionic build --prod"
**Ionic version:**

[] **4.x**
[x] **5.x**

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Current behavior:**
ionic build --prod throws an error An unhandled exception occurred: Maximum call stack size exceeded.

Works fine without the --prod flag.

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

**Other information:**

**Ionic info:**

[code]

[2020-02-28 03:57] Navanee26 opened #20645 "bug: @NikolaPeevski am getting blank screen in my ionic serve --lab"
[

# Bug Report

**Ionic version:**

[x] **4.x**

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

**Other information:**

**Ionic info:**

[code]

[2020-02-28 04:03] Navanee26 commented on #20645
This version (npm install @ionic/lab@3.0.1) is working, but latest version icons and some other things are not coming in it

[2020-02-28 04:57] NikolaPeevski commented on #20645
@Navanee26 Can you provide a repo ?

[2020-02-28 05:49] Navanee26 commented on #20645
@NikolaPeevski i can't understand . tell me detaily

[2020-02-28 06:03] josh-m-sharpe commented on #20033
I'm also seeing this from production.

@chriswep any guesses at what the user's experience is when they hit this bug?

[2020-02-28 06:30] sachithd commented on #20644
Was able to run ionic build --prod successfully by changing  "target": "es2015" to "target": "es5" on tsconfig.json.
https://forum.ionicframework.com/t/ionic-cordova-build-get-stuck-at-generating-es5-bundles-for-differential-loading/180202/4

The default ionic project setting was "es2015" so please advise.

[2020-02-28 08:57] kalu06 commented on #16504
@liamdebeasi that issue persists with Ionic5 as well (see this [stackblitz](https://stackblitz.com/edit/ionic-v5-angular-prepend-slides-issue?embed=1&file=src/app/home/home.page.html)). Should I track that issue in an Ionic5 thread?

[2020-02-28 10:04] Sunny41 opened #20646 "support: file.resolveLocalFilesystemUrl is not a function"
Hi,
I am having an issue with the File plugin.
The error is:
```ERROR TypeError: this.file.resolveLocalFilesystemUrl is not a function```
plugin Version is 6.0.2 and it's present when I run ```cordova plugin ls```

My code looks like this:
[code]

What I already tried:
- looking in the plugin code itself, the function is there;
- remove and reinstall the plugin
- when I type in the beginning of th

[2020-02-28 10:04] #20646 closed

[2020-02-28 10:06] Sunny41 opened #20647 "bug: file.resolveLocalFilesystemUrl is not a function"
- [x ] Support Question

Hi,
I am having an issue with the File plugin in working with ionic.
The error is:
```ERROR TypeError: this.file.resolveLocalFilesystemUrl is not a function```
plugin Version is 6.0.2 and it's present when I run ```cordova plugin ls```

My code looks like this:
[code]

What I already tried:
- looking in the plugin code itself, the function is there;
- remove and reinstall

[2020-02-28 10:13] chriswep commented on #20033
@josh-m-sharpe i'm not 100% sure, however as far as i understand the code, i think the user wouldn't notice.

@liamdebeasi i think upgrading to swiper 5 is the right call however please note that the bug yet has to be fixed there (https://github.com/nolimits4web/swiper/issues/3275#issuecomment-562113342)

[2020-02-28 12:08] SSuarezBrooktec opened #20648 "bug: ion-segment ios mode not working on android 5"
# Bug Report

**Ionic version:**
[x] **4.x**

**Current behavior:**
Ion-Segment is not working properly

**Expected behavior:**
If i click on ion-segment must work.

**Steps to reproduce:**
Click on ion-segment, with 2 segments up and down in the same app

**Related code:**

A sample application via GitHub
https://github.com/SSuarezBrooktec/Ionic5_ion_segment_error

[code]

**Other information:**

[2020-02-28 12:14] SSuarezBrooktec commented on #20648
The ion tab bar is also not working properly

[2020-02-28 13:25] elvisgraho commented on #18409
Same Issue. Its been a long one and had not been fixed for years https://github.com/ionic-team/ionic/issues/11542
If you have and observable that throws data at virtual-scroll, you will have an overlapping issue.

Can we fix this after 3 years?

[2020-02-28 13:44] andsee commented on #18409
It seems they are aware that Virtual Scroll is broken. I'm hoping it will be fixed this year else we are looking at a V6 fix, I'm not quite sure what to read from the following video about V5 at '30:41' when @brandyscarney says "Are we allowed to mention Virtual Scroll?' in response to beginning to talk about V6. I'm hoping she's suggesting it may come before hand.

https://www.youtube.com/watch?v

[2020-02-28 14:02] #20325 closed

[2020-02-28 14:08] liamdebeasi commented on #20033
Ok good to know that the bug still exists there. Hopefully the Swiper dev can fix the issue there.

[2020-02-28 14:09] liamdebeasi commented on #16504
You can keep it here, and I will take a look.

[2020-02-28 14:14] liamdebeasi commented on #20648
Thanks for the issue. Are you testing this on an emulator or a physical device?

[2020-02-28 14:14] #20647 closed

[2020-02-28 14:14] liamdebeasi commented on #20645
@Navanee26 Can you provide a GitHub repo with the code required to reproduce this issue?

[2020-02-28 14:15] liamdebeasi commented on #20644
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue?

[2020-02-28 14:54] nickwinger commented on #17414
How can it be that after 1 year there is no response from Ionic-Team ??
This is a major issue, form validation is completely not in sync with angular and the framework is useless ?
When you have a (reactive) angular form and the user presses Submit, not errors are shown, validation is not working.
Don't you think form validation is a key concept in nearly every App ??
I really don't get, there is

[2020-02-28 15:21] nickwinger opened #20650 "bug: Angular Reactive Form markAs** not updating Ion-Element"
# Bug Report
When calling a markAs (e.g. markAsTouched) on an angular reactive form control the ion class does not update: (e.g. ng-pristine ng-invalid md in-item hydrated ion-untouched ion-pristine ion-invalid ng-touched)
(you see that angular puts ng-touched, but ionic still thinks it is ion-untouched...)

Therefore validation is not showing...

**Ionic version:**

[x] **5.x**
latest Ionic 5 Ver

[2020-02-28 15:24] ZehnVon12 opened #20651 "Ionic 5 - async in ion-content"
I'm using a simple http get request in a service in an Ionic 5 application that returns an Observable. When I use that Observable with an async pipe inside ion-content in a template the ChangeDetection is not working on the data update of the Observable:

[code]
If I use the async pipe outside ion-content

[code]
the ChangeDetection works fine.

Is there anything (configuration?) I am missing?

[2020-02-28 16:02] nickwinger commented on #18155
i have the same problem. You can still select an ion-input with a mouse click even if it has readonly or [readonly]="true"

[2020-02-28 16:06] allforabit commented on #20109
Hi thanks for the update @elylucas that seems to have done the trick and it's working great now.

[2020-02-28 16:06] #20109 closed

[2020-02-28 17:13] jiayeZhu opened #20652 "bug: ion-datetime max limitation doesn't work when hour or minute is set to 00"
# Bug Report

**Ionic version:**

[x] **5.0.1**

**Current behavior:**

ion-datetime with max limitation doesn't work at hour or minute when the hour or minute is set to 00.
![bug-report](https://user-images.githubusercontent.com/12003141/75569074-6ea64600-5a22-11ea-8d9a-8b3b8ccb4d56.png)

**Expected behavior:**

when the hour or minute of max limitation is 00, the datetime picker should not let u

[2020-02-28 21:29] SSuarezBrooktec commented on #20648
Both, and it don't work in physical with 5.0.1 we try to update webview but not work anyway

[2020-02-29 01:58] NikolaPeevski commented on #20651
Have you tried to manually force change detection as a workaround ? ChangeDetectorRef.detectChanges() using RxJs, your code should look something like this.service.MyAwesomeRequest().pipe(res => { this.changeDetectorRef.detectChanges(); return res;});

[2020-02-29 02:00] NikolaPeevski commented on #20648
@SSuarezBrooktec https://github.com/ionic-team/ionic/issues/20618#issuecomment-591462771 Probably the same issue ?

[2020-02-29 03:46] netsesame2 commented on #20610
@liamdebeasi Sorry for delay responsing.

I did try to test on a physical device, android 7.1.1, chrome 55.0.2883.91.
The above issue is reproduced.

[2020-02-29 05:29] Navanee26 commented on #20645
@liamdebeasi  there is no issue with my code.
if i create new project using ionic start myApp & angular am just getting blank screens for ionic serve --lab.
i am using ubuntu os . i don't have idea about window & ios.
 old version ionic serve --lab is working now.
with that only my project is running

[2020-02-29 05:39] cambronjay opened #20675 "Latest ionic 5 design updates do not work with stencil/vanilla JS apps"
**Stencil version:**

[code]

**I'm submitting a:**

[x] bug report
[ ] feature request
[ ] support request => Please do not submit support requests here, use one of these channels: https://stencil-worldwide.herokuapp.com/ or https://forum.ionicframework.com/

**Current behavior:**

Latest design update for iOS do not appear the same way in stencil/vanilla JS apps as they do for angular apps. For

[2020-02-29 10:00] #20303 closed

[2020-02-29 11:37] asajuenitan commented on #18718
Facing this same issue, any fix?

[2020-02-29 11:47] d0peCode commented on #18718
@asajuenitan If you won't find solution there's option to use quasar framework which use vue and cordova for mobile apps.

[2020-02-29 15:01] mhartington commented on #18718
Hello there! Vue support is still beta. With that, not everything is ready for production. CLI integration is one of those. With that in mind, you could still use `npm run start` from the standard vue CLI project instead.

closing for now, we'll revisit once Vue 3 is release.

[2020-02-29 15:01] #18718 closed

[2020-02-29 16:14] abuassar opened #20653 "bug: wrong margin in slotted ion-label in RTL and ios and Ionic angular 5.0"
# Bug Report

**Ionic version:**

[x] **5.x**

**Current behavior:**
ion-label has left margin=8px and right margin=0

**Expected behavior:**
ion-label should have right margin=8px to seperate it from the ion-icon next to it

**Steps to reproduce:**
1- generate a new project using the default 'list' template
2- add this to index.html ```<html lang="ar" dir="rtl">```
3- run project in ios mode

**R

[2020-02-29 16:18] abuassar commented on #20653
I tried to override the margin as a workaround using:
[code]
but it had no effect, please guide me how to fix the margins manually till you release a proper solution.

[2020-02-29 16:23] NguyenVanToi opened #20654 "support: Issue open app from custom url scheme"
Hello guys,
I have an issue. My app allow login by facebook. I use custom url scheme to handle when login facebook done. but when app is opened from web. UI view page (.html) not updated. Ex validate form, display or hidden div
- Open app
- Click button login facebook
- Open chrome browser to login facebook
- Login facebook done will call custom url scheme to back to app
- On app, I route to a pag

[2020-02-29 16:23] #20654 closed

[2020-02-29 19:42] abuassar commented on #19488
this issue still valid in ionic 5.0.4

[2020-02-29 21:02] divyasanthoshi commented on #15424
thats a great post .could not find better phone masking logic elsewhere.

[2020-02-29 21:48] ASDAlexey commented on #20610
I've got same issue to. On Pixel 2 ad Pixel XL with android 10. It's issue

[2020-02-29 22:21] HansKrywaa commented on #20423
I did some Research about this Topic **interrupt Momentum Scroll* and found [this](https://stackoverflow.com/a/21579965/10908838):

[2020-02-29 23:22] RobinGiel commented on #20092
@damirarh unfortunately this not the case when using ionWillClose

[2020-03-01 00:20] pablomaurer opened #20656 "bug: ionic 5.0.4 doesn't use shadow-dom"
# Bug Report

**Ionic version:**
[x] **5.0.4**

**Current behavior:**
Since version 5.0.4 ionic somehow doesn't create anymore shadow-doms and uses the fallback classes `sc-ion-*`

**Expected behavior:**
Expect to not see any `sc-ion-*` classes and expect to see shadow-doms.

**Steps to reproduce:**
Try to reproduce with version 5.0.4, if this should not work let me know and i will create a demo r

[2020-03-01 11:07] savs90 opened #20657 "bug [ionic 5]: ion-split-pane is not working correctly for windows platform"
**Ionic version:**

[x] **4.x**
[x] **5.x**

**I'm submitting a ...**

[ x] bug report
[ ] feature request

**Current behavior:**

On a newly created ionic 5 project with sidemenu template we add Windows platform. With ionic serve everything is normal and working as expected. When build and run for windows the split-pane is working as expected when the screen width is smaller then the borderline,

[2020-03-01 15:04] RobinGiel commented on #20092
You can do this:

<ion-menu [swipeGesture]="menuSwipe.swipe" (ionDidClose)="didClose($event)">

in ts:

  didClose(e){
    this.menu.swipeGesture(false);
  }

[2020-03-01 16:22] Korthoutrody opened #20659 "bug: Scrolling barely works running as android device with chrome inspector open."
So I have not found anything on Google when I ran into this issue, and the issue being so obscure and unthinkable, it took me about 3 hours to fix this with lots of head-on-desk banging in the process.

It seems that using the Google Chrome inspector (to test out scss on elements without reloading) slightly blocks scrolling from working on my mobile application that I run on my android device (no

[2020-03-01 16:37] hongquan09dth5 opened #20660 "bug: stacked navigator don't work correctly"
I have 4 pages and 1 menu as below:
- Dashboard : routerLink="/dashboard" routerDirection="forward"

- Time: routerLink="/time" routerDirection="forward"

- Timesheet: routerLink="/timesheet" routerDirection="forward"

- Payslip: routerLink="/payslip" routerDirection="forward"

When i click those item menu as steps:
dashboard -> time -> timesheet -> payslip.
Then i try to click the ion-back-button

[2020-03-01 18:06] sadek-selmi opened #20661 "ionic 4"
# Documentation

Please do not submit issues on how to improve or fix the documentation. Instead, please submit an issue to the [Ionic Docs Repository](https://github.com/ionic-team/ionic-docs/issues/new/choose).

[2020-03-01 18:06] #20661 closed

[2020-03-01 18:38] divyasanthoshi commented on #15424
one more addition to the above generic approah by clmntr.
in case i am loading an existing phone number the masking does not work with the above code.if we include the below code that issue is taken care
public async configureInput() {

    const input = await this.ionInput.getInputElement();
    const maskedInput = createTextMaskInputElement({
      inputElement: input,
      mask: this.mask,

[2020-03-01 20:33] HansKrywaa commented on #15540
I think this is implemented now?
https://github.com/ionic-team/ionic/blob/36f98eda1b68863ee262f5dffe72510465cd8f88/core/src/components/loading/loading.tsx#L204

Can somebody check if this is still a Issue?

[2020-03-01 21:45] sachithd commented on #20644
It turns out that , one of my functions which has about 650 lines of "text.replace()" methods. causing ionic build --prod to throw this exception.

I was able to resolve it by writing the function in a different way or when I build it after changing the "target": "es2015" to "target": "es5" on tsconfig.json. (With the es5 method I'm not sure if it can cause issues when run on different devices)

I

[2020-03-02 02:19] Et3rnal opened #20664 "bug: ion-datetime time picker isn't consistent"
# Bug Report

**Ionic version:**
IONIC Angular 4.7.1

**Current behavior:**
If the ion-datetime has value, then it will return a string, if It doesn't it will return ISO!

The first will always return string `HH:mm`, the second will return iso datetime because it doesn't have value to start with

**Expected behavior:**
As much as I would love to be able to get the selected value in the display for

[2020-03-02 05:41] #17627 closed

[2020-03-02 06:19] 0stephen9980 opened #20666 "on-hold doesn't work for even iteration in mobile app"
**Ionic version:**

[x] **4.x**
[ ] **5.x**

**I'm submitting a ...**

[ ] bug report
[ ] feature request

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

**Other information:**

**Ionic info:**

[code]

[2020-03-02 07:24] brandonhudson opened #20667 "bug: IonTabBar Not Setting Button As Active On First Render After A Redirect"
# Bug Report

**Ionic version:**

[x] **5.0.3**

**Current behavior:**
When loading an Ionic React app that uses the router in conjunction with a tab bar, the correct component renders, but the tab bar never updates the current tab to an "active" state (colored) until I tap on the tab manually. This appears to be a regression from v4, as the same code (provided below) showed the first tab activate

[2020-03-02 08:25] NikolaPeevski commented on #20666
@0stephen9980 Can you give a little bit more information regarding the issue and a repo for reproduction?

[2020-03-02 08:34] NikolaPeevski commented on #20664
@Et3rnal Instead of passing a string like this, pass an actual ISO to the value property and it will consistently output an ISO format value. As the [docs](https://ionicframework.com/docs/api/datetime) state, the value should be of a correct ISO format.

[2020-03-02 09:10] MrRubi100 commented on #17600
I also agree that it is a major issue. This is kinda important for an IOS App.

[2020-03-02 09:19] millionfriends commented on #17600
I agree. This should be prioritized higher. It does not feel like a native iOS App with STGB disabled.

[2020-03-02 10:53] muaviaUsmani opened #20669 "bug:"
# Bug Report

**Ionic version:**

[x] **5.0.4**

**Current behavior:**
Declaring a reference to tabs elements as `HTMLIonTabsElement` and then using it on an `IonTabs` element gives an error saying
[code]

**Expected behavior:**
Should be able to create a ref using `HTMLIonTabsElement` type and assign it to a Tabs element.

**Steps to reproduce:**
1. Create a ref variable with type `HTMLIonTabsEle

[2020-03-02 12:39] nikbabchenko commented on #20003
thank you, @netsesame2  :-)

[2020-03-02 13:19] SSuarezBrooktec commented on #20648
We are using **ionChange**

[code]

[2020-03-02 13:28] ondergur opened #20670 "bug: Ionic 5 ion-refresher only works once in Android devices"
# Bug Report

**Ionic version:**

[x] **5.x**

**Current behavior:**

In Android devices `<ion-refresher>` only works once.
I encounter with this in Android 10 emulator and Android 8 and 7 physical devices.

**Expected behavior:**

Before migrating to Ionic5 from 4, I was able to pull the refresher at any frequency. Bu now, I can only pull it once. Than I have to go to any other page then get back

[2020-03-02 13:44] liamdebeasi commented on #20648
@SSuarezBrooktec What kind of Android device are you testing on?

[2020-03-02 13:45] #20666 closed

[2020-03-02 13:46] liamdebeasi commented on #20670
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue?

[2020-03-02 13:48] liamdebeasi commented on #20659
Thanks for the issue. I am going to close this as this is more of a support request. For further help debugging your application, we recommend posting your question on our [forums](https://forum.ionicframework.com/).

[2020-03-02 13:48] #20659 closed

[2020-03-02 13:49] liamdebeasi commented on #20657
Thanks for the issue. What device are you testing this on?

[2020-03-02 13:51] liamdebeasi commented on #20656
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue?

[2020-03-02 13:53] FranzSw commented on #19638
Would love to hear some news on this.

@NikolaDeveloper Here's a one line fix / workaround for React:
[code]

It basically just calls `update` on IonSlides after loading.

[2020-03-02 13:55] liamdebeasi commented on #20644
Thanks for the follow up. In that case, I am going to close this issue. If you later determine that this is an Ionic issue please feel free to open a new issue. Thanks! 🙂

[2020-03-02 13:55] #20644 closed

[2020-03-02 13:56] liamdebeasi commented on #20645
Thanks for the follow up. Is this happening with an Ionic Framework v4 applications as well, or just v5 apps?

[2020-03-02 13:58] liamdebeasi commented on #20653
Thanks for the issue. I was able to confirm this behavior -- looks like it is only happening in Safari.

[2020-03-02 13:58] ondergur commented on #20670
It's going to take time to reproduce for me because my current repo is belongs to my company which is confidential. I can provide a repo in few days to reproduce i hope. But until that time, what i did was just `<ion-refresher>` inside a `<ion-content>`

[2020-03-02 13:59] liamdebeasi commented on #20670
Ok thanks. I will keep the `needs: reply` label until a reproduction is provided.

[2020-03-02 14:26] liamdebeasi commented on #20660
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue?

[2020-03-02 14:30] savs90 commented on #20657
My PC is running Windows 10 Pro Version 1903 (OS Build 18362.657). I can also confirm that this bug is presented on ionic v4.x also

[2020-03-02 14:50] ctfrancia opened #20671 "bug: ionic 5 - Native: tried calling..."
# Bug Report

**Ionic version:**

[x] **5.x**

**Current behavior:**

getting a series of `Native: tried calling (StatusBar.statusDefault/Spashscreen.hide()/Android Permissions) but Cordova is not available. Make sure to include cordova.js or run in a device/simulator. I am running this on a native device.

**Expected behavior:**

not to get these errors as they are causing side effects especially

[2020-03-02 14:59] liamdebeasi commented on #20671
Thanks for the issue. Is `cordova.js` being included in your output bundle's HTML file?

[2020-03-02 15:08] Et3rnal commented on #20664
Okay so the documents do say that and this case effect dates as well:

This is useless unless you always have a value to start with.
It would be really nice to be able to set the desired output of the component

thank you

[2020-03-02 15:08] #20664 closed

[2020-03-02 15:08] kensodemann commented on #20553
Adding the following to the `global.scss` file worked in my test app without negative consequences:

[code]

[2020-03-02 15:36] ctfrancia commented on #20671
I don't know, I wasn't having this issue before I upgraded to v5. so maybe in the upgrade someone got changed? How would I check for this?

[2020-03-02 15:40] liamdebeasi commented on #20671
You can either just check Web Inspector to see if it is getting loaded. Ionic Framework does not manage Cordova dependencies, so it is likely something is wrong in the build process.

[2020-03-02 16:13] liamdebeasi commented on #20657
Thanks for the follow up. Are you building a Universal Windows Platform (UWP) app? Or are you running this app in a browser?

[2020-03-02 16:23] #20652 closed

[2020-03-02 16:24] liamdebeasi commented on #20652
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic/pull/20665 and will be available in an upcoming release of Ionic Framework.

[2020-03-02 17:10] Chris2011 commented on #20208
Same here, update of ionic/core to 5.0.4, ionic/vue to 0.0.9 didn't fix it.

[2020-03-02 17:25] SSuarezBrooktec commented on #20648
Huawei P8 Lite with Android 5.0.1 (2015)

[2020-03-02 17:31] liamdebeasi commented on #20342
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic/issues/18409. I was able to reproduce the issue regardless of network connection speed. `ion-virtual-scroll` does not make any network requests by default, so it may just be a matter of lazy loaded scripts loading in slowly.

[2020-03-02 17:31] #20342 closed

[2020-03-02 17:33] liamdebeasi commented on #20142
Thanks for the issue. I am going to close this as these deprecation warnings were removed as part of Ionic Framework v5.

[2020-03-02 17:33] #20142 closed

[2020-03-02 17:34] carstenbaumhoegger commented on #17279
@christianguevara thank's for your solution!
I'm using Ionic 5 and it doesn't work anymore because they moved more components over to shadow dom. Does anyone have an updated solution for the problem that the text should only be shown when running on iOS?

[2020-03-02 17:42] SavageCore commented on #18176
I'm seeing the same with any `ion-icon` in slot end? Is that right?

Ionic Info:
[code]

[2020-03-02 17:50] savs90 commented on #20657
Sorry for not specifying, but I supposed it was clear from the reproduce steps - "6. Ionic cordova platform add windows". I am building UWP app. Also i missed one step ( i will edit the original description ) where i'm adding
`<platform name="windows">
        <preference name="windows-target-version" value="10.0" />
 </platform>`
to config.xml

PS. I updated windows and now i get
`No valid MSBuil

[2020-03-02 17:51] liamdebeasi commented on #20107
Thanks for the issue. I am going to close this as this is not a bug in Ionic Framework. `ionModalDidPresent` and the other modal events are emitted as custom events on the element, not as Angular lifecycle methods.

It is recommended developers use the standard lifecycle methods that Ionic provides: https://ionicframework.com/docs/angular/lifecycle

The events you see in the documentation are even

[2020-03-02 17:51] #20107 closed

[2020-03-02 17:57] liamdebeasi commented on #20160
Thanks for the issue. With the release of Ionic Framework v5 we updated our [Browser Support Table](https://ionicframework.com/docs/intro/browser-support#desktop-browsers) to state that Edge 79+ (Chromium Edge) is supported in Ionic Framework.

Chromium Edge has full support for custom elements, shadow DOM, etc so I am going to close this issue. If you run into any additional bugs, please feel fre

[2020-03-02 17:57] #20160 closed

[2020-03-02 17:57] liamdebeasi commented on #17679
Thanks for the issue. With the release of Ionic Framework v5 we updated our [Browser Support Table](https://ionicframework.com/docs/intro/browser-support#desktop-browsers) to state that Edge 79+ (Chromium Edge) is supported in Ionic Framework.

Chromium Edge has full support for custom elements, shadow DOM, etc so I am going to close this issue. If you run into any additional bugs, please feel fre

[2020-03-02 17:57] #17679 closed

[2020-03-02 18:16] Jahrenski opened #20672 "bug: Ionic 5 interaction with TinyMCE editor on iOS"
**Ionic version:**
[x] **5.0.3**

**Current behavior:**
I have an interaction problem between Ionic 5 and TinyMCE in my app on iOS where scrolling when the focus is in the editor, dismisses the keyboard. In Ionic 4, I could use the undocumented "no-blur" attribute which prevented the issue to arise but this behavior does not work anymore in Ionic 5 / Angular 9.

**Expected behavior:**
Scrolling sh

[2020-03-02 18:30] liamdebeasi commented on #20648
Thanks for the follow up. Can you try the following dev build and let me know if it resolves the issue?

`npm i @ionic/angular@5.1.0-dev.202003021824.2177461`

[2020-03-02 18:36] liamdebeasi commented on #20651
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue?

[2020-03-02 20:00] liamdebeasi commented on #20423
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue?

[2020-03-02 20:02] HansKrywaa commented on #20423
Yeah, i can do it, but only tomorrow. But you can just create a new App with a large List and run on an iOS Device.

[2020-03-02 20:03] liamdebeasi commented on #20423
Thanks for the follow up. Are you using Cordova or Capacitor?

[2020-03-02 20:03] HansKrywaa commented on #20423
Cordova, because not all of my Plugins are Capacitor-Ready

[2020-03-02 20:22] SSuarezBrooktec commented on #20648
ok will try

[2020-03-02 20:24] liamdebeasi commented on #20423
Ok thanks I was able to reproduce this. There are some issues with the status bar tap in both Cordova and Capacitor so I will need to dig into this a bit more.

[2020-03-02 20:26] HansKrywaa commented on #20423
I think it is not really because of the Status Bar Tap, as this just calls the Ion Contents scroll To Top right? So this must occur also with a for Example Fab Button that calls the Same Method. Have you seen my PR for this?

[2020-03-02 20:51] liamdebeasi commented on #20675
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue? I am unable to reproduce the issue using the code snippet provided.

[2020-03-02 20:58] wilianwrech commented on #20212
I already did a workaround before opening the issue, I could not use hidden because I was having some problems with ngModel, I just switched to checkboxes, restyled using css and assigned changes to do the radio behavior. I opened the issue to report the bug, unfortunately, no one did the triage.

[2020-03-02 21:53] SSuarezBrooktec commented on #20648
Not working :(

<img width="840" alt="Captura de pantalla 2020-03-02 a las 22 51 27" src="https://user-images.githubusercontent.com/56263935/75721301-6d9e3e80-5cd8-11ea-9747-8512503cbd01.png">

Repo Updated: https://github.com/SSuarezBrooktec/Ionic5_ion_segment_error

[2020-03-02 22:23] guzmanoj commented on #20643
Same issue here.
As a workaround, I'm adding a class to the inner `ion-router-outlet` so that I can  _fix_ the IONIC applied styles.

[2020-03-02 22:37] cambronjay commented on #20675
@liamdebeasi Use the ionic stencil conference app repo. This is a stenciljs/ionic app issue not an angular/ionic app issue. It's not reproducible in an angular project. That is the point I am making.  https://github.com/ionic-team/ionic-stencil-conference-app use that repo and upgrade the ionic core package.

[2020-03-03 00:00] gbrunow opened #20676 "bug: pulling ion-refresher causes large title to be collapsed"
# Bug Report

**Ionic version:**

v5.0.4

**Current behavior:**

When `ionic-refresher` is pulled it interferes with the collapsible titles.
![Ionic App](https://user-images.githubusercontent.com/5505621/75728737-5fd3c380-5cae-11ea-8cc1-5eddc97e11df.gif)

**Expected behavior:**
`ionic-refresher` shouldn't after the state of collapsible titles, thus leaving the large title active.
![Ionic App (1)](

[2020-03-03 02:37] gmrao opened #20677 "bug: Native: tried calling StatusBar.styleDefault, but Cordova is not available. Make sure to include cordova.js or run in a device/simulator"
Hi,

I need help with ionic 4 android build with cordova.  App is building successfully but in emulator or device app is displaying white page.

I checked the build and see cordova.js is missing in the  generated index.html page. In inspect below warning messsage being displayed. This seems to be the root cause for issue. Any help is appreciated.

vendor-es2015.js:106398 Native: tried calling Stat

[2020-03-03 04:08] Navanee26 commented on #20645
@liamdebeasi everyday i am creating new project to check ionic serve --lab version issue sloved or not but still now its not sloved . i didnt have idea about its v4 or v5.

[2020-03-03 04:13] Navanee26 commented on #20645
@liamdebeasi I am following this link page to create ( https://ionicframework.com/getting-started )

[2020-03-03 04:43] Et3rnal commented on #20048
@brandyscarney Can you provide an example? I tried setting the handler but it didn't work and still, the value gets changed by clicking cancel as well as clicking on the backdrop

Also, why we don't get the default buttons like in `"ionic-angular": "3.5.2"` adding the select and cancel buttons is so problematic !!!

I'm currently on `"@ionic/angular": "^4.7.1"`

[2020-03-03 05:18] wontondon opened #20678 "bug: Router links don't navigate when ion-segment-buttons are clicked on mobile devices"
# Bug Report

**Ionic version:**
[x] **5.x**

**Current behavior:**
When viewing clicking on a ion-segment-button which has a routerLink attribute, you are not navigated to the router link provided when using the Chrome mobile device preview mode or a physical device.

Oddly enough the page navigates as expected when clicked if you are using a normal browser window (and not the device mode). Also

[2020-03-03 06:16] Wingzzzzz opened #20679 "bug: iOS 13 word pasting auto space exceeds text max length"
# Bug Report
iOS 13 word pasting auto space exceeds text max length

**Ionic version:**
**4-5**
(tested on both 4 and 5)

**Current behavior:**
Paste word on text / text area,
word length exceeds 1 than input `maxlength`

**Expected behavior:**
text input should only be allowed to have max length of `maxlength`

**Steps to reproduce:**
repo: https://github.com/Wingzzzzz/test-ios13-text-maxlength-o

[2020-03-03 06:34] landry161 opened #20680 "bug: Ionic app show black screen when after signing apk"
# Blank screen

**Ionic version:**

[x] **3.x**

**Good Morning.
I have one ionic app. My app works fine when i build apk like this**

[code]

**To generate release version i use this command:**

[code]

**This is my config.xml configuration:**

[code]
Can you help me please?????
Thank a lot.

[2020-03-03 08:12] ctfrancia commented on #20671
In that case it is not, anything related to the cordova is not getting loaded/called

[2020-03-03 08:25] simonhaenisch commented on #20048
@brandyscarney I haven't debugged this to dig deeper into the cause of the issue, but a pretty straightforward fix seems to be

[code]

However I'm not sure if this still behaves correctly when a custom cancel handler is passed, i. e., am I supposed to manually take care of not updating the value, and is it even possible to do so?

[2020-03-03 08:43] DmitryEfimenko commented on #18845
It seems it's a duplicate of #18197, which is locked... so I can't +1 it.
Any progress on this? This seems like a major bug. Basically the routing isn't working...

[2020-03-03 09:22] nickwinger opened #20681 "bug: SplitPane not working when Menu is wrapped in a Component"
# Bug Report
When wrappen the  menu inside a SpliePane in it's own component (e.g. `<my-menu>`) the SplitPane is not working as expected (2 Panes are shown)

**Ionic version:**

[x] **5.x**
latest

**Current behavior:**

When wrapping the menu inside a SplitPane in it's own component (e.g. <my-menu>)
2 Panes are shwon

**Expected behavior:**

The SplitPane should work as if i would put the `<ion-m

[2020-03-03 09:41] elvisgraho commented on #20676
As far as I know Ion-header must be outside of ion-content. What ion-refresher does ist that it pulls whole ion-content down. Please put ion-header outside and above of ion-content and report if that fixed the issue.

[2020-03-03 11:26] simonhaenisch commented on #17087
Still happens with Ionic 5 (my codepen always loads the latest Ionic from unpkg so it's easy to verify).

[2020-03-03 12:26] ondergur commented on #20670
I try to reproduce the bug. But it was working fine in a new project. So you can close the issue. I think bug is in my code.

[2020-03-03 12:26] #20670 closed

[2020-03-03 14:05] liamdebeasi commented on #20671
Thanks for the follow up. Can you provide a repo with the code required to reproduce this issue?

[2020-03-03 14:08] liamdebeasi commented on #20645
Thanks for the follow up. Unfortunately I am unable to reproduce the issue using the steps you have provided. In your app's directory, can you please provide the output of running `ionic info`?

[2020-03-03 14:09] gbrunow commented on #20676
This is a sample straight from the documentation:
[code]
https://ionicframework.com/docs/api/title

I believe that notation is required for collapsible titles.

[2020-03-03 14:12] liamdebeasi commented on #20675
Thanks for the follow up. I am unable to reproduce this issue using the Ionic Stencil Conference App. Can you please provide a repo with the code required to reproduce this issue?

[2020-03-03 14:14] #20677 closed

[2020-03-03 14:14] #20680 closed

[2020-03-03 14:15] liamdebeasi commented on #20681
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue?

[2020-03-03 14:19] liamdebeasi commented on #20672
Thanks for the issue. Can you provide this as a separate GitHub repo? StackBlitz almost never works on any of my mobile devices 😢. (I can download the zip from stackblitz, but it is never exported properly for some reason).

[2020-03-03 14:35] liamdebeasi commented on #20679
Thanks for the issue. I am going to close this as this is not a bug in Ionic Framework.

I was able to reproduce this outside of Ionic. It looks like a bug in iOS: https://codepen.io/liamdebeasi/pen/dyozzrP

[2020-03-03 14:35] #20679 closed

[2020-03-03 14:51] liamdebeasi commented on #20678
Thanks for the issue. Can you try the following dev build and let me know if it resolves the issue?

`npm i @ionic/angular@5.1.0-dev.202003031446.f64b142`

[2020-03-03 14:53] liamdebeasi commented on #20648
Thanks for the follow up. Those errors are unrelated to this issue. Can you please ensure you are deploying the app properly?

[2020-03-03 14:58] Jahrenski commented on #20672
No problem! Here it is:
[https://github.com/Jahrenski/ionic-v5-tinymce](https://github.com/Jahrenski/ionic-v5-tinymce)

[2020-03-03 15:14] wontondon commented on #20678
@liamdebeasi looks like its working now. Thanks!

[2020-03-03 15:23] brandyscarney commented on #17087
@simonhaenisch I believe it would need to be this instead:

[code]

but yes I would accept this.

Could you add a test in `label/test/` called `headings` that is basically the same as your Codepen including the headings and paragraph? I can review and make changes. Thank you for offering to PR this!!

[2020-03-03 15:27] liamdebeasi commented on #20608
Thanks for the issue. Can you try the following dev build and let me know if it resolves the issue?

`npm i @ionic/angular@5.1.0-dev.202003031524.f64b142`

[2020-03-03 15:29] brandyscarney commented on #20048
I think this might require some rework in how the picker + datetime communicate, but I'm going to tag in @liamdebeasi since he's spent more time with datetime and see if he has ideas.

[2020-03-03 15:35] liamdebeasi commented on #20672
@Jahrenski Can you make sure you uploaded all the necessary files? Your package.json seems to be missing.

[2020-03-03 15:41] SSuarezBrooktec commented on #20648
yes, ionic cap sync android / ionic cap run android

[2020-03-03 15:43] brandyscarney commented on #20653
I was able to reproduce this in Chrome, it seems like it only happens in iOS. The issue is with the margin on the icon:

LTR

![Screen Shot 2020-03-03 at 10 37 28 AM](https://user-images.githubusercontent.com/6577830/75791751-0b2a5a00-5d3b-11ea-8a12-169d733e1deb.png)

RTL

![Screen Shot 2020-03-03 at 10 37 35 AM](https://user-images.githubusercontent.com/6577830/75791752-0bc2f080-5d3b-11ea-9e67-52

[2020-03-03 15:46] indraraj26 commented on #20608
Hi @liamdebeasi , Today i left from office will definitely test tomorrow. Also iOS device is in office.

Thank you for your instant solution.

[2020-03-03 15:58] brandyscarney commented on #20653
More digging has shown me that this is due to the way we set the defaults:

[code]

The `margin-left` being set to `0` is the reason it is breaking in RTL.

[2020-03-03 16:01] liamdebeasi commented on #20676
Thanks for the issue. I am going to close this as this is not a bug in Ionic Framework. When using your own custom components that wrap an Ionic page, you need to ensure that the dimensions for the page are correct.

In the case of your application the dimensions of your `hype-tab-page` component had a height of only 44px. The large title and the refresher both rely on these dimensions being corre

[2020-03-03 16:01] #20676 closed

[2020-03-03 16:09] gbrunow commented on #20676
@liamdebeasi that actually makes a lot of sense, thank you for your time!

[2020-03-03 16:18] brandyscarney commented on #20675
The code provided in the original issue is displaying an accurate toolbar, but it looks like you may be missing the header that goes on top of the content. The Stencil conference app hasn't been updated to Ionic 5 yet, so the usage in that app does not reflect the proper large title usage.

Please verify that you are following the usage examples here, notice that there are two `ion-header` element

[2020-03-03 17:09] Jahrenski commented on #20672
My bad, I uploaded a level too deep aha!
It should be up to date, let me know if anything is missing.

[2020-03-03 18:31] liamdebeasi commented on #20508
Thanks for the follow up. I am going to close this as this does not appear to be a bug in Ionic Framework.

Android devices typically have lower powered CPUs than iPhones, so performance is generally a bit worse. Additionally, your app is trying to render ~3,000 DOM nodes all at once (including 200 images) this is likely going to cause performance to drop. I was able to reproduce this behavior and

[2020-03-03 18:31] #20508 closed

[2020-03-03 18:44] liamdebeasi commented on #20672
Hmm I am still getting errors when I try to run the app:

[code]

Can you double check that your dependencies are correct?

[2020-03-03 19:45] gbrunow commented on #20676
### In case anyone else ends up having the same issue.
@liamdebeasi's suggestion indeed solved the `ion-refresher` issue I was seeing.
However,  it caused another problem that seems related to using ionic components inside custom components.

Notice the behavior I see in the header section:
![Ionic App](https://user-images.githubusercontent.com/5505621/75812317-9e6f8980-5d53-11ea-8180-01f4ad0a8c2e

[2020-03-03 20:31] marekbozych commented on #20643
+1

[2020-03-03 20:52] liamdebeasi commented on #20529
Thanks for the issue. Can you try the following dev build and let me know if it resolves the issue?

`npm i @ionic/angular@5.1.0-dev.202003032049.f64b142`

Please note that you will need to opt-in to running your callbacks inside of NgZone. Your code would look something like this:

[code]

[2020-03-03 21:18] Jahrenski commented on #20672
This is fixed. I had not tested it after moving it to github, my bad.
It should work now.

[2020-03-03 21:50] savs90 commented on #20657
Because i will not have access to my computer next 2 weeks i have to use another one. I set up the same environment and the result is the same. Split-pane is not working corectly for UWP. Also one more note to make. When the width is under the borderline and we have the toggle button enabled the animation is not working correctly. Opening the side menu with gesture is hanging the animation in the

[2020-03-04 03:50] Navanee26 commented on #20645
@liamdebeasi
![Screenshot from 2020-03-04 09-19-37](https://user-images.githubusercontent.com/60693254/75843533-602ca580-5df9-11ea-8fb4-9d1224490965.png)

[2020-03-04 03:51] Navanee26 commented on #20645
@liamdebeasi  latest version is not supporting i think in ubuntu

[2020-03-04 06:05] tetkosimi commented on #20608
Looks good @liamdebeasi !
Thanks!

[2020-03-04 06:16] zer09 commented on #17745
Without setTimeout

[code]

[2020-03-04 06:42] tetkosimi opened #20686 "bug: modal closing animation issue if keyboard open"
# Bug Report
Keyboard resize the ion-app element, when keyboard opens.
When you have an opened ion-modal with keyboard, and you close the modal, both keyboard and modal close animations are running in same time.
Keyboard plugin will revert back the height of ion-app after close animation have been finished, and the ion-modal have absolute position so modal animation will end at bottom of ion-app w

[2020-03-04 06:47] JensWinter commented on #20529
Hi @liamdebeasi. Thanks for your response. I can confirm that this seems to solve the problem.
In fact I found out that instead of

`onEnd: () => this.onSwipeEnd()`

using this:

`onEnd: () => this.ngZone.run(() => this.onSwipeEnd())`

also did the trick.

[2020-03-04 06:55] rehannawab commented on #20657
@savs90 I don't know if this helps but we also faced the same issue until we realized that Ionic 5 isn't supported on Edge Browser, which a Windows UWP uses (EdgeHTML) for webview. So as long as we have clients using our Windows app, we cannot upgrade to Ionic 5 - at least until we have a Chromium based Webview for building UWP - but that also would require the clients to have latest Edge (v79+) i

[2020-03-04 07:35] #17506 closed

[2020-03-04 08:17] indraraj26 commented on #20608
Hi @liamdebeasi, This is working great but animation is not working properly now.

Tested on: Iphone 6 iOS: 12.4.4

ISSUE:
1. Parent page -> it doesnt have smooth animation for border-radius.
2. Sometime modal will open without any animation.
3. Sometime modal will overlap parent page.

Reproduce Video: https://youtu.be/RMYudiq9Dlc?t=20

Anyway for this i will create another issue template.

[2020-03-04 08:17] indraraj26 opened #20687 "bug [ionic5]: Swipeable Modal animation and overlap on parent page (border-radius transition)."
# Bug Report

**Ionic version:**

[] **4.x**
[x] **5.x**

**Current behavior:**

Tested on: Iphone 6 iOS: 12.4.4

ISSUE:
1. Parent page -> it doesnt have smooth animation for border-radius.
2. Sometime modal will open without any animation.
3. Sometime modal will overlap parent page.

Reproduce Video: https://youtu.be/RMYudiq9Dlc?t=20

**Expected behavior:**

Parent page -> should have smooth anim

[2020-03-04 09:19] MInesGomes opened #20688 "bug: Ionic Refresh & Infinite scroll in the same page doesn't work infinite scroll ."
# Bug Report

**Ionic version:**
[x] **4.x**

**Current behavior:**
If I have Ionic Refresh & Infinite scroll in the same page.
The infinite scroll will not work. Keeps showing the first page.

If I remove the `<ion-refresh>`  the infinite scroll works, but I can't refresh the page

**Expected behavior:**
Be able to use both components in the same page.

**Steps to reproduce:**

Have ion-refresher

[2020-03-04 09:23] savs90 commented on #20657
@rehannawab I don`t think the problem with Split pane has something to do with the browser engine. After some debuging i can see that in browser platform for exmaple when a splitscreen trigger happens some classes and styles are altered , and this is only half true for windows. Adding some CSS can fix this bug. But this is temporary workaround until offical fix is released.
Adding this in the scss

[2020-03-04 09:50] sebsoftpak opened #20689 "bug: [Ionic Appflow] "ionic link" returns 401/404"
# Bug Report

**Ionic version:**
CLI version 5.4.16

**Current behavior:**

the command "ionic link" currently returns a 404.

**Expected behavior:**

Should link the codebase to an Ionic Appflow project.

**Steps to reproduce:**

1. Enter "ionic link" in the terminal
2. Choose the option to link an external project.

3. Within seconds, an 404 will be returned:
``Request: GET https://api.ionicjs.c

[2020-03-04 09:53] kdfemi commented on #20610
I am also facing the same issue, it works fine on my Pc browser but when i test it on a mobile device i get the same weird behaviour

[2020-03-04 10:16] #20689 closed

[2020-03-04 10:23] eherve commented on #18533
+1
ionDrag is not fired when the user click on another item and the opened one is closed.

[2020-03-04 13:41] drewctate commented on #18455
Well, until this is properly addressed, I've built a custom back-button component that prevents it. In case it's useful for others, I'll share the code.
## Usage
[code]

## Source Code
[code]
[code]

[2020-03-04 14:44] dtmarangoni commented on #16834
Hello all,

I have already updated the Ionic and Angular to the latest version but I still can see following bug:

When I leave the parent tab page to the root login page, for example user clicked in the logout button in tab button, the ionic lifecycle is only triggered in the parent tab component but not in the current tab child being displayed.
ionViewWillLeave and ionViewDidLeave dont trigger i

[2020-03-04 16:21] andysousa commented on #19539
Wow, spent hours trying to debug this... glad I came across this.  Guess I should have come here first.

[2020-03-04 16:35] brandyscarney opened #20691 "bug: header containing collapsible large title should use content background always"
# Bug Report

**Ionic version:**

[x] **5.x**

**Current behavior:**

Theme an app by adding at least the following variable:

[code]

<img width="581" alt="Screen Shot 2020-03-04 at 11 32 14 AM" src="https://user-images.githubusercontent.com/6577830/75901002-d89c6200-5e0b-11ea-9d6c-b9f0b061a552.png">

**Expected behavior:**

The large title toolbar should just use the content background since it

[2020-03-04 19:32] lapid3 opened #20692 "ion-segment doesnt't show properly after upgrade to ionic V5"
Ion-segment doesn't show properly after update to V5.
Basically with short labels it works fine but if I use long labels (and I need to) it will cut half of it and overlap the following button (pics on link).

![segment](https://user-images.githubusercontent.com/25478014/75915654-3a35ee00-5e57-11ea-8169-c2f4dd5f1ff0.PNG)
![segment2](https://user-images.githubusercontent.com/25478014/75915671-3efaa

[2020-03-04 20:55] falquinho commented on #17784
Having this issue too. IONIC 4.0.2 . After a bit realized this only happens if you pull to the pullMax distance. If you trigger the refresh by scrolling just over the pullMin and releasing, it behaves as expected.

[2020-03-04 21:02] Jgarcia4377 commented on #19163
There is some progress? I encountered the same problem

[2020-03-04 21:43] rafalschmidt97 commented on #17279
In my case the problem doesn't exist as long as I'm using .config (provided by @biesbjerg) to set up the text instead of text="xyz". @NiklasMerz said it's deprecated but it works.

[2020-03-04 23:52] edy-ap opened #20693 "bug: footer not show in modal using stencil"
# Bug Report

**Ionic version:**
[x] **5.0.4**

**Current behavior:**
when using ionic with stencil, if I put a list and a footer inside a modal, the footer not displayed.
![image](https://user-images.githubusercontent.com/13421021/75933249-19619e80-5e3f-11ea-803b-b20d3407da8e.png)

**Expected behavior:**
the footer is shown in modal

**Steps to reproduce:**
1.- clone the repo
2.- npm i && npm sta

[2020-03-05 03:57] Navanee26 commented on #20645
@liamdebeasi yes i think so

[2020-03-05 04:11] #20645 closed

[2020-03-05 06:32] tuif commented on #20356
We are facing the problem. Is there any new information on this issue?

[2020-03-05 07:21] Navanee26 opened #20694 "Login Context"
how to create login context in ionic angular ?

[2020-03-05 07:22] #20694 closed

[2020-03-05 08:12] mfragale opened #20695 "bug: Can't submit ANDROID KEYSTORE"
# Bug Report

**Ionic version:**

[x] **4.x**

**Current behavior:**

Trying to upload my ANDROID KEYSTORE at https://dashboard.ionicframework.com/app/aea1c241/build/certs but get this error:

There was an error while submitting your credentials. Invalid keystore file. The file is not a valid keystore.

**Expected behavior:**

The keystore should be uploaded.

**Steps to reproduce:**

**Related co

[2020-03-05 08:23] nickwinger commented on #20681
Here is the repo where you can reproduce the issue:
https://github.com/nickwinger/ionicMenuBug

The menu should be permanent open on desktop but it isn't

[2020-03-05 12:55] DwieDima opened #20696 "bug: incorrect large ion-title placement inside modal navigation using ion-nav"
# Bug Report

**Ionic version:**

[x] **^5.0.4**

**Current behavior:**

When you try navigating inside modal by using ion-nav, the placement of large ion-title is incorrectly aligned

[Link to video](https://i.imgur.com/C3AuG6K.mp4)

**Expected behavior:**

Large title transition on forward and back navigation should align correctly
**Steps to reproduce:**

1. create a page which holds the ion-na

[2020-03-05 13:03] DwieDima opened #20697 "bug: Modal dismiss animation not smooth on latest ionic/angular"
# Bug Report

**Ionic version:**

[x] **^5.0.4**

**Current behavior:**

Dismiss animation is flickering at the end of transition

[Link to video](https://i.imgur.com/0qvnvDw.mp4)

**Expected behavior:**

Dismiss animation should close smoothly
**Steps to reproduce:**
Just setup new ionic project using latest ionic and angular version (using Angular 9.0.2 at the moment)

[Link to repo](https://git

[2020-03-05 13:25] DwieDima opened #20698 "bug: Cannot create card style modal inside app.component.ts"
# Bug Report

**Ionic version:**

[x] **^5.0.4**

**Current behavior:**

When you try to create an card style modal in app.component.ts you'll get a error message

<img src="https://i.imgur.com/pqVtSjj.png">

**Expected behavior:**

card style modal should be presented
**Steps to reproduce:**
1. add IonRouterOutlet and modalController to constructor()
[code]
2. create modal
[code]
3. run ionic ser

[2020-03-05 13:34] Ananasr commented on #19959
Any update on this feature please?

[2020-03-05 14:09] DwieDima opened #20699 "bug: Cannot create modal with subnavigation in childpages using ion-nav"
# Bug Report

**Ionic version:**

[x] **^5.0.4**

**Current behavior:**

When you try to create a modal with subnavigation using ion-nav, you'll get an error in childpages. Using subnavigation in app.component.ts is working fine.

<img src="https://i.imgur.com/J1pg1HC.png">

**Expected behavior:**

Modal should appear in child pages
**Steps to reproduce:**

1. create a page which holds the ion-nav

[2020-03-05 14:22] liamdebeasi commented on #20695
Thanks for the issue. I am going to close this as this repo is used only for reporting issues related to Ionic Framework. For help with this issue I recommend posting your question on our [forums](https://forum.ionicframework.com/).

[2020-03-05 14:22] #20695 closed

[2020-03-05 14:43] liamdebeasi commented on #20698
Thanks for the issue. I am going to close this as this is not a bug in Ionic Framework.  The `IonRouterOutlet` dependency injection only works if the component is inside of an ion-router-outlet. `app-root`, the component for `app.component.ts`, exists outside of an ion-router-outlet.

As an alternative, you can use `ViewChild` to grab the `ion-router-outlet` that is found in `app.component.html`.

[2020-03-05 14:43] #20698 closed

[2020-03-05 14:46] liamdebeasi commented on #20697
Thanks for the issue. Can you provide some more information as to what device you are testing this on? Also the image/gif you tried to provide appears to be broken.

[2020-03-05 14:48] liamdebeasi commented on #20696
Thanks for the issue. I am unable to reproduce the issue using the repo provided. Can you provide some steps to reproduce the issue?

[2020-03-05 14:55] DwieDima opened #20700 "feat: ios card style modal for iPad should not affect routerOutlet"
# Feature Request

**Ionic version:**

[x] **5.0.4**

**Describe the Feature Request**

At the moment the card-style-modal only looks good on mobile view. On tablet view and especially with split-pane there is a lot of potential for improvement.
There should be an option to open a modal as usual. Subsequent nested modals should not have any influence on the routerOutlet, but only on the underlying

[2020-03-05 15:02] DwieDima commented on #20697
Sorry for broken gif. I replaced it by video link.
In the video i'm testing it on chrome browser.

[2020-03-05 15:03] #20282 closed

[2020-03-05 15:10] liamdebeasi commented on #20693
Thanks for the issue. It looks like your app does not include a lot of the global styles required to make Ionic work properly. Can you make sure those are included and see if the issue persists? You see the global styles in our Ionic Stencil Conference App repo: https://github.com/ionic-team/ionic-stencil-conference-app/blob/master/src/global.css

[2020-03-05 15:13] ctfrancia commented on #20671
Sure, I will do that, it might be after the weekend, as I am sick and unable to think straight

[2020-03-05 15:13] liamdebeasi commented on #20700
Thanks for the issue. In the case of a split view application, you should be targeting `ion-split-view`, not `ion-router-outlet` since that will not account for the side menu. Can you try targeting that instead and see if the issue persists?

[2020-03-05 15:19] DwieDima commented on #20696
1. run npm i
2. run ionic serve
3. toggle device toolbar in chrome browser
4. switch device to iPad
5. click on "NESTED NAVIGATION LARGE TITLE BUG" in the menu bar, when split-pane is visible (should be on ipad view)
6. try some navigation there

Sorry for bad description. The bug does not appear in mobile view, only tablet.

[2020-03-05 15:31] DwieDima commented on #20700
Could you provide a snipped on how to target ion-split-view instead of ion-router-outlet for creating a card style modal?
I cannot find any IonSplitView, but only IonSplitPane.
I can't find the property nativeEl on IonSplitPane.

[2020-03-05 15:35] DwieDima commented on #20699
If you'll use the repo:
1. navigate to inbox page
2. click on the button bottom right "NESTED CHILD NAVIGATION BUG"
3. see the error message in console

[2020-03-05 15:35] liamdebeasi commented on #20697
Thanks for the issue. Can you try the following dev build and let me know if it resolves the issue?

`npm i @ionic/angular@5.1.0-dev.202003051530.531d9e4`

[2020-03-05 15:35] Aupourbau opened #20701 "bug: Multiple Side-Menu Bug"
Bug Report

**Ionic version:**
@ionic/react": "5.0.0

**Current behaviour:**
Simple two pages app, each of them has a specific menu.
In Page 1:
- Open Menu 1 (using swipe right or toggle button)
- Close Menu 1  (using swipe right or toggle button)
- Go to Page 2

In Page 2:
- Open Menu 2 (using swipe right or toggle button)
- Close Menu 2  (using swipe right or toggle button)
- Go to Page 1

In Pa

[2020-03-05 15:41] DwieDima commented on #20697
I get following error message by npm:
[code]

[2020-03-05 15:50] liamdebeasi commented on #20700
Sorry, I mean `ion-split-pane`.  You can just use a `document.querySelector` or use Angular's `ViewChild` to select it.

[2020-03-05 16:08] liamdebeasi commented on #20697
Try this dev build: `5.1.0-dev.202003051551.531d9e4`.

[2020-03-05 16:36] liamdebeasi commented on #20696
Thanks for the follow up. Can you try the following dev build and let me know if it resolves the issue?

`npm i @ionic/angular@5.1.0-dev.202003051630.531d9e4`

[2020-03-05 16:52] liamdebeasi commented on #20688
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue? I am unable to reproduce the issue using the code snippets provided.

[2020-03-05 16:54] liamdebeasi commented on #20608
@indraraj26 Is the issue you are reporting only happening on the dev build provided, or is it happening on the latest stable version of Ionic too?

[2020-03-05 16:57] #20648 closed

[2020-03-05 16:57] liamdebeasi commented on #20648
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic/pull/20673 and will be available in an upcoming release of Ionic Framework.

The errors you are running into are unrelated to this issue, so I am going to move forward with merging this fix in.

[2020-03-05 17:01] SSuarezBrooktec commented on #20648
ok, then this issue is not fixed, right? why is closed?

[2020-03-05 17:02] liamdebeasi commented on #20648
No, I fixed the issue via https://github.com/ionic-team/ionic/pull/20673 and verified it was fixed.

[2020-03-05 17:02] SSuarezBrooktec commented on #20648
How i can test it?

[2020-03-05 17:03] liamdebeasi commented on #20648
Please see my comment here with instructions on how to test the fix: https://github.com/ionic-team/ionic/issues/20648#issuecomment-593548907

[2020-03-05 17:21] edy-ap commented on #20693
thanks , for your answer. That was the solution, I forgot to add the styles.
you do a very good job with ionic.

[2020-03-05 17:21] #20693 closed

[2020-03-05 17:22] KevinBassaDevelopment opened #20705 "bug: IE11 toolbar background color not changeable"
# Bug Report

**Ionic version:**
[x] **4.11.10**

**Current behavior:**

**Expected behavior:**
When changing the background color of the toolbar, its should also have this color in IE11.

**Steps to reproduce:**
Change the toolbar background color (as described in the documentation) by applying following code in your CSS.

**Related code:**
[code]
The toolbar color changes everywhere (android, ch

[2020-03-05 17:38] #20678 closed

[2020-03-05 17:39] liamdebeasi commented on #20678
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic/pull/20682 and will be available in an upcoming release of Ionic Framework.

[2020-03-05 18:06] indraraj26 commented on #20608
Hi @liamdebeasi ,

I have tested with your dev build what you have provided as you can see in ionic info for ionic framework version
Link: https://github.com/ionic-team/ionic/issues/20687

[2020-03-05 18:06] Aupourbau commented on #20701
I was finally able to fix the issue by using Lifecycle events and setting the menus status to disabled or not.
Repo is also updated with the fix

[2020-03-05 18:10] liamdebeasi commented on #20608
@indraraj26 I understand that, but what I am trying to understand is whether or not the issue you mentioned in https://github.com/ionic-team/ionic/issues/20608#issuecomment-594384519 occurs in the latest stable version of Ionic Framework. If it occurs in the latest stable version, then that means it is not directly related to the fix in the dev build.

The reason I ask is I would like to get [this

[2020-03-05 18:54] jakubnovak998 commented on #20532
I don't understand why you can't use value directive. Could you explain more ?

[2020-03-05 19:29] liamdebeasi commented on #20672
Thanks for the issue. I am going to close this as this is not a bug in Ionic Framework. While the `no-blur` attribute is undocumented, its functionality has not changed from v4 to v5. I was able to reproduce this same behavior in Ionic 4.

From what it looks like, the `iframe` inside of your component is what is receiving focus/blur. You will need to set `no-blur` on the iframe not the `editor` co

[2020-03-05 19:29] #20672 closed

[2020-03-05 19:37] liamdebeasi commented on #20657
@savs90 Does your app work in the latest version of Microsoft Edge (v80 I believe)? The Microsoft team switched over to using the Chromium engine for their browser, so the engine could actually be the main difference here.

[2020-03-05 20:20] liamdebeasi commented on #20650
Thanks for the issue. It does not look like this is currently possible with Angular Forms. Angular Forms does not emit anything when the pristine/touched states change, so Ionic Framework has no way of updating it programatically.

There is an open feature request for this on the Angular GitHub: https://github.com/angular/angular/issues/10887

Unfortunately, there is not really an ideal workaround

[2020-03-05 20:51] liamdebeasi commented on #20681
Thanks for the follow up. I need to dig into this more, but at first glance it does not look like this is possible. The `ion-menu` in your app is missing these styles: https://github.com/ionic-team/ionic/blob/master/core/src/components/split-pane/split-pane.scss#L56-L61.

The problem is that the `::slotted` pseudo-element only works on slotted top-level nodes. Since the top level node is your `wra

[2020-03-05 22:52] savs90 commented on #20657
I had Edge v44 installed. I installed v80 now and created a new project and the result is the same. I`m not sure if i have to do anything else except installing the new edge (some settings update) ?

[2020-03-06 04:01] Et3rnal commented on #20048
@simonhaenisch your fix works just fine. However, I would suggest we add
[code]
As I think we should always trigger the event unless we can do that from outside?
This would help with what you mentioned about taking care of not updating as currently the cancel event doesn't get triggered and I'm struggling to find a workaround this issue because of that.

when can we expect a fit to this? would you

[2020-03-06 05:43] indraraj26 commented on #20608
Okay i will wait for merge and will directly test on latest ionic version.

[2020-03-06 07:40] DwieDima commented on #20696
[code]

what am i doing wrong?

[2020-03-06 07:50] DwieDima commented on #20696
Now it's working perfectly!
Thank you @liamdebeasi for fast support.

[2020-03-06 07:50] #20696 closed

[2020-03-06 07:53] DwieDima commented on #20697
Works! Thanks a lot! 👍

[2020-03-06 07:53] #20697 closed

[2020-03-06 07:59] mariusbolik opened #20706 "bug: Swipeable iOS Modal not appearing in Firefox"
# Bug Report

**Ionic version:**

[x] **5.x**

**Current behavior:**

Only the Backdrop shows, but not the Modal.
<img src="https://i.imgur.com/y2s0NQF.gif" width="250px">

**Expected behavior:**

Modal should display like in Chrome.

**Steps to reproduce:**

I created this simple demo project: https://github.com/mariusbolik/ionic-5-swipeable-modal
Clone it, run `npm i` and open it in Firefox.

[2020-03-06 08:48] nickwinger commented on #20681
hmm, i copied the css-classes applied to the ion-menu when it is not wrapped to the wrapped ion-menu but it still not showing.
I guess there must be more into showing the menu but only css-classes (styles) ?
is it really only css classes handling the menu show/hide state ?

[2020-03-06 08:51] nickwinger commented on #20650
Actually you could workaround using a MutationObserver to check for css-class changes, like here:
https://dev.to/oleggromov/observing-style-changes---d4f

[2020-03-06 08:52] DwieDima commented on #20700
Yes, now also the ion-split-pane get affected. Thank you.
Following code was used:
[code]
But this was not the intention of my feature request.
Sorry for misleading feature title, i'll try to explain by pictures:

### Current behaviour using card style modal:
<img src="https://i.imgur.com/unlCIKf.png">

### Wanted behaviour using card style modal:
<img src="https://i.imgur.com/yV7uVD0.png">

[2020-03-06 08:52] florianchevallier opened #20707 "bug: [ionic-react] Route change trigger url change, but doesn't render"
# Bug Report

**Ionic version:**

[x] @ionic/react: "^5.0.4",
[x] @ionic/react-router: "^5.0.4"

**Current behavior:**
Despite changing the URL, the view doesn't rerender.
Another error is that I never go to `useIonViewDidEnter`. I have this in the Home page :

[code]

But the log never show up.

Here is a short video of the bug.

![Mar-06-2020 09-46-12](https://user-images.githubusercontent.com/4

[2020-03-06 09:40] linewei opened #20708 "bug: ReactiveForms valid cann"
# Bug Report

**Ionic version:**

[x] **4.x**
ReactiveForms valid can not work in development mode ,but it works well in prod mode.
**Current behavior:**

form.valid can not get it's value ,always return false.
**Expected behavior:**

return true when all input are valid.
**Steps to reproduce:**

use ReactiveForms , build default.

**Related code:**
[code]
[code]

[code]

**Other information:**

*

[2020-03-06 09:41] nickwinger commented on #20650
ok, as a workaround i created an angular attribute directive to sync the ionic classes.
You can use it by including my library SwissArmyKnife:
[NgSwissArmyKnife](https://github.com/nickwinger/ng-swiss-army-knife)
Then include the module `SwissArmyKnifeModule`
And put the attribute on your ion-select or ion-input: `<ion-input ngIonSync formControlName="name"></ion-input>`

[2020-03-06 10:02] florianchevallier commented on #20707
After doing some investigations, replacing the `IonRouterOutlet` with a `Switch` from `react-router-dom`, all seems to work.

[2020-03-06 10:26] TheLazyHatGuy commented on #20610
I have the same problem with two devices running android 8.1 and 6.
Using this line for dismissing makes no difference
[code]

[2020-03-06 10:38] osama-klabs opened #20709 "bug: ionic 5 change border color ion-segment"
# Bug Report

**Ionic version:**

[x] **5.x**

**Current behavior:**
Indicator color in mode android not changeable

**Expected behavior:**
Indicator color in mode android should be changeable
[code]
[code]

[2020-03-06 10:46] osama-klabs commented on #20709
solved
remove color="primary" in ion-segment

[2020-03-06 10:46] #20709 closed

[2020-03-06 11:55] NikolaPeevski commented on #20708
@linewei Can you provide a repo that consistently reproduces this error ?

[2020-03-06 13:42] TiagoG opened #20710 "bug: Unable to use ionic 5 + Bluetooth Serial + Capacitor to print on bluetooth printer"
Hi there,

I'm currently working on an app that requires some printing with bluetooth printers.
I setup everything as in the docs but when I try to test it on an ios device it logs the following message:
"
Error: Plugin MEGBluetoothSerial does not respond to method call discoverUnpaired:.
Ensure plugin method exists and uses @objc in its declaration
".
Versions:
- "@ionic/angular": "^5.0.0",
- "@i

[2020-03-06 13:58] NikolaPeevski commented on #20710
@TiagoG Can you follow the template and post the full output of ionic info ?

[2020-03-06 14:05] #20710 closed

[2020-03-06 14:23] brambati opened #20711 "bug: Error when using construct (private filePath: FilePath)"
Hello, when I use private filePath: FilePath in the constructor I have the following error. Thank you very much in advance

[code]

my page.ts

[code]

app.module.ts

[code]
ionic info

[code]

[2020-03-06 14:28] NikolaPeevski commented on #20711
@brambati The plugin's description says it's not actively maintained. Try this instead https://ionicframework.com/docs/enterprise/filesystem ?

[2020-03-06 14:31] brambati commented on #20711
Thanks, it's because you didn't say anything here
https://ionicframework.com/docs/native/file-path

[2020-03-06 14:38] visiongeist opened #20712 "bug: icons not showing"
# Bug Report

**Ionic version:**
[x] 5.0

**Current behavior:**
After migrating to Ionic 5, my icons are no longer loaded when using _ng serve_
(used with Angular)

**Expected behavior:**
Platform depending icons are shown (ios/md)

**Steps to reproduce:**
Add a tab button like this:
`<ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
</ion-tab-bu

[2020-03-06 14:42] brambati commented on #20711
help me

[code]

[2020-03-06 14:44] brambati commented on #20711
i use in cordova

[2020-03-06 14:50] NikolaPeevski commented on #20711
@brambati Try this one instead https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-file/ . I just nothiced the one I linked previously is a premium plugin

[2020-03-06 14:55] Gemeapp opened #20713 "Android HardwareBackButton closes app"
There has been a lot of bug reports about the HardwareBackButton, and once there was even a consolition issue: #16611 but it is locked so only collaborators can discuss it.

I have for some time been struggling to get  it to work in my app as required by the designer.

So I created a new app using latest version of ionic (and cordova)

Building and deploying the starter app with tabs on Android, a

[2020-03-06 14:55] brambati commented on #20711
thank you

[2020-03-06 14:59] liamdebeasi commented on #20713
Thanks for the issue. I have added this to the issue tracker in https://github.com/ionic-team/ionic/issues/16611. There is a PR that should solve a lot of these issues:  https://github.com/ionic-team/ionic/pull/20613

[2020-03-06 14:59] #20713 closed

[2020-03-06 15:00] liamdebeasi commented on #20712
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue?

[2020-03-06 15:01] #20711 closed

[2020-03-06 15:02] Gemeapp commented on #20713
By the way, I created a native cordova application, just to see if the problem was there. It is not a problem for a Cordova App, as the event always is fired.

I am trying to figure out, where it is happening in the code, so it was possible to create a hook into Ionic, but I haven't had any luck

[2020-03-06 15:02] liamdebeasi commented on #20706
Thanks for the issue. Can you try the following dev build and let me know if it resolves the issue?

`npm i @ionic/angular@5.1.0-dev.202003061445.314dbb1`

[2020-03-06 15:11] #20608 closed

[2020-03-06 15:11] liamdebeasi commented on #20608
Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic/pull/20683 and will be available in an upcoming release of Ionic Framework.

[2020-03-06 15:31] iamkinetic commented on #19324
Bug still exist with 5.0.x

[2020-03-06 15:32] liamdebeasi commented on #20700
Thanks for the clarification! I am going to change this to a bug since Ionic's card style modal does not follow the spec for iPad, but it should.

[2020-03-06 15:56] #20357 closed

[2020-03-06 15:56] #20339 closed

[2020-03-06 16:20] davvyy00 opened #20715 "Ionic 5, problem with dom.js in ionic/core"
Ionic:

   Ionic CLI                     : 6.2.0 (C:\Users\david.keane\AppData\Roaming\npm\node_modules\@ionic\cli)
   Ionic Framework               : @ionic/angular 5.0.4
   @angular-devkit/build-angular : 0.900.5
   @angular-devkit/schematics    : 9.0.5
   @angular/cli                  : 9.0.5
   @ionic/angular-toolkit        : 2.2.0

Cordova:

   Cordova CLI       : 9.0.0 (cordova-lib@9.0.1)

[2020-03-06 16:50] mariusbolik commented on #20706
Thank you Liam! Now the Modal appears in Firefox. But seems like the Backdrop is gone :(

[2020-03-06 16:58] mattsteve commented on #19868
Here's my proposal based on what my team needs:

## Height

When the height of the toggle is manipulated, it should automatically resize the handle's width and height. It should also automatically reposition the checked version of the handle to the right of the toggle.

![ionToggleHeightSm](https://user-images.githubusercontent.com/34715493/76103750-3792e000-5fa0-11ea-88a2-05c6faf84b56.png)

## Wi

[2020-03-06 17:03] liamdebeasi commented on #20715
Thanks for the issue. As of Ionic Framework v5, we dropped support for older versions of Microsoft Edge. Please see the browser support page for more information: https://ionicframework.com/docs/intro/browser-support

[2020-03-06 17:03] #20715 closed

[2020-03-06 17:17] 3zzy commented on #20033
My project would mainly be using the Swiper so I need to use v5, so just wondering if I could use Swiper 5 without using the slide component?

[2020-03-06 17:20] liamdebeasi commented on #20706
Can you try this dev build and let me know if it is fixed? `5.1.0-dev.202003061708.08b6eca`

[2020-03-06 17:52] mariusbolik commented on #20706
Really good work. The Backdrop is showing. Thank you very much!
There is on small thing that would make the Modal perfect: On the iPad the Header of the normal Modal doesn't fade out correctly. This occurs in all browsers.

<img src="https://i.imgur.com/Myn51Kd.gif">

[2020-03-06 18:17] jolugama commented on #20712
me too.
In mode develop it is working, that is to say, when i do ionic serve  but when i do ionic build --prod, that is the problem. not render svg inside ion-icon.  I check, and in ion-icon there is a div class icon-inner. inside must have the svg embedded but not, nothing svg, it is clean.

[2020-03-06 18:19] liamdebeasi commented on #20706
I fixed that yesterday 😄 https://github.com/ionic-team/ionic/pull/20702

Thanks for the issue. This has been resolved via https://github.com/ionic-team/ionic/pull/20714 and will be available in an upcoming release of Ionic Framework.

[2020-03-06 18:19] #20706 closed

[2020-03-06 18:21] liamdebeasi commented on #20687
Thanks for the issue. Can you provide some clarification regarding the performance issues you are seeing? I am testing your repo on an iPhone 5s on iOS 12.4 and do not see the behavior you are reporting.

[2020-03-07 04:55] indraraj26 commented on #20687
Hi @liamdebeasi  , Sometime i do not see parent page animation (border-animation transition) as you can see in video.

Reproduce Video: https://youtu.be/RMYudiq9Dlc?t=20

Lets wait for other to comment regarding this animation issue.

[2020-03-07 07:19] informatikTirol commented on #19589
No input focus scroll assist on iOS with IONIC 5.0.4 as well.
Here the source: https://www.dropbox.com/s/z9qzf9hd9vh36c2/tabs5.zip?dl=0
Here a short video: https://www.dropbox.com/s/x65yumd088vyunt/RPReplay_Final1583565207.MP4?dl=0

Expected behavior: touch input -> input gets focus -> scroll input above keyboard so it is visible

[2020-03-07 09:35] ali-master commented on #20297
When we can apply a custom browser history to the IonReactRouter component?

[2020-03-07 12:01] edocbuhtig opened #20716 "bug: HttpClientModule has not been processed correctly by ngcc, Http module failed to import in Ionic v5.0.4 with Angular Core v9.0.5"
# Bug Report

**Ionic version:**

[x] **5.x**

**Steps to reproduce:**

I am trying to import
[code]
 in app.module.ts and later in
[code]
and there is a bug
[code]

**Ionic info:**

[code]

[2020-03-07 17:06] jeanp117 commented on #19890
You have to use HTTPS and a valid SSL certificate

[2020-03-07 18:52] Incubbus opened #20717 "bug: [Ionic 5 & Capacitor] hardware back button not closing the app on Android..."
# Bug Report

**Ionic version:**

[x] **5.x**

**Current behavior:**
Hardware back button does not close the app.

**Expected behavior:**
Hardware back button should close the app, when back at the first page & no overlays are open (e.g. modals).

**Steps to reproduce:**
[code]

**Other information:**

It is super frustrating that a bug like this still exists. Why bother releasing new version of i

[2020-03-07 18:56] NikolaPeevski commented on #20716
@edocbuhtig Can you provide a repo ?

[2020-03-07 18:57] NikolaPeevski commented on #20717
Duplicate of https://github.com/ionic-team/ionic/issues/16611

[2020-03-07 20:12] #20717 closed

[2020-03-08 06:43] edocbuhtig commented on #20716
@NikolaPeevski - Please review similar unresolved issue https://github.com/angular/angular/issues/35747

[2020-03-08 10:01] skmohammadi commented on #20106
@ebk46, Hi Evan. It seems there is not any good document or sample code for Ionic-React. Can you guide me, please?

[2020-03-08 11:36] skmohammadi opened #20718 "bug: IonInput fires onIonInput when value is change outside of IonInput"
Same as https://github.com/ionic-team/ionic/issues/20106

[2020-03-08 11:38] sruthakeerthikotla commented on #19297
Can this please be merged soon? It would help us implement a feature that we are using right now.

[2020-03-08 11:39] skmohammadi commented on #20106
Same problem exist  about **onIonInput** event

[2020-03-08 11:40] #17669 closed

[2020-03-08 16:49] skmohammadi commented on #20353
This worked for me. thank you @joselevelsup

[2020-03-08 22:12] DmitryEfimenko commented on #18823
any progress on this issue?

[2020-03-09 00:05] ahmadtawakol commented on #20614
As a workaround that works nicely for now: add an empty `<ion-toolbar></ion-toolbar>` at the end of your content.

[2020-03-09 01:33] NikolaPeevski commented on #20716
@edocbuhtig So that's not an explicit  **ionic** bug, it's just an issue with angular ? This means this is closable.

[2020-03-09 07:16] weyuan989 opened #20719 "bug: Cannot run CSS Keyframes animation on safari 13"
# Bug Report

**Ionic version:**
[x] **4.x**

**Current behavior:**
Keyframes animation is able to perform normally on any browser and android phones, but not in ios and safari 13.

**Expected behavior:**
Should be able to run keyframes animation on ios and safari 13 as well.

**Steps to reproduce:**
Create any ionic test project and copy paste the given related code.

**Related code:**

[code]

[

[2020-03-09 07:39] BorntraegerMarc opened #20720 "bug: Failed to execute 'construct' on 'CustomElementConstructor'"
# Bug Report

**Ionic version:**

[x] **4.11.10**

**Current behavior:**

I'm experiencing an exception when using [local notifications](https://github.com/katzer/cordova-plugin-local-notifications) in an ionic native application. The exception only happens _sometimes_ and I was not able to come up with exact reproduction steps. I wanted to open this bug because maybe someone can help me to point

[2020-03-09 07:43] BorntraegerMarc commented on #20720
Link to https://github.com/ionic-team/ionic/issues/17411

[2020-03-09 07:56] BorntraegerMarc opened #20721 "bug: IonNav.canGoBack() sometimes throws exception: "Cannot read property 'apply' of undefined""
# Bug Report

**Ionic version:**

[x] **4.11.10**

**Current behavior:**

I'm experiencing an exception when using [local notifications](https://github.com/katzer/cordova-plugin-local-notifications) in an ionic native application. The exception only happens _sometimes_ and I was not able to come up with exact reproduction steps. I wanted to open this bug because maybe someone can help me to point

[2020-03-09 08:14] lorenzodallavecchia opened #20722 "bug: Selecting undefined in ion-select causes its value to become a string"
# Bug Report

**Ionic version:**

[x] **5.0.4**

**Current behavior:**

When the selected value is `undefined`, the underlying value becomes equal to the *label* of the selected option (a string!)

**Expected behavior:**

The value of the field should be `undefined`.

**Steps to reproduce:**

1. Visit the attached StackBlitz repro.
2. Select *Undefined option* in the Ionic select.

Note how the un

[2020-03-09 08:19] lorenzodallavecchia opened #20723 "bug: ion-select shows the labels of selected nullish option"
# Bug Report

**Ionic version:**

[x] **5.0.4**

**Current behavior:**

When the underlying value of a `ion-select` is `null` or `undefined`, it shows only the placeholder. However, when an option having such a value is selected manually, its label is shown.

**Expected behavior:**

The select box should never show the label of `null` or `undefined` options, even when they are selected manually. T

[2020-03-09 08:54] michael-roewin commented on #19381
I'm also experiencing the same behavior. Is there a solution for this?

[2020-03-09 09:49] piorot commented on #16630
What is a Real status of #18679. It looks it is closed. However on issue specific site it seems to closed only as it was listed here. I believe it is not truly closed.

[2020-03-09 10:16] Yohandah opened #20724 "feat: Scrollable ion-datetime"
# Feature Request

**Ionic version:**
[x] **5.x**

**Describe the Feature Request**
As a Ionic app is also deployable to desktop the ion-datetime component isn't really ergonomic when used with a mouse (on desktop, and mouse support on tablet), it would be really nice for it to be scrollable, currently we have to "swipe" but with the mouse.

**Describe Preferred Solution**
Make ion-datetime scroll

[2020-03-09 11:22] roman-rr commented on #20686
@tetkosimi I catch similar issue. No clear solution, but solved with timeout:
[code]

[2020-03-09 11:46] ctfrancia commented on #20532
because `value` directive sets a value. Which in a form is not the desired outcome.
birthdate is an option field in registration.
`<ion-datetime value="01-01-2020" formControlName="birthdate"></ion-datetime>`
then:
[code]
so as you can see I am submitting an optional value and therefor have to have an `if` statement incorporated to check if the value is set to the default and then handle it accord

[2020-03-09 12:42] kalu06 commented on #16504
Any progress on your side?

[2020-03-09 13:13] liamdebeasi commented on #20687
Thanks for the follow up. I understand the issue regarding the animation; however, I am unable to reproduce the issue. Can you double check the repo you have provided to ensure that it reproduces the issue?

[2020-03-09 13:14] liamdebeasi commented on #20719
Thanks for the issue. Ionic Framework does not alter your CSS Animations (unless you are using Ionic Animations). Can you provide a repo with the code required to reproduce this issue?

[2020-03-09 13:15] liamdebeasi commented on #20724
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic/issues/15505.

[2020-03-09 13:15] #20724 closed

[2020-03-09 13:21] liamdebeasi commented on #20716
Thanks for the issue. I am going to close this as this does not appear to be a bug in Ionic Framework. If you have determined that this is a bug in the framework, please provide a repo that reproduces the issue. Thanks!

[2020-03-09 13:21] #20716 closed

[2020-03-09 13:22] liamdebeasi commented on #20718
Thanks for the issue. I am going to close this as a duplicate of https://github.com/ionic-team/ionic/issues/20106.

[2020-03-09 13:22] #20718 closed

[2020-03-09 13:41] liamdebeasi commented on #20720
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue? I realize the issue states this only happens certain times, but without a code reproduction/steps to reproduce I am not sure I can be much help.

[2020-03-09 13:41] liamdebeasi commented on #20721
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue? I realize the issue states this only happens certain times, but without a code reproduction/steps to reproduce I am not sure I can be much help.

[2020-03-09 14:08] mhartington commented on #15041
So, this took longer than expected! Thank you all for waiting, here are our updates.

https://ionicframework.com/blog/ssr-with-angular-universal-and-ionic/

Please test this out and open a new issue if there are any problems.

[2020-03-09 14:08] #15041 closed

[2020-03-09 14:44] liamdebeasi commented on #20705
Thanks for the issue. I am going to close this as we recently released Ionic Framework v5 which dropped support for IE11 and older versions of Edge. Moving forward, Ionic Framework v4 will only receive critical security patches.

[2020-03-09 14:44] #20705 closed

[2020-03-09 14:46] OoDeLally commented on #20597
Hi, any news of this?
I've tried to investigate checking the source code, but it seems beyond my level of understanding.

[2020-03-09 14:54] liamdebeasi commented on #20657
The installation of Microsoft Edge that you have on your computer is not related to the engine that your UWP apps run.

It looks like UWP apps are stuck on EdgeHTML for now, but Microsoft has plans to support an updated webview powered by Chromium-based Edge: https://blogs.windows.com/msedgedev/2019/06/18/building-hybrid-applications-with-the-webview2-developer-preview/

I am going to close this a

[2020-03-09 14:54] #20657 closed

[2020-03-09 15:26] FangerZero commented on #20160
@liamdebeasi so what you're saying is update to v5, and ionic react should work on edge? I'm on v4 currently, and had no idea that specifically ionic+react didn't work on MS products.

[2020-03-09 15:27] liamdebeasi commented on #20160
Ionic Framework v4 works with IE11 and all versions of Microsoft Edge. Ionic Framework v5 dropped support for IE11 and versions of Microsoft Edge older than v79.

For more information, please see our [Browser Support Documentation](https://ionicframework.com/docs/intro/browser-support).

[2020-03-09 15:34] DavidStrausz opened #20725 "bug: large header causes type error / race condition"
# Bug Report

**Ionic version:**

[x] **4.x**

**Current behavior:**
Sometimes when navigating/scrolling between various pages relatively fast I see an error in console:

`TypeError: undefined is not an object (evaluating 'this.collapsibleMainHeader.classList')`

**Expected behavior:**
No error is thrown, large header also works in rare situations where `this.collapsibleMainHeader` may be `undefin

[2020-03-09 15:37] svoelz opened #20726 "bug: ion-button - overflow is overriden with hidden"
I tried to set the --overflow to visible and it doesn't work in Ionic 5.

I checked the https://github.com/ionic-team/ionic/blob/master/core/src/components/button/button.scss
and the overflow is override with hidden at line 187.
The value --overflow (which was set on line 185) does not work anymore.

[2020-03-09 15:52] liamdebeasi commented on #20725
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue or some steps to reproduce?

[2020-03-09 16:03] DavidStrausz commented on #20725
@liamdebeasi  Give me a few minutes, but I doubt that it will be of much use as it only occurs rarely and it does not really matter which application it is, it just has to use large headers.

The problem is if the user navigates fast `this.collapsibleMainHeader` may already be `undefined` again, this happens here:

https://github.com/ionic-team/ionic/blob/215d55f1ebeb93988b513c5869faae14d1d51919/c

[2020-03-09 17:02] RafaelKr opened #20727 "bug: ion-toast wrong wrapping when using <b> inside"
# Bug Report

**Ionic version:**

[x] **4.x**
[x] <b>probably</b> also 5.x

**Current behavior:**
I'm using an ion-toast. I'm using `<b>` tags in my toast message. The `white-space: pre-wrap` makes the toast wrapping behave wrong when the text wraps directly after the closing `</b>`.

As you can see the next line is indented by one space:
![image](https://user-images.githubusercontent.com/14234815

[2020-03-09 17:10] DavidStrausz commented on #20725
@liamdebeasi You can find an example application [here](https://github.com/DavidStrausz/large-header-type-error.git).

I also added a gif that show how I was able to reproduce the issue (towards the end you can see how suddenly both, main and large title, are visible on the page with the large title and then the main title of the tab page is entirely gone):

![ezgif com-video-to-gif-2](https://use

[2020-03-09 18:47] artfurma commented on #20707
I'm experiencing a similar issue when redirecting from a private path. The redirection happens, but the page is completely blank. What's interesting is that even though the page is blank, under inspect I can see all the DOM elements being present in the tree.

as @florianchevallier mentioned, using a ``Switch`` instead of ``IonRouterOutlet`` seems to have solved the issue - the navigation animatio

[2020-03-09 18:59] liamdebeasi commented on #20725
Thanks for the follow up. Can you try the following dev build and let me know if it resolves the issue?

`npm i @ionic/angular@5.1.0-dev.202003091857.145e2ab`

[2020-03-09 19:11] liamdebeasi commented on #20727
Thanks for the issue! I can confirm that this should be `pre-line`. I have created a PR for this fix; however, Ionic Framework v4 is only receiving critical security fixes, so this fix will be available in Ionic Framework v5.

[2020-03-09 19:21] DavidStrausz commented on #20725
@liamdebeasi I will, first thing tomorrow when I‘m back at the office! Thanks for the quick fix, I think it‘ll do the trick :)

[2020-03-09 19:21] simonhaenisch commented on #17087
@brandyscarney not sure you've seen it, I've opened a PR for it ☝️

[2020-03-09 19:52] simonhaenisch commented on #20692
Can confirm this, happens in our app as well. The segment already has horizontal scroll, so each segment-button should take as much space as it needs (at least that's how it behaved before).

[2020-03-09 20:08] MInesGomes commented on #20688
Thank you @liamdebeasi,

I set an example here: [ionic-v4-angular-tabs-8ndlwr](https://stackblitz.com/edit/ionic-v4-angular-tabs-8ndlwr?file=src%2Fapp%2Ftab1%2Ftab1.page.html)

[2020-03-09 22:16] shiaoshin opened #20743 "bug: display classes behave incorrectly in 1px gap"
**Describe the bug**
Current implementation of the display classes removed the 1px gap between hide-up/hide-down classes, which results in display: none on elements using either classes at each breakpoints.

**To reproduce**
For example, if I have 2 elements I want to switch on size=md. I'll assign ion-hide-md-down on one and ion-hide-md-up on another. And the media query will cause both elements

[2020-03-10 03:24] ImTung opened #20730 "bug: iOS Navigate Cannot set property 'innerText' of null"
# Bug Report

**Ionic version:**

[x] **5.x**

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

- router.navigate to child page (module)
- got this error:

[code]
- But when I reload the page, error is disappear

**Other information:**

**Ionic info:**

[code]

[2020-03-10 05:54] NikolaPeevski commented on #20730
@ImTung Can you provide a repo for reproduction ?

[2020-03-10 08:08] graphefruit opened #20731 "feat: IonReorder - Add custom index (order: X)"
# Feature Request
Add the possibility for the coder to use ion-reorder as custom - ui possibility.

**Ionic version:**
[x] **4.x**

**Describe the Feature Request**
The IonReorder feature actualy supports to drag & drop elements and fires the new index.
It needs to be stored somewhere and the array needs to be sorted for this new indexes.

**Describe Preferred Solution**
The problem is, that if yo

[2020-03-10 09:31] BorntraegerMarc commented on #20721
Thanks for your answer @liamdebeasi

Understood. So this confirms my suspicion that this is not a "straightforward" issue. Even for ionic experts :)

Please give us time until end of the week to come up with a simple repo with reproduction steps.

[2020-03-10 09:31] BorntraegerMarc commented on #20720
Thanks for your answer @liamdebeasi

Understood. So this confirms my suspicion that this is not a "straightforward" issue. Even for ionic experts :)

Please give us time until end of the week to come up with a simple repo with reproduction steps.

[2020-03-10 10:48] ashrafSeven commented on #16829
I get error as
Module not found: Error: Can't resolve '@stencil/core'

[2020-03-10 11:06] bimarc opened #20732 "bug: IonSlides call ionSlidesDidLoad twice"
In my ionic-angular project i have a bug with "ion-slides",
i have an "ion-slides" inside a component that is loaded dynamically by angular router.
First time that the page and component are loaded, "ion-slides" calls "ionSlidesDidLoad" once.
When i change route and then i return to "ion-slides" route, after "ngOnInit", "ionSlidesDidLoad" is called twice, if i repeat the route change this event is

[2020-03-10 12:08] Testalus commented on #20356
I can also confirm this problem :) . Hopefully there will be a fix soon 🙏

[2020-03-10 12:49] ctfrancia opened #20733 "bug: ios cannot connect to server after building to device, livereload works fine"
# Bug Report

**Ionic version:**

[x] **4.x**

**Current behavior:**

after building to ios, cannot connect to server with error: `[Error] Failed to load resource: A server with the specified hostname could not be found. (socket.io, line 0)`

**Expected behavior:**

connect to server

**Steps to reproduce:**

`$ ionic cordova prepare ios`
`$ ionic cordova run ios --device`

**Related code:**

[cod

[2020-03-10 13:09] liamdebeasi commented on #20732
Thanks for the issue. Can you provide a repo with the code required to reproduce this issue?

[2020-03-10 13:11] liamdebeasi commented on #20733
Thanks for the issue. I am going to close this as this is not a bug in Ionic Framework. The framework does not manage deploying your app to devices.

[2020-03-10 13:11] #20733 closed

[2020-03-10 13:34] liamdebeasi commented on #20688
Thanks for the follow up. What device are you testing this on? I am unable to reproduce this on a Samsung Galaxy S6 running Android 7.

[2020-03-10 13:37] liamdebeasi commented on #20731
Thanks for the issue. Can you provide more details regarding this feature? A use case would be very helpful here.

[2020-03-10 13:53] liamdebeasi commented on #19297
Thanks for the feature request! I discussed this request with the team, and we think that this can already be accomplished by using the environment configurations that various frameworks provide.

For example, Angular provides great build-specific configuration options for your projects: https://angular.io/guide/build. Using this, you could create a config that is only used when running in liverel

[2020-03-10 13:53] #19297 closed

[2020-03-10 14:00] bimarc commented on #20732
No I can't..
i can give you an example here.

- app-routing.module.ts
[code]
- app.module.ts
[code]
- app.component.ts
[code]
- app.component.html
[code]
- signup.component.html
[code]
- signup.component.ts
[code]

tell me if it's enough.

To reproduce this issue you must go or start in "signup" route, the swipes is locked.
If you go back to with the button of signup component and return to signup

[2020-03-10 14:02] bimarc commented on #20732
From the second time the "slidesIsLoaded" function is called twice

[2020-03-10 14:03] graphefruit commented on #20731
Sure, my use case:
I wrote an app for coffee enthusiasts.
This app provides the possibility to track all kinds of parameters like brewing temperature, the coffee bean which is brewed, with which equipment etc.

Each user has a different workflow, some uses portafilters, some users hand brewers and therefore they need to change the worfklow (the sequence of their steps)
Some need to boil water firs

[2020-03-10 14:08] pablomaurer commented on #20656
OK, somebody in out team included the npm package `document-register-element` which conflicted with 5.0.4.
We got rid of it and now it works again, sorry for blaming you 😚

[2020-03-10 14:08] #20656 closed

[2020-03-10 14:10] liamdebeasi commented on #20732
Thanks for the follow up. I am going to close this as a duplicate of https://github.com/ionic-team/ionic/issues/20356.

[2020-03-10 14:10] #20732 closed

[2020-03-10 14:22] bimarc commented on #20732
Tks a lot!!

[2020-03-10 14:27] bimarc commented on #20732
Adding ngIf to ion-slides and set it to true on "ngAfterViewInit" function, it works!!

In the future release this "bug" will be solved or this workaround is the only way?

[2020-03-10 14:28] DavidStrausz commented on #20725
@liamdebeasi As expected the exception is gone now and the app stays useable. _But_ the symptom of reading/writing something async still shows i.e. sometimes both headers a visible, or if a page has no collapsible header the main header stays hidden. Especially in a larger app where the queue may be larger this shows more often.
But I'm not quite sure if this is something that can be resolved easi

[2020-03-10 14:34] MInesGomes commented on #20688
@liamdebeasi
I am really sorry for bothering.
This code is also working on my samsung 9.
Maybe is something else.

[2020-03-10 14:34] #20688 closed

[2020-03-10 14:52] liamdebeasi commented on #20725
Thanks for the follow up. Can you give this dev build a try? `5.1.0-dev.202003101448.145e2ab`

[2020-03-10 15:06] brandyscarney opened #20735 "bug: content is not getting proper offset-top on load"
# Bug Report

**Ionic version:**

[x] **5.x**

**Current behavior:**

On initial load of a page in a Stencil app, the content offset-top is not being set properly which is causing bugs with the swipe to close modal & theming. After navigating around and back to the page, it is set properly. You can reproduce it on this PR: https://github.com/ionic-team/ionic-stencil-conference-app/pull/391

1) Ope

[2020-03-10 15:20] brandyscarney commented on #20353
@elylucas Can you weigh in on the React side of things?

[2020-03-10 15:30] liamdebeasi commented on #20735
Possibly related to https://github.com/ionic-team/ionic/issues/20614

[2020-03-10 15:40] DavidStrausz commented on #20725
@liamdebeasi Hm I'm still able to produce the inconsistent state where the main header has the `header-collapse-condense-inactive` class although it shouldn't have.

This is how the DOM of the header looks like right after it breaks (Tab 1 page of the example repo with the new dev build):
[code]

And this is how the page looks like:

![image6](https://user-images.githubusercontent.com/7592254/7632

[2020-03-10 15:42] liamdebeasi commented on #20725
Hmm ok. What device are you testing this on? I'm actually unable to reproduce the issue, but the issue itself makes sense.

[2020-03-10 15:44] DavidStrausz commented on #20725
@liamdebeasi On an iPhone 11 Pro

[2020-03-10 15:46] DavidStrausz commented on #20725
Also it's not that much of a big deal as you have to navigate _really_ fast to break the UI, the important thing is that the exception is gone and the app keeps working IMHO.

[2020-03-10 15:47] liamdebeasi commented on #20725
Hmm that's strange. I'll merge in the change that keeps the app working, but will dig into the other visual glitch some more.

[2020-03-10 15:47] DavidStrausz commented on #20725
Thank you very much Liam, your help is much appreciated! :)

[2020-03-10 15:48] brandyscarney commented on #20726
Thanks for the issue! Could you provide all of the CSS you are applying or the design you're going for?

I can remove the extra `overflow: hidden` that was added. This was due to the changes for the button states in v5: https://github.com/ionic-team/ionic/blob/master/BREAKING.md#activated-focused-hover-states

However, setting this to `"visible"` will break the ripple effect and hover/focused stat

[2020-03-10 16:04] Yohandah opened #20739 "feat: Attribute to disable validation underline on an input with ngModel validation and custom css property"
# Feature Request

**Ionic version:**
[x] **5.x**

**Describe the Feature Request**
In Ionic Angular, when you add a `<ion-input>` with the attribute `[(ngModel)]` it enables the validation underline. It causes the `bottom border color` of the input to change from `primary` (blue)  to `success` (green).

I would like an attribute on `<ion-input>` like `disableValidation` to get rid of the bottom b

[2020-03-10 16:10] liamdebeasi commented on #20739
Thanks for the issue. I am going to close this as this is already possible in Ionic Framework. In order to get this validation underline, your input needs to be inside of an `ion-item`. You can use the `--highlight-height` variable to disable the underline. You can also use the other highlight variables to change the border color.

Please see the docs for more information: https://ionicframework.c

[2020-03-10 16:10] #20739 closed

[2020-03-10 18:24] adamusgr opened #20740 "bug: ionic link dont recognise email with type xxxx.xxxx@xxxx.com"
# Bug Report

**Ionic version:**

[x] **4.x**

**Current behavior:**

ionic link dont recognise email with type xxxx.xxxx@xxxx.com

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

**Other information:**

**Ionic info:**

[code]

[2020-03-10 18:51] #20740 closed

[2020-03-10 20:07] joelmeaders opened #20741 "bug: ion-radio theme does not work with custom color variable v5"
# Bug Report

**Ionic version:**

[x] **5.0.4**

**Current behavior:**
Setting the colors of most ionic elements using custom colors works, however it does not work on radio buttons.

**Expected behavior:**
When selected, expect the outer circle outline to be purple and the inner filled circle to be purple.

**Steps to reproduce:**
Use the sample code

**Related code:**
Partial variables.css
[code

[2020-03-10 20:15] liamdebeasi commented on #19589
Thanks for the issue. Can everyone try the following dev build and let me know if it resolves the issue?

Ionic Angular:
`npm i @ionic/angular@5.1.0-dev.202003102009.f796074`

Ionic React:
`npm i @ionic/react@5.1.0-dev.202003102009.f796074`

If the dev build **does not** resolve the issue, please include a repo with the code required to reproduce the issue. Thanks!

[2020-03-10 21:54] tkem commented on #18570
This issue still exists with Ionic 5!

[2020-03-11 01:14] weyuan989 commented on #20719
Hi. Thanks for the reply. Here is the link of the repo.
https://github.com/weyuan989/waveanimation

Page of performing the animation is testing.page.html & testing.page.css

[2020-03-11 01:23] weyuan989 commented on #20719
I just found out the issue. Apparently the linear gradient is not supported in ios and safari. Here is the fix.

`<div class="fill">
  <svg width="200%" height="100%" viewBox="0 0 240 140" version="1.1">
    <defs>
      <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
        <stop offset="0%"></stop>
        <stop offset="50%"></stop>
      </linearGradient>
    </defs>

[2020-03-11 01:23] #20719 closed

[2020-03-11 04:36] jcarignan commented on #20219
Any updates with this? @elylucas
The bug is also present in the Ionic Conference React App demo by editing two lines:

**src/components/Menu.tsx:65**
remove `routerDirection="none"` on the _IonItem_

**src/pages/MainTabs.tsx:18**
add `mode="ios"` on the _IonRouterOulet_

What I find really confusing is how the docs says :

[2020-03-11 04:59] informatikTirol commented on #19589
@liamdebeasi: glad that you work on that issue, thank you.

I have tried your dev build, does not work.

Here the source: https://www.dropbox.com/s/xdk4ohacqsx7z5i/tabs5IonicDev510.zip?dl=0
Testscreen with many inputs is Tab 1.

[2020-03-11 09:37] merlinchen opened #20744 "bug: ion-padding-start will give 16px padding on left side, but ion-item use 20px."
# Bug Report

**Ionic version:**
[x] **5.x**

**Current behavior:**
On iOS, `ion-padding-start` will give 16px padding on left side, but ion-item use 20px.

**Expected behavior:**
`ion-padding-start` should also use 20px.

**Related code:**
[code]

**Other information:**

**Ionic info:**

[code]

[2020-03-11 10:44] jan-nick opened #20745 "bug: Ionic 5 Mapbox bug when zooming or swiping through map"
Problem: When swiping through the map and/or quickly zooming out at the same time, the app crashes. The app is built with Ionic 5/Angular and the map comes from mapboxgl. This happens to the installed App on both Android and iOS, but not when debugging in the browser. When debugging with XCode on my device (iPhone 8, iOS 13.3.1) I could not find an error message (other than: **[Process] kill() ret