[2016-06-10 18:49] droiddavid opened #6851 "bug: CORS"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>1.x</span>

**Platform**: <span ionic-platform>desktop</span>  <span ionic-webview>browser</span>
<span ionic-description>from ionic info...
Cordova CLI: 6.1.1
Gulp version:  CLI version 3.9.1
Gulp local:
Ionic Framework Version: 1.3.1
Ionic CLI Version: 1.7.15
Ionic App Lib Version: 0.7.2
OS: Windows 8.1
Node Version: v

[2016-06-10 18:53] brandyscarney commented on #6558
Thanks for the issue! This was actually added with this issue: https://github.com/driftyco/ionic/issues/5993

This comment explains how to use it: https://github.com/driftyco/ionic/issues/5993#issuecomment-224979797

[2016-06-10 18:53] #6558 closed

[2016-06-10 19:01] adamdbradley commented on #6847
I think we can keep our structure the same for the time being, but agreed we can update the formatting to follow the styleguide, such as `import { Component }`. Are there any other ones we need to update?

[2016-06-10 19:09] danbucholtz commented on #6851
Hi @droiddavid 😄 ,

Thanks for submitting an issue to Ionic.  It sounds like the issue you're experiencing is on your server.  It doesn't seem like an issue with the framework itself.  My recommendation is to make sure you're setting the CORS header if that is what the server is expecting.

A good place to ask for help troubleshooting issues would be the [Ionic community forum](https://forum.ionic

[2016-06-10 19:09] #6851 closed

[2016-06-10 19:17] xr0master commented on #6040
@brandyscarney Very cool! Can you implement it for ion-select too, please? And can you append ability to change the line color? It'll be amazing.

BTW iOS hasn't this validation syntax (bottom line); It will be fixed? Or iOS hasn't validation style?

About the another issue (https://github.com/driftyco/ionic/issues/5052). I think no special about it, any container with ngSwitch directive. Somethin

[2016-06-10 19:17] vacarsu opened #6852 "Alert and select css not quite right?"
The css of the alert and select field don't seem to be displaying quite right. I'm using ionic in meteor, and perhaps I'm missing an scss import somewhere.
![screen shot 2016-06-10 at 12 10 20 pm](https://cloud.githubusercontent.com/assets/11384972/15975952/fa98c8c4-2f04-11e6-81a2-d96d7f5479e3.png)

Is there something other than ionic.scss I must import?

``` client/theme/app.variables.scss ```
[c

[2016-06-10 19:33] xr0master commented on #6849
I think if you add examples from the forum topic in the API item documentation, it will be enough. IMO

[2016-06-10 19:37] brandyscarney commented on #6040
Yes, I'll be working on adding it to the select next. :smile:

I'm not sure about adding validation style to iOS, it's something that needs to be discussed.

I agree with the ngMessages directive. There has actually been an issue created with that in mind here: https://github.com/driftyco/ionic/issues/6785

[2016-06-10 19:42] mlqmarkos12 opened #6853 "Value of type 'typeof App' is not callable."
#### Description of the problem:
TypeScript error: app/app.ts(8,2): Error TS2348: Value of type 'typeof App' is not callable. Did you mean to include 'new'?

I updated from beta 7 to beta 8 because I wanted to use popovers.

After that I got this error with ionic serve, and the app doesn't start.

It seems like it's a bug with @App decorator.

**Which Ionic Version?**
2.0.0-beta.8

**Run `ionic in

[2016-06-10 19:53] Luchillo commented on #6844
Fix is as easy as this, however idk nor have enough time to make a pull:

[code]

[2016-06-10 20:41] brandyscarney commented on #6853
Please read through the steps to upgrade to beta 8. The `@App` decorator was removed and `IonicApp` was renamed to `App`:

https://github.com/driftyco/ionic/blob/2.0/CHANGELOG.md#steps-to-upgrade-to-beta-8

Thanks! :smile:

[2016-06-10 20:41] #6853 closed

[2016-06-10 20:47] iignatov commented on #6836
@jgw96, thanks for the tip! Here's a sample snippet for reference. I haven't tested it but it should work:
[code]

[2016-06-10 20:54] adamdbradley opened #6854 "Generated NPM's package.json peer dependencies from root package.json"
Build generated NPM's package.json peer dependencies from the root package.json, instead of dynamically inserting version number: https://github.com/driftyco/ionic/blob/2.0/scripts/npm/package.json#L27

https://github.com/driftyco/ionic/blob/2.0/package.json#L23

In the near future not all packages will share the same version, so the most accurate info would be in the root package.json

[2016-06-10 21:00] Bouzmine commented on #6702
I do think it's a great workaround but it's by no mean a replacement for a proper `onWillDismiss` method.

[2016-06-10 21:02] mpaland commented on #6054
+1
Seeing the same issue on Moto G2 Android 6.0 device. Tried different things (see my [forum post](https://forum.ionicframework.com/t/android-virtual-keyboard-problems-any-best-practices/54482?u=mpaland)) but no luck.
Virtual keyboard seems a bugging issue on both ios and Android.

[2016-06-10 21:02] Ionitron commented on #6054
Greetings @dheran!

My sensors indicate a reply was requested, but as we have not received one yet, I am using my robot powers to close this issue. However, if you are still experiencing this issue, please feel free to reopen it by creating a new issue, and include any examples or necessary information.

Thank you for allowing me to assist you.

[2016-06-10 21:02] Ionitron commented on #6054
Greetings @dheran!

My sensors indicate a reply was requested, but as we have not received one yet, I am using my robot powers to close this issue. However, if you are still experiencing this issue, please feel free to reopen it by creating a new issue, and include any examples or necessary information.

Thank you for allowing me to assist you.

[2016-06-10 21:12] jgw96 commented on #5039
Hello @brightpixels it is not included yet, but we do have it marked for beta.9 so you can expect it sometime soon unless something changes ( which does happen (: ) Thanks for using Ionic!

[2016-06-10 21:17] jgw96 commented on #6842
Hey @Luchillo ! Would you mind opening a separate issue for that bug please? Thanks!

[2016-06-10 21:31] jgw96 commented on #6844
Hello. So after talking to @brandyscarney about this , this is actually correct behavior. [Here](http://ionicframework.com/docs/v2/api/components/toolbar/Toolbar/#buttons-in-a-toolbar) is a link to the docs on this.

[2016-06-10 21:31] #6844 closed

[2016-06-10 21:37] iignatov opened #6855 "[feat] Allow for customizing the alert's dismissal"
#### Short description of the problem:
Currently it's not possible to configure Alert's dismissal although it's supported by the `ViewController`.

#### What behavior are you expecting?
To be able to pass [`NavOptions`](http://ionicframework.com/docs/v2/api/components/nav/NavController/#navoptions) to [`Alert.dimiss()`](https://github.com/driftyco/ionic/blob/v2.0.0-beta.8/src/components/alert/aler

[2016-06-10 22:06] Luchillo commented on #6842
Ok

[2016-06-10 22:07] Luchillo opened #6856 "bug: [Bug] Modals navbar menu icon hidden"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>If we use the `ion-navbar` in a modal the menu icon is hidden, in my app the modal is a child page so it should show a back arrow.</span>

<span is-issue-template></span>

[2016-06-10 22:09] dpsoft commented on #6799
currently exists a workaround to do this without user interaction?

[2016-06-10 22:14] Luchillo commented on #6844
Really? I know it's how material design works but since i'm using the toolbar to replace the modals navbar until fixed, i need to put it to the left to be consistent in the navigation with arrow back icon.

I was expecting that `start` property would stick it to the left of content, guess i'll stick with this hack until the navbar in modals get fixed.

[2016-06-10 22:25] droiddavid commented on #6851
Again, I have set everything on the server, repeatedly and I do not have this issue when I am not using ionic.  I have perused and searched the forums and tried each of the solutions offered to no satisfaction.  At this point, the only issue is ionic.  If I put ionic away and go back to raw angular, my application works.  In other words, the forums have been no help what-so-ever.  Is there ANYTHIN

[2016-06-10 22:27] brandyscarney commented on #6844
[code]

`start` places it to the left of the title in `ios` and to the right of the title in `md` and `wp` mode. If you'd like a button to always be on the left, regardless of the mode, use the `left` property instead. The plunker isn't working for me, but I am seeing these attributes working properly.

[2016-06-10 22:59] iignatov commented on #6702
I agree, I mentioned the workaround in case that you want to solve your problem until it's implemented.

[2016-06-10 23:00] MattDHill opened #6857 "strange flashing under [at least] two distinct circumstances"
#### Short description of the problem:

**This is new behavior since the update to beta8.**

1. Screen "flashes" just prior to pushing to another view. This happens if and only if (1) selecting from a list element in the current component that exceeds the viewable screen area (thus enabling scroll content), **and** (2) the target component depends on multiple providers that have dependencies of th

[2016-06-11 01:38] ihadeed opened #6858 "Opening a modal from an action sheet is broken"
Title says it all.

I'm able to resolve this issue by adding `return false;` to the handler, but that's inconvenient for the user since they would have to close down that action sheet manually every time.

Opening the modal does add it to the DOM, it just messes up it's properties so it's not visible. I am only able to interact with that invisible modal once it's opened, I can't click on anything

[2016-06-11 01:45] ihadeed opened #6859 "App takes 1-2 seconds to load, doesn't look so good"
I've been experiencing this with all Ionic 2 versions.

It's not really a big issue, but fixing this can improve the user experience IMO.

Launching an Ionic 2 app takes a second or two. In the meanwhile, the screen just shows plain HTML without CSS/JavaScript.

Here's a quick demo:
![slow-load](https://cloud.githubusercontent.com/assets/13794420/15982416/9c371d44-2f54-11e6-8352-d4d37d316c65.gif)

[2016-06-11 01:59] ihadeed opened #6860 "Toast is still on top of everything when opening an ActionSheet"
#### Short description of the problem:
Toast is always on top of everything. Opening an ActionSheet while there is a toast visible doesn't cancel the toast or overlay it.

![toast-actionsheet](https://cloud.githubusercontent.com/assets/13794420/15982449/ad86aa00-2f55-11e6-8dae-2220b713eab1.gif)

**Steps to reproduce:**
1. Display toast
2. Open an action sheet before the toast hides

**Which Ionic

[2016-06-11 03:43] vijquick opened #6861 "Placing ion-label inside ion-grid in an ion-item fails to render the entire grid"
If you have a **ion-grid** inside **ion-item** and placing **ion-label** together with some other components inside **ion-grid** is causing issue with rendering the entire grid.

Here is a [post ](https://forum.ionicframework.com/t/placing-ion-grid-inside-ion-item-showing-empty-rows/53690) that I have created in ionic forum.

Below is the markup from that post

[code]

As @brandyscarney pointed ou

[2016-06-11 04:15] vijquick opened #6862 "Enhancement: Placeholder text for ion-select component"
The current version **beta.8** of **ionic 2** doesnt allow to set **placeholder text** for **ion-select** . This would be a useful feature to have considering the real estate that we have in mobiles screens. Without this we have to add additional element either label or div to specify the placeholder text.

[2016-06-11 05:12] emanfu commented on #6664
I have the exact same problem. Please kindly suggest a solution. Thanks!

[2016-06-11 05:52] ladmerc commented on #6838
Yup, experiencing this now

[2016-06-11 06:28] jdnichollsc commented on #3399
Hi guys!

See my directive to use ng-repeat on Windows, but use collection-repeat on Android, iOS, etc :dancers:

Ion-Repeat: http://codepen.io/jdnichollsc/pen/EyPOee

Regards, Nicholls

[2016-06-11 08:40] AdrienDC commented on #4463
+1 I confirm this:   pointer-events: auto; needs to be added.
Nice hint @webmak

[2016-06-11 09:47] ZiFFeL1992 commented on #6859
I'm agree with you, my delay takes up to 10 secs in some cases.
Takes like 6 seconds to evaluate app.bundle.js

Also note the square at the top - left corner while HTML is loading:
![image](https://cloud.githubusercontent.com/assets/5492960/15984417/3c7b002a-2fca-11e6-9a16-6908257bbea9.png)

[2016-06-11 09:58] ihadeed commented on #6859
@ZiFFeL1992 I have that little button showing up only on this app. other apps show a blank page for a few seconds.

[2016-06-11 10:36] ZiFFeL1992 commented on #6859
@ihadeed I also have it on my app, don't know the reason.

Here is a  graph on my app while loading:
![image](https://cloud.githubusercontent.com/assets/5492960/15984567/d9731100-2fd0-11e6-923f-95e31082630a.png)

[2016-06-11 10:44] ihadeed commented on #6859
I get the same thing, but it loads faster than your case. Maybe because my app is small.

![image](https://cloud.githubusercontent.com/assets/13794420/15984611/efbf4a72-2f9f-11e6-8314-909e4f16bac5.png)

[2016-06-11 10:56] mirkonasato commented on #6847
Imports and no underscore prefix on private properties (typescript only) are the only ones about formatting as far as I can see.

The guide does recommend a [folders-by-feature structure](https://angular.io/styleguide#!#folders-by-feature-structure) though, as opposed to a folders-by-type one.

[2016-06-11 10:58] xr0master commented on #6858
[Dismissing And Async Navigation](http://ionicframework.com/docs/v2/api/components/action-sheet/ActionSheet/)

[2016-06-11 11:00] ihadeed commented on #6858
Thank you @xr0master !

[2016-06-11 11:00] #6858 closed

[2016-06-11 11:02] xr0master commented on #6858
Little fix
[code]

[2016-06-11 11:05] ihadeed commented on #6858
Thanks :D !

[2016-06-11 13:17] manucorporat commented on #6859
@ihadeed @ZiFFeL1992  We are working in a new build chain featuring:
- Offline compiler for angular 2 templating.
- Closure compiler to minify and optimize js
- Webpack2 Tree Shaking (eliminates unused exports)

There are a lot of room for improvements but ionic 2 is still beta, so it has not been optimized yet, please be patient!

[2016-06-11 13:25] ihadeed commented on #6859
thanks @manucorporat

- Do you have an estimate on when those changes will be available?  (No rush! just curious :grin: )
- Are you waiting for Angular2 RC.2? or are you working side-by-side with the angular team?
- Is there any way I could help?

[2016-06-11 13:35] HamzaLJ opened #6864 "An Error occurred trying to fall back to Cordova-lib execution: TypeError: Cannot read property 'then' of undefined"
I am trying to emulate my ionic2 project in iOS/xCode by running the following:

 however, I receive this:

[09:30:04] Starting 'clean'...
[09:30:04] Finished 'clean' after 18 ms
[09:30:04] Starting 'build'...
[09:30:04] Starting 'sass'...
[09:30:04] Starting 'html'...
[09:30:04] Starting 'fonts'...
[09:30:04] Starting 'scripts'...
[09:30:04] Finished 'scripts' after 42 ms
[09:30:04] Finished 'htm

[2016-06-11 13:38] iosfeng commented on #6864
so clear~~~~~

it is highly recommended to install/upgrade the following:

Please install your Cordova CLI to version >=4.2.0 npm install -g cordova
Install ios-sim to deploy iOS applications. npm install -g ios-sim (may require sudo)
Install ios-deploy to deploy iOS applications to devices. npm install -g ios-deploy (may require sudo)

[2016-06-11 13:42] HamzaLJ commented on #6864
@iosfeng
Already tried to do that but I received:

npm WARN checkPermissions Missing write access to /Users/Hamza/.npm-packages/lib/node_modules/cordova
/Users/Hamza/.npm-packages/lib
└── cordova@6.2.0

npm ERR! Darwin 15.3.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "-g" "cordova"
npm ERR! node v5.9.0
npm ERR! npm  v3.7.3
npm ERR! path /Users/Hamza/.npm-packages/lib/node_

[2016-06-11 14:09] dsjgordon commented on #6578
Any chance the tags between git and npm can be reconciled?

I just spent a day trying to get ```ionic@2.0.0-beta.8``` to work before finally realising that is an old version, not the [v2.0.0-beta.8](https://github.com/driftyco/ionic/tags) github release.

[2016-06-11 14:22] Bouzmine opened #6865 "ion-datetime words disappearing in Safari OS X with iOS theme"
#### Short description of the problem:

`ion-datetime` elements (months, days, years) disappear when touched on Safari OS X. It's not that bad but is just annoying during my development process.
![capture d ecran 2016-06-11 a 10 12 18](https://cloud.githubusercontent.com/assets/15067923/15985503/7e85f09a-2fbd-11e6-96de-2cc10a0742f8.png)
#### What behavior are you expecting?

The words not to disap

[2016-06-11 15:00] barocsi opened #6866 "Pull to refresh triggers infinitescroll loop. V1.3.x"
#### Short description of the problem:
When I do a pull to refresh on a list, not pull down enough to trigger a refresh, scroll up (still tapping) to the top back, it will trigger infinitescroll.

#### What behavior are you expecting?
Infinitescroll must not be triggered

**Steps to reproduce:**
1. Create a list
2. Add pull to refresh and infinite scroll
3. Start pulling down then drag the pull do

[2016-06-11 15:01] Bouzmine commented on #6746
Hi,
Sorry for the delay, I didn't have the time to investigate this until now.

Here's a video of exactly what is happening :
![bug flicker video-3](https://cloud.githubusercontent.com/assets/15067923/15985617/920e6f08-2fc1-11e6-88a3-d3e73c6096c8.gif)

And here is a repo you asked for :
[https://github.com/Bouzmine/demo-bug-flicker](https://github.com/Bouzmine/demo-bug-flicker)

[2016-06-11 15:36] HamzaLJ opened #6867 "Bug with `ionic emulate ios`"
I am facing an error when executing

The result:

Running 'emulate:before' gulp task before emulate
[11:33:55] Starting 'clean'...
[11:33:55] Finished 'clean' after 44 ms
[11:33:55] Starting 'build'...
[11:33:55] Starting 'sass'...
[11:33:55] Starting 'html'...
[11:33:55] Starting 'fonts'...
[11:33:55] Starting 'scripts'...
[11:33:55] Finished 'scripts' after 59 ms
[11:33:55] Finished 'html' after

[2016-06-11 15:38] manucorporat commented on #5595
@brandyscarney @adamdbradley I think it makes sense to have this feature only available inside a virtual list. It already provides the foundational level to know the positions of each item.

[2016-06-11 15:40] daltonpereira commented on #3064
Hi, I face this issue for a second while switching between tabs. this happens only for the first time.

[2016-06-11 15:58] ZiFFeL1992 commented on #6867
Run:
`> sudo npm i -g cordova ios-deploy ios-sim`

[2016-06-11 16:37] matheo commented on #6836
@iignatov I updated an Ionic beta.6 project to beta.8 and now I'm using typings.

Installing new definitions creates the file `typings/index.d.ts` and all is working fine, I've added it to the repository too, but i'm having a minor issue with Atom IDE, it says:

[TS] [Error] The file "typings/main.d.ts" is not included in the TypeScript compilation context.  If this is not intended, please check t

[2016-06-11 19:42] #5135 closed

[2016-06-11 21:39] iignatov commented on #6836
@matheo I'm not quite sure because I don't use Atom _(but VS Code instead)_ and I still haven't updated to `typings` 1.x which introduces `index.d.ts`. I would recommend you to do a global search for `main.d.ts` in the project and remove all occurrences _(and probably the same for `typings/main`)_. Also check the `typings` folder for obsolete files, e.g. `main.d.ts`.

I wouldn't do this because th

[2016-06-11 22:39] LydiaMontagnese opened #6868 "Ionic Error: Platform ios already added. but when running resources, says no platform added"
#### Short description of the problem:

When I run 'ionic platform add ios', I am getting this error:
Error: Platform ios already added.

But when running 'ionic resources', it says no platform added.

Here's the output:

Lydias-MBP:ionic-basic lydia$ ionic resources
No platforms have been added.
Please add a platform, for example: ionic platform add ios
Or provide a platform name, for example: io

[2016-06-12 00:48] brightpixels commented on #5039
@jgw96 thanks. But I just had a look at beta.9 roadmap and I can't see it in the list: https://github.com/driftyco/ionic/milestones/2.0.0-beta.9. Am I looking in the right place to see the upcoming beta.9 features?

[2016-06-12 02:53] keithdmoore commented on #6608
The date is a valid date now but it is incorrect.  Please reopen.

Expected:  2016-06-12T02:40:00Z
LOCAL is:  Sat, 11 Jun 2016 21:40:00 -05:00

Actually got:       2016-06-11T21:40:00Z
LOCAL is:  Sat, 11 Jun 2016 16:40:00 -05:00

[2016-06-12 02:55] keithdmoore commented on #6608
@jgw96 @danbucholtz  please reopen.

[2016-06-12 02:56] Ionitron commented on #4293
Greetings @cmellinas!

My sensors indicate a reply was requested, but as we have not received one yet, I am using my robot powers to close this issue. However, if you are still experiencing this issue, please feel free to reopen it by creating a new issue, and include any examples or necessary information.

Thank you for allowing me to assist you.

[2016-06-12 02:56] #4293 closed

[2016-06-12 02:56] Ionitron commented on #2741
Greetings @colllin!

My sensors indicate a reply was requested, but as we have not received one yet, I am using my robot powers to close this issue. However, if you are still experiencing this issue, please feel free to reopen it by creating a new issue, and include any examples or necessary information.

Thank you for allowing me to assist you.

[2016-06-12 03:07] keithdmoore commented on #6779
Using `ionic-angular version 2.0.0-beta.8-201606091959` I am getting an error when trying this approach.
[code]

[code]

[code]

[2016-06-12 03:27] danbucholtz commented on #6851
If you can make a very simple example demonstrating the problem, we can look into it.  We are not going to be able to spin up your server, though.  Ionic uses Angular 1.5.3, so the http module should just work.  We are not doing anything to it, etc.

[2016-06-12 03:30] danbucholtz commented on #6578
@dsjgordon, the npm package for V2 of the framework is `ionic-angular`.

Thanks,
Dan

[2016-06-12 03:36] danbucholtz opened #6869 "Color Picker component"
It would be nice to have an overlay component accessible from a form input to choose a color.

**Given** a form input for choosing color, **when** I drag my finger around and find a color that I like and click "OK", **then** I receive the hex code for the color.

[2016-06-12 03:41] dsjgordon commented on #6578
@danbucholtz Thanks, looks like the tags line up there.

Then the [documentation](http://ionicframework.com/docs/v2/getting-started/installation/) needs to be updated.  It currently states:

```$ npm install -g ionic@beta```

I guess this would be an issue for [ionic-site](https://github.com/driftyco/ionic-site) ?

[2016-06-12 04:09] dsjgordon commented on #6578
Scratch that, just had it explained in Slack :)

- npm ionic is the cli, github/ionic is the framework published to npm as ionic-angular.
- The cli will automatically use the latest ionic-angular when using ```ionic start```.
- Existing projects can be updated to newer versions of ionic-angular via ```package.json```.

[2016-06-12 04:17] danbucholtz commented on #6840
@jgw96, I think you did this, right?

[2016-06-12 04:17] danbucholtz commented on #6540
@Daforest,

Working on this now.

Thanks,
Dan

[2016-06-12 04:19] jgw96 commented on #6869
Just thinking but we could maybe use the html5 color picker input under the hood for this, but style it and present it like an alert or the date time component. Not sure how well the html5 color picker input can be styled though.

[2016-06-12 04:24] jgw96 commented on #6840
Yep sure did. https://github.com/driftyco/ionic/commit/9315c68c892a566b4f479fa25b7b300c96f3a383

[2016-06-12 04:24] #6840 closed

[2016-06-12 04:26] jgw96 commented on #6608
Hey @keithdmoore, would you mind making a plunker that demonstrates the new issue? Thanks!

[2016-06-12 04:30] jgw96 commented on #6868
Hello, thanks for opening an issue with us! Since this issue is an issue with the Ionic CLI and not the framework I will be moving this issue to the correct repo. Thanks for using Ionic!

[2016-06-12 04:31] jgw96 commented on #6868
This issue was moved to driftyco/ionic-cli#1068

[2016-06-12 04:31] #6868 closed

[2016-06-12 04:34] jgw96 commented on #5039
Hey @brightpixels it is the last on the list on page two of the beta.9 milestone issues. You can also see that it's added to the milestone by looking on the right side of this page. Thanks!

[2016-06-12 04:38] jgw96 commented on #6867
Hello! Thanks for opening an issue with us! It looks like you do not have cordova installed. The command mentioned above should fix this for you. Thanks for using Ionic!

[2016-06-12 04:38] #6867 closed

[2016-06-12 04:47] jgw96 commented on #6859
Hey @ihadeed ! At this point we don't have a solid timeline on this but it is a high priority and work is being done on it currently. We are currently working side by side with the Angular team on this issue as they are doing alot of work on making Angular apps load extremely fast. Our short term plan is to implement the build chain that @manucorporat mentioned above. Longer term, we have discusse

[2016-06-12 04:47] #6859 closed

[2016-06-12 04:48] jgw96 commented on #6864
Hello, thanks for opening an issue with us. As this is an issue with the Ionic CLI and not the Ionic framework I will be moving this issue to the correct repo. Thanks for using Ionic!

[2016-06-12 04:49] jgw96 commented on #6864
This issue was moved to driftyco/ionic-cli#1069

[2016-06-12 04:49] #6864 closed

[2016-06-12 04:55] jgw96 commented on #6856
Hello, thanks for opening an issue with us! If you would like to have a child page that has a back button in the navbar then you should push a page onto the stack instead of using a modal. This should give you the functionality you are looking for. If this does not fix your issue feel free to comment on this issue and I will happily reopen. Thanks for using Ionic!

[2016-06-12 04:55] #6856 closed

[2016-06-12 05:17] Daforest commented on #6540
@danbucholtz Great news!

[2016-06-12 05:59] Luchillo commented on #6856
Can i get the same behavior? from modals when dismissed i can attach an event for the dismiss and get some data from it, can i do the same just with pages?

[2016-06-12 07:34] Manduro commented on #2741
I guess machines are wrong sometimes @Ionitron!

@jgw96 Could you maybe reopen this issue?

[2016-06-12 10:08] gg2001 opened #6870 "Solution Found: Unable to install on Mac"
Hey,
I was having some issues on installing Ionic on Mac when following the [official steps](http://ionicframework.com/getting-started/). I found the solution and I published an article on how to properly install Ionic:
https://medium.com/@gautham.gg/how-to-install-ionic-on-mac-without-issues-3efe92a0da93#.hy9a771ju

[2016-06-12 10:09] alexbainbridge opened #6871 "v2 docs: Old style config still documented (not beta 8 bootstrap version)"
#### Short description of the problem:

In the "phone" mockup on the right hand side of http://ionicframework.com/docs/v2/api/config/Config/ the documentation for config is not right, it is still on how it was upto beta 7, not how the config moved to bootstrap, from beta 8 onwards

#### What behavior are you expecting?

A post-beta-8 version of the config style to be shown

[2016-06-12 14:10] biancazzurri commented on #4866
This happens also with the new version (which is 1.3.1 in my project)

[2016-06-12 14:10] cayter commented on #5155
For those who are using Ionic 2 with webpack, please make sure that you have the following changes in your webpack config and your app SCSS file.

webpack.config.js
[code]

app.scss
[code]

[2016-06-12 15:26] NoNameProvided commented on #6578
@dsjgordon Is this explained somewhere in the webpage? If not, it should be in the install section. This confused me in the past as well.

[2016-06-12 17:31] zakton5 commented on #6797
So on iOS, the actual problem is that if the popover's contents force its height to be > 200px (200 is the min-height set in css), then it still assumes that the popover height is 200 and therefore doesn't adjust the top offset correctly. Try it in this plunk: http://plnkr.co/edit/mm1Ls3I20fHXksLcnWE8?p=preview. Load it twice and notice the offset difference between both times.

In Android, it beh

[2016-06-12 17:41] efishman15 commented on #6401
Hi Justin,

I just upgraded to ionic 2 beta 8 - and unfortunately it is still happening.
Does it work in your labs on beta 8?

Thanks,
Eddy

[2016-06-12 18:05] dsjgordon commented on #6578
I agree, it's an easy stone for developers to trip over.  Perhaps a note in the docs would suffice, if not a realignment of the package names.

[2016-06-12 20:39] danbucholtz commented on #6578
We are thinking about renaming some of these things as we draw closer to general release of V2.  I think the CLI will always start with the `ionic` command but I don't necessarily think the package name needs to be `ionic`.

Do you guys have any suggestions for how you'd like to see stuff named?

[2016-06-13 05:02] chandanch commented on #6281
Hello I'm facing the same issue as well, The Toolbar alignment breaks up in android 4.4 and below. When I first installed the app on Android 4.4.2 I got a blank screen. It works perfectly on Android 5.0 and above. What could be the issue for this? Is this issue resolved in beta 25?

[2016-06-13 05:18] dylanvdmerwe commented on #6281
@jgw96 I think this issue needs to be made clear in the docs somewhere to use Crosswalk for apps on Android < version 5.

[2016-06-13 05:26] dheran opened #6873 "Use components as single js file without bundling into single app.bundle.js"
This is reg the closed issue #6776

Mine is not the complete hybrid application. It's combination of both hybrid and native.
When every time I open an activity with webview, It takes more time for initial loading.
Is there a way to stop bundling the js resources while build process. I assume it can reduce some amount of initial loading time.

[2016-06-13 05:54] dheran commented on #6040
@brandyscarney  after updating to beta 8, it show's red highlight for ion-input and ion-textarea even they got right inputs. I didn't explicitly mentioned required or * any where. Also I handled validation by myself, is there a way to disable it.

[2016-06-13 06:38] dheran opened #6874 "Minify js, css resources while running build command"
Please add built in support for minification

[2016-06-13 08:05] kraskoshnyy opened #6875 "Back button issue"
#### Short description of the problem:

Back button becomes hidden, looks like some problems with ionicHistory
#### What behavior are you expecting?

Click on the button should change state to previous

**Steps to reproduce:**
1. You need at least two tabs. where you have "sub pages"
2. Click on first tab, then subpage and click back
3. Do the same with second tab
4. Go to first tab
5. The same wi

[2016-06-13 08:39] dylanvdmerwe opened #6876 "issue(input): Input has focus issue on Android"
#### Short description of the problem:
On Android in beta 8:

- Selecting an input field now places an underline. Where did this come from?
- I have styled my input fields so that they are rounded, but I do not see anyway to fix the focus underline as it is off center?
- When the input field is marked as invalid, there is a conflict with the red underline and the blue focus line. Note that the red

[2016-06-13 08:39] phoenix3008 opened #6877 "VirtualScroll component is not showing when use it inside a directive"
#### Short description of the problem:

I have created a new component `items-list`, inside that component I use `virtualScroll` component,
when I pass an array to `items-list` component

[code]

it shows nothing on the page, but when I insert some characters before `virtualScroll` component - it works well...

[code]
#### What behavior are you expecting?

virtualScroll component must show up on t

[2016-06-13 09:21] dylanvdmerwe commented on #6876
Struggling to get the styling to apply properly in the plunkr: http://plnkr.co/edit/XmVuhKbBx3zREIydm47c?p=preview

[2016-06-13 09:24] galsch opened #6878 "Debugging app in Safari"
Hi,

I'm using the sample Ionic 2 app from (http://ionicframework.com/docs/v2/getting-started/installation/)

Following the instruction I was able to run the app. However, I'm unable to debug the app in Safari with source maps. In Chrome it works perfectly. I'm using OS X with Safari 9.

Adding screenshots of Chrome and Safari.

In Chrome we can see source maps files:
![screen shot 2016-06-13 at 1

[2016-06-13 10:38] sinedied commented on #6544
I reproduce this issue, and would love it if anyone found a workaround. Just to add some info, I can reproduce it only on web browser, not on actual ios/android device.

[2016-06-13 10:56] Kobzol opened #6880 "V2: Custom component with <ion-checkbox> doesn't render within <ion-item>"
#### Short description of the problem:
I have a custom component that contains a ion-checkbox.
When I try to render this component inside ion-item, nothing is rendered.
When I render the checkbox directly without the component, it renders.
When I render the component without the checkbox, it also renders.
When I render the component inside ion-list directly without ion-item and apply the .item cla

[2016-06-13 10:56] YuvarajManickam commented on #6837
@iignatov Thank you dude. It works for me. Builded successfully. Thank you again.

[2016-06-13 11:01] mpaland commented on #6860
Can't you just dismiss() the toast upon/before opening the action sheet?

[2016-06-13 11:23] ihadeed commented on #6860
Thanks @mpaland I wasn't aware of that function.

[2016-06-13 11:23] #6860 closed

[2016-06-13 12:57] masimplo opened #6881 "VirtualItem does not seem to work with custom components"
#### Short description of the problem:

I am trying to use VirtualScroll but instead of directly using ion-item as the virtual item, I am using a custom component that encapsulates ion-item.
#### What behavior are you expecting?

Render the component normally as when using ngFor.

**Steps to reproduce:**
1. Create a custom component that its' template has a complete ion-item
2. Use that component

[2016-06-13 14:37] turbulence opened #6882 "iOS build optimization"
Hi,

I'm using Ionic 1 since a while and start looking at Ionic 2.

When generating an iOS build, I was looking at the code and find that app.md.css and app.wp.css are part of the www/build/css folder.

I was wondering if there is any way to only get files related to iOS so that my ipa is as small as possible and to avoid having unnessary files.

Thanks

[2016-06-13 14:59] jgw96 commented on #6882
Hello, thanks for opening an issue with us! You could remove the app.md.css and app.wp.css files, but i would not recommend it as it may cause other issues. We are working on a new build chain for Ionic 2 that will include Angular offline template compilation and aggressive minification that will make ionic 2 apps much smaller and even faster than they are now. I do not have a specific timeline on

[2016-06-13 14:59] #6882 closed

[2016-06-13 15:02] jgw96 commented on #6871
Hello, thanks for opening an issue with us! As this is an issue with the docs and not the framework i will be moving this issue to the ionic-site repo. Thanks for using Ionic!

[2016-06-13 15:02] jgw96 commented on #6871
This issue was moved to driftyco/ionic-site#647

[2016-06-13 15:02] #6871 closed

[2016-06-13 15:07] jgw96 commented on #6874
Hello, thanks for opening an issue with us! This is something we are actively working on and hope to have done soon! Thanks for using Ionic!

[2016-06-13 15:07] #6874 closed

[2016-06-13 15:11] jgw96 commented on #6873
Hello! Thanks for opening an issue with us. As i said on #6776 we are currently working a new build chain that will make Ionic 2 apps start up faster and overall be much snappier. This should solve the issue stated here. I have reopened #6776 and will update it when i have more on our progress with this. Thanks for using Ionic!

[2016-06-13 15:11] #6873 closed

[2016-06-13 15:13] jgw96 commented on #6775
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-06-13 15:13] #6775 closed

[2016-06-13 15:13] jgw96 commented on #6297
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-06-13 15:13] #6297 closed

[2016-06-13 15:14] jgw96 commented on #6798
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-06-13 15:14] #6798 closed

[2016-06-13 15:16] jgw96 commented on #6857
Hello, thanks for opening an issue with us! Does this only happen on ios, or on chrome and android too? Thanks for using Ionic!

[2016-06-13 15:18] jgw96 commented on #6852
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-13 15:21] jgw96 commented on #6779
Hello all! I am going to be closing this issue as a duplicate of https://github.com/driftyco/ionic/issues/6850. You can follow that issue for updates on this bug. Thanks for using Ionic!

[2016-06-13 15:21] #6779 closed

[2016-06-13 15:25] masimakopoulos commented on #5734
Is there any update on this? Has anyone successfully used web workers on an Ionic2 app? Would also love to know what are IonicTeam's plans for web worker support?

[2016-06-13 15:28] steebchen opened #6883 "docs: Broken push link in v2 docs"
**Type**: <span ionic-type>docs</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>When searching "push" with the bar on top in the v2 docs (http://ionicframework.com/docs/v2/) and selecting "Push" under "Native" there is a broken link where its href is `http://ionicframework.com/docs/v2/native/Push/`. The fix is easy,

[2016-06-13 15:35] MattDHill commented on #6857
Hi! I'm not sure if this happens on Andoid emulator or device as I don't have the ability to test that atm. But it works fine in the browser, both Chrome and Safari.

[2016-06-13 15:39] jgw96 commented on #6883
Hello, thanks for opening an issue with us! As this is an issue with the docs and not the framework i will be moving this issue to the ionic-site repo. Thanks for using Ionic!

[2016-06-13 15:40] jgw96 commented on #6883
This issue was moved to driftyco/ionic-cli#1072

[2016-06-13 15:40] #6883 closed

[2016-06-13 15:42] tlancina commented on #6878
Per our offline discussion, I'm re-assigning this to @jthoms1.

[2016-06-13 15:55] jgw96 commented on #6876
Hey! Would you mind trying to reproduce with [this](http://plnkr.co/edit/CimieM5bkTOuCAnDPlqk?p=preview) plunker? Ive tried multiple types of inputs etc etc and cant seem to reproduce.

[2016-06-13 15:59] jgw96 commented on #6866
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-13 16:25] jgw96 commented on #6856
Hey! At this time there is not a way to pass data with `nav.pop()` and we recommend using our lifecycle events and services to handle passing data around as it keeps all your components nicely decoupled from one another. There is an open [issue](https://github.com/driftyco/ionic/issues/5724) for passing data through `navparams` when popping a page though.

[2016-06-13 16:48] matheo commented on #5212
@tlancina Is there a way to do this on ionic 2.0.0.beta.8?

[2016-06-13 17:00] F1ow commented on #6857
Having the same issue on ios but on Android for me.

[2016-06-13 17:06] danbucholtz commented on #6677
Hi @gigocabrera,

I cannot recreate with the latest version of Ionic.  Can you try doing this from your project root and letting me know if you can?

[code]

Thanks,
Dan

[2016-06-13 17:33] ninoguba opened #6885 "Range Slider doesn't work inside modal view"
#### Short description of the problem:

Range Slider is not draggable when inside a modal view running on the phone.
#### What behavior are you expecting?

Range Slider should be draggable to select desired value.

**Steps to reproduce:**
1. Add a range slider component inside a modal view
2. Launch modal view in your controller

[code]

**Other information:** (e.g. stacktraces, related issues, su

[2016-06-13 18:01] danbucholtz commented on #6540
@Daforest,

This should be fixed now.  Please let me know if this comes up again after the next beta release.

Here's the PR:
https://github.com/driftyco/ionic/pull/6884

Thanks,
Dan

[2016-06-13 18:02] danbucholtz commented on #6677
I am going to close this because I think we indirectly fixed this.  If you're still having the issue, I will re-open.

Thanks,
Dan

[2016-06-13 18:02] #6677 closed

[2016-06-13 18:12] Luchillo commented on #6856
I was reading about that issue, however it seems it's far from being implemented, also using a service just for 1 data seems overkill, for now i'll stick with the hack with `ion-toolbar`, `ion-buttons` with `start` attribute, arrow back button with `NavController.pop()` binding, and hack the `order` css on that button container to `2`.

[2016-06-13 18:24] jgw96 commented on #6885
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-13 19:22] SquadraCorse commented on #4645
I have the same issue with 1.3.1
When form content is less then height of scrollable content it disappears. In order to have a reflow i added this to my bottom form

`<ion-item class="item-borderless hide-on-keyboard-open">
        &nbsp;
</ion-item>`

which did the trick, as "pschuler" mentioned in [forum](https://forum.ionicframework.com/t/keyboard-closing-causes-entire-page-to-disappear/37284/2

[2016-06-13 19:34] msoni11 commented on #2497
I have the same issue with latest master branch ionic v1.3.1.

Isn't ionic team find it as a bug ?

[2016-06-13 19:47] brandyscarney commented on #5996
I added the ability to pass the `type` to the searchbar. It defaults to `"search"` but you can pass `"text"` to it for your specific use case:

[code]

This will be in the `beta 9` release but if you'd like to try it sooner please install the nightly:

[code]

Thanks for the issue!

[2016-06-13 19:47] #5996 closed

[2016-06-13 20:20] jgw96 commented on #6861
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-13 20:22] jgw96 commented on #6849
This issue is related: https://github.com/driftyco/ionic/issues/6861

[2016-06-13 20:33] jgw96 commented on #6055
Hello all! Is this still an issue with the latest version of ionic 2? Thanks!

[2016-06-13 20:36] jgw96 commented on #5830
Hello all, thanks for opening an issue with us. I will be closing as this has already been fixed as you can see from this issue: https://github.com/driftyco/ionic/issues/5020. Thanks for using Ionic!

[2016-06-13 20:36] #5830 closed

[2016-06-13 20:59] matheo commented on #5754
@adamdbradley anywhere to read what's the use of `climbNav`? TIA

[2016-06-13 21:00] gigocabrera commented on #6677
@danbucholtz this question my sound stupid but please pardon my ignorance:
When I try to run `rm -rf node_modules/ionic-angular` I get
'rm' is not recognized as an internal or external command, operable program or batch file. I'm using a Windows based PC

[2016-06-13 21:03] danbucholtz commented on #6677
Ahhh okay, just delete your node_modules/ionic-angular directory.  `rm -rf` is recursive delete.

[2016-06-13 21:04] jgw96 commented on #6677
Hey @gigocabrera sorry about that. The unix command `rm` is not supported on windows. Were all mac or linux users here so were used to giving out that command. You can simply go into your apps directory and delete the `node_modules` folder and then run `npm install` again.

[2016-06-13 21:05] brandyscarney commented on #6876
It's related to this issue: #5052

The highlighting can be turned off via the following Sass variables:

[code]

and to change the colors:

[code]

The issue is a WIP so please add any feedback on that issue.Thanks!

[2016-06-13 21:05] #6876 closed

[2016-06-13 21:07] brandyscarney commented on #6040
@dheran

The highlighting can be turned off via the following Sass variables:

[code]

and to change the colors:

[code]

The issue is a WIP so please add any feedback on #5052. Thanks!

[2016-06-13 21:08] brandyscarney commented on #5052
I've had people ask how to disable highlighting so I am going to add the comment here:

The success/error highlighting can be turned off via the following Sass variables:

[code]

and to change the colors use the following variables:

[code]

Please add any feedback on this issue, Thanks!

[2016-06-13 21:34] gigocabrera commented on #6677
@danbucholtz @jgw96
After installing the nightly version I no longer experience the issue. However, it doesn't feel **"native"** enough as I find myself tapping twice to go back. Can the 700ms be adjusted for a better experience?

`KEYBOARD_DURATION_PADDING = 700;`

[2016-06-13 21:41] danbucholtz commented on #5887
Hi @Mobius77x 😄 ,

Are you still seeing the issue?  Here's what I'm seeing.  Am I missing something?

Please let me know.

Native app in transition:
<img width="646" alt="screen shot 2016-06-13 at 4 38 46 pm" src="https://cloud.githubusercontent.com/assets/4680488/16024093/8026ce28-3185-11e6-8ae9-9cf5197d54bd.png">

Ionic app in transition:
<img width="604" alt="screen shot 2016-06-13 at 4 32 37 p

[2016-06-13 21:41] #5887 closed

[2016-06-13 21:48] danbucholtz commented on #6677
I did lower it to 600ms.  Ultimately, it doesn't matter what that value is because as soon as the transition is over, the app activates again.  Besides, that value is only used when the keyboard is showing.

We use bezier-curves for most of our transitions, and may need to revisit the values of them.  Right now sometimes it feels like transitions are done when they are not truly done.  Just my $0.

[2016-06-13 21:49] danbucholtz opened #6886 "Revisit keyboard hide during transition"
Let's revisit when is the best place is code to start hiding the keyboard for a transition.  We don't want to introduce jank, but a transition that closes the keyboard feels a little slow to me.

[2016-06-13 21:52] danbucholtz opened #6887 "Revisit bezier-curves values for transitions"
Sometimes it feels and looks like a transition is done before it really is.  This is due to the use of bezier curves for transitions.  Often times, these transitions are very quick then slow down a significant amount at the end, creating the illusion that the transition is complete when it's not.  Perhaps we could revisit the values used and see if we could come up with something better.

This can

[2016-06-13 22:50] growthclick commented on #6793
@brandyscarney Excited to see split-pane support in Ionic 2. Is there any plan to enable split pane on two different views similar to the iPad Mail experience (i.e. fully featured left-side view for navigation that targets the right-side "content" view, and still leaves room for a separate side menu)?

For progressive desktop-friendly web apps, it would be ideal if there were a way to enhance nav.

[2016-06-13 23:14] endoooo commented on #6580
any news on this issue?

(ps: upgrading to the current beta 8 does not help on this...)

[2016-06-13 23:44] duffleit opened #6889 "IonicBootstrap Method does not accept a componente without tempate or templateUrl"
The __IonicBootstrap Method__ does not accept a componente without _tempate_ or _templateUrl_.

[code]

_sample from: https://github.com/driftyco/ionic/blob/2.0/src/components/nav/test/routing/index.ts#L47_

throws following exception:
`Uncaught Component 'Demo' must have either 'template' or 'templateUrl' set.`

I'm running on ionic 2.0.0-beta.8

[2016-06-14 01:18] Bouzmine opened #6890 "Opening ion-select makes parent view going blank (scroll)"
#### Short description of the problem:

When I click on an `ion-select` the view goes blank for half a second, making up for an impression of the app shaking. This only happens when there's is scrolling and I was only able to reproduce it on iOS
[Video](http://sendvid.com/0xfzn5sj)
#### What behavior are you expecting?

The view not to go blank.

**Which Ionic Version?** 2.x
#### Plunker that show

[2016-06-14 01:31] Mobius77x commented on #5887
@danbucholtz

Please reopen.  This is clearly evident when transitioning from a page without a navbar (e.g sign-in page) to one with a navbar (e.g. Terms of Service page linked from sign-in page) using ionic serve with an ios platform. Way back when this was raised the ios platform was the default ionic serve platform (since changed to Material Design transition where this issues is not evident).

[2016-06-14 01:49] ninoguba commented on #6885
I don't have a plunker but you can view this with Ionic View using this ID: fcf03f24

All I did here was just start with the blank starter project and modified the following files:

**index.html** (replace body with this)

[code]

**app.js** (add this code)

[code]

**modal-range.html** (create this file)

[code]

[2016-06-14 02:47] danbucholtz commented on #5887
Hi @Mobius77x,

Happy to discuss further.  Here is the vid from the Ionic app.

https://drive.google.com/file/d/0B7Xofj71-_MbU19iRHEtU3N2VGs/view?usp=sharing

The native app (Twitter) looked basically identical when navigating in real-time and when looking at it at 25% speed.  Please let us know what we're missing.

Thanks,
Dan

[2016-06-14 03:14] mlynch opened #6891 "Modal doesn't animate when closed too quickly"
Try the conference app. If you load the filter modal and then hit "done" too quickly, the modal closes without an animation. If you wait 500ms or so, the animation does run after hitting Done.

Note: this is on the wkwebview test from manu, possibly related?

[http://ionic-io-assets.s3.amazonaws.com/animate.mov](http://ionic-io-assets.s3.amazonaws.com/animate.mov)

[2016-06-14 03:16] mlynch opened #6892 "Modal animation is too fast"
Compare our modal to a stock iOS modal. Notice the stock is slower and has more "weight"

Ours: http://ionic-io-assets.s3.amazonaws.com/animate.mov

Apple's: http://ionic-io-assets.s3.amazonaws.com/modalios.mov

[2016-06-14 03:26] Mobius77x commented on #5887
Thanks for the video. I think the issue isn't as pronounced as it was in the past beta version because my understanding is that the transition delays/startup time have been shortened in recent betas. The fade-in and especially the fade-out of the back button independent of the page transition is somewhat noticeable in your 25% speed example, and is more evident when the navbar is black and the bac

[2016-06-14 04:13] danbucholtz commented on #5887
It definitely matches the behavior of the Twitter app.  To be honest, I couldn't find too many apps that don't override the default Nav bar on iOS to verify.  This functionality was designed before my time at Ionic but based on a conversation with Adam he said he modeled it after how iOS nav works.

[2016-06-14 04:41] danbucholtz commented on #6891
This issue should be resolved with a recent nightly build.  I wonder if that is still using beta 8?  There are some known app enabled issues there that we're resolving in beta 9.

Thanks,
Dan

[2016-06-14 05:09] kraskoshnyy commented on #6875
So confirmed, the problem with backView:
This code answer viewHistory before actions:

Object
backView: View {viewId: "ion9", index: 0, historyId: "ion5", backViewId: "ion7", forwardViewId: "ion10", …}
currentView: View {viewId: "ion10", index: 1, historyId: "ion5", backViewId: "ion9", forwardViewId: null, …}
forwardView: null
histories: {root: Object, ion3: Object, ion4: Object, ion5: Object}
vie

[2016-06-14 05:14] boyfunky opened #6893 "ionicView.leave and ionicView.enter events fire wrongly"
#### Short description of the problem:

I have these two events in my controller and they both fire wrongly. my ionicView.leave event fires when i enter the controller and my ionicView.enter event fires upon leaving the controller. Its so weird. Why is this happening? Also, it only gets called when it is $rootScope and not $scope

#### What behavior are you expecting?

I am expecting both events t

[2016-06-14 05:43] simiansim commented on #5600
A **padding-bottom** value using **em** values on the **ion-label** might work for the card-list example.

Specifically:
`padding-bottom: 0.1em;`

EM padding is relative to the font size, rather than the dimensions of the element, which is a good thing here.

[2016-06-14 06:28] Ignatiah commented on #3095
header is scrolling out of the viewport in wp8. Please help.

[2016-06-14 06:42] raducostea commented on #6055
@jgw96,

A temporarily fix for me was adding this inside theme/app.ios.css and disable keyboard scroll.

[code]

Not sure if this will do some harm to other components but i have a big app with a lot of components used and everything looks good.

[2016-06-14 06:59] dheran commented on #6874
@jgw96 Point of Closing? ~:-P

[2016-06-14 07:00] dheran commented on #6873
@jgw96  thank you

[2016-06-14 07:49] jgw96 commented on #6893
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-14 08:15] ghenry22 opened #6894 "Ionic2 Range debounce feature"
#### Short description of the problem:
Enhancement Request: add configurable debounce to range slider

#### What behavior are you expecting?
Allow user to specify debounce=value in ms the same way that min & max values are specified for the range slider.

**Which Ionic Version?** 1.x or 2.x
2.0

[2016-06-14 09:27] stalniy opened #6895 "Toasts are not hidden when multiple toasts are shown"
#### Short description of the problem:
When multiple toasts are shown with `duration` field then only first toast is dismissed. All others present on the view with no respect to duration timeout.

#### What behavior are you expecting?
All toasts are hidden after duration timeout is exceeded

**Steps to reproduce:**
1. Create a button with click handler which shows new toast message
2. Click on tha

[2016-06-14 09:46] jorgercosta commented on #6515
What was the workaround here?

[2016-06-14 11:18] flavordaaave opened #6896 "bug: Popover not positioned correct with targetDim.left = 0"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>ios</span> <span ionic-platform-version>9</span>  <span ionic-webview>browser</span>

<span ionic-description>Steps to reproduce:
1) Create a div that is positioned with left: 0 within the viewport
2) Add a (click) handler on the div to open a popover
3) The popover is not p

[2016-06-14 11:36] flavordaaave commented on #6896
Not sure if this is the best solution but for me changing the lines 331 and 332 to this worked:
[code]

[2016-06-14 12:17] 4ian commented on #6515
In my case, I delayed the creation of the slider until I have all the data needed (a simple `*ngIf="items.length"` to ensure that the items array was filled with fetched data).

[2016-06-14 12:21] jeromeXoo opened #6897 "Gesture like (swipe)... prevent vertical scroll"
#### Short description of the problem:
The gestures (like swipe, swipeleft, swiperight, tap...)  are blocking the vertical scroll with the virtual scroll or ion-list.
Browser: OK (mouse wheel)
Android Device or emulator: KO: vertical scroll doesn't work, but swipe work

**Example with virtual scroll**:
[code]
When I select the space between the "ion-card", the vertical scroll is working.

**Exampl

[2016-06-14 12:40] Bouzmine opened #6898 "Selected text not showing before user interaction in ion-select (on binding)"
#### Short description of the problem:

If I bind a variable to an `ion-option` value, the text of the selected option won't be visible until I open it and confirm the value. This is because the value of the text is dynamic (using ng2-translate).
#### What behavior are you expecting?

The value which to appear before opening the select.

**Which Ionic Version?** 2.x
#### Plunker that shows an exam

[2016-06-14 12:56] CorneeSean opened #6899 "Bug: "Logo" icons in tabs (tabIcons) are only displayed on Android."
**Description**
I have a following markup for tabs in my app:

[code]

The problem is with **the last tab icon: logo-facebook.**
The icon appears on android, but does not appear on iOS or Windows. I believe the problem is in classes added to the element, which are different depending on platform.

On Android, the css class is: ion-logo-facebook
On iOS, the css class is: ion-logo-facebook-outline,

[2016-06-14 13:04] CorneeSean commented on #6899
A simple workaround is to add the missing class for the particular icon:

.ion-logo-facebook-outline:before {
    content: "\f236";
}

[2016-06-14 13:41] teledemic commented on #6515
I found I was also having problems on update, so I am briefly (10ms) setting the binding source to empty whenever it changes, so the ngIf deletes and recreates the slides rather than updating them incorrectly.

[2016-06-14 14:29] jgw96 commented on #6895
Hello! Thanks for opening an issue with us. This has already been fixed and will be in the beta.9 release. If you would like to try it out early you can install Ionic 2 nightly by running `npm install ionic-angular@nightly`. Thanks for using Ionic!

[2016-06-14 14:29] #6895 closed

[2016-06-14 14:34] msimkunas commented on #6698
I believe I'm facing a similar/related issue. Here's a Plunker that illustrates it: http://plnkr.co/edit/haF4l3JlDztFekzdMyBN

The navigation bar cannot be hidden during the `beforeEnter`. Is this expected behavior? Are there any workarounds?

[2016-06-14 14:45] jgw96 commented on #6889
Hello, thanks for opening an issue with us! At this time we do not support bootstrapping with a component that does not have a template. We prefer all bootstrapping to be done in your `app.ts` file, which should always have a template. Thanks for using Ionic!

[2016-06-14 14:45] #6889 closed

[2016-06-14 14:52] jgw96 commented on #3267
Hello all, thanks for opening an issue with us! I am going to close this for now as I cannot reproduce this on ios 9.3.2. it looks as if this was an iOS 8 WebKit bug. If you can still reproduce on ios 9 then feel free to comment and I will happily reopen.

[2016-06-14 14:52] #3267 closed

[2016-06-14 15:40] mhartington opened #6901 "iOS10"
- [x] Tabs get pushed out of the viewport by `ion-content-section` having it's height set to 100%
_This seems to be fixed in the latest ios10 build_

[ios10-tabs-pushed](https://cloud.githubusercontent.com/assets/2835826/16047578/9a18d864-321e-11e6-8b3a-c0983dbee121.PNG)

- [ ] View get a sub-title that animates the height of the navbar

[ios10 sub-title](https://cloud.githubusercontent.com/assets

[2016-06-14 16:05] pathartl opened #6902 "Pushing view after alert messes up nav and makes select unusable"
#### Short description of the problem:

If you push a view/page in the handler of an alert, the page will load. If a select is present on the new page and a user tries to choose an option and then hits OK or cancel the select will disappear, but the alert backdrop doesn't disappear and the user is brought to the previous page.

#### What behavior are you expecting?

A user hits a button to go to t

[2016-06-14 16:13] brandyscarney commented on #6177
I made a few changes and the only way I've found to consistently reproduce this is to change the value in the `ngAfterViewInit`:

[code]

There are a few ways to fix this with Angular's change detection. We can wrap it in a `setTimeout` as a workaround:

[code]

or we can manually trigger change detection:

[code]

See issue https://github.com/angular/angular/issues/6005 for more information. I re

[2016-06-14 16:13] #6177 closed

[2016-06-14 16:35] gigocabrera opened #6903 "Floating label disables click event in iOS iPhone"
#### Short description of the problem:

To understand this issue is better to explain it with code

**home.html**
[code]
**home.ts**
[code]
I have the above button with a click event that calls a function called `pickDefaultDate()`. The `ion-input` is set with a `readonly` attribute. When I install the app on my iPhone 6 with iOS 9.3.2 and tap on the button, the click event doesn't fire, instead t

[2016-06-14 18:08] danbucholtz opened #6905 "Karma Code Coverage Reports"
I'd like to be able to get code coverage reports for karma tests.

I am imagining an API like this:

`gulp karma --coverage` in order to output the coverage reports.

**Give** some unit tests
**When** I execute them with the coverage argument
**Then** I can see the report detailing which lines of code are covered

Thanks,
Dan

[2016-06-14 18:08] aslamj opened #6906 "Set ion-datetetime min max values from function call as compared from a string value in the html?"
How do I dynamically set the min max datetime values (including date and time values). I'm hoping the ion-datetime to call in a function, which returns the acceptable time value as a string.

Can this be done in beta.8 or future versions?

[2016-06-14 18:08] danbucholtz commented on #6905
I am assigning to @jthoms1.  If he's too busy, this is something I can tackle in the coming weeks.  It is challenging to write automated tests without the code coverage report.

Thanks,
Dan

[2016-06-14 18:15] jgw96 commented on #6902
Hello, thanks for opening an issue with us! Our navigation system in Ionic 2 is completely async, so you have to wait for other animations/transitions to complete before you can fire off another one. The proper way to push a page onto the stack from an alert would be to do this

[code]
If you would like to read more about how our nav system works async you can check out [these](http://ionicframewo

[2016-06-14 18:15] #6902 closed

[2016-06-14 18:20] brandyscarney commented on #6906
You can use property binding to bind the min/max to an expression. Something like this:

[code]

See the Angular property binding documentation for more info: https://angular.io/docs/ts/latest/guide/template-syntax.html#!#property-binding

Thanks!

[2016-06-14 18:20] #6906 closed

[2016-06-14 18:28] pathartl commented on #6902
That fixed it! Thanks for the quick reply!

[2016-06-14 18:28] brandyscarney commented on #6899
Thanks for the issue! Confirmed this is an issue in `ios` and `wp` mode.

[2016-06-14 18:31] jgw96 commented on #6902
@pathartl no problem at all! 😃

[2016-06-14 18:49] playtogga commented on #6403
I'm having an issue similar to this, where I'm using $compile to append a collection-repeat element to a slidebox.

[2016-06-14 19:30] jgw96 commented on #6698
Hello @nullquery would you mind posting a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-14 19:32] jgw96 commented on #6898
Hey! Thanks for opening an issue with us! Since this seems to be an issue related to the ng2-translate library i would suggest either asking this question on our forum (forum.ionicframework.com) or on their repo or forums. Thanks for using Ionic!

[2016-06-14 19:32] msimkunas commented on #6698
I solved my own problem with the following workaround: http://plnkr.co/edit/haF4l3JlDztFekzdMyBN

I needed to hide the navigation bar upon a certain action and preserve its hidden state across view changes. Setting the `hide-nav-bar` attribute to a scope variable solves my problem. I'm not sure whether this helps the OP, but I thought like sharing my solution anyway.

[2016-06-14 20:14] Nodonisko opened #6908 "InfiniteScroll event never fired"
#### Short description of the problem:
You can see only spinner at bottom of list, but event is never fired. See plunker for more details.

#### What behavior are you expecting?
Fire event.

**Which Ionic Version?** 2.0.0-beta.8

#### Plunker that shows an example of your issue

http://plnkr.co/edit/IBBeqcXBLS23O2ZiiaaQ?p=preview

**Run `ionic info` from terminal/cmd prompt:** (paste output below)

[2016-06-14 20:14] mlynch opened #6909 "Focusing between inputs causes Safari scroll bounce"
See this video to see what I mean. Seems to happen only when going between input boxes:

http://ionic-io-assets.s3.amazonaws.com/scrollbounce.mov

[2016-06-14 20:15] aslamj commented on #6906
Thanks, can we also restrict the time or only date value?

[2016-06-14 20:18] brandyscarney commented on #6906
Right now only the date, but there is an open issue to include time: https://github.com/driftyco/ionic/issues/6850

[2016-06-14 20:27] Bandito11 opened #6910 "error when creating an ionic 2 projects"
#### Short description of the problem:
When creating a project it says that start is undefined and there was error running npminstall. It written together without spaces so I think it was a typo on  your part.

#### What behavior are you expecting?
to npm install everything when creating a project.

**Steps to reproduce:**
1. ionic start  nameOfProject --v2 --ts

[code]

**Which Ionic Version?**
2

[2016-06-14 20:33] jgw96 commented on #4610
Hello all! Is this still an issue with the latest version of ionic? I was not able to reproduce with my Nexus 6 running the Android N Dev Preview. Thanks!

[2016-06-14 20:38] jgw96 commented on #6910
Hello, thanks for opening an issue with us! Since this is an issue with the ionic-cli and not the framework i will be moving this issue to the ionic-cli repo. Thanks for using Ionic!

[2016-06-14 20:38] jgw96 commented on #6910
This issue was moved to driftyco/ionic-cli#1076

[2016-06-14 20:38] #6910 closed

[2016-06-14 20:48] jgw96 commented on #4162
Hello all! I am going to close this as it is not recommended to use contenteditable divs (not only with ionic, but with the web in general). Textareas are the way to go, especially for mobile, and some of the best web based editors ive seen (https://ace.c9.io/#nav=about) are wrapped with a textarea. Thanks for using Ionic!

[2016-06-14 20:48] #4162 closed

[2016-06-14 20:53] adamdbradley commented on #6909
@jgw96 Can you test this on just the input examples? In most cases search bar wouldn't be in the middle of the page, so it doesn't come with all the scrolling guards that prevent weird scrolling like this. But this e2e test does have it in the middle.

[2016-06-14 20:53] jgw96 commented on #4878
Hello! While we appreciate you opening an issue with us i am going to close this issue and ask that you open a new one that has the issue template filled out please. Thanks for using Ionic!

[2016-06-14 20:53] #4878 closed

[2016-06-14 20:59] jgw96 commented on #4957
Hello. Sorry for the delay on this! This is actually expected behavior due to our use of a click block. This click block is there to prevent user interaction from firing off multiple animations or events or clicking before an animation is done and causing jank. Thanks for using Ionic!

[2016-06-14 20:59] #4957 closed

[2016-06-14 21:00] Bouzmine commented on #6898
@jgw96 this is not only related to ng2-translate. As you can see in the demo, any binding will bug the same way. Could you please reopen this ?

[2016-06-14 21:07] jgw96 commented on #6909
@adamdbradley sure can

[2016-06-14 21:24] jgw96 commented on #6898
@Bouzmine sorry about that! I will take a second look at this (:

[2016-06-14 21:32] brandyscarney commented on #6896
Fixed by PR #6900 by @flavordaaave. Thanks!

[2016-06-14 21:32] #6896 closed

[2016-06-14 21:41] brandyscarney commented on #6908
All Ionic events were renamed as part of `beta 8`. The `infinite` event is now called `ionInfinite`. Please replace the event name in order to fire the event. Infinite Scroll docs: http://ionicframework.com/docs/v2/api/components/infinite-scroll/InfiniteScroll/#output-events

For a full list of event name changes, see the changelog: https://github.com/driftyco/ionic/blob/2.0/CHANGELOG.md#ionic-com

[2016-06-14 21:41] #6908 closed

[2016-06-14 21:48] brandyscarney commented on #6880
Item's look for specific elements & attributes in order to render content. If these elements or attributes are nested it won't place them correctly, see https://github.com/angular/angular/issues/6164. In your specific use case you can add the `item-content` attribute to your custom element and it will render, just not in the same place as if it grabbed the checkbox directly. We have some docs on i

[2016-06-14 21:48] #6880 closed

[2016-06-14 21:56] brandyscarney commented on #6841
Wasn't this done?

[2016-06-14 22:07] brandyscarney commented on #6799
Since it uses the Picker API underneath, you can call the Picker and create it that way, this isn't well documented: http://ionicframework.com/docs/v2/api/components/picker/Picker/

[code]

Hope that helps! See the Picker code for more info: https://github.com/driftyco/ionic/blob/2.0/src/components/picker/picker.ts

[2016-06-14 22:47] wli opened #6911 "ion-item-sliding doesn't have full width inside a VirtualScroll"
#### Short description of the problem:
ion-item-sliding doesn't take up full width inside a VirtualScroll

#### What behavior are you expecting?
The sliding item should take the full list width

![webm](https://cloud.githubusercontent.com/assets/649892/16062298/1902fa2e-3247-11e6-811e-8cdfb0513643.gif)

**Steps to reproduce:**
1. Use ion-item-sliding with VirtualScroll

[code]

**Which Ionic Versi

[2016-06-14 23:10] wli commented on #6877
I'd like to propose generalizing this issue as I can reproduce this even without a custom directive. I believe the root cause is actually the `<button>` element that's being used as the `*virtualItem`. I swapped out the `<button>` for `<ion-item>` and it starts showing up.

Here's the gist of what I have
[code]

I can also reproduce using the adding random characters hack before the `<ion-list>`,

[2016-06-14 23:10] wli commented on #6881
I believe this is a dupe/related to https://github.com/driftyco/ionic/issues/6877

[2016-06-14 23:24] wli opened #6912 "VirtualScroll renders empty elements (and can crash)"
#### Short description of the problem:

VirtualScroll sometimes renders a `*virtualItem` by passing it an empty dict. This causes template crashes if accessing nested attributes. It also renders extra blank elements.
#### What behavior are you expecting?

VirtualScroll should never pass empty dicts to `*virtualItem`, and there should not be any crashes.

**Steps to reproduce:**
1. Create an array

[2016-06-15 00:25] brandyscarney commented on #6862
Thanks for the issue! This will be in the `beta 9` release. :smile:

[2016-06-15 00:25] #6862 closed

[2016-06-15 00:27] brandyscarney commented on #5193
This was fixed by @manucorporat recently.

[2016-06-15 00:27] #5193 closed

[2016-06-15 00:32] mpaland commented on #6911
This is related and reported in #6239

[2016-06-15 00:41] wli commented on #6911
@mpaland Thanks for pointing that out! Not sure how I missed that. I'll copy over the new plunkr on beta8 and close this ticket.

[2016-06-15 00:41] #6911 closed

[2016-06-15 00:43] wli commented on #6239
Looks like I filed a duplicate ticket showing the problem in beta8 in case it's helpful: https://github.com/driftyco/ionic/issues/6911

Here's the beta8 plunkr that shows the same problem: http://plnkr.co/edit/oXf11zC0Aadb02podyCG?p=preview

[2016-06-15 01:20] manucorporat commented on #6239
@wli @mpaland should be fixed in next release.
https://github.com/driftyco/ionic/commit/efcdd20508e1f35c6e4e27c957907e081e16171b

[2016-06-15 01:20] #6239 closed

[2016-06-15 01:22] manucorporat opened #6913 "Virtual scroll: Sliding items are not closed"
#### Short description of the problem:

![jun-15-2016 02-48-59](https://cloud.githubusercontent.com/assets/127379/16065156/4a5a857c-32a8-11e6-9833-80538e61982d.gif)

[2016-06-15 01:46] asimzaidi23 commented on #5587
I'm getting the same error, mind telling me how your resolved it @svenluijten ?

[2016-06-15 03:15] asafco4 opened #6914 "push notification failure"
Hey guys,
My app push notifications suddenly stopped working :(

the reply I get from Ionic is:
`"statusCode" : 201,
	"body" : {
		"data" : {
			"app_id" : "486aaf62",
			"state" : "enqueued",
			"status" : "open",
			"uuid" : "49d0f418-4e6d-4ab0-948b-b1b135e09d67",
			"created" : "2016-06-15T03:00:14.154299+00:00",
			"config" : {
				"notification" : {
					"android" : {
						"data" : {

[2016-06-15 03:16] danbucholtz commented on #6841
No, I have been putting this off because I don't want to go back and fix all of the inevitable issues.  I will do this now.

[2016-06-15 03:25] #6752 closed

[2016-06-15 03:37] danbucholtz commented on #6841
This is effectively done, just waiting on write access to the tslint-ionic-rules repo.

[2016-06-15 03:37] #6841 closed

[2016-06-15 04:09] ghenry22 commented on #6023
I just implemented search in my app with beta8 and observed the same, on iOS the searchbar animation is super choppy.  Tested in emulator and on a physical iphone6 and the behaviour is the same.

[2016-06-15 04:12] ghenry22 commented on #6748
I have this issue in beta8.  Scroll a list and before the scroll stops tap an item.  The item selected is not the one you tapped.

[2016-06-15 05:20] shtaft commented on #4610
@jgw96 looks like it's fixed with the latest Ionic. Thanks!! Tested with Nexus 5 running latest Android M.

[2016-06-15 05:49] #6914 closed

[2016-06-15 06:30] phoenix3008 commented on #6877
I tried to reproduce this as you said without a custom directive, and it work fine even when using `<button>` as the `*virtualItem`.

here is the Plunker
[http://plnkr.co/edit/rZDgBoDMnKTnlGScSqbn?p=preview](http://plnkr.co/edit/rZDgBoDMnKTnlGScSqbn?p=preview)

but when use it inside a custom directive, the problem remained even when I swapped out the `<button>` for `<ion-item>`.

[code]

here is

[2016-06-15 07:15] svenluijten commented on #5587
It's `sidemenu`, not `sidebar` @asimzaidi23 :smiley:

[2016-06-15 07:19] MOHAMMADArsalan opened #6915 "ionic 2 routing showing blank page"
I am using ionic 2@beta8 routing but its not working.

I am using same example as on githib page but its showing blank page.

https://github.com/driftyco/ionic/blob/2.0/src/components/nav/test/routing/index.ts

[2016-06-15 07:28] manucorporat commented on #5275
@jgw96 how this looks in android? does android bounce always? I want to know the scope of this issue

[2016-06-15 07:28] masimakopoulos commented on #6881
I think it is the opposite of #6877 I am using a custom component inside VirtualScroll, not VirtualScroll inside a custom component

[2016-06-15 07:35] rberthome commented on #6721
I opened a topic in the forum : https://forum.ionicframework.com/t/scrollbar-not-visible-on-android/53616

Does anyone have a workaround or a solution ?

[2016-06-15 08:06] mark-veenstra commented on #6790
Hi all,

We are also having issues with the new way the events work. To our opinion it is not working as we would expect or think is understandable. Maybe someone can have a look and tell us what we are doing wrong or if something else is wrong.

I have created a CodePen, which can be found here: http://codepen.io/mark-veenstra/pen/oLLXpZ?#

To explain the situation:

- Once you open the CodePen,

[2016-06-15 08:08] jgw96 commented on #6915
Hello! While we appreciate you opening an issue with us i am going to close this issue and ask that you open a new one that has the issue template filled out please. Thanks for using Ionic!

[2016-06-15 08:08] #6915 closed

[2016-06-15 08:10] jgw96 commented on #6892
I would consider [this](https://github.com/driftyco/ionic/issues/6887) issue related.

[2016-06-15 08:11] #6870 closed

[2016-06-15 08:15] jgw96 commented on #6682
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Also, could you update to the latest version of ionic 1 please? The latest version is 1.3.1. Thanks for using Ionic!

[2016-06-15 08:16] jgw96 commented on #6667
Hello! I cant seem to reproduce this issue on my iphone 5 running ios 9.3.2. Would you be able to post a plunker or repo that i could reproduce this issue with?

[2016-06-15 08:24] sschoeb opened #6916 "bug: Collection Repeat with scrollTo not working as desired"
#### Short description of the problem:

I'm using an ion-list with two different kinds of items in term of height (a divider and a normal item). The user should have the functionality to jump to a specific divider. This is done using the $ionicScollDelegate.scrollTo(...) method with the specific height.

This works well on the upper part of the list, but there is a point (close to the end) where t

[2016-06-15 08:27] #4610 closed

[2016-06-15 08:37] dylanvdmerwe commented on #6876
Hi @brandyscarney. This is a specific issue related to the sizing of the highlight lines. Reproduceable code attached.
[test.zip](https://github.com/driftyco/ionic/files/315712/test.zip)

[2016-06-15 08:37] jgw96 commented on #5275
@manucorporat Android does not bounce but rather has a "shadow" (usually in the primary color of the app) that animates up from either the bottom or top of the screen depending on which way you were scrolling. I will post a video tomorrow so you can see exactly how it looks.

[2016-06-15 08:40] jgog commented on #6667
Hey!

Here is the HTML of my page:

[code]

[2016-06-15 08:40] vijquick commented on #6861
Hello @jgw96

Here is the [plunker ](http://plnkr.co/edit/v4cpfsIVsu6bxp5FRgIJ?p=preview)showing the issue

Regards
Vijay

[2016-06-15 09:11] manucorporat commented on #5275
@jgw96 i meant in ionic, (not native android). Does ion-content always have that shadow? Even when there is not overflow? Thanks!

[2016-06-15 09:13] shaikhspear16 opened #6917 "Error TS2348: Value of type 'typeof App' is not callable"
Ionic 2 new project error.

I am creating a new project with Ionic 2 and Typescript on Windows 10 pc.

with the following command:

ionic start MyIonic2Project tutorial --v2 --ts

I get the following error when performing ionic serve

TypeScript error: app/app.ts(8,2): Error TS2348: Value of type 'typeof App' is not callable. Did you mean to include 'new'?

Shows a blank screen on ionic serve and

[2016-06-15 09:32] basvdijk commented on #6764
Thanks for reporting, had the same issue

[2016-06-15 09:50] jeromeXoo commented on #6913
I have similar problems with ion-img in virtual scroll. The DOM item is reused, but the state does not seem to reset as expected.

For example,
page loaded: item5 with img5 (OK)
i scroll down to the list and scroll up
=> Item5 with img13 (KO)

With beta8

[2016-06-15 10:13] michaelotte commented on #6177
Thanks, will check

[2016-06-15 10:30] Kobzol commented on #6610
I think that this should work: https://github.com/Kobzol/ionic/commit/37ed555b4dd907251df678b09ad8f3af69d8626f
Unfortunately I have not been able to run karma locally, it fails with an error, so there are no unit tests yet.

[2016-06-15 10:44] ehussain opened #6918 "Popover Dismiss Causes “RangeError: Maximum call stack size exceeded” on Android Device"
I am using ionic2 beta8.

I have copied exact usage example from http://ionicframework.com/docs/v2/2.0.0-beta.8/api/components/popover/Popover/#usage

The only thing I changed is I have created separate files for `popover.ts` `popover.html`.

After all those changes everything worked fine in browser. But when I test that in Android device, when I try to dismiss the popover (either by calling `this

[2016-06-15 11:52] iignatov commented on #6621
@hamark I would recommend you to consider using [Crosswalk](https://crosswalk-project.org/). See [the following topic](https://forum.ionicframework.com/t/minimum-android-version-supported-by-ionicv2/54164/6) for more details. And, on a side note, here are up-to-date Android usage statistics: [Android Developer Dashboards](https://developer.android.com/about/dashboards/index.html).

[2016-06-15 12:00] nwocykra commented on #3708
This issue is still present in 1.3.0 and it looks like the stylesheet fix does no longer work.

[2016-06-15 12:09] NoNameProvided commented on #6490
Hi all, this issue is not present on the 13 June 2016 Android System webview update. Hope it won't come back.

[2016-06-15 12:20] jorchg commented on #5883
I'm still experiencing the issue I described. I completely forgot, and after a ionic update it stopped working, so I just modified it again as described in my latest post in this thread.

[2016-06-15 12:53] cipacda opened #6920 "Invalid Name "@angular/*""
I am starting to use Ionic2 on a new project and all worked well to get it to install for the first time.

I have now setup a continuous integration build for it and when I am running npm install on the build server it fails with the following:

54 verbose addNameRange registry:https://registry.npmjs.org/@angular%2fplatform-browser not in flight; fetching
55 verbose get https://registry.npmjs.org/

[2016-06-15 13:26] tonyawad88 opened #6921 "Ionic v2 - Feature Request - Autocomplete Input"
#### Short description of the problem:

Hello, Is it possible down the line to have an input with an autocomplete feature, where the input is bound to some sort of array and as you type, the component would filters / suggests results to you from the array that it's bound to.

Similar to this one from the material team.
https://material.angularjs.org/latest/demo/autocomplete

**Which Ionic Version?

[2016-06-15 14:14] nkeeslin commented on #6682
Sorry I meant to close this issue.  it turns out it was an issue with the version of ui-router that I was using.  They have fortunately released a fix for it in their latest version (0.3.1).

[2016-06-15 14:14] #6682 closed

[2016-06-15 14:26] iaguilera14 commented on #6099
Does anyone have a solution to disable swipe to go back entirely? Even if it is a temporary one. Having a map on a page does not play well with this feature. Ill even edit the ionic.js file if I need to. I just don't know where to look.

I can confirm that the below code does not work:
`<ion-nav id="nav" [root]="rootPage" swipeBackEnabled="false"></ion-nav>`

[2016-06-15 14:30] jgw96 commented on #6917
Hello @shaikhspear16 would you mind posting the contents of your `app.ts` file here please? Thanks for using Ionic!

[2016-06-15 14:43] jgw96 commented on #6920
Hello, thanks for opening an issue with us! As this looks like an issue with Angular's packages and not ours i would recommend that you post this issue on their repo, or even check out stack overflow. Also, since this does not seem to be an ionic issue i will be closing this issue. Thanks for using Ionic!

[2016-06-15 14:43] #6920 closed

[2016-06-15 14:46] manucorporat commented on #6099
hi @iaguilera14 can you make a plunker demonstrating that swipeBackEnabled does not work?
I am very busy fixing some issues for next release and it would really help me!

You can start from the template: http://plnkr.co/edit/me3Uk0GKWVRhZWU0usad?p=preview

[2016-06-15 14:48] michaelknoch opened #6922 "relative template and style urls in ionic2"
is there a possibility to use relative template and style urls for ionic2 components when using browserify bundle?

I am running an angular2 web app using CommonJS and module.id in my components. The plan is to reuse these ng2 components in my ionic application, but i was not able to fix the relative/absolute path problem for now.

Anny suggestions?

[2016-06-15 14:57] manucorporat commented on #6913
@jeromeXoo hi, next release includes several fixes around `ion-img` and virtual scroll, it should be better!

We are also working in support for WKWebview, it is going to drastically help.

[2016-06-15 15:19] brandyscarney commented on #6839
Thanks for the issue! This will be fixed in the `beta 9` release.

[2016-06-15 15:19] #6839 closed

[2016-06-15 15:26] iaguilera14 commented on #6099
No problem @manucorporat . I was able to reproduce it simply by switching the application to a tabs setup. I used the suppled tabs.ts and tabs.html. It seems that the swipeBackEnabled works when not using tabs, but is overridden when using tabs. Perhaps because tabs have their own navigation stack?

[http://plnkr.co/edit/fB3VofAwyYoFcEF009Co](http://plnkr.co/edit/fB3VofAwyYoFcEF009Co)

Note: I was

[2016-06-15 15:29] lygstate opened #6923 "ionic2 ion-segment ion-segment-button not works with ngFor properly."
#### Short description of the problem:

When using ion-segment, ion-segment-button with ngFor,
Once the length of dataArray are increased, the
ion-segment-button corresponded increased entries of dataArray
can not be clicked.

[code]
#### What behavior are you expecting?

Once push entries into the end of dataArray
,the newly ion-segment-button can be click with selection properly.

[2016-06-15 16:09] jorgercosta commented on #6515
Thank's

[2016-06-15 16:11] flavordaaave opened #6924 "bug: No/wrong modal closing animation from nested page"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>ios</span> <span ionic-platform-version>9</span>  <span ionic-webview>browser</span>

<span ionic-description>See this example:
http://plnkr.co/edit/kBxwyE?p=preview

What I've built:
1) Modal opens with Page 1
2) From modal's page 1 you navigate to modal's page 2
3) From Th

[2016-06-15 16:19] dheran opened #6925 "App needs es6-shim.map, Reflect.js.map"
Ionic v2
I executed app in android as cordova application.
and inspected via chrome://inspect and I found below 404 errors
![capture](https://cloud.githubusercontent.com/assets/15922996/16088033/de1b76a0-3342-11e6-9323-fe7b69ff0abe.PNG)

[2016-06-15 16:55] flavordaaave commented on #6924
I tried to configure the leavingOpts on the modal with:
[code]

But this throws an error:
[code]

[2016-06-15 17:22] kwaazaar commented on #671
I'm seeing a similar issue, but now in Chrome. I have a very simple app hosting google maps. Both the header and footer contain buttons (a-tags). When I click on those, the console displays "tabPolyfill isRecentTap A" and the click is not propagated.

[2016-06-15 17:50] zakton5 opened #6926 "ionic2 bug(tabs) - tabs show toolbars out of order"
#### Short description of the problem:

If I have a some toolbars _before_ my navbar on a tab page, then the order is ignored and the navbar is placed above my toolbars.
#### What behavior are you expecting?

I expect the order of navbars/toolbars to be retained. A full example is shown in the plunker provided below. This bug is seen on tab page 1. Tab page 2 shows a different bug.

**Which Ionic

[2016-06-15 17:56] zakton5 opened #6927 "ionic2 bug(tabs) - tab page without navbar results in navbar placeholder being transparent"
#### Short description of the problem:
When a tab page does not contain an ion-navbar component, then the navbar placeholder in the ion-tabs component is left empty. This is fine, but because the CSS has min-height: 44px, content __behind__ the current tab page can be seen.

#### What behavior are you expecting?
I would expect the navbar placeholder to be completely hidden, or its height to be 0 i

[2016-06-15 18:02] arcreative opened #6928 "White screen on iOS 10"
#### Short description of the problem:

My app that's been working perfectly is broken after update to iOS 10 beta 1.  Title bar shows, but nothing else does:

![img_9372](https://cloud.githubusercontent.com/assets/1896026/16091193/6bcfd36c-32e7-11e6-88c6-81282a2d5f96.PNG)

#### What behavior are you expecting?

App works :-)

**Steps to reproduce:**
1. Open app, watch Splash Screen fade to failur

[2016-06-15 18:49] zakton5 opened #6929 "ionic2 bug(tabs) - when navigating to a tabs page, the back button does not show"
#### Short description of the problem:
If I navigate to a tabs page that is not the initial root page, the back button is not displayed.

#### What behavior are you expecting?
I expect the back button to display on a tabs page with a parent nav.

**Other information:** (e.g. stacktraces, related issues, suggestions how to fix, stackoverflow links, forum links, etc)
The `enableBack()` function in v

[2016-06-15 19:01] mhartington commented on #6928
@arcreative I've been looking into iOS10 and testing things out and this hasn't happened in my tests yet. With the app on the device, can you attach the safari dev tools to remote inspect. If there are any JS or loading errors, they would be visible there.

Also worth noting iOS10 is still super early beta 😁

[2016-06-15 19:03] jgw96 commented on #6925
Hello! While we appreciate you opening an issue with us i am going to close this issue and ask that you open a new one that has the issue template filled out please. Thanks for using Ionic!

[2016-06-15 19:05] arcreative commented on #6928
@mhartington Thanks for the quick response.  I'll try that, but to the best of my knowledge, Safari inspector closes every time, meaning the JS startup errors don't get logged because I can't get it to pop up prior to the app loading.  Do you know of a way around that?  Also, I don't see any JS errors in the Xcode console, they should show there, right?

[2016-06-15 19:25] mhartington commented on #6928
Hmm, they should, show up in xcode, but it was just a thought.

The readout in the xcode doesn't look to promising.
It could be related to a native issue with a plugin, I did see a lot of warnings in my tests.

What plugins are you using? (`ionic plugin ls`)

[2016-06-15 19:25] arcreative commented on #6928
Looks like they messed with CSP again... the following were repeatedly showing in the JS console:

[code]

[2016-06-15 19:25] mhartington commented on #6928
Ahh alright, that looks to be the case then.

[2016-06-15 19:26] arcreative commented on #6928
Disabling CSP fixes it for now, will figure out the correct directives.  Thanks again!

[2016-06-15 19:26] #6928 closed

[2016-06-15 19:26] jgw96 commented on #6929
Hello, thanks for opening an issue with us! Awesome debugging! We are currently tracking this issue in https://github.com/driftyco/ionic/issues/5351 so i will be closing this one as a duplicate. Thanks for using Ionic!

[2016-06-15 19:26] #6929 closed

[2016-06-15 19:33] jordantomax commented on #4293
Still a problem, please reopen.

[2016-06-15 20:02] jgw96 commented on #6926
Hello, thanks for opening an issue with us! Currently we dont support having anything but the navbar being the top element, but this may change in the near future. We are gonna have to discuss this on our end and i will update this issue when we have come to a conclusion. Thanks for using Ionic!

[2016-06-15 20:25] Kobzol commented on #6925
Do you have the missing files (es-6shim, reflect) in the main html file?
[code]

[2016-06-15 20:58] royipressburger commented on #6921
+1

[2016-06-15 21:01] Bouzmine commented on #6746
@jgw96 Could you please reopen this one too ?

[2016-06-15 21:38] iignatov commented on #6917
TypeScript error: app/app.ts(8,2): Error TS2348: Value of type 'typeof App' is not callable. Did you mean to include 'new'?
[code]

[2016-06-15 21:48] jgw96 commented on #6917
Hey @iignatov, I would be interested in seeing his app.ts that was generated when he did Ionic start. It should already be updated to beta. 8 .

[2016-06-15 22:02] jgw96 commented on #6923
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-15 22:03] iignatov commented on #6917
@jgw96 Ah, ok. I guess so - here's [the original issue](https://github.com/Microsoft/TypeScript/issues/9023) and it's from _Jun 8, 2016, 1:04 GMT_ which is before [the following commit](https://github.com/driftyco/ionic2-starter-tutorial/commit/bac54ee7d34e50f35bd01c6b1913213fd14ddf1c) from _Jun 9, 2016, 5:56 GMT_. So it should have been generated before the update.

[2016-06-15 22:09] jgw96 commented on #6917
Ahh ok, thanks @iignatov ! So @shaikhspear16 if you could just run `ionic start` again it should now generate the correct starter project. Thanks for using Ionic! If you still have the same issue feel free to comment and ill happily reopen this issue. Thanks everyone!

[2016-06-15 22:09] #6917 closed

[2016-06-16 00:56] Artfloriani opened #6931 "ion-backdrop causing slow performance on side-menu (W10M)"
I've been trying to improve Windows 10 Mobile performance on Ionic and this is one of the issues I found.

#### Short description of the problem:
When `ion-backdrop` is present, the side menu opens and closes very slowly and laggy. It also makes the side menu buggy (flashing on the right-side of the screen when closing and opening).

#### What behavior are you expecting?
Fluid animations on when o

[2016-06-16 00:58] lygstate commented on #6923
@jgw96 Here is the demo,
http://plnkr.co/edit/Or0Ik1S1HtvUVq3YYdhC

Once you change the period days from `3 days` to `4 days`.
Click the `4TH DAY` would have no effect.

[2016-06-16 02:20] danbucholtz commented on #6790
Hi, been very busy with V2 stuff lately.  I will take a look at this now.

[2016-06-16 02:30] danbucholtz commented on #6790
Hi @Kopleman,

`$ionicParentView.enter`, etc is only for when you are `broadcast` events downward.  In 99% of the cases, you'll want to use `$ionicView.enter` and have the event `emit` upwards.

I am looking at the way your navigation logic is structured and see some issues.  I'll get it working and send you a Github repo w/ the changes.

Thanks,
Dan

[2016-06-16 02:34] danbucholtz commented on #6790
@mark-veenstra, looking at your issue now.  I'll reply in this thread even though I closed @Kopleman's issue.

[2016-06-16 02:59] danbucholtz commented on #6790
@mark-veenstra,

You found a legit bug.  `$ionicParentView.enter` and other parent life cycle events should not be used often.  They are to be used when a child-view needs to know about a state change that it otherwise wouldn't be privy to knowing about since emitted events bubble up.

`Now go ahead and click "Click to go detail page" again. So we are back on that state. But now instead of using t

[2016-06-16 03:41] danbucholtz commented on #6790
@@mark-veenstra, how far into your app development are you?  As of right now, I am honestly not sure if we can fix this easily.  You may need to listen on `$rootScope` for the event in this case.

I'll keep thinking about it.  So far, my attempts to fix have broken other tests.
Here are our changes in Ionic 1.3.1 to life cycle events.  There are some pretty significant unit tests in place as you c

[2016-06-16 04:07] prtku1990 commented on #6925
can u paste the contents of your package.json file

[2016-06-16 05:07] Kopleman commented on #6790
Thanks a lot  @danbucholtz.

[2016-06-16 05:58] dheran commented on #6243
Guys please fix this.. I'm waiting since beta 5 :-)

[2016-06-16 06:46] jeromeXoo commented on #6913
Thank you for the information.

And to talk about what is working well, I'm trying to migrate an application from V1 to V2. And for now, it works very well for a beta, faster, better design, less code, and the virtual scroll an ideal solution to the performance problem.

Good work! (We talk too little of that!)

[2016-06-16 06:47] yanzhihong23 commented on #4825
My resolution for browser platform: add a directive for class 'header-item'
[code]

[2016-06-16 06:48] mark-veenstra commented on #6790
@danbucholtz

We have tried this, but event is never fired even not when listening on `$rootScope`

[2016-06-16 07:14] gowrisankarreddy commented on #5803
+1 i am also faceing same issues

[2016-06-16 08:03] yihyang commented on #6928
Facing the same issue here, my app became white screen after I have logged in

[2016-06-16 08:38] mehdhi commented on #4306
API is updated http://ionicframework.com/docs/v2/api/platform/Platform/

[2016-06-16 08:42] ohh2ahh commented on #6928
I had the exact same issue with CSP. Adding `default-src 'self' gap://ready;` in the CSP meta tag located in `index.html` fixed it.

[2016-06-16 08:55] architruc opened #6933 "Ionic2 Modal early display prevents the host page to be displayed"
#### Short description of the problem:

When a page immediately displays a modal on load (for example in ngAfterViewInit, ngOnInit...), then the modal is dismissed, the page remains hidden (The `<ion-page>` element is still missing the `show-page` CSS class).

#### What behavior are you expecting?

When the modal is dismissed, the page is normally displayed.

**Steps to reproduce:**
1. In a page `

[2016-06-16 09:05] manucorporat commented on #6903
@gigocabrera you should not use a button as an input. Of course the api does not preven you for doing that, but it is not a good idea. A button != input.

Just do this:
[code]

[2016-06-16 09:05] #6903 closed

[2016-06-16 09:51] manucorporat commented on #6099
@iaguilera14 fixed: https://github.com/driftyco/ionic/pull/6934

[2016-06-16 09:57] dheran commented on #6563
@adamdbradley hope now its right time?

[2016-06-16 10:03] mchonan1996 commented on #6901
Is there a workaround for the tabs not showing?

[2016-06-16 10:20] manucorporat commented on #6740
Overlay menu is fixed: https://github.com/driftyco/ionic/pull/6745
Working right now in the push menu type...

[2016-06-16 10:30] chandanch opened #6935 "Cannot read property ‘registerBackButtonAction’ of undefined"
Hello, When I updated from ionic-angular2.0.0-beta.6 to 2.0.0-beta.7. I get this error : Cannot read property 'registerBackButtonAction' of undefined in app.js(line:31) on browser. i.e on node_modules/ionic-angular/components/app/app.js

I followed the steps given here: https://github.com/driftyco/ionic/blob/2.0/CHANGELOG.md#angular-update-to-200-rc1
Here is my package.json file:

[code]
My Curren

[2016-06-16 10:36] eithe commented on #5479
Will routing be added to the [ionic 2 roadmap](https://docs.google.com/document/d/1Qlc5X2eJyOB0izkFlH7KJ5BmMi0MeXUZRHJHt3hS6Wo/edit?usp=sharing) or to one of the [github milestones](https://github.com/driftyco/ionic/milestones) anytime soon so we can get a hint on when to expect this?

[2016-06-16 10:41] manucorporat commented on #6740
@brandyscarney push/overlay fixed here: https://github.com/driftyco/ionic/commit/0c885899bca2b1e7ed6fa85377edb7ecf1a682b8

[2016-06-16 10:41] #6740 closed

[2016-06-16 10:47] manucorporat commented on #6894
I think debounce should be added to text input and textarea as well. It would be good to find a way to don't repeat too much code.

[2016-06-16 11:09] henritoivar commented on #6918
Try accessing the specific popover ViewController instance.

`let popover = Popover.create(PopoverPage);` popover is a ViewController instance which is presented by NavController: `this.nav.present(popover, {ev: event });`

You can access it like this for example: `this.nav.last().dismiss();`

[2016-06-16 11:11] vijquick commented on #6862
Well done @brandyscarney. Thank you.

[2016-06-16 11:46] manucorporat commented on #6935
@chandanch please copy paste the output of `ionic info` and provide some source code to reproduce the problem! thanks

[2016-06-16 12:13] cordiojs commented on #5232
i facing this problem when i inspect it in browser
Object {title: "Error!", template: "Cordova initializing problem!"}

[2016-06-16 12:46] shaikhspear16 commented on #6917
Thank You for your support and replys. I created a new ionic 2 project and am able to run it all well now.

The app.ts file for which I received the error is as follows for your reference:
[code]

Thanks for the fix.

[2016-06-16 13:00] chandanch commented on #6935
Hello here is the ionic information:

Cordova CLI: Not installed
Gulp version:  CLI version 3.9.1
Gulp local:   Local version 3.9.1
Ionic Framework Version: 2.0.0-beta.8
Ionic CLI Version: 2.0.0-beta.30
Ionic App Lib Version: 2.0.0-beta.16
ios-deploy version: Not installed
ios-sim version: Not installed
OS: Mac OS X El Capitan
Node Version: v4.4.5
Xcode version: Xcode 7.3.1 Build version 7D1014

[2016-06-16 13:03] chandanch commented on #6935
This error is resolved now I updated to ionic-angular2.0.0.beta8 the main issue was I did not bootstrap the app component. I'm not getting this error now, But I'm getting a different error now:
**reflective_provider.js:163**
Uncaught Invalid provider - only instances of Provider and Type are allowed, got: undefined

[2016-06-16 13:03] evgeniynet commented on #6850
ion-datetime also doesn't even showed in IE 11

[2016-06-16 13:26] dheran commented on #6776
Removing unused css while build process will also contribute a lot

[2016-06-16 14:02] flavordaaave commented on #6924
I somehow solved this by creating a "wrapper" component with a new navigation stack:

[code]

and then I can just use this function in every modal page to close the modal:
[code]

Example: http://run.plnkr.co/plunks/sb1PBa/

So if the ionic team thinks that this should be the intended way to do something like that, I'm okay with it and this issue can be closed.

[2016-06-16 14:04] arcreative commented on #6928
@ohh2ahh Yep, in my case I had to add file://* as well.

[2016-06-16 14:07] iaguilera14 commented on #6099
Awesome! Thanks!

[2016-06-16 14:08] jgw96 commented on #6924
Hello! Would you mind testing this issue with the latest nightly please? To install Ionic 2 nightly you can simply run `npm install ionic-angular@nightly` thanks!

[2016-06-16 14:25] jgw96 commented on #6918
Hello @ehussain I can't seem to reproduce this issue with either my Nexus 6, Nexus 7 or Moto X 2014. Would you mind posting a plunker or repo I can use to reproduce this issue? Thanks for using Ionic!

[2016-06-16 14:27] flavordaaave commented on #6924
@jgw96 Should I test my "workaround"/solution with the latest nightly or the attempts that I mentioned in my original post?

[2016-06-16 14:37] jgw96 commented on #6924
Hello @flavordaaave ! If you could test with the latest nightly using `this.viewController.dismiss()` to dismiss the modal, as shown in the docs [here](http://ionicframework.com/docs/v2/components/#modals), that would be great (:

[2016-06-16 14:38] jgw96 commented on #6935
Hello @chandanch great to hear that you fixed your first issue! Would you mind posting a plunker i can use to reproduce the second issue? Thanks for using Ionic!

[2016-06-16 14:47] flavordaaave commented on #6924
@jgw96 The issue is NOT about dismissing a "normal" modal but dismissing the modal from a nested page inside a modal (see my original issue: http://run.plnkr.co/plunks/kBxwyE/) so just calling `this.viewController.dismiss()` on the nested page will not close the modal but just navigate back to the Modal's first page.
I created a new plunk using ionic2@nightly and added the simple `viewController.d

[2016-06-16 14:50] jgw96 commented on #6933
Hello! Thanks for opening an issue with us! I have created a plunker [here](http://plnkr.co/edit/qK8tFFbEBXe8C6KqOWvn?p=preview) that shows the proper way to open a modal when a page is loaded. Thanks for using Ionic!

[2016-06-16 14:50] #6933 closed

[2016-06-16 14:57] jgw96 commented on #6850
Hello @oudzy ! Thanks for opening an issue with us! To bind a component to a property (like min and max) in angular 2 you use this syntax `[max]`. You can read more about that [here](https://angular.io/docs/ts/latest/guide/template-syntax.html#!#property-binding) on the Angular docs. Also @evgeniynet we do not support any version of Internet Explorer with Ionic 2, although we do support Edge and W

[2016-06-16 15:04] zakton5 commented on #5351
I know that this has to be dicussed among the ionic team, but here is a solution proposal:

the `getPrevious()` function in nav-controller.ts could be changed to something like this:
[code]
Basically, if the current nav stack (which would be the tabs stack) has no previous view, then check if it has a parent nav stack. If it does, then return the last view in the parent nav stack.

[2016-06-16 15:04] jgw96 commented on #6924
Hello @flavordaaave , are you wanting the modal that you open the second page from to still be open after you close the second page? Or do you want to open the modal, push the second page onto the stack, user interacts with second page, user closes second page which then navigates back to the first page.

[2016-06-16 15:06] jgw96 commented on #6099
Hello all, since it looks like this was fixed by @manucorporat i will be closing this issue. Thanks for using Ionic!

[2016-06-16 15:06] #6099 closed

[2016-06-16 15:10] oudzy commented on #6850
@jgw96 Thanks for your response but i meant a different issue, binding is fine, and i have updated the pluker example to bind the values instead of the direct assignment which is already works, but the problem as described above, the component ignore the time part.

Please take a look at the updated example and try to enter an unvalid value like 30/10/2017 23:00
http://plnkr.co/edit/MzqRRCy0K7TEQT

[2016-06-16 15:15] flavordaaave commented on #6924
@jgw96 I wanted:
1) User opens modal
2) User navigates to second page INSIDE that modal
3) User can CLOSE the modal from the second page

As mentioned I already achieved this my creating a new navigation stack that is exclusively used inside the modal. SO you can see my plunk here to get an idea of what I wanted to achieve:
http://run.plnkr.co/plunks/sb1PBa/

I'm just not sure wether this is somet

[2016-06-16 15:25] evgeniynet commented on #6850
I confirm, problem with time exists 

За час рушится Вавилон!

Четверг, 16 июня 2016 г., 18:10 +0300 от notifications@github.com  <notifications@github.com>:

[2016-06-16 15:29] jgw96 commented on #6924
@flavordaaave It looks like my teammate is working on this, so i will discuss this with him and see what he has in mind. Thanks!

[2016-06-16 15:31] jgw96 commented on #6850
Sorry about that @oudzy ! I read the issue wrong. Looking at this issue again.

[2016-06-16 15:44] jgw96 commented on #6891
This issue is fixed for beta.9, so as soon as we release and update the conference app it should be fixed.  @mlynch in the meantime you can test with `ionic-angular@nightly` as the latest nightly has the fix for this issue. (:

[2016-06-16 15:51] jgw96 commented on #6857
Note: after some testing this seems to be isolated to ios. I cant seem to reproduce on any of my Android devices.

[2016-06-16 15:52] jgw96 commented on #6608
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-06-16 15:52] #6608 closed

[2016-06-16 16:11] mhartington commented on #6901
These are here to document the issue.
We will be addressing as we get further along in the beta trials

[2016-06-16 17:09] herbzi commented on #6935
I also had this issue, I reverted to angular rc1 assuming that ionic doesn't support rc2 yet. I just changed "^2.0.0-rc.2" to "2.0.0-rc.1", deleted node_modules and reinstalled.

[2016-06-16 17:34] #6894 closed

[2016-06-16 17:35] adamdbradley commented on #6894
While we're at it, let's make this a standard across all inputs.

[2016-06-16 18:38] herbzi commented on #6935
I had the same reflective_provider error, I just assumed that ionic doesn't support angular rc2 yet, I changed "^2.0.0-rc.2" to "2.0.0-rc.1" deleted node_modules and reinstalled and it started working. I even have the same error on beta. 9 which I would have thought would support rc2.

[2016-06-16 18:39] jgw96 commented on #6931
Hello, thanks for opening an issue with us! We will be doing some testing with our own windows 10 devices and i will get back to you with the details once that is done. Thanks for using Ionic!

[2016-06-16 18:42] jgw96 commented on #6935
Hello all! This issue looks like it is because of a change in Angular 2 rc2. As rc2 was just released yesterday we are currently planning for the next release of ionic 2 to be on Angular 2 rc2. I will be keeping this issue open as a tracking issue. Thanks for using Ionic!

[2016-06-16 19:13] chmln commented on #6875
+1

[2016-06-16 19:19] Artfloriani commented on #6931
Great! I'm having a few other issues with Windows 10 Mobile but I believe some are things from the Edge engine. Curious about your results :+1:

[2016-06-16 20:16] iignatov commented on #6918
I'm just referencing the related forum discussion for more details: [https://forum.ionicframework.com/t/54511](https://forum.ionicframework.com/t/popover-dismiss-causes-rangeerror-maximum-call-stack-size-exceeded/54511)

[2016-06-16 20:58] jgw96 commented on #6918
Thanks @iignatov

[2016-06-16 21:41] GaurishNRane commented on #3794
Same issue over here to..
Is this a bug or it is out of scope of collection-repeat (It is not met to do this)
Do any one have at least tempory fix to this

[2016-06-16 21:42] william-beange-hs commented on #2501
+1

[2016-06-16 21:55] cmyip commented on #5734
Was able to implement webworker by copying the JS file into the www/build folder. anyone care to write a wrapper/hook to pull worker js files?

[2016-06-16 22:44] n00b42 opened #6938 "Ionic2 : ion-input Problem with formControlName (former: ngControl) with @angular/forms"
I used to use ion-input with ngControl together with ngFormModel and FormBuilder.
Starting with "rc.2" angular warns to use the new form logic, which will be removed in "rc.3". [(Reference)](https://docs.google.com/document/u/1/d/1RIezQqE4aEhBRmArIAS1mRIZtWFf6JxN_7B4meyWK0Y/pub)

Therefore I tried to use the new logic like in the following example:
[code]
Which results in:

the 'input' works fine,

[2016-06-17 01:29] frederikschubert commented on #5734
How did you manage to bootstrap the ionic app in a web worker? They are accessing the Dom when bootstrapping which is not possible in a worker.

[2016-06-17 01:29] ghenry22 commented on #6894
awesome! Then I can pull out my range debounce code :)

[2016-06-17 01:31] ghenry22 commented on #6925
it's the .map files that are missing, not the js files themselves. I see exactly the same, it doesn't seem to affect functionality at all but it would be good to note have errors being thrown in the console.

[2016-06-17 04:21] danbucholtz commented on #6790
Hi @mark-veenstra,

I figured out your issue.  The details view should be `app.tab.contactDetail` instead of `app.tab.contact.detail` since `app.tab.contact` is not an abstract view.  That's why you didn't receive the event correctly.

See the commit here with the changes I made to your project.
https://github.com/danbucholtz/ionic_6790/commit/7d5f1214d3c25a3c923baa78b15941ce01d9e248

Thanks,
Dan

[2016-06-17 04:57] danbucholtz commented on #6924
The best bet at this time is going to be passing the `ViewController` from the Nav page to the child pages either via a service or via NavParams.

[code]

[2016-06-17 05:03] chandanch commented on #6935
Hello, Thanks @herbzi @jgw96 I was able to resolve the issue I changed it to **2.0.0-rc1** and it worked, Also change the **rxjs** version to "**5.0.0.beta-6**".

Here is my updated **package.json** file for reference:

`{
  "dependencies": {
    "@angular/common": "^2.0.0-rc.1",
    "@angular/compiler": "^2.0.0-rc.1",
    "@angular/core": "^2.0.0-rc.1",
    "@angular/http": "^2.0.0-rc.1",
    "@a

[2016-06-17 05:47] incorelabs commented on #6207
This is still an issue with IE and Edge, the workaround I found was to,
[code]

This workaround will probably work in all browsers. But if you want to be specific IE and EDGE, you could probably browser detect it. Although people do say browser detection is a bad habit.

[2016-06-17 06:46] LightZam commented on #6875
+1

[2016-06-17 07:37] DeNnYlAi opened #6940 "BUG: $ionicHistory.removeBackView()"
from the history.js

this line:
`self.clearCache([backView.viewId]);`

viewId should be change to stateId

like this:
`self.clearCache([backView.stateId]);`

[2016-06-17 07:56] mark-veenstra commented on #6790
Dan,

This is not how `ui-router` works to our opinion. I have updated the CodePen ( http://codepen.io/mark-veenstra/pen/oLLXpZ?#) and added a deeper route.
The "BACK" button needs to go back one page and not go back to the "app.tab.contact". Each dot in a route let's `ui-router` know that it is a child route. Therefore ui-router knows how to route back. You can also see it in the definition of th

[2016-06-17 08:18] DavidWiesner commented on #6877
The problem occurs even if ion-list has any parent element:
here is a plunker with a toggle where you can switch between this tow scenarios.
http://plnkr.co/edit/quAFRkyM9B9pxpFU69Fo?p=preview

[2016-06-17 08:18] spanning commented on #284
Any news on this one? I have the same issue with the latest ionic and xwalk

[2016-06-17 08:46] DavidWiesner commented on #6877
found the solution:
[code]
See index.html in
http://plnkr.co/edit/7cj5DfOnGGmi6ss94c3a?p=preview

[2016-06-17 09:07] mpaland opened #6941 "bug: Button click handler fired upon item sliding"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>desktop</span>  <span ionic-webview>browser</span>

<span ionic-description>Issue is introduced in v2beta9.
Testing the following virtualsrcoll list:
[code]

Problem in desktop browser (Edge/FF47):
- Click and hold mouse button to swipe left
- Upon releasing the mouse button

[2016-06-17 09:23] mpaland commented on #6766
v2beta9 tested on desktop browsers (Edge/FF47).

Redraw is slightly better but has unfortunately still issues:
Listview is empty (not redrawn) if the browser scroll thumb is moved fast to a new position.
I guess there is a big jump in the item index then, which is not handled correctly. Moving the scroll wheel afterwards redraws the list immediately.

Please add label 'desktop' to this item.

[2016-06-17 09:32] chandumunna opened #6942 "i have a third party libraries issue with ionic 2"
I have a problem with third party libraries.....
1. install the npm module in my project then typings -g install into my project.
2.After that typing search pickadate and install typings of pickadate in my typings folder of my project..
and import to my js file with import pickadate from 'pickadate';
3. But it can be went to can Error: **Cannot find module 'pickadate' from**

so please help.... th

[2016-06-17 09:39] royipressburger commented on #6613
@brandyscarney  @jgw96  any news regarding this issue?

[2016-06-17 09:42] phoenix3008 commented on #6877
I tried and it really solved the problem..
I don't know why the problem occurs.. but for now this is a good solution

Thank you @DavidWiesner

[2016-06-17 09:45] andmar8 commented on #2501
I'm finding that even "with" $ionicConfigProvider.scrolling.jsScrolling(false); on ios I "still" can not scroll horizontally.... "sometimes". It's a really weird temperamental bug. I can happily scroll vertically, but whether the app will let me horizontal scroll seems to be a matter of luck. I haven't figured out yet what I'm doing that allows me to scroll horizontally "sometimes"?

[2016-06-17 09:59] flavordaaave commented on #6924
@danbucholtz This is not working either (see: http://run.plnkr.co/plunks/FuN9F8/ => 3rd button on second page)
There I also get the error:
[code]

So far the only way to achieve the desired behavior is to create a new NavStack for the Modal itself:
http://run.plnkr.co/plunks/sb1PBa/

[2016-06-17 10:18] fbrcdx opened #6943 "Annoying short screen blinks with some ion-cards + Loading box - Only iOS - Ionic 2 beta 9"
Only on iOS device or iOS simulator, when I present a Loading box from a page containing a bunch of ion-cards, the page blink shortly.
This seems to only happen if cards exceed screen height (scroll active).

Ionic version : **Ionic 2 beta 9**
Platform : **iOS**

**Steps to reproduce:**
1. Create a new Ionic 2 TS project
2. Use the following files
3. Simulate or run on iOS device then click "Show

[2016-06-17 10:55] BenjaminDieter commented on #6922
Ionic uses WebPack, which allows us to use `require()` or `import`.

**Require:** _(did not work for me because of missing typings which I didn't want to include)_
[code]

**Import:**
[code]

**Source:** [Component-Relative Paths in Angular 2](http://blog.thoughtram.io/angular/2016/06/08/component-relative-paths-in-angular-2.html) on ThoughtRam. Thomas Burleson describes how to achieve the ability

[2016-06-17 11:42] Emeryao opened #6944 "ionic2 <button> needs click twice in <ion-item> besides a <ion-input>"
* a button needs to be clicked twice if it is located in a ion-item besides a ion-input with html below:
[code]
* [plunker](https://plnkr.co/edit/L083Di?p=preview) for this issue.

**Steps to reproduce:**
 1. input something in the `<ion-input>`
 2. click the button besides the `<ion-input>`
 3. there will be two clicks until the button clicked

* this issue seems like that: the first click is bri

[2016-06-17 11:47] kingstakh commented on #5101
+1

[2016-06-17 11:53] fuhongbo opened #6945 "ionic2 bug (picker) sometimes throw an exception "Error in in ./PickerColumnCmp class PickerColumnCmp - inline template:0:215""
ionic2 version : beta 9
IOS version : 9

this exception is not get every time,only get it if quick call picker.

if angular enable prd mode, this exception gone, but this ok button stop work.

who know what's the reason?

Exception detail:

ViewWrappedException = $1
_context: DebugContext {_view: DebugAppView, _nodeIndex: 0, _tplRow: 0, _tplCol: 215, …}
_originalException: ExpressionChangedAfterIt

[2016-06-17 12:38] chandanch opened #6946 "Styles not working with srcdoc attribute of iframe in ionic-angular2.0.0.beta9"
Hello, I updated to ionic-angular2.0.0.beta9 and there are some issue with loading the styles within the scrdoc attribute of iframe: The style doesn't load. However it was working in ionic-angular2.0.0.beta6 Here my Implementation:

**page.html**

[code]

**page.ts**

[code]
This will only show the html but doesn't add the styles. What could be the issue for this? Are there any alternatives way to

[2016-06-17 13:34] shivenigma commented on #4849
This issue is driving me crazy, How did the team let this issue without fixing this at first hand. I made ugly hacks and those hacks affecting other parts of my app in android and ios. I am going to think about using ionic in my next app, its features are great but have fundamental flaws like this.

[2016-06-17 13:55] victordias opened #6947 "[TABS] when back button is pressed, it is returning to previous tab selected."
As tabs are set to be root pages, when hardware back button is press, normally  it exit the application. But now it is creating a history and hardware back button is pressed, it goes back to previously selected tabs.

The problem can be seen in the tabs template of ionic 2 using typescript.

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/1564506/16153554/3a006ca6-347d-11e6-99

[2016-06-17 13:59] alexweber opened #6948 "Ionic 2 - Allow custom components for the Select input."
#### Short description of the problem:
At the moment we can pick between the default Alert style or a Popover style for the Select component, which is nice, but it'd be even nicer to do something more robust like show a list with toggles or checkboxes to get a richer display with icons, additional info etc (think of picking a contact from address book for example).

#### What behavior are you expe

[2016-06-17 14:23] jgw96 commented on #6938
Hello, thanks for opening an issue with us! We have not upgraded Ionic 2 to Angular rc2 yet but plan on doing so soon. Until then please use Angular rc1 for the best experience. Thanks for using Ionic!

[2016-06-17 14:24] #6938 closed

[2016-06-17 14:26] jgw96 commented on #6945
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-17 14:29] danbucholtz commented on #6790
Hi @mark-veenstra 😄 ,

Thanks for the detailed explanation.  At this time, I don't think we're going to make any changes to the framework.  Navigation is very tricky in V1, so we are hesitant to make any changes there.  The solution I provided should solve the problem for you.

Thanks,
Dan

[2016-06-17 14:29] #6790 closed

[2016-06-17 14:32] danbucholtz commented on #6924
Hi @flavordaaave,

Can you explain what you're trying to do in detail?  I am not sure I understand.  Typically if you want to navigate pages within the modal, you'll want to create a new `ion-nav`.

This code in our end to end tests should show you approximately how to do that.

https://github.com/driftyco/ionic/blob/2.0/src/components/modal/test/basic/index.ts#L44

I can help further once I bette

[2016-06-17 14:32] jgw96 commented on #6942
Hello! Thanks for opening an issue with us! As this seems like more of a support question i will urge that you ask this question on our forum (forum.ionicframework.com) or on pickadate's github or forums. Thanks for using Ionic!

[2016-06-17 14:32] #6942 closed

[2016-06-17 14:33] jgw96 commented on #6935
Awesome! Glad to hear that fixed it for you. Thanks for using Ionic!

[2016-06-17 14:33] #6935 closed

[2016-06-17 14:37] brandyscarney commented on #6944
Thanks for the issue! This isn't an exact duplicate of #6514, but they are both caused by the same problem which is that you have to blur the input in order to click the button.

[2016-06-17 14:40] jgw96 commented on #6922
Hello @BenjaminDieter we actually use browserify for Ionic 2 (we used to use Webpack). @michaelknoch i will speak with some of our build team and see if they have an answer for this question. Thanks for using Ionic!

[2016-06-17 14:41] juarezpaf commented on #5073
@manucorporat way to go buddy! Keep up the amazing work guys!

[2016-06-17 14:44] jgw96 commented on #6941
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-17 14:44] danbucholtz commented on #6948
Hi @alexweber,

Not saying we will or won't do this long term, but in the short term it shouldn't be too challenging to do something like this yourself.  It's pretty easy to extend ViewController (like Modal, PopOver, Alert, Select, etc) and make your own component.

Thanks for the idea!

Thanks,
Dan

[2016-06-17 14:47] flavordaaave commented on #6924
@danbucholtz See my comment here: https://github.com/driftyco/ionic/issues/6924#issuecomment-226516952 that is what I wanted to achieve. In this comment I've also added another plunkr (https://plnkr.co/edit/sb1PBa?p=preview) where I already present a component with an `ion-nav`.

As mentioned earlier I was just not sure wether this is the correct way because closing the modal from the second page

[2016-06-17 14:47] #6924 closed

[2016-06-17 14:50] danbucholtz commented on #6924
w00t, Glad to help!

Thanks,
Dan

[2016-06-17 14:51] danbucholtz commented on #6891
Let's re-open this if we find it's still an issue, but this should be resolved due to the app enable/disable changes in beta 9.

Thanks,
Dan

[2016-06-17 14:51] #6891 closed

[2016-06-17 14:52] juarezpaf commented on #6862
@brandyscarney it would be nice to have an option to have the default select behavior inside of `<ion-select>`, because the user needs to tap one more time in the "Ok" button to select the option.

[2016-06-17 14:53] brandyscarney commented on #6946
@chandanch Is there a typo in your code? You're setting the `srcdoc` to the `tableData` variable but you're showing us a `htmlData` variable.

[2016-06-17 14:53] jgw96 commented on #6948
Hello @alexweber, thanks for opening an issue with us! It is actually currently possible to put a select element in a modal along with checkboxes, toggles etc and then either pass the selected data back to the previous page as a parameter of the `onDismiss` event that gets fired when the modal is dismissed, or using an eventEmitter. Thanks for using Ionic!

[2016-06-17 14:53] #6948 closed

[2016-06-17 14:54] brandyscarney commented on #6862
@juarezpaf I'm not sure I understand. Is there an issue open for this?

[2016-06-17 14:55] jgw96 commented on #6613
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-17 15:07] jgw96 opened #6949 "Upgrade to Angular 2 rc2"
#### Short description of the problem:
Angular rc2 includes some fixes that enables tree-shaking to finally work in webpack 2 like it is supposed too. This will help us tremendously with our new build chain.

**Which Ionic Version?** 2.x

[2016-06-17 15:12] danbucholtz commented on #6857
Hi @MattDHill,

I'm not sure what I'm supposed to be seeing, but here's how it looks on my iPhone.

https://drive.google.com/open?id=0B7Xofj71-_MbM0dONFA3ZUlLcFE

ActionSheet opening looks correct as well.  Note:  I did comment out your getLocation function so it looks like this:

[code]

[2016-06-17 15:15] danbucholtz commented on #6857
I do see the ActionSheet flashing issue with UIWebView via Cordova.  I don't see it in Safari (WKWebView) so that's good news.  I don't see the Nav flashing issue in either.  I'll get started on the action sheet issue for now.

[2016-06-17 15:31] wkaskie commented on #1859
I am also having the same issue. Class slide-in-up does nothing on ion-nav-view

[2016-06-17 15:50] leschirmeur commented on #4849
@shivenigma Try the directive I posted above on the <ion-content> element. It's working quite well for us, no blank screen issues anymore. Pasting updated code below, which removes screen flicker when hiding keyboard.

[code]

[2016-06-17 15:56] manucorporat opened #6950 "Sliding item: (click) event is fired when it should not"
#### Short description of the problem:
![jun-17-2016 17-44-42](https://cloud.githubusercontent.com/assets/127379/16156464/ad770e92-34b4-11e6-860d-af102b613bd0.gif)

#### What behavior are you expecting?
(click) even should not fire when the item has been swiped.

**Steps to reproduce:**
1. Desktop only (mouse events)

[2016-06-17 16:03] alexweber commented on #6948
@jgw96 Hi, thanks for replying, I realize I can do this myself and I actually am doing something similar to work around it with a modal but what I couldn't achieve was a clean way to integrate it with the ion-select element.  I wanted to listen on click and open my modal instead but haven't been able to cancel the default behavior of the select opening.  I think i'll have to create my own custom s

[2016-06-17 16:16] jgw96 commented on #6941
Hello! Thanks for opening this issue with us! We are already aware of this issue and will be fixing it. You can follow the progress on [this](https://github.com/driftyco/ionic/issues/6950) issue. Thanks for using Ionic!

[2016-06-17 16:16] #6941 closed

[2016-06-17 16:16] reverdin opened #6951 "DateTime doesn't handle seconds"
I tried to put a DateTime as following:
`<ion-datetime displayFormat="HH:mm:ss" pickerFormat="HH:mm:ss"></ion-datetime>`

The picker only show two column (hour and minutes) and the displayed value is "13:20:ss" if I select 13 for the hours and 20 for minutes.

[2016-06-17 16:18] mpaland commented on #6950
Here's the according plunk: http://plnkr.co/edit/Ire4uEqc1Kxwmje7L0k1?p=preview

[2016-06-17 16:19] jgw96 commented on #6951
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-17 16:29] jgw96 commented on #5380
Hello! Thanks for opening an issue with us! We do not plan on making any changes to how ionic 1 handles the keyboard or scrolling at this time, and since there is a workaround for this i will be closing this issue for now. Thanks for using Ionic!

[2016-06-17 16:29] #5380 closed

[2016-06-17 16:45] reverdin commented on #6951
Never used plunker but can give  a try later.

I am using a blank starter with beta2 and typescript.

I just putted the following code in the content fo  the home.html file:
`<ion-item><ion-datetime displayFormat="HH mm ss" pickerFormat="HH mm ss"></ion-datetime></ion-item>`

Using Ionic Framework Version: 2.0.0-beta.9

Here is a screenshot of my browser with ionic serve
![blank_starter_et_home_ht

[2016-06-17 16:47] brandyscarney commented on #6899
This will be fixed in the `beta 10` release! Thanks again. :smile:

[2016-06-17 16:47] #6899 closed

[2016-06-17 16:57] zanemcca commented on #6661
+1

[2016-06-17 17:17] Geoffrey-D commented on #6918
Hello,

I have the exact same issue that @ehussain . Everything work fine on browser, but when I run it on my android, I have the following error when I close the popup :

Uncaught EXCEPTION: Error in ./PopoverCmp class PopoverCmp - inline template:0:14
ORIGINAL EXCEPTION: RangeError: Maximum call stack size exceeded
ORIGINAL STACKTRACE:
RangeError: Maximum call stack size exceeded
    at Object (

[2016-06-17 17:34] jabas06 opened #6952 "Turorial starter is still using @Page instead of @Component"
#### Short description of the problem:
Tutorial starter is still using @Page instead of @Component

**Steps to reproduce:**
1. run ionic start MyIonic2Project tutorial --v2
2. open the list.ts file
3. @Page decorator is present

**Which Ionic Version?** 1.x or 2.x
2.beta9

[2016-06-17 17:48] vjangari opened #6953 "pipe on arrays are not working"
**Note: If you are having problems formatting your issue please refer to this article on using markdown in Github:**

https://guides.github.com/features/mastering-markdown/

**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:
I am trying to apply custom pipe on array, whic

[2016-06-17 18:18] william-beange-hs commented on #2501
@andmar8 I am having the same problem. Parent vertical scrolling is not working from within child element with horizontal scrolling.
I've prototyped what I'm trying to achieve here: http://play.ionic.io/app/11a919492a31

[2016-06-17 18:59] jgw96 commented on #6951
Hello @reverdin i was able to reproduce this issue here: http://plnkr.co/edit/J8qPI5vCdU4ICgaKVMlg?p=preview

[2016-06-17 19:16] jgw96 commented on #6952
Good catch @jabas06 ! I just committed a fix for this so if you just run `ionic start MyIonic2Project tutorial --v2` again it will generate a project that is correct. Thanks for using Ionic!

[2016-06-17 19:16] #6952 closed

[2016-06-17 19:18] jgw96 commented on #6953
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-17 19:22] jgw96 commented on #6940
Hello! While we appreciate you opening an issue with us i am going to close this issue and ask that you open a new one that has the issue template filled out please. Thanks for using Ionic!

[2016-06-17 19:22] #6940 closed

[2016-06-17 19:22] jabas06 commented on #6952
In fact, the issue is present in all the pages, not just in lists.ts

Thank you

[2016-06-17 19:48] jeromeXoo commented on #6953
Hi,

did you try wihout parenthesis?
`let item of checkList | itemFilter:true; `

[2016-06-17 20:13] sam1019 opened #6954 "Ionic 2: Inappropriate behaviour when dismissing alert which is on top of a modal"
I have a modal for editing or deleting item. When user want to delete the item, I show a confirm alert asking if user is sure about the delete.

Once user click "yes", I call the delete function and **this.viewCtrl.dismiss()**. Then the confirm alert dismissed. However, the modal is still there. And user have to click twice on the screen so that the interaction with the UI will recover. Maybe ther

[2016-06-17 20:18] jgw96 commented on #6954
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-17 20:27] seand88 commented on #4986
@mhartington  same issue, blog is out of date, used same fix keith did to get it working. Mine also says that the --ambient tag is now depreciated....

[2016-06-17 21:07] mpaland opened #6955 "bug: Side menu closing has visual problem in Edge"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>desktop</span>  <span ionic-webview>browser</span>

<span ionic-description>Run the following plunker in Edge browser on Windows:
http://plnkr.co/edit/nMWUDuqdPs6pxuhjQM2V?p=preview

Problem:
Open page 1 and on page 1 the side menu. When closing the side menu a black backgro

[2016-06-17 22:12] juarezpaf commented on #6862
@brandyscarney not yet! I'll open one this weekend. Thanks a lot.

[2016-06-17 22:38] royipressburger commented on #6613
@jgw96 dont think plunker is relvant here since I was able to reproduce this only on android device  (didnt test it on ios). Tell me if you still need a plunker example

[2016-06-17 22:39] aldo-roman commented on #6949
JIC, Slider is broken when I upgraded to Angular 2 RC2 today (friendly noticer)

[2016-06-17 22:45] michaelknoch commented on #6922
I made some experience with https://github.com/ludohenin/gulp-inline-ng2-template. Maybe rendering referenced templateurl and style files inline is a solution @jgw96

[2016-06-18 01:46] architruc commented on #6933
Thanks for this example, it works well.

Personally, I still see it as a workaround, not very natural, since the page load is interrupted by the modal (at least kept hidden even after dismiss) if the modal is displayed too early (it is a kind of popup, not a new page), and I don't remember it is an expected behavior described in the documentation.

The [sample for ionic2/angularfire2](https://gith

[2016-06-18 02:53] malvarezhcr commented on #5883
Hi Everyone. Did anyone find a fix for this? I am currently using Ionic 2@beta.9 and the problem is still present!

[2016-06-18 03:22] manucorporat commented on #6950
@mpaland hi! I understand this is a very important issue, I am working on a fix.
https://github.com/driftyco/ionic/pull/6937
^ this PR will introduce a new UIEventManager that will help to fix this issue.

[2016-06-18 03:28] manucorporat commented on #5595
@lefnire @djangojack @2arcz6 check out the progress here:
https://github.com/driftyco/ionic/pull/6937

[2016-06-18 04:49] danbucholtz commented on #6954
Are you dismissing both the `Alert` and the `Modal`?  Both are separate view controllers pushed on to the stack.

Thanks,
Dan

[2016-06-18 05:20] adamdbradley commented on #5556
Thanks for the report, this should be fixed in the next release. Thanks!

[2016-06-18 05:20] #5556 closed

[2016-06-18 06:25] rossmartin commented on #6257
@jgw96 This appears to be fixed in beta.9

I used to need a have a hack to fix this issue but it is no longer needed.  I updated to beta.9 and no longer need it.  Thanks 🍻

[2016-06-18 07:12] chandanch commented on #6946
Sorry my mistake it should be htmlData here is the Updated Code:

**page.html**
[code]
**page.ts**

[code]
**package.json**

[code]

I tried with the inline style as but did not work in **ionic-angular2.0.0.beta9**, But Worked in **ionic-angular2.0.0.beta6**. On the chrome browser logs I get this messages:

What could be the issue for this?

[2016-06-18 07:14] patrickhofer commented on #2990
@tomchambers2 What can I do, if even the error alert box doesn't show up?

[2016-06-18 08:40] tomchambers2 commented on #2990
@patrickhofer Try putting an alert('cordova app running') in the very first line of your index.html. If that doesn't show up you'll know that it's not to do with the javascript execution but the cordova app itself starting (i.e. a config/objective C issue).

[2016-06-18 09:52] navid045 opened #6956 "Ionic2 The ability to disable changing knob with tap"
#### Short description of the problem:

In some cases when we want to scroll a list of range items, It makes unwanted changes on range controllers due to scrolling the list.
#### What behavior are you expecting?

It seems good if we could disable range changing with tap on line of range controller or add the ability to change with press (long touch) or change the range with only dragging the knob.

[2016-06-18 09:52] jmarginier opened #6957 "Feature request (ionic v2): support icon and badge in ion-segment-button"
**Short description of the problem:**

Using an icon in "ion-segment-button" breaks the CSS. Moreover, it would be convenient to have a badge system like tabs (cf #6636).

Code example :

[code]

**Which Ionic Version?** 2.x beta 8
Tested under android and browser.
![test](https://cloud.githubusercontent.com/assets/5184546/16170203/25bb83ce-354b-11e6-928c-741e124e5b72.png)

[2016-06-18 10:33] neelima-appzop commented on #1110
i have spent ages trying to figure out why some list elements are hiding. Big bow for this solution Mr.robdmoore

[2016-06-18 10:44] beck24 commented on #5883
I too seem to have run into this

[2016-06-18 11:11] efishman15 commented on #6401
Hi Justin,

I just upgraded to ionic 2 beta 9 and problem is resolved!
Issue can be closed.

Thanks,
Eddy

[2016-06-18 11:21] manucorporat commented on #6401
I think it was fixed here: https://github.com/driftyco/ionic/commit/0c885899bca2b1e7ed6fa85377edb7ecf1a682b8

[2016-06-18 11:22] chocolei commented on #5101
+1

[2016-06-18 12:05] vk2sky opened #6958 "ion-item-sliding doesn't slide if Chrome Dev Tools is open"
#### Short description of the problem:

<ion-item-sliding> component doesn't slide in Chrome if Dev Tools are open

#### What behavior are you expecting?

List element should slide regardless of state of Dev Tools

**Steps to reproduce:**
1. Create page with the template below
2. With Chrome Dev Tools closed, verify that sliding the SLIDE ME list item to the left reveals clipboard and  trash optio

[2016-06-18 12:24] evanjmg commented on #3655
Any update on this issue? It's pretty important in order to keep code maintainable and reusable.

[2016-06-18 13:29] dylanvdmerwe commented on #6957
Similar to https://github.com/driftyco/ionic/issues/6636

[2016-06-18 13:31] dylanvdmerwe commented on #6949
@aldo-roman: rather don't change angular dependencies yourself. Wait for the team to make a release and stick with the angular dependencies they set for each release.

[2016-06-18 13:46] tolgamalachi commented on #5929
same issue.
creating modal like this:
[code]
normally the lifecycle `onPageWillEnter()` works perfect with all the other pages.
the modal itself is also a page btw. so nothing special there.
but since this sounds like a big issue, i do not know whether i did a mistake.
the constructor itself is called everytime it should be called.

[2016-06-18 17:02] mirkonasato opened #6959 "Use @Inject instead of static get parameters()"
Ionic 2 starter projects currently uses `static get parameters()` in esnext code as a workaround for the lack of parameter decorators in Babel. See e.g. [Adding Pages](http://ionicframework.com/docs/v2/getting-started/tutorial/adding-pages/) in the tutorial.

Parameters decorators should now work using the _babel-plugin-angular2-annotations_: see https://github.com/shuhei/babel-plugin-angular2-ann

[2016-06-18 18:05] mirkonasato commented on #6959
Just noticed that the [latest ionic-cli](https://github.com/driftyco/ionic-cli/blob/v2/CHANGELOG.md#200-beta31-2016-06-13) only supports typescript. So this doesn't matter any more.

[2016-06-18 18:05] #6959 closed

[2016-06-18 18:35] manucorporat commented on #6959
@mirkonasato yeah! we took the decision to drop js support, since TS is a superset of JS it's up to developers to use the new features introduced.

This way we can concentrate our efforts of documentation, demos and testing.

[2016-06-18 18:38] brandyscarney commented on #5164
Thanks for the issue! This will be fixed in the beta 10 release.

[2016-06-18 18:38] #5164 closed

[2016-06-18 19:00] mirkonasato commented on #6959
@manucorporat good decision 👍

[2016-06-18 20:27] ladmerc commented on #6825
I can confirm I'm experiencing the same. I experience about 3-5 seconds flicker before transition.

@elineopsommer How did you implement the sliding tabs? I need that feature :D

[2016-06-18 20:44] ladmerc commented on #4563
Yup, me too

[2016-06-18 21:55] lain-me opened #6961 "VirtualScroll last element at top in v2"
When list with virtual scroll is loaded last element is on top (if scrolled to bottom it disappears).

[Plnkr here ](http://plnkr.co/edit/iDoqSUX4zFsbuBhLEI7p?p=preview)

[2016-06-19 01:38] aaronchen2k opened #6962 "Need to click n+1 times in a list"
I dev a mobistore webapp and using iphone6 safari to open it.
In home list page, first time, I click product item once, it took me to the detail page.
After back to home page, I need to click twice to goto detail. After click and back for n time, I need to click n+1 times to goto the detail.

Demo URL: http://101.200.189.57:13333/c/

[2016-06-19 01:54] aaronchen2k opened #6963 "How to minimize built app.bundle.js file size if I only need run it on a browser?"
How to minimize built app.bundle.js file size if I only need run it on a browser?
Can I drop some css, font and js files?

[2016-06-19 03:59] vk2sky commented on #6958
For what it's worth, I thought that maybe Chrome Dev Tools was hijacking drag events, but this appears not to be the case. For example, the demo page for ng2-dragula (http://valor-software.com/ng2-dragula/) works even when Dev Tools is open.

[2016-06-19 04:47] lohanidamodar commented on #6912
I am having same problem! Any solution?

[2016-06-19 09:23] mnasyrov commented on #6923
As a workaround I manually trigger rebinding logic of Segment component after updating my view state:

[code]

[2016-06-19 11:32] mpaland commented on #6961
I can confirm this. I just haven't had this problem yet, cause I was always using a sliding item, like:
[code]
which is working fine.
So problem must be in virtual scroll together with a normal ```<ion-item>```.

[2016-06-19 11:48] konsultaner commented on #5734
+1 to let ionic run in a web worker

[2016-06-19 12:05] AbdullahDahmash opened #6964 "Cannot Create Javascript Project in ionic 2"
Hi
I just started working today and I couldn't create javascript project

I tried
[code]

All my files are in .ts

[2016-06-19 12:20] kitkimwong commented on #6964
same problem here +1

[2016-06-19 12:22] ameni26 opened #6965 "ionic 2 pop with parameters"
hello I want to use pop() to return to the parent page and pass a parameter string
is that possible in ionic 2
thank you :+1:

[2016-06-19 12:57] manucorporat commented on #6964
@AbdullahDahmash @kitkimwong JS option has been removed, since we are going to focus our efforts to support Typescript.

Since TS is a superset of JS, it is up to developers to use the new features or not. We strongly recommend to give TS a try, decorators and types help a lot while using angular 2.

[2016-06-19 12:57] #6964 closed

[2016-06-19 13:02] manucorporat commented on #6963
@aaronchen2k Hi! we are taking care of this. we are working right now in a new build chain: https://github.com/driftyco/ionic/issues/6859#issuecomment-225361039

I will close this issue, since we use Github Issues as a way to track real issues not questions, please feel free to open a topic in our forum: https://forum.ionicframework.com

[2016-06-19 13:02] #6963 closed

[2016-06-19 13:23] manucorporat commented on #6965
@ameni26 maybe you should use a modal.

[2016-06-19 13:32] ameni26 commented on #6965
how can I use a modal please :)
is there something simple in ionic2 like that

 this.nav.popTo(this.viewCtrl, {
 param1: p1,
 param2: p2
 });

[2016-06-19 13:52] natevecc commented on #6922
Is there a way this could be handled by the @Component's moduleId property instead of inlining the html/css? https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html#!#moduleId-anchor

[2016-06-19 16:23] sdsanders opened #6966 "button-icon-only class incorrectly added to button that contains data binding"
#### Short description of the problem:
Buttons that have data binding inside of them (`{{'data'}}`) and an icon incorrectly get the `button-icon-only` class.

**Steps to reproduce:**
[code]
Results in the following rendered html:
[code]
Notice the `button-icon-only` class that should not be there.

**Which Ionic Version?** 1.x or 2.x
Ionic 2.0.0 beta 9

#### Plunker that shows an example of your i

[2016-06-19 16:26] vjangari commented on #6953
I tried but not working.

[2016-06-19 16:48] manucorporat commented on #6966
@adamdbradley @jgw96 confirmed this is an issue. we have should refactor the Button class to start a more "angularish" approach by using @ViewChild etc. right now. it does not work if we add/remove icons/text dynamically.

[2016-06-19 16:53] mpaland commented on #6965
@ameni26 And how do you want to retrieve the param string on the parent page?
If you push a page on the nav stack, the push (or present) function returns immediately.

As @manucorporat said, use a modal dialog page, this may be the right pattern for you.
Try:
[code]
And please use the  ionic v2 forum for requests like this.

[2016-06-19 17:08] vjangari commented on #6953
It is working for me. Sorry for the confusion

[2016-06-19 17:08] #6953 closed

[2016-06-19 18:26] manucorporat commented on #6965
yeah! checkout http://ionicframework.com/docs/v2/api/components/modal/Modal/
and @mpaland is right, please feel free to continue the conversation in the forum https://forum.ionicframework.com

I am going to close this :)

[2016-06-19 18:26] #6965 closed

[2016-06-19 18:35] lygstate commented on #6923
@mnasyrov Can you modify your hot fix works with the fork of
http://plnkr.co/edit/Or0Ik1S1HtvUVq3YYdhC

[2016-06-19 19:22] arjuncfe opened #6967 "select option not working"
I am using ionic 2 beta version and create simple app. After app creation i make android build my generated code. But select option not  open on android 4.1.1(Jelly bean ) Samsung mobile. How can all run this app on this version.

[2016-06-19 21:10] Daforest commented on #6540
@danbucholtz Tested on Beta9, this bug is not fixed

[2016-06-20 00:33] mnasyrov commented on #6923
@lygstate it's a rather trivial, I just copy-pasted the workaround above. http://plnkr.co/edit/GyCLkQ0aFgFpPr9QUSiO

[2016-06-20 02:26] bittusinghintruder commented on #3362
Any progress in the issue, I m facing a issue the complete view bounce if focused field is behind keyboard in iOS on every key stroke

[2016-06-20 03:59] Daforest commented on #6540
I'll admit, it's trickier to reproduce, but still possible.

Before:
![img_3067png](https://cloud.githubusercontent.com/assets/2014746/16182954/06cdc0dc-36ac-11e6-915c-8d6dbf01c712.jpg)

After:
![img_3068png](https://cloud.githubusercontent.com/assets/2014746/16182959/123c8386-36ac-11e6-8622-4e0af09b7239.jpg)

[2016-06-20 04:38] zygimantas commented on #5512
Will the ng2 router be used together with the NavController or we will have to choose which one to use?

[2016-06-20 05:26] RyanHow commented on #6601
Hey guys. I take it this is fixed in Beta 8? It seems to have been ok in beta7 for me, but now it 8 it's raised it's head. Maybe I'm just behind the times...

[2016-06-20 05:40] chandanch commented on #6946
I also created a fresh ionic2 blank project, It did not work there as well.

[2016-06-20 05:45] danbucholtz commented on #6540
@Daforest,

Can you make a video/gif of what you're doing to get into that state?

Thanks,
Dan

[2016-06-20 05:48] Will-Kim opened #6968 "bug: Suddenly app won't be shown when published."
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>1.x</span>

**Platform**: <span ionic-platform>mobile</span>  <span ionic-webview>browser</span>

<span ionic-description>2 weeks ago, I found my app wouldn't be clicked (ng-click event) after publishing it. Before the day, there was no problem like that.

So I removed all buttons and changed into a drawer menu structure

[2016-06-20 05:52] Daforest commented on #6540
@danbucholtz Sure, Ill try making one tonight. On a side note .. Following the "steps to reproduce" above, would create the same result.

[2016-06-20 05:54] videmort commented on #3362
@bittusinghintruder use overflow-scroll true in the ion-content to fix that.

[2016-06-20 07:56] awebdeveloper opened #6969 "Add arrow for picker"
**Note: If you are having problems formatting your issue please refer to this article on using markdown in Github:**

https://guides.github.com/features/mastering-markdown/

**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/
#### Short description of the problem:

On desktop the UI is confusing. I cant use scro

[2016-06-20 08:18] asd2766 commented on #6776
I use ionic2 build a mobile website, then I find when I use android 4.4 browser open it, it is very slowly. Have any good suggestions to me ?
website: https://zhaoxie.net/static/weixin/index.html
![image](https://cloud.githubusercontent.com/assets/16233393/16187353/5bb5af8c-3702-11e6-8cac-230fe057236e.png)

Cordova CLI: 6.1.1
Ionic Framework Version: 2.0.0-beta.6
Ionic CLI Version: 2.0.0-beta.31
I

[2016-06-20 08:40] manueltaber commented on #6623
Are there any chances that this feature is integrated in beta 10?
Thank you very much.

[2016-06-20 09:24] ladmerc commented on #1459
Got same issue today. Changing event handler to 'on-tap' worked.

[2016-06-20 10:38] flavordaaave commented on #6838
I think this is because of `translateZ` on some container elements. See:
http://stackoverflow.com/a/15885486/3325565

[2016-06-20 10:49] ladmerc commented on #6838
In my case, I solved the issue by moving the element to be fixed out of ion-content. Apparently ion-content scrolls whatever is in it

[2016-06-20 11:24] Luchillo commented on #6601
The first error about the `navbar` might be still there, but the error about blocking interaction was because i was overriding the modal enter and leave animations with `pop-in` and `pop-out`.

[2016-06-20 12:44] basvdijk opened #6970 "Value not showing up when using dynamic options in ion-select"
#### Short description of the problem:
`ion-select` does not accept dynamic options. E.g. when I have:

[code]

Where `option1`, `option2`, `option3` are variables defined in my class:

[code]

The same problem occurs when you are using ng2-translate with the translate pipe:

[code]

This is needed because the options are dependant on the language used in the app.

The `ion-select` stays empty whe

[2016-06-20 13:03] shivenigma commented on #4849
@leschirmeur  on which element I should use this directive? ion-content?

[2016-06-20 13:14] leschirmeur commented on #4849
@shivenigma yes

[2016-06-20 13:23] elineopsommer commented on #6825
@ladmerc I just used 2 ion-slides, one for the menu and one for the content, when the menu changes, you changes the content and vice versa ;)

[2016-06-20 13:24] jgw96 commented on #6968
Hello! Sorry that your having issues with Ionic. I just need a little more info from you so that I can narrow down the issue. What version of Ionic are you using? Can you recreate this issue in a plunker or a new project? Can you try uninstalling all the cordova plugins your project uses and then testing the app again?  Thanks for using Ionic!

[2016-06-20 13:27] jgw96 commented on #6962
Hello, thanks for opening an issue with us! I have just tested your app on my Nexus 6 using the latest stable version of chrome and I can't seem to reproduce this issue. Can you recreate this issue with a minimal example in a plunker? Thanks for using Ionic!

[2016-06-20 13:29] jgw96 commented on #6958
Hello, thanks for opening an issue with us! Does it happen only when you are using device emulation? Thanks for using Ionic!

[2016-06-20 13:29] ataraxus commented on #6148
I checked recently with

[code]
no progress so far :(

[2016-06-20 13:31] jgw96 commented on #6866
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-06-20 13:31] #6866 closed

[2016-06-20 13:32] jgw96 commented on #6893
Hello! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-06-20 13:32] #6893 closed

[2016-06-20 13:33] jgw96 commented on #6918
Hello @Geoffrey-D do you have a minimal example that I can use to test, like a plunker or test repo? Thanks for using Ionic!

[2016-06-20 13:33] jgw96 commented on #6852
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-06-20 13:33] #6852 closed

[2016-06-20 13:35] jgw96 commented on #6698
Thanks for the info @msimkunas ! I am having trouble reproducing this issue, and since the op has not responded to my request for a plunker example I will be closing this issue for now. Thanks for using Ionic!

[2016-06-20 13:35] #6698 closed

[2016-06-20 13:43] #6401 closed

[2016-06-20 13:49] Will-Kim commented on #6968
The following is ionic information. I'm not that expert for ionic
development. I'm just investigate 1 month and have almost done with my app.
Please let me know every possible solutions. How can I go back to previous
cordova version and how can I delete some cordova plugins or add those
again? Thank you for your fast response.

$ npm info ionic

{ name: 'ionic',
  description: 'A tool for creating

[2016-06-20 13:53] adamdbradley commented on #6847
We'll keep an eye on the style guide for any syntax differences, thanks.

[2016-06-20 13:53] jgw96 commented on #6967
Hello! Our Android support for Ionic 2 is the current latest stable release (6.0.1) back to 4.4.4, and 4.3 back to 4.1 with crosswalk. So for your application to behave correctly on Android 4.1.1 you will need to add crosswalk to your app. Crosswalk gives you a modern chrome webview that's has all the html5 support Ionic 2 needs, even on older versions of Android.  You can check out how to add cro

[2016-06-20 13:53] #6967 closed

[2016-06-20 14:06] mobidev111 commented on #4803
please re-open - I understand that you support windows 10 since 1.2:

"Windows 10 - Ionic 1.2 marks the first release with a new supported platform. Today, Ionic 1.2 supports Windows 10 and Edge, which runs on the new Windows Phone 10 platform." http://blog.ionic.io/announcing-ionic-1-2/

[2016-06-20 14:18] Artfloriani commented on #6197
I am still having this issue and trying to remove all the events as suggested by @apparition47 did not work. Any words on this issue?

[2016-06-20 14:25] Zenro45 opened #6971 "Clicking on DateTime delays and spams warning."
#### Short description of the problem:
Clicking on the Datetime picker delays by 1-2 seconds and spams 'WARNING: sanitizing unsafe style value' into the console during the delay.

#### What behavior are you expecting?
Datepicker to not delay and there to be no warnings in the console.

**Steps to reproduce:**
1. Insert the following into the template html file
```<ion-datetime displayFormat="MMM D

[2016-06-20 14:31] pjsb commented on #6949
I agree with that, but not totally. The sad thing is, Angular was changing the forms API heavily in RC2 which should not happen in an RC, in alpha or beta phase maybe ok. Both frameworks, Ionic and Angular are heavily hyped and pushed, none is really stable yet.

Many "users", like us, are implementing new piece of software, therefore it makes no sense to use V1. It is very bad and expensive, e.g.

[2016-06-20 14:31] jgw96 commented on #6957
Hello @jmarginier , thanks for opening an issue with us! I will be closing this issue as a duplicate of the issue @dylanvdmerwe linked too, but please feel free to post any feedback or info you have on that issue. Thanks for using Ionic!

[2016-06-20 14:31] #6957 closed

[2016-06-20 14:34] jgw96 commented on #6838
Hello @flavordaaave this will most likely be resolved a layout refactor we are currently doing. I will let you know more info when that refactor hits the 2.0 branch and i test it. Thanks for using Ionic!

[2016-06-20 14:42] aldo-roman commented on #6949
@dylanvdmerwe I know, I was just giving it a try. Everything worked again when restored to RC1.

[2016-06-20 14:58] jgw96 commented on #6949
Hello @pjsb . We do our best to keep up with the Angular team's updates, and we are usually behind by one version so that by the next beta we can do any changes done that need to be done on our end. We obviously have no issue with people upgrading to a new Angular release before we do, but we cannot guarantee that it will work 100 percent. Also, cant wait to see your pull request!

[2016-06-20 15:00] rodrigosilvape opened #6972 "Ionic + eCharts + WP8"
Good morning friends.

I'm working on an Ionic + eCharts application. This application works perfectly on Android and iOS, but WP 8.0 (in 8.1 normal works) the chart is fixed, can not interact with anything. Imagine a still image of the graph. Already researched several ways to fix this problem, but without success. Do you have any idea of a possible solution? Thank you.

**Ionic info:**
Cordova C

[2016-06-20 15:02] jgw96 commented on #6613
Hello @royipressburger, thanks but i was already able to reproduce this issue and will be investigating it more. Thanks for using Ionic!

[2016-06-20 15:03] Geoffrey-D commented on #6918
Hey @jgw96, here is the repo : https://github.com/Geoffrey-D/issue-6918-temp. Everything should be in there (I did it fast). Tell me if you have any issue with it

[2016-06-20 15:05] jgw96 commented on #6972
Hello, thanks for opening an issue with us! We do not currently support windows phone 8 so theres not much i can do to help with this issue, but i can suggest that you open a topic about it on our forums (https://forum.ionicframework.com/) or even StackOverflow. Thanks for using Ionic!

[2016-06-20 15:05] #6972 closed

[2016-06-20 15:18] battistaar opened #6973 "Content scrollToTop issue in v2"
scrollToTop() on Content component doesn't work on ios. The problem is in [scroll-view.ts](https://github.com/driftyco/ionic/blob/2.0/src/util/scroll-view.ts) in scrollTo method.
At line 51 when getting the actual scrollTop position it should call self.getTop() that takes care of the "js" check.
I changed it in my project and it seems to work.

[2016-06-20 15:20] jgw96 commented on #6973
Hello! While we appreciate you opening an issue with us i am going to close this issue and ask that you open a new one that has the issue template filled out please. Thanks for using Ionic!

[2016-06-20 15:20] #6973 closed

[2016-06-20 15:20] jgw96 commented on #6971
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-20 15:25] elineopsommer opened #6974 "Virtual scroll not working in ion-slides"
#### Short description of the problem:

Without the slider, the list behaves normally, but with the ion-slides, the content is not displayed correctly.
#### What behavior are you expecting?

Data shown correctly

**Steps to reproduce:**
1. Make slider
2. Make virtual list in slider

[code]

**Which Ionic Version?** 2-beta0.0.9
#### Plunker that shows an example of your issue

http://plnkr.co/edit/

[2016-06-20 15:27] jgw96 commented on #6968
Sorry about that, should have mentioned how to do all this in my first comment. To see what cordova plugins you have installed you can run `cordova plugin list`. Then you can run through and remove your plugins using `cordova plugin remove <plugin name from the previous command>`. Also to get the version of Ionic your project is using you can run `ionic info` from the directory your project is in.

[2016-06-20 15:29] Geoffrey-D commented on #6918
Hey @jgw96, I made an other test, the application of the repo is not working on an low-end phone (Wiko highway) but is working on an Samsung S6.

[2016-06-20 15:35] battistaar opened #6975 "scrollToTop() doesn't work on iOS in v2"
#### Short description of the problem:
Calling scrollToTop() on a Content element (or other classes that use ScrollView) doesn't scroll on iOS.

#### What behavior are you expecting?
The content to scroll up to the top.

**Steps to reproduce:**
1. Reference a Content element in a component
2. call element.scrollToTop()

**Other information:**
I think the problem is in [scroll-view.ts](https://gith

[2016-06-20 15:54] jgw96 commented on #6970
Hello, thanks for opening an issue with us! I was able to reproduce this and will be investigating more: http://plnkr.co/edit/7CPDrgPVSDQxk4G3Cepi?p=preview . Thanks for using Ionic!

[2016-06-20 15:56] MattDHill commented on #6857
Hi, thanks for the followup. I have upgraded to Beta 9 and am still experiencing the flashing for (1) the list items (2) the action sheet and also (3) the ion-select component.

Here is a clip of the flashing when clicking on a list item. This is the *exact* same code as before, just with Beta 9 installed.
https://drive.google.com/open?id=0ByUf-mXWw8KcdUFUcFotWmhub2c

I assume the flashing in all

[2016-06-20 15:57] basvdijk commented on #6970
Great! :)

[2016-06-20 16:01] danbucholtz commented on #6857
Hi @MattDHill,

Okay cool, I will take a look again.  I must have been doing something differently than you are in the video.

Thanks,
Dan

[2016-06-20 16:03] jgw96 commented on #6975
Hello thanks for reopening the issue!  Would you mind posting a plunker that gives a minimal example of this issue? Thanks for using Ionic!

[2016-06-20 16:04] antpuleo2586 opened #6976 "Occasional white screen on ios when navigating quickly via $state.go()"
#### Short description of the problem:

When I navigate between views, I occasionally get a white screen on ios. Usually I can reproduce this by tapping between views too quickly, but it also happens intermittently when navigating normally.
#### What behavior are you expecting?

The view to appear as normal.

**Steps to reproduce:**
1. Navigate from one view to another

**Other information:**
I ca

[2016-06-20 16:05] F1ow commented on #6857
Hi @MattDHill this occurs only if the viewport can scrolling!

[2016-06-20 16:06] jgw96 commented on #6857
This seems to be related: https://github.com/driftyco/ionic/issues/6943

[2016-06-20 16:09] chandanch opened #6977 "Ionic strips downs the attributes of an element in ionic-angular2.0.0.beta9"
There is more issue with the innerHTML attribute, angular strips down the id attribute if a particular innerHTML has been specified with ID, Here is the code snippet which gives more clarity on what I'm trying to explain:

**page.html**

.....
`<div id="outerdiv" [innerHTML]="htmlElement"></div>
`
**page.ts**

[code]
Run this on a browser and inspect on the dynamically generated paragraph element,

[2016-06-20 16:14] jgw96 commented on #6925
Hello all! This should be fixed with the latest version of the Ionic CLI. To update your ionic CLI you can simply run `npm install -g ionic@beta` (you will probably need sudo on osx/linux). Thanks for using Ionic!

[2016-06-20 16:14] #6925 closed

[2016-06-20 16:17] jgw96 commented on #6977
Hello, thanks for opening an issue with us! As this seems like an angular problem and not an Ionic issue i would suggest you open this issue on the angular repo. Thanks for using Ionic!

[2016-06-20 16:17] #6977 closed

[2016-06-20 16:19] chandanch commented on #6977
Ok, I will report on angular

[2016-06-20 16:19] jgw96 commented on #6897
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-20 16:20] jdnichollsc commented on #4803
+1

[2016-06-20 16:20] jgw96 commented on #6878
Hello all, this should be fixed with the latest version of the Ionic cli. To install the latest version of the ionic cli simply run `sudo npm install -g ionic@beta`. Thanks for using Ionic!

[2016-06-20 16:27] chandanch commented on #6971
Yes I have also observed this delay,  The delay is because Angular strips down some of the styles and removes all the conflicting id's if any.

[2016-06-20 16:28] jgw96 commented on #6664
Hello! While we appreciate you opening an issue with us i am going to close this issue and ask that you open a new one that has the issue template filled out please. Thanks for using Ionic!

[2016-06-20 16:28] #6664 closed

[2016-06-20 16:29] chandanch commented on #6946
I was able to resolve this issue Need to use bypassSecurityTrustStyle

[2016-06-20 16:29] #6946 closed

[2016-06-20 16:31] jgw96 commented on #6386
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-06-20 16:35] jgw96 commented on #6310
Hello @atorger, thanks for opening an issue with us. I am also having a hard time reproducing this issue. What version of ios are you running?

[2016-06-20 16:43] jgw96 commented on #5744
Hello all! Is this still an issue with the latest version of ionic? Thanks!

[2016-06-20 16:47] iveoteam commented on #1255
When can we expect this? This is a huge deal for me at the moment...

[2016-06-20 17:23] jeromeXoo commented on #6897
Hi,

Ok for a plunker, but the problem is not present in the browser.
Browser: OK (mouse wheel)
Android Device or emulator: KO: vertical scroll doesn't work, but swipe work

Here is a plunker with a simple list. But I can reproduce the problem with the virtual scroll.
http://plnkr.co/edit/bjpePx?p=preview

If I run the test page in a device, scroll doesn't work.

I can provide more information if

[2016-06-20 17:28] spanning commented on #284
Only happens with native scrolling (overflow-scrolling="true")

[2016-06-20 17:46] Will-Kim commented on #6968
The result is:

$ cordova plugin list
cordova-plugin-whitelist 1.2.3-dev "Whitelist"

I remembered there was a problem and the solution was "Whitelist installation".
And problem was fixed.
So now should I remove the "Whitelist" plugin?

[2016-06-20 17:52] Will-Kim commented on #6968
Sorry I skipped your last comment.
Definitely I ran all commands in my project folder.

$ ionic info

Your system information:

Cordova CLI: 6.2.0
Ionic Framework Version: 1.3.1
Ionic CLI Version: 1.7.15
Ionic App Lib Version: 0.7.2
ios-deploy version: 1.8.6
ios-sim version: 5.0.6
OS: Mac OS X El Capitan
Node Version: v4.3.2
Xcode version: Xcode 7.3.1 Build version 7D1014

[2016-06-20 17:59] jgw96 commented on #6968
Ahh ok, i think we are getting closer to a solution now. Keep the whitelist plugin installed for now if you don't mind. Do you have this line in your config.xml? `<access origin="*" />`. Also, are you calling any api's, using an iframe, or pulling anything from a cdn in your app?

[2016-06-20 18:09] jgw96 commented on #6726
Im pretty sure this is related: https://github.com/driftyco/ionic/issues/6897. If we could configure the hammer events to work vertically too like @danbucholtz mentioned this morning it should fix this issue.

[2016-06-20 18:27] galsch commented on #6878
Hi jgw96.

I have `sudo npm install -g ionic@beta` however still in Chrome Sourceampping works and in Safari we still have problm.

Attaching screenshot of Safari after the updating to the latest version of Ionic CLI:

<img width="1438" alt="screen shot 2016-06-20 at 9 24 55 pm" src="https://cloud.githubusercontent.com/assets/16936673/16205670/8349231e-372d-11e6-8bbe-25f5a3eeb4dc.png">

Pay attent

[2016-06-20 18:36] Will-Kim commented on #6968
Yes I have this <access origin="*"/> in config.xml.
My app is a simple chatting app so I communicate with socket.io server.
And I don't call any external apis. I don't use any additional external feature until now.
No iframe. No cdn.

Many thanks.

[2016-06-20 18:37] Ritzlgrmft opened #6978 "Opening a tabs page from another tabs page doubles the tab bar on iOS"
### Short description of the problem:
I have a app which contains pages with different tabs. If I want to navigate from a tab of the first tabs page to a tab from the second tabs page, the second tab bar gets inserted above the first tab bar - instead of replacing it.

This happens only with iOS, not with Android.

#### What behavior are you expecting?
Also on iOS, I expect the tab bar to get repl

[2016-06-20 18:40] jgw96 commented on #6968
@Will-Kim Sorry we haven't solved this yet, thanks for your patience! I would recommend debugging your app using the console in xcode while its running on your device (or the emulator) and see if there are any errors. The issue is most likely coming from the native side, so the xcode console should show this error.

[2016-06-20 18:42] jgw96 commented on #6978
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-20 19:03] Will-Kim commented on #6968
Dear Justin,

I already checked XCode IDE messages, but this didn't produce any error.
Can I know downgrade commands for Cordova, Ionic and Angular.js.
Cause my app was working well.

My final requests:
- How to know current version information of Cordova, Angular.js?
- How to downgrade to specific/previous version of Cordova, Ionic and
Angular.js.

Many thanks,

Will Kim.

*WILL KIM Smart App and

[2016-06-20 19:25] jgw96 commented on #6861
Hello @vijquick just to update you on what ive found. After some testing this looks to be a content projection issue. It looks like the `ion-grid` never even gets rendered, which points me towards content projection.

[2016-06-20 19:38] jgw96 commented on #6909
@adamdbradley after testing this on my Nexus 6 and Nexus 7 with just plain inputs i can confirm that there is no weird scrolling issues no matter where the inputs are on the page, or how many there are. My test app is just a plain blank starter with a few `ion-inputs` on it.

[2016-06-20 20:18] jgw96 commented on #6968
To find out what version of cordova you are running you can run `cordova --version`, for the latest version of ionic 1 (1.3.1) we are using Angular 1.5.3. I would not recommend changing the version of AngularJS you are using manually as each version of Ionic uses a specific version of Angular. To downgrade an npm dependency, like cordova, you simply run `npm install cordova@desiredversion`. As i c

[2016-06-20 20:18] #6968 closed

[2016-06-20 20:37] Ritzlgrmft commented on #6978
I just created a Plunker: http://plnkr.co/edit/Rd0hrscQinznTciLLpWk

[2016-06-20 21:01] zakton5 opened #6980 "ionic2 - bug(backdrop?) - on iOS, components with a backdrop (alert, modal, etc.) do not prevent user from scrolling content behind them."
#### Short description of the problem:

If an alert, etc is visible on iOS, I can attempt to slide the content behind the backdrop and will be able to do so. When this happens and the keyboard is open, I can no longer scroll the entire view any more. In other words, some of modal/select content is under the keyboard and I can't scroll it up.
#### What behavior are you expecting?

I expect to not b

[2016-06-20 21:18] jgw96 commented on #6978
Hello, thanks for posting the plunker! I have created another plunker that demonstrates the solution for this issue [here](http://plnkr.co/edit/s11inw2zUdy4XU9QW3A8?p=preview). If you check `app.ts` you will see that i have set the `tabSubPages` config to true. Thanks for using Ionic!

[2016-06-20 21:18] #6978 closed

[2016-06-20 21:28] jgw96 commented on #6861
Hello @vijquick, after discussing this with my teammates it seems to be partly by design, and partly an angular issue that this does not work. As a workaround for this i would recommend not using ion-grid and just use css to do your layout. Sorry that i could not give you a better answer, and thanks for using Ionic!

[2016-06-20 21:28] #6861 closed

[2016-06-20 21:39] cesar-oyarzun-m commented on #5386
@brandyscarney hey do you know if there is other way of doing chips in ionic? I need chips in my app but I'm using 1.3.1, I don't want to update just for this. Do you know where can I find documentation about how to use chips in ionic also?

[2016-06-20 21:47] jgw96 commented on #6947
Hello! Thanks for opening an issue with us! This is actually by design, but we are working on a way to make it where you can customize the functionality of the back button. Thanks for using Ionic!

[2016-06-20 21:47] #6947 closed

[2016-06-20 21:49] Will-Kim commented on #6968
Hi justin,

I just checked my Ionic Framework Version: 1.3.1.
My original Ionic Framework Version was 1.1.1.
So how can I downgrade 'Ionic Framework Version' into 1.1.1 from 1.3.1.

Thanks, if it is worked, I'll let you know the result.

Best regards,

[2016-06-20 21:58] jgw96 commented on #6968
@Will-Kim you can run `bower install ionic#1.1.1`. If you would like to read more about how to use bower you can read [this](http://blog.teamtreehouse.com/getting-started-bower) article. Thanks!

[2016-06-20 22:25] Will-Kim commented on #6968
@jgw96 ionic framework won't be downgraded.
bower install ionic#1.1.1 produced the following messages:
...
Unable to find a suitable version for angular-sanitize, please choose one by typing one of the numbers below:
    1) angular-sanitize#1.4.3 which resolved to 1.4.3 and is required by ionic#1.1.1, ionic#1.1.1
    2) angular-sanitize#1.5.3 which resolved to 1.5.3 and is required by ionic#1.3.1

[2016-06-20 22:28] Will-Kim commented on #6968
Ah, I solved. Thanks anyway.

[2016-06-20 22:45] manucorporat commented on #6950
@mpaland fixed! https://github.com/driftyco/ionic/commit/38ab17b0a8b91698b60d3f75420006a61b7500e1

[2016-06-20 22:45] #6950 closed

[2016-06-20 22:47] jgw96 commented on #6968
Awesome to hear that you solved it. Have fun using Ionic!

[2016-06-20 22:51] Will-Kim commented on #6968
@jgw96  I downgraded Ionic Framework into 1.1.1. But ionic info still show 1.3.1.
And iOS deployment result is same: nothing in the first page of my app. ;(

bower install result:
bower install ionic#1.1.1
bower cached        git://github.com/driftyco/ionic-bower.git#1.1.1
bower validate      1.1.1 against git://github.com/driftyco/ionic-bower.git#1.1.1
bower cached        https://github.com/drift

[2016-06-20 22:55] manucorporat opened #6981 "Sliding item: click options buttons under item"
While sliding an item, the item becomes `pointer-events: none` so users can click the option buttons behind accidentally.

This is a known bug, but it is not easy to reproduce, it was fixed by in this commit https://github.com/driftyco/ionic/commit/c28aa53478771f2ffcab191a049adbc9d777bd54#diff-396ddb8f5fdb3d116cbf4643211d3654L63

but this change created a more important bug: https://github.com/dri

[2016-06-20 23:11] jasonwaters commented on #6606
@danbucholtz this broke again on 2.0.0-beta9 😞

[2016-06-20 23:45] daveshirman commented on #6409
This has happened again in beta 9 if you override the the backbutton like so:

[code]

This doesn't close a modal window if one is open as expected. Instead, the page in the background navigates back as originally posted above.

[2016-06-20 23:57] daveshirman opened #6982 "Ionic 2: Modal window doesn't dismiss when overriding back button on Android device."
#### Short description of the problem:
If you override the back button e.g.:

[code]

If a modal window is open, it is not closed and instead the page in the background will navigate back.

#### What behavior are you expecting?
The line: `nav.canGoBack()` should pop a modal view, not the page underneath.

**Which Ionic Version?** 1.x or 2.x
2

**Run `ionic info` from terminal/cmd prompt:** (paste

[2016-06-21 01:26] aaronchen2k commented on #6962
Sorry, now can not reproduce this bug since I fixed it by replace  <ion-item> with <button ion-item> tag, I found the issue on iphone6 before.
Will ionic2 always support <button ion-item> for a long time? Thanks.

[2016-06-21 01:42] ghenry22 opened #6983 "ion-img with ion-avatar in VirtualScroll"
#### Short description of the problem:

Images are not displayed properly in a VirtualScroll list when using ion-img with type ion-avatar on an item.  The image is stretched out really large.

Screenshots attached
#### What behavior are you expecting?

The image is presented as a standard avatar style

**Steps to reproduce:**
1. Create a virtual scroll list.  Use ion-img for the image in an ion-av

[2016-06-21 01:52] ghenry22 opened #6984 "Scroll Acceleration and Pull to refresh with VirtualScroll List"
#### Short description of the problem:

This needs to be run on the iOS simulator or a real device to reproduce.

Create a virtualscroll list with several items
Add pull to refresh to the page

1) when scrolling fast the acceleration on the scroll is noticably slower than with regular ngfor based lists.

2) regardless of position in the list a swipe downwards will trigger the pull to refresh rathe

[2016-06-21 02:19] Will-Kim commented on #6968
@jgw96 solved means 'bower install ionic#1.1.1' solved..
Anyway, your helps are so helpful. Thanks

[2016-06-21 02:52] ghenry22 opened #6985 "VirtualScroll Component Docs ionic2"
component docs for virtualscroll on the ionic site still use old # based notation rather than let.

*virtualItem=#item

should be:

*virtualItem= let item

while the old still works now with a warning thrown to the console the docs should be updated.

[2016-06-21 04:05] Daforest commented on #6540
@danbucholtz Here is a video of the bug. I managed to get it into the "black view state" on the third attempt. [Video ](https://1drv.ms/v/s!AnyQuJjZwtNZgq9p-JmydZKxKRl_gA)

[2016-06-21 04:14] danbucholtz commented on #6540
Interesting... the shocking thing to me is you did it with the keyboard dismissed.  Our fix was making sure the time needed to close the keyboard was accounted for.  Can you do me one more favor...

Can you do me a favor and make another video of the same thing with the following added to your app.core.scss:

[code]

This will make our "click blocker" red and transparent.  The click blocker is act

[2016-06-21 04:18] jgw96 commented on #6985
Hello, thanks for opening an issue with us! This has actually already been fixed but has not been pushed to the public docs yet. Sorry about any confusion this caused, it should get pushed soon. Thanks for using Ionic!

[2016-06-21 04:18] #6985 closed

[2016-06-21 04:21] jgw96 commented on #6104
This issue is related: https://github.com/driftyco/ionic/issues/6984

[2016-06-21 04:36] ghenry22 commented on #6985
no problem, I just noticed it when looking at something else and thought it was worth mentioning in case it had been overlooked.

[2016-06-21 04:37] bittusinghintruder commented on #3362
@videmort  Thanks for the reply will try with this.

[2016-06-21 04:48] danbucholtz opened #6986 "Providers for improved testability"
In V2, there are some APIs that are called via static methods (`Modal.create()`, `Alert.create`, etc) and some APIs that use the `new` keyword (gestures, for example).

It would make apps more testable if we could create thin wrappers/factories that can be injected via constructor injection.

Some places where this would be good:

1.  Global variables like `window`.  A WindowProvider class w/ a ge

[2016-06-21 04:54] Daforest commented on #6540
@danbucholtz

Here is a video with the clickblocker active, [Video](https://1drv.ms/v/s!AnyQuJjZwtNZgq9qy_t0zDNKQhlGEw)

[2016-06-21 04:57] danbucholtz commented on #6540
Thanks, I'll take a look again now that I see how you're doing it.  I Appreciate your help!

Thanks,
Dan

[2016-06-21 06:45] mpaland commented on #6983
I had a similar issue with ```ion-img```
Problem are the "min-..." in app.ios.css
[code]
So ```ion-img``` always fills out the entire space.
Is that really wanted?

[2016-06-21 07:20] ghenry22 commented on #6983
I imagine it is supposed to be bound by the surrounding element (ie the ion-avatar, ion-thumbnail etc) but due to a bug in this version it's not.

I have just dropped ion-img out of my code for now as it feels like it needs a bit of love before it's ready for primetime.  I'll keep testing it out each version update if there is anything relevant in the change log until it's ready.

[2016-06-21 07:49] shaikhspear16 opened #6987 "StatusBar comes over Navbar when using Navbar as a common component - IOS only"
I have a navbar in my application which consists a logout button throughout the application (except login screen)
As this behavior remains constant I decided to create a common component for Nav Bar as follows
[code]

referring it into all the pages as

`<navbar-selector [titleImage]="titleImage" [pageTitle]="pageTitle" ></navbar-selector>`

My component:

[code]

The problem here is that when eve

[2016-06-21 07:54] battistaar commented on #6971
I realized that using Content component works fine (even in nested Content instances).

In my project I was trying to add a method to the virtual-scroll component to scroll the list to the top using the _content field of the class. It worked fine on browser but not on iOS, making the changes I have written above it works properly both on browser and iOS.

I do not know why this different behavior,

[2016-06-21 08:45] ghenry22 opened #6989 "Ionic2 searchbar. searchbar.value not present in beta9"
#### Short description of the problem:
Follow the docs from the ionic2 components page to create a very simple searchbar example.  $event is passed into the search function.

Within the javascript search function the value in the searchbar is extracted from the passed event with searchbar.value

This worked perfectly up to beta8.  In beta9 the value property does not exist at the top level of the

[2016-06-21 09:12] matmica opened #6990 "Ionic2 not supporting the usage of multiple platform-href attributes in Index.html"
#### Short description of the problem:
Ionic not allowing the multiple usage of the below tags in Index.html:
- ios-href
- md-href
- wp-href

#### What behavior are you expecting?
I would like Ionic to allow the inclusion of multiple instances of stylesheets using the aforementioned tags. One could argue towards the scope of these tags as being a platform stylesheet however, if they're used for im

[2016-06-21 09:54] EugeneSnihovsky opened #6992 "Custom component nav menu does not work time to time"
#### Short description of the problem:
I create a navbar component with ionic directives inside (**ion-navbar + ion-menu**).
For some reason navbar menu disappear after navigation. If navigate to other page - menu appears again. For next navigation menu disappear and so constantly all the time.
![Screen example](https://pp.vk.me/c636221/v636221750/111a3/XzWPaMkU46s.jpg)
#### What behavior are you

[2016-06-21 12:18] Zenro45 commented on #6971
I would love to give you a plunker link, however, the nature of the issue is strictly with ```
<ion-datetime displayFormat="MMM DD, YYYY"></ion-datetime>``` and my version of Ionic. It seems to work fine it Plunker but not in my project.

[2016-06-21 13:11] rejeeshrajan10 commented on #5035
Hi,
I am working on ionic 2.0. how can i reduce the width in left navigation.

[2016-06-21 13:22] gorancn opened #6995 "Ionic 2 - Only iOS : Click on ion-list item is not handled after page is popped from navigation stack on iOS"
I have a list of items as first page and when one item is clicked then page with item details is pushed to navigation stack. When user click

#### What behavior are you expecting?

**Steps to reproduce:**
1.
2.
3.

[code]

**Other information:** (e.g. stacktraces, related issues, suggestions how to fix, stackoverflow links, forum links, etc)

**Which Ionic Version?** 1.x or 2.x

#### Plunker that

[2016-06-21 13:22] gorancn opened #6996 "Ionic 2 - Only iOS : Click on ion-list item is not handled after page is popped from navigation stack"
#### Short description of the problem:
I have a list of items as first page and when one item is clicked then page with item details is pushed to navigation stack. When user goes back from details page to list view and again click on an item in the list in some cases(if he clicked within 1-2sec after list view is shown) click on an item is not handled/fired.

This issue is bit more noticeable afte

[2016-06-21 14:09] #6995 closed

[2016-06-21 14:12] jgw96 commented on #6992
Hello, thanks for opening an issue with us! Would you mind removing your "hack" and then seeing if you still get the same issue? Thanks for using Ionic!

[2016-06-21 14:21] jgw96 commented on #6996
Hello, thanks for opening an issue with us! So the reason this is happening is because our click blocker blocks any interaction until a transition is completely done. We are constantly tweaking this, and actually we are making some changes with this as we speak for another issue. I would urge you to try again in our next release and see if it has gotten more responsive for you. Thanks for using Io

[2016-06-21 14:21] #6996 closed

[2016-06-21 14:23] jgw96 commented on #6989
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-21 14:35] jgw96 commented on #6987
Hello! Thanks for opening an issue with us. This is happening because of something called content projection, which at a high level basically means the component is not being inserted into the dom where you think it should be. The good news is that this should be fixed by a layout refactor we are currently working on and should be in the next release. I will close this issue for now, but if It com

[2016-06-21 14:35] #6987 closed

[2016-06-21 14:39] jgw96 commented on #6954
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-06-21 14:39] #6954 closed

[2016-06-21 14:39] EugeneSnihovsky commented on #6992
@jgw96, Hi. I checked the code without "hacks" and still have the same issue. Nothing changed. I update my repository branch for show this issue without "hack".

[2016-06-21 14:40] jgw96 commented on #6945
Hello all! As it seems it has been a while since there was any activity on this issue i will be closing it for now. Feel free to comment if you are still running into this issue. Thanks for using Ionic!

[2016-06-21 14:40] #6945 closed

[2016-06-21 14:55] brandyscarney commented on #6989
This is an issue. I changed it to pass the event instead of the searchbar itself because I thought it would be more valuable to get the mouse/click event, since we can use `ViewChild` to get the `Searchbar` itself if desired.

Docs do need to be updated, and we need to add this to the breaking changes for beta 9.

[2016-06-21 15:01] flavordaaave opened #6997 "bug: Modal can't be dismissed after Loading"
**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>Steps to reproduce:
1) Create a modal and present it using `nav.presend(MyModal)`
2) Show Loading Component while Modal is open: `nav.present(myLoading)`
3) Dismiss loading using `myLoading.dismiss()`
4) Try to close modal using: `this.vie

[2016-06-21 15:01] battistaar commented on #6975
I realized that using Content component works fine (even in nested Content instances).

In my project I was trying to add a method to the virtual-scroll component to scroll the list to the top using the `_content` field of the class. It worked fine on browser but not on iOS, making the changes I have written above it works properly both on browser and iOS.

I do not know why this different behavio

[2016-06-21 15:04] glentonvr opened #6998 "Ionic 2 Alert Warning"
I get the following warning when I open up an Alert - **ngSwitchWhen is deprecated and will be removed. Use *ngSwitchCase instead**

The issue is that as a result of this warning it seems none of the event listeners are working and I also cannot get the Alert to dismiss programmatically. If anyone could help that would be really awesome! Please find my code below:

[code]

Here is some additional

[2016-06-21 15:26] jgw96 commented on #6997
Hello, thanks for opening an issue with us. I made a plunker [here](https://plnkr.co/edit/HXeLc1?p=preview) that shows the correct way to do this. As you can see im taking advantage of the `onDismiss()` event of the loading component to close the modal after the loading component has completely closed. Thanks for using Ionic!

[2016-06-21 15:26] #6997 closed

[2016-06-21 15:28] jgw96 commented on #6989
@brandyscarney ahh ok, thanks for that info. Ill make an issue on the site repo to update the docs.

[2016-06-21 15:42] perrygovier commented on #1803
Testing another thing
drifttyco/ionic@f6fe7d7

[2016-06-21 15:47] paulogr commented on #6696
Great to see you guys will implement that on beta 10!!

Chat use case is a big one!

[2016-06-21 16:01] jgw96 commented on #6992
@EugeneSnihovsky After looking at this some more this seems to be related to content projection. One i do some more testing i will get back to you with some more details.

[2016-06-21 16:05] jgw96 commented on #6998
Hello, thanks for opening an issue with us! Would you mind looking in your node_modules and seeing which version of Angular 2 you have installed? You should be able to see in the package.json of Angular 2. Thanks for using Ionic!

[2016-06-21 16:21] glentonvr commented on #6998
Apologies for excluding this info. Thanks for your assistance
[code]

[2016-06-21 16:22] codeFire97 commented on #6242
this code does not work for left side, help please
`<ion-item-sliding #item>
        <ion-item >

          <h2>codeFire</h2>

                <ion-note item-right  >
                  9:10 AM <ion-icon name="arrow-forward"></ion-icon>
                </ion-note>
                <p>test</p>
                <p>test</p>
                <p>test</p>

              </ion-item>
              <ion-item-o

[2016-06-21 16:34] jgw96 commented on #6998
Would you mind changing all the `@angular` dependencies to `2.0.0-rc.1` instead of `^2.0.0-rc.1`, deleting your `node_modules` folder and then running `npm install`? Since we used to use carets in our package.json it would install the newest version of Angular (Angular 2.0.0-rc.2) instead of the one specified. This means that the Angular version you have installed is actually not the one we built

[2016-06-21 16:46] jgw96 commented on #6962
No problem, glad the issue was fixed and yes, Ionic 2 will be supported for a long time as it is the newest and latest version of Ionic. Thanks for using Ionic!

[2016-06-21 16:46] #6962 closed

[2016-06-21 16:56] EugeneSnihovsky commented on #6992
@jgw96, I am new at ionic2 and angular2, but I take look a deep in page view with chrome and found that ionic sometimes not add **class="show-menu"** (and others attributes, but class is important for this case) for **ion-menu** element. If I add this class to broken menu manually - menu append in view.
## Normal menu
![Normal menu](https://pp.vk.me/c636221/v636221090/fdff/a8QmTqiLuI8.jpg)
## Brok

[2016-06-21 17:06] jgw96 commented on #6992
If you use these components separately (without wrapping them in your own component) do you still get the same issue?

[2016-06-21 17:07] glentonvr commented on #6998
After following your instructions I now do not get the warning mentioned. That said, the console.log() is still not triggering when I hit the alert buttons. Could this be due to me running rc.1?

How would I be able to upgrade my current project to the latest version?

[2016-06-21 17:15] jgw96 commented on #6998
@glentonvr would you be able to make a plunker that shows that issue please? Also, you should not upgrade your Angular dependencies yourself as each release we make is built to work specifically with a certain version of Angular 2. While you may be able to upgrade the version of Angular and not run into any issues, as you can see from the issue we just fixed it can cause issues. When ionic 2 beta.

[2016-06-21 17:34] danbucholtz opened #6999 "Virtual Scroll Not Filling Entire Space"
In V2, when I use virtual scroll in the [ionic-image-gallery-app](https://github.com/driftyco/ionic-image-gallery-app/blob/master/app/pages/gallery/GalleryPage.ts#L23), it does not fill all of the provided space with "cells".

See the screenshot for a visual reference.

Basically, the virtual-scroll container has access to the entire screen.  It is not utilizing it by default.  Once I scroll, it d

[2016-06-21 17:43] glentonvr commented on #6998
After making the example for you I worked out that the alert is in fact working as expected now. The problem now is that I am opening the alert from an action sheet button event with "this.openAlert()" it stops listening to events. If I open the alert from a button it works normally.

I will need to scratch around and figure out why that is. Many thanks for all your assistance.

[2016-06-21 17:43] #6998 closed

[2016-06-21 18:20] jasonwaters opened #7000 "Modal in 2.0.0-beta.9 no longer adds page class name to ion-page element"
The element has a class attribute with a generated classname like "user-login" if the page class is named "UserLogin". This is no longer the case for modals.

see #6606

[2016-06-21 18:26] mlqmarkos12 commented on #6853
Thank you!

[2016-06-21 18:26] JWesorick commented on #1811
💀

[2016-06-21 18:30] jgw96 commented on #7000
Hello, thanks for opening an issue with us! Would you be able to provide a plunker that demonstrates this issue? Thanks for using Ionic!

[2016-06-21 18:53] jgw96 commented on #3714
Hello all! I am going to close this as as it being by design. Thanks for using Ionic!

[2016-06-21 18:53] #3714 closed

[2016-06-21 18:58] jgw96 commented on #3852
Hello all! Thanks for opening an issue with us! I am going to close this one for now as their seems to be a workaround that @0x1ad2 posted. Thanks for using Ionic!

[2016-06-21 18:58] #3852 closed

[2016-06-21 19:01] jgw96 commented on #4057
Hello all, thanks for opening an issue with us! As i cannot seem to reproduce this on any of my Android devices (Nexus 6 running latest Android N dev preview, Nexus 7 2013 running Android 6.0.1 and a Moto X 2014 running Android 5.1.1) i will be closing this issue for now. If anybody could post a minimal example that i can use to reproduce this issue i will happily reopen. Thanks for using Ionic!

[2016-06-21 19:01] #4057 closed

[2016-06-21 19:03] VinceOPS commented on #4057
Hi @jgw96, juste download the app "Happnd" which was presented on the ionic blog recently... There is one screen with a not-white background, and as far as I remember, I saw the issue on this one !

[2016-06-21 19:11] jgw96 commented on #4142
Hello all! I will be closing this for now as i am not seeing any performance issues on any of my devices, including my old Moto X 2014 and Nexus 7 2013. Thanks for using Ionic!

[2016-06-21 19:11] #4142 closed

[2016-06-21 19:18] Bouzmine opened #7001 "Ion-input placeholder flickers on scroll in iOS"
#### Short description of the problem:

I have form in a modal and when I select an input and scrolling is needed, the placeholder flickers.
#### What behavior are you expecting?

The placeholder not to flicker.

**Steps to reproduce:**
1. Put a long form in a modal
2. Tap an input

**Other information:** (e.g. stacktraces, related issues, suggestions how to fix, stackoverflow links, forum links,

[2016-06-21 19:23] RonCan commented on #6055
@jgw96 With beta-7 I'm still facing the issue

[2016-06-21 19:24] jasonwaters commented on #7000
Hi @jgw96, I took a closer look and here's what I found:

In ionic-angular@2.0.0-beta.8, there is an `ion-page` element with the corresponding css classname of the javascript component.  I use this to add custom styles like so:

![screen_shot_2016-06-21_at_1_12_17_pm](https://cloud.githubusercontent.com/assets/427213/16243108/f1deb3c2-37b2-11e6-8754-6e433def2620.png)

But in beta.9, the `ion-page`

[2016-06-21 19:25] Bouzmine opened #7002 "Enhancement: Use all available space for title on iOS"
#### Short description of the problem:
The title are often truncated when there's space on the right for them.

![capture d ecran 2016-06-21 a 15 21 57](https://cloud.githubusercontent.com/assets/15067923/16243211/212ade56-37c4-11e6-8679-97909f3c3a00.png)

#### What behavior are you expecting?
The title to fill the whole space (minus the margin).

**Other information:** (e.g. stacktraces, related

[2016-06-21 19:41] cfjedimaster opened #7003 "The v2 Blank template needs to be trimmed"
#### Short description of the problem:
Typically, a "Blank" template will contain the bare minimum code required for a project. But the Blank template for Ionic V2 contains two pages. One page makes sense, but two pages is kind of defeating the purpose of having it be 'blank'.

#### What behavior are you expecting?

A simpler, more, well, blank, application. I have to remove a page now and remove

[2016-06-21 19:54] EugeneSnihovsky commented on #6992
@jgw96, I remove top-navbar component and put content of ion-menu with ion-navbar to each page template, but still get an issue.
You can see it with commits:
1. commit a98217888b2f2977f0463133a8a8363b8b6eb627 - separated components in each template.
2. commit 4441f51ce80a5796f6fe684cf2e392a742757413 - ion component wrapped into top-navbar.

P.S: wrapping menu into a component is very important for

[2016-06-21 20:02] jgw96 commented on #7000
Thanks for the info! If im not thinking wrong this was part of the change when we added inset modals on bigger screens. I will discuss this with my teammates and see what they think.

[2016-06-21 20:19] Sndan commented on #5698
I am having the same issue . after I generated a new page it was working . however after adding all my params and everything else . nav.push stop firing !

[2016-06-21 20:25] jgw96 commented on #6055
@RonCan Would you mind updating to the latest release (beta.9) and testing again please? Thanks for using Ionic! There were a couple of changes when we released beta.8, which you can read about [here](https://github.com/driftyco/ionic/blob/2.0/CHANGELOG.md) so you will need to do these changes for your app to work with beta.9.

[2016-06-21 20:28] zanemcca commented on #4849
I tried @leschirmeur solution but it did not work for me.
@mlynch Can this issue please be reopened because it is definitely not fixed. This makes for a very poor UX which should give it some priority but it seems to be ignored.

I think it is likely related to this [issue](https://github.com/driftyco/ionic-plugin-keyboard/issues/168) in `ionic-plugin-keyboard`.

[2016-06-21 20:49] brandyscarney commented on #7002
Thanks for the issue! This is something we plan on handling in this issue: https://github.com/driftyco/ionic/issues/5036. :smile:

[2016-06-21 20:49] #7002 closed

[2016-06-21 21:04] Chuckv01 commented on #5052
The input highlighting does not fix in an ion-item with a left floated image. It overruns the width of the input and adds a border under the entire item, instead of just the input area.

<img width="312" alt="screen shot 2016-06-21 at 2 00 16 pm" src="https://cloud.githubusercontent.com/assets/1181306/16246162/dc4c77f0-37b8-11e6-9514-90146c896082.png">

[2016-06-21 21:21] 560889223 commented on #6540
I'm also seeing this issue, inside mobile Safari. The repro steps are also related to searchbar and back button.

[2016-06-21 21:33] mlynch commented on #7003
Hey @cfjedimaster, just cleaned up the blank starter for ya! Should be a lot simpler now. 🍻

https://github.com/driftyco/ionic2-starter-blank

[2016-06-21 21:33] #7003 closed

[2016-06-21 21:46] fmsouza commented on #6999
I'm also having this issue in a view with 2 virtual scrolls: recent searches and available lines. When I first load it, it gives me a blank space in the beginning of the list. If I click in the `search` button in the navbar, the recents pane is hidden and the 'available lines' VS becomes ok. When I toggle search back and the first scroll appears again, the 'available lines' VS stays ok.

![untitle